Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    biome:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: biome format --write --staged || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: rustfmt {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: taplo format {staged_files} || true
      stage_fixed: true

H-6324: Trim oxlint config by leveraging correctness category defaults
  libs/@hashintel/petrinaut/.oxlintrc.json
Due: biome

H-6324: Add CLAUDE.md for petrinaut
  libs/@hashintel/petrinaut/CLAUDE.md
Due: markdownlint, biome

H-6324: Migrate petrinaut-website to oxlint
  apps/petrinaut-website/.oxlintrc.json
  apps/petrinaut-website/eslint.config.js
  apps/petrinaut-website/package.json
  apps/petrinaut-website/turbo.json
  yarn.lock
Due: biome, yarn

H-6324: Aggressively trim oxlint config for TS-only codebase
  libs/@hashintel/petrinaut/.oxlintrc.json
Due: biome

H-6324: Fix PR review findings
  apps/petrinaut-website/vite.config.ts
  libs/@hashintel/petrinaut/src/components/menu.tsx
  libs/@hashintel/petrinaut/src/hooks/use-stable-callback.ts
  libs/@hashintel/petrinaut/vite.config.ts
  yarn.lock
Due: biome

H-6324: Restore svgo 3.3.3 in yarn.lock
  yarn.lock
Due: none

H-6324: Add required `id` to MenuGroup for stable React keys
  libs/@hashintel/petrinaut/src/components/menu.tsx
Due: biome

Remove id length restriction to Petrinaut
  apps/petrinaut-website/.oxlintrc.json
  libs/@hashintel/petrinaut/.oxlintrc.json
Due: biome

FE-514: Add SymPy compilation diagnostics and export option
  libs/@hashintel/petrinaut/src/lsp/lib/checker.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/compile-to-sympy.test.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/compile-to-sympy.ts
  libs/@hashintel/petrinaut/src/views/Editor/editor-view.tsx
  libs/@hashintel/petrinaut/src/views/Editor/lib/export-sympy.ts
Due: biome

FE-514: Support Boolean() and Number() global calls in SymPy compiler
  libs/@hashintel/petrinaut/src/simulation/simulator/compile-to-sympy.test.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/compile-to-sympy.ts
Due: biome

FE-514: Support array literal expressions in SymPy compiler
  libs/@hashintel/petrinaut/src/simulation/simulator/compile-to-sympy.test.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/compile-to-sympy.ts
Due: biome

FE-514: Reject var declarations and standalone expressions in SymPy compiler
  libs/@hashintel/petrinaut/src/simulation/simulator/compile-to-sympy.test.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/compile-to-sympy.ts
Due: biome

FE-514: Support .map() as Python list comprehension in SymPy compiler
  libs/@hashintel/petrinaut/src/simulation/simulator/compile-to-sympy.test.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/compile-to-sympy.ts
Due: biome

feat: move bridge -> orchestrator
  Cargo.lock
  libs/@local/hashql/eval/Cargo.toml
  libs/@local/hashql/eval/src/lib.rs
  libs/@local/hashql/eval/src/orchestrator/codec/decode.rs
  libs/@local/hashql/eval/src/orchestrator/codec/encode.rs
  libs/@local/hashql/eval/src/orchestrator/codec/mod.rs
  libs/@local/hashql/eval/src/orchestrator/error.rs
  libs/@local/hashql/eval/src/orchestrator/mod.rs
  libs/@local/hashql/eval/src/orchestrator/partial.rs
  libs/@local/hashql/eval/src/orchestrator/postgres.rs
Due: rust, toml

feat: move bridge -> orchestrator
  libs/@local/hashql/eval/src/orchestrator/codec/decode.rs
  libs/@local/hashql/eval/src/orchestrator/codec/mod.rs
  libs/@local/hashql/eval/src/orchestrator/error.rs
  libs/@local/hashql/eval/src/orchestrator/partial.rs
  libs/@local/hashql/eval/src/orchestrator/postgres.rs
  libs/@local/hashql/mir/src/interpret/runtime.rs
  libs/@local/hashql/mir/src/interpret/value/struct.rs
  libs/@local/hashql/mir/src/pass/execution/island/graph/mod.rs
Due: rust

feat: organize the runtime a bit more
  libs/@local/hashql/eval/src/orchestrator/mod.rs
  libs/@local/hashql/mir/src/interpret/locals.rs
  libs/@local/hashql/mir/src/interpret/runtime.rs
  libs/@local/hashql/mir/src/interpret/suspension/graph_read.rs
  libs/@local/hashql/mir/src/interpret/suspension/mod.rs
  libs/@local/hashql/mir/src/interpret/value/mod.rs
Due: rust

feat: organize the runtime a bit more
  libs/@local/hashql/mir/src/interpret/PLAN.md
  libs/@local/hashql/mir/src/interpret/runtime.rs
Due: markdownlint, biome, rust

feat: checkpoint
  libs/@local/hashql/eval/src/orchestrator/mod.rs
  libs/@local/hashql/mir/src/interpret/mod.rs
  libs/@local/hashql/mir/src/interpret/runtime.rs
  libs/@local/hashql/mir/src/interpret/tests.rs
Due: rust

feat: checkpoint
  libs/@local/hashql/eval/src/orchestrator/mod.rs
  libs/@local/hashql/mir/src/interpret/PLAN.md
  libs/@local/hashql/mir/src/interpret/tests.rs
Due: markdownlint, biome, rust

feat: checkpoint
  libs/@local/hashql/mir/src/interpret/value/struct.rs
Due: rust

feat: checkpoint
  libs/@local/hashql/compiletest/src/suite/eval_postgres.rs
  libs/@local/hashql/diagnostics/src/diagnostic/label.rs
  libs/@local/hashql/mir/benches/interpret.rs
  libs/@local/hashql/mir/package.json
  libs/@local/hashql/mir/src/interpret/locals.rs
  libs/@local/hashql/mir/src/interpret/runtime.rs
  libs/@local/hashql/mir/src/interpret/suspension/mod.rs
  libs/@local/hashql/mir/src/interpret/tests.rs
  libs/@local/hashql/mir/src/interpret/value/struct.rs
Due: biome, yarn, rust

feat: organize the runtime a bit more
  libs/@local/hashql/diagnostics/src/diagnostic/label.rs
  libs/@local/hashql/eval/src/orchestrator/codec/decode.rs
  libs/@local/hashql/eval/src/orchestrator/partial.rs
  libs/@local/hashql/eval/src/orchestrator/postgres.rs
  libs/@local/hashql/eval/src/postgres/filter/tests.rs
  libs/@local/hashql/mir/src/interpret/error.rs
  libs/@local/hashql/mir/src/interpret/runtime.rs
  libs/@local/hashql/mir/src/interpret/tests.rs
  libs/@local/hashql/mir/src/interpret/value/struct.rs
  libs/@local/hashql/mir/src/pass/execution/traversal/entity.rs
  libs/@local/hashql/mir/tests/ui/pass/execution/entity_uuid_equality.snap
  libs/@local/hashql/mir/tests/ui/pass/execution/statement_placement/interpret/eq_opaque_entity_uuid.snap
  libs/@local/hashql/mir/tests/ui/pass/execution/statement_placement/postgres/eq_opaque_entity_uuid.snap
Due: rust

FE-514: Add SymPy → JavaScript compilation pipeline via Pyodide
  libs/@hashintel/petrinaut/package.json
  libs/@hashintel/petrinaut/src/simulation/simulator/build-simulation.test.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/build-simulation.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/compile-to-sympy.test.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/compile-to-sympy.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/compile-via-sympy.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/compute-next-frame.test.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/pyodide-manager.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/sympy-codegen.ts
  libs/@hashintel/petrinaut/src/simulation/worker/messages.ts
  libs/@hashintel/petrinaut/src/simulation/worker/simulation.worker.test.ts
  libs/@hashintel/petrinaut/src/simulation/worker/simulation.worker.ts
  libs/@hashintel/petrinaut/src/simulation/worker/use-simulation-worker.ts
  libs/@hashintel/petrinaut/src/state/editor-provider.tsx
  libs/@hashintel/petrinaut/vite.config.ts
  yarn.lock
Due: biome, yarn

feat: finish orchestrator first version
  libs/@local/hashql/eval/src/orchestrator/codec/encode.rs
  libs/@local/hashql/eval/src/orchestrator/mod.rs
  libs/@local/hashql/eval/src/orchestrator/tail.rs
  libs/@local/hashql/mir/benches/interpret.rs
  libs/@local/hashql/mir/src/interpret/inputs.rs
  libs/@local/hashql/mir/src/interpret/mod.rs
  libs/@local/hashql/mir/src/interpret/runtime.rs
  libs/@local/hashql/mir/src/interpret/tests.rs
Due: rust

feat: finish orchestrator first version
  libs/@local/hashql/mir/src/interpret/tests.rs
Due: rust

feat: feat: move out suspension requests to own module
  libs/@local/hashql/eval/src/orchestrator/codec/decode.rs
  libs/@local/hashql/eval/src/orchestrator/codec/encode.rs
  libs/@local/hashql/eval/src/orchestrator/error.rs
  libs/@local/hashql/eval/src/orchestrator/mod.rs
  libs/@local/hashql/eval/src/orchestrator/partial.rs
  libs/@local/hashql/eval/src/orchestrator/postgres.rs
  libs/@local/hashql/eval/src/orchestrator/request/graph_read.rs
  libs/@local/hashql/eval/src/orchestrator/request/mod.rs
Due: rust

chore: clippy
  libs/@local/hashql/eval/src/lib.rs
  libs/@local/hashql/eval/src/orchestrator/codec/encode.rs
  libs/@local/hashql/eval/src/orchestrator/codec/mod.rs
  libs/@local/hashql/eval/src/orchestrator/error.rs
  libs/@local/hashql/eval/src/orchestrator/mod.rs
  libs/@local/hashql/eval/src/orchestrator/partial.rs
  libs/@local/hashql/eval/src/orchestrator/request/graph_read.rs
  libs/@local/hashql/eval/src/orchestrator/tail.rs
Due: rust

Add back fix:eslint script
  apps/petrinaut-website/package.json
  libs/@hashintel/petrinaut/package.json
Due: biome, yarn

Remove unused dependencies from Petrinaut
  libs/@hashintel/petrinaut/package.json
  yarn.lock
Due: biome, yarn

Upgrade Petrinaut dev tooling to latest versions
  libs/@hashintel/petrinaut/package.json
  libs/@hashintel/petrinaut/vite.config.ts
  yarn.lock
Due: biome, yarn

Update yarn.lock
  yarn.lock
Due: none

Update @typescript/native-preview to 7.0.0-dev.20260315.1
  apps/petrinaut-website/package.json
  libs/@hashintel/petrinaut/package.json
  yarn.lock
Due: biome, yarn

Upgrade petrinaut-website to vite 8 stable and plugin-react v6
  apps/petrinaut-website/package.json
  apps/petrinaut-website/vite.config.ts
  yarn.lock
Due: biome, yarn

Promote all warn-level oxlint rules to error
  apps/petrinaut-website/.oxlintrc.json
  apps/petrinaut-website/package.json
  libs/@hashintel/petrinaut/.oxlintrc.json
  libs/@hashintel/petrinaut/package.json
Due: biome, yarn

Remove --report-unused-disable-directives-severity=error from fix:eslint
  apps/petrinaut-website/package.json
  libs/@hashintel/petrinaut/package.json
Due: biome, yarn

feat: split out into more manageable functions
  libs/@local/hashql/eval/src/orchestrator/error.rs
  libs/@local/hashql/eval/src/orchestrator/postgres.rs
  libs/@local/hashql/eval/src/orchestrator/request/graph_read.rs
Due: rust

Clean up unused eslint-disable directives and add missing oxlint rules
  libs/@hashintel/petrinaut/.oxlintrc.json
  libs/@hashintel/petrinaut/src/lib/hsl-color.ts
  libs/@hashintel/petrinaut/src/lsp/worker/language-server.worker.ts
  libs/@hashintel/petrinaut/src/playback/provider.tsx
  libs/@hashintel/petrinaut/src/simulation/simulator/compile-user-code.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/compile-visualizer.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/compute-possible-transition.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/enumerate-weighted-markings.ts
  libs/@hashintel/petrinaut/src/simulation/worker/simulation.worker.ts
  libs/@hashintel/petrinaut/src/views/Editor/panels/BottomPanel/subviews/simulation-settings.tsx
  libs/@hashintel/petrinaut/src/views/Editor/panels/PropertiesPanel/transition-properties/subviews/transition-results/subview.tsx
  libs/@hashintel/petrinaut/src/views/SDCPN/sdcpn-view.tsx
Due: biome

feat: split out into more manageable functions
  libs/@local/hashql/eval/src/orchestrator/mod.rs
Due: rust

chore: orchestrator docs
  libs/@local/hashql/eval/src/orchestrator/codec/decode.rs
  libs/@local/hashql/eval/src/orchestrator/codec/encode.rs
  libs/@local/hashql/eval/src/orchestrator/codec/mod.rs
  libs/@local/hashql/eval/src/orchestrator/mod.rs
  libs/@local/hashql/eval/src/orchestrator/postgres.rs
  libs/@local/hashql/eval/src/orchestrator/request/graph_read.rs
  libs/@local/hashql/eval/src/orchestrator/request/mod.rs
  libs/@local/hashql/eval/src/orchestrator/tail.rs
Due: rust

Enable oxlint type-aware linting for Petrinaut
  apps/petrinaut-website/.oxlintrc.json
  apps/petrinaut-website/package.json
  libs/@hashintel/petrinaut/.oxlintrc.json
  libs/@hashintel/petrinaut/package.json
  libs/@hashintel/petrinaut/src/playback/provider.tsx
  libs/@hashintel/petrinaut/src/simulation/simulator/compile-user-code.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/compile-visualizer.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/compute-possible-transition.ts
  libs/@hashintel/petrinaut/src/views/SDCPN/components/viewport-controls.tsx
  libs/@hashintel/petrinaut/src/views/SDCPN/sdcpn-view.tsx
  yarn.lock
Due: biome, yarn
