Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

markdownlint:
  tags:
  - frontend
  - style
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

biome:
  tags:
  - frontend
  - style
  run: biome format --write --staged || true
  stage_fixed: true

yarn:
  tags:
  - frontend
  - style
  run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
  stage_fixed: true

sqlfluff:
  tags:
  - backend
  - style
  run: sqlfluff fix {staged_files} || true
  stage_fixed: true

rust:
  tags:
  - backend
  - style
  run: rustfmt {staged_files} || true
  stage_fixed: true

toml:
  tags:
  - backend
  - style
  run: taplo format {staged_files} || true
  stage_fixed: true

new world map. dashboard fullscreen, item collapse. update example charts
  .env
  apps/hash-frontend/public/assets/world-map-natural-earth-ii.svg
  apps/hash-frontend/public/assets/world-map.svg
  apps/hash-frontend/src/pages/dashboard/[dashboard-id].page.tsx
  apps/hash-frontend/src/pages/dashboard/[dashboard-id].page/dashboard-grid.tsx
  apps/hash-frontend/src/pages/dashboard/[dashboard-id].page/dashboard-grid/dashboard-item.tsx
  apps/hash-frontend/src/pages/dashboard/[dashboard-id].page/dashboard-grid/dashboard-item/dashboard-item-content.tsx
  apps/hash-frontend/src/pages/dashboard/[dashboard-id].page/dashboard-grid/dashboard-item/dashboard-item-content/world-map-renderer.tsx
  apps/hash-frontend/src/pages/dashboard/[dashboard-id].page/dashboard-header.tsx
  apps/hash-frontend/src/pages/dashboard/[dashboard-id].page/dummy-data.ts
  apps/hash-frontend/src/pages/dashboard/[dashboard-id].page/dummy.json
  apps/hash-frontend/src/pages/dashboard/[dashboard-id].page/generate-dashboard-items.ts
Due: biome

dashboard UI improvements
  apps/hash-frontend/src/pages/dashboard/[dashboard-id].page.tsx
  apps/hash-frontend/src/pages/dashboard/[dashboard-id].page/dashboard-grid.tsx
  apps/hash-frontend/src/pages/dashboard/[dashboard-id].page/dashboard-grid/dashboard-item.tsx
  apps/hash-frontend/src/pages/dashboard/[dashboard-id].page/dashboard-grid/dashboard-item/dashboard-item-content.tsx
  apps/hash-frontend/src/pages/dashboard/[dashboard-id].page/dashboard-grid/dashboard-item/dashboard-item-content/chart-renderer.tsx
  apps/hash-frontend/src/pages/dashboard/[dashboard-id].page/dashboard-grid/dashboard-item/dashboard-item-content/flight-board.tsx
  apps/hash-frontend/src/pages/dashboard/[dashboard-id].page/dashboard-grid/dashboard-item/dashboard-item-content/world-map-renderer.tsx
  apps/hash-frontend/src/pages/dashboard/[dashboard-id].page/dashboard-item-scripts.ts
  apps/hash-frontend/src/pages/dashboard/[dashboard-id].page/generate-dashboard-items.ts
  apps/hash-frontend/src/pages/dashboard/[dashboard-id].page/run-data-script.ts
  apps/hash-frontend/src/pages/dashboard/shared/types.ts
  apps/hash-frontend/src/pages/shared/entity/entity-editor/links-section/outgoing-links-section.tsx
  apps/hash-integration-worker/src/shared/heartbeats.ts
  libs/@local/hash-isomorphic-utils/src/dashboard-types.ts
Due: biome

Enable frontend Next.js memory optimizations
  apps/hash-frontend/next.config.js
  apps/hash-frontend/vercel-build.sh
Due: biome

FE-498: Apply Next.js build memory optimizations (#8504)
  apps/hash-frontend/next.config.js
  apps/hash-frontend/vercel-build.sh
Due: biome

SRE-573: Fix mise installation in Docker builds
  apps/hash-ai-worker-ts/docker/Dockerfile
  apps/hash-graph/docker/Dockerfile
  apps/hash-integration-worker/docker/Dockerfile
  infra/docker/api/prod/Dockerfile
  infra/docker/frontend/prod/Dockerfile
Due: none

Update README with running locally instruction updates (#8503)
  README.md
Due: markdownlint, biome

BE-423: Add JWT authentication and actor resolution for Graph admin API (#8500)
  Cargo.lock
  Cargo.toml
  apps/hash-graph/Cargo.toml
  apps/hash-graph/src/subcommand/admin_server.rs
  libs/@local/graph/api/Cargo.toml
  libs/@local/graph/api/src/rest/admin.rs
  libs/@local/graph/api/src/rest/jwt.rs
  libs/@local/graph/api/src/rest/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/postgres-store/tests/deletion/drafts.rs
  libs/@local/graph/postgres-store/tests/deletion/erase.rs
  libs/@local/graph/postgres-store/tests/deletion/links.rs
  libs/@local/graph/postgres-store/tests/deletion/purge.rs
  libs/@local/graph/postgres-store/tests/deletion/validation.rs
  libs/@local/graph/store/src/account/mod.rs
  libs/@local/graph/store/src/entity/store.rs
  libs/@local/graph/type-fetcher/src/store.rs
  tests/graph/benches/graph/scenario/stages/reset_db.rs
  tests/graph/integration/postgres/lib.rs
Due: rust, toml

temporarily loosen CSP. heartbeat in get historical flights
  apps/hash-frontend/src/lib/csp.ts
  apps/hash-integration-worker/src/activities/flow-activities/aviation-activities/get-historical-flight-arrivals-action.ts
  apps/hash-integration-worker/src/workflows/run-flow-workflow.ts
Due: biome

BE-445: Document admin API module and link to operational runbook
  libs/@local/graph/api/src/rest/admin.rs
Due: rust

BE-445: Disable bulk destructive endpoints when JWT is configured
  libs/@local/graph/api/src/rest/admin.rs
Due: rust

BE-445: Add doc-tested examples and cross-references for admin endpoints
  libs/@local/graph/api/src/rest/admin.rs
  libs/@local/graph/store/src/entity/store.rs
Due: rust

Add TopBar component and move sidebar controls into it
  libs/@hashintel/petrinaut/src/views/Editor/components/TopBar/top-bar.tsx
  libs/@hashintel/petrinaut/src/views/Editor/editor-view.tsx
  libs/@hashintel/petrinaut/src/views/Editor/panels/LeftSideBar/panel.tsx
Due: biome

Update z-index for LeftSideBar panel to improve layering
  libs/@hashintel/petrinaut/src/views/Editor/panels/LeftSideBar/panel.tsx
Due: biome

Migrate panel styles from inline style to Panda CSS
  libs/@hashintel/petrinaut/src/components/glass-panel.tsx
  libs/@hashintel/petrinaut/src/constants/ui.ts
  libs/@hashintel/petrinaut/src/views/Editor/panels/BottomPanel/panel.tsx
  libs/@hashintel/petrinaut/src/views/Editor/panels/LeftSideBar/panel.tsx
  libs/@hashintel/petrinaut/src/views/Editor/panels/PropertiesPanel/panel.tsx
Due: biome

Extract shared ToolbarDivider component from BottomBar
  libs/@hashintel/petrinaut/src/views/Editor/components/BottomBar/bottom-bar.tsx
  libs/@hashintel/petrinaut/src/views/Editor/components/BottomBar/simulation-controls.tsx
  libs/@hashintel/petrinaut/src/views/Editor/components/BottomBar/toolbar-button.tsx
  libs/@hashintel/petrinaut/src/views/Editor/components/BottomBar/toolbar-divider.tsx
Due: biome

Restyle ModeSelector to match Figma segmented control design
  libs/@hashintel/petrinaut/src/views/Editor/components/TopBar/top-bar.tsx
  libs/@hashintel/petrinaut/src/views/Editor/components/mode-selector.tsx
  libs/@hashintel/petrinaut/src/views/Editor/editor-view.tsx
Due: biome

Replace Place/Transition toolbar icons with plus variants
  libs/@hashintel/petrinaut/src/views/Editor/components/BottomBar/toolbar-modes.tsx
Due: biome

Fix panel box-sizing and adjust z-index/padding placement
  libs/@hashintel/petrinaut/src/views/Editor/panels/BottomPanel/panel.tsx
  libs/@hashintel/petrinaut/src/views/Editor/panels/PropertiesPanel/panel.tsx
Due: biome

Remove center/padding on list views
  libs/@hashintel/petrinaut/src/views/Editor/subviews/differential-equations-list.tsx
  libs/@hashintel/petrinaut/src/views/Editor/subviews/nodes-list.tsx
  libs/@hashintel/petrinaut/src/views/Editor/subviews/parameters-list.tsx
  libs/@hashintel/petrinaut/src/views/Editor/subviews/types-list.tsx
Due: biome

Migrate Place/Transition nodes to Figma card layout
  libs/@hashintel/petrinaut/src/core/types/sdcpn.ts
  libs/@hashintel/petrinaut/src/examples/broken-machines.ts
  libs/@hashintel/petrinaut/src/examples/satellites.ts
  libs/@hashintel/petrinaut/src/examples/sir-model.ts
  libs/@hashintel/petrinaut/src/examples/supply-chain-stochastic.ts
  libs/@hashintel/petrinaut/src/examples/supply-chain.ts
  libs/@hashintel/petrinaut/src/lib/calculate-graph-layout.ts
  libs/@hashintel/petrinaut/src/old-formats/pre-2025-11-28/convert.ts
  libs/@hashintel/petrinaut/src/views/Editor/lib/export-sdcpn.ts
  libs/@hashintel/petrinaut/src/views/Editor/lib/remove-visual-info.ts
  libs/@hashintel/petrinaut/src/views/SDCPN/components/node-card.tsx
  libs/@hashintel/petrinaut/src/views/SDCPN/components/place-node.tsx
  libs/@hashintel/petrinaut/src/views/SDCPN/components/transition-node.tsx
  libs/@hashintel/petrinaut/src/views/SDCPN/hooks/use-sdcpn-to-react-flow.ts
  libs/@hashintel/petrinaut/src/views/SDCPN/sdcpn-view.tsx
  libs/@hashintel/petrinaut/src/views/SDCPN/styles/styling.ts
Due: biome

Use full-screen overlay during resize drag
  libs/@hashintel/petrinaut/src/components/glass-panel.tsx
  libs/@hashintel/petrinaut/src/resize/use-resize-drag.ts
Due: biome

Split sub-view container into organized horizontal/vertical subdirectories
  libs/@hashintel/petrinaut/src/components/sub-view/horizontal/horizontal-tabs-container.tsx
  libs/@hashintel/petrinaut/src/components/sub-view/vertical-sub-views-container.tsx
  libs/@hashintel/petrinaut/src/components/sub-view/vertical/fixed-height-sub-views-container.tsx
  libs/@hashintel/petrinaut/src/components/sub-view/vertical/proportional-sub-views-container.styles.ts
  libs/@hashintel/petrinaut/src/components/sub-view/vertical/proportional-sub-views-container.tsx
  libs/@hashintel/petrinaut/src/components/sub-view/vertical/resize-handle.tsx
  libs/@hashintel/petrinaut/src/components/sub-view/vertical/sub-view-header.tsx
  libs/@hashintel/petrinaut/src/components/sub-view/vertical/use-resizable.ts
  libs/@hashintel/petrinaut/src/views/Editor/panels/BottomPanel/panel.tsx
  libs/@hashintel/petrinaut/src/views/Editor/panels/LeftSideBar/panel.tsx
  libs/@hashintel/petrinaut/src/views/Editor/panels/PropertiesPanel/place-properties.tsx
Due: biome

Unify resize logic into shared src/resize module
  libs/@hashintel/petrinaut/src/components/glass-panel.tsx
  libs/@hashintel/petrinaut/src/components/sub-view/vertical/fixed-height-sub-views-container.tsx
  libs/@hashintel/petrinaut/src/components/sub-view/vertical/use-resizable.ts
  libs/@hashintel/petrinaut/src/resize/resize-handle.tsx
  libs/@hashintel/petrinaut/src/resize/use-resizable.ts
  libs/@hashintel/petrinaut/src/resize/use-resize-drag.ts
  libs/@hashintel/petrinaut/src/views/Editor/panels/PropertiesPanel/initial-state-editor.tsx
Due: biome

Restyle GlassPanel resize handle with Panda CSS cva
  libs/@hashintel/petrinaut/src/components/glass-panel.tsx
  libs/@hashintel/petrinaut/src/constants/ui.ts
Due: biome

Use shared useResizeDrag hook in proportional sub-views container
  libs/@hashintel/petrinaut/src/components/sub-view/vertical/proportional-sub-views-container.tsx
Due: biome

Remove resizable stuff from initial-state-editor
  libs/@hashintel/petrinaut/src/views/Editor/panels/PropertiesPanel/initial-state-editor.tsx
  libs/@hashintel/petrinaut/src/views/Editor/subviews/place-initial-state.tsx
Due: biome

Use JetBrains Mono font in Monaco code editors
  libs/@hashintel/petrinaut/package.json
  libs/@hashintel/petrinaut/src/monaco/code-editor.tsx
  yarn.lock
Due: biome, yarn

Adjust node anchor point and replace arc bezier with custom path
  libs/@hashintel/petrinaut/src/views/SDCPN/components/arc.tsx
  libs/@hashintel/petrinaut/src/views/SDCPN/components/node-card.tsx
  libs/@hashintel/petrinaut/src/views/SDCPN/sdcpn-view.tsx
  libs/@hashintel/petrinaut/src/views/SDCPN/styles/styling.ts
Due: biome

Move back use-resizable and resize-handle
  libs/@hashintel/petrinaut/src/components/sub-view/vertical/fixed-height-sub-views-container.tsx
  libs/@hashintel/petrinaut/src/components/sub-view/vertical/resize-handle.tsx
  libs/@hashintel/petrinaut/src/components/sub-view/vertical/use-resizable.ts
Due: biome

Update GlassPanel styles: change background color to neutral.s00 and remove padding from resize handle
  libs/@hashintel/petrinaut/src/components/glass-panel.tsx
Due: biome

Add spacer panel to stack collapsed sub-views at the top
  libs/@hashintel/petrinaut/src/components/sub-view/vertical/proportional-sub-views-container.tsx
Due: biome

Animate sub-view collapse/expand using CSS transition on flex-grow
  libs/@hashintel/petrinaut/src/components/sub-view/vertical/proportional-sub-views-container.styles.ts
Due: biome

Replace custom resize logic with react-resizable-panels
  libs/@hashintel/petrinaut/package.json
  libs/@hashintel/petrinaut/src/components/sub-view/types.ts
  libs/@hashintel/petrinaut/src/components/sub-view/vertical/fixed-height-sub-views-container.tsx
  libs/@hashintel/petrinaut/src/components/sub-view/vertical/proportional-sub-views-container.styles.ts
  libs/@hashintel/petrinaut/src/components/sub-view/vertical/proportional-sub-views-container.tsx
  libs/@hashintel/petrinaut/src/constants/ui.ts
  libs/@hashintel/petrinaut/src/views/Editor/panels/LeftSideBar/panel.tsx
  libs/@hashintel/petrinaut/src/views/Editor/panels/PropertiesPanel/panel.tsx
  libs/@hashintel/petrinaut/src/views/Editor/panels/PropertiesPanel/place-properties.tsx
  yarn.lock
Due: biome, yarn

Remove wrapper div from LeftSideBar and refine sub-view styles
  libs/@hashintel/petrinaut/src/components/sub-view/vertical/proportional-sub-views-container.styles.ts
  libs/@hashintel/petrinaut/src/components/sub-view/vertical/sub-view-header.tsx
  libs/@hashintel/petrinaut/src/views/Editor/panels/LeftSideBar/panel.tsx
Due: biome

Fix LeftSidePanel boxSizing
  libs/@hashintel/petrinaut/src/views/Editor/panels/LeftSideBar/panel.tsx
Due: biome

Remove unused resize handle and resizable hook components
  libs/@hashintel/petrinaut/src/components/sub-view/vertical/resize-handle.tsx
  libs/@hashintel/petrinaut/src/components/sub-view/vertical/use-resizable.ts
Due: biome

Restrict sub-view collapsing to header click only
  libs/@hashintel/petrinaut/src/components/sub-view/vertical/proportional-sub-views-container.tsx
Due: biome

Refactor LeftSideBar styles: rename outerContainerStyle to glassPanelBaseStyle, simplify style properties, and adjust layout for improved clarity and consistency.
  libs/@hashintel/petrinaut/src/views/Editor/panels/LeftSideBar/panel.tsx
Due: biome

Refactor PlaceNode and TransitionNode styles: update borderRadius to use 'full' and adjust background colors for improved consistency and visual appeal.
  libs/@hashintel/petrinaut/src/views/SDCPN/components/place-node.tsx
  libs/@hashintel/petrinaut/src/views/SDCPN/components/transition-node.tsx
Due: biome

Path conditions:
  markdownlint: any of: *.md
  biome: any of: *.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}
  yarn: any of: {*/package.json, package.json}
  sqlfluff: any of: *.sql
  rust: any of: *.rs
  toml: any of: *.toml
