Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

markdownlint:
  tags:
  - frontend
  - style
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

biome:
  tags:
  - frontend
  - style
  run: biome format --write --staged || true
  stage_fixed: true

yarn:
  tags:
  - frontend
  - style
  run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
  stage_fixed: true

sqlfluff:
  tags:
  - backend
  - style
  run: sqlfluff fix {staged_files} || true
  stage_fixed: true

rust:
  tags:
  - backend
  - style
  run: rustfmt {staged_files} || true
  stage_fixed: true

toml:
  tags:
  - backend
  - style
  run: taplo format {staged_files} || true
  stage_fixed: true

FE-1228: Use ESM for the Petrinaut PostCSS config
  libs/@hashintel/petrinaut/postcss.config.mjs
Due: biome

H-6720: Two-tone breadcrumb colors + inline styles that survive FE-1228
  apps/hash-frontend/src/pages/processes/[uuid]/embed.page/embed-content.tsx
Due: biome

Update apps/hash-frontend/src/pages/dashboard/hooks/use-dashboard-item-config.ts
  apps/hash-frontend/src/pages/dashboard/hooks/use-dashboard-item-config.ts
Due: biome

Better node transitions when animating in
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/compact-node-layer.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/network-graph.stories.tsx
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/network-graph.tsx
Due: biome

FE-1221: Simplify optimization logging
  apps/hash-api/src/petrinaut-optimizer/create-petrinaut-optimization-handler.test.ts
  apps/hash-api/src/petrinaut-optimizer/create-petrinaut-optimization-handler.ts
  apps/petrinaut-opt/README.md
  apps/petrinaut-opt/src/optimization_api.py
  apps/petrinaut-opt/src/petrinaut_client.py
  apps/petrinaut-opt/src/petrinaut_optimizer.py
  apps/petrinaut-opt/tests/test_optimization_api.py
  apps/petrinaut-opt/tests/test_petrinaut_client.py
  apps/petrinaut-opt/tests/test_petrinaut_optimizer.py
  apps/petrinaut-website/src/main/app/optimization-demo/petrinaut-opt-optimization.ts
  libs/@hashintel/petrinaut-cli/OPTIMIZATION_INTEGRATION.md
  libs/@hashintel/petrinaut-cli/src/cli.ts
  libs/@hashintel/petrinaut-cli/src/commands/stdio.ts
  libs/@hashintel/petrinaut-cli/src/commands/transports.test.ts
  libs/@hashintel/petrinaut-cli/src/runtime/diagnostics.ts
  libs/@hashintel/petrinaut-cli/src/runtime/protocol.ts
Due: markdownlint, biome

Animate nodes out
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/compact-node-layer.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/network-graph.stories.tsx
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/network-graph.tsx
Due: biome

Better popover details for network graph
  apps/hash-frontend/src/pages/shared/entities-visualizer/network-graph-view.tsx
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/network-graph-tiling.stories.tsx
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/network-graph-util.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/network-graph.tsx
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/node-density.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/tiling/use-get-viewport-nodes.ts
  libs/@hashintel/ds-components/src/main.ts
Due: biome

Better property displays in network graph popover
  apps/hash-frontend/src/pages/shared/entities-visualizer.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/network-graph-view.tsx
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/located-entity-popover.tsx
  libs/@hashintel/ds-components/src/main.ts
Due: biome

feat: code review + clean up
  libs/@local/graph/atlas/benches/projector_backend.rs
  libs/@local/graph/atlas/src/bitset/mod.rs
  libs/@local/graph/atlas/src/bitset/tests.rs
  libs/@local/graph/atlas/src/dataset/mod.rs
  libs/@local/graph/atlas/src/dataset/postgres/card.rs
  libs/@local/graph/atlas/src/dataset/postgres/mod.rs
  libs/@local/graph/atlas/src/disjoint/mod.rs
  libs/@local/graph/atlas/src/file/attraction/mod.rs
  libs/@local/graph/atlas/src/file/classifier/mod.rs
  libs/@local/graph/atlas/src/file/generation/tests.rs
  libs/@local/graph/atlas/src/file/identity/mod.rs
  libs/@local/graph/atlas/src/file/landmark/mod.rs
  libs/@local/graph/atlas/src/file/morton/mod.rs
  libs/@local/graph/atlas/src/file/policy/mod.rs
  libs/@local/graph/atlas/src/file/postings/mod.rs
  libs/@local/graph/atlas/src/file/postings/tests.rs
  libs/@local/graph/atlas/src/file/postings/write.rs
  libs/@local/graph/atlas/src/file/quad/mod.rs
  libs/@local/graph/atlas/src/file/quad/read.rs
  libs/@local/graph/atlas/src/file/region/mod.rs
  libs/@local/graph/atlas/src/file/salt/metadata.rs
  libs/@local/graph/atlas/src/file/salt/tests.rs
  libs/@local/graph/atlas/src/lib.rs
  libs/@local/graph/atlas/src/morton/mod.rs
  libs/@local/graph/atlas/src/random/mod.rs
  libs/@local/graph/atlas/src/salt/embedding/external/tests.rs
  libs/@local/graph/atlas/src/salt/fit/annotations/mod.rs
  libs/@local/graph/atlas/src/salt/fit/compute/lod.rs
  libs/@local/graph/atlas/src/salt/fit/compute/mod.rs
  libs/@local/graph/atlas/src/salt/fit/compute/policy.rs
  libs/@local/graph/atlas/src/salt/fit/echo.rs
  libs/@local/graph/atlas/src/salt/fit/error.rs
  libs/@local/graph/atlas/src/salt/fit/ingest.rs
  libs/@local/graph/atlas/src/salt/fit/mod.rs
  libs/@local/graph/atlas/src/salt/fit/tests.rs
  libs/@local/graph/atlas/src/salt/knn/descent.rs
Due: rust

FE-1221: Simplify logger correlation
  apps/hash-api/src/petrinaut-optimizer/create-petrinaut-optimization-handler.ts
  apps/hash-api/src/petrinaut-optimizer/setup-petrinaut-optimizer-handler.ts
  apps/petrinaut-opt/src/optimization_api.py
  apps/petrinaut-opt/tests/test_optimization_api.py
Due: biome

FE-1221: Preserve terminal outcomes through disconnects
  apps/hash-api/src/petrinaut-optimizer/create-petrinaut-optimization-handler.test.ts
  apps/hash-api/src/petrinaut-optimizer/create-petrinaut-optimization-handler.ts
Due: biome

BE-702: Add pre-order expression walkers to the AST
  libs/@local/graph/postgres-store/src/store/postgres/query/ast/expression/function.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/ast/expression/mod.rs
Due: rust

BE-702: Compile sorted and limited statements as fetch-keys-then-hydrate
  libs/@local/graph/postgres-store/src/store/postgres/query/compile/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/compile/tests.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/mod.rs
Due: rust

BE-702: Opt the entity read path into fetch-keys-then-hydrate
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/compile/mod.rs
Due: rust

BE-702: Split the keys-first shape from its materialized fence
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/compile/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/compile/tests.rs
Due: rust

BE-702: Harden the keys-first fallbacks and pin embeddings to single-pass
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/pool.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/compile/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/compile/tests.rs
Due: rust

Remove link to fallback reason
  libs/@local/graph/postgres-store/src/store/postgres/query/compile/mod.rs
Due: rust

tracing optimisation and cli calls in optimizer via the python optimisation api
  apps/petrinaut-opt/src/optimization_api.py
  apps/petrinaut-opt/src/petrinaut_optimizer.py
Due: none

added opentelemetry to uv lock and pyproject
  apps/petrinaut-opt/pyproject.toml
  apps/petrinaut-opt/uv.lock
Due: toml

updated readme for opentelemetry observability
  apps/petrinaut-opt/README.md
Due: markdownlint, biome

claude-generated opentelemetry in python
  apps/petrinaut-opt/src/telemetry.py
Due: none

updated opentelemetry python packages
  apps/petrinaut-opt/pyproject.toml
  apps/petrinaut-opt/uv.lock
Due: toml

changed open telemetry env vars per H-5069
  apps/petrinaut-opt/README.md
  apps/petrinaut-opt/src/telemetry.py
Due: markdownlint, biome

address cursor review "trial spans break request traces"
  apps/petrinaut-opt/README.md
  apps/petrinaut-opt/src/petrinaut_optimizer.py
Due: markdownlint, biome

addressed cursor comment "pruned trials marked as errors"
  apps/petrinaut-opt/src/petrinaut_optimizer.py
Due: none

address cursor comment "telemetry never flushed on shutdown"
  apps/petrinaut-opt/src/optimization_api.py
  apps/petrinaut-opt/src/telemetry.py
  apps/petrinaut-opt/tests/test_telemetry.py
Due: none

Better z-index for graph viz
  apps/hash-frontend/panda.config.ts
  apps/hash-frontend/src/pages/shared/entities-visualizer/header/add-filters-menu.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/header/pill-styles.ts
  apps/hash-frontend/src/pages/shared/entities-visualizer/header/property-filter-pill.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/header/type-color-selector.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/header/type-filter-pill.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/header/web-filter-pill.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/network-graph-search.tsx
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/located-entity-popover.tsx
  libs/@hashintel/ds-components/src/components/Popover/popover.tsx
Due: biome

SRE-810: Set up OTLP for `petrinaut-opt` (#9091)
  apps/petrinaut-opt/README.md
  apps/petrinaut-opt/pyproject.toml
  apps/petrinaut-opt/src/optimization_api.py
  apps/petrinaut-opt/src/petrinaut_optimizer.py
  apps/petrinaut-opt/src/telemetry.py
  apps/petrinaut-opt/tests/test_telemetry.py
  apps/petrinaut-opt/uv.lock
Due: markdownlint, biome, toml

Harden OTEL bootstrap cleanup
  apps/petrinaut-opt/src/telemetry.py
  apps/petrinaut-opt/tests/test_telemetry.py
Due: none

Add better link detail popovers
  apps/hash-frontend/src/pages/shared/entities-visualizer/network-graph-view.tsx
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/located-entity-popover.tsx
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/network-graph-tiling.stories.tsx
  libs/@hashintel/ds-components/src/main.ts
Due: biome

Keep telemetry active across app lifespans
  apps/petrinaut-opt/src/optimization_api.py
  apps/petrinaut-opt/src/telemetry.py
  apps/petrinaut-opt/tests/test_telemetry.py
Due: none

feat: checkpoint
  libs/@local/graph/atlas/docs/wire.md
  libs/@local/graph/atlas/fixtures/wire/g11-backfilled-tile.json
  libs/@local/graph/atlas/fixtures/wire/g11-backfilled-tile.saltile
  libs/@local/graph/atlas/src/salt/lod/bench.rs
  libs/@local/graph/atlas/src/salt/projector/loss/energy.rs
  libs/@local/graph/atlas/src/salt/wire/fixtures.rs
  libs/@local/graph/atlas/src/salt/wire/tests.rs
  libs/@local/graph/atlas/src/salt/wire/tile.rs
  libs/@local/graph/atlas/src/serve/tests.rs
  libs/@local/graph/atlas/src/serve/tile.rs
Due: markdownlint, biome, rust

Better graph-viz popover properties
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/located-entity-popover.tsx
Due: biome

Harden Petrinaut telemetry setup
  apps/petrinaut-opt/README.md
  apps/petrinaut-opt/src/petrinaut_optimizer.py
  apps/petrinaut-opt/src/telemetry.py
  apps/petrinaut-opt/tests/test_petrinaut_optimizer.py
  apps/petrinaut-opt/tests/test_telemetry.py
Due: markdownlint, biome

feat: review checkpoint
  libs/@local/graph/atlas/docs/wire.md
  libs/@local/graph/atlas/src/salt/landmark/layout.rs
  libs/@local/graph/atlas/src/salt/lod/bench.rs
  libs/@local/graph/atlas/src/salt/projector/loss/energy.rs
  libs/@local/graph/atlas/src/salt/projector/loss/mod.rs
  libs/@local/graph/atlas/src/salt/projector/mod.rs
  libs/@local/graph/atlas/src/salt/projector/sample/mod.rs
  libs/@local/graph/atlas/src/salt/projector/train/batch.rs
  libs/@local/graph/atlas/src/salt/projector/train/mod.rs
  libs/@local/graph/atlas/src/salt/projector/verdict/calibrate/mod.rs
  libs/@local/graph/atlas/src/salt/quality/clump.rs
  libs/@local/graph/atlas/src/salt/quality/probe/mod.rs
  libs/@local/graph/atlas/src/salt/quality/report.rs
  libs/@local/graph/atlas/src/salt/quality/tests.rs
  libs/@local/graph/atlas/src/salt/relation/tests.rs
  libs/@local/graph/atlas/src/salt/runner/error.rs
  libs/@local/graph/atlas/src/salt/runner/mod.rs
  libs/@local/graph/atlas/src/salt/runner/tests.rs
  libs/@local/graph/atlas/src/salt/semantic/bandwidth.rs
  libs/@local/graph/atlas/src/salt/semantic/mod.rs
  libs/@local/graph/atlas/src/serve/codec.rs
  libs/@local/graph/atlas/src/serve/seal.rs
  libs/@local/graph/atlas/src/serve/tests.rs
  tools/atlas-tools/atlas_tools/battery/merge_tree.py
  tools/atlas-tools/tests/battery/test_merge_tree.py
Due: markdownlint, biome, rust

Path conditions:
  markdownlint: any of: *.md
  biome: any of: *.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}
  yarn: any of: {*/package.json, package.json}
  sqlfluff: any of: *.sql
  rust: any of: *.rs
  toml: any of: *.toml
