Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    biome:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: biome format --write --staged || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: rustfmt {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: taplo format {staged_files} || true
      stage_fixed: true

Drop unused Brunch dependencies and declare the website's test dependencies
  apps/brunch-agent/package.json
  apps/petrinaut-website/package.json
  libs/@hashintel/brunch-agent/packages/core/package.json
  yarn.lock
Due: biome, yarn

Consolidate duplicated Brunch build config, browser-call handling and status pages
  apps/brunch-agent/src/app.ts
  apps/brunch-agent/src/conversation/browser-call-rendezvous.ts
  apps/brunch-agent/src/conversation/net-changes.ts
  apps/brunch-agent/src/conversation/why.ts
  apps/brunch-agent/src/http/browser-calls.ts
  apps/brunch-agent/src/http/worked-models.ts
  apps/petrinaut-website/src/main/app/brunch-demo/brunch-actual-mode-route.tsx
  apps/petrinaut-website/src/main/app/brunch-demo/brunch-petrinaut.tsx
  apps/petrinaut-website/src/routes/-not-found-page.tsx
  apps/petrinaut-website/src/shared/status-page.tsx
  libs/@hashintel/brunch-agent/library-vite-config.ts
  libs/@hashintel/brunch-agent/packages/core/turbo.json
  libs/@hashintel/brunch-agent/packages/core/vite.config.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/turbo.json
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/vite.config.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/turbo.json
  libs/@hashintel/brunch-agent/packages/transport-aisdk/vite.config.ts
Due: biome

Keep test-only helpers out of Brunch package entry points
  apps/brunch-agent/src/evaluations/persona/browser-turn.ts
  apps/petrinaut-website/src/examples/catalog-metadata.ts
  apps/petrinaut-website/src/examples/catalog.ts
  apps/petrinaut-website/src/examples/example-search.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/documents/document-repository.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-turn-controller.ts
  libs/@hashintel/brunch-agent/packages/core/src/client-tools.ts
  libs/@hashintel/brunch-agent/packages/core/src/conversation/ask-tool-contract.ts
  libs/@hashintel/brunch-agent/packages/core/src/index.ts
  libs/@hashintel/brunch-agent/packages/core/src/runbook-ir.ts
  libs/@hashintel/brunch-agent/packages/core/src/workpiece-tools.ts
  libs/@hashintel/brunch-agent/packages/core/src/workpiece.ts
  libs/@hashintel/brunch-agent/packages/core/test/client-tools.test.ts
  libs/@hashintel/brunch-agent/packages/core/test/update-workpiece.test.ts
  libs/@hashintel/brunch-agent/packages/core/test/workpiece.test.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/src/contextual-user-message.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/src/index.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/test/chat-transport.test.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/test/client-tool-history.test.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/test/client-tool-result.test.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/test/live-tool-stream.test.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/test/ui-stream.test.ts
Due: biome

Add a Brunch-scoped knip and fallow reduction analysis script
  libs/@hashintel/brunch-agent/scripts/reduction-analysis/fallow.json
  libs/@hashintel/brunch-agent/scripts/reduction-analysis/knip.json
  libs/@hashintel/brunch-agent/scripts/reduction-analysis/run.sh
  libs/@hashintel/brunch-agent/scripts/reduction-analysis/summarize.mts
Due: biome

Trim website Brunch integration tests and name files after the suite that runs them
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-draft-experiment-interactive-tool.authority.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/live-pending-tool.integration.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.canonical-state-change.integration.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.draft-panel.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/production-voice-availability.integration.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/voice-history-continuity.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/workpiece-refusal-presentation.integration.test.tsx
  apps/petrinaut-website/src/main/app/shared/petrinaut-jsdom.ts
  apps/petrinaut-website/src/main/app/voice-interview/buffered-admission.integration.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-browser-tools.test.tsx
  apps/petrinaut-website/src/main/app/voice-interview/voice-preview.test.ts
  apps/petrinaut-website/turbo.json
  apps/petrinaut-website/vitest.config.ts
  apps/petrinaut-website/vitest.integration.config.ts
Due: biome

Move the shared Brunch library build config into the core package so pruned CI builds keep it
  libs/@hashintel/brunch-agent/packages/core/library-vite-config.ts
  libs/@hashintel/brunch-agent/packages/core/turbo.json
  libs/@hashintel/brunch-agent/packages/core/vite.config.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/turbo.json
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/vite.config.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/turbo.json
  libs/@hashintel/brunch-agent/packages/transport-aisdk/vite.config.ts
Due: biome

Let query_workpiece share proposals except with its net read, refuse stale reads, and compare browser bindings key-order-independently
  apps/brunch-agent/src/agents/chat-agent/agent.ts
  apps/brunch-agent/src/app.ts
  apps/brunch-agent/src/conversation/browser-call-rendezvous.ts
  apps/brunch-agent/src/conversation/why.ts
  apps/brunch-agent/src/http/browser-calls.ts
  apps/brunch-agent/src/provider-admission.ts
  apps/brunch-agent/test/browser-call-rendezvous.test.ts
  apps/brunch-agent/test/net-changes.test.ts
  apps/brunch-agent/test/provider-admission.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/in-band-browser-call.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/in-band-browser-call.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/browser-metadata.ts
Due: biome

Delete Brunch's Stock-over-Flue evaluation mode and its awaiting-client canonical tools
  apps/brunch-agent/README.md
  apps/brunch-agent/package.json
  apps/brunch-agent/src/agents/chat-agent/agent.ts
  apps/brunch-agent/src/agents/chat-agent/tool-catalogue.ts
  apps/brunch-agent/test/admission-voice-evidence.ts
  apps/brunch-agent/test/browser-witness/stock-over-flue.ts
  apps/brunch-agent/test/chat-agent-mode.test.ts
  apps/brunch-agent/test/integration/admission-controls.integration.ts
  apps/brunch-agent/test/integration/admission-controls.test.ts
  apps/petrinaut-website/docs/task-dependencies.json
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-conversation-id.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-conversation-id.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-preview-config.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-preview-config.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.canonical-state-change.integration.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.draft-panel.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/src/main/app/voice-interview/buffered-admission.integration.test.ts
  apps/petrinaut-website/turbo.json
  libs/@hashintel/brunch-agent/ARCHITECTURE.md
  libs/@hashintel/brunch-agent/docs/refactoring/manual-tour-and-review-prompt.md
  libs/@hashintel/brunch-agent/packages/core/src/constants.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/construction-mode.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/flue.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/index.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/initial-data.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/tools/petrinaut-construction.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/test/construction-tools.test.ts
Due: markdownlint, biome, yarn

Settle the experiment draft in band like the canonical browser tools and derive browser tool names from the catalogue
  apps/brunch-agent/src/agents/chat-agent/agent.ts
  apps/brunch-agent/src/agents/chat-agent/context-projection.ts
  apps/brunch-agent/src/agents/chat-agent/tool-catalogue.ts
  apps/brunch-agent/src/app.ts
  apps/brunch-agent/src/conversation/browser-call-rendezvous.ts
  apps/brunch-agent/src/provider-admission.ts
  apps/brunch-agent/test/provider-admission.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-draft-experiment-interactive-tool.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/in-band-browser-call.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.draft-panel.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  libs/@hashintel/brunch-agent/ARCHITECTURE.md
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/flue.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/tools/draft-experiment.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/tools/petrinaut-construction.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/test/draft-experiment.test.ts
Due: markdownlint, biome

Let an experiment draft follow a net read without a settled Ledger
  apps/brunch-agent/src/agents/chat-agent/agent.ts
  apps/brunch-agent/test/browser-witness/integrated.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-draft-experiment-interactive-tool.authority.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-draft-experiment-interactive-tool.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.draft-panel.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/draft-experiment.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/flue.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/tools/draft-experiment.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/tools/petrinaut-construction.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/test/draft-experiment.test.ts
Due: biome

Drop Ledger coupling, stale mode labels and Stock repeats from Brunch's Petrinaut guidance
  libs/@hashintel/brunch-agent/packages/core/src/skills/elicitation/SKILL.md
  libs/@hashintel/brunch-agent/packages/core/src/workpiece-tools.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/draft-experiment.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/prompts/APPEND_SYSTEM.md
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/skills/sdcpn-modelling/SKILL.md
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/skills/sdcpn-modelling/references/checks.md
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/skills/sdcpn-modelling/references/experiment-configuration.md
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/skills/sdcpn-modelling/references/pn-construction.md
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/skills/sdcpn-modelling/templates/workpiece.md
Due: markdownlint, biome

Remove Brunch's conversation modes and bind by document alone
  apps/brunch-agent/README.md
  apps/brunch-agent/package.json
  apps/brunch-agent/src/agents/chat-agent/agent.ts
  apps/brunch-agent/src/agents/chat-agent/tool-catalogue.ts
  apps/brunch-agent/src/app.ts
  apps/brunch-agent/src/conversation/why.ts
  apps/brunch-agent/src/evaluations/persona/launch.test.ts
  apps/brunch-agent/src/evaluations/persona/launch.ts
  apps/brunch-agent/src/evaluations/persona/launch/resume.ts
  apps/brunch-agent/src/http/ownership.ts
  apps/brunch-agent/src/provider-admission.ts
  apps/brunch-agent/test/agent-ownership.test.ts
  apps/brunch-agent/test/browser-witness/browser-fixture.ts
  apps/brunch-agent/test/browser-witness/petrinaut-panel.ts
  apps/brunch-agent/test/chat-agent-mounting.test.ts
  apps/brunch-agent/test/history-retention-crash.integration.ts
  apps/brunch-agent/test/integration/admission-controls.integration.ts
  apps/brunch-agent/test/integration/workpiece-evidence.integration.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-client-tools.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-client-tools.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-conversation-id.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-conversation-id.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/workpiece-refusal-presentation.integration.test.tsx
  libs/@hashintel/brunch-agent/ARCHITECTURE.md
  libs/@hashintel/brunch-agent/packages/core/src/constants.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/flue.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/initial-data.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/test/construction-tools.test.ts
Due: markdownlint, biome, yarn

Clear another document's save failure during render
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
Due: biome

Choose the live document handle during render instead of in an effect
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
Due: biome

Restore the always-on per-answer net disposition in Brunch's modelling instruction
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/prompts/APPEND_SYSTEM.md
Due: markdownlint, biome

Stop the agent render from flagging browser tools in the admission scope
  apps/brunch-agent/src/agents/chat-agent/agent.ts
  apps/brunch-agent/src/provider-admission.ts
  apps/brunch-agent/test/provider-admission.test.ts
  apps/brunch-agent/test/provider-registration.test.ts
Due: biome

Add GPT-6 Sol to Brunch's OpenAI model catalogue
  apps/brunch-agent/src/openai-provider.ts
Due: biome

Stop refusing a draft proposed beside a Ledger settlement
  apps/brunch-agent/src/app.ts
Due: biome

Stop forcing reasoning mode on the Stock route
  apps/petrinaut-website/api/chat.ts
Due: biome

Claim an in-band browser call when its document-lane turn starts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
Due: biome

Tell the model a stopped or expired non-mutating browser call left the document unchanged
  apps/brunch-agent/src/conversation/browser-call-rendezvous.ts
  apps/brunch-agent/test/browser-call-rendezvous.test.ts
Due: biome

Claim the experiment draft's call before preparing it, and drop the retry that could not succeed
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-draft-experiment-interactive-tool.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-draft-experiment-interactive-tool.tsx
Due: biome

Record the Petrinaut exports this branch adds in their changesets
  .changeset/brunch-in-band-browser-tools.md
  .changeset/petrinaut-ai-model.md
Due: markdownlint, biome

Keep the Brunch refactoring notes out of the repository
  libs/@hashintel/brunch-agent/docs/refactoring/manual-tour-and-review-prompt.md
  libs/@hashintel/brunch-agent/docs/refactoring/petrinaut-tooling-restack-review.md
  libs/@hashintel/brunch-agent/docs/refactoring/post-demo-assessment-a.md
  libs/@hashintel/brunch-agent/docs/refactoring/post-demo-assessment-b.md
  libs/@hashintel/brunch-agent/docs/refactoring/tooling-remediation-plan.md
Due: markdownlint, biome

Keep queued browser calls claimable while the browser renews a call ahead of them
  apps/brunch-agent/src/conversation/browser-call-rendezvous.ts
  apps/brunch-agent/test/browser-call-rendezvous.test.ts
Due: biome

Run Petrinaut assistants on GPT-5.5 at medium reasoning again
  .changeset/petrinaut-ai-model.md
  apps/brunch-agent/src/app.ts
  apps/brunch-agent/src/dev-configuration-preflight.ts
  apps/brunch-agent/src/evaluations/persona/launch/role-settings.ts
  apps/brunch-agent/src/openai-provider.ts
  apps/brunch-agent/test/dev-configuration-preflight.test.ts
  libs/@hashintel/petrinaut-core/src/ai.ts
Due: markdownlint, biome

Narrow Petrinaut's in-band tool boundary to has and run
  .changeset/brunch-in-band-browser-tools.md
  apps/petrinaut-website/src/main/app/local-storage-demo/in-band-browser-call.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/in-band-browser-call.ts
  libs/@hashintel/petrinaut/src/ui/petrinaut.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
Due: markdownlint, biome

Return a recorded diagnostics result instead of reading live diagnostics again
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-petrinaut-tools.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-petrinaut-tools.ts
Due: biome

Credit no element with a layout change
  apps/brunch-agent/test/net-change-attribution.test.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/petrinaut-tool-effects.ts
Due: biome

Explain in the Run modal when a flow needs Google Sheets that isn't set up
  apps/hash-frontend/src/pages/@/[shortname]/shared/flow-visualizer/run-flow-modal.tsx
Due: biome

Require Google inputs to be filled and only block flows whose Google inputs are required
  apps/hash-frontend/src/pages/@/[shortname]/shared/flow-visualizer/run-flow-modal.tsx
Due: biome

Give the Live finalized-input shape one owner and require startedDuringOutput
  apps/petrinaut-website/src/main/app/voice-interview/live-brunch-bridge.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-brunch-bridge.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation.ts
Due: biome

FE-1768: Let any coding agent play the Brunch persona through a browser bridge CLI
  apps/brunch-agent/.pi/extensions/brunch-persona-testing.ts
  apps/brunch-agent/.pi/extensions/brunch-persona-testing/README.md
  apps/brunch-agent/README.md
  apps/brunch-agent/src/chat-model.ts
  apps/brunch-agent/src/evaluations/persona/README.md
  apps/brunch-agent/src/evaluations/persona/browser-bridge.test.ts
  apps/brunch-agent/src/evaluations/persona/browser-bridge.ts
  apps/brunch-agent/src/evaluations/persona/brunch-turn.ts
  apps/brunch-agent/src/evaluations/persona/configuration.ts
  apps/brunch-agent/src/evaluations/persona/launch.test.ts
  apps/brunch-agent/src/evaluations/persona/launch.ts
  apps/brunch-agent/src/evaluations/persona/launch/agent.test.ts
  apps/brunch-agent/src/evaluations/persona/launch/agent.ts
  apps/brunch-agent/src/evaluations/persona/launch/bridge-log.ts
  apps/brunch-agent/src/evaluations/persona/launch/brief.test.ts
  apps/brunch-agent/src/evaluations/persona/launch/brief.ts
  apps/brunch-agent/src/evaluations/persona/launch/brief/axes/disclosure-forthcoming.md
  apps/brunch-agent/src/evaluations/persona/launch/brief/axes/disclosure-reticent.md
  apps/brunch-agent/src/evaluations/persona/launch/brief/axes/verbosity-expansive.md
  apps/brunch-agent/src/evaluations/persona/launch/brief/axes/verbosity-terse.md
  apps/brunch-agent/src/evaluations/persona/launch/brief/system.md
  apps/brunch-agent/src/evaluations/persona/launch/resume.ts
  apps/brunch-agent/src/evaluations/persona/launch/role-settings.ts
  apps/brunch-agent/src/evaluations/persona/launch/transcript.ts
  apps/brunch-agent/src/evaluations/persona/persona-cli.ts
  apps/brunch-agent/src/evaluations/persona/rpc-protocol.test.ts
  apps/brunch-agent/src/evaluations/persona/rpc-protocol.ts
  apps/brunch-agent/test/brunch-turn.test.ts
  apps/brunch-agent/test/persona-configuration.test.ts
  apps/brunch-agent/test/persona-extension-lifecycle.test.ts
  apps/brunch-agent/test/persona-extension.test.ts
  apps/brunch-agent/vitest.config.ts
  libs/@hashintel/brunch-agent/EVALUATIONS.md
Due: markdownlint, biome

Treat a persona message that begins with a dash as text rather than an option
  apps/brunch-agent/src/evaluations/persona/persona-cli.test.ts
  apps/brunch-agent/src/evaluations/persona/persona-cli.ts
Due: biome

Close the persona pane when its agent fails to start and report stopped bridge turns as aborted
  apps/brunch-agent/src/evaluations/persona/browser-bridge.test.ts
  apps/brunch-agent/src/evaluations/persona/browser-bridge.ts
  apps/brunch-agent/src/evaluations/persona/launch/agent.ts
Due: biome
