Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    biome:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: biome format --write --staged || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: rustfmt {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: taplo format {staged_files} || true
      stage_fixed: true

feat: checkpoint (unreviewed)
  libs/@local/graph/atlas/Cargo.toml
  libs/@local/graph/atlas/examples/knn_sweep.rs
  libs/@local/graph/atlas/fixtures/wire/g1-minimal-tile.json
  libs/@local/graph/atlas/fixtures/wire/g1-minimal-tile.saltile
  libs/@local/graph/atlas/fixtures/wire/g10-padding-high.json
  libs/@local/graph/atlas/fixtures/wire/g10-padding-high.saltile
  libs/@local/graph/atlas/fixtures/wire/g2-root-tile.json
  libs/@local/graph/atlas/fixtures/wire/g2-root-tile.saltile
  libs/@local/graph/atlas/fixtures/wire/g3-total-tile.json
  libs/@local/graph/atlas/fixtures/wire/g3-total-tile.saltile
  libs/@local/graph/atlas/fixtures/wire/g4-empty-tile.json
  libs/@local/graph/atlas/fixtures/wire/g4-empty-tile.saltile
  libs/@local/graph/atlas/fixtures/wire/g5-trailer-tile.json
  libs/@local/graph/atlas/fixtures/wire/g5-trailer-tile.saltile
  libs/@local/graph/atlas/fixtures/wire/g6-edges.json
  libs/@local/graph/atlas/fixtures/wire/g6-edges.saltile
  libs/@local/graph/atlas/fixtures/wire/g8-appended-slot.json
  libs/@local/graph/atlas/fixtures/wire/g8-appended-slot.saltile
  libs/@local/graph/atlas/fixtures/wire/g9-padding-low.json
  libs/@local/graph/atlas/fixtures/wire/g9-padding-low.saltile
  libs/@local/graph/atlas/src/bench.rs
  libs/@local/graph/atlas/src/salt/fit/mod.rs
  libs/@local/graph/atlas/src/salt/knn/bench.rs
  libs/@local/graph/atlas/src/salt/knn/mod.rs
  libs/@local/graph/atlas/src/salt/knn/recall.rs
  libs/@local/graph/atlas/src/salt/mod.rs
  libs/@local/graph/atlas/src/salt/projector/artifact/mod.rs
  libs/@local/graph/atlas/src/salt/projector/artifact/tests.rs
  libs/@local/graph/atlas/src/salt/projector/model/mod.rs
  libs/@local/graph/atlas/src/salt/wire/cbor.rs
  libs/@local/graph/atlas/src/salt/wire/edges.rs
  libs/@local/graph/atlas/src/salt/wire/envelope.rs
  libs/@local/graph/atlas/src/salt/wire/goldens.rs
  libs/@local/graph/atlas/src/salt/wire/mod.rs
  libs/@local/graph/atlas/src/salt/wire/tests.rs
  libs/@local/graph/atlas/src/salt/wire/tile.rs
  tools/atlas-tools/atlas_tools/audit/cli.py
  tools/atlas-tools/atlas_tools/audit/clump.py
  tools/atlas-tools/atlas_tools/audit/runner.py
  tools/atlas-tools/tests/audit/test_clump.py
Due: biome, rust, toml

feat: checkpoint (unreviewed)
  Cargo.lock
  admission-report.json
  libs/@hashintel/ds-components/vite.config.ts
  libs/@local/graph/atlas/Cargo.toml
  libs/@local/graph/atlas/examples/fit_live.rs
  libs/@local/graph/atlas/src/bin/atlas/main.rs
  libs/@local/graph/atlas/src/bin/atlas/routes.rs
  libs/@local/graph/atlas/src/file/generation/mod.rs
  libs/@local/graph/atlas/src/file/morton/tests.rs
  libs/@local/graph/atlas/src/file/salt/tests.rs
  libs/@local/graph/atlas/src/lib.rs
  libs/@local/graph/atlas/src/salt/fit/bench.rs
  libs/@local/graph/atlas/src/salt/fit/compute/projector.rs
  libs/@local/graph/atlas/src/salt/fit/echo.rs
  libs/@local/graph/atlas/src/salt/fit/mod.rs
  libs/@local/graph/atlas/src/salt/fit/tests.rs
  libs/@local/graph/atlas/src/salt/ladder/mod.rs
  libs/@local/graph/atlas/src/salt/mod.rs
  libs/@local/graph/atlas/src/salt/quality/tests.rs
  libs/@local/graph/atlas/src/salt/runner/bench.rs
  libs/@local/graph/atlas/src/salt/runner/tests.rs
  libs/@local/graph/atlas/src/salt/wire/goldens.rs
  libs/@local/graph/atlas/src/salt/wire/mod.rs
  libs/@local/graph/atlas/src/salt/wire/tests.rs
  libs/@local/graph/atlas/src/salt/wire/tile.rs
  libs/@local/graph/atlas/src/serve/mod.rs
  libs/@local/graph/atlas/src/serve/tests.rs
Due: biome, rust, toml

improve production timeline
  apps/hash-api/src/seed-data/supply-chain-dataset-import.test.ts
  apps/hash-api/src/seed-data/supply-chain-dataset-import.ts
  apps/hash-frontend/src/pages/supply-chain/shared/docs/docs-modal/docs-content/product-overview.tsx
  apps/hash-frontend/src/pages/supply-chain/shared/production-schedule-types.ts
  apps/hash-frontend/src/pages/supply-chain/shared/tooltip.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/product.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/product/production-schedule/index.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/product/production-schedule/model.test.ts
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/product/production-schedule/model.ts
  apps/hash-frontend/src/shared/layout/layout-with-sidebar.tsx
Due: biome

FE-1221: Add structured correlated logging across the Petrinaut optimization pipeline
  apps/hash-api/src/petrinaut-optimizer/create-petrinaut-optimization-handler.test.ts
  apps/hash-api/src/petrinaut-optimizer/create-petrinaut-optimization-handler.ts
  apps/hash-api/src/petrinaut-optimizer/setup-petrinaut-optimizer-handler.test.ts
  apps/hash-api/src/petrinaut-optimizer/setup-petrinaut-optimizer-handler.ts
  apps/petrinaut-opt/README.md
  apps/petrinaut-opt/src/logging_config.py
  apps/petrinaut-opt/src/optimization_api.py
  apps/petrinaut-opt/src/petrinaut_client.py
  apps/petrinaut-opt/src/petrinaut_optimizer.py
  apps/petrinaut-opt/tests/test_logging_config.py
  apps/petrinaut-opt/tests/test_optimization_api.py
  apps/petrinaut-opt/tests/test_petrinaut_client.py
  apps/petrinaut-opt/tests/test_petrinaut_optimizer.py
  libs/@hashintel/petrinaut-cli/OPTIMIZATION_INTEGRATION.md
  libs/@hashintel/petrinaut-cli/src/cli.ts
  libs/@hashintel/petrinaut-cli/src/commands/stdio.ts
  libs/@hashintel/petrinaut-cli/src/commands/transports.test.ts
  libs/@hashintel/petrinaut-cli/src/runtime/diagnostics.ts
  libs/@hashintel/petrinaut-cli/src/runtime/protocol.ts
  libs/@local/petrinaut-optimizer-client/src/index.ts
  libs/@local/petrinaut-optimizer-client/src/open-optimization-stream.test.ts
  libs/@local/petrinaut-optimizer-client/src/open-optimization-stream.ts
Due: markdownlint, biome

FE-1221: Address review — bound and classify logged content
  apps/hash-api/src/petrinaut-optimizer/create-petrinaut-optimization-handler.test.ts
  apps/hash-api/src/petrinaut-optimizer/create-petrinaut-optimization-handler.ts
  apps/petrinaut-opt/src/logging_config.py
  apps/petrinaut-opt/src/optimization_api.py
  apps/petrinaut-opt/src/petrinaut_client.py
  apps/petrinaut-opt/src/petrinaut_optimizer.py
  apps/petrinaut-opt/tests/test_logging_config.py
  apps/petrinaut-opt/tests/test_optimization_api.py
  apps/petrinaut-opt/tests/test_petrinaut_client.py
  apps/petrinaut-opt/tests/test_petrinaut_optimizer.py
  libs/@local/petrinaut-optimizer-client/src/open-optimization-stream.test.ts
  libs/@local/petrinaut-optimizer-client/src/open-optimization-stream.ts
Due: biome

updated supply-chain-profit model to have integer types
  libs/@hashintel/petrinaut-cli/examples/supply-chain-profit-model.json
Due: biome

Use 0.1 as the default simulation time step
  libs/@hashintel/petrinaut/docs/experiments.md
  libs/@hashintel/petrinaut/docs/optimization.md
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/create-experiment-drawer.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/create-optimization-drawer.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/create-optimization-drawer.tsx
Due: markdownlint, biome

Refine optimization creation flow
  .changeset/fresh-optimizers-ui.md
  libs/@hashintel/petrinaut/docs/README.md
  libs/@hashintel/petrinaut/docs/optimization.md
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/create-optimization-drawer.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/create-optimization-drawer.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/optimization-parameter-row.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/optimization-parameter-row.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/optimizations-view.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/view-optimization-drawer.tsx
Due: markdownlint, biome

feat: refine Petrinaut optimization UI
  apps/petrinaut-website/README.md
  apps/petrinaut-website/src/main/app.tsx
  apps/petrinaut-website/src/main/app/optimization-demo/fake-optimization-provider.tsx
  apps/petrinaut-website/src/main/app/optimization-demo/optimization-demo-app.tsx
  apps/petrinaut-website/src/vite-env.d.ts
  libs/@hashintel/petrinaut/README.md
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/create-optimization-drawer.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/create-optimization-drawer.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/optimization-parameter-row.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/optimization-parameter-row.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/simulate-view.stories.tsx
Due: markdownlint, biome

feat: highlight optimized parameters
  libs/@hashintel/petrinaut/panda.config.shared.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/optimization-parameter-row.tsx
Due: biome

feat: refine optimization configuration dialog
  libs/@hashintel/petrinaut/panda.config.shared.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/create-optimization-drawer.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/create-optimization-drawer.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/optimization-parameter-row.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/optimization-parameter-row.tsx
Due: biome

feat: streamline optimization objectives
  libs/@hashintel/petrinaut/docs/optimization.md
  libs/@hashintel/petrinaut/panda.config.shared.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/create-experiment-drawer.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/metrics/metric-picker-options.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/create-optimization-drawer.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/create-optimization-drawer.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/optimization-parameter-row.tsx
Due: markdownlint, biome

feat: refine optimization results
  libs/@hashintel/petrinaut/docs/optimization.md
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/create-optimization-drawer.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/view-optimization-drawer.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/simulate-view.stories.tsx
Due: markdownlint, biome

refine optimization parameter styling
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/create-optimization-drawer.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/optimization-parameter-row.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/view-optimization-drawer.tsx
Due: biome

document optimization bridge security boundaries
  apps/hash-frontend/src/pages/processes/[uuid]/embed.page/create-bridge-petrinaut-optimization.ts
  apps/petrinaut-website/scripts/optimization-dev.mjs
Due: biome

Fix Petrinaut Panda specificity
  .changeset/boost-petrinaut-panda-specificity.md
  libs/@hashintel/petrinaut/package.json
  libs/@hashintel/petrinaut/postcss.config.cjs
  libs/@hashintel/petrinaut/postcss.config.mjs
  libs/@hashintel/petrinaut/scripts/boost-panda-specificity.mjs
  libs/@hashintel/petrinaut/scripts/boost-panda-specificity.test.ts
  yarn.lock
Due: markdownlint, biome, yarn

feat: add --vacuous-placement option
  Cargo.lock
  apps/hash-graph/Cargo.toml
  libs/@local/graph/atlas/src/bin/atlas/main.rs
  libs/@local/graph/atlas/src/salt/fit/compute/projector.rs
  libs/@local/graph/atlas/src/salt/fit/echo.rs
  libs/@local/graph/atlas/src/salt/fit/mod.rs
  libs/@local/graph/atlas/src/salt/fit/tests.rs
  libs/@local/graph/atlas/src/salt/relation/attraction.rs
  libs/@local/graph/atlas/src/salt/runner/bench.rs
Due: rust, toml

feat: no fusion for us
  libs/@local/graph/atlas/src/salt/fit/compute/projector.rs
Due: rust

made batch size and reorder threshold integers
  libs/@hashintel/petrinaut-core/src/examples/supply-chain-profit.ts
Due: biome

Better zoom + tile depth handling
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/network-graph-tiling.stories.tsx
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/tiling/fetch-saltile-tile.test.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/tiling/fetch-saltile-tile.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/tiling/fetch-tile.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/tiling/tile-geometry.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/tiling/use-get-viewport-nodes.test.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/tiling/use-get-viewport-nodes.ts
Due: biome

Tune tiling parameters
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/network-graph-tiling.stories.tsx
Due: biome

FE-1231: Share a fixed simulation seed between interactive Play and optimization runs
  .changeset/shared-simulation-seed.md
  libs/@hashintel/petrinaut-core/src/index.ts
  libs/@hashintel/petrinaut-core/src/simulation/api.ts
  libs/@hashintel/petrinaut-core/src/simulation/index.ts
  libs/@hashintel/petrinaut/docs/simulation.md
  libs/@hashintel/petrinaut/src/react/playback/provider.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/create-optimization-drawer.tsx
Due: markdownlint, biome

feat: openapi
  Cargo.lock
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/atlas/saltile-edges.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/atlas/saltile-goldens.test.ts
  libs/@local/graph/atlas/Cargo.toml
  libs/@local/graph/atlas/fixtures/wire/g6-edges.json
  libs/@local/graph/atlas/fixtures/wire/g6-edges.saltile
  libs/@local/graph/atlas/src/bin/atlas/routes.rs
  libs/@local/graph/atlas/src/bin/atlas/routes/current.rs
  libs/@local/graph/atlas/src/bin/atlas/routes/edges.rs
  libs/@local/graph/atlas/src/bin/atlas/routes/manifest.rs
  libs/@local/graph/atlas/src/bin/atlas/routes/mod.rs
  libs/@local/graph/atlas/src/bin/atlas/routes/problem.rs
  libs/@local/graph/atlas/src/bin/atlas/routes/reference.rs
  libs/@local/graph/atlas/src/bin/atlas/routes/saltile.rs
  libs/@local/graph/atlas/src/bin/atlas/routes/tile.rs
  libs/@local/graph/atlas/src/file/adjacency/mod.rs
  libs/@local/graph/atlas/src/file/adjacency/tests.rs
  libs/@local/graph/atlas/src/file/attraction/tests.rs
  libs/@local/graph/atlas/src/file/generation/mod.rs
  libs/@local/graph/atlas/src/file/morton/mod.rs
  libs/@local/graph/atlas/src/integrity/hash.rs
  libs/@local/graph/atlas/src/integrity/hex.rs
  libs/@local/graph/atlas/src/salt/projector/train/batch.rs
  libs/@local/graph/atlas/src/salt/projector/train/step.rs
  libs/@local/graph/atlas/src/salt/projector/train/tests.rs
  libs/@local/graph/atlas/src/salt/wire/goldens.rs
  libs/@local/graph/atlas/src/salt/wire/mod.rs
  libs/@local/graph/atlas/src/salt/wire/tile.rs
  libs/@local/graph/atlas/src/serve/mod.rs
Due: biome, rust, toml

Remove sample saltile client, applying changes to original fetch tile
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/atlas-decode/cbor.test.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/atlas-decode/cbor.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/atlas-decode/fixtures.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/atlas-decode/manifest.test.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/atlas-decode/manifest.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/atlas-decode/schema.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/atlas-decode/tile.test.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/atlas-decode/tile.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/atlas-decode/wire.test.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/atlas-decode/wire.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/atlas/README.md
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/atlas/saltile-client.test.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/atlas/saltile-client.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/atlas/saltile-edges.test.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/atlas/saltile-edges.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/atlas/saltile-frontier.test.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/atlas/saltile-frontier.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/atlas/saltile-goldens.test.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/network-graph-tiling.stories.tsx
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/tiling/atlas-tile-coordinate.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/tiling/decode-atlas-tile.test.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/tiling/decode-atlas-tile.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/tiling/fetch-saltile-tile.test.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/tiling/fetch-saltile-tile.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/tiling/fetch-tile.test.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/tiling/fetch-tile.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/tiling/use-get-viewport-nodes.ts
Due: markdownlint, biome

Fix atlas server url
  apps/hash-frontend/next.config.js
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/atlas-decode/edges.test.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/atlas-decode/edges.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/network-graph-tiling.stories.tsx
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/tiling/fetch-tile.ts
Due: biome

Show edges for nodes
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/network-graph-tiling.stories.tsx
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/tiling/fetch-edges-for-tiles.test.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/tiling/fetch-edges-for-tiles.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/tiling/fetch-tile.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/tiling/use-get-viewport-nodes.test.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/tiling/use-get-viewport-nodes.ts
  libs/@hashintel/ds-components/src/main.ts
Due: biome

Update cache size
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/tiling/use-get-viewport-nodes.ts
Due: biome

Add color selection option to entities type
  apps/hash-frontend/src/pages/shared/entities-visualizer.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/header/filter-ribbon.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/header/type-color-selector.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/header/type-filter-pill.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/network-graph-view.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/shared/type-colors.ts
  libs/@hashintel/ds-components/src/main.ts
Due: biome

Detailed views for network graph
  apps/hash-frontend/src/pages/shared/entities-visualizer/network-graph-view.tsx
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/fixtures/entity-icon-name.test.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/fixtures/entity-icon-name.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/network-graph-tiling.stories.tsx
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/tiling/fetch-edges-for-tiles.test.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/tiling/fetch-edges-for-tiles.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/tiling/fetch-tile.test.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/tiling/fetch-tile.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/tiling/use-get-viewport-nodes.test.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/tiling/use-get-viewport-nodes.ts
  libs/@hashintel/ds-components/src/main.ts
Due: biome

Add extra icons
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/fixtures/entity-icon-name.test.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/fixtures/entity-icon-name.ts
  libs/@hashintel/ds-components/src/components/Icon/icon.tsx
  libs/@hashintel/ds-components/src/components/Icon/svgs/regular/link.svg
  libs/@hashintel/ds-components/src/components/Icon/svgs/regular/user.svg
Due: biome

Map colors in hash network graph visualizer
  apps/hash-frontend/src/pages/shared/entities-visualizer.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/header/type-filter-pill.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/network-graph-view.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/shared/type-colors.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/network-graph-tiling.stories.tsx
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/tiling/fetch-tile.test.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/tiling/fetch-tile.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/tiling/use-get-viewport-nodes.ts
Due: biome

Fixed data csp handling
  apps/hash-frontend/src/lib/csp.ts
Due: biome

Keep BottomPanel tab bar a constant height and ellipsize tab labels
  libs/@hashintel/petrinaut/src/ui/components/segment-group.tsx
  libs/@hashintel/petrinaut/src/ui/components/sub-view/horizontal/horizontal-tabs-container.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/simulation-timeline/header.tsx
Due: biome

Hide the Timeline "Metric" label on narrow BottomPanels
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/simulation-timeline/header.tsx
Due: biome
