Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

markdownlint:
  tags:
  - frontend
  - style
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

biome:
  tags:
  - frontend
  - style
  run: biome format --write --staged || true
  stage_fixed: true

yarn:
  tags:
  - frontend
  - style
  run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
  stage_fixed: true

sqlfluff:
  tags:
  - backend
  - style
  run: sqlfluff fix {staged_files} || true
  stage_fixed: true

rust:
  tags:
  - backend
  - style
  run: rustfmt {staged_files} || true
  stage_fixed: true

toml:
  tags:
  - backend
  - style
  run: taplo format {staged_files} || true
  stage_fixed: true

Write the persona resume fixture with the flat document binding
  apps/brunch-agent/src/evaluations/persona/launch.test.ts
Due: biome

Describe each persona case as a domain expert rather than an evaluation participant
  libs/@hashintel/brunch-agent/evaluations/cases/data-centre-thermal-operations/opening-message.md
  libs/@hashintel/brunch-agent/evaluations/cases/data-centre-thermal-operations/situation-pack.md
  libs/@hashintel/brunch-agent/evaluations/cases/industrial-gas-vmi/opening-message.md
  libs/@hashintel/brunch-agent/evaluations/cases/industrial-gas-vmi/situation-pack.md
  libs/@hashintel/brunch-agent/evaluations/cases/inventory-purchasing/opening-message.md
  libs/@hashintel/brunch-agent/evaluations/cases/inventory-purchasing/situation-pack.md
  libs/@hashintel/brunch-agent/evaluations/cases/pharma-cold-chain/opening-message.md
  libs/@hashintel/brunch-agent/evaluations/cases/pharma-cold-chain/situation-pack.md
  libs/@hashintel/brunch-agent/evaluations/cases/semiconductor-fab-operations/opening-message.md
  libs/@hashintel/brunch-agent/evaluations/cases/semiconductor-fab-operations/situation-pack.md
  libs/@hashintel/brunch-agent/evaluations/cases/support-desk-staffing/opening-message.md
  libs/@hashintel/brunch-agent/evaluations/cases/support-desk-staffing/situation-pack.md
  libs/@hashintel/brunch-agent/evaluations/cases/truck-fleet-maintenance/opening-message.md
  libs/@hashintel/brunch-agent/evaluations/cases/truck-fleet-maintenance/situation-pack.md
  libs/@hashintel/brunch-agent/evaluations/cases/vestera-scheduling/opening-message.md
  libs/@hashintel/brunch-agent/evaluations/cases/vestera-scheduling/situation-pack.md
Due: markdownlint, biome

Report a persona turn admitted before writing its bridge-log entry
  apps/brunch-agent/src/evaluations/persona/launch.ts
Due: biome

Start the persona agent outside the repository and attribute each persona utterance to its agent
  apps/brunch-agent/src/evaluations/persona/README.md
  apps/brunch-agent/src/evaluations/persona/launch.test.ts
  apps/brunch-agent/src/evaluations/persona/launch.ts
  apps/brunch-agent/src/evaluations/persona/launch/agent.ts
  apps/brunch-agent/src/evaluations/persona/launch/bridge-log.ts
Due: markdownlint, biome

Treat a whitespace-only composer draft as empty and tell the persona never to repair the browser
  apps/brunch-agent/src/evaluations/persona/browser-turn.ts
  apps/brunch-agent/src/evaluations/persona/launch/brief/system.md
Due: markdownlint, biome

Brief the persona as a naive domain expert and delete the persona axes
  apps/brunch-agent/src/evaluations/persona/README.md
  apps/brunch-agent/src/evaluations/persona/launch.test.ts
  apps/brunch-agent/src/evaluations/persona/launch.ts
  apps/brunch-agent/src/evaluations/persona/launch/axis-settings.ts
  apps/brunch-agent/src/evaluations/persona/launch/brief.test.ts
  apps/brunch-agent/src/evaluations/persona/launch/brief.ts
  apps/brunch-agent/src/evaluations/persona/launch/brief/axes/disclosure-forthcoming.md
  apps/brunch-agent/src/evaluations/persona/launch/brief/axes/disclosure-reticent.md
  apps/brunch-agent/src/evaluations/persona/launch/brief/axes/verbosity-expansive.md
  apps/brunch-agent/src/evaluations/persona/launch/brief/axes/verbosity-terse.md
  apps/brunch-agent/src/evaluations/persona/launch/brief/system.md
  apps/brunch-agent/src/evaluations/persona/launch/resume.ts
  libs/@hashintel/brunch-agent/EVALUATIONS.md
Due: markdownlint, biome

Classify the identity and status view tools for Brunch and record the prompt hash
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/petrinaut-tool-effects.ts
  libs/@hashintel/petrinaut-core/src/ai.test.ts
Due: biome

Unify the Brunch conversation UI for chat and voice
  .changeset/brunch-conversation-turns.md
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-draft-experiment-interactive-tool.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-draft-experiment-interactive-tool.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-draft-experiment-interactive-tool/editor-drafts.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-experiment-follow-up.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/voice-history-continuity.test.tsx
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/src/ui/components/sub-view/horizontal/horizontal-tabs-container.tsx
  libs/@hashintel/petrinaut/src/ui/types/ai-assistant-composer-control.ts
  libs/@hashintel/petrinaut/src/ui/types/ai-interactive-tool.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.stories.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/brunch-work-fold.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/brunch-work-fold.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/experiment-execution-card.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/experiment-execution-card.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/get-message-render-items.test.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/get-message-render-items.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/prompt-chips.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/reasoning.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/shared/use-elapsed-time.test.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/shared/use-elapsed-time.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/tool-list.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/voice-input-provenance.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/interactive-tools/apply-auto-layout-widget.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/interactive-tools/apply-auto-layout-widget.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/interactive-tools/registry.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/interactive-tools/types.ts
Due: markdownlint, biome

Align Brunch conversation details with the prototype
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/src/ui/components/sub-view/horizontal/horizontal-tabs-container.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.stories.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/brunch-tabs.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/brunch-work-fold.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/experiment-execution-card.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/reasoning.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/tool-list.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/voice-input-provenance.tsx
Due: markdownlint, biome

Align Voice controls and preparation feedback with the conversation design
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.stories.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/voice-dock.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/voice-dock/audio-popover.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/voice-dock/audio-popover/settings.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/voice-dock/session-action-icons.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/voice-input-provenance.tsx
Due: markdownlint, biome

Restore the prototype’s compact conversation disclosures
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.stories.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/brunch-work-fold.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/reasoning.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/tool-list.tsx
Due: markdownlint, biome

Use neutral activity labels and stock Petrinaut styling
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-draft-experiment-interactive-tool.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/voice-history-continuity.test.tsx
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/brunch-work-fold.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/brunch-work-fold.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/experiment-execution-card.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/experiment-execution-card.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/reasoning.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/voice-input-provenance.tsx
Due: markdownlint, biome

Align voice brief spacing and controls with the conversation design
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.stories.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/voice-dock.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/voice-dock/session-action-icons.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/voice-input-provenance.tsx
Due: markdownlint, biome

Complete the conversation prototype controls and feedback
  .changeset/brunch-conversation-turns.md
  .changeset/experiment-candidate-progress.md
  AGENTS.md
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-conversation-id.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-draft-experiment-interactive-tool.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-experiment-follow-up.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-mutation-approval.integration.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-mutation-approval.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-mutation-approval.tsx
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation-control.test.tsx
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation-control.tsx
  libs/@hashintel/petrinaut-core/src/experiments/host.ts
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/src/react/experiment-host/run-experiment.test.ts
  libs/@hashintel/petrinaut/src/react/experiment-host/run-experiment.ts
  libs/@hashintel/petrinaut/src/ui/types/ai-assistant-composer-control.ts
  libs/@hashintel/petrinaut/src/ui/types/ai-interactive-tool.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.stories.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/experiment-execution-card.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/experiment-execution-card.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/reasoning.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/voice-alerts.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/voice-alerts.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/voice-dock.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/voice-dock/audio-popover/settings.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/voice-dock/voice-controls.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/interactive-tools/registry.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/interactive-tools/registry.ts
Due: markdownlint, biome

Remove candidate progress to keep core unchanged
  .changeset/brunch-conversation-turns.md
  .changeset/experiment-candidate-progress.md
  libs/@hashintel/petrinaut-core/src/experiments/host.ts
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/src/react/experiment-host/run-experiment.test.ts
  libs/@hashintel/petrinaut/src/react/experiment-host/run-experiment.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.stories.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/experiment-execution-card.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/experiment-execution-card.tsx
Due: markdownlint, biome

Stabilize Monaco setup in voice history integration test
  apps/petrinaut-website/src/main/app/local-storage-demo/voice-history-continuity.test.tsx
Due: biome

Restore the compact inline chat composer
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.stories.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.tsx
Due: markdownlint, biome

Restore the single Voice and Send composer action
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.stories.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.tsx
Due: markdownlint, biome

Separate conversation presentation from host behavior
  .changeset/brunch-conversation-turns.md
  AGENTS.md
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-conversation-id.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-draft-experiment-interactive-tool.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-draft-experiment-interactive-tool.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-draft-experiment-interactive-tool/editor-drafts.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-experiment-follow-up.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-mutation-approval.integration.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-mutation-approval.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-mutation-approval.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/workpiece-refusal-presentation.integration.test.tsx
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/src/ui/types/ai-assistant-composer-control.ts
  libs/@hashintel/petrinaut/src/ui/types/ai-interactive-tool.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/experiment-execution-card.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/experiment-execution-card.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/interactive-tools/registry.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/interactive-tools/registry.ts
Due: markdownlint, biome

Keep preserved composer drafts when text answers an interactive tool
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
Due: biome

Animate interrupted Voice and simplify recovery copy
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation-control.test.tsx
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-disclosure.tsx
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/voice-session-indicator.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.stories.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/voice-dock.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/voice-dock/voice-controls.test.tsx
Due: markdownlint, biome

Hide empty Chat activity folds and follow growing Voice lines
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.tsx
Due: biome

Reserve Brunch response status and keep disclosure choices while streaming
  .changeset/brunch-conversation-turns.md
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.stories.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/brunch-work-fold.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/tool-list.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/voice-dock/audio-popover/settings.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/voice-dock/voice-controls.test.tsx
Due: markdownlint, biome

Keep stock transcript labels and working status outside Brunch Chat
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.tsx
Due: markdownlint, biome

Align voice consent and floating minimization with the prototype
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-disclosure.tsx
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.stories.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.tsx
Due: markdownlint, biome

chore: delay publishing newly released crates
  .cargo/config.toml
Due: toml

SRE-1107: Enforce minimum publish age in Rust (#9878)
  .cargo/config.toml
Due: toml

Keep following a streaming transcript while its smooth scroll catches up
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.tsx
Due: biome

Keep card-placed tools out of the work fold while they stream or fail
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/get-message-render-items.test.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/get-message-render-items.ts
Due: biome

Keep the Activity timer counting across approval pauses
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/shared/use-elapsed-time.test.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/shared/use-elapsed-time.ts
Due: biome

Add a Controller V3 prototype: Controllers group, controller panel and lever marks
  libs/@hashintel/petrinaut-core/src/extensions.ts
  libs/@hashintel/petrinaut-core/src/types/selection.ts
  libs/@hashintel/petrinaut/src/react/controller-prototype/controllers.ts
  libs/@hashintel/petrinaut/src/react/controller-prototype/use-controllers.ts
  libs/@hashintel/petrinaut/src/react/sdcpn-provider.tsx
  libs/@hashintel/petrinaut/src/react/state/sdcpn-context.ts
  libs/@hashintel/petrinaut/src/react/state/use-selection-cleanup.ts
  libs/@hashintel/petrinaut/src/ui/controller-prototype/controller-focus.ts
  libs/@hashintel/petrinaut/src/ui/controller-prototype/controller-panel.tsx
  libs/@hashintel/petrinaut/src/ui/controller-prototype/controller-prototype.stories.tsx
  libs/@hashintel/petrinaut/src/ui/controller-prototype/controller-tree.tsx
  libs/@hashintel/petrinaut/src/ui/controller-prototype/lever-glyph.tsx
  libs/@hashintel/petrinaut/src/ui/controller-prototype/lever-node.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/use-keyboard-shortcuts.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/LeftSideBar/subviews/entities-tree.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/LeftSideBar/subviews/filterable-list-sub-view.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/multi-selection-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/selected-item-properties.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/classic-place-node.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/classic-transition-node.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/place-node.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/transition-node.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/use-canvas-scene.ts
Due: biome

Raise contrast in the controller panel's Choice card
  libs/@hashintel/petrinaut/src/ui/controller-prototype/controller-panel.tsx
Due: biome

Serve the controller prototype as a standalone page on port 6010
  libs/@hashintel/petrinaut/controller-prototype/index.html
  libs/@hashintel/petrinaut/controller-prototype/main.tsx
  libs/@hashintel/petrinaut/controller-prototype/vite.config.ts
  libs/@hashintel/petrinaut/package.json
  libs/@hashintel/petrinaut/src/ui/controller-prototype/controller-prototype.stories.tsx
  libs/@hashintel/petrinaut/src/ui/controller-prototype/scheduler-example.ts
Due: biome, yarn

Add right-click Add to controller menu and the multi-selection button
  libs/@hashintel/petrinaut/src/react/controller-prototype/lever-options.test.ts
  libs/@hashintel/petrinaut/src/react/controller-prototype/lever-options.ts
  libs/@hashintel/petrinaut/src/ui/controller-prototype/add-to-controller-menu.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/LeftSideBar/subviews/entities-tree.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/LeftSideBar/subviews/filterable-list-sub-view.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/multi-selection-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/classic-place-node.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/classic-transition-node.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/place-node.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/transition-node.tsx
Due: biome

Mark the right-click target and separate New controller in the menu
  libs/@hashintel/petrinaut/src/ui/controller-prototype/add-to-controller-menu.tsx
Due: biome

Fail a persona turn that replies unadmitted and name a torn bridge-log line
  apps/brunch-agent/src/evaluations/persona/browser-bridge.test.ts
  apps/brunch-agent/src/evaluations/persona/browser-bridge.ts
  apps/brunch-agent/src/evaluations/persona/launch/bridge-log.test.ts
  apps/brunch-agent/src/evaluations/persona/launch/bridge-log.ts
Due: biome

Delete per-utterance echo and level entries at finalize
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation/echo-diagnostics.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation/utterance-levels.ts
Due: biome

Use the Live word count to detect empty transcripts
  apps/petrinaut-website/src/main/app/voice-interview/live-brunch-bridge.ts
Due: biome

Record echo return loss and its enhancement separately
  apps/petrinaut-website/README.md
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation/echo-diagnostics.ts
Due: markdownlint, biome

Drop speaker mute and volume from the Live echo trace
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation/echo-diagnostics.ts
Due: biome

Path conditions:
  markdownlint: any of: *.md
  biome: any of: *.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}
  yarn: any of: {*/package.json, package.json}
  sqlfluff: any of: *.sql
  rust: any of: *.rs
  toml: any of: *.toml
