Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, prettier, yarn, sqlfluff, rust, toml

markdownlint:
  tags:
  - frontend
  - style
  run: yarn run markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

prettier:
  tags:
  - frontend
  - style
  run: yarn run prettier --write {staged_files} || true
  stage_fixed: true

yarn:
  tags:
  - frontend
  - style
  run: yarn fix:constraints && yarn fix:packagejson && yarn fix:yarn-deduplicate
  stage_fixed: true

sqlfluff:
  tags:
  - backend
  - style
  run: sqlfluff fix {staged_files} || true
  stage_fixed: true

rust:
  tags:
  - backend
  - style
  run: cargo fmt -- {staged_files} || true
  stage_fixed: true

toml:
  tags:
  - backend
  - style
  run: yarn run taplo format {staged_files} || true
  stage_fixed: true

Fix error handling in getWebShortname to return null on failure
  apps/hash-api/src/graph/ontology/primitive/util.ts
Due: prettier

Verify entity type in getUser to ensure it is a User
  apps/hash-api/src/graph/knowledge/system-types/user.ts
  apps/hash-api/src/graph/ontology/primitive/util.ts
Due: prettier

feat: checkpoint
  libs/@local/hashql/compiletest/src/annotation/mod.rs
  libs/@local/hashql/compiletest/src/annotation/verify.rs
  libs/@local/hashql/compiletest/src/executor/mod.rs
  libs/@local/hashql/compiletest/src/executor/trial_group.rs
  libs/@local/hashql/compiletest/src/harness/mod.rs
  libs/@local/hashql/compiletest/src/harness/test/discover.rs
  libs/@local/hashql/compiletest/src/harness/test/mod.rs
  libs/@local/hashql/compiletest/src/harness/trial/context.rs
  libs/@local/hashql/compiletest/src/harness/trial/corpus.rs
  libs/@local/hashql/compiletest/src/harness/trial/error.rs
  libs/@local/hashql/compiletest/src/harness/trial/group.rs
  libs/@local/hashql/compiletest/src/harness/trial/list.rs
  libs/@local/hashql/compiletest/src/harness/trial/mod.rs
  libs/@local/hashql/compiletest/src/harness/trial/set.rs
  libs/@local/hashql/compiletest/src/harness/trial/stats.rs
  libs/@local/hashql/compiletest/src/harness/trial/trial.rs
  libs/@local/hashql/compiletest/src/harness/trial/visit.rs
  libs/@local/hashql/compiletest/src/lib.rs
  libs/@local/hashql/compiletest/src/suite/mir_reify.rs
  libs/@local/hashql/compiletest/src/suite/mod.rs
  libs/@local/hashql/compiletest/src/ui/mod.rs
Due: rust

chore: checkpoint
  Cargo.lock
  Cargo.toml
  libs/@local/hashql/compiletest/Cargo.toml
  libs/@local/hashql/compiletest/src/harness/test/discover.rs
  libs/@local/hashql/compiletest/src/harness/trial/mod.rs
  libs/@local/hashql/compiletest/src/lib.rs
  libs/@local/hashql/compiletest/src/runner/mod.rs
  libs/@local/hashql/compiletest/src/runner/ui/mod.rs
  libs/@local/hashql/compiletest/src/runner/ui/tui.rs
Due: rust, toml

feat: checkpoint
  libs/@local/hashql/compiletest/src/harness/trial/set.rs
  libs/@local/hashql/compiletest/src/harness/trial/stats.rs
  libs/@local/hashql/compiletest/src/harness/trial/trial.rs
  libs/@local/hashql/compiletest/src/lib.rs
  libs/@local/hashql/compiletest/src/runner/ui/tui.rs
Due: rust

feat: checkpoint
  Cargo.lock
  libs/@local/hashql/compiletest/Cargo.toml
  libs/@local/hashql/compiletest/src/annotation/verify.rs
  libs/@local/hashql/compiletest/src/harness/test/discover.rs
  libs/@local/hashql/compiletest/src/lib.rs
  libs/@local/hashql/compiletest/src/runner/mod.rs
  libs/@local/hashql/compiletest/src/runner/ui/mod.rs
  libs/@local/hashql/compiletest/src/runner/ui/tui.rs
Due: rust, toml

Remove usage of useStableCallback for setters
  libs/@hashintel/petrinaut/src/playback/provider.tsx
Due: prettier

feat: checkpoint
  libs/@local/hashql/compiletest/src/runner/ui/tui.rs
Due: rust

feat: checkpoint
  libs/@local/hashql/compiletest/src/runner/ui/tui.rs
  libs/@local/hashql/compiletest/src/suite/mir_reify.rs
Due: rust

feat: running stats
  libs/@local/hashql/compiletest/src/harness/trial/stats.rs
  libs/@local/hashql/compiletest/src/harness/trial/trial.rs
  libs/@local/hashql/compiletest/src/lib.rs
  libs/@local/hashql/compiletest/src/runner/ui/tui.rs
Due: rust

feat: reporter and runner
  libs/@local/hashql/compiletest/src/harness/mod.rs
  libs/@local/hashql/compiletest/src/harness/test/discover.rs
  libs/@local/hashql/compiletest/src/harness/test/mod.rs
  libs/@local/hashql/compiletest/src/harness/trial/context.rs
  libs/@local/hashql/compiletest/src/harness/trial/corpus.rs
  libs/@local/hashql/compiletest/src/harness/trial/error.rs
  libs/@local/hashql/compiletest/src/harness/trial/group.rs
  libs/@local/hashql/compiletest/src/harness/trial/list.rs
  libs/@local/hashql/compiletest/src/harness/trial/mod.rs
  libs/@local/hashql/compiletest/src/harness/trial/set.rs
  libs/@local/hashql/compiletest/src/harness/trial/stats.rs
  libs/@local/hashql/compiletest/src/harness/trial/trial.rs
  libs/@local/hashql/compiletest/src/harness/trial/visit.rs
  libs/@local/hashql/compiletest/src/lib.rs
  libs/@local/hashql/compiletest/src/output.rs
  libs/@local/hashql/compiletest/src/reporter.rs
  libs/@local/hashql/compiletest/src/runner/mod.rs
  libs/@local/hashql/compiletest/src/runner/reporter.rs
  libs/@local/hashql/compiletest/src/runner/ui/tui.rs
  libs/@local/hashql/compiletest/src/styles.rs
Due: rust

feat: alternative output modes
  libs/@local/hashql/compiletest/src/harness/trial/corpus.rs
  libs/@local/hashql/compiletest/src/harness/trial/group.rs
  libs/@local/hashql/compiletest/src/harness/trial/list.rs
  libs/@local/hashql/compiletest/src/lib.rs
  libs/@local/hashql/compiletest/src/main.rs
  libs/@local/hashql/compiletest/src/runner/mod.rs
  libs/@local/hashql/compiletest/src/runner/output.rs
  libs/@local/hashql/compiletest/src/runner/reporter.rs
  libs/@local/hashql/compiletest/src/runner/ui/common.rs
  libs/@local/hashql/compiletest/src/runner/ui/human.rs
  libs/@local/hashql/compiletest/src/runner/ui/json.rs
  libs/@local/hashql/compiletest/src/runner/ui/mod.rs
  libs/@local/hashql/compiletest/src/runner/ui/tui.rs
  libs/@local/hashql/compiletest/src/styles.rs
Due: rust

feat: checkpoint
  libs/@local/hashql/compiletest/Cargo.toml
  libs/@local/hashql/compiletest/src/harness/trial/set.rs
  libs/@local/hashql/compiletest/src/lib.rs
  libs/@local/hashql/compiletest/src/main.rs
  libs/@local/hashql/compiletest/src/runner/cli.rs
  libs/@local/hashql/compiletest/src/runner/mod.rs
  libs/@local/hashql/compiletest/src/runner/output.rs
  libs/@local/hashql/compiletest/src/runner/reporter.rs
  libs/@local/hashql/compiletest/src/runner/ui/human.rs
Due: rust, toml

Path conditions:
  markdownlint: any of: *.md
  prettier: any of: *.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}
  yarn: any of: {*/package.json, package.json}
  sqlfluff: any of: *.sql
  rust: any of: *.rs
  toml: any of: *.toml
