Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    biome:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: biome format --write --staged || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: rustfmt {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: taplo format {staged_files} || true
      stage_fixed: true

feat: embedding2d learn/fit
  .config/mise/config.toml
  tools/embedding2d/.gitignore
  tools/embedding2d/.python-version
  tools/embedding2d/README.md
  tools/embedding2d/app/__init__.py
  tools/embedding2d/app/fit.py
  tools/embedding2d/app/mlp.py
  tools/embedding2d/main.py
  tools/embedding2d/plot_types.py
  tools/embedding2d/pyproject.toml
  tools/embedding2d/uv.lock
Due: markdownlint, biome, toml

Revert "Fix monaco suggestion clipping"
  libs/@hashintel/petrinaut/src/ui/components/section.tsx
  libs/@hashintel/petrinaut/src/ui/monaco/code-editor.stories.tsx
  libs/@hashintel/petrinaut/src/ui/monaco/code-editor.tsx
Due: biome

Fix ds-components declaration build OOM
  libs/@hashintel/ds-components/package.json
  libs/@hashintel/ds-components/scripts/generate-flat-dts.ts
  libs/@hashintel/ds-components/tsconfig.dts.json
  libs/@hashintel/ds-components/tsup.config.ts
Due: biome, yarn

feat: embedding alpha ladder fit
  tools/embedding2d/.gitignore
  tools/embedding2d/README.md
  tools/embedding2d/app/features.py
  tools/embedding2d/app/fit.py
  tools/embedding2d/app/layout.py
  tools/embedding2d/app/sample.py
  tools/embedding2d/demo/app.js
  tools/embedding2d/demo/index.html
  tools/embedding2d/prepare_demo.py
Due: markdownlint, biome

Remove translate + transform once drawer has mounted to support monaco tooltips
  libs/@hashintel/ds-components/src/components/Drawer/drawer.recipe.ts
  libs/@hashintel/ds-components/src/components/Drawer/drawer.tsx
Due: biome

feat: embedding over alpha blending
  tools/embedding2d/README.md
  tools/embedding2d/app/features.py
  tools/embedding2d/app/fit.py
  tools/embedding2d/app/layout.py
  tools/embedding2d/main.py
Due: markdownlint, biome

Remove double animation on swipe to close
  libs/@hashintel/ds-components/src/components/Drawer/drawer.recipe.ts
Due: biome

Migrate harpc crates to scc v3 API and bump to 3.8.4
  Cargo.lock
  Cargo.toml
  libs/@local/harpc/net/src/session/client/connection/collection.rs
  libs/@local/harpc/net/src/session/client/connection/mod.rs
  libs/@local/harpc/net/src/session/server/connection/collection.rs
  libs/@local/harpc/server/src/session.rs
Due: rust, toml

Replace constant-size `chunks_exact_mut` with `as_chunks_mut` in clustering tests
  libs/@local/graph/embeddings/src/clustering.rs
Due: rust

BE-634: Skip value re-conversion on snapshot restore
  libs/@local/graph/postgres-store/src/snapshot/entity/batch.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/validation/src/entity_type.rs
  libs/@local/graph/validation/src/lib.rs
  libs/@local/graph/validation/src/test_property_type.rs
Due: rust

Replace removed HashIndex::first_entry_async with begin_async in test
  libs/@local/harpc/net/src/session/client/connection/test.rs
Due: rust

Migrate Temporal Rust SDK from git pin to crates.io 0.5.0
  Cargo.lock
  Cargo.toml
  libs/@local/temporal-client/src/ai.rs
  libs/@local/temporal-client/src/lib.rs
Due: rust, toml

feat: take relations into account
  tools/embedding2d/app/layout.py
  tools/embedding2d/demo/app.js
  tools/embedding2d/demo/index.html
  tools/embedding2d/prepare_demo.py
Due: biome

feat: take relations into account
  tools/embedding2d/.gitignore
  tools/embedding2d/app/layout.py
  tools/embedding2d/prepare_demo.py
Due: none

Disable default features for temporalio dependencies
  Cargo.lock
  Cargo.toml
Due: toml

Add workflow-result support and a Temporal echo roundtrip test
  libs/@local/temporal-client/Cargo.toml
  libs/@local/temporal-client/package.json
  libs/@local/temporal-client/src/ai.rs
  libs/@local/temporal-client/src/error.rs
  libs/@local/temporal-client/src/lib.rs
  libs/@local/temporal-client/src/workflow.rs
  libs/@local/temporal-client/tests/echo.rs
Due: biome, yarn, rust, toml

Fix lockfile for js-yaml 4.2.0 bump
  yarn.lock
Due: none

Update npm packages `tar` and `launch-editor` to patched versions [SECURITY]
  yarn.lock
Due: none

Update OpenTelemetry JS packages to 2.8.0 / 0.219.0 [SECURITY]
  apps/hash-ai-worker-ts/package.json
  apps/hash-api/package.json
  apps/hash-integration-worker/package.json
  libs/@local/hash-backend-utils/package.json
  yarn.lock
Due: biome, yarn

Address review feedback on Temporal echo test robustness
  libs/@local/temporal-client/src/ai.rs
  libs/@local/temporal-client/src/workflow.rs
  libs/@local/temporal-client/tests/echo.rs
Due: rust

Update `http-proxy-middleware` to v3.0.7 and rebase custom patch [SECURITY]
  .yarn/patches/http-proxy-middleware-npm-3.0.7-89cd070ac6.patch
  apps/hash-api/package.json
  package.json
  yarn.lock
Due: biome, yarn

deduplicate shell-quote resolutions
  yarn.lock
Due: none

Use a larger duration unit for the echo test execution timeout
  libs/@local/temporal-client/tests/echo.rs
Due: rust

update @opentelemetry/* and related packages
  apps/hash-ai-worker-ts/package.json
  apps/hash-api/package.json
  apps/hash-frontend/package.json
  apps/hash-integration-worker/package.json
  apps/petrinaut-website/package.json
  apps/plugin-browser/package.json
  libs/@local/graph/sdk/typescript/package.json
  libs/@local/hash-backend-utils/package.json
  libs/@local/hash-backend-utils/src/opentelemetry.ts
  libs/@local/hash-backend-utils/src/temporal.ts
  libs/@local/hash-backend-utils/src/temporal/interceptors/activities/opentelemetry.ts
  libs/@local/hash-backend-utils/src/temporal/interceptors/workflows/opentelemetry.ts
  libs/@local/hash-backend-utils/src/temporal/worker-bootstrap.ts
  libs/@local/hash-backend-utils/src/temporal/workflow-span-adapter.test.ts
  libs/@local/hash-backend-utils/src/temporal/workflow-span-adapter.ts
  libs/@local/hash-isomorphic-utils/package.json
  libs/@local/temporal-client/src/ai.rs
  yarn.lock
Due: biome, yarn, rust

Apply suggestion from @TimDiekmann
  libs/@hashintel/ds-components/package.json
Due: biome, yarn

SRE-795: Remove cargo-shear metadata
  Cargo.toml
  libs/@local/graph/api/Cargo.toml
  libs/@local/graph/postgres-store/Cargo.toml
  libs/error-stack/Cargo.toml
  libs/error-stack/macros/Cargo.toml
  tests/graph/benches/Cargo.toml
Due: toml

SRE-795: Fix unused-dependency warnings in the feature-powerset lint and split PR/queue lint caches
  libs/@local/harpc/wire-protocol/Cargo.toml
  libs/@local/hashql/diagnostics/Cargo.toml
  libs/error-stack/src/lib.rs
  turbo.json
Due: biome, rust, toml

BE-638: Tighten V54 migration comments
  libs/@local/graph/postgres-store/postgres_migrations/V54__entity_denormalized_provenance.sql
Due: sqlfluff

Fix sign-in race in Playwright global setup (FE-1171)
  apps/hash-frontend/src/pages/signin.page.tsx
  tests/hash-playwright/global-setup.ts
Due: biome

Allow time for type counts to load in types-page Playwright spec (FE-1174)
  tests/hash-playwright/tests/features/types-page.spec.ts
Due: biome

Make link target entity types honest and guard consumers (FE-1172)
  .changeset/fe-1172-optional-link-targets.md
  apps/hash-api/src/graphql/resolvers/knowledge/org/shared.ts
  apps/hash-frontend/src/components/hooks/use-account-pages.ts
  apps/hash-frontend/src/lib/user-and-org.ts
  apps/hash-frontend/src/pages/notifications.page/notifications-with-links-context.tsx
  apps/hash-frontend/src/pages/settings/integrations/linear/use-linear-integrations.ts
  apps/hash-frontend/src/pages/shared/block-collection-contents.ts
  apps/hash-frontend/src/pages/shared/block-collection/block-context-menu/block-select-data-modal.tsx
  apps/hash-frontend/src/pages/shared/block-collection/mention-view/mention-display.tsx
  apps/hash-frontend/src/pages/shared/block-collection/shared/mention-suggester.tsx
  apps/hash-frontend/src/pages/shared/claims-table.tsx
  apps/hash-frontend/src/pages/shared/entity/entity-editor/links-section/incoming-links-section.tsx
  apps/hash-frontend/src/pages/shared/entity/entity-editor/links-section/incoming-links-section/incoming-links-table.tsx
  apps/hash-frontend/src/pages/shared/entity/entity-editor/links-section/outgoing-links-section/readonly-outgoing-links-table.tsx
  apps/hash-frontend/src/pages/shared/entity/entity-editor/links-section/outgoing-links-section/use-rows.ts
  apps/hash-frontend/src/pages/shared/entity/get-entity-multi-type-dependencies.ts
  apps/hash-frontend/src/pages/shared/use-flow-runs-usage.ts
  apps/plugin-browser/src/shared/get-user.ts
  libs/@blockprotocol/graph/src/stdlib/subgraph/edge/link-entity.ts
  libs/@blockprotocol/graph/src/types/entity.ts
  libs/@local/hash-isomorphic-utils/src/save.ts
  libs/@local/hash-isomorphic-utils/src/service-usage.ts
Due: markdownlint, biome

feat: finish the python experiment
  Cargo.lock
  Cargo.toml
  libs/@local/graph/atlas/Cargo.toml
  libs/@local/graph/atlas/LICENSE.md
  libs/@local/graph/atlas/docs/dependency-diagram.mmd
  libs/@local/graph/atlas/package.json
  libs/@local/graph/atlas/src/lib.rs
  tools/embedding2d/README.md
  tools/embedding2d/app/contours.py
  tools/embedding2d/app/farfield.py
  tools/embedding2d/app/regions.py
  tools/embedding2d/demo/app.js
  tools/embedding2d/plot_types.py
  tools/embedding2d/prepare_demo.py
  tools/embedding2d/pyproject.toml
  tools/embedding2d/render_farfield.py
  tools/embedding2d/render_regions.py
  tools/embedding2d/render_starfield.py
  tools/embedding2d/uv.lock
  yarn.lock
Due: markdownlint, biome, yarn, rust, toml

Fix slide-over oscillating horizontally by measuring scrollbar size at scroll-lock time
  apps/hash-frontend/src/shared/use-scroll-lock.ts
Due: biome

Redesign migration Context/Transaction traits around an IntoFuture transaction builder
  libs/@local/graph/migrations/graph-migrations/v001__extensions/mod.rs
  libs/@local/graph/migrations/graph-migrations/v002__principals/mod.rs
  libs/@local/graph/migrations/graph-migrations/v003__policies/mod.rs
  libs/@local/graph/migrations/graph-migrations/v004__webs/mod.rs
  libs/@local/graph/migrations/graph-migrations/v005__common_ontology/mod.rs
  libs/@local/graph/migrations/graph-migrations/v006__data_types/mod.rs
  libs/@local/graph/migrations/graph-migrations/v007__property_types/mod.rs
  libs/@local/graph/migrations/graph-migrations/v008__entity_types/mod.rs
  libs/@local/graph/migrations/graph-migrations/v009__entities/mod.rs
  libs/@local/graph/migrations/graph-migrations/v010__query/mod.rs
  libs/@local/graph/migrations/src/context.rs
  libs/@local/graph/migrations/src/lib.rs
  libs/@local/graph/migrations/src/migration.rs
  libs/@local/graph/migrations/src/postgres.rs
Due: rust

Add a configurable transaction builder to PostgresStore
  apps/hash-graph/docs/dependency-diagram.mmd
  libs/@local/graph/api/docs/dependency-diagram.mmd
  libs/@local/graph/migrations-macros/docs/dependency-diagram.mmd
  libs/@local/graph/migrations/docs/dependency-diagram.mmd
  libs/@local/graph/postgres-store/Cargo.toml
  libs/@local/graph/postgres-store/docs/dependency-diagram.mmd
  libs/@local/graph/postgres-store/package.json
  libs/@local/graph/postgres-store/src/store/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/pool.rs
  libs/@local/graph/test-server/docs/dependency-diagram.mmd
  libs/@local/hashql/ast/docs/dependency-diagram.mmd
  libs/@local/hashql/compiletest/docs/dependency-diagram.mmd
  libs/@local/hashql/eval/docs/dependency-diagram.mmd
  libs/@local/hashql/hir/docs/dependency-diagram.mmd
  libs/@local/hashql/mir/docs/dependency-diagram.mmd
  libs/@local/hashql/syntax-jexpr/docs/dependency-diagram.mmd
  libs/@local/telemetry/docs/dependency-diagram.mmd
Due: biome, yarn, rust, toml

Run query_entity_subgraph in a single READ ONLY, REPEATABLE READ transaction (BE-644)
  libs/@local/graph/api/src/rest/entity/query/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/store/src/entity/store.rs
  libs/@local/graph/type-fetcher/src/store.rs
  tests/graph/benches/manual_queries/entity_queries/mod.rs
  tests/graph/benches/read_scaling/knowledge/complete/entity.rs
  tests/graph/benches/representative_read/knowledge/entity.rs
  tests/graph/benches/representative_read/lib.rs
  tests/graph/integration/postgres/lib.rs
  tests/graph/integration/postgres/sorting.rs
  tests/graph/integration/postgres/transaction.rs
Due: rust

Address review feedback: robust test server URL and run ID in workflow result errors
  libs/@local/temporal-client/src/error.rs
  libs/@local/temporal-client/src/workflow.rs
  libs/@local/temporal-client/tests/echo.rs
Due: rust
