Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    biome:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: biome format --write --staged || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: rustfmt {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: taplo format {staged_files} || true
      stage_fixed: true

Constraints prototype: runs-held tags, last experiment and failure strip
  libs/@hashintel/petrinaut/controller-prototype/main.tsx
  libs/@hashintel/petrinaut/src/ui/controller-prototype/constraint-panel.tsx
  libs/@hashintel/petrinaut/src/ui/controller-prototype/constraint-results-example.ts
  libs/@hashintel/petrinaut/src/ui/controller-prototype/constraint-results.tsx
  libs/@hashintel/petrinaut/src/ui/controller-prototype/constraint-tree.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/LeftSideBar/subviews/entities-tree.tsx
Due: biome

Refine interview level notes and preserve blank dock status space
  .changeset/interview-budget-controls.md
  apps/petrinaut-website/src/main/app/local-storage-demo/interview-budget-control.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/interview-budget-control.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/src/ui/petrinaut.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.tsx
Due: markdownlint, biome

Remove redundant wording from Off transcript notes
  apps/petrinaut-website/src/main/app/local-storage-demo/interview-budget-control.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/interview-budget-control.tsx
Due: biome

Remove the selected interview level underline
  apps/petrinaut-website/src/main/app/local-storage-demo/interview-budget-control.tsx
Due: biome

Restore the compact Voice dock height
  .changeset/interview-budget-controls.md
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.tsx
Due: markdownlint, biome

Rename the interview control to Conversation depth
  apps/petrinaut-website/src/main/app/local-storage-demo/interview-budget-control.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/interview-budget-control.tsx
  libs/@hashintel/petrinaut/docs/ai-assistant.md
Due: markdownlint, biome

Simplify the interview control label to Detail level
  apps/petrinaut-website/src/main/app/local-storage-demo/interview-budget-control.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/interview-budget-control.tsx
  libs/@hashintel/petrinaut/docs/ai-assistant.md
Due: markdownlint, biome

Label the interview control Interview length
  apps/petrinaut-website/src/main/app/local-storage-demo/interview-budget-control.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/interview-budget-control.tsx
  libs/@hashintel/petrinaut/docs/ai-assistant.md
Due: markdownlint, biome

Simplify interview length descriptions
  apps/petrinaut-website/src/main/app/local-storage-demo/interview-budget-control.test.tsx
  apps/petrinaut-website/src/shared/interview-budget.ts
Due: biome

Gate interview length behind Brunch Labs
  apps/petrinaut-website/src/main/app/local-storage-demo/assistant-labs-settings.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/assistant-labs-settings.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/voice-preference.ts
  libs/@hashintel/petrinaut/docs/ai-assistant.md
Due: markdownlint, biome

Move interview length to the leading composer edge
  .changeset/interview-budget-controls.md
  apps/petrinaut-website/src/main/app/local-storage-demo/interview-budget-control.tsx
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/voice-dock.tsx
Due: markdownlint, biome

Clarify interview length descriptions and progress copy
  apps/petrinaut-website/src/main/app/local-storage-demo/interview-budget-control.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/interview-budget-control.tsx
  apps/petrinaut-website/src/shared/interview-budget.test.ts
  apps/petrinaut-website/src/shared/interview-budget.ts
  libs/@hashintel/petrinaut/docs/ai-assistant.md
Due: markdownlint, biome

Clarify interview length feedback and accessible context
  apps/petrinaut-website/src/main/app/local-storage-demo/interview-budget-control.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/interview-budget-control.tsx
Due: biome

Use the Interview length term in model instructions and skill guidance
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation.ts
  apps/petrinaut-website/src/server/voice/openai-live-session.ts
  apps/petrinaut-website/src/shared/interview-budget.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/interview-budget.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/skills/sdcpn-modelling/SKILL.md
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.test.tsx
Due: markdownlint, biome

SRE-1115: Allow MSRV-incompatible dependency versions in the resolver
  .cargo/config.toml
Due: toml

Disallow zero ontology type versions
  .changeset/nonzero-ontology-versions.md
  apps/hash-frontend/src/pages/shared/data-type.tsx
  apps/hash-frontend/src/pages/shared/data-type/data-type-header.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/edit-bar-type-editor.test.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/edit-bar-type-editor.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/shared/entity-type-header.tsx
  apps/hash-frontend/src/pages/shared/entity-type.tsx
  libs/@blockprotocol/type-system/rust/src/ontology/id/mod.rs
  libs/@blockprotocol/type-system/typescript/src/native/url.ts
  libs/@blockprotocol/type-system/typescript/test/url.test.ts
  libs/@local/graph/api/src/rest/legacy/data_type.rs
  libs/@local/graph/api/src/rest/legacy/entity_type.rs
  libs/@local/graph/api/src/rest/legacy/property_type.rs
  libs/@local/graph/api/src/rest/legacy/utoipa_typedef/subgraph/edges.rs
  libs/@local/graph/authorization/rust/src/policies/cedar/expression_tree.rs
  libs/@local/graph/authorization/rust/src/policies/resource/data_type.rs
  libs/@local/graph/authorization/rust/src/policies/resource/entity_type.rs
  libs/@local/graph/authorization/rust/src/policies/resource/property_type.rs
  libs/@local/graph/postgres-store/src/snapshot/ontology/data_type/channel.rs
  libs/@local/graph/postgres-store/src/snapshot/ontology/entity_type/channel.rs
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/data_type.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/entity_type.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/property_type.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/compile/tests.rs
  libs/@local/graph/postgres-store/tests/deletion/main.rs
  libs/@local/graph/store/rust/src/filter/mod.rs
  tests/graph/integration/postgres/clustering.rs
  tests/graph/integration/postgres/drafts.rs
  tests/graph/integration/postgres/email_filter_protection.rs
  tests/graph/integration/postgres/entity.rs
  tests/graph/integration/postgres/links.rs
  tests/graph/integration/postgres/read_only.rs
  tests/graph/integration/postgres/semantic_search.rs
  tests/graph/integration/postgres/sorting.rs
  tests/graph/integration/postgres/table.rs
  tests/graph/test-data/rust/src/seeding/producer/data_type.rs
  tests/graph/test-data/rust/src/seeding/producer/entity_type.rs
  tests/graph/test-data/rust/src/seeding/producer/property_type.rs
Due: markdownlint, biome, rust

feat: 🫡
  .github/labeler.yml
  Cargo.lock
  Cargo.toml
  libs/README.md
  libs/antsi/Cargo.toml
  libs/antsi/LICENSE-APACHE.md
  libs/antsi/LICENSE-MIT.md
  libs/antsi/LICENSE.md
  libs/antsi/README.md
  libs/antsi/build.rs
  libs/antsi/docs/task-dependencies.json
  libs/antsi/src/color.rs
  libs/antsi/src/decorations.rs
  libs/antsi/src/font.rs
  libs/antsi/src/lib.rs
  libs/antsi/turbo.json
Due: markdownlint, biome, rust, toml

H-5544: Remove antsi (#9892)
  .github/labeler.yml
  Cargo.lock
  Cargo.toml
  libs/README.md
  libs/antsi/Cargo.toml
  libs/antsi/LICENSE-APACHE.md
  libs/antsi/LICENSE-MIT.md
  libs/antsi/LICENSE.md
  libs/antsi/README.md
  libs/antsi/build.rs
  libs/antsi/docs/task-dependencies.json
  libs/antsi/src/color.rs
  libs/antsi/src/decorations.rs
  libs/antsi/src/font.rs
  libs/antsi/src/lib.rs
  libs/antsi/turbo.json
Due: markdownlint, biome, rust, toml

Add the hash-integrations app scaffold
  .github/labeler.yml
  Cargo.lock
  Cargo.toml
  apps/README.md
  apps/hash-integrations/Cargo.toml
  apps/hash-integrations/LICENSE.md
  apps/hash-integrations/README.md
  apps/hash-integrations/docs/dependency-diagram.mmd
  apps/hash-integrations/docs/task-dependencies.json
  apps/hash-integrations/src/args.rs
  apps/hash-integrations/src/main.rs
  apps/hash-integrations/src/subcommand/completions.rs
  apps/hash-integrations/src/subcommand/mod.rs
  apps/hash-integrations/turbo.json
  libs/@local/telemetry/docs/dependency-diagram.mmd
Due: markdownlint, biome, rust, toml

Update the durable kernel README for the current traits
  libs/@local/durable-kernel/README.md
Due: markdownlint, biome

BE-828: Add the hash-integrations app scaffold (#9867)
  .github/labeler.yml
  Cargo.lock
  Cargo.toml
  apps/README.md
  apps/hash-integrations/Cargo.toml
  apps/hash-integrations/LICENSE.md
  apps/hash-integrations/README.md
  apps/hash-integrations/docs/dependency-diagram.mmd
  apps/hash-integrations/docs/task-dependencies.json
  apps/hash-integrations/src/args.rs
  apps/hash-integrations/src/main.rs
  apps/hash-integrations/src/subcommand/completions.rs
  apps/hash-integrations/src/subcommand/mod.rs
  apps/hash-integrations/turbo.json
  libs/@local/durable-kernel/README.md
  libs/@local/telemetry/docs/dependency-diagram.mmd
Due: markdownlint, biome, rust, toml

Prove the Flue AI SDK transport against the AI SDK reducer and real Flue history
  libs/@local/flue-aisdk-transport/.oxlintrc.json
  libs/@local/flue-aisdk-transport/package.json
  libs/@local/flue-aisdk-transport/src/ai-sdk-compatibility/flue-harness.ts
  libs/@local/flue-aisdk-transport/src/ai-sdk-compatibility/live-reopen-parity.test.ts
  libs/@local/flue-aisdk-transport/src/client/chat-transport.test.ts
  libs/@local/flue-aisdk-transport/src/client/ui-stream.test.ts
  libs/@local/flue-aisdk-transport/src/shared/ai-sdk-oracle.test.ts
  libs/@local/flue-aisdk-transport/src/shared/ai-sdk-oracle.ts
  yarn.lock
Due: biome, yarn

Carry Flue response metadata into live and reopened AI SDK messages
  libs/@local/flue-aisdk-transport/src/ai-sdk-compatibility/live-reopen-parity.test.ts
  libs/@local/flue-aisdk-transport/src/client/transcript.ts
  libs/@local/flue-aisdk-transport/src/client/ui-stream.test.ts
  libs/@local/flue-aisdk-transport/src/client/ui-stream.ts
Due: biome

Prove the Flue AI SDK transport against upstream reducer and chat cases
  libs/@local/flue-aisdk-transport/README.md
  libs/@local/flue-aisdk-transport/src/ai-sdk-compatibility/chat.test.ts
  libs/@local/flue-aisdk-transport/src/ai-sdk-compatibility/flue-harness.ts
  libs/@local/flue-aisdk-transport/src/ai-sdk-compatibility/live-reopen-parity.test.ts
  libs/@local/flue-aisdk-transport/src/ai-sdk-compatibility/test-chat.ts
  libs/@local/flue-aisdk-transport/src/ai-sdk-compatibility/upstream-reducer-cases.test.ts
  libs/@local/flue-aisdk-transport/src/client/ui-stream.test.ts
Due: markdownlint, biome

Keep a live tool subscriber that joins after a full retained window
  libs/@local/flue-aisdk-transport/src/server/live-tool-broadcaster.test.ts
  libs/@local/flue-aisdk-transport/src/server/live-tool-broadcaster.ts
  libs/@local/flue-aisdk-transport/src/server/live-tool-response.test.ts
Due: biome

Give Petrinaut AI message metadata a runtime schema
  .changeset/ai-message-metadata-schema-core.md
  .changeset/ai-message-metadata-schema-panel.md
  libs/@hashintel/petrinaut-core/src/ai.ts
  libs/@hashintel/petrinaut-core/src/index.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/types.ts
Due: markdownlint, biome

Give hosts a typed Flue AI SDK adapter that owns message metadata
  apps/brunch-agent/test/admission-voice-evidence.ts
  apps/brunch-agent/test/integration/admission-controls.integration.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-flue-adapter.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-panel-transport.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-panel-transport.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-panel-transport/submitted-user-message.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-panel-transport/submitted-user-message.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/live-pending-tool.integration.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/use-flue-chat-history.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/use-flue-chat-history.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/voice-history-continuity.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/workpiece-refusal-presentation.integration.test.tsx
  apps/petrinaut-website/src/main/app/voice-interview/buffered-admission.integration.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-browser-tools.test.tsx
  libs/@hashintel/brunch-agent/packages/core/src/client-tools.ts
  libs/@hashintel/brunch-agent/packages/core/src/client-tools/message-metadata.ts
  libs/@hashintel/brunch-agent/packages/core/test/message-metadata.test.ts
  libs/@local/flue-aisdk-transport/src/ai-sdk-compatibility/chat.test.ts
  libs/@local/flue-aisdk-transport/src/ai-sdk-compatibility/flue-harness.ts
  libs/@local/flue-aisdk-transport/src/ai-sdk-compatibility/live-reopen-parity.test.ts
  libs/@local/flue-aisdk-transport/src/ai-sdk-compatibility/metadata-contract.test.ts
  libs/@local/flue-aisdk-transport/src/ai-sdk-compatibility/upstream-reducer-cases.test.ts
  libs/@local/flue-aisdk-transport/src/client.ts
  libs/@local/flue-aisdk-transport/src/client/chat-transport.test.ts
  libs/@local/flue-aisdk-transport/src/client/chat-transport.ts
  libs/@local/flue-aisdk-transport/src/client/flue-ai-sdk-adapter.ts
  libs/@local/flue-aisdk-transport/src/client/live-tool-stream.ts
  libs/@local/flue-aisdk-transport/src/client/shared/metadata-projection.ts
  libs/@local/flue-aisdk-transport/src/client/transcript.test.ts
  libs/@local/flue-aisdk-transport/src/client/transcript.ts
  libs/@local/flue-aisdk-transport/src/client/ui-stream.ts
  libs/@local/flue-aisdk-transport/src/server.ts
  libs/@local/flue-aisdk-transport/src/shared/live-tool-event.ts
Due: biome

Bind the Flue AI SDK transport's types to their upstream owners
  libs/@local/flue-aisdk-transport/src/ai-sdk-compatibility/metadata-contract.test.ts
  libs/@local/flue-aisdk-transport/src/ai-sdk-compatibility/upstream-reducer-cases.test.ts
  libs/@local/flue-aisdk-transport/src/client/ui-stream.ts
  libs/@local/flue-aisdk-transport/src/server/live-tool-broadcaster.ts
  libs/@local/flue-aisdk-transport/src/shared/ai-sdk-oracle.ts
  libs/@local/flue-aisdk-transport/src/shared/live-tool-event.ts
Due: biome

Make the Flue AI SDK transport's conventions explicit and product-neutral
  .config/oxlint/base.json
  .config/oxlint/brunch/react.json
  apps/brunch-agent/src/app.ts
  apps/brunch-agent/test/live-tool-route.test.ts
  libs/@hashintel/brunch-agent/packages/core/.oxlintrc.json
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/.oxlintrc.json
  libs/@local/flue-aisdk-transport/.oxlintrc.json
  libs/@local/flue-aisdk-transport/src/ai-sdk-compatibility/chat.test.ts
  libs/@local/flue-aisdk-transport/src/client/chat-transport.test.ts
  libs/@local/flue-aisdk-transport/src/client/live-tool-stream.test.ts
  libs/@local/flue-aisdk-transport/src/client/ui-stream.test.ts
  libs/@local/flue-aisdk-transport/src/server/live-tool-broadcaster.test.ts
  libs/@local/flue-aisdk-transport/src/server/live-tool-response.test.ts
  libs/@local/flue-aisdk-transport/src/shared/ai-sdk-oracle.ts
Due: biome

Align the Flue AI SDK compatibility cases with their upstream sources
  libs/@local/flue-aisdk-transport/src/ai-sdk-compatibility/chat.test.ts
  libs/@local/flue-aisdk-transport/src/ai-sdk-compatibility/live-reopen-parity.test.ts
  libs/@local/flue-aisdk-transport/src/ai-sdk-compatibility/upstream-reducer-cases.test.ts
  libs/@local/flue-aisdk-transport/src/shared/ai-sdk-oracle.ts
Due: biome

Document the Flue AI SDK adapter's host contract and compatibility decisions
  libs/@hashintel/brunch-agent/README.md
  libs/@local/flue-aisdk-transport/README.md
Due: markdownlint, biome

Remove repeated Flue AI SDK transport tests and exports
  apps/brunch-agent/test/live-tool-route.test.ts
  libs/@local/flue-aisdk-transport/src/ai-sdk-compatibility/live-reopen-parity.test.ts
  libs/@local/flue-aisdk-transport/src/client.ts
  libs/@local/flue-aisdk-transport/src/server/live-tool-response.test.ts
  libs/@local/flue-aisdk-transport/src/shared/ai-sdk-oracle.ts
Due: biome

Keep the Flue AI SDK transport's test harness and oracle out of src
  libs/@local/flue-aisdk-transport/.oxlintrc.json
  libs/@local/flue-aisdk-transport/README.md
  libs/@local/flue-aisdk-transport/src/client/chat-transport.test.ts
  libs/@local/flue-aisdk-transport/src/client/ui-stream.test.ts
  libs/@local/flue-aisdk-transport/test/ai-sdk-oracle.test.ts
  libs/@local/flue-aisdk-transport/test/ai-sdk-oracle.ts
  libs/@local/flue-aisdk-transport/test/chat.test.ts
  libs/@local/flue-aisdk-transport/test/flue-harness.ts
  libs/@local/flue-aisdk-transport/test/live-reopen-parity.test.ts
  libs/@local/flue-aisdk-transport/test/metadata-contract.test.ts
  libs/@local/flue-aisdk-transport/test/test-chat.ts
  libs/@local/flue-aisdk-transport/test/upstream-reducer-cases.test.ts
  libs/@local/flue-aisdk-transport/tsconfig.json
  libs/@local/flue-aisdk-transport/vite.config.ts
Due: markdownlint, biome

Keep Brunch's metadata schema out of Petrinaut
  .changeset/ai-message-metadata-schema-core.md
  .changeset/ai-message-metadata-schema-panel.md
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-flue-adapter.ts
  libs/@hashintel/petrinaut-core/src/ai.ts
  libs/@hashintel/petrinaut-core/src/index.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/types.ts
Due: markdownlint, biome

Let the Brunch libraries depend on unpublished @local packages
  libs/@hashintel/brunch-agent/packages/core/.oxlintrc.json
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/.oxlintrc.json
Due: biome

Keep the Flue AI SDK transport's client and server entries from importing each other
  libs/@local/flue-aisdk-transport/.oxlintrc.json
Due: biome

Prove Brunch's stop marker composes with Petrinaut's metadata schema
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-flue-adapter.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-flue-adapter.ts
Due: biome

Assert live and reopen parity in every real Flue case and record the remaining decisions
  libs/@local/flue-aisdk-transport/README.md
  libs/@local/flue-aisdk-transport/test/ai-sdk-oracle.test.ts
  libs/@local/flue-aisdk-transport/test/flue-harness.ts
  libs/@local/flue-aisdk-transport/test/live-reopen-parity.test.ts
  libs/@local/flue-aisdk-transport/test/metadata-contract.test.ts
  libs/@local/flue-aisdk-transport/test/upstream-reducer-cases.test.ts
Due: markdownlint, biome

Type reopened Flue history as the adapter's message type
  apps/petrinaut-website/src/main/app/local-storage-demo/use-flue-chat-history.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/workpiece-refusal-presentation.integration.test.tsx
  libs/@local/flue-aisdk-transport/README.md
  libs/@local/flue-aisdk-transport/src/client/flue-ai-sdk-adapter.ts
Due: markdownlint, biome
