Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    biome:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: biome format --write --staged || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: rustfmt {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: taplo format {staged_files} || true
      stage_fixed: true

Check in the optimizer core library's turbo task dependencies
  apps/petrinaut-opt/docs/task-dependencies.json
  libs/@local/petrinaut-optimizer-core/docs/task-dependencies.json
Due: biome

Scale the TPE start-up trials to the study's step count
  libs/@local/petrinaut-optimizer-core/src/petrinaut_optimizer_core/__init__.py
  libs/@local/petrinaut-optimizer-core/src/petrinaut_optimizer_core/study.py
  libs/@local/petrinaut-optimizer-core/tests/test_study.py
Due: none

FE-1569: Add durable Brunch storage and telemetry (#9487)
  apps/brunch-agent/README.md
  apps/brunch-agent/docs/task-dependencies.json
  apps/brunch-agent/package.json
  apps/brunch-agent/src/app.ts
  apps/brunch-agent/src/database-config.ts
  apps/brunch-agent/src/db.ts
  apps/brunch-agent/src/deployment-smoke-validation.ts
  apps/brunch-agent/src/deployment-smoke.ts
  apps/brunch-agent/src/postgres.ts
  apps/brunch-agent/src/rds-iam-probe.ts
  apps/brunch-agent/src/telemetry-bootstrap.ts
  apps/brunch-agent/src/telemetry.ts
  apps/brunch-agent/test/architecture/boundaries.integration.ts
  apps/brunch-agent/test/build-artifact.test.ts
  apps/brunch-agent/test/container-smoke.ts
  apps/brunch-agent/test/database-config.test.ts
  apps/brunch-agent/test/deployment-smoke-validation.test.ts
  apps/brunch-agent/test/integration/health.test.ts
  apps/brunch-agent/test/postgres.test.ts
  apps/brunch-agent/test/telemetry.test.ts
  apps/brunch-agent/turbo.json
  apps/brunch-agent/vitest.config.ts
  apps/brunch-agent/vitest.integration.config.ts
  libs/@hashintel/brunch-agent/docs/evidence/implementations/mission-8-deployment-handoff.md
  turbo.json
  yarn.lock
Due: markdownlint, biome, yarn

Wait for every browser tool before continuing
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
Due: biome

Cut Mission 6b Voice reconciliation authority
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/MISSION.next.md
  libs/@hashintel/brunch-agent/docs/mission-archive/6-resumable-workpiece-petrinaut.md
Due: markdownlint, biome

Complete the source import test joins and provenance record
  apps/brunch-agent/test/architecture/boundaries.integration.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.test.tsx
  apps/petrinaut-website/src/main/app/voice-interview/voice-preview.integration.test.ts
  libs/@hashintel/brunch-agent/docs/evidence/implementations/voice-resumable-reconciliation/import.md
  libs/@hashintel/brunch-agent/packages/transport-aisdk/test/chat-transport.test.ts
Due: markdownlint, biome

Record Mission 6b verification and unresolved acceptance boundaries
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/docs/evidence/implementations/voice-resumable-reconciliation/verification.md
Due: markdownlint, biome

Reconcile browser tool ownership with Voice termination and canonical history
  .changeset/flue-voice-safety.md
  apps/petrinaut-website/README.md
  apps/petrinaut-website/src/main/app/voice-interview/realtime-brunch-bridge.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-browser-tools.integration.test.tsx
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-control.tsx
  apps/petrinaut-website/src/main/app/voice-interview/voice-turn-controller.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/src/index.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/src/transcript.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/test/chat-transport.test.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/test/transcript.test.ts
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/src/ui/types/ai-assistant-composer-control.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/types.ts
Due: markdownlint, biome

Keep browser tool continuations causal
  libs/@hashintel/brunch-agent/packages/transport-aisdk/test/chat-transport.test.ts
Due: biome

Require explicit evidence before fixture mutation
  apps/petrinaut-website/src/main/app/local-storage-demo/prepared-crew-reservation-fixture.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/prepared-crew-reservation-fixture.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/flue.ts
Due: biome

Record authorization for the review-only Mission 7 restack
  libs/@hashintel/brunch-agent/MISSION.md
Due: markdownlint, biome

Refresh Mission 6b pins after the verified main restack
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/docs/evidence/implementations/voice-resumable-reconciliation/main-restack.md
Due: markdownlint, biome

Stabilize Voice tracker adapters across renders
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
Due: biome

Accept Mission 6b with explicit limitations
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/MISSION.next.md
  libs/@hashintel/brunch-agent/docs/evidence/implementations/voice-resumable-reconciliation/owner-witness-2026-09-07/canonical-summary.json
  libs/@hashintel/brunch-agent/docs/evidence/implementations/voice-resumable-reconciliation/owner-witness-2026-09-07/failed-cumulative-results.png
  libs/@hashintel/brunch-agent/docs/evidence/implementations/voice-resumable-reconciliation/owner-witness-2026-09-07/passing-negative-control.png
  libs/@hashintel/brunch-agent/docs/evidence/implementations/voice-resumable-reconciliation/owner-witness-2026-09-07/witness.md
  libs/@hashintel/brunch-agent/docs/evidence/implementations/voice-resumable-reconciliation/verification.md
Due: markdownlint, biome

Remove the duplicate causal-result regression
  libs/@hashintel/brunch-agent/packages/transport-aisdk/test/chat-transport.test.ts
Due: biome

Preserve batched continuations through effect replay
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
Due: biome

Better webkit gate
  .changeset/ds-components-scrollbar-defaults.md
  .changeset/petrinaut-scrollbar-styling.md
  apps/hash-frontend/src/pages/_app.page.tsx
  libs/@hashintel/ds-components/.ladle/components.tsx
  libs/@hashintel/ds-components/src/preset/scrollbars.ts
  libs/@hashintel/ds-components/src/util/css-mixins.ts
  libs/@hashintel/ds-components/src/util/use-custom-scrollbar-ui.ts
  libs/@hashintel/petrinaut/src/ui/petrinaut.tsx
  libs/@hashintel/petrinaut/src/ui/preview/petrinaut-preview.tsx
Due: markdownlint, biome

Fix Voice interruption retention and VAD eagerness
  apps/petrinaut-website/src/main/app/voice-interview/realtime-brunch-bridge.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/realtime-brunch-bridge.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-preview.integration.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-turn-controller.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-turn-controller.ts
  apps/petrinaut-website/src/server/voice/openai-realtime-call.test.ts
  apps/petrinaut-website/src/server/voice/openai-voice-policy.test.ts
  apps/petrinaut-website/src/server/voice/openai-voice-policy.ts
  libs/@hashintel/brunch-agent/docs/adr/0009-openai-voice-ui-turn-shell.md
Due: markdownlint, biome

Prepare split-ownership Voice mission proposal
  libs/@hashintel/brunch-agent/MISSION.next.md
  libs/@hashintel/brunch-agent/docs/mission-drafts/voice-runtime-ownership-conversion.md
  libs/@hashintel/brunch-agent/docs/mission-drafts/voice-runtime-ownership.md
Due: markdownlint, biome

Clarify Voice prerequisite and no-wake proof gates
  libs/@hashintel/brunch-agent/docs/mission-drafts/voice-runtime-ownership-conversion.md
Due: markdownlint, biome

Address Brunch deployment review feedback
  apps/brunch-agent/README.md
  apps/brunch-agent/docs/task-dependencies.json
  apps/brunch-agent/package.json
  apps/brunch-agent/src/database-config.ts
  apps/brunch-agent/src/db.ts
  apps/brunch-agent/src/postgres.ts
  apps/brunch-agent/src/telemetry.ts
  apps/brunch-agent/test/database-config.test.ts
  apps/brunch-agent/test/postgres.test.ts
  apps/brunch-agent/test/telemetry.test.ts
  yarn.lock
Due: markdownlint, biome, yarn

FE-1625: Make the merged Brunch image deployable on ECS
  apps/brunch-agent/README.md
  apps/brunch-agent/docker/Dockerfile
  apps/brunch-agent/docs/task-dependencies.json
  apps/brunch-agent/package.json
  apps/brunch-agent/src/db.ts
  apps/brunch-agent/src/deployment-smoke-validation.ts
  apps/brunch-agent/src/deployment-smoke.ts
  apps/brunch-agent/src/postgres.ts
  apps/brunch-agent/src/rds-iam-probe.ts
  apps/brunch-agent/src/telemetry-bootstrap.ts
  apps/brunch-agent/src/telemetry.ts
  apps/brunch-agent/test/architecture/boundaries.integration.ts
  apps/brunch-agent/test/container-smoke.ts
  apps/brunch-agent/test/deployment-smoke-validation.test.ts
  apps/brunch-agent/test/postgres.test.ts
  apps/brunch-agent/test/telemetry.test.ts
  libs/@hashintel/brunch-agent/docs/evidence/implementations/mission-8-deployment-handoff.md
  libs/@local/hash-backend-utils/src/opentelemetry.ts
  yarn.lock
Due: markdownlint, biome, yarn

FE-1625: Build the Brunch image with the API toolchain
  apps/brunch-agent/docker/Dockerfile
  apps/brunch-agent/src/deployment-smoke-validation.ts
  apps/brunch-agent/test/deployment-smoke-validation.test.ts
Due: biome

Prepare Flue recording request with executable baseline evidence
  libs/@hashintel/brunch-agent/docs/evidence/implementations/voice-runtime-ownership/flue-baseline.json
  libs/@hashintel/brunch-agent/docs/evidence/implementations/voice-runtime-ownership/flue-baseline.md
  libs/@hashintel/brunch-agent/docs/evidence/implementations/voice-runtime-ownership/flue-baseline.mjs
  libs/@hashintel/brunch-agent/docs/mission-drafts/flue-external-recording-request.md
  libs/@hashintel/brunch-agent/docs/mission-drafts/voice-runtime-ownership-conversion.md
Due: markdownlint, biome

H-4170: Load optional TOML files in hash-config (#9566)
  libs/@local/config/src/error.rs
  libs/@local/config/src/file.rs
  libs/@local/config/src/lib.rs
  libs/@local/config/tests/files.rs
Due: rust

BE-834: Correct source attribution in hash-config diagnostics (#9567)
  libs/@local/config/src/defaults.rs
  libs/@local/config/src/error.rs
  libs/@local/config/src/lib.rs
  libs/@local/config/tests/files.rs
  libs/@local/config/tests/snapshots/files__provenance_array_base.snap
  libs/@local/config/tests/snapshots/files__provenance_array_override.snap
  libs/@local/config/tests/snapshots/files__provenance_defaults_source.snap
  libs/@local/config/tests/snapshots/files__provenance_missing_field.snap
  libs/@local/config/tests/snapshots/files__provenance_scalar_base.snap
  libs/@local/config/tests/snapshots/files__provenance_scalar_override.snap
Due: rust

FE-1625: Make the merged Brunch image deployable on ECS (#9573)
  apps/brunch-agent/README.md
  apps/brunch-agent/docker/Dockerfile
  apps/brunch-agent/docs/task-dependencies.json
  apps/brunch-agent/package.json
  apps/brunch-agent/src/db.ts
  apps/brunch-agent/src/deployment-smoke-validation.ts
  apps/brunch-agent/src/deployment-smoke.ts
  apps/brunch-agent/src/postgres.ts
  apps/brunch-agent/src/rds-iam-probe.ts
  apps/brunch-agent/src/telemetry-bootstrap.ts
  apps/brunch-agent/src/telemetry.ts
  apps/brunch-agent/test/architecture/boundaries.integration.ts
  apps/brunch-agent/test/container-smoke.ts
  apps/brunch-agent/test/deployment-smoke-validation.test.ts
  apps/brunch-agent/test/postgres.test.ts
  apps/brunch-agent/test/telemetry.test.ts
  libs/@hashintel/brunch-agent/docs/evidence/implementations/mission-8-deployment-handoff.md
  libs/@local/hash-backend-utils/src/opentelemetry.ts
  yarn.lock
Due: markdownlint, biome, yarn

Give Codex the dev servers Claude Code already has
  .codex/environment.toml
Due: toml

Fix Codex actions and allocate dev ports
  .codex/environment.toml
  .codex/run-with-auto-port.mjs
Due: biome, toml

Prefer standard ports for Codex actions
  .codex/environment.toml
  .codex/run-with-auto-port.mjs
Due: biome, toml

Trim the optimizer core library after review
  apps/petrinaut-opt/AGENTS.md
  apps/petrinaut-opt/README.md
  apps/petrinaut-opt/src/petrinaut_optimizer.py
  libs/@local/petrinaut-optimizer-core/AGENTS.md
  libs/@local/petrinaut-optimizer-core/README.md
  libs/@local/petrinaut-optimizer-core/package.json
  libs/@local/petrinaut-optimizer-core/pyproject.toml
  libs/@local/petrinaut-optimizer-core/src/petrinaut_optimizer_core/__init__.py
  libs/@local/petrinaut-optimizer-core/src/petrinaut_optimizer_core/ask_tell.py
  libs/@local/petrinaut-optimizer-core/src/petrinaut_optimizer_core/description.py
  libs/@local/petrinaut-optimizer-core/src/petrinaut_optimizer_core/pyodide_entry.py
  libs/@local/petrinaut-optimizer-core/src/petrinaut_optimizer_core/study.py
  libs/@local/petrinaut-optimizer-core/tests/test_ask_tell.py
  libs/@local/petrinaut-optimizer-core/tests/test_description.py
  libs/@local/petrinaut-optimizer-core/tests/test_pyodide_entry.py
  libs/@local/petrinaut-optimizer-core/tests/test_runtime_lock.py
  libs/@local/petrinaut-optimizer-core/tests/test_study.py
Due: markdownlint, biome, yarn, toml

Tell a trial before dropping it from cleanup and keep unreported failures out of the counters
  libs/@local/petrinaut-optimizer-core/src/petrinaut_optimizer_core/ask_tell.py
  libs/@local/petrinaut-optimizer-core/tests/test_ask_tell.py
  libs/@local/petrinaut-optimizer-core/tests/test_pyodide_entry.py
Due: none

Extend, release and parallelise browser optimization runs
  .changeset/browser-optimization-runtime.md
  libs/@hashintel/petrinaut-core/src/browser-optimization.ts
  libs/@hashintel/petrinaut-core/src/browser-optimization/browser-optimization.test.ts
  libs/@hashintel/petrinaut-core/src/browser-optimization/browser-optimization.ts
  libs/@hashintel/petrinaut-core/src/browser-optimization/messages.ts
  libs/@hashintel/petrinaut-core/src/browser-optimization/optimizer.worker.ts
  libs/@hashintel/petrinaut-core/src/browser-optimization/run-log.test.ts
  libs/@hashintel/petrinaut-core/src/browser-optimization/run-log.ts
  libs/@hashintel/petrinaut-core/src/browser-optimization/study-runner.pyodide.test.ts
  libs/@hashintel/petrinaut-core/src/browser-optimization/study-runner.ts
  libs/@hashintel/petrinaut-core/src/optimization.ts
  libs/@hashintel/petrinaut-core/src/workers/optimizer.ts
Due: markdownlint, biome

Restructure the browser optimization runtime after review
  .changeset/browser-optimization-runtime.md
  libs/@hashintel/petrinaut-cli/src/commands/built-cli.test.ts
  libs/@hashintel/petrinaut-cli/src/commands/stdio.ts
  libs/@hashintel/petrinaut-cli/src/commands/transports.test.ts
  libs/@hashintel/petrinaut-cli/src/runtime/optimization.test.ts
  libs/@hashintel/petrinaut-cli/src/runtime/optimization.ts
  libs/@hashintel/petrinaut-core/package.json
  libs/@hashintel/petrinaut-core/src/browser-optimization.ts
  libs/@hashintel/petrinaut-core/src/browser-optimization/optimizer.worker.ts
  libs/@hashintel/petrinaut-core/src/index.ts
  libs/@hashintel/petrinaut-core/src/optimization/browser/README.md
  libs/@hashintel/petrinaut-core/src/optimization/browser/browser-optimization.test.ts
  libs/@hashintel/petrinaut-core/src/optimization/browser/browser-optimization.ts
  libs/@hashintel/petrinaut-core/src/optimization/browser/index.ts
  libs/@hashintel/petrinaut-core/src/optimization/browser/messages.ts
  libs/@hashintel/petrinaut-core/src/optimization/browser/pyodide-config.test.ts
  libs/@hashintel/petrinaut-core/src/optimization/browser/pyodide-config.ts
  libs/@hashintel/petrinaut-core/src/optimization/browser/python-sources.ts
  libs/@hashintel/petrinaut-core/src/optimization/browser/run-log.test.ts
  libs/@hashintel/petrinaut-core/src/optimization/browser/run-log.ts
  libs/@hashintel/petrinaut-core/src/optimization/browser/worker/attach-optimizer-worker.test.ts
  libs/@hashintel/petrinaut-core/src/optimization/browser/worker/attach-optimizer-worker.ts
  libs/@hashintel/petrinaut-core/src/optimization/browser/worker/create-optimizer-worker.ts
  libs/@hashintel/petrinaut-core/src/optimization/browser/worker/optimizer.worker.ts
  libs/@hashintel/petrinaut-core/src/optimization/browser/worker/pyodide-like.ts
  libs/@hashintel/petrinaut-core/src/optimization/browser/worker/study-runner.pyodide.test.ts
  libs/@hashintel/petrinaut-core/src/optimization/browser/worker/study-runner.ts
  libs/@hashintel/petrinaut-core/src/optimization/describe.ts
  libs/@hashintel/petrinaut-core/src/optimization/index.ts
  libs/@hashintel/petrinaut-core/src/optimization/optimization.test.ts
  libs/@hashintel/petrinaut-core/src/workers/README.md
  libs/@hashintel/petrinaut-core/src/workers/optimizer.ts
  libs/@hashintel/petrinaut-core/vite.config.ts
  libs/@local/petrinaut-arch-docs/dependency-cruiser.tsconfig.json
Due: markdownlint, biome, yarn

State the continuation test as a sampler-history claim
  libs/@hashintel/petrinaut-core/src/browser-optimization/study-runner.pyodide.test.ts
Due: biome

Add an in-browser optimization runtime to petrinaut-core
  .changeset/browser-optimization-runtime.md
  libs/@hashintel/petrinaut-cli/src/runtime/optimization.ts
  libs/@hashintel/petrinaut-core/.oxlintrc.json
  libs/@hashintel/petrinaut-core/package.json
  libs/@hashintel/petrinaut-core/src/browser-optimization.ts
  libs/@hashintel/petrinaut-core/src/browser-optimization/browser-optimization.test.ts
  libs/@hashintel/petrinaut-core/src/browser-optimization/browser-optimization.ts
  libs/@hashintel/petrinaut-core/src/browser-optimization/create-optimizer-worker.ts
  libs/@hashintel/petrinaut-core/src/browser-optimization/messages.ts
  libs/@hashintel/petrinaut-core/src/browser-optimization/optimizer.worker.ts
  libs/@hashintel/petrinaut-core/src/browser-optimization/pyodide-config.test.ts
  libs/@hashintel/petrinaut-core/src/browser-optimization/pyodide-config.ts
  libs/@hashintel/petrinaut-core/src/browser-optimization/pyodide-like.ts
  libs/@hashintel/petrinaut-core/src/browser-optimization/python-sources.ts
  libs/@hashintel/petrinaut-core/src/browser-optimization/run-log.test.ts
  libs/@hashintel/petrinaut-core/src/browser-optimization/run-log.ts
  libs/@hashintel/petrinaut-core/src/browser-optimization/study-runner.pyodide.test.ts
  libs/@hashintel/petrinaut-core/src/browser-optimization/study-runner.ts
  libs/@hashintel/petrinaut-core/src/environment.ts
  libs/@hashintel/petrinaut-core/src/optimization.ts
  libs/@hashintel/petrinaut-core/src/optimization/describe.test.ts
  libs/@hashintel/petrinaut-core/src/optimization/describe.ts
  libs/@hashintel/petrinaut-core/src/shared/optimization-manifest.fixtures.ts
  libs/@hashintel/petrinaut-core/src/vite-types.d.ts
  libs/@hashintel/petrinaut-core/src/workers/README.md
  libs/@hashintel/petrinaut-core/src/workers/optimizer.ts
  libs/@hashintel/petrinaut-core/vite.config.ts
  yarn.lock
Due: markdownlint, biome, yarn

Record petrinaut-core's task dependency on the optimizer core library
  libs/@hashintel/petrinaut-core/docs/task-dependencies.json
Due: biome

Abort a failed segment's evaluations and give up the studies a dead worker kept
  libs/@hashintel/petrinaut-core/src/optimization/browser/browser-optimization.test.ts
  libs/@hashintel/petrinaut-core/src/optimization/browser/browser-optimization.ts
  libs/@hashintel/petrinaut-core/src/optimization/browser/worker/study-runner.pyodide.test.ts
Due: biome

Add Storybook stories that run the real in-browser optimizer
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/browser-optimizer.stories.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/simulate-view-story-harness.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/simulate-view.stories.tsx
Due: biome
