Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

markdownlint:
  tags:
  - frontend
  - style
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

biome:
  tags:
  - frontend
  - style
  run: biome format --write --staged || true
  stage_fixed: true

yarn:
  tags:
  - frontend
  - style
  run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
  stage_fixed: true

sqlfluff:
  tags:
  - backend
  - style
  run: sqlfluff fix {staged_files} || true
  stage_fixed: true

rust:
  tags:
  - backend
  - style
  run: rustfmt {staged_files} || true
  stage_fixed: true

toml:
  tags:
  - backend
  - style
  run: taplo format {staged_files} || true
  stage_fixed: true

Show live Voice transcripts and complete errors
  .changeset/flue-voice-safety.md
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/docs/evidence/implementations/mission-5-voice-safety-parity/donor-behavior-matrix.md
  libs/@hashintel/brunch-agent/packages/transport-aisdk/src/error-text.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/src/index.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/src/ui-stream.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/test/chat-transport.test.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/test/ui-stream.test.ts
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/src/panda-preset.ts
  libs/@hashintel/petrinaut/src/react/notifications/context.ts
  libs/@hashintel/petrinaut/src/react/notifications/provider.test.tsx
  libs/@hashintel/petrinaut/src/react/notifications/provider.tsx
  libs/@hashintel/petrinaut/src/react/notifications/toaster.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/voice-session-labels.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.stories.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/defer-voice-messages.test.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/defer-voice-messages.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/tool-list.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/voice-dock.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/voice-dock/transcription-icon.tsx
Due: markdownlint, biome

Authorize committed canonical speech before settlement
  libs/@hashintel/brunch-agent/MISSION.md
Due: markdownlint, biome

Authorize compact initial Voice setup
  libs/@hashintel/brunch-agent/MISSION.md
Due: markdownlint, biome

Authorize closing collapsed Voice with the panel
  libs/@hashintel/brunch-agent/MISSION.md
Due: markdownlint, biome

Close the panel when collapsed Voice ends
  .changeset/flue-voice-safety.md
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/docs/evidence/implementations/mission-5-voice-safety-parity/donor-behavior-matrix.md
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/voice-dock.tsx
Due: markdownlint, biome

Open initial Voice setup in compact mode
  .changeset/flue-voice-safety.md
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/docs/evidence/implementations/mission-5-voice-safety-parity/donor-behavior-matrix.md
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/voice-session-labels.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.stories.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/voice-dock.tsx
Due: markdownlint, biome

Reconcile Voice response settlement with playback
  apps/petrinaut-website/src/main/app/voice-interview/voice-turn-controller.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-turn-controller.ts
  docs/superpowers/plans/2026-09-06-voice-turn-settlement-reconciliation.md
Due: markdownlint, biome

Keep capture closed for queued Voice speech
  apps/petrinaut-website/src/main/app/voice-interview/voice-turn-controller.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-turn-controller.ts
  docs/superpowers/plans/2026-09-06-voice-turn-settlement-reconciliation.md
Due: markdownlint, biome

Use submitting input and unconditional speech-cancelled restore
  apps/petrinaut-website/src/main/app/voice-interview/voice-turn-controller.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-turn-controller.ts
Due: biome

Remove generated superpowers docs from Voice settlement PR
  docs/superpowers/plans/2026-09-06-voice-turn-settlement-reconciliation.md
  docs/superpowers/specs/2026-09-06-voice-turn-settlement-reconciliation-design.md
Due: markdownlint, biome

Start canonical Voice speech before settlement
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-panel-transport.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-panel-transport.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/src/main/app/voice-interview/realtime-brunch-bridge.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/realtime-brunch-bridge.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-control.tsx
  apps/petrinaut-website/src/main/app/voice-interview/voice-turn-controller.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-turn-controller.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/src/index.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/test/chat-transport.test.ts
Due: biome

Document Voice turn settlement reconciliation
  docs/superpowers/specs/2026-09-06-voice-turn-settlement-reconciliation-design.md
Due: markdownlint, biome

Avoid waiting for idle Voice output clear
  apps/petrinaut-website/src/main/app/voice-interview/openai-realtime-session.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/openai-realtime-session.ts
Due: biome

Preserve Voice ownership through cancellation
  apps/petrinaut-website/src/main/app/voice-interview/openai-realtime-session.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/openai-realtime-session.ts
  apps/petrinaut-website/src/main/app/voice-interview/realtime-brunch-bridge.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/realtime-brunch-bridge.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-turn-controller.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-turn-controller.ts
Due: biome

Preserve queued Voice output ownership
  apps/petrinaut-website/src/main/app/voice-interview/openai-realtime-session.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/openai-realtime-session.ts
  apps/petrinaut-website/src/main/app/voice-interview/realtime-brunch-bridge.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/realtime-brunch-bridge.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-turn-controller.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-turn-controller.ts
Due: biome

Format Voice output ownership guard
  apps/petrinaut-website/src/main/app/voice-interview/realtime-brunch-bridge.ts
Due: biome

Prevent repeated Voice output cancellation
  apps/petrinaut-website/src/main/app/voice-interview/voice-turn-controller.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-turn-controller.ts
Due: biome

Resolve Voice panel restack imports
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.tsx
Due: biome

Refresh Voice restack evidence
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/docs/evidence/implementations/mission-5-voice-safety-parity/donor-behavior-matrix.md
  libs/@hashintel/brunch-agent/docs/evidence/implementations/mission-5-voice-safety-parity/witness-blocker.md
Due: markdownlint, biome

Document the Brunch container task dependency
  apps/brunch-agent/docs/task-dependencies.json
Due: biome

Wire container build and liveness entry points
  apps/brunch-agent/package.json
  apps/brunch-agent/src/app.ts
Due: biome, yarn

Publish the Brunch image to ECR
  .github/workflows/deploy.yml
Due: biome

Prepare Brunch deployment artifact and infrastructure handoff
  .dockerignore
  .github/workflows/deploy.yml
  apps/brunch-agent/docker/Dockerfile
  apps/brunch-agent/src/health.ts
  apps/brunch-agent/src/http/routes.ts
  apps/brunch-agent/test/health.test.ts
Due: biome

Include the Brunch skill in container builds
  .dockerignore
Due: none

Fix Brunch container runtime inputs
  .dockerignore
  apps/brunch-agent/docker/Dockerfile
Due: none

Run Brunch container on port 3002
  apps/brunch-agent/docker/Dockerfile
Due: none

SRE-989: Carry crate source hashes without implying a build (#9543)
  apps/hash-ai-worker-ts/docs/task-dependencies.json
  apps/hash-ai-worker-ts/package.json
  apps/hash-ai-worker-ts/vitest.config.ts
  apps/hash-api/docs/task-dependencies.json
  apps/hash-api/package.json
  apps/hash-integration-worker/package.json
  libs/@blockprotocol/graph/src/internal/mutate-subgraph/edge.ts
  libs/@blockprotocol/type-system/rust/turbo.json
  libs/@blockprotocol/type-system/typescript/src/native/time.ts
  libs/@local/codec/rust/turbo.json
  libs/@local/effect-dns/hickory/typescript/turbo.json
  libs/@local/eslint/src/deprecated/base.ts
  libs/@local/graph/api/docs/task-dependencies.json
  libs/@local/graph/api/turbo.json
  libs/@local/graph/authorization/rust/turbo.json
  libs/@local/graph/client/typescript/docs/task-dependencies.json
  libs/@local/graph/client/typescript/turbo.json
  libs/@local/graph/store/rust/turbo.json
  libs/@local/hash-isomorphic-utils/docs/task-dependencies.json
  libs/@local/hash-isomorphic-utils/package.json
  turbo.json
  yarn.lock
Due: biome, yarn

SRE-1034: Reference a package's own tasks by bare name in task-dependencies.json (#9551)
  apps/brunch-agent/docs/task-dependencies.json
  apps/hash-ai-worker-ts/docs/task-dependencies.json
  apps/hash-api/docs/task-dependencies.json
  apps/hash-frontend/docs/task-dependencies.json
  apps/hash-graph/docs/task-dependencies.json
  apps/hash-integration-worker/docs/task-dependencies.json
  apps/petrinaut-docs/docs/task-dependencies.json
  apps/petrinaut-opt/docs/task-dependencies.json
  apps/petrinaut-website/docs/task-dependencies.json
  apps/plugin-browser/docs/task-dependencies.json
  libs/@blockprotocol/type-system/typescript/docs/task-dependencies.json
  libs/@hashintel/ds-components/docs/task-dependencies.json
  libs/@hashintel/petrinaut-cli/docs/task-dependencies.json
  libs/@local/codec/typescript/docs/task-dependencies.json
  libs/@local/effect-dns/hickory/typescript/docs/task-dependencies.json
  libs/@local/eslint/docs/task-dependencies.json
  libs/@local/graph/authorization/typescript/docs/task-dependencies.json
  libs/@local/graph/client/typescript/docs/task-dependencies.json
  libs/@local/graph/store/typescript/docs/task-dependencies.json
  libs/@local/hash-isomorphic-utils/docs/task-dependencies.json
  libs/@local/petrinaut-optimizer-client/docs/task-dependencies.json
  libs/@local/petrinaut-python/docs/task-dependencies.json
  libs/@local/repo-chores/rust/docs/task-dependencies.json
  libs/@local/repo-chores/rust/src/task_dependencies/mod.rs
  tests/hash-backend-integration/docs/task-dependencies.json
  tests/hash-playwright/docs/task-dependencies.json
Due: biome, rust

FE-681: add multiselect to ds (#9505)
  libs/@hashintel/ds-components/src/components/Filter/sort-menu.recipe.ts
  libs/@hashintel/ds-components/src/components/Filter/sort-menu.tsx
  libs/@hashintel/ds-components/src/components/Menu/SelectableList/selectable-list-search.recipe.ts
  libs/@hashintel/ds-components/src/components/Menu/SelectableList/selectable-list-search.tsx
  libs/@hashintel/ds-components/src/components/Menu/SelectableList/selectable-list.recipe.ts
  libs/@hashintel/ds-components/src/components/Menu/SelectableList/selectable-list.tsx
  libs/@hashintel/ds-components/src/components/Select/multi-select.stories.tsx
  libs/@hashintel/ds-components/src/components/Select/select.recipe.ts
  libs/@hashintel/ds-components/src/components/Select/select.stories.tsx
  libs/@hashintel/ds-components/src/components/Select/select.tsx
  libs/@hashintel/ds-components/src/main.ts
  sort-menu-stories-reorg.png
Due: biome

Skip integration tests and PR deployments on non-top stacked PRs
  .github/workflows/deploy.yml
  .github/workflows/test.yml
Due: biome

Apply the non-top-of-stack rule to the Bench and Deploy workflows
  .github/workflows/bench.yml
  .github/workflows/deploy.yml
Due: biome

Gate the bench workflow like the deploy workflow
  .github/workflows/bench.yml
Due: biome

FE-1606: Adjust offstate colors (#9559)
  libs/@hashintel/ds-components/src/components/Toggle/toggle.recipe.ts
Due: biome

BE-826: Load explicit TOML files in hash-config (#9553)
  Cargo.lock
  libs/@local/config/Cargo.toml
  libs/@local/config/src/error.rs
  libs/@local/config/src/file.rs
  libs/@local/config/src/lib.rs
  libs/@local/config/tests/defaults.rs
  libs/@local/config/tests/files.rs
  libs/@local/config/tests/snapshots/files__file_directory.snap
  libs/@local/config/tests/snapshots/files__file_invalid_value.snap
  libs/@local/config/tests/snapshots/files__file_malformed_redaction.snap
  libs/@local/config/tests/snapshots/files__file_missing.snap
  libs/@local/config/tests/snapshots/files__file_missing_required_value.snap
  libs/@local/config/tests/snapshots/files__file_non_utf8.snap
Due: rust, toml

SRE-1033: Regenerate the atlas document
  libs/@local/graph/atlas/docs/task-dependencies.json
Due: biome

Update to vite 8.2.2
  apps/brunch-agent/package.json
  apps/petrinaut-website/package.json
  libs/@hashintel/brunch-agent/packages/binding-flue/package.json
  libs/@hashintel/brunch-agent/packages/core/package.json
  libs/@hashintel/brunch-agent/packages/plugin-dafny/package.json
  libs/@hashintel/brunch-agent/packages/plugin-gherkin/package.json
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/package.json
  libs/@hashintel/brunch-agent/packages/transport-aisdk/package.json
  libs/@hashintel/ds-components/package.json
  libs/@hashintel/ds-components/vite.config.ts
  libs/@hashintel/petrinaut-cli/package.json
  yarn.config.cjs
  yarn.lock
Due: biome, yarn

Restyle native scrollbars inside the Petrinaut root
  .changeset/petrinaut-scrollbar-styling.md
  libs/@hashintel/petrinaut/src/panda-preset.ts
  libs/@hashintel/petrinaut/src/ui/components/sub-view/vertical/vertical-sub-views-container.tsx
Due: markdownlint, biome

Reveal Petrinaut scrollbar thumbs only while their container is hovered
  .changeset/petrinaut-scrollbar-styling.md
  libs/@hashintel/petrinaut/src/panda-preset.ts
Due: markdownlint, biome

Stop forcing thin scrollbars in ds-components scroll containers
  .changeset/ds-components-scrollbar-defaults.md
  libs/@hashintel/ds-components/src/components/Menu/SelectableList/selectable-list.recipe.ts
  libs/@hashintel/ds-components/src/components/TextArea/text-area.recipe.ts
  libs/@hashintel/ds-components/src/util/overlay-parts.recipe.ts
Due: markdownlint, biome

Path conditions:
  markdownlint: any of: *.md
  biome: any of: *.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}
  yarn: any of: {*/package.json, package.json}
  sqlfluff: any of: *.sql
  rust: any of: *.rs
  toml: any of: *.toml
