Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    biome:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: biome format --write --staged || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: rustfmt {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: taplo format {staged_files} || true
      stage_fixed: true

Update libs/@hashintel/petrinaut-core/src/schemas/entity-schemas.ts
  libs/@hashintel/petrinaut-core/src/schemas/entity-schemas.ts
Due: biome

add changesets. update import
  .changeset/fluffy-masks-visit.md
  .changeset/polite-snakes-send.md
  .changeset/young-kids-laugh.md
  libs/@hashintel/petrinaut-core/src/layout/calculate-graph-layout.ts
Due: markdownlint, biome

yarn
  yarn.lock
Due: none

feat: update napi
  .config/mise/config.toml
  Cargo.lock
  Cargo.toml
  libs/@local/effect-dns/hickory/package.json
Due: biome, yarn, toml

chore: lockfile
  Cargo.lock
Due: none

fix: buildName -> binaryName
  libs/@local/effect-dns/hickory/package.json
Due: biome, yarn

fix: naming of create-npm-dirs and gitignore
  .gitignore
  Cargo.lock
  libs/@local/effect-dns/hickory/package.json
Due: biome, yarn

fix metric relabeling syntax in OpenTelemetry collector config
  apps/hash-external-services/opentelemetry-collector/otel-collector-config.yaml
Due: none

don't offset content of slide stack by height of back/forward/close buttons
  apps/hash-frontend/src/pages/shared/slide-stack.tsx
  apps/hash-frontend/src/pages/shared/slide-stack/slide-back-forward-close-bar.tsx
Due: biome

restore zindex
  apps/hash-frontend/src/pages/shared/slide-stack/slide-back-forward-close-bar.tsx
Due: biome

fix closure time in flow runs context
  apps/hash-frontend/src/pages/shared/flow-runs-context.tsx
Due: biome

add historical flights to exposed flows in frontend
  apps/hash-frontend/src/pages/shared/flow-definitions-context.tsx
Due: biome

heartbeat in get historical flights action
  apps/hash-integration-worker/src/activities/flow-activities/aviation-activities/get-historical-flight-arrivals-action.ts
  apps/hash-integration-worker/src/shared/heartbeats.ts
  apps/hash-integration-worker/src/workflows/run-flow-workflow.ts
Due: biome

Switch ds from tsup to tsdown
  libs/@hashintel/ds-components/package.json
  libs/@hashintel/ds-components/tsconfig.json
  libs/@hashintel/ds-components/tsdown.config.ts
  yarn.lock
Due: biome, yarn

Move hash-api + hash-frontend Dockerfiles next to their apps
  apps/hash-api/docker/Dockerfile
  apps/hash-external-services/opentelemetry-collector/otel-collector-config.yaml
  apps/hash-frontend/docker/Dockerfile
Due: none

add NODE_ENV to dev script in package.json for environment consistency
  apps/hash-integration-worker/package.json
Due: biome, yarn

update link path for worker type
  apps/hash-frontend/src/pages/@/[shortname]/shared/flow-visualizer/topbar.tsx
Due: biome

Drop remaining @apps/hash-external-services refs from CI and turbo
  .github/actions/build-docker-images/action.yml
  .github/workflows/bench.yml
  .github/workflows/hash-backend-cd.yml
  .github/workflows/test.yml
  turbo.json
Due: biome

Switch temporal-migrate and temporal-setup to pulled admin-tools image
  infra/compose/docker-compose.yml
  infra/compose/temporal/migrate.Dockerfile
  infra/compose/temporal/migrate.sh
  infra/compose/temporal/setup.Dockerfile
  infra/compose/temporal/setup.sh
Due: biome

Rename docker-compose.* to compose.*, add project name, switch yarn script to `compose`
  .github/CONTRIBUTING.md
  .github/workflows/bench.yml
  .github/workflows/test.yml
  AGENTS.md
  README.md
  apps/README.md
  apps/hash-frontend/src/pages/shared/ory-kratos.ts
  apps/hash-graph/README.md
  infra/compose/README.md
  infra/compose/compose.dev.yml
  infra/compose/compose.prod.yml
  infra/compose/compose.test.yml
  infra/compose/compose.yml
  infra/compose/kratos/kratos.yml
  package.json
  tests/README.md
Due: markdownlint, biome

ensure minio bucket is created on dev `external-services up`
  apps/hash-external-services/docker-compose.dev.yml
Due: biome

Fix hash-frontend docker build
  apps/hash-frontend/next.config.js
Due: biome

prune-repository: preserve infra/ through prune
  .github/actions/prune-repository/action.yml
Due: biome

Fix color variants in panda
  libs/@hashintel/ds-components/panda.local.config.ts
  libs/@hashintel/ds-components/src/preset.ts
Due: biome

Update preset to include all color variant mappings
  libs/@hashintel/ds-components/src/preset.ts
Due: biome

BE-577: Historical flight flow fixes (#8755)
  apps/hash-frontend/src/pages/@/[shortname]/shared/flow-visualizer/topbar.tsx
  apps/hash-frontend/src/pages/shared/flow-definitions-context.tsx
  apps/hash-frontend/src/pages/shared/flow-runs-context.tsx
  apps/hash-integration-worker/package.json
  apps/hash-integration-worker/src/activities/flow-activities/aviation-activities/get-historical-flight-arrivals-action.ts
  apps/hash-integration-worker/src/shared/heartbeats.ts
  apps/hash-integration-worker/src/workflows/run-flow-workflow.ts
Due: biome, yarn

H-6517: Auto-create local Minio bucket on dev external-services up (#8759)
  apps/hash-external-services/docker-compose.dev.yml
Due: biome

FE-750: Fix color variants in panda (#8754)
  libs/@hashintel/ds-components/panda.local.config.ts
  libs/@hashintel/ds-components/src/preset.ts
Due: biome

wip - first draft
  apps/hash-frontend/src/pages/shared/entities-visualizer.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/entities-table.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/filter-ribbon/build-filter.ts
  apps/hash-frontend/src/pages/shared/entities-visualizer/filter-ribbon/filter-pill.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/filter-ribbon/filter-ribbon.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/filter-ribbon/include-archived-pill.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/filter-ribbon/sort-control.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/filter-ribbon/type-filter-pill.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/filter-ribbon/types.ts
  apps/hash-frontend/src/pages/shared/entities-visualizer/filter-ribbon/use-available-types.ts
  apps/hash-frontend/src/pages/shared/entities-visualizer/filter-ribbon/web-filter-pill.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/use-entities-visualizer-data.tsx
  apps/hash-frontend/src/shared/use-entity-type-entities.tsx
Due: biome

CI: use explicit `yarn run compose…` form, plus tidy
  .github/workflows/bench.yml
  .github/workflows/test.yml
  apps/README.md
  package.json
Due: markdownlint, biome

H-6450: Reduce space around entity headers (#8707)
  apps/hash-frontend/src/pages/entities.page.tsx
  apps/hash-frontend/src/pages/shared/entity/entity-header.tsx
  apps/hash-frontend/src/pages/shared/slide-stack.tsx
  apps/hash-frontend/src/pages/shared/slide-stack/slide-back-forward-close-bar.tsx
Due: biome

fix: patch
  Cargo.lock
  Cargo.toml
Due: toml

BE-573: Upgrade libp2p to 0.57.0 via git patch (#8761)
  Cargo.lock
  Cargo.toml
Due: toml

fix: checkpoint
  Cargo.toml
  libs/@local/harpc/wire-protocol/src/codec/buffer.rs
  libs/@local/hashql/compiletest/src/annotation/file.rs
  libs/@local/hashql/core/src/symbol/sym.rs
  libs/error-stack/README.md
  libs/error-stack/macros/README.md
  libs/error-stack/src/lib.rs
  rust-toolchain.toml
Due: markdownlint, biome, rust, toml

fix: new lints
  Cargo.toml
  libs/@local/codec/src/serde/mod.rs
  libs/@local/graph/migrations/src/lib.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/property_type.rs
  libs/@local/graph/type-defs/build.rs
  libs/@local/harpc/net/src/lib.rs
  libs/@local/harpc/wire-protocol/src/lib.rs
  libs/@local/hashql/compiletest/src/harness/trial/mod.rs
  libs/@local/hashql/compiletest/src/lib.rs
  libs/@local/hashql/core/src/graph/linked.rs
  libs/@local/hashql/core/src/id/bit_vec/matrix/mod.rs
  libs/@local/hashql/core/src/id/vec.rs
  libs/@local/hashql/core/src/symbol/repr.rs
  libs/@local/hashql/eval/tests/orchestrator/main.rs
  libs/@local/hashql/eval/tests/orchestrator/output.rs
  libs/@local/hashql/mir/src/body/terminator/mod.rs
  libs/@local/hashql/mir/src/pass/execution/terminator_placement/mod.rs
  libs/@local/repo-chores/rust/src/benches/storage.rs
  libs/@local/repo-chores/rust/src/lib.rs
  rust-toolchain.toml
Due: rust, toml

chore: fmt
  libs/@local/codec/src/serde/mod.rs
  libs/@local/graph/migrations/src/lib.rs
  libs/@local/hashql/core/src/id/mod.rs
  libs/@local/hashql/core/src/symbol/sym.rs
  libs/@local/hashql/diagnostics/src/diagnostic/message.rs
  libs/@local/hashql/diagnostics/src/encoding.rs
  libs/@local/hashql/diagnostics/src/severity.rs
  libs/@local/hashql/diagnostics/src/source/mod.rs
  libs/@local/hashql/mir/src/interpret/value/int.rs
  libs/@local/hashql/mir/src/pass/execution/traversal/entity.rs
Due: rust

Replace deprecated external option in ds tsdown.config.ts
  libs/@hashintel/ds-components/tsdown.config.ts
Due: biome
