Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, prettier, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: yarn run markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    prettier:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: yarn run prettier --write {staged_files} || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:packagejson && yarn fix:yarn-deduplicate
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: cargo fmt -- {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: yarn run taplo format {staged_files} || true
      stage_fixed: true

Fix README
  libs/@hashintel/petrinaut/src/simulation/worker/README.md
Due: markdownlint, prettier

H-5770: Add getFramesInRange and optimize Timeline rendering
  libs/@hashintel/petrinaut/src/playback/provider.test.tsx
  libs/@hashintel/petrinaut/src/simulation/context.ts
  libs/@hashintel/petrinaut/src/simulation/provider.tsx
  libs/@hashintel/petrinaut/src/views/Editor/subviews/simulation-timeline.tsx
Due: prettier

H-5770: Address PR review feedback
  .changeset/soft-frames-play.md
  libs/@hashintel/petrinaut/src/playback/context.ts
  libs/@hashintel/petrinaut/src/playback/provider.tsx
  libs/@hashintel/petrinaut/src/views/Editor/subviews/simulation-timeline.tsx
Due: markdownlint, prettier

feat: checkpoint
  libs/@local/hashql/mir/src/pass/analysis/size_estimation/range.rs
  libs/@local/hashql/mir/src/pass/analysis/size_estimation/unit.rs
  libs/@local/hashql/mir/src/pass/execution/cost.rs
  libs/@local/hashql/mir/src/pass/execution/terminator_placement/mod.rs
Due: rust

add missing dep
  libs/@local/hash-backend-utils/package.json
  yarn.lock
Due: prettier, yarn

feat: checkpoint
  libs/@local/hashql/mir/src/pass/execution/terminator_placement/mod.rs
Due: rust

lint fixes
  libs/@local/hash-backend-utils/src/flows/get-flow-context.ts
  libs/@local/hash-backend-utils/src/integrations/aviation/flightradar24/client.ts
Due: prettier

chore: docs
  libs/@local/hashql/mir/src/pass/execution/mod.rs
  libs/@local/hashql/mir/src/pass/execution/terminator_placement/mod.rs
Due: rust

chore: docs
  libs/@local/hashql/mir/src/pass/execution/cost.rs
Due: rust

H-5770: Define PlayMode as inline union type
  libs/@hashintel/petrinaut/src/playback/context.ts
Due: prettier

remove inappropriate comments
  apps/hash-ai-worker-ts/src/activities/flow-activities/persist-entities-action.ts
  apps/hash-integration-worker/src/activities/flow-activities/integration-activities/persist-integration-entities-action.ts
Due: prettier

further refactory of head-style
  libs/@hashintel/ds-helpers/.ladle/components/head-style.tsx
Due: prettier

revise variable key skip logic
  libs/@hashintel/ds-theme/scripts/generate-tokens.ts
  libs/@hashintel/ds-theme/scripts/transforms.test.ts
  libs/@hashintel/ds-theme/scripts/transforms.ts
Due: prettier

START: ds tokens revamp validations
  libs/@hashintel/ds-theme/package.json
  libs/@hashintel/ds-theme/scripts/generate-colors-radix.ts
  libs/@hashintel/ds-theme/src/main.ts
  libs/@hashintel/ds-theme/src/theme.ts
  yarn.lock
Due: prettier, yarn

chore: checkpoint
  libs/@local/hashql/mir/TEST_PLAN.md
  libs/@local/hashql/mir/src/pass/execution/target.rs
  libs/@local/hashql/mir/src/pass/execution/terminator_placement/mod.rs
  libs/@local/hashql/mir/src/pass/execution/terminator_placement/tests.rs
Due: markdownlint, prettier, rust

tokens2 stories for the core radix colors
  libs/@hashintel/ds-helpers/.ladle/components.tsx
  libs/@hashintel/ds-helpers/.ladle/index.css
  libs/@hashintel/ds-helpers/stories/tokens2.stories.ts
  libs/@hashintel/ds-helpers/stories/tokens2.story.tsx
  libs/@hashintel/ds-theme/scripts/generate-colors-radix.ts
Due: prettier

chore: checkpoint
  libs/@local/hashql/mir/TEST_PLAN.md
  libs/@local/hashql/mir/src/builder/rvalue.rs
  libs/@local/hashql/mir/src/pass/execution/terminator_placement/mod.rs
  libs/@local/hashql/mir/src/pass/execution/terminator_placement/tests.rs
  libs/@local/hashql/mir/tests/ui/pass/execution/terminator_placement/terminator_placement_snapshot.snap
Due: markdownlint, prettier, rust

status color aliasing
  libs/@hashintel/ds-helpers/stories/tokens2.stories.ts
  libs/@hashintel/ds-helpers/stories/tokens2.story.tsx
  libs/@hashintel/ds-theme/scripts/generate-colors-radix.ts
  libs/@hashintel/ds-theme/src/main.ts
  libs/@hashintel/ds-theme/src/theme.ts
Due: prettier

typing improvements to stored payloads
  apps/hash-ai-worker-ts/src/activities/flow-activities/answer-question-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/persist-entities-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/coordinating-agent.ts
  apps/hash-ai-worker-ts/src/activities/shared/map-action-input-entities-to-entities.ts
  apps/hash-integration-worker/src/activities/flow-activities/integration-activities/persist-integration-entities-action.ts
  libs/@local/hash-backend-utils/src/flows/payload-storage.ts
  libs/@local/hash-isomorphic-utils/src/flows/action-definitions.ts
  libs/@local/hash-isomorphic-utils/src/flows/types.ts
Due: prettier

accent colors, approach 1
  libs/@hashintel/ds-helpers/stories/accent.stories.ts
  libs/@hashintel/ds-helpers/stories/accent.story.tsx
  libs/@hashintel/ds-helpers/stories/colors.ts
  libs/@hashintel/ds-theme/package.json
  libs/@hashintel/ds-theme/src/accent.ts
  libs/@hashintel/ds-theme/src/main.ts
  libs/@hashintel/ds-theme/tsdown.config.ts
Due: prettier, yarn

accent colors, approach 2
  libs/@hashintel/ds-helpers/panda.config.ts
  libs/@hashintel/ds-helpers/stories/accent.stories.ts
  libs/@hashintel/ds-helpers/stories/accent.story.tsx
  libs/@hashintel/ds-helpers/stories/tokens2.story.tsx
  libs/@hashintel/ds-theme/package.json
  libs/@hashintel/ds-theme/scripts/generate-colors-radix.ts
  libs/@hashintel/ds-theme/src/accent.ts
  libs/@hashintel/ds-theme/src/main.ts
  libs/@hashintel/ds-theme/tsdown.config.ts
Due: prettier, yarn

feat: checkpoint
  libs/@local/hashql/mir/src/pass/analysis/dataflow/liveness/TEST_PLAN.md
  libs/@local/hashql/mir/src/pass/analysis/dataflow/liveness/mod.rs
  libs/@local/hashql/mir/src/pass/transform/traversal_extraction/mod.rs
Due: markdownlint, prettier, rust

configure fonts
  libs/@hashintel/ds-helpers/.ladle/components.tsx
  libs/@hashintel/ds-helpers/.ladle/index.css
  libs/@hashintel/ds-helpers/.ladle/public/.gitkeep
  libs/@hashintel/ds-helpers/package.json
  libs/@hashintel/ds-helpers/stories/tokens.typography.story.tsx
  libs/@hashintel/ds-theme/src/main.ts
  yarn.lock
Due: prettier, yarn

refine semantic set generation
  libs/@hashintel/ds-helpers/.ladle/index.css
  libs/@hashintel/ds-helpers/stories/accent.stories.ts
  libs/@hashintel/ds-helpers/stories/color-palette.story.tsx
  libs/@hashintel/ds-helpers/stories/theme.stories.ts
  libs/@hashintel/ds-helpers/stories/tokens2.stories.ts
  libs/@hashintel/ds-helpers/stories/tokens2.story.tsx
  libs/@hashintel/ds-theme/package.json
  libs/@hashintel/ds-theme/scripts/generate-colors-radix.ts
  libs/@hashintel/ds-theme/src/main.ts
  libs/@hashintel/ds-theme/src/theme/utils.ts
Due: prettier, yarn

with semantic, v2
  libs/@hashintel/ds-helpers/stories/accent.story.tsx
  libs/@hashintel/ds-helpers/stories/color-palette.story.tsx
  libs/@hashintel/ds-theme/src/main.ts
  libs/@hashintel/ds-theme/src/theme/utils.ts
Due: prettier
