Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    biome:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: biome format --write --staged || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: rustfmt {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: taplo format {staged_files} || true
      stage_fixed: true

Add an experimental Pixi renderer for the canvas
  .changeset/pixi-canvas-renderer.md
  libs/@hashintel/petrinaut/docs/visual-settings.md
  libs/@hashintel/petrinaut/package.json
  libs/@hashintel/petrinaut/src/react/state/user-settings-context.ts
  libs/@hashintel/petrinaut/src/react/state/user-settings-provider.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/create-experiment-drawer.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/canvas-renderer.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/canvas-renderers.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/components/viewport-settings-dialog.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/pixi/pixi-canvas.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/pixi/pixi-canvas/arc-paths.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/pixi/pixi-canvas/arc-polylines.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/pixi/pixi-canvas/frame-store.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/pixi/pixi-canvas/node-geometry.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/pixi/pixi-canvas/pixi-animator.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/pixi/pixi-canvas/pixi-arcs.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/pixi/pixi-canvas/pixi-controller.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/pixi/pixi-canvas/pixi-fonts.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/pixi/pixi-canvas/pixi-mini-map.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/pixi/pixi-canvas/pixi-nodes.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/pixi/pixi-canvas/pixi-place-state-tooltip.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/pixi/pixi-canvas/pixi-theme.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/pixi/pixi-canvas/pixi-world.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/pixi/pixi-canvas/use-canvas-gestures.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/pixi/pixi-canvas/viewport-store.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/sdcpn-view.tsx
  libs/@hashintel/petrinaut/vite.config.ts
  yarn.lock
Due: markdownlint, biome, yarn

Save the Pixi viewport once it settles
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/pixi/pixi-canvas.tsx
Due: biome

Keep the workspace switcher avatar background opaque in every row state
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar/workspace-switcher.tsx
Due: biome

Keep the sidebar header avatar background opaque when the button is hovered
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar/workspace-switcher.tsx
Due: biome

Authorize bounded Petrinaut error and transcript UX work
  libs/@hashintel/brunch-agent/MISSION.md
Due: markdownlint, biome

Keep only the newest avatar link per user and organization
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/031-move-avatar-links-to-image-web.migration.ts
Due: biome

Pin the collapsible-group width reporter's identity
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/bottom-bar.tsx
Due: biome

Keep the bottom toolbar clear of the side panels and viewport controls
  .changeset/bottom-bar-panel-clearance.md
  libs/@hashintel/petrinaut/docs/drawing-a-net.md
  libs/@hashintel/petrinaut/docs/simulation.md
  libs/@hashintel/petrinaut/src/ui/constants/ui.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/bottom-bar-placement.test.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/bottom-bar-placement.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/bottom-bar.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/collapse-context.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/collapsible-group.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/simulation-controls.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/toolbar-modes.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/use-element-width.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/components/viewport-controls.tsx
Due: markdownlint, biome

Stop the bottom toolbar drifting into place
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/bottom-bar.tsx
Due: biome

Ride the bottom panel on one composited transform
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/bottom-bar.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/collapsible-group.tsx
Due: biome

Answer the bottom-toolbar review
  libs/@hashintel/petrinaut/docs/drawing-a-net.md
  libs/@hashintel/petrinaut/src/react/hooks/use-petrinaut-commands.test.tsx
  libs/@hashintel/petrinaut/src/react/hooks/use-petrinaut-mutations.test.tsx
  libs/@hashintel/petrinaut/src/react/state/editor-context.ts
  libs/@hashintel/petrinaut/src/react/state/editor-provider.tsx
  libs/@hashintel/petrinaut/src/react/state/panel-defaults.ts
  libs/@hashintel/petrinaut/src/ui/constants/ui.ts
  libs/@hashintel/petrinaut/src/ui/hooks/use-canvas-insets.test.ts
  libs/@hashintel/petrinaut/src/ui/hooks/use-canvas-insets.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/bottom-bar-placement.test.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/bottom-bar-placement.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/bottom-bar.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/collapse-context.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/collapsible-group.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/cursor-mode-dropdown.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/edition-tools.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/toolbar-menu-trigger.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/toolbar-modes.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/use-bottom-bar-layout.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/use-element-width.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/experiments-story-fixtures.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/components/viewport-controls.tsx
Due: markdownlint, biome

Add descriptions to the Café Queue and Drone Patrol examples
  libs/@hashintel/petrinaut-core/src/examples/cafe-queue.ts
  libs/@hashintel/petrinaut-core/src/examples/drone-patrol.ts
Due: biome

FE-1592: Add a repo skill for recording Petrinaut demo videos
  .agents/skills/recording-petrinaut-demos/SKILL.md
  .agents/skills/recording-petrinaut-demos/references/example.scenario.mjs
  .agents/skills/recording-petrinaut-demos/references/petrinaut-setup.md
  .agents/skills/recording-petrinaut-demos/scripts/demo-hud.mjs
  .agents/skills/recording-petrinaut-demos/scripts/make-demo.sh
  .agents/skills/recording-petrinaut-demos/scripts/petrinaut-canvas.mjs
  .agents/skills/recording-petrinaut-demos/scripts/probe-cursor.mjs
  .agents/skills/recording-petrinaut-demos/scripts/record-demo.mjs
  .agents/skills/recording-petrinaut-demos/scripts/upload-attachment.sh
Due: markdownlint, biome

FE-1592: Register the recording skill in the generated rules
  .claude/skills/skill-rules.json
Due: biome

Forward the menu trigger's injected props to its button
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/cursor-mode-dropdown.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/edition-tools.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/toolbar-menu-trigger.tsx
Due: biome

Show live Voice transcripts and complete errors
  .changeset/flue-voice-safety.md
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/docs/evidence/implementations/mission-5-voice-safety-parity/donor-behavior-matrix.md
  libs/@hashintel/brunch-agent/packages/transport-aisdk/src/error-text.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/src/index.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/src/ui-stream.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/test/chat-transport.test.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/test/ui-stream.test.ts
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/src/panda-preset.ts
  libs/@hashintel/petrinaut/src/react/notifications/context.ts
  libs/@hashintel/petrinaut/src/react/notifications/provider.test.tsx
  libs/@hashintel/petrinaut/src/react/notifications/provider.tsx
  libs/@hashintel/petrinaut/src/react/notifications/toaster.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/voice-session-labels.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.stories.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/defer-voice-messages.test.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/defer-voice-messages.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/tool-list.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/voice-dock.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/voice-dock/transcription-icon.tsx
Due: markdownlint, biome

Authorize compact initial Voice setup
  libs/@hashintel/brunch-agent/MISSION.md
Due: markdownlint, biome

Open initial Voice setup in compact mode
  .changeset/flue-voice-safety.md
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/docs/evidence/implementations/mission-5-voice-safety-parity/donor-behavior-matrix.md
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/voice-session-labels.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.stories.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/voice-dock.tsx
Due: markdownlint, biome

Authorize closing collapsed Voice with the panel
  libs/@hashintel/brunch-agent/MISSION.md
Due: markdownlint, biome

Close the panel when collapsed Voice ends
  .changeset/flue-voice-safety.md
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/docs/evidence/implementations/mission-5-voice-safety-parity/donor-behavior-matrix.md
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/voice-dock.tsx
Due: markdownlint, biome

Store the truck-fleet scenario code in the form the compiler accepts
  apps/petrinaut-website/scripts/generate-example-artifacts.ts
  apps/petrinaut-website/src/examples/catalog.ts
  apps/petrinaut-website/src/examples/models/truck-fleet-predictive-maintenance.json
  apps/petrinaut-website/src/examples/normalize-example.test.ts
  apps/petrinaut-website/src/examples/normalize-example.ts
  apps/petrinaut-website/turbo.json
Due: biome

Add descriptions to the website example models
  apps/petrinaut-website/src/examples/models/gases-1-pn-consumption-trigger.json
  apps/petrinaut-website/src/examples/models/gases-1-pn.json
  apps/petrinaut-website/src/examples/models/gases-2-spn.json
  apps/petrinaut-website/src/examples/models/gases-3-cpn.json
  apps/petrinaut-website/src/examples/models/gases-4-dcpn.json
  apps/petrinaut-website/src/examples/models/semiconductor-fab-drift.json
  apps/petrinaut-website/src/examples/models/truck-fleet-predictive-maintenance.json
Due: biome

Authorize committed canonical speech before settlement
  libs/@hashintel/brunch-agent/MISSION.md
Due: markdownlint, biome

Paginate migration entity queries so archive decisions see every entity
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/031-move-avatar-links-to-image-web.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/util.ts
Due: biome

Start canonical Voice speech before settlement
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-panel-transport.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-panel-transport.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/src/main/app/voice-interview/realtime-brunch-bridge.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/realtime-brunch-bridge.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-control.tsx
  apps/petrinaut-website/src/main/app/voice-interview/voice-turn-controller.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-turn-controller.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/src/index.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/test/chat-transport.test.ts
Due: biome

Authorize automatic Petrinaut scratch preview
  libs/@hashintel/brunch-agent/MISSION.md
Due: markdownlint, biome

Render Brunch scratch nets automatically
  apps/brunch-agent/test/scratch-project-construction.integration.ts
  apps/brunch-agent/test/scratch-project-construction.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-client-tools.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-panel-transport.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-panel-transport.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/src/main/app/voice-interview/voice-preview.integration.test.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/flue.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/test/construction-tools.test.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/src/index.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/test/chat-transport.test.ts
Due: biome

Expose and validate Petrinaut construction inputs
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-panel-transport.test.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/package.json
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/tools/petrinaut-construction.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/tools/petrinaut-construction/json-schema-to-valibot.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/test/construction-tools.test.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/src/transcript.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/src/ui-stream.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/test/transcript.test.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/test/ui-stream.test.ts
  yarn.lock
Due: biome, yarn

Align runbook validation error assertion
  apps/brunch-agent/test/runbook-headless.test.ts
Due: biome

Preload Petrinaut scratch net context
  apps/brunch-agent/test/scratch-project-construction.integration.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/use-flue-chat-history.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/use-flue-chat-history.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/flue.ts
Due: biome

Authorize Petrinaut scratch context preload
  libs/@hashintel/brunch-agent/MISSION.md
Due: markdownlint, biome

Hold the toolbar open while a menu it anchors is open
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/bottom-bar.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/collapsible-group.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/playback-settings-menu.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/toolbar-button.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/use-bottom-bar-layout.ts
Due: biome

Authorize Mission 6 seam reconciliation
  libs/@hashintel/brunch-agent/MISSION.md
Due: markdownlint, biome

Reconcile Brunch client tool projection seams
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-panel-transport.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-panel-transport.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/use-flue-chat-history.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/use-flue-chat-history.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/src/index.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/src/transcript.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/src/ui-stream.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/test/chat-transport.test.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/test/transcript.test.ts
Due: biome

FE-1592: Keep the recorder's log format string constant
  .agents/skills/recording-petrinaut-demos/scripts/record-demo.mjs
Due: biome

Authorize grounding for every Petrinaut net
  libs/@hashintel/brunch-agent/MISSION.md
Due: markdownlint, biome

Ground every Petrinaut conversation in the live net
  apps/brunch-agent/test/petrinaut-chat.integration.ts
  apps/brunch-agent/test/petrinaut-chat.test.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/flue.ts
Due: biome

FE-1592: Document how to record a before and after pair
  .agents/skills/recording-petrinaut-demos/SKILL.md
Due: markdownlint, biome

Soften the fade band's blur to 0.5px
  apps/petrinaut-docs/README.md
  apps/petrinaut-docs/src/styles/chrome.css
Due: markdownlint, biome
