Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, prettier, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: yarn run markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    prettier:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: yarn run prettier --write {staged_files} || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:packagejson && yarn fix:yarn-deduplicate
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: cargo fmt -- {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: yarn run taplo format {staged_files} || true
      stage_fixed: true

fix: examples
  libs/@local/hashql/core/src/value/dict.rs
  libs/@local/hashql/core/src/value/list.rs
  libs/@local/hashql/core/src/value/mod.rs
  libs/@local/hashql/core/src/value/opaque.rs
  libs/@local/hashql/core/src/value/struct.rs
  libs/@local/hashql/core/src/value/tuple.rs
Due: rust

miri: all `co_sort` functions
  libs/@local/hashql/core/package.json
Due: prettier, yarn

fix: docs
  libs/@local/hashql/core/src/value/dict.rs
  libs/@local/hashql/core/src/value/list.rs
  libs/@local/hashql/core/src/value/mod.rs
  libs/@local/hashql/core/src/value/struct.rs
  libs/@local/hashql/core/src/value/tuple.rs
Due: rust

fix: dependency diagram
  libs/@local/codec/docs/dependency-diagram.mmd
  libs/@local/codegen/docs/dependency-diagram.mmd
  libs/@local/harpc/types/docs/dependency-diagram.mmd
  libs/@local/harpc/wire-protocol/docs/dependency-diagram.mmd
  libs/@local/hashql/ast/docs/dependency-diagram.mmd
  libs/@local/hashql/compiletest/docs/dependency-diagram.mmd
  libs/@local/hashql/core/docs/dependency-diagram.mmd
  libs/@local/hashql/hir/docs/dependency-diagram.mmd
  libs/@local/hashql/syntax-jexpr/docs/dependency-diagram.mmd
Due: none

fix: package json
  libs/@local/hashql/core/package.json
Due: prettier, yarn

fix: use an actual command
  libs/@local/hashql/core/package.json
Due: prettier, yarn

chore: yarn lock
  yarn.lock
Due: none

test: move to doctests
  libs/@local/hashql/core/src/literal/float.rs
  libs/@local/hashql/core/src/literal/integer.rs
  libs/@local/hashql/core/src/literal/string.rs
Due: rust

feat: do not coerce to `f64` on display
  libs/@local/codec/src/numeric/real.rs
Due: rust

fix: suggestion from code review
  libs/@local/hashql/core/src/value/mod.rs
Due: rust

chore: comments
  libs/@local/codec/src/numeric/real.rs
Due: rust

docs: add implementation notes
  libs/@local/codec/src/numeric/real.rs
Due: rust

fix: switch the order of operations
  libs/@local/codec/src/numeric/real.rs
Due: rust

feat: only increase precision when required
  libs/@local/codec/src/numeric/real.rs
Due: rust

docs: manual mantissa adjustment
  libs/@local/codec/src/numeric/real.rs
Due: rust

Add a few docs
  libs/@local/graph/authorization/src/policies/components.rs
Due: rust

fix: suggestions from code review
  libs/@local/codec/src/numeric/real.rs
Due: rust

H-4891: Introduce `CreateEntity` permission and fix policy optimization logic (#7502)
  libs/@local/graph/authorization/schemas/policies.cedarschema
  libs/@local/graph/authorization/src/policies/action/mod.rs
  libs/@local/graph/authorization/src/policies/components.rs
  libs/@local/graph/authorization/types/index.snap.d.ts
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/read.rs
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/entity_type.rs
  libs/@local/graph/postgres-store/src/store/postgres/seed_policies.rs
  libs/@local/graph/postgres-store/src/store/validation.rs
Due: prettier, rust

fix: value lossy conversion
  libs/@local/codec/src/numeric/real.rs
Due: rust

fix: types
  libs/@local/graph/store/src/filter/parameter.rs
Due: rust

chore: debug
  libs/@local/codec/src/numeric/real.rs
Due: rust

chore: debugging
  libs/@local/codec/src/numeric/real.rs
Due: rust

fix: tests
  libs/@local/codec/src/numeric/real.rs
Due: rust

Fix ESLint
  apps/hash-api/src/graphql/resolvers/knowledge/user/submit-early-access-form.ts
Due: prettier

Comment out remaining `viewFromWeb`
  apps/hash-integration-worker/src/linear-activities.ts
Due: prettier

H-4880, H-4881: Introduce `Value` type (#7499)
  Cargo.lock
  Cargo.toml
  libs/@local/codec/docs/dependency-diagram.mmd
  libs/@local/codec/src/numeric/real.rs
  libs/@local/codegen/docs/dependency-diagram.mmd
  libs/@local/graph/store/src/filter/parameter.rs
  libs/@local/harpc/types/docs/dependency-diagram.mmd
  libs/@local/harpc/wire-protocol/docs/dependency-diagram.mmd
  libs/@local/hashql/ast/docs/dependency-diagram.mmd
  libs/@local/hashql/compiletest/docs/dependency-diagram.mmd
  libs/@local/hashql/core/Cargo.toml
  libs/@local/hashql/core/docs/dependency-diagram.mmd
  libs/@local/hashql/core/package.json
  libs/@local/hashql/core/src/lib.rs
  libs/@local/hashql/core/src/literal/float.rs
  libs/@local/hashql/core/src/literal/integer.rs
  libs/@local/hashql/core/src/literal/mod.rs
  libs/@local/hashql/core/src/literal/string.rs
  libs/@local/hashql/core/src/value/dict.rs
  libs/@local/hashql/core/src/value/list.rs
  libs/@local/hashql/core/src/value/mod.rs
  libs/@local/hashql/core/src/value/opaque.rs
  libs/@local/hashql/core/src/value/struct.rs
  libs/@local/hashql/core/src/value/tuple.rs
  libs/@local/hashql/hir/docs/dependency-diagram.mmd
  libs/@local/hashql/syntax-jexpr/docs/dependency-diagram.mmd
  yarn.lock
Due: prettier, yarn, rust, toml

Bump transitive Cargo dependencies
  Cargo.lock
Due: none

H-4814: Bump transitive Cargo dependencies (#7506)
  Cargo.lock
Due: none

squash
  libs/@local/hashql/hir/src/fold/mod.rs
  libs/@local/hashql/hir/src/lower/ctor.rs
  libs/@local/hashql/hir/src/lower/mod.rs
  libs/@local/hashql/hir/src/lower/specialization/mod.rs
  libs/@local/hashql/hir/src/node/operation/type.rs
  libs/@local/hashql/hir/src/visit.rs
  libs/@local/hashql/hir/tests/ui/lower/specialization/collect-filter-graph.stdout
Due: rust

H-4882, H-4883, H-4897: HashQL: Save the name of the opaque type in the HIR (#7503)
  libs/@local/hashql/hir/src/fold/mod.rs
  libs/@local/hashql/hir/src/lower/ctor.rs
  libs/@local/hashql/hir/src/lower/mod.rs
  libs/@local/hashql/hir/src/lower/specialization/mod.rs
  libs/@local/hashql/hir/src/node/operation/type.rs
  libs/@local/hashql/hir/src/visit.rs
  libs/@local/hashql/hir/tests/ui/lower/specialization/collect-filter-graph.stdout
Due: rust

squash
  libs/@local/graph/store/src/subgraph/temporal_axes.rs
Due: rust

chore: docs
  libs/@local/graph/store/src/subgraph/temporal_axes.rs
Due: rust

fix: suggestions from code review
  libs/@local/graph/store/src/subgraph/temporal_axes.rs
Due: rust

Enable `else-if-without-else` rule
  Cargo.toml
  libs/@blockprotocol/type-system/rust/src/ontology/data_type/schema/validation.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/compile.rs
  libs/@local/graph/validation/src/entity_type.rs
  libs/@local/harpc/net/src/session/client/transaction/mod.rs
  libs/@local/hashql/ast/src/lowering/import_resolver/error.rs
  libs/@local/hashql/compiletest/src/executor/trial.rs
  libs/@local/hashql/core/src/type/inference/solver/tarjan.rs
  libs/@local/hashql/core/src/type/kind/intrinsic.rs
  libs/@local/hashql/hir/src/lower/ctor.rs
  libs/@local/hashql/syntax-jexpr/src/parser/array/visit.rs
  libs/@local/repo-chores/rust/bin/cli/subcommand/benches/analyze.rs
  libs/@local/repo-chores/rust/src/benches/analyze/criterion.rs
Due: rust, toml

Enable `enum-variant-names` rule
  Cargo.toml
  libs/@blockprotocol/type-system/rust/src/ontology/property_type/schema/mod.rs
  libs/@blockprotocol/type-system/rust/src/ontology/property_type/schema/validation.rs
  libs/@local/graph/api/src/rest/entity_type.rs
  libs/@local/graph/api/src/rest/json.rs
  libs/@local/graph/authorization/src/policies/mod.rs
  libs/@local/graph/authorization/src/schema/entity.rs
  libs/@local/graph/store/src/filter/parameter.rs
  libs/@local/graph/test-server/src/lib.rs
  libs/@local/graph/type-defs/src/error.rs
  libs/@local/graph/type-fetcher/src/fetcher.rs
  libs/@local/graph/types/src/knowledge/property/visitor.rs
  libs/@local/graph/validation/src/entity_type.rs
Due: rust, toml

H-4884: Allow resolving the query temporal axes relative to a specific now (#7504)
  libs/@local/graph/store/src/subgraph/temporal_axes.rs
Due: rust

Prevent `rustfmt` from erroring
  libs/@local/codec/src/numeric/real.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
Due: rust

Fix remaining lints
  libs/@blockprotocol/type-system/rust/src/ontology/property_type/schema/mod.rs
  libs/@local/graph/authorization/src/policies/mod.rs
  libs/@local/graph/store/src/filter/parameter.rs
  libs/deer/src/number.rs
Due: rust

Avoid `option-if-let-else` lint
  libs/deer/src/number.rs
Due: rust
