Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

markdownlint:
  tags:
  - frontend
  - style
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

biome:
  tags:
  - frontend
  - style
  run: biome format --write --staged || true
  stage_fixed: true

yarn:
  tags:
  - frontend
  - style
  run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
  stage_fixed: true

sqlfluff:
  tags:
  - backend
  - style
  run: sqlfluff fix {staged_files} || true
  stage_fixed: true

rust:
  tags:
  - backend
  - style
  run: rustfmt {staged_files} || true
  stage_fixed: true

toml:
  tags:
  - backend
  - style
  run: taplo format {staged_files} || true
  stage_fixed: true

Fix selectable list selected state story examples
  libs/@hashintel/ds-components/src/components/Menu/menu.stories.tsx
  libs/@hashintel/ds-components/src/components/RightClickMenu/right-click-menu.stories.tsx
Due: biome

Move selectablelist into util
  libs/@hashintel/ds-components/src/components/Breadcumbs/breadcrumbs-item.tsx
  libs/@hashintel/ds-components/src/components/Filter/filter-util.ts
  libs/@hashintel/ds-components/src/components/Filter/filter.stories.tsx
  libs/@hashintel/ds-components/src/components/Filter/filter.tsx
  libs/@hashintel/ds-components/src/components/Filter/sort-menu.tsx
  libs/@hashintel/ds-components/src/components/Menu/menu.stories.tsx
  libs/@hashintel/ds-components/src/components/Menu/menu.tsx
  libs/@hashintel/ds-components/src/components/RightClickMenu/right-click-menu.stories.tsx
  libs/@hashintel/ds-components/src/components/RightClickMenu/right-click-menu.tsx
  libs/@hashintel/ds-components/src/components/Select/multi-select.stories.tsx
  libs/@hashintel/ds-components/src/components/Select/select.stories.tsx
  libs/@hashintel/ds-components/src/components/Select/select.tsx
  libs/@hashintel/ds-components/src/main.ts
  libs/@hashintel/ds-components/src/util/SelectableList/selectable-list-item.recipe.ts
  libs/@hashintel/ds-components/src/util/SelectableList/selectable-list-item.tsx
  libs/@hashintel/ds-components/src/util/SelectableList/selectable-list-search.recipe.ts
  libs/@hashintel/ds-components/src/util/SelectableList/selectable-list-search.tsx
  libs/@hashintel/ds-components/src/util/SelectableList/selectable-list-selection-summary.recipe.ts
  libs/@hashintel/ds-components/src/util/SelectableList/selectable-list-selection-summary.tsx
  libs/@hashintel/ds-components/src/util/SelectableList/selectable-list-util.ts
  libs/@hashintel/ds-components/src/util/SelectableList/selectable-list.fixtures.tsx
  libs/@hashintel/ds-components/src/util/SelectableList/selectable-list.recipe.ts
  libs/@hashintel/ds-components/src/util/SelectableList/selectable-list.stories.tsx
  libs/@hashintel/ds-components/src/util/SelectableList/selectable-list.tsx
Due: biome

Add new select input option types to Filter
  .changeset/ds-clearable-searchable-boolean-union.md
  apps/hash-frontend/src/pages/supply-chain/shared/search-input.tsx
  libs/@hashintel/ds-components/src/components/Banner/banner.stories.tsx
  libs/@hashintel/ds-components/src/components/Banner/banner.tsx
  libs/@hashintel/ds-components/src/components/Chip/chip.stories.tsx
  libs/@hashintel/ds-components/src/components/Chip/chip.tsx
  libs/@hashintel/ds-components/src/components/Filter/filter-util.ts
  libs/@hashintel/ds-components/src/components/Filter/filter.stories.tsx
  libs/@hashintel/ds-components/src/components/Filter/filter.tsx
  libs/@hashintel/ds-components/src/components/NumberInput/number-input.stories.tsx
  libs/@hashintel/ds-components/src/components/Select/multi-select.stories.tsx
  libs/@hashintel/ds-components/src/components/Select/select.stories.tsx
  libs/@hashintel/ds-components/src/components/Select/select.tsx
  libs/@hashintel/ds-components/src/components/TextInput/base-input.tsx
  libs/@hashintel/ds-components/src/components/TextInput/text-input.stories.tsx
  libs/@hashintel/petrinaut/src/ui/views/Notebook/notebook-view.tsx
Due: markdownlint, biome

Add better input overflow to multi-select
  libs/@hashintel/ds-components/src/components/Select/multi-select.stories.tsx
  libs/@hashintel/ds-components/src/components/Select/select.recipe.ts
  libs/@hashintel/ds-components/src/components/Select/select.tsx
  libs/@hashintel/ds-components/src/util/OverflowRow/overflow-row.recipe.ts
  libs/@hashintel/ds-components/src/util/OverflowRow/overflow-row.tsx
Due: biome

Fix bad ref passing in filter
  libs/@hashintel/ds-components/src/components/Filter/filter.tsx
Due: biome

Support left/right arrow key navigation in Filter
  .changeset/ds-clearable-searchable-boolean-union.md
  .changeset/ds-filter-select-inputs.md
  .changeset/ds-multi-select-enter-closes.md
  .changeset/ds-multi-select-escape-revert.md
  .changeset/ds-select-naked-variant.md
  .changeset/ds-select-tab-exits-dropdown.md
  libs/@hashintel/ds-components/src/components/Filter/filter.recipe.ts
  libs/@hashintel/ds-components/src/components/Filter/filter.tsx
  libs/@hashintel/ds-components/src/components/Select/select.recipe.ts
  libs/@hashintel/ds-components/src/components/Select/select.tsx
  libs/@hashintel/ds-components/src/util/OverflowRow/overflow-row.recipe.ts
  libs/@hashintel/ds-components/src/util/SelectableList/selectable-list-search.recipe.ts
  libs/@hashintel/ds-components/src/util/SelectableList/selectable-list-selection-summary.recipe.ts
Due: markdownlint, biome

Update so that multi-select enter closes the dropdown
  .changeset/ds-multi-select-enter-closes.md
  libs/@hashintel/ds-components/src/components/Select/select.tsx
Due: markdownlint, biome

Allow tabbing out of select
  .changeset/ds-select-tab-exits-dropdown.md
  libs/@hashintel/ds-components/src/components/Select/select.tsx
  libs/@hashintel/ds-components/src/util/SelectableList/selectable-list-util.ts
Due: markdownlint, biome

Regenerate the task-dependency docs for the two changed tasks
  apps/hash-frontend/docs/task-dependencies.json
  apps/petrinaut-docs/docs/task-dependencies.json
Due: biome

Improve overflow-row handling of async items
  libs/@hashintel/ds-components/src/components/Filter/filter.stories.tsx
  libs/@hashintel/ds-components/src/components/Select/select.tsx
  libs/@hashintel/ds-components/src/util/OverflowRow/overflow-row.tsx
Due: biome

Add deterministic trace checks for the Voice end-to-end harness
  apps/petrinaut-website/scripts/voice-e2e/scenarios.json
  apps/petrinaut-website/scripts/voice-e2e/trace-checks.test.ts
  apps/petrinaut-website/scripts/voice-e2e/trace-checks.ts
Due: biome

Remove eslint disable rule that was breaking react-compiler
  libs/@hashintel/ds-components/src/components/Filter/filter.tsx
Due: biome

Drive the Voice consent flow with Chrome fake audio capture
  apps/petrinaut-website/package.json
  apps/petrinaut-website/scripts/voice-e2e/run.ts
  apps/petrinaut-website/scripts/voice-e2e/synthesize-utterance.test.ts
  apps/petrinaut-website/scripts/voice-e2e/synthesize-utterance.ts
  yarn.lock
Due: biome, yarn

Regenerate the task-dependency docs for the three changed builds
  libs/@hashintel/petrinaut-cli/docs/task-dependencies.json
  libs/@hashintel/petrinaut-core/docs/task-dependencies.json
  libs/@hashintel/petrinaut/docs/task-dependencies.json
Due: biome

Cache the Petrinaut library builds
  libs/@hashintel/petrinaut-cli/turbo.json
  libs/@hashintel/petrinaut-core/turbo.json
  libs/@hashintel/petrinaut/turbo.json
Due: biome

Record remote Realtime audio in the Voice end-to-end harness
  apps/petrinaut-website/scripts/voice-e2e/record-remote-audio.js
  apps/petrinaut-website/scripts/voice-e2e/run.ts
Due: biome

Prepare Mission 7 cut with Vestera and parallel execution structure
  libs/@hashintel/brunch-agent/MISSION.next.md
  libs/@hashintel/brunch-agent/docs/mission-drafts/7-explainable-construction.md
  libs/@hashintel/brunch-agent/docs/mission-drafts/9-traceable-projection.md
Due: markdownlint, biome

Cut Mission 7 Step A authority for Vestera construction and explanation
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/MISSION.next.md
  libs/@hashintel/brunch-agent/docs/mission-archive/README.md
  libs/@hashintel/brunch-agent/docs/mission-drafts/7-explainable-construction.md
Due: markdownlint, biome

Gate Mission 7 on the review-restacked Voice reconciliation foundation
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/MISSION.next.md
  libs/@hashintel/brunch-agent/docs/evidence/implementations/voice-resumable-reconciliation/mission-7-restack.md
  libs/@hashintel/brunch-agent/docs/mission-drafts/7-explainable-construction.md
  libs/@hashintel/brunch-agent/docs/mission-drafts/voice-reconciliation-over-resumable-workpiece.md
Due: markdownlint, biome

Record the Mission 6b Voice reconciliation draft
  libs/@hashintel/brunch-agent/MISSION.next.md
  libs/@hashintel/brunch-agent/docs/mission-drafts/voice-reconciliation-over-resumable-workpiece.md
Due: markdownlint, biome

add note re api route naming
  libs/@hashintel/brunch-agent/MISSION.next.md
Due: markdownlint, biome

Open Mission 7 foundation after Mission 6b acceptance
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/MISSION.next.md
  libs/@hashintel/brunch-agent/docs/evidence/implementations/voice-resumable-reconciliation/mission-7-restack.md
Due: markdownlint, biome

notes re progress on the docker stuff, implications for mission 8
  libs/@hashintel/brunch-agent/MISSION.next.md
Due: markdownlint, biome

Collapse remaining living specs so they stop drifting as second contracts.
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/MISSION.next.md
  libs/@hashintel/brunch-agent/docs/evidence/design/provenance-by-lineage-independent-review-2026-09-04.md
  libs/@hashintel/brunch-agent/docs/evidence/spikes/fe-1434-suspension-verdict-2026-08-19.md
  libs/@hashintel/brunch-agent/docs/mission-drafts/9-traceable-projection.md
  libs/@hashintel/brunch-agent/docs/reference/architecture/flue-architecture-cheatsheet.md
  libs/@hashintel/brunch-agent/docs/reference/architecture/flue-routing.md
  libs/@hashintel/brunch-agent/docs/reference/architecture/topology.md
  libs/@hashintel/brunch-agent/docs/specs/README.md
  libs/@hashintel/brunch-agent/docs/specs/petrinaut-batched-construction-tools.md
  libs/@hashintel/brunch-agent/docs/specs/petrinaut-integration.md
Due: markdownlint, biome

Clarify the isolated Mission 7 A1 carrier probe gate
  libs/@hashintel/brunch-agent/MISSION.md
Due: markdownlint, biome

Carry nested Petrinaut type schemas through Flue
  apps/brunch-agent/src/evaluations/runbook/schema-carrier-probe.ts
  apps/brunch-agent/test/schema-carrier.test.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/package.json
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/tools/canonical-schema-carrier.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/tools/petrinaut-construction.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/test/schema-carrier.test.ts
  yarn.lock
Due: biome, yarn

Correct the A1 clarification acceptance date
  libs/@hashintel/brunch-agent/MISSION.md
Due: markdownlint, biome

Record the landed Mission 8 application PRs and remaining SRE-1013 door join
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/MISSION.next.md
  libs/@hashintel/brunch-agent/docs/mission-drafts/10-bounded-reviewer-revision.md
  libs/@hashintel/brunch-agent/docs/mission-drafts/11-optimisation-handoff.md
  libs/@hashintel/brunch-agent/docs/mission-drafts/7-explainable-construction.md
  libs/@hashintel/brunch-agent/docs/mission-drafts/9-traceable-projection.md
Due: markdownlint, biome

Prepare the Mission 8 successor cut after the Tim door note
  apps/brunch-agent/README.md
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/MISSION.next.md
  libs/@hashintel/brunch-agent/docs/evidence/implementations/mission-8-deployment-handoff.md
  libs/@hashintel/brunch-agent/docs/mission-drafts/10-bounded-reviewer-revision.md
  libs/@hashintel/brunch-agent/docs/mission-drafts/11-optimisation-handoff.md
  libs/@hashintel/brunch-agent/docs/reference/architecture/flue-routing.md
Due: markdownlint, biome

Record the Mission 7 A1 carrier proof and handoff
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/.gitignore
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a1-paid-2026-09-08T08-44-14-222Z/canonical-observations.json
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a1-paid-2026-09-08T08-44-14-222Z/carrier-result.md
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a1-paid-2026-09-08T08-44-14-222Z/context-1.json
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a1-paid-2026-09-08T08-44-14-222Z/context-2.json
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a1-paid-2026-09-08T08-44-14-222Z/context-3.json
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a1-paid-2026-09-08T08-44-14-222Z/context-4.json
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a1-paid-2026-09-08T08-44-14-222Z/context-5.json
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a1-paid-2026-09-08T08-44-14-222Z/generated-schema.json
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a1-paid-2026-09-08T08-44-14-222Z/guidance-manifest.json
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a1-paid-2026-09-08T08-44-14-222Z/history.json
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a1-paid-2026-09-08T08-44-14-222Z/probe-source.txt
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a1-paid-2026-09-08T08-44-14-222Z/probe.log
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a1-paid-2026-09-08T08-44-14-222Z/request-1.json
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a1-paid-2026-09-08T08-44-14-222Z/request-2.json
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a1-paid-2026-09-08T08-44-14-222Z/request-3.json
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a1-paid-2026-09-08T08-44-14-222Z/request-4.json
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a1-paid-2026-09-08T08-44-14-222Z/request-5.json
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a1-paid-2026-09-08T08-44-14-222Z/response-1.json
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a1-paid-2026-09-08T08-44-14-222Z/response-2.json
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a1-paid-2026-09-08T08-44-14-222Z/response-3.json
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a1-paid-2026-09-08T08-44-14-222Z/response-4.json
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a1-paid-2026-09-08T08-44-14-222Z/response-5.json
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a1-paid-2026-09-08T08-44-14-222Z/result.json
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a1-paid-2026-09-08T08-44-14-222Z/turn-result.json
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a1-paid-2026-09-08T08-44-14-222Z/verification-final.log
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a1-paid-2026-09-08T08-44-14-222Z/verification-red.log
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a1-paid-2026-09-08T08-44-14-222Z/verification-retired-paid.log
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a1-paid-2026-09-08T08-44-14-222Z/verification.log
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/attempt-ledger.md
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/usage-ledger.json
Due: markdownlint, biome

Expose a local-only compaction setting for Brunch probes
  apps/brunch-agent/src/agents/chat-agent/agent.ts
  apps/brunch-agent/src/agents/chat-agent/test-compaction-config.ts
  apps/brunch-agent/test/chat-agent-compaction.test.ts
  apps/brunch-agent/test/test-compaction-config.test.ts
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a4-compaction-config-2026-09-08/built-smoke.txt
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a4-compaction-config-2026-09-08/handoff.md
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a4-compaction-config-2026-09-08/invalid-config.txt
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a4-compaction-config-2026-09-08/production-refusal.txt
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a4-compaction-config-2026-09-08/verification.txt
  libs/@hashintel/brunch-agent/packages/core/src/flue.ts
  libs/@hashintel/brunch-agent/packages/core/test/compaction-config.test.ts
Due: markdownlint, biome

Clarify worker autonomy within Mission 7 chunk boundaries
  libs/@hashintel/brunch-agent/MISSION.md
Due: markdownlint, biome

Add workpiece revision settlement and pin unsafe mixed batches
  apps/brunch-agent/test/workpiece-revisions.integration.ts
  apps/brunch-agent/test/workpiece-revisions.test.ts
  libs/@hashintel/brunch-agent/packages/core/src/flue.ts
  libs/@hashintel/brunch-agent/packages/core/src/update-workpiece.ts
  libs/@hashintel/brunch-agent/packages/core/src/workpiece.ts
  libs/@hashintel/brunch-agent/packages/core/test/update-workpiece.test.ts
Due: biome

Path conditions:
  markdownlint: any of: *.md
  biome: any of: *.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}
  yarn: any of: {*/package.json, package.json}
  sqlfluff: any of: *.sql
  rust: any of: *.rs
  toml: any of: *.toml
