Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

markdownlint:
  tags:
  - frontend
  - style
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

biome:
  tags:
  - frontend
  - style
  run: biome format --write --staged || true
  stage_fixed: true

yarn:
  tags:
  - frontend
  - style
  run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
  stage_fixed: true

sqlfluff:
  tags:
  - backend
  - style
  run: sqlfluff fix {staged_files} || true
  stage_fixed: true

rust:
  tags:
  - backend
  - style
  run: rustfmt {staged_files} || true
  stage_fixed: true

toml:
  tags:
  - backend
  - style
  run: taplo format {staged_files} || true
  stage_fixed: true

FE-1523: Import and export Petrinaut files as YAML
  .changeset/yaml-import-export.md
  libs/@hashintel/petrinaut-cli/README.md
  libs/@hashintel/petrinaut-cli/src/cli.ts
  libs/@hashintel/petrinaut-cli/src/runtime/load-model.test.ts
  libs/@hashintel/petrinaut-cli/src/runtime/load-model.ts
  libs/@hashintel/petrinaut-cli/src/runtime/optimization.test.ts
  libs/@hashintel/petrinaut-cli/src/runtime/optimization.ts
  libs/@hashintel/petrinaut-core/package.json
  libs/@hashintel/petrinaut-core/src/file-format/document-text.test.ts
  libs/@hashintel/petrinaut-core/src/file-format/document-text.ts
  libs/@hashintel/petrinaut-core/src/file-format/parse-sdcpn-file.ts
  libs/@hashintel/petrinaut-core/src/file-format/serialize-sdcpn.test.ts
  libs/@hashintel/petrinaut-core/src/file-format/serialize-sdcpn.ts
  libs/@hashintel/petrinaut-core/src/index.ts
  libs/@hashintel/petrinaut/docs/README.md
  libs/@hashintel/petrinaut/docs/actual-mode.md
  libs/@hashintel/petrinaut/docs/drawing-a-net.md
  libs/@hashintel/petrinaut/src/ui/file-io/export-sdcpn.ts
  libs/@hashintel/petrinaut/src/ui/file-io/import-sdcpn.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view.tsx
  libs/@local/petrinaut-arch-docs/content/cli/usage-manual.mdx
  libs/@local/petrinaut-python/README.md
  libs/@local/petrinaut-python/src/petrinaut/optimization.py
  libs/@local/petrinaut-python/src/petrinaut/session.py
  yarn.lock
Due: markdownlint, biome, yarn

Restyle native scrollbars inside the Petrinaut root
  .changeset/petrinaut-scrollbar-styling.md
  libs/@hashintel/petrinaut/src/panda-preset.ts
  libs/@hashintel/petrinaut/src/ui/components/sub-view/vertical/vertical-sub-views-container.tsx
Due: markdownlint, biome

FE-1514: Apply self-review to the diff mode
  apps/petrinaut-docs/scripts/resolve-diff-base.mjs
  apps/petrinaut-docs/src/diff-context.ts
  apps/petrinaut-docs/vercel-build.sh
  libs/@local/petrinaut-arch-docs/src/cli.ts
  libs/@local/petrinaut-arch-docs/src/diff/base-side.ts
  libs/@local/petrinaut-arch-docs/src/diff/base-tree.ts
Due: biome

FE-1523: Apply review fixes to the YAML codec
  libs/@hashintel/petrinaut-cli/src/runtime/load-model.ts
  libs/@hashintel/petrinaut-core/src/file-format/document-text.test.ts
  libs/@hashintel/petrinaut-core/src/file-format/document-text.ts
  libs/@hashintel/petrinaut-core/src/file-format/parse-sdcpn-file.ts
  libs/@hashintel/petrinaut-core/src/file-format/serialize-sdcpn.test.ts
  libs/@hashintel/petrinaut-core/src/index.ts
  libs/@hashintel/petrinaut-core/vite.config.ts
  libs/@hashintel/petrinaut/docs/drawing-a-net.md
Due: markdownlint, biome

FE-1514: Let CI relocate the base cache
  libs/@local/petrinaut-arch-docs/README.md
  libs/@local/petrinaut-arch-docs/src/diff/base-side.ts
  libs/@local/petrinaut-arch-docs/turbo.json
Due: markdownlint, biome

feat: label properties in the edition cache
  libs/@local/graph/postgres-store/postgres_migrations/V58__entity_edition_cache_label_properties.sql
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/compile/tests.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/entity.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/table.rs
  libs/@local/graph/store/src/entity/query.rs
  libs/@local/graph/store/src/filter/protection.rs
Due: sqlfluff, rust

fix: track label property paths
  libs/@local/graph/migrations/graph-migrations/v009__entities/up.sql
Due: sqlfluff

Reveal Petrinaut scrollbar thumbs only while their container is hovered
  .changeset/petrinaut-scrollbar-styling.md
  libs/@hashintel/petrinaut/src/panda-preset.ts
Due: markdownlint, biome

FE-1514: Apply verification-review findings
  apps/petrinaut-docs/src/diff-context.ts
  libs/@local/petrinaut-arch-docs/src/cli.ts
  libs/@local/petrinaut-arch-docs/src/diff/base-cache.ts
  libs/@local/petrinaut-arch-docs/src/diff/base-side.ts
  libs/@local/petrinaut-arch-docs/src/diff/base-tree.ts
  libs/@local/petrinaut-arch-docs/src/emit/components/diff-marker.css
Due: biome

fix: update scalar property query fixture
  libs/@local/graph/postgres-store/src/store/postgres/query/compile/tests.rs
Due: rust

feat: deletion tombstones and entity feed
  Cargo.lock
  libs/@local/graph/migrations/graph-migrations/v009__entities/up.sql
  libs/@local/graph/postgres-store/Cargo.toml
  libs/@local/graph/postgres-store/postgres_migrations/V59__entity_deletion_provenance_columns.sql
  libs/@local/graph/postgres-store/postgres_migrations/V60__entity_present_feed_indexes.sql
  libs/@local/graph/postgres-store/postgres_migrations/V61__entity_feed_statistics.sql
  libs/@local/graph/postgres-store/src/snapshot/entity/channel.rs
  libs/@local/graph/postgres-store/src/store/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/delete.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/feed.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/provenance.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/query.rs
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/ast/statement/insert.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/rows.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/table.rs
  libs/@local/graph/postgres-store/tests/deletion/drafts.rs
  libs/@local/graph/postgres-store/tests/deletion/erase.rs
  libs/@local/graph/postgres-store/tests/deletion/feed.rs
  libs/@local/graph/postgres-store/tests/deletion/links.rs
  libs/@local/graph/postgres-store/tests/deletion/main.rs
  libs/@local/graph/postgres-store/tests/deletion/purge.rs
Due: sqlfluff, rust, toml

fix: terminate entity event streams reliably
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/feed.rs
Due: rust

fix: clarify entity feed termination logic
  libs/@local/graph/migrations/graph-migrations/v009__entities/up.sql
  libs/@local/graph/postgres-store/postgres_migrations/V61__entity_feed_statistics.sql
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/feed.rs
Due: sqlfluff, rust

fix: update deletion actor identifiers
  libs/@local/graph/postgres-store/tests/deletion/feed.rs
Due: rust

feat: core api for atlas
  libs/@local/graph/temporal-versioning/src/timestamp.rs
  libs/@local/graph/temporal-versioning/tests/timestamp.rs
  libs/@local/graph/types/src/embedding.rs
  libs/@local/temporal-client/src/ai.rs
  libs/@local/temporal-client/src/lib.rs
  libs/@local/temporal-client/src/workflow.rs
Due: rust

refactor: remove unused actor uuid import
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/delete.rs
Due: rust

FE-1514: Highlight arch-docs changes against a base ref on preview builds (#9366)
  apps/petrinaut-docs/README.md
  apps/petrinaut-docs/astro.config.mjs
  apps/petrinaut-docs/scripts/resolve-diff-base.mjs
  apps/petrinaut-docs/src/components/DiffBadges.astro
  apps/petrinaut-docs/src/components/SiteTitle.astro
  apps/petrinaut-docs/src/diff-context.ts
  apps/petrinaut-docs/src/styles/chrome.css
  apps/petrinaut-docs/vercel-build.sh
  libs/@local/petrinaut-arch-docs/README.md
  libs/@local/petrinaut-arch-docs/content/diagrams/diff-build-flow.d2
  libs/@local/petrinaut-arch-docs/content/maintaining.mdx
  libs/@local/petrinaut-arch-docs/content/maintaining/previewing-changes.mdx
  libs/@local/petrinaut-arch-docs/src/cli.ts
  libs/@local/petrinaut-arch-docs/src/diff/annotate.ts
  libs/@local/petrinaut-arch-docs/src/diff/base-cache.test.ts
  libs/@local/petrinaut-arch-docs/src/diff/base-cache.ts
  libs/@local/petrinaut-arch-docs/src/diff/base-side.ts
  libs/@local/petrinaut-arch-docs/src/diff/base-tree.ts
  libs/@local/petrinaut-arch-docs/src/diff/blocks.test.ts
  libs/@local/petrinaut-arch-docs/src/diff/blocks.ts
  libs/@local/petrinaut-arch-docs/src/diff/bundle-diff.test.ts
  libs/@local/petrinaut-arch-docs/src/diff/bundle-diff.ts
  libs/@local/petrinaut-arch-docs/src/diff/normalize.test.ts
  libs/@local/petrinaut-arch-docs/src/diff/normalize.ts
  libs/@local/petrinaut-arch-docs/src/emit/bundle-outputs.ts
  libs/@local/petrinaut-arch-docs/src/emit/components/diff-marker.css
  libs/@local/petrinaut-arch-docs/src/emit/components/diff-marker.tsx
  libs/@local/petrinaut-arch-docs/src/emit/mdx.ts
  libs/@local/petrinaut-arch-docs/src/emit/shipped-components.ts
  libs/@local/petrinaut-arch-docs/turbo.json
Due: markdownlint, biome

FE-1056: Move the handle integration guide into the architecture docs
  .changeset/fe-1056-sdcpn-input.md
  libs/@hashintel/petrinaut-core/README.md
  libs/@hashintel/petrinaut-core/src/handle/json-doc-handle/create-json-doc-handle.ts
  libs/@hashintel/petrinaut-core/src/index.ts
  libs/@hashintel/petrinaut-core/src/types/sdcpn-input.test.ts
  libs/@hashintel/petrinaut-core/src/types/sdcpn-input.ts
  libs/@hashintel/petrinaut/README.md
  libs/@local/petrinaut-arch-docs/content/handle/contract-gaps.mdx
  libs/@local/petrinaut-arch-docs/content/handle/host-integration.mdx
  libs/@local/petrinaut-arch-docs/content/index.mdx
Due: markdownlint, biome

FE-1314: Draw the shard merge as a diagram
  libs/@local/petrinaut-arch-docs/content/diagrams/worker-sharding.d2
  libs/@local/petrinaut-arch-docs/content/simulation/worker-sharding.mdx
Due: biome

FE-1314: Apply the house prose style to the docs it adds
  .changeset/parallel-experiment-runs.md
  libs/@hashintel/petrinaut-core/docs/simulation-performance.md
  libs/@hashintel/petrinaut-core/src/index.ts
  libs/@hashintel/petrinaut-core/src/simulation/index.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/index.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/metrics/index.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/runtime/experiment.ts
  libs/@hashintel/petrinaut/docs/experiments.md
  libs/@local/petrinaut-arch-docs/content/simulation/worker-sharding.mdx
Due: markdownlint, biome

FE-1314: Run experiment runs in parallel across workers
  .changeset/parallel-experiment-runs.md
  libs/@hashintel/petrinaut-core/.oxlintrc.json
  libs/@hashintel/petrinaut-core/benchmarks/.gitignore
  libs/@hashintel/petrinaut-core/benchmarks/README.md
  libs/@hashintel/petrinaut-core/benchmarks/coloured-enumeration.mjs
  libs/@hashintel/petrinaut-core/benchmarks/flat-stepper-ceiling.mjs
  libs/@hashintel/petrinaut-core/benchmarks/monte-carlo-throughput.mjs
  libs/@hashintel/petrinaut-core/benchmarks/shard-main.mjs
  libs/@hashintel/petrinaut-core/benchmarks/shard-worker.mjs
  libs/@hashintel/petrinaut-core/benchmarks/sharded-experiment-worker.mjs
  libs/@hashintel/petrinaut-core/benchmarks/sharded-experiment.mjs
  libs/@hashintel/petrinaut-core/docs/simulation-performance.md
  libs/@hashintel/petrinaut-core/src/index.ts
  libs/@hashintel/petrinaut-core/src/simulation/index.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/index.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/metrics/index.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/metrics/merge.test.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/metrics/merge.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/metrics/types.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/metrics/user-defined.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/run-state.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/runtime/experiment.test.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/runtime/experiment.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/runtime/shard-plan.test.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/runtime/shard-plan.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/types.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/worker/messages.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/worker/monte-carlo.worker.ts
  libs/@hashintel/petrinaut/docs/experiments.md
  libs/@hashintel/petrinaut/src/react/experiments/provider.test.tsx
  libs/@hashintel/petrinaut/src/react/experiments/provider.tsx
  libs/@local/petrinaut-arch-docs/content/simulation/worker-sharding.mdx
Due: markdownlint, biome

BE-780, BE-788: hgraph: Label property provenance and masked property-summary query paths (#9302)
  libs/@local/graph/migrations/graph-migrations/v009__entities/up.sql
  libs/@local/graph/postgres-store/postgres_migrations/V58__entity_edition_cache_label_properties.sql
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/compile/tests.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/entity.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/table.rs
  libs/@local/graph/store/src/entity/query.rs
  libs/@local/graph/store/src/filter/protection.rs
Due: sqlfluff, rust

BE-781: hgraph: Entity event feed with deletion tombstones (#9303)
  Cargo.lock
  libs/@local/graph/migrations/graph-migrations/v009__entities/up.sql
  libs/@local/graph/postgres-store/Cargo.toml
  libs/@local/graph/postgres-store/postgres_migrations/V59__entity_deletion_provenance_columns.sql
  libs/@local/graph/postgres-store/postgres_migrations/V60__entity_present_feed_indexes.sql
  libs/@local/graph/postgres-store/postgres_migrations/V61__entity_feed_statistics.sql
  libs/@local/graph/postgres-store/src/snapshot/entity/channel.rs
  libs/@local/graph/postgres-store/src/store/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/delete.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/feed.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/provenance.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/query.rs
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/ast/statement/insert.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/rows.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/table.rs
  libs/@local/graph/postgres-store/tests/deletion/drafts.rs
  libs/@local/graph/postgres-store/tests/deletion/erase.rs
  libs/@local/graph/postgres-store/tests/deletion/feed.rs
  libs/@local/graph/postgres-store/tests/deletion/links.rs
  libs/@local/graph/postgres-store/tests/deletion/main.rs
  libs/@local/graph/postgres-store/tests/deletion/purge.rs
Due: sqlfluff, rust, toml

BE-785: Caller-identified workflow starts and owned-buffer accessors for the atlas serving path (#9304)
  libs/@local/graph/temporal-versioning/src/timestamp.rs
  libs/@local/graph/temporal-versioning/tests/timestamp.rs
  libs/@local/graph/types/src/embedding.rs
  libs/@local/temporal-client/src/ai.rs
  libs/@local/temporal-client/src/lib.rs
  libs/@local/temporal-client/src/workflow.rs
Due: rust

BE-808: Enforce rate limits by default
  libs/@local/graph/api/src/rest/rate_limit.rs
  libs/@local/middleware/src/rate_limit/config.rs
  libs/@local/middleware/src/rate_limit/mod.rs
Due: rust

Mount the SDCPN elicitor in the dev app
  apps/brunch-agent/package.json
  apps/brunch-agent/src/agents/sdcpn-elicitor.ts
  apps/brunch-agent/src/app.ts
  apps/brunch-agent/src/elicitation-session.ts
  apps/brunch-agent/src/routes.ts
  apps/brunch-agent/src/ui/chat.tsx
  apps/brunch-agent/test/build-artifact.test.ts
  yarn.lock
Due: biome, yarn

Record the deferral-licensing gate and the read-path size finding
  libs/@hashintel/brunch-agent/docs/control/STEERING.md
Due: markdownlint, biome

Stop forcing thin scrollbars in ds-components scroll containers
  .changeset/ds-components-scrollbar-defaults.md
  libs/@hashintel/ds-components/src/components/Menu/SelectableList/selectable-list.recipe.ts
  libs/@hashintel/ds-components/src/components/TextArea/text-area.recipe.ts
  libs/@hashintel/ds-components/src/util/overlay-parts.recipe.ts
Due: markdownlint, biome

FE-1523: Write exported documents in a fixed, dependency-ordered key order
  .changeset/yaml-import-export.md
  libs/@hashintel/petrinaut-core/src/file-format/serialize-sdcpn.test.ts
  libs/@hashintel/petrinaut-core/src/file-format/serialize-sdcpn.ts
Due: markdownlint, biome

FE-1314: Move the performance doc into the architecture docs
  libs/@hashintel/petrinaut-core/benchmarks/README.md
  libs/@local/petrinaut-arch-docs/content/simulation/performance.mdx
Due: markdownlint, biome

FE-1237: Add optional per-place token capacity
  .changeset/place-token-capacity.md
  libs/@hashintel/petrinaut-core/src/schemas/entity-schemas.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/build-simulation.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/capacity.test.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/capacity.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/check-transition-enablement.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/compiled-transition.test-helpers.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/compute-possible-transition.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/types.ts
  libs/@hashintel/petrinaut-core/src/simulation/frames/internal-frame.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/advance-run.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/capacity.test.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/frame-operations.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/internal-types.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/run-state.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/transition-effect.ts
  libs/@hashintel/petrinaut-core/src/types/sdcpn.ts
  libs/@hashintel/petrinaut/docs/drawing-a-net.md
  libs/@hashintel/petrinaut/docs/simulation.md
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/place-properties/subviews/main.tsx
  libs/@local/petrinaut-arch-docs/content/simulation/performance.mdx
Due: markdownlint, biome

FE-1237: Apply the house prose style to the changeset
  .changeset/place-token-capacity.md
  libs/@hashintel/petrinaut-core/src/simulation/engine/build-simulation.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/capacity.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/compute-next-frame.test.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/compute-possible-transition.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/execute-transitions.ts
  libs/@hashintel/petrinaut-core/src/simulation/frames/internal-frame.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/place-properties/subviews/main.tsx
Due: markdownlint, biome

FE-1341: Apply the house prose style to the docs it adds
  libs/@local/petrinaut-arch-docs/content/experiments/backend-selection.mdx
Due: biome

FE-1341: Give experiment compute backends one interface
  libs/@hashintel/petrinaut-core/package.json
  libs/@hashintel/petrinaut-core/src/experiments.ts
  libs/@hashintel/petrinaut-core/src/experiments/experiment-assessment.ts
  libs/@hashintel/petrinaut-core/src/experiments/experiment-backend.ts
  libs/@hashintel/petrinaut-core/src/experiments/experiment-request.ts
  libs/@hashintel/petrinaut-core/src/experiments/select-experiment-backend.test.ts
  libs/@hashintel/petrinaut-core/src/experiments/select-experiment-backend.ts
  libs/@hashintel/petrinaut-core/src/experiments/worker-pool-experiment-backend.ts
  libs/@hashintel/petrinaut-core/vite.config.ts
  libs/@hashintel/petrinaut/src/react/experiments/provider.test.tsx
  libs/@hashintel/petrinaut/src/react/experiments/provider.tsx
  libs/@local/petrinaut-arch-docs/content/experiments/backend-selection.mdx
Due: biome, yarn

FE-1341: Apply the house prose style to the code comments
  .changeset/experiments-backend-registry.md
  libs/@hashintel/petrinaut-core/src/experiments.ts
  libs/@hashintel/petrinaut-core/src/experiments/experiment-assessment.ts
  libs/@hashintel/petrinaut-core/src/experiments/experiment-backend.ts
  libs/@hashintel/petrinaut-core/src/experiments/experiment-request.ts
  libs/@hashintel/petrinaut-core/src/experiments/select-experiment-backend.test.ts
  libs/@hashintel/petrinaut-core/src/experiments/select-experiment-backend.ts
  libs/@hashintel/petrinaut-core/src/experiments/worker-pool-experiment-backend.ts
  libs/@hashintel/petrinaut-core/vite.config.ts
  libs/@hashintel/petrinaut/src/react/experiments/provider.tsx
  libs/@local/petrinaut-arch-docs/content/experiments/backend-selection.mdx
Due: markdownlint, biome

FE-1340: Fail the experiment when the GPU device is lost
  libs/@hashintel/petrinaut-core/src/webgpu/gpu-experiment-handle.ts
Due: biome

FE-1341: Draw backend selection as a diagram
  libs/@local/petrinaut-arch-docs/content/diagrams/backend-selection.d2
  libs/@local/petrinaut-arch-docs/content/experiments/backend-selection.mdx
Due: biome

FE-1340: Draw the GPU pipeline as a diagram
  libs/@local/petrinaut-arch-docs/content/diagrams/gpu-experiment-pipeline.d2
  libs/@local/petrinaut-arch-docs/content/simulation/gpu-backend.mdx
Due: biome

Path conditions:
  markdownlint: any of: *.md
  biome: any of: *.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}
  yarn: any of: {*/package.json, package.json}
  sqlfluff: any of: *.sql
  rust: any of: *.rs
  toml: any of: *.toml
