Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    biome:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: biome format --write --staged || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: rustfmt {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: taplo format {staged_files} || true
      stage_fixed: true

add more url validation
  libs/@local/hash-backend-utils/src/url-validation.ts
Due: biome

comment out unused import
  apps/hash-api/src/index.ts
Due: biome

handle signup page for already-verified users
  apps/hash-frontend/src/pages/signup.page.tsx
Due: biome

further tweak signup logic
  apps/hash-frontend/src/pages/signup.page.tsx
Due: biome

fix backend-load user registration logic for new restrictions
  tests/hash-backend-load/src/graph/user.ts
Due: biome

H-6203, H-6204, H-6205, H-6212, SRE-484: Security hardening in frontend and Node API (#8416)
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/create-file-entity-from-url.ts
  apps/hash-api/public/consent.js
  apps/hash-api/src/ai/infer-entities-websocket.ts
  apps/hash-api/src/auth/oauth-consent-handlers.ts
  apps/hash-api/src/graph/knowledge/primitive/entity.ts
  apps/hash-api/src/graph/knowledge/primitive/entity/before-update-entity-hooks/user-before-update-entity-hook-callback.ts
  apps/hash-api/src/graph/knowledge/system-types/file.ts
  apps/hash-api/views/consent.hbs
  apps/hash-external-services/kratos/kratos.yml
  apps/hash-frontend/package.json
  apps/hash-frontend/src/components/remote-block/load-remote-block.ts
  apps/hash-frontend/src/pages/shared/markdown/elements/snippet.tsx
  libs/@local/graph/sdk/typescript/src/entity.ts
  libs/@local/graph/sdk/typescript/src/user-entity-restrictions.ts
  libs/@local/hash-backend-utils/src/url-validation.ts
  libs/@local/hash-isomorphic-utils/src/ai-inference-types.ts
  tests/hash-backend-load/src/graph/user.ts
  yarn.lock
Due: biome, yarn

more test fixes
  tests/hash-playwright/tests/mfa.spec.ts
  tests/hash-playwright/tests/shared/totp-utils.ts
  tests/hash-playwright/tests/signup.spec.ts
Due: biome

comment out TOTP UI for now
  apps/hash-frontend/src/pages/settings/security.page.tsx
Due: biome

slightly bump rate limit
  apps/hash-api/src/index.ts
Due: biome

skip TOTP tests
  tests/hash-playwright/tests/mfa.spec.ts
Due: biome

feat: move cost estimation out
  libs/@local/hashql/mir/src/pass/execution/cost.rs
  libs/@local/hashql/mir/src/pass/execution/placement/condense/estimate.rs
  libs/@local/hashql/mir/src/pass/execution/placement/condense/mod.rs
Due: rust

Refactor backend CD workflow to use unified staging env variables
  .github/actions/docker-build-push/action.yml
  .github/workflows/hash-backend-cd.yml
  apps/hash-external-services/package.json
Due: biome, yarn

Remove deprecated HASH_GRAPH_PG_DATABASE from env and workflows
  .env.development
  .env.test
  .github/workflows/bench.yml
  .github/workflows/test.yml
Due: biome

fix gate on getPendingInvitationByEntityId
  apps/hash-api/src/graphql/resolvers/index.ts
Due: biome

BE-382: Add traversal depth and resolve depth validation (#8394)
  apps/hash-ai-worker-ts/src/activities/flow-activities/infer-metadata-from-document-action/get-llm-analysis-of-doc.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/write-google-sheet-action/get-subgraph-from-filter.ts
  apps/hash-api/src/ai/gpt/gpt-query-entities.ts
  apps/hash-api/src/ai/gpt/gpt-query-types.ts
  libs/@local/graph/api/src/rest/data_type.rs
  libs/@local/graph/api/src/rest/entity_query_request.rs
  libs/@local/graph/api/src/rest/entity_type.rs
  libs/@local/graph/api/src/rest/property_type.rs
  libs/@local/graph/store/src/data_type/store.rs
  libs/@local/graph/store/src/entity_type/store.rs
  libs/@local/graph/store/src/property_type/store.rs
  libs/@local/graph/store/src/subgraph/edges/kind.rs
  libs/@local/graph/store/src/subgraph/edges/mod.rs
  libs/@local/graph/store/src/subgraph/edges/traversal.rs
  tests/hash-backend-integration/src/tests/subgraph/friendship.test.ts
Due: biome, rust

PR feedback
  apps/hash-frontend/src/pages/shared/_app.util.ts
  apps/hash-frontend/src/pages/verification.page.tsx
Due: biome

fix docker compose Kratos public URL
  apps/hash-external-services/docker-compose.prod.yml
  apps/hash-external-services/docker-compose.yml
Due: biome

feat(hashql-core): add LinkedGraph benchmarking suite with instruction counting
  Cargo.lock
  Cargo.toml
  libs/@local/hashql/core/Cargo.toml
  libs/@local/hashql/core/benches/linked_graph.rs
Due: rust, toml

BE-398: Remove hardcoded database names from environment files (#8418)
  .env.development
  .env.test
  .github/workflows/bench.yml
  .github/workflows/test.yml
Due: biome

feat: move to bump allocator
  libs/@local/hashql/mir/src/pass/execution/placement/condense/estimate.rs
  libs/@local/hashql/mir/src/pass/execution/placement/condense/mod.rs
  libs/@local/hashql/mir/src/pass/execution/placement/condense/nested.rs
Due: rust

feat: checkpoint
  libs/@local/hashql/core/src/graph/algorithms/tarjan/mod.rs
  libs/@local/hashql/core/src/id/slice.rs
  libs/@local/hashql/mir/src/pass/execution/placement/condense/mod.rs
Due: rust

feat: checkpoint
  libs/@local/hashql/core/package.json
  libs/@local/hashql/core/src/graph/algorithms/tarjan/mod.rs
  libs/@local/hashql/core/src/graph/algorithms/tarjan/tests.rs
  libs/@local/hashql/core/src/id/slice.rs
Due: biome, yarn, rust

fix: nested scc musings
  libs/@local/hashql/mir/src/pass/execution/placement/SPEC.md
  libs/@local/hashql/mir/src/pass/execution/placement/condense/estimate.rs
  libs/@local/hashql/mir/src/pass/execution/placement/condense/mod.rs
  libs/@local/hashql/mir/src/pass/execution/placement/condense/nested.rs
Due: markdownlint, biome, rust

feat: checkpoint
  libs/@local/hashql/mir/src/pass/execution/placement/condense/estimate.rs
  libs/@local/hashql/mir/src/pass/execution/placement/condense/mod.rs
  libs/@local/hashql/mir/src/pass/execution/placement/condense/nested.rs
Due: rust

feat: checkpoint
  libs/@local/hashql/mir/src/pass/execution/placement/condense/nested.rs
Due: rust

feat: checkpoint
  libs/@local/hashql/core/src/graph/linked.rs
  libs/@local/hashql/mir/src/pass/execution/cost.rs
  libs/@local/hashql/mir/src/pass/execution/placement/condense/csp.rs
  libs/@local/hashql/mir/src/pass/execution/placement/condense/estimate.rs
  libs/@local/hashql/mir/src/pass/execution/placement/condense/mod.rs
  libs/@local/hashql/mir/src/pass/execution/placement/condense/nested.rs
  libs/@local/hashql/mir/src/pass/execution/terminator_placement/mod.rs
Due: rust

feat: checkpoint
  libs/@local/hashql/mir/src/pass/execution/placement/condense/csp.rs
  libs/@local/hashql/mir/src/pass/execution/placement/condense/estimate.rs
  libs/@local/hashql/mir/src/pass/execution/placement/condense/mod.rs
  libs/@local/hashql/mir/src/pass/execution/target.rs
Due: rust

feat: checkpoint
  libs/@local/hashql/mir/src/pass/execution/cost.rs
  libs/@local/hashql/mir/src/pass/execution/placement/condense/csp.rs
Due: rust

feat: checkpoint
  libs/@local/hashql/mir/src/pass/execution/placement/condense/csp.rs
  libs/@local/hashql/mir/src/pass/execution/placement/condense/estimate.rs
  libs/@local/hashql/mir/src/pass/execution/placement/condense/mod.rs
Due: rust

feat: checkpoint
  libs/@local/hashql/mir/src/pass/execution/placement/condense/csp.rs
  libs/@local/hashql/mir/src/pass/execution/placement/condense/mod.rs
Due: rust

feat: checkpoint
  libs/@local/hashql/mir/src/pass/execution/placement/SPEC.md
  libs/@local/hashql/mir/src/pass/execution/placement/condense/estimate.rs
Due: markdownlint, biome, rust

feat: checkpoint
  libs/@local/hashql/mir/src/pass/execution/placement/condense/estimate.rs
  libs/@local/hashql/mir/src/pass/execution/placement/condense/mod.rs
Due: rust

feat: move condense into solve + rename
  libs/@local/hashql/mir/src/pass/execution/placement/condense/mod.rs
  libs/@local/hashql/mir/src/pass/execution/placement/mod.rs
  libs/@local/hashql/mir/src/pass/execution/placement/solve/condensation.rs
  libs/@local/hashql/mir/src/pass/execution/placement/solve/csp.rs
  libs/@local/hashql/mir/src/pass/execution/placement/solve/estimate.rs
  libs/@local/hashql/mir/src/pass/execution/placement/solve/mod.rs
Due: rust

feat: csp BNB
  libs/@local/hashql/mir/src/pass/execution/placement/solve/csp.rs
  libs/@local/hashql/mir/src/pass/execution/placement/solve/mod.rs
Due: rust

feat: csp BNB top K on rewind
  Cargo.lock
  libs/@local/hashql/mir/Cargo.toml
  libs/@local/hashql/mir/src/lib.rs
  libs/@local/hashql/mir/src/pass/execution/placement/solve/condensation.rs
  libs/@local/hashql/mir/src/pass/execution/placement/solve/csp.rs
  libs/@local/hashql/mir/src/pass/execution/placement/solve/mod.rs
Due: rust, toml
