Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    biome:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: biome format --write --staged || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: rustfmt {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: taplo format {staged_files} || true
      stage_fixed: true

chore: follow projections on param edges
  libs/@local/hashql/mir/src/pass/analysis/data_dependency/resolve.rs
  libs/@local/hashql/mir/src/pass/analysis/data_dependency/tests.rs
  libs/@local/hashql/mir/src/pass/transform/inst_simplify/mod.rs
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/param_consensus_projected_field_const.snap
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/param_consensus_projected_field_place.snap
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/param_cycle_invariant_projected_field.snap
Due: rust

SRE-567: Replace staging deploy with workflow_dispatch to infra repo
  .github/workflows/hash-backend-cd.yml
Due: biome

Set petrinaut minZoom to be dynamically based on size of net
  libs/@hashintel/petrinaut/package.json
  libs/@hashintel/petrinaut/src/views/SDCPN/sdcpn-view.tsx
  yarn.lock
Due: biome, yarn

Added changeset
  .changeset/heavy-terms-refuse.md
Due: markdownlint, biome

When fitting minZoom in petrinaut handle the case where the net has no size
  libs/@hashintel/petrinaut/src/views/SDCPN/sdcpn-view.tsx
Due: biome

Moved @types/lodash in petrinaut to dev dependency
  libs/@hashintel/petrinaut/package.json
Due: biome, yarn

Moved debounce + resize observer hooks to new util hook library
  libs/@hashintel/petrinaut/src/views/SDCPN/hooks/util/useDebounceCallback.tsx
  libs/@hashintel/petrinaut/src/views/SDCPN/hooks/util/useResizeObserver.tsx
  libs/@hashintel/petrinaut/src/views/SDCPN/sdcpn-view.tsx
Due: biome

Switch useDebounceCallback to use flush instead of cancel
  libs/@hashintel/petrinaut/src/views/SDCPN/hooks/util/useDebounceCallback.tsx
Due: biome

Fix lint errors
  libs/@hashintel/petrinaut/src/views/SDCPN/hooks/util/use-debounce-callback.tsx
  libs/@hashintel/petrinaut/src/views/SDCPN/hooks/util/use-resize-observer.tsx
  libs/@hashintel/petrinaut/src/views/SDCPN/sdcpn-view.tsx
Due: biome

FE-528: Fit Petrinaut zoom out to size of net (#8611)
  .changeset/heavy-terms-refuse.md
  libs/@hashintel/petrinaut/package.json
  libs/@hashintel/petrinaut/src/views/SDCPN/hooks/util/use-debounce-callback.tsx
  libs/@hashintel/petrinaut/src/views/SDCPN/hooks/util/use-resize-observer.tsx
  libs/@hashintel/petrinaut/src/views/SDCPN/sdcpn-view.tsx
  yarn.lock
Due: markdownlint, biome, yarn

Fix petrinaut changeset version
  .changeset/heavy-terms-refuse.md
Due: markdownlint, biome

Fix petrinaut changeset version (#8616)
  .changeset/heavy-terms-refuse.md
Due: markdownlint, biome

Specify explicitly monaco editor contrib imports to prevent tree-shaking
  libs/@hashintel/petrinaut/src/monaco/provider.tsx
Due: biome

Set esbuild for css minification
  apps/petrinaut-website/vite.config.ts
  libs/@hashintel/petrinaut/vite.config.ts
Due: biome

Define preview script for petrinaut-website to test the build
  apps/petrinaut-website/package.json
Due: biome, yarn

Remove scripts.preview
  apps/petrinaut-website/package.json
Due: biome, yarn

FE-526: Fix Monaco widgets not displayed in Petrinaut Code Editor (#8615)
  apps/petrinaut-website/vite.config.ts
  libs/@hashintel/petrinaut/src/monaco/provider.tsx
  libs/@hashintel/petrinaut/vite.config.ts
Due: biome

Add new field to petrinaut arcs type: inhibitor | standard
  libs/@hashintel/petrinaut/src/clipboard/paste.test.ts
  libs/@hashintel/petrinaut/src/clipboard/serialize.test.ts
  libs/@hashintel/petrinaut/src/clipboard/types.ts
  libs/@hashintel/petrinaut/src/core/types/sdcpn.ts
  libs/@hashintel/petrinaut/src/examples/broken-machines.ts
  libs/@hashintel/petrinaut/src/examples/satellites-launcher.ts
  libs/@hashintel/petrinaut/src/examples/satellites.ts
  libs/@hashintel/petrinaut/src/examples/sir-model.ts
  libs/@hashintel/petrinaut/src/examples/supply-chain-stochastic.ts
  libs/@hashintel/petrinaut/src/examples/supply-chain.ts
  libs/@hashintel/petrinaut/src/file-format/types.ts
  libs/@hashintel/petrinaut/src/lib/deep-equal.test.ts
  libs/@hashintel/petrinaut/src/lsp/lib/checker.test.ts
  libs/@hashintel/petrinaut/src/lsp/lib/create-sdcpn-language-service.test.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/build-simulation.test.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/check-transition-enablement.test.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/compute-next-frame.test.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/compute-possible-transition.test.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/execute-transitions.test.ts
  libs/@hashintel/petrinaut/src/state/mutation-provider.test.tsx
  libs/@hashintel/petrinaut/src/state/mutation-provider.tsx
  libs/@hashintel/petrinaut/src/views/Editor/panels/PropertiesPanel/properties-panel.stories.tsx
  libs/@hashintel/petrinaut/src/views/SDCPN/hooks/use-sdcpn-to-react-flow.ts
Due: biome

create users who present with kratosIdentityId that hasn't yet been associated with an entity in the graph
  apps/hash-api/src/auth/create-auth-handlers.ts
  apps/hash-api/src/index.ts
Due: biome

Rename arcType to arcDirection in petrinaut
  libs/@hashintel/petrinaut/src/state/mutation-context.ts
  libs/@hashintel/petrinaut/src/state/mutation-provider.tsx
  libs/@hashintel/petrinaut/src/views/Editor/panels/PropertiesPanel/arc-properties/main.tsx
  libs/@hashintel/petrinaut/src/views/Editor/panels/PropertiesPanel/properties-panel.stories.tsx
  libs/@hashintel/petrinaut/src/views/Editor/panels/PropertiesPanel/transition-properties/context.tsx
  libs/@hashintel/petrinaut/src/views/Editor/panels/PropertiesPanel/transition-properties/main.tsx
Due: biome

don't require users to set current password when setting new password during recovery flow
  apps/hash-frontend/src/pages/recovery.page.tsx
  apps/hash-frontend/src/pages/settings/security.page.tsx
  apps/hash-frontend/src/pages/shared/format-kratos-message.tsx
Due: biome

Add select form field to panel for arc type
  libs/@hashintel/petrinaut/src/state/mutation-context.ts
  libs/@hashintel/petrinaut/src/state/mutation-provider.tsx
  libs/@hashintel/petrinaut/src/views/Editor/panels/PropertiesPanel/arc-properties/main.tsx
  libs/@hashintel/petrinaut/src/views/Editor/panels/PropertiesPanel/panel.tsx
Due: biome

check registration enabled
  apps/hash-api/src/auth/create-auth-handlers.ts
Due: biome

FE-577, H-6410: Handle user creation webhook failures; fix password recovery flow. (#8617)
  apps/hash-api/src/auth/create-auth-handlers.ts
  apps/hash-api/src/index.ts
  apps/hash-frontend/src/pages/recovery.page.tsx
  apps/hash-frontend/src/pages/settings/security.page.tsx
  apps/hash-frontend/src/pages/shared/format-kratos-message.tsx
Due: biome

Update ZOOM_PADDING to be larger so that entire net can be seen when panels are open
  libs/@hashintel/petrinaut/src/views/SDCPN/sdcpn-view.tsx
Due: biome

Update inhibitor arc logic
  libs/@hashintel/petrinaut/src/simulation/simulator/check-transition-enablement.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/compute-possible-transition.ts
Due: biome

Remove inhibitor arcs from output arcs
  libs/@hashintel/petrinaut/src/clipboard/paste.test.ts
  libs/@hashintel/petrinaut/src/clipboard/serialize.test.ts
  libs/@hashintel/petrinaut/src/clipboard/types.ts
  libs/@hashintel/petrinaut/src/core/types/sdcpn.ts
  libs/@hashintel/petrinaut/src/examples/broken-machines.ts
  libs/@hashintel/petrinaut/src/examples/satellites-launcher.ts
  libs/@hashintel/petrinaut/src/examples/satellites.ts
  libs/@hashintel/petrinaut/src/examples/sir-model.ts
  libs/@hashintel/petrinaut/src/examples/supply-chain-stochastic.ts
  libs/@hashintel/petrinaut/src/examples/supply-chain.ts
  libs/@hashintel/petrinaut/src/file-format/types.ts
  libs/@hashintel/petrinaut/src/lib/deep-equal.test.ts
  libs/@hashintel/petrinaut/src/lsp/lib/checker.test.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/build-simulation.test.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/check-transition-enablement.test.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/compute-next-frame.test.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/compute-possible-transition.test.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/execute-transitions.test.ts
  libs/@hashintel/petrinaut/src/state/mutation-context.ts
  libs/@hashintel/petrinaut/src/state/mutation-provider.test.tsx
  libs/@hashintel/petrinaut/src/state/mutation-provider.tsx
  libs/@hashintel/petrinaut/src/views/Editor/panels/PropertiesPanel/arc-properties/main.tsx
  libs/@hashintel/petrinaut/src/views/Editor/panels/PropertiesPanel/properties-panel.stories.tsx
  libs/@hashintel/petrinaut/src/views/SDCPN/hooks/use-sdcpn-to-react-flow.ts
Due: biome

Added test cases for inhibitor arc transitions
  libs/@hashintel/petrinaut/src/simulation/simulator/check-transition-enablement.test.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/compute-possible-transition.test.ts
Due: biome

Added a deployment pipeline example for inhibitor arcs
  libs/@hashintel/petrinaut/src/examples/deployment-pipeline.ts
  libs/@hashintel/petrinaut/src/views/Editor/editor-view.tsx
Due: biome

Add dashed line for inhibitor arcs
  libs/@hashintel/petrinaut/src/views/SDCPN/components/arc.tsx
  libs/@hashintel/petrinaut/src/views/SDCPN/hooks/use-sdcpn-to-react-flow.ts
  libs/@hashintel/petrinaut/src/views/SDCPN/reactflow-types.ts
Due: biome

Add circle endpoint to inhibitor arc
  libs/@hashintel/petrinaut/src/views/SDCPN/components/arc.tsx
Due: biome

Added a changeset for inhibitor arcs
  .changeset/funky-deserts-grin.md
Due: markdownlint, biome

Hide arc type selector for output arcs
  .changeset/funky-deserts-grin.md
  libs/@hashintel/petrinaut/src/simulation/simulator/check-transition-enablement.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/compute-possible-transition.ts
  libs/@hashintel/petrinaut/src/views/Editor/panels/PropertiesPanel/arc-properties/main.tsx
  libs/@hashintel/petrinaut/src/views/SDCPN/hooks/use-sdcpn-to-react-flow.ts
  libs/@hashintel/petrinaut/src/views/SDCPN/reactflow-types.ts
Due: markdownlint, biome

Fix removeToken bad index value issue
  libs/@hashintel/petrinaut/src/simulation/simulator/compute-possible-transition.ts
Due: biome

Don't add arc type when creating output arcs
  libs/@hashintel/petrinaut/src/state/mutation-provider.tsx
Due: biome

Filter out inhibitor arcs earlier when computing transitions
  libs/@hashintel/petrinaut/src/simulation/simulator/compute-possible-transition.ts
Due: biome

Remove output arc type in test file
  libs/@hashintel/petrinaut/src/lsp/lib/create-sdcpn-language-service.test.ts
Due: biome

Do not add inhibitor arc token types to transition in lsp
  libs/@hashintel/petrinaut/src/lsp/lib/generate-virtual-files.ts
Due: biome

H-6219: Restore TOTP MFA and fix AAL2 login redirect
  apps/hash-api/src/index.ts
  apps/hash-frontend/src/pages/settings/security.page.tsx
  apps/hash-frontend/src/pages/shared/ory-kratos.ts
  apps/hash-frontend/src/pages/shared/use-kratos-flow-error-handler.ts
  apps/hash-frontend/src/pages/signin.page.tsx
  tests/hash-playwright/tests/mfa.spec.ts
  tests/hash-playwright/tests/shared/get-kratos-verification-code.ts
  tests/hash-playwright/tests/shared/runtime.ts
  tests/hash-playwright/tests/shared/signup-utils.ts
  tests/hash-playwright/tests/shared/totp-utils.ts
Due: biome

Better text-wrapping for petrinaut nodes
  libs/@hashintel/petrinaut/src/views/SDCPN/components/classic-place-node.tsx
  libs/@hashintel/petrinaut/src/views/SDCPN/components/classic-transition-node.tsx
Due: biome
