Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    biome:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: biome format --write --staged || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: rustfmt {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: taplo format {staged_files} || true
      stage_fixed: true

Stream the ingest events proxy with pipeline and gate it with the other ingest routes
  apps/hash-frontend/next.config.js
  apps/hash-frontend/src/pages/api/ingest/[runId]/events.api.test.ts
  apps/hash-frontend/src/pages/api/ingest/[runId]/events.api.ts
Due: biome

Ignore punctuation-only Live transcripts like empty input
  apps/petrinaut-website/README.md
  apps/petrinaut-website/src/main/app/voice-interview/live-brunch-bridge.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-brunch-bridge.ts
Due: markdownlint, biome

Apply repository conventions to the ingest pages
  apps/hash-frontend/package.json
  apps/hash-frontend/src/pages/ingest/index.page.test.tsx
  apps/hash-frontend/src/pages/ingest/index.page.tsx
  apps/hash-frontend/src/pages/ingest/index.page/upload-panel/progress-labels.ts
  apps/hash-frontend/src/pages/ingest/results.page.tsx
  apps/hash-frontend/src/pages/ingest/results.page/evidence-resolver.test.ts
  apps/hash-frontend/src/pages/ingest/results.page/evidence-resolver.ts
  apps/hash-frontend/src/pages/ingest/results.page/page-viewer.tsx
  apps/hash-frontend/src/pages/ingest/results.page/results-panel.tsx
  apps/hash-frontend/src/pages/ingest/shared/routing.ts
  apps/hash-frontend/src/pages/ingest/shared/types.ts
Due: biome, yarn

Drop short Live transcripts that start while Live is audible
  apps/petrinaut-website/README.md
  apps/petrinaut-website/src/main/app/voice-interview/live-brunch-bridge.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-brunch-bridge.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation-control.test.tsx
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation.ts
Due: markdownlint, biome

Widen the Live echo rule to three words and drop its delegation exception
  apps/petrinaut-website/README.md
  apps/petrinaut-website/src/main/app/voice-interview/live-brunch-bridge.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-brunch-bridge.ts
Due: markdownlint, biome

Count contractions as one word in the Live echo rule
  apps/petrinaut-website/src/main/app/voice-interview/live-brunch-bridge.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-brunch-bridge.ts
Due: biome

Count Live as audible only when the speaker plays it
  apps/petrinaut-website/README.md
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation/echo-diagnostics.ts
Due: markdownlint, biome

Narrow the Live echo window to half a second and trace speech-start timing
  apps/petrinaut-website/README.md
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation/echo-diagnostics.ts
Due: markdownlint, biome

Record Live transcription confidence without dropping on it
  apps/petrinaut-website/README.md
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation/transcription-confidence.ts
  apps/petrinaut-website/src/server/voice/openai-transcription-session.test.ts
  apps/petrinaut-website/src/server/voice/openai-transcription-session.ts
Due: markdownlint, biome

Record each Live utterance's peak microphone level
  apps/petrinaut-website/README.md
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation/utterance-levels.ts
Due: markdownlint, biome

Limit shared ignore rules to agreed scratch and local-only directories
  .dockerignore
  .gitignore
Due: none

Stop exporting ingest contract types that only compose other types
  apps/hash-frontend/src/pages/ingest/shared/types.ts
Due: biome

Check Temporal health without depending on the HASH namespace
  infra/compose/compose.yml
Due: biome

Run the pinned Turborepo from the Petrinaut shipping skill
  .agents/skills/petrinaut-shipping/SKILL.md
Due: markdownlint, biome

SRE-1104: Keep agent-run Turborepo commands on the repository's pinned version (#9855)
  .agents/skills/petrinaut-shipping/SKILL.md
Due: markdownlint, biome

SRE-1103: Limit shared ignore rules to agreed scratch and local-only directories (#9853)
  .dockerignore
  .gitignore
Due: none

Handle a missing GOOGLE_OAUTH_CLIENT_ID in the frontend
  apps/hash-frontend/src/pages/@/[shortname]/shared/flow-visualizer/run-flow-modal.tsx
  apps/hash-frontend/src/pages/goals/new.page/deliverable-settings.tsx
  apps/hash-frontend/src/pages/settings/integrations/google-sheets/create-or-edit-sheets-sync.tsx
  apps/hash-frontend/src/pages/shared/integrations/google/google-account-select.tsx
  apps/hash-frontend/src/pages/shared/integrations/google/google-auth-context.tsx
  apps/hash-frontend/src/pages/shared/integrations/google/select-or-name-google-sheet.tsx
Due: biome

add post demo refactor re-assessments
  libs/@hashintel/brunch-agent/docs/refactoring/post-demo-assessment-a.md
  libs/@hashintel/brunch-agent/docs/refactoring/post-demo-assessment-b.md
Due: markdownlint, biome

Route Brunch through canonical Petrinaut tools
  apps/brunch-agent/src/agents/chat-agent/agent.ts
  apps/brunch-agent/src/app.ts
  apps/brunch-agent/src/provider-admission.ts
  apps/brunch-agent/test/chat-agent-compaction.test.ts
  apps/brunch-agent/test/chat-agent-mode.test.ts
  apps/brunch-agent/test/integration/browser-proposal.integration.ts
  apps/brunch-agent/test/integration/browser-proposal.test.ts
  apps/brunch-agent/test/provider-admission.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-client-tools.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-client-tools.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-panel-transport.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/construction-mode.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/flue.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/index.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/tools/petrinaut-construction.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/test/construction-tools.test.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/test/flue-mounting.test.ts
Due: biome

Add matched Petrinaut assistant evaluation
  apps/brunch-agent/src/evaluations/matched-parity/README.md
  apps/brunch-agent/src/evaluations/matched-parity/artifacts.ts
  apps/brunch-agent/src/evaluations/matched-parity/browser-run.ts
  apps/brunch-agent/src/evaluations/matched-parity/configuration.ts
  apps/brunch-agent/src/evaluations/matched-parity/run.ts
  apps/brunch-agent/src/evaluations/matched-parity/scenarios.ts
  apps/brunch-agent/src/evaluations/matched-parity/summary.ts
  apps/brunch-agent/test/matched-parity-evaluation.test.ts
Due: markdownlint, biome

Verify canonical Petrinaut tool schema carriage
  apps/brunch-agent/test/anthropic-tool-preflight.ts
  apps/brunch-agent/test/integration/native-schema-carriage.integration.ts
  apps/brunch-agent/test/integration/native-schema-carriage.test.ts
  apps/brunch-agent/test/native-schema-provider.ts
Due: biome

Wait for the Petrinaut welcome tour in parity runs
  apps/brunch-agent/src/evaluations/matched-parity/browser-run.ts
Due: biome

Reject unavailable parity models before launch
  apps/brunch-agent/src/evaluations/matched-parity/README.md
  apps/brunch-agent/src/evaluations/matched-parity/configuration.ts
  apps/brunch-agent/test/matched-parity-evaluation.test.ts
Due: markdownlint, biome

Allow supported models longer reasoning pauses
  apps/brunch-agent/README.md
  apps/brunch-agent/src/app.ts
  apps/brunch-agent/src/provider-admission.ts
  apps/brunch-agent/test/provider-admission.test.ts
Due: markdownlint, biome

Resume verified matched evaluation arms
  apps/brunch-agent/src/evaluations/matched-parity/README.md
  apps/brunch-agent/src/evaluations/matched-parity/artifacts.ts
  apps/brunch-agent/src/evaluations/matched-parity/configuration.ts
  apps/brunch-agent/src/evaluations/matched-parity/resume.ts
  apps/brunch-agent/src/evaluations/matched-parity/run.ts
  apps/brunch-agent/test/matched-parity-evaluation.test.ts
Due: markdownlint, biome

Wait for browser tool continuations in persona runs
  apps/brunch-agent/src/evaluations/persona/browser-turn.ts
Due: biome

Report browser failures from matched evaluations
  apps/brunch-agent/src/evaluations/matched-parity/browser-run.ts
Due: biome

Wait for correlated browser results in persona runs
  apps/brunch-agent/src/evaluations/persona/browser-turn.ts
Due: biome

Remove legacy Petrinaut browser tooling
  apps/brunch-agent/README.md
  apps/brunch-agent/src/agents/chat-agent/tool-catalogue.ts
  apps/brunch-agent/src/app.ts
  apps/brunch-agent/test/anthropic-tool-preflight.ts
  apps/brunch-agent/test/integration/native-schema-carriage.integration.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-ask-interactive-tool.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-ask-interactive-tool.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-ask-mapping.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-client-tools.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-client-tools.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-panel-transport.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-petrinaut-tools.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-petrinaut-tools.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/live-document-hash.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/live-document-hash.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/mutate-petrinet-tool.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/mutate-petrinet-tool.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/mutation-record.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/mutation-record.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/use-flue-chat-history.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-browser-tools.integration.test.tsx
  libs/@hashintel/brunch-agent/ARCHITECTURE.md
Due: markdownlint, biome

Bound Brunch client-result identities
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-panel-transport.test.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/src/identity.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/src/index.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/test/chat-transport.test.ts
Due: biome

Record Petrinaut implementation topology
  libs/@hashintel/brunch-agent/docs/refactoring/tooling-remediation-plan.md
Due: markdownlint, biome

Record Petrinaut tooling remediation plan
  libs/@hashintel/brunch-agent/ARCHITECTURE.md
  libs/@hashintel/brunch-agent/docs/refactoring/tooling-remediation-plan.md
Due: markdownlint, biome

Keep Brunch server modules out of browser builds
  apps/brunch-agent/src/conversation/net-ledger.ts
  apps/brunch-agent/test/net-ledger.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-preview-config.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-preview-config.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/declared-basis.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/flue.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/index.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/test/declared-basis.test.ts
Due: biome

Accept contextual browser mutation results
  apps/brunch-agent/src/conversation/mutation-delivery.ts
  apps/brunch-agent/test/net-ledger.test.ts
Due: biome

Keep live Petrinaut calls outside replay baselines
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
Due: biome

Require host mutation records only for recorded canonical names
  apps/brunch-agent/src/conversation/mutation-delivery.ts
  apps/brunch-agent/test/net-ledger.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-petrinaut-tools.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/mutation-record.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/index.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/mutation-record.ts
Due: biome

Scope host mutation records to root-level canonical inputs
  apps/brunch-agent/src/conversation/mutation-delivery.ts
  apps/brunch-agent/test/net-ledger.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-petrinaut-tools.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-petrinaut-tools.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/index.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/mutation-record.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/test/mutation-record.test.ts
Due: biome

Route chat sends through the latest host transport
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
Due: biome
