Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, prettier, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: yarn run markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    prettier:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: yarn run prettier --write {staged_files} || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:packagejson && yarn fix:yarn-deduplicate
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: cargo fmt -- {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: yarn run taplo format {staged_files} || true
      stage_fixed: true

Remove globalMode check from TransitionProperties
  libs/@hashintel/petrinaut/src/views/Editor/components/PropertiesPanel/transition-properties.tsx
Due: prettier

lint / other fixes
  apps/hash-frontend/next-env.d.ts
  apps/hash-frontend/src/pages/@/[shortname]/shared/flow-visualizer.tsx
  apps/hash-frontend/src/pages/@/[shortname]/shared/flow-visualizer/run-flow-modal.tsx
  apps/hash-frontend/src/pages/@/[shortname]/shared/flow-visualizer/topbar.tsx
  libs/@local/hash-isomorphic-utils/src/flows/goal-flow-definitions.ts
Due: prettier

prop fix
  apps/hash-frontend/src/pages/@/[shortname]/shared/flow-visualizer/dag-slide.tsx
Due: prettier

feat: inline cost esimation
  libs/@local/hashql/core/src/graph/algorithms/tarjan/mod.rs
  libs/@local/hashql/mir/src/pass/analysis/callgraph/mod.rs
  libs/@local/hashql/mir/src/pass/transform/inlining/cost.rs
  libs/@local/hashql/mir/src/pass/transform/inlining/mod.rs
  libs/@local/hashql/mir/src/pass/transform/inlining/score.rs
  libs/@local/hashql/mir/src/pass/transform/mod.rs
Due: rust

feat: expose scc membership
  libs/@local/hashql/core/src/graph/algorithms/tarjan/mod.rs
  libs/@local/hashql/core/src/graph/algorithms/tarjan/tests.rs
Due: rust

Update X handle to hashai in various files
  .github/ISSUE_TEMPLATE/config.yml
  README.md
  apps/hash-frontend/src/pages/index.page/shared/follow-us-button.tsx
Due: markdownlint, prettier

H-5894: Update X handle to `hashai` (#8215)
  .github/ISSUE_TEMPLATE/config.yml
  README.md
  apps/hash-frontend/src/pages/index.page/shared/follow-us-button.tsx
Due: markdownlint, prettier

feat: cost configuration
  libs/@local/hashql/mir/src/pass/transform/inlining/cost.rs
Due: rust

feat: first inliner (WIP)
  libs/@local/hashql/mir/src/pass/analysis/callgraph/mod.rs
  libs/@local/hashql/mir/src/pass/transform/inlining/cost.rs
  libs/@local/hashql/mir/src/pass/transform/inlining/mod.rs
  libs/@local/hashql/mir/src/pass/transform/inlining/score.rs
Due: rust

feat: choose call sites to inline
  libs/@local/hashql/mir/src/body/location.rs
  libs/@local/hashql/mir/src/lib.rs
  libs/@local/hashql/mir/src/pass/analysis/callgraph/mod.rs
  libs/@local/hashql/mir/src/pass/analysis/mod.rs
  libs/@local/hashql/mir/src/pass/transform/inlining/cost.rs
  libs/@local/hashql/mir/src/pass/transform/inlining/mod.rs
  libs/@local/hashql/mir/src/pass/transform/inlining/score.rs
Due: rust

chore: renames
  libs/@local/hashql/mir/src/pass/transform/inlining/mod.rs
Due: rust

chore: fheckpoint
  Cargo.lock
  libs/@local/hashql/core/Cargo.toml
  libs/@local/hashql/core/benches/type_system.rs
  libs/@local/hashql/core/src/symbol/mod.rs
  libs/@local/hashql/core/src/type/environment/analysis.rs
  libs/@local/hashql/core/src/type/environment/context/provision.rs
  libs/@local/hashql/core/src/type/environment/lattice.rs
  libs/@local/hashql/core/src/type/environment/simplify.rs
Due: rust, toml

chore: fheckpoint
  libs/@local/hashql/core/benches/type_system.rs
  libs/@local/hashql/core/src/type/environment/analysis.rs
  libs/@local/hashql/core/src/type/environment/infer.rs
  libs/@local/hashql/core/src/type/inference/mod.rs
  libs/@local/hashql/core/src/type/inference/variable.rs
  libs/@local/hashql/core/src/type/inference/visit.rs
Due: rust

chore: checkpoint
  libs/@local/hashql/core/benches/type_system.rs
  libs/@local/hashql/core/src/type/inference/variable.rs
  libs/@local/hashql/core/src/type/inference/visit.rs
Due: rust

feat: benchmark
  libs/@local/hashql/core/benches/type_system.rs
  libs/@local/hashql/core/src/type/environment/lattice.rs
Due: rust

chore: enable package.json
  libs/@local/hashql/core/package.json
Due: prettier, yarn

feat: inlining
  libs/@local/hashql/core/src/graph/linked.rs
  libs/@local/hashql/mir/src/pass/analysis/callgraph/mod.rs
  libs/@local/hashql/mir/src/pass/transform/inlining/mod.rs
Due: rust

feat: make members 2x smaller
  libs/@local/hashql/core/package.json
  libs/@local/hashql/core/src/graph/algorithms/tarjan/mod.rs
  libs/@local/hashql/core/src/id/slice.rs
  libs/@local/hashql/mir/src/pass/transform/inlining/mod.rs
Due: prettier, yarn, rust

feat: inline add all blocks
  libs/@local/hashql/core/src/id/vec.rs
  libs/@local/hashql/core/src/lib.rs
  libs/@local/hashql/mir/src/pass/analysis/callgraph/mod.rs
  libs/@local/hashql/mir/src/pass/transform/inlining/mod.rs
  libs/@local/hashql/mir/src/pass/transform/inlining/rename.rs
Due: rust

feat: inliner WIP
  libs/@local/hashql/mir/src/pass/transform/inlining/mod.rs
  libs/@local/hashql/mir/src/pass/transform/inlining/rename.rs
Due: rust
