Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, prettier, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: yarn run markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    prettier:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: yarn run prettier --write {staged_files} || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:packagejson && yarn fix:yarn-deduplicate
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: cargo fmt -- {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: yarn run taplo format {staged_files} || true
      stage_fixed: true

Update integration-list.json
  content/hashdotai/integrations/integration-list.json
Due: prettier

Add files via upload
  apps/hash-frontend/public/icons/integrations/icon_fourkites.svg
Due: none

feat: rework errors
  libs/@local/hashql/ast/src/lowering/type_extractor/error.rs
Due: rust

Add comments
  libs/@local/codegen/src/lib.rs
  libs/@local/codegen/src/typescript.rs
Due: rust

Fix test
  libs/@local/codegen/src/typescript.rs
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__WebId::Typescript.snap
Due: rust

H-4529: Add supply chain integration listings (#7105)
  apps/hash-frontend/public/icons/integrations/icon_fourkites.svg
  apps/hash-frontend/public/icons/integrations/icon_pas-x.svg
  apps/hash-frontend/public/icons/integrations/icon_veeva.svg
  content/hashdotai/integrations/integration-list.json
Due: prettier

feat: errors
  libs/@local/hashql/ast/src/lowering/type_extractor/error.rs
  libs/@local/hashql/ast/src/lowering/type_extractor/mod.rs
  libs/@local/hashql/ast/src/lowering/type_extractor/translate.rs
  libs/@local/hashql/core/src/type/environment/mod.rs
Due: rust

feat: first translation tests
  Cargo.lock
  libs/@local/hashql/ast/src/lowering/type_extractor/mod.rs
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-never.stdout
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-unknown.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/.spec.toml
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/translation-infer.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/translation-infer.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/translation-intersection.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/translation-intersection.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/translation-struct.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/translation-struct.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/translation-tuple.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/translation-tuple.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/translation-union.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/translation-union.stdout
  libs/@local/hashql/compiletest/Cargo.toml
  libs/@local/hashql/compiletest/src/suite/ast_lowering_type_extractor.rs
  libs/@local/hashql/compiletest/src/suite/mod.rs
  libs/@local/hashql/core/src/module/locals.rs
  libs/@local/hashql/core/src/type/kind/mod.rs
Due: rust, toml

feat: more tests
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/generics-apply-params.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/generics-apply-params.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/generics-with-params.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/generics-with-params.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/identity-nominal.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/identity-nominal.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/identity-structural.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/identity-structural.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/locals-generic-params-struct.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/locals-generic-params-struct.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/locals-generic-params.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/locals-type-extraction.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/locals-type-extraction.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/translation-infer.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/translation-intersection.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/translation-tuple.stdout
  libs/@local/hashql/compiletest/src/suite/ast_lowering_type_extractor.rs
Due: rust

fix: instantiate substitution
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/generics-apply-params.stdout
  libs/@local/hashql/core/src/module/locals.rs
Due: rust

fix: walk path even if local
  libs/@local/hashql/ast/src/lowering/import_resolver/mod.rs
  libs/@local/hashql/ast/src/lowering/type_extractor/mod.rs
  libs/@local/hashql/ast/tests/ui/lowering/import-resolver/regression-generic-arguments-identifier.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/import-resolver/regression-generic-arguments-identifier.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/generics-apply-params.stdout
Due: rust

feat: more tests
  libs/@local/hashql/ast/src/lowering/type_extractor/error.rs
  libs/@local/hashql/ast/src/lowering/type_extractor/translate.rs
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/constraints-invalid-location.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/constraints-invalid-location.stderr
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/constraints-parsing.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/constraints-parsing.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/env-type-interning.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/env-type-interning.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/generics-param-count-mismatch.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/generics-param-count-mismatch.stderr
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/intrinsic-dict-translation.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/intrinsic-dict-translation.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/intrinsic-list-translation.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/intrinsic-list-translation.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/path-global-resolution.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/path-global-resolution.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/path-local-resolution.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/path-local-resolution.stdout
  libs/@local/hashql/compiletest/src/annotation/diagnostic.rs
  libs/@local/hashql/compiletest/src/suite/ast_lowering_type_extractor.rs
Due: rust

feat: more errors
  libs/@local/hashql/ast/src/lowering/type_extractor/error.rs
  libs/@local/hashql/ast/src/lowering/type_extractor/translate.rs
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/constraints-parsing.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/dict-parameter-count-mismatch.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/dict-parameter-count-mismatch.stderr
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/duplicate-fields.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/duplicate-fields.stderr
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/generics-apply-params.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/infer-with-arguments.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/infer-with-arguments.stderr
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/list-parameter-count-mismatch.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/list-parameter-count-mismatch.stderr
  libs/@local/hashql/core/src/type/environment/instantiate.rs
  libs/@local/hashql/core/src/type/kind/snapshots/hashql_core__r#type__kind__r#struct__test__instantiate_interdependent.snap
  libs/@local/hashql/core/src/type/kind/struct.rs
Due: rust

chore: split tests
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/dict-parameter-count-mismatch-too-many.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/dict-parameter-count-mismatch-too-many.stderr
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/dict-parameter-count-mismatch.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/list-parameter-count-mismatch-too-many.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/list-parameter-count-mismatch-too-many.stderr
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/list-parameter-count-mismatch.jsonc
Due: none

feat: make ordering consistent
  libs/@local/hashql/ast/src/lowering/type_extractor/mod.rs
  libs/@local/hashql/core/src/module/locals.rs
Due: rust

fix: suggestions from code review
  libs/@local/hashql/ast/src/lowering/type_extractor/mod.rs
Due: rust

fix: persist skip
  libs/@local/hashql/compiletest/src/executor/trial.rs
Due: rust

fix: traits
  libs/@local/hashql/ast/src/lowering/type_extractor/error.rs
Due: rust

H-4461: Implement type branding in codegen (#7106)
  apps/hash-frontend/src/pages/shared/entity/shared/use-handle-type-changes.ts
  libs/@blockprotocol/type-system/rust/src/bin/export-types.rs
  libs/@blockprotocol/type-system/rust/src/knowledge/entity/id.rs
  libs/@blockprotocol/type-system/rust/src/principal/actor/ai.rs
  libs/@blockprotocol/type-system/rust/src/principal/actor/machine.rs
  libs/@blockprotocol/type-system/rust/src/principal/actor/mod.rs
  libs/@blockprotocol/type-system/rust/src/principal/actor/user.rs
  libs/@blockprotocol/type-system/rust/src/principal/actor_group/mod.rs
  libs/@blockprotocol/type-system/rust/src/principal/actor_group/team.rs
  libs/@blockprotocol/type-system/rust/src/principal/actor_group/web.rs
  libs/@blockprotocol/type-system/rust/src/principal/mod.rs
  libs/@blockprotocol/type-system/rust/src/principal/role/mod.rs
  libs/@blockprotocol/type-system/rust/src/principal/role/team.rs
  libs/@blockprotocol/type-system/rust/src/principal/role/web.rs
  libs/@blockprotocol/type-system/rust/src/utils.rs
  libs/@blockprotocol/type-system/typescript/src/main-slim.ts
  libs/@blockprotocol/type-system/typescript/src/main.ts
  libs/@blockprotocol/type-system/typescript/src/native/entity.ts
  libs/@local/codegen/src/definitions/type.rs
  libs/@local/codegen/src/lib.rs
  libs/@local/codegen/src/typescript.rs
  libs/@local/codegen/tests/standalone-types/main.rs
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__AiId::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__MachineId::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__TeamId::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__TeamRoleId::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__UserId::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__WebId::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__WebRoleId::Typescript.snap
  tests/hash-backend-load/src/graph/api.ts
Due: prettier, rust

Use index signatures notation over `Record`
  libs/@blockprotocol/type-system/rust/src/bin/export-types.rs
  libs/@blockprotocol/type-system/rust/src/knowledge/value/mod.rs
  libs/@blockprotocol/type-system/rust/src/utils.rs
  libs/@local/codegen/src/typescript.rs
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__MapEnumKey::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__MapNested::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__MapNumericKey::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__MapOptional::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__MapStringKey::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__MapStructValue::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__PropertyValue::Typescript.snap
Due: rust

H-4516: Use index signatures instead of Record (#7107)
  libs/@blockprotocol/type-system/rust/src/bin/export-types.rs
  libs/@blockprotocol/type-system/rust/src/knowledge/value/mod.rs
  libs/@blockprotocol/type-system/rust/src/utils.rs
  libs/@local/codegen/src/typescript.rs
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__MapEnumKey::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__MapNested::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__MapNumericKey::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__MapOptional::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__MapStringKey::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__MapStructValue::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__PropertyValue::Typescript.snap
Due: rust

Improve `Flows` user documentation
  content/hashdotai/guide/06_flows/00_index.mdx
Due: prettier

Create WIP_06_optimizing.mdx
  content/hashdotai/guide/06_flows/WIP_06_optimizing.mdx
Due: prettier

Rename 03_messages.mdx to WIP_03_messages.mdx
  content/hashdotai/guide/07_inbox/WIP_03_messages.mdx
Due: prettier

Create WIP_01_browsers.mdx
  content/hashdotai/guide/10_plugins/WIP_01_browsers.mdx
Due: prettier

Create WIP_02_assistants.mdx
  content/hashdotai/guide/10_plugins/WIP_02_assistants.mdx
Due: prettier

Update 02_chat.mdx
  content/hashdotai/guide/05_workers/02_chat.mdx
Due: prettier

Implement field optionality
  libs/@local/codegen/src/definitions/fields.rs
  libs/@local/codegen/src/typescript.rs
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__MapOptional::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__StructOptional::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__TupleOptional::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__Web::Typescript.snap
Due: rust

Fix test snapshot
  libs/@local/codegen/tests/full-exports/snapshots/full_exports__type_system::Typescript.snap
Due: none

H-4457: Properly handle optional fields (#7108)
  libs/@local/codegen/src/definitions/fields.rs
  libs/@local/codegen/src/typescript.rs
  libs/@local/codegen/tests/full-exports/snapshots/full_exports__type_system::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__MapOptional::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__StructOptional::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__TupleOptional::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__Web::Typescript.snap
Due: rust

feat: unresolver variable diagnostic
  libs/@local/hashql/ast/src/lowering/import_resolver/error.rs
Due: rust

feat: search by name
  libs/@local/hashql/ast/src/lowering/import_resolver/error.rs
  libs/@local/hashql/ast/src/lowering/import_resolver/mod.rs
  libs/@local/hashql/core/src/module/mod.rs
  libs/@local/hashql/core/src/symbol/mod.rs
Due: rust

feat: first working specialized diagnostic
  libs/@local/hashql/ast/src/lowering/import_resolver/error.rs
  libs/@local/hashql/ast/src/lowering/import_resolver/mod.rs
  libs/@local/hashql/ast/tests/ui/lowering/import-resolver/rollback.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/import-resolver/rollback.stderr
  libs/@local/hashql/ast/tests/ui/lowering/import-resolver/unresolver-variable.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/import-resolver/unresolver-variable.stderr
Due: rust

feat: unresolve variable imported names
  libs/@local/hashql/ast/src/lowering/import_resolver/error.rs
  libs/@local/hashql/ast/tests/ui/lowering/import-resolver/rollback.stderr
  libs/@local/hashql/ast/tests/ui/lowering/import-resolver/unresolver-variable.stderr
Due: rust

chore: docs
  libs/@local/hashql/core/src/symbol/mod.rs
Due: rust

chore: update docs
  libs/@local/hashql/core/src/symbol/mod.rs
Due: rust

Fix snapshots
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__StructDoubleSkipped::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__StructMultipleSkipped::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__StructMultipleSkipped::Typescript.snap.new
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__StructSingleSkipped::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__StructUnnamedDoubleSkipped::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__StructUnnamedMultipleSkipped::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__StructUnnamedSingleSkipped::Typescript.snap
Due: none

Implement field skipping
  libs/@local/codegen/src/definitions/fields.rs
  libs/@local/codegen/tests/standalone-types/main.rs
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__StructDoubleSkipped::Typescript.snap.new
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__StructMultipleSkipped::Typescript.snap.new
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__StructSingleSkipped::Typescript.snap.new
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__StructSkipped::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__StructUnnamedDoubleSkipped::Typescript.snap.new
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__StructUnnamedMultipleSkipped::Typescript.snap.new
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__StructUnnamedSingleSkipped::Typescript.snap.new
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__StructUnnamedSkipped::Typescript.snap
  libs/@local/codegen/tests/standalone-types/structs.rs
Due: rust

H-4472: Implement field skipping in codegen (#7109)
  libs/@local/codegen/src/definitions/fields.rs
  libs/@local/codegen/tests/standalone-types/main.rs
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__StructDoubleSkipped::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__StructMultipleSkipped::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__StructSingleSkipped::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__StructSkipped::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__StructUnnamedDoubleSkipped::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__StructUnnamedMultipleSkipped::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__StructUnnamedSingleSkipped::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__StructUnnamedSkipped::Typescript.snap
  libs/@local/codegen/tests/standalone-types/structs.rs
Due: rust
