Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, prettier, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: yarn run markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    prettier:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: yarn run prettier --write {staged_files} || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:packagejson && yarn fix:yarn-deduplicate
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: cargo fmt -- {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: yarn run taplo format {staged_files} || true
      stage_fixed: true

fix: docs
  libs/@local/hashql/core/src/graph/algorithms/tarjan/mod.rs
  libs/@local/hashql/core/src/graph/linked.rs
Due: rust

feat: add traversal algorithm for DFS(post order)
  libs/@local/hashql/core/src/graph/mod.rs
Due: rust

feat: move similarity to algorithms
  libs/@local/hashql/ast/src/lowering/import_resolver/error.rs
  libs/@local/hashql/ast/src/lowering/special_form_expander/error.rs
  libs/@local/hashql/ast/src/lowering/type_extractor/error.rs
  libs/@local/hashql/core/src/algorithms/mod.rs
  libs/@local/hashql/core/src/algorithms/similarity.rs
  libs/@local/hashql/core/src/lib.rs
  libs/@local/hashql/core/src/type/error.rs
Due: rust

feat: Lock api
  libs/@local/hashql/core/Cargo.toml
  libs/@local/hashql/core/src/algorithms/similarity.rs
  libs/@local/hashql/core/src/intern/map.rs
  libs/@local/hashql/core/src/intern/set.rs
  libs/@local/hashql/core/src/lib.rs
  libs/@local/hashql/core/src/sync/lock.rs
  libs/@local/hashql/core/src/sync/mod.rs
  libtest_lock_bounds.rlib
Due: rust, toml

chore: remove scc dependency
  Cargo.lock
  libs/@local/hashql/core/Cargo.toml
  libs/@local/hashql/core/src/collections/mod.rs
Due: rust, toml

chore: remove rlib
  libtest_lock_bounds.rlib
Due: none

Update map.rs
  libs/@local/hashql/core/src/intern/map.rs
Due: rust

feat: migrate changes
  libs/@local/hashql/ast/src/lowering/type_extractor/translate.rs
  libs/@local/hashql/core/src/id/bit_vec/mod.rs
  libs/@local/hashql/core/src/intern/beef.rs
  libs/@local/hashql/core/src/module/locals.rs
  libs/@local/hashql/core/src/type/environment/analysis.rs
  libs/@local/hashql/core/src/type/inference/solver/tests.rs
  libs/@local/hashql/core/src/type/kind/closure.rs
  libs/@local/hashql/core/src/type/kind/generic/apply.rs
  libs/@local/hashql/core/src/type/kind/generic/mod.rs
  libs/@local/hashql/core/src/type/kind/intersection.rs
  libs/@local/hashql/core/src/type/kind/intrinsic.rs
  libs/@local/hashql/core/src/type/kind/mod.rs
  libs/@local/hashql/core/src/type/kind/opaque.rs
  libs/@local/hashql/core/src/type/kind/primitive.rs
  libs/@local/hashql/core/src/type/kind/struct.rs
  libs/@local/hashql/core/src/type/kind/tuple.rs
  libs/@local/hashql/core/src/type/kind/union.rs
  libs/@local/hashql/hir/src/lower/alias.rs
Due: rust

filter more internal flow steps from user report
  libs/@local/hash-backend-utils/src/flows/get-flow-run-details.ts
Due: prettier

H-5638: Filter more internal Flow steps from data provided to frontend (#8070)
  libs/@local/hash-backend-utils/src/flows/get-flow-run-details.ts
Due: prettier

FE-89: Add info tooltips to Petrinaut vSCDPN, and other UX tweaks (#8032)
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/components/tooltip.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/core/default-codes.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/BottomBar/toolbar-modes.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/LeftSideBar/differential-equations-section.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/LeftSideBar/nodes-section.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/LeftSideBar/parameters-section.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/LeftSideBar/types-section.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/PropertiesPanel/place-properties.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/PropertiesPanel/properties-panel.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/PropertiesPanel/transition-properties.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/SDCPN/sdcpn-view.tsx
Due: prettier

FE-78: Make all core Petrinaut entities editable; streamline and clarify where possible (#8031)
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/LeftSideBar/parameters-section.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/LeftSideBar/types-section.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/PropertiesPanel/color-select.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/PropertiesPanel/parameter-properties.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/PropertiesPanel/properties-panel.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/PropertiesPanel/type-properties.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/SDCPN/components/arc.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/SDCPN/components/place-node.tsx
Due: prettier

FE 79: Petrinaut node editing improvements (#8029)
  libs/@hashintel/petrinaut/package.json
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/components/menu.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/constants/ui-messages.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/core/build-simulation.test.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/core/build-simulation.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/core/default-codes.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/core/errors.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/core/helpers/compute-next-frame.test.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/core/helpers/compute-possible-transition.test.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/core/helpers/compute-possible-transition.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/core/helpers/execute-transitions.test.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/core/helpers/remove-tokens-from-simulation-frame.test.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/examples/supply-chain-stochastic.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/examples/supply-chain.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/feature-flags.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/hooks/use-monaco-global-typings.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/state/sdcpn-store.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/state/simulation-store.test.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/state/simulation-store.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/state/types-for-editor-to-remove.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/BottomBar/simulation-controls.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/LeftSideBar/differential-equations-section.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/LeftSideBar/parameters-section.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/LeftSideBar/simulation-state-section.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/PropertiesPanel/differential-equation-properties.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/PropertiesPanel/initial-state-editor.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/PropertiesPanel/place-properties.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/PropertiesPanel/properties-panel.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/PropertiesPanel/sortable-arc-item.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/PropertiesPanel/transition-properties.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/editor-view.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/SDCPN/components/arc.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/SDCPN/components/place-node.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/SDCPN/components/transition-node.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/SDCPN/hooks/use-apply-node-changes.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/SDCPN/hooks/use-sdcpn-to-react-flow.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/SDCPN/sdcpn-view.tsx
Due: prettier, yarn

Fix for selection in Simulate mode
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/SDCPN/sdcpn-view.tsx
Due: prettier

FE-64: Petrinaut SDCPN: Models + Fixes on Simulation and Editor (#8033)
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/core/helpers/compute-possible-transition.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/examples/broken-machines.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/examples/sir-model.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/lib/split-pascal-case.test.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/lib/split-pascal-case.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/PropertiesPanel/differential-equation-properties.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/PropertiesPanel/place-properties.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/editor-view.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/SDCPN/components/place-node.tsx
Due: prettier

Lint
  libs/@hashintel/ds-components/src/components/RefractivePane/refractive-pane.tsx
Due: prettier

Format
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/BottomBar/toolbar-modes.tsx
Due: prettier

Just some graphical tweaks
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/PropertiesPanel/place-properties.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/PropertiesPanel/sortable-arc-item.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/PropertiesPanel/transition-properties.tsx
Due: prettier

RefractivePane: Temporarily disable refractive effect
  libs/@hashintel/ds-components/src/components/RefractivePane/refractive-pane.tsx
Due: prettier

Add back drag and drop for Place and Transitions
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/BottomBar/toolbar-modes.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/SDCPN/sdcpn-view.tsx
Due: prettier

add local storage sync
  libs/@hashintel/petrinaut/package.json
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/state/sdcpn-provider.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/state/sdcpn-store.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/state/use-local-storage-sdcpns.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/editor-view.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/lib/export-sdcpn.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/lib/import-sdcpn.ts
Due: prettier, yarn

Put blur on RefractivePane root, since it is broken on scroll at the moment
  libs/@hashintel/ds-components/src/components/RefractivePane/refractive-pane.tsx
Due: prettier

Show Place State after Dynamics part
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/PropertiesPanel/initial-state-editor.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/PropertiesPanel/place-properties.tsx
Due: prettier

Change blur on RefractivePanes that are not even refractive anymore
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/BottomBar/bottom-bar.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/LeftSideBar/left-sidebar.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/PropertiesPanel/properties-panel.tsx
Due: prettier

Fix PascalCase name not showing digits at end, and click outside is captured to be able to show error
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/lib/split-pascal-case.test.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/lib/split-pascal-case.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/PropertiesPanel/place-properties.tsx
Due: prettier

memoize created scdpn store
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/state/sdcpn-provider.tsx
Due: prettier

Format
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/PropertiesPanel/initial-state-editor.tsx
Due: prettier

Add `selectedResourceId`
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/state/editor-store.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/LeftSideBar/differential-equations-section.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/LeftSideBar/nodes-section.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/LeftSideBar/parameters-section.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/LeftSideBar/simulation-state-section.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/LeftSideBar/types-section.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/PropertiesPanel/place-properties.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/PropertiesPanel/properties-panel.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/mode-selector.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/SDCPN/sdcpn-view.tsx
Due: prettier

Add separators
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/LeftSideBar/differential-equations-section.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/LeftSideBar/parameters-section.tsx
Due: prettier

Better
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/PropertiesPanel/initial-state-editor.tsx
Due: prettier

Align buttons
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/LeftSideBar/differential-equations-section.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/LeftSideBar/parameters-section.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/LeftSideBar/types-section.tsx
Due: prettier

Full reload of MonacoEditor on changes
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/PropertiesPanel/place-properties.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/PropertiesPanel/transition-properties.tsx
Due: prettier
