Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

markdownlint:
  tags:
  - frontend
  - style
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

biome:
  tags:
  - frontend
  - style
  run: biome format --write --staged || true
  stage_fixed: true

yarn:
  tags:
  - frontend
  - style
  run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
  stage_fixed: true

sqlfluff:
  tags:
  - backend
  - style
  run: sqlfluff fix {staged_files} || true
  stage_fixed: true

rust:
  tags:
  - backend
  - style
  run: rustfmt {staged_files} || true
  stage_fixed: true

toml:
  tags:
  - backend
  - style
  run: taplo format {staged_files} || true
  stage_fixed: true

FE-1361: Measure the one-shot AI elicitation baseline (#6)
  imports/brunch-agent/docs/INDEX.md
  imports/brunch-agent/docs/planning/process-model-elicitation/baseline/opening-message.md
  imports/brunch-agent/docs/planning/process-model-elicitation/baseline/protocol.md
  imports/brunch-agent/docs/planning/process-model-elicitation/baseline/readout.md
  imports/brunch-agent/docs/planning/process-model-elicitation/baseline/run.ts
  imports/brunch-agent/docs/planning/process-model-elicitation/baseline/situation-pack.md
  imports/brunch-agent/docs/planning/process-model-elicitation/baseline/transcripts/condition-1-model.txt
  imports/brunch-agent/docs/planning/process-model-elicitation/baseline/transcripts/condition-1.md
  imports/brunch-agent/docs/planning/process-model-elicitation/baseline/transcripts/condition-1.raw.json
  imports/brunch-agent/docs/planning/process-model-elicitation/baseline/transcripts/condition-2-model.txt
  imports/brunch-agent/docs/planning/process-model-elicitation/baseline/transcripts/condition-2.md
  imports/brunch-agent/docs/planning/process-model-elicitation/baseline/transcripts/condition-2.raw.json
  imports/brunch-agent/docs/planning/process-model-elicitation/baseline/v0-prompt.md
  imports/brunch-agent/docs/planning/process-model-elicitation/notes/expert-meeting-findings-2026-08-11.md
  imports/brunch-agent/docs/planning/process-model-elicitation/research/voice-feasibility.md
  imports/brunch-agent/tsconfig.json
Due: markdownlint, biome

Spec review round 1 (HITL, tuicr): seven comments folded in
  imports/brunch-agent/.scratch/elicitation-kernel/issues/08-assemble-the-spec.md
  imports/brunch-agent/.scratch/elicitation-kernel/spec.md
Due: markdownlint, biome

FE-1390: Implement capture history and local persistence (#11)
  imports/brunch-agent/packages/binding-flue/src/index.ts
  imports/brunch-agent/packages/binding-flue/src/local-capture-store.ts
  imports/brunch-agent/packages/binding-flue/test/local-capture-store.test.ts
  imports/brunch-agent/packages/core/src/capture-store.ts
  imports/brunch-agent/packages/core/src/index.ts
  imports/brunch-agent/packages/core/test/capture-store.test.ts
Due: biome

FE-1389: Implement the first suspended free-text question (#10)
  imports/brunch-agent/apps/dev/package.json
  imports/brunch-agent/apps/dev/src/agents/gherkin-elicitor.ts
  imports/brunch-agent/apps/dev/src/app.ts
  imports/brunch-agent/apps/dev/src/routes.ts
  imports/brunch-agent/apps/dev/src/ui/chat.tsx
  imports/brunch-agent/apps/dev/src/ui/main.tsx
  imports/brunch-agent/apps/dev/src/ui/styles.css
  imports/brunch-agent/apps/dev/test/walking-skeleton.integration.ts
  imports/brunch-agent/apps/dev/test/walking-skeleton.test.ts
  imports/brunch-agent/bun.lock
  imports/brunch-agent/packages/binding-flue/src/index.ts
  imports/brunch-agent/packages/core/src/affordance.ts
  imports/brunch-agent/packages/core/src/index.ts
  imports/brunch-agent/test/boundaries.test.ts
  imports/brunch-agent/test/known-gaps.ts
Due: biome, yarn

FE-1432: Resolve the stack's open review threads (#19)
  imports/brunch-agent/apps/dev/test/walking-skeleton.integration.ts
  imports/brunch-agent/bunfig.toml
  imports/brunch-agent/docs/INDEX.md
  imports/brunch-agent/docs/planning/_shared/CONVERGENCE.md
  imports/brunch-agent/docs/planning/legibility-sweep/review-remediation-2026-08-18.md
  imports/brunch-agent/docs/planning/process-model-elicitation/baseline/run.ts
  imports/brunch-agent/packages/binding-flue/test/local-capture-store.test.ts
  imports/brunch-agent/packages/core/src/capture-store.ts
  imports/brunch-agent/packages/core/test/capture-store.test.ts
  imports/brunch-agent/test/baseline-runner.test.ts
  imports/brunch-agent/test/boundaries.test.ts
  imports/brunch-agent/test/fixtures/baseline-anthropic-mock.ts
Due: markdownlint, biome, toml

FE-1422: Move the portable ask protocol into core (#16)
  imports/brunch-agent/packages/binding-flue/src/index.ts
  imports/brunch-agent/packages/core/src/ask-protocol.ts
  imports/brunch-agent/packages/core/src/index.ts
  imports/brunch-agent/packages/core/test/ask-protocol.test.ts
Due: biome

FE-1464: Close the final stack review findings before repository handoff (#27)
  imports/brunch-agent/docs/planning/_shared/COORDINATION.md
  imports/brunch-agent/docs/planning/_shared/SPEC-LEDGER.md
  imports/brunch-agent/docs/planning/_shared/hash-monorepo-import-plan.md
  imports/brunch-agent/docs/planning/process-model-elicitation/baseline/run.ts
  imports/brunch-agent/docs/planning/process-model-elicitation/plugin-contract-spec.md
  imports/brunch-agent/docs/reference/2026-08 SDCPNs for cyber-physical systems.md
  imports/brunch-agent/packages/binding-flue/src/capture-accounting.ts
  imports/brunch-agent/packages/binding-flue/src/reply-projector.ts
  imports/brunch-agent/packages/binding-flue/test/capture-accounting.test.ts
  imports/brunch-agent/packages/binding-flue/test/history-reader.test.ts
  imports/brunch-agent/packages/binding-flue/test/reply-projector.test.ts
  imports/brunch-agent/packages/core/src/capture-store.ts
  imports/brunch-agent/packages/core/src/reply-protocol.ts
  imports/brunch-agent/packages/core/test/anchoring.test.ts
  imports/brunch-agent/packages/transport-aisdk/src/index.ts
  imports/brunch-agent/test/baseline-runner.test.ts
  imports/brunch-agent/test/fixtures/baseline-anthropic-mock.ts
  imports/brunch-agent/test/transport-aisdk-server.test.ts
Due: markdownlint, biome

FE-1435: Test whether the elicitor stream drives Petrinaut’s chat panel (#22)
  imports/brunch-agent/docs/INDEX.md
  imports/brunch-agent/docs/planning/process-model-elicitation/adapter-panel-spike-2026-08-19.md
  imports/brunch-agent/test/fixtures/transport-aisdk/panel-follow-up.sse
  imports/brunch-agent/test/fixtures/transport-aisdk/panel-initial.post.json
  imports/brunch-agent/test/fixtures/transport-aisdk/panel-initial.sse
  imports/brunch-agent/test/fixtures/transport-aisdk/panel-tool-results.post.json
  imports/brunch-agent/test/transport-aisdk-golden.test.ts
Due: markdownlint, biome

FE-1437: Prepare the standalone authority cutover (#28)
  imports/brunch-agent/CONTEXT.md
  imports/brunch-agent/docs/INDEX.md
  imports/brunch-agent/docs/adr/0001-brunch-is-the-product-name.md
  imports/brunch-agent/docs/adr/0002-topology-and-placement-rules.md
  imports/brunch-agent/docs/adr/0004-in-petrinaut-staging-and-the-monorepo-import.md
  imports/brunch-agent/docs/agents/issue-writing.md
  imports/brunch-agent/docs/planning/_shared/COORDINATION.md
  imports/brunch-agent/docs/planning/_shared/SPEC-LEDGER.md
  imports/brunch-agent/docs/planning/_shared/hash-monorepo-import-plan.md
  imports/brunch-agent/docs/planning/_shared/topology.md
  imports/brunch-agent/docs/planning/elicitation-kernel/spec.md
Due: markdownlint, biome

FE-1436: Connect the elicitor to Petrinaut’s real chat panel (#24)
  imports/brunch-agent/apps/dev/package.json
  imports/brunch-agent/apps/dev/petrinaut-local.vite.config.ts
  imports/brunch-agent/apps/dev/src/app.ts
  imports/brunch-agent/apps/dev/src/petrinaut-chat.ts
  imports/brunch-agent/apps/dev/src/routes.ts
  imports/brunch-agent/apps/dev/test/petrinaut-chat.integration.ts
  imports/brunch-agent/apps/dev/test/petrinaut-chat.test.ts
  imports/brunch-agent/bun.lock
  imports/brunch-agent/docs/INDEX.md
  imports/brunch-agent/docs/planning/_shared/CONVERGENCE.md
  imports/brunch-agent/docs/planning/_shared/topology.md
  imports/brunch-agent/docs/planning/elicitation-kernel/spec.md
  imports/brunch-agent/docs/planning/process-model-elicitation/petrinaut-integration-spec.md
  imports/brunch-agent/docs/planning/process-model-elicitation/transport-aisdk-implementation-2026-08-19.md
  imports/brunch-agent/packages/binding-flue/src/index.ts
  imports/brunch-agent/packages/binding-flue/src/reply-projector.ts
  imports/brunch-agent/packages/binding-flue/test/reply-projector.test.ts
  imports/brunch-agent/packages/core/src/index.ts
  imports/brunch-agent/packages/core/src/reply-protocol.ts
  imports/brunch-agent/packages/transport-aisdk/package.json
  imports/brunch-agent/packages/transport-aisdk/src/index.ts
  imports/brunch-agent/test/boundaries.test.ts
  imports/brunch-agent/test/fixtures/transport-aisdk/elicitor-initial.normalized.json
  imports/brunch-agent/test/transport-aisdk-server.test.ts
Due: markdownlint, biome, yarn

FE-1405: Draft and test the CPS payload schemas (#15)
  imports/brunch-agent/CONTEXT.md
  imports/brunch-agent/docs/INDEX.md
  imports/brunch-agent/docs/adr/0003-three-register-ir.md
  imports/brunch-agent/docs/planning/_shared/CONVERGENCE.md
  imports/brunch-agent/docs/planning/process-model-elicitation/ir-design.md
  imports/brunch-agent/docs/planning/process-model-elicitation/plugin-contract-spec.md
  imports/brunch-agent/docs/reference/2026-08 SDCPNs for cyber-physical systems.md
Due: markdownlint, biome

FE-1424: Complete the documentation protocol (#14)
  imports/brunch-agent/.claude/skills/arc-close/SKILL.md
  imports/brunch-agent/AGENTS.md
  imports/brunch-agent/docs/INDEX.md
  imports/brunch-agent/docs/adr/0002-topology-and-placement-rules.md
  imports/brunch-agent/docs/agents/arc-close.md
  imports/brunch-agent/docs/agents/documentation.md
  imports/brunch-agent/docs/agents/flue-routing.md
  imports/brunch-agent/docs/agents/issue-tracker.md
  imports/brunch-agent/docs/inbox/.gitkeep
  imports/brunch-agent/docs/planning/_shared/CONVERGENCE.md
  imports/brunch-agent/docs/planning/_shared/flue-architecture-cheatsheet.md
  imports/brunch-agent/docs/planning/_shared/topology.md
  imports/brunch-agent/docs/planning/elicitation-kernel/issues/04-contract-decomposition.md
  imports/brunch-agent/docs/planning/elicitation-kernel/map.md
  imports/brunch-agent/docs/planning/elicitation-kernel/notes/consistency-prepass-2026-08-10.md
  imports/brunch-agent/docs/planning/elicitation-kernel/spec.md
  imports/brunch-agent/docs/planning/legibility-sweep/flue-patterns-audit-2026-08-17.md
  imports/brunch-agent/docs/planning/legibility-sweep/refactor-queue-2026-08-14.md
  imports/brunch-agent/docs/planning/legibility-sweep/remediation-plan-2026-08-17.md
  imports/brunch-agent/docs/planning/process-model-elicitation/notes/deep-read-fe-1389.md
  imports/brunch-agent/docs/planning/process-model-elicitation/notes/expert-meeting-findings-2026-08-11.md
  imports/brunch-agent/docs/planning/process-model-elicitation/research/voice-feasibility.md
  imports/brunch-agent/docs/reference/SDCPN Library - Ideas.md
  imports/brunch-agent/docs/reference/agentic-elicitation-challenges-2026-08-06T10-02-41Z.md
  imports/brunch-agent/docs/reference/agentic-elicitation-criteria-2026-08-06T14-11-18Z.md
  imports/brunch-agent/docs/reference/amp-analysis-flue-vs-tilde.md
  imports/brunch-agent/docs/reference/hash-sails-public-report.pdf
  imports/brunch-agent/docs/reference/voice-implementation-recommendation-pplx.md
  imports/brunch-agent/docs/reference/yannis-dora-lu-transcript-2026-08-11.md
  imports/brunch-agent/test/docs-index.test.ts
Due: markdownlint, biome

FE-1449: Prove a structured brunch question suspends and resumes in Petrinaut (#25)
  imports/brunch-agent/.agents/skills/arc-close/SKILL.md
  imports/brunch-agent/AGENTS.md
  imports/brunch-agent/apps/dev/src/petrinaut-chat.ts
  imports/brunch-agent/apps/dev/test/petrinaut-ask.integration.ts
  imports/brunch-agent/apps/dev/test/petrinaut-ask.test.ts
  imports/brunch-agent/docs/INDEX.md
  imports/brunch-agent/docs/agents/arc-close.md
  imports/brunch-agent/docs/agents/documentation.md
  imports/brunch-agent/docs/agents/issue-tracker.md
  imports/brunch-agent/docs/agents/legibility.md
  imports/brunch-agent/docs/planning/_shared/CONVERGENCE.md
  imports/brunch-agent/docs/planning/_shared/COORDINATION.md
  imports/brunch-agent/docs/planning/_shared/SPEC-LEDGER.md
  imports/brunch-agent/docs/planning/_shared/hash-monorepo-import-plan.md
  imports/brunch-agent/docs/planning/legibility-sweep/flue-entry-projection-source-read-2026-08-18.md
  imports/brunch-agent/docs/planning/legibility-sweep/flue-patterns-audit-2026-08-17.md
  imports/brunch-agent/docs/planning/legibility-sweep/remediation-plan-2026-08-17.md
  imports/brunch-agent/docs/planning/process-model-elicitation/ask-return-implementation-2026-08-19.md
  imports/brunch-agent/docs/planning/process-model-elicitation/notes/deep-read-fe-1389.md
  imports/brunch-agent/docs/planning/process-model-elicitation/plugin-contract-spec.md
  imports/brunch-agent/package.json
  imports/brunch-agent/packages/core/src/ask-protocol.ts
  imports/brunch-agent/packages/core/src/index.ts
  imports/brunch-agent/packages/core/test/ask-protocol.test.ts
  imports/brunch-agent/packages/transport-aisdk/src/index.ts
  imports/brunch-agent/scripts/linear-project-graph.ts
  imports/brunch-agent/test/boundaries.test.ts
  imports/brunch-agent/test/linear-project-graph.test.ts
  imports/brunch-agent/test/transport-aisdk-ask-reply.test.ts
  imports/brunch-agent/tsconfig.json
Due: markdownlint, biome, yarn

FE-1391: Resolve evidence quotes to durable conversation entries (#17)
  imports/brunch-agent/apps/dev/test/walking-skeleton.integration.ts
  imports/brunch-agent/apps/dev/test/walking-skeleton.test.ts
  imports/brunch-agent/bun.lock
  imports/brunch-agent/docs/INDEX.md
  imports/brunch-agent/docs/agents/flue-routing.md
  imports/brunch-agent/docs/planning/_shared/CONVERGENCE.md
  imports/brunch-agent/docs/planning/_shared/flue-architecture-cheatsheet.md
  imports/brunch-agent/docs/planning/_shared/topology.md
  imports/brunch-agent/docs/planning/legibility-sweep/flue-entry-projection-source-read-2026-08-18.md
  imports/brunch-agent/docs/planning/legibility-sweep/remediation-plan-2026-08-17.md
  imports/brunch-agent/packages/binding-flue/package.json
  imports/brunch-agent/packages/binding-flue/src/archive-capability.ts
  imports/brunch-agent/packages/binding-flue/src/capabilities.ts
  imports/brunch-agent/packages/binding-flue/src/history-reader.ts
  imports/brunch-agent/packages/binding-flue/src/index.ts
  imports/brunch-agent/packages/binding-flue/src/local-capture-store.ts
  imports/brunch-agent/packages/binding-flue/test/history-reader.test.ts
  imports/brunch-agent/packages/binding-flue/test/local-capture-store.test.ts
  imports/brunch-agent/packages/core/package.json
  imports/brunch-agent/packages/core/src/capture-store.ts
  imports/brunch-agent/packages/core/src/index.ts
  imports/brunch-agent/packages/core/src/session-log.ts
  imports/brunch-agent/packages/core/src/storage.ts
  imports/brunch-agent/packages/core/test/anchoring.test.ts
  imports/brunch-agent/packages/core/test/capture-store.test.ts
  imports/brunch-agent/packages/core/test/session-log.test.ts
  imports/brunch-agent/test/boundaries.test.ts
  imports/brunch-agent/test/open-gaps.ts
Due: markdownlint, biome, yarn

FE-1433: Deliver the remote Petrinaut elicitor integration (#20)
  imports/brunch-agent/.agents/skills/arc-close/SKILL.md
  imports/brunch-agent/.gitignore
  imports/brunch-agent/docs/INDEX.md
  imports/brunch-agent/docs/adr/0004-in-petrinaut-staging-and-the-monorepo-import.md
  imports/brunch-agent/docs/planning/_shared/CONVERGENCE.md
  imports/brunch-agent/docs/planning/process-model-elicitation/petrinaut-integration-spec.md
Due: markdownlint, biome

FE-1451: Keep issues, comments, and PRs easy to scan (#23)
  imports/brunch-agent/AGENTS.md
  imports/brunch-agent/docs/INDEX.md
  imports/brunch-agent/docs/agents/git-workflow.md
  imports/brunch-agent/docs/agents/issue-tracker.md
  imports/brunch-agent/docs/agents/issue-writing.md
  imports/brunch-agent/docs/planning/_shared/CONVERGENCE.md
  imports/brunch-agent/docs/planning/legibility-sweep/issue-pr-migration-2026-08-20/README.md
  imports/brunch-agent/docs/planning/legibility-sweep/issue-pr-migration-2026-08-20/apply-log.jsonl
  imports/brunch-agent/docs/planning/legibility-sweep/issue-pr-migration-2026-08-20/data/github-proposals.json
  imports/brunch-agent/docs/planning/legibility-sweep/issue-pr-migration-2026-08-20/data/github-source.json
  imports/brunch-agent/docs/planning/legibility-sweep/issue-pr-migration-2026-08-20/data/linear-canonical-target-hashes.json
  imports/brunch-agent/docs/planning/legibility-sweep/issue-pr-migration-2026-08-20/data/linear-proposals-FE-1357.json
  imports/brunch-agent/docs/planning/legibility-sweep/issue-pr-migration-2026-08-20/data/linear-proposals-FE-1366.json
  imports/brunch-agent/docs/planning/legibility-sweep/issue-pr-migration-2026-08-20/data/linear-proposals-FE-1383.json
  imports/brunch-agent/docs/planning/legibility-sweep/issue-pr-migration-2026-08-20/data/linear-proposals-FE-1401.json
  imports/brunch-agent/docs/planning/legibility-sweep/issue-pr-migration-2026-08-20/data/linear-proposals-FE-1406.json
  imports/brunch-agent/docs/planning/legibility-sweep/issue-pr-migration-2026-08-20/data/linear-source.json
  imports/brunch-agent/docs/planning/legibility-sweep/issue-pr-migration-2026-08-20/data/source-record-hashes.json
  imports/brunch-agent/docs/planning/legibility-sweep/issue-pr-migration-2026-08-20/review/github-editorial-review.md
  imports/brunch-agent/docs/planning/legibility-sweep/issue-pr-migration-2026-08-20/review/github.md
  imports/brunch-agent/docs/planning/legibility-sweep/issue-pr-migration-2026-08-20/review/linear-FE-1357.md
  imports/brunch-agent/docs/planning/legibility-sweep/issue-pr-migration-2026-08-20/review/linear-FE-1366.md
  imports/brunch-agent/docs/planning/legibility-sweep/issue-pr-migration-2026-08-20/review/linear-FE-1383.md
  imports/brunch-agent/docs/planning/legibility-sweep/issue-pr-migration-2026-08-20/review/linear-FE-1401.md
  imports/brunch-agent/docs/planning/legibility-sweep/issue-pr-migration-2026-08-20/review/linear-FE-1406.md
  imports/brunch-agent/docs/planning/legibility-sweep/issue-pr-migration-2026-08-20/review/linear-editorial-review.md
  imports/brunch-agent/docs/planning/legibility-sweep/issue-pr-migration-2026-08-20/validate.ts
Due: markdownlint, biome

FE-1392: Capture settled conversation statements safely (#18)
  imports/brunch-agent/apps/dev/src/agents/gherkin-elicitor.ts
  imports/brunch-agent/apps/dev/src/elicitation-session.ts
  imports/brunch-agent/apps/dev/src/target-document-path.ts
  imports/brunch-agent/apps/dev/test/db-path.test.ts
  imports/brunch-agent/apps/dev/test/walking-skeleton.integration.ts
  imports/brunch-agent/apps/dev/test/walking-skeleton.test.ts
  imports/brunch-agent/docs/INDEX.md
  imports/brunch-agent/docs/agents/flue-routing.md
  imports/brunch-agent/docs/planning/_shared/CONVERGENCE.md
  imports/brunch-agent/docs/planning/_shared/flue-architecture-cheatsheet.md
  imports/brunch-agent/docs/planning/_shared/topology.md
  imports/brunch-agent/docs/planning/legibility-sweep/flue-entry-projection-source-read-2026-08-18.md
  imports/brunch-agent/docs/planning/legibility-sweep/remediation-plan-2026-08-17.md
  imports/brunch-agent/packages/binding-flue/src/capture-accounting.ts
  imports/brunch-agent/packages/binding-flue/src/history-reader.ts
  imports/brunch-agent/packages/binding-flue/src/index.ts
  imports/brunch-agent/packages/binding-flue/test/capture-accounting.test.ts
  imports/brunch-agent/packages/binding-flue/test/history-reader.test.ts
  imports/brunch-agent/packages/core/src/capture-store.ts
  imports/brunch-agent/packages/core/src/index.ts
  imports/brunch-agent/packages/core/src/naming.ts
  imports/brunch-agent/packages/core/src/plugin.ts
  imports/brunch-agent/packages/core/src/sweep-protocol.ts
  imports/brunch-agent/packages/core/src/testing/index.ts
  imports/brunch-agent/packages/core/test/sweep-protocol.test.ts
  imports/brunch-agent/packages/plugin-gherkin/src/index.ts
  imports/brunch-agent/packages/plugin-gherkin/test/statement-noted.test.ts
  imports/brunch-agent/test/open-gaps.ts
Due: markdownlint, biome

FE-1434: Test whether Flue resumes batched client-tool results (#21)
  imports/brunch-agent/docs/INDEX.md
  imports/brunch-agent/docs/planning/process-model-elicitation/spikes/fe-1434-suspension-evidence-2026-08-19.json
  imports/brunch-agent/docs/planning/process-model-elicitation/spikes/fe-1434-suspension-verdict-2026-08-19.md
Due: markdownlint, biome

Fix Brunch documentation code fences
  libs/@hashintel/brunch-agent/docs/agents/issue-tracker.md
  libs/@hashintel/brunch-agent/docs/spec.md
Due: markdownlint, biome

changeset for petrinaut
  .changeset/seven-poems-punch.md
Due: markdownlint, biome

Route PR descriptions through the repository template
  libs/@hashintel/brunch-agent/docs/agents/git-workflow.md
  libs/@hashintel/brunch-agent/docs/agents/issue-writing.md
Due: markdownlint, biome

Register the Brunch Actual-mode fixture with Turbo
  apps/petrinaut-website/scripts/brunch-sse-fixture.ts
  apps/petrinaut-website/turbo.json
  libs/@hashintel/brunch-agent/docs/planning/process-model-elicitation/research/petrinaut-survey.md
Due: markdownlint, biome

Preserve interactive tool contract types
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-ask-interactive-tool.tsx
  libs/@hashintel/brunch-agent/packages/core/package.json
  libs/@hashintel/brunch-agent/packages/core/src/affordance.ts
  libs/@hashintel/brunch-agent/packages/core/src/ask-protocol.ts
  libs/@hashintel/brunch-agent/packages/core/src/ask-tool-contract.ts
  libs/@hashintel/brunch-agent/packages/core/src/client-tools.ts
  libs/@hashintel/brunch-agent/packages/core/src/naming.ts
  libs/@hashintel/brunch-agent/packages/core/test/architecture/boundaries.test.ts
  libs/@hashintel/brunch-agent/packages/core/test/naming.test.ts
  libs/@hashintel/brunch-agent/packages/core/vite.config.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/src/client-tools.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/src/index.ts
  libs/@hashintel/petrinaut/src/ui/index.ts
  libs/@hashintel/petrinaut/src/ui/petrinaut.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/get-message-render-items.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/tool-list.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/interactive-tools/apply-auto-layout-widget.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/interactive-tools/apply-auto-layout-widget.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/interactive-tools/registry.test.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/interactive-tools/registry.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/interactive-tools/types.ts
Due: biome, yarn

Record the FE-1440 trim decision in coordination
  libs/@hashintel/brunch-agent/docs/planning/_shared/COORDINATION.md
Due: markdownlint, biome

Complete the Brunch elicitation round trip in Petrinaut
  apps/petrinaut-website/package.json
  apps/petrinaut-website/scripts/brunch-sse-fixture.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-ask-interactive-tool.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/turbo.json
  libs/@hashintel/brunch-agent/docs/planning/process-model-elicitation/research/petrinaut-survey.md
  libs/@hashintel/brunch-agent/packages/core/test/architecture/boundaries.test.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/package.json
  libs/@hashintel/brunch-agent/packages/transport-aisdk/src/client-tools.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/src/index.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/test/ask-reply.test.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/vite.config.ts
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/src/ui/index.ts
  libs/@hashintel/petrinaut/src/ui/petrinaut.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/get-message-render-items.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/tool-list.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/interactive-tools/registry.test.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/interactive-tools/registry.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/interactive-tools/types.ts
  yarn.lock
Due: markdownlint, biome, yarn

Settle Brunch docs and defects after the authority cutover
  apps/brunch-agent/CLAUDE.md
  apps/brunch-agent/src/ui/chat.tsx
  libs/@hashintel/brunch-agent/AGENTS.md
  libs/@hashintel/brunch-agent/docs/agents/domain.md
  libs/@hashintel/brunch-agent/docs/agents/issue-tracker.md
  libs/@hashintel/brunch-agent/docs/planning/_shared/COORDINATION.md
  libs/@hashintel/brunch-agent/docs/planning/_shared/SPEC-LEDGER.md
  libs/@hashintel/brunch-agent/docs/planning/_shared/flue-architecture-cheatsheet.md
  libs/@hashintel/brunch-agent/docs/planning/_shared/topology.md
Due: markdownlint, biome

Complete Brunch lifecycle wiring
  apps/brunch-agent/.gitignore
  apps/brunch-agent/test/build-artifact.test.ts
  apps/brunch-agent/turbo.json
  libs/@hashintel/brunch-agent/.gitignore
  libs/@hashintel/brunch-agent/docs/adr/0001-brunch-is-the-product-name.md
  libs/@hashintel/brunch-agent/docs/adr/0002-topology-and-placement-rules.md
  libs/@hashintel/brunch-agent/docs/agents/arc-close.md
  libs/@hashintel/brunch-agent/docs/agents/issue-tracker.md
  libs/@hashintel/brunch-agent/docs/history/planning/elicitation-kernel/issues/04-contract-decomposition.md
  libs/@hashintel/brunch-agent/docs/history/planning/elicitation-kernel/issues/08-assemble-the-spec.md
  libs/@hashintel/brunch-agent/docs/history/planning/elicitation-kernel/issues/11-logic-prototype-capture-sweep.md
  libs/@hashintel/brunch-agent/docs/history/planning/elicitation-kernel/map.md
  libs/@hashintel/brunch-agent/docs/history/planning/elicitation-kernel/product-description-plain.md
  libs/@hashintel/brunch-agent/docs/history/planning/elicitation-kernel/product-description.md
  libs/@hashintel/brunch-agent/docs/planning/_shared/COORDINATION.md
  libs/@hashintel/brunch-agent/docs/planning/_shared/hash-monorepo-import-plan.md
  libs/@hashintel/brunch-agent/docs/planning/process-model-elicitation/baseline/protocol.md
  libs/@hashintel/brunch-agent/docs/planning/process-model-elicitation/research/voice-feasibility.md
  libs/@hashintel/brunch-agent/docs/planning/process-model-elicitation/transport-aisdk-implementation-2026-08-19.md
  libs/@hashintel/brunch-agent/docs/spec.md
  libs/@hashintel/brunch-agent/packages/binding-flue/turbo.json
  libs/@hashintel/brunch-agent/packages/core/test/architecture/docs-index.test.ts
  libs/@hashintel/brunch-agent/packages/core/turbo.json
  libs/@hashintel/brunch-agent/packages/plugin-gherkin/turbo.json
  libs/@hashintel/brunch-agent/packages/transport-aisdk/turbo.json
  libs/@hashintel/brunch-agent/scripts/linear-project-graph.ts
Due: markdownlint, biome

Run Brunch architecture tests in CI's pruned checkout
  .github/actions/prune-repository/prune.py
  libs/@hashintel/brunch-agent/packages/core/test/architecture/baseline-runner.test.ts
  libs/@hashintel/brunch-agent/packages/core/test/architecture/docs-index.test.ts
  libs/@hashintel/brunch-agent/packages/core/test/architecture/linear-project-graph.test.ts
  libs/@hashintel/brunch-agent/packages/core/test/architecture/workspace.ts
Due: biome

Switch the Brunch stacking convention to Graphite
  libs/@hashintel/brunch-agent/AGENTS.md
  libs/@hashintel/brunch-agent/docs/agents/git-workflow.md
Due: markdownlint, biome

Fire Brunch prune extras only for a core test job
  .github/actions/prune-repository/prune.py
  .github/actions/prune-repository/prune_test.py
  libs/@hashintel/brunch-agent/packages/core/test/architecture/workspace.ts
Due: biome

Exclude the Brunch context docs from formatting and markdown lint
  .markdownlint-cli2.jsonc
  oxfmt.config.ts
Due: biome

Pin the local Brunch and Petrinaut listen addresses
  apps/brunch-agent/petrinaut-local.vite.config.ts
  apps/brunch-agent/src/local-dev-origins.ts
  apps/brunch-agent/src/petrinaut-chat.ts
  apps/brunch-agent/test/local-dev-origins.test.ts
  apps/brunch-agent/vite.config.ts
Due: biome

Drop the FE-1357 proposal snapshot that blocked ticket merges
  libs/@hashintel/brunch-agent/docs/planning/legibility-sweep/issue-pr-migration-2026-08-20/README.md
  libs/@hashintel/brunch-agent/docs/planning/legibility-sweep/issue-pr-migration-2026-08-20/data/linear-proposals-FE-1357.json
  libs/@hashintel/brunch-agent/docs/planning/legibility-sweep/issue-pr-migration-2026-08-20/validate.ts
Due: markdownlint, biome

Guard host interactive-tool input parse on render
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/interactive-tools/types.test.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/interactive-tools/types.ts
Due: biome

Copy the Brunch context root into CI's pruned checkout
  .github/actions/prune-repository/prune.py
  libs/@hashintel/brunch-agent/packages/core/test/architecture/workspace.ts
Due: biome

Add license files to the Brunch workspaces
  apps/brunch-agent/LICENSE.md
  libs/@hashintel/brunch-agent/packages/binding-flue/LICENSE.md
  libs/@hashintel/brunch-agent/packages/core/LICENSE.md
  libs/@hashintel/brunch-agent/packages/plugin-gherkin/LICENSE.md
  libs/@hashintel/brunch-agent/packages/transport-aisdk/LICENSE.md
Due: markdownlint, biome

Pin bedrock-sdk's nested Anthropic SDK to the workspace version
  package.json
  yarn.lock
Due: biome

Path conditions:
  markdownlint: any of: *.md
  biome: any of: *.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}
  yarn: any of: {*/package.json, package.json}
  sqlfluff: any of: *.sql
  rust: any of: *.rs
  toml: any of: *.toml
