Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

markdownlint:
  tags:
  - frontend
  - style
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

biome:
  tags:
  - frontend
  - style
  run: biome format --write --staged || true
  stage_fixed: true

yarn:
  tags:
  - frontend
  - style
  run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
  stage_fixed: true

sqlfluff:
  tags:
  - backend
  - style
  run: sqlfluff fix {staged_files} || true
  stage_fixed: true

rust:
  tags:
  - backend
  - style
  run: rustfmt {staged_files} || true
  stage_fixed: true

toml:
  tags:
  - backend
  - style
  run: taplo format {staged_files} || true
  stage_fixed: true

FE-628: Lock document handle and patch type in petrinaut RFC (Q1, Q1.b)
  libs/@hashintel/petrinaut/rfc/0001-core-react-ui-split/04-core-instance.md
  libs/@hashintel/petrinaut/rfc/0001-core-react-ui-split/06-react-bindings.md
  libs/@hashintel/petrinaut/rfc/0001-core-react-ui-split/07-open-questions.md
  libs/@hashintel/petrinaut/rfc/0001-core-react-ui-split/09-risks.md
  libs/@hashintel/petrinaut/rfc/0001-core-react-ui-split/10-public-api.md
  libs/@hashintel/petrinaut/rfc/0001-core-react-ui-split/README.md
Due: markdownlint, biome

FE-628: Document patch conversion boundary and non-persistence rule
  libs/@hashintel/petrinaut/rfc/0001-core-react-ui-split/04-core-instance.md
Due: markdownlint, biome

FE-628: Lock Q4 — handle-based undo/redo + migrate demo site
  apps/petrinaut-website/src/main/app.tsx
  apps/petrinaut-website/src/main/app/use-undo-redo.ts
  libs/@hashintel/petrinaut/rfc/0001-core-react-ui-split/04-core-instance.md
  libs/@hashintel/petrinaut/rfc/0001-core-react-ui-split/07-open-questions.md
  libs/@hashintel/petrinaut/rfc/0001-core-react-ui-split/08-migration.md
  libs/@hashintel/petrinaut/rfc/0001-core-react-ui-split/README.md
  libs/@hashintel/petrinaut/src/core/handle.test.ts
  libs/@hashintel/petrinaut/src/core/handle.ts
  libs/@hashintel/petrinaut/src/main.ts
  libs/@hashintel/petrinaut/src/ui/petrinaut-next.tsx
Due: markdownlint, biome

FE-628: Phase 0 spike — handle-driven Petrinaut entry path
  libs/@hashintel/petrinaut/package.json
  libs/@hashintel/petrinaut/rfc/0001-core-react-ui-split/04-core-instance.md
  libs/@hashintel/petrinaut/rfc/0001-core-react-ui-split/06-react-bindings.md
  libs/@hashintel/petrinaut/rfc/0001-core-react-ui-split/08-migration.md
  libs/@hashintel/petrinaut/rfc/0001-core-react-ui-split/README.md
  libs/@hashintel/petrinaut/src/core/handle.test.ts
  libs/@hashintel/petrinaut/src/core/handle.ts
  libs/@hashintel/petrinaut/src/core/instance.ts
  libs/@hashintel/petrinaut/src/petrinaut.stories.tsx
  libs/@hashintel/petrinaut/src/react/instance-context.ts
  libs/@hashintel/petrinaut/src/react/use-petrinaut-instance.ts
  libs/@hashintel/petrinaut/src/react/use-store.ts
  libs/@hashintel/petrinaut/src/ui/petrinaut-next.tsx
  yarn.lock
Due: markdownlint, biome, yarn

FE-628: Flag text-range edits as deferred follow-up in petrinaut RFC
  libs/@hashintel/petrinaut/rfc/0001-core-react-ui-split/04-core-instance.md
  libs/@hashintel/petrinaut/rfc/0001-core-react-ui-split/07-open-questions.md
  libs/@hashintel/petrinaut/rfc/0001-core-react-ui-split/09-risks.md
Due: markdownlint, biome

FE-628: Add chapter 11 — Using Petrinaut without any UI
  libs/@hashintel/petrinaut/rfc/0001-core-react-ui-split/05-simulation.md
  libs/@hashintel/petrinaut/rfc/0001-core-react-ui-split/08-migration.md
  libs/@hashintel/petrinaut/rfc/0001-core-react-ui-split/11-headless-usage.md
  libs/@hashintel/petrinaut/rfc/0001-core-react-ui-split/README.md
  libs/@hashintel/petrinaut/src/core/instance.ts
  libs/@hashintel/petrinaut/src/core/simulation/index.ts
  libs/@hashintel/petrinaut/src/core/simulation/simulation.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/simulation.ts
  libs/@hashintel/petrinaut/src/core/simulation/transport.ts
  libs/@hashintel/petrinaut/src/main.ts
Due: markdownlint, biome

H-6458: Update `@xmldom/xmldom` (#8688)
  yarn.lock
Due: none

feat: remove implicit widening
  libs/@local/hashql/mir/src/interpret/error.rs
  libs/@local/hashql/mir/src/interpret/runtime.rs
  libs/@local/hashql/mir/src/interpret/tests.rs
  libs/@local/hashql/mir/src/interpret/value/int.rs
  libs/@local/hashql/mir/src/interpret/value/mod.rs
  libs/@local/hashql/mir/src/interpret/value/num.rs
  libs/@local/hashql/mir/src/lib.rs
  libs/@local/hashql/mir/src/pass/transform/inst_simplify/mod.rs
  libs/@local/hashql/mir/src/pass/transform/inst_simplify/tests.rs
  libs/@local/hashql/mir/tests/ui/pass/inst_simplify/const_fold_neg_overflow.snap
Due: rust

feat: remove schedule island
  libs/@local/hashql/mir/src/pass/execution/island/mod.rs
  libs/@local/hashql/mir/src/pass/execution/island/schedule/mod.rs
  libs/@local/hashql/mir/src/pass/execution/island/schedule/tests.rs
  libs/@local/hashql/mir/src/pass/execution/mod.rs
Due: rust

chore: update snapshots
  libs/@local/hashql/mir/tests/ui/pass/pre_inline/chain-simplification.stdout
Due: none

chore: add the required features
  libs/@local/hashql/syntax-jexpr/Cargo.toml
Due: toml

fix: inst simplification size aware equality
  libs/@local/hashql/mir/src/pass/transform/inst_simplify/mod.rs
  libs/@local/hashql/mir/src/pass/transform/inst_simplify/tests.rs
  libs/@local/hashql/mir/tests/ui/pass/inst_simplify/const_fold_eq_bool_vs_int.snap
Due: rust

feat: allow for cross switch int transition
  libs/@local/hashql/mir/src/pass/execution/terminator_placement/mod.rs
  libs/@local/hashql/mir/src/pass/execution/terminator_placement/tests.rs
  libs/@local/hashql/mir/tests/ui/pass/execution/terminator_placement/terminator_placement_snapshot.snap
Due: rust

fix: estimation for aggregates
  libs/@local/hashql/mir/src/pass/analysis/size_estimation/dynamic.rs
  libs/@local/hashql/mir/src/pass/analysis/size_estimation/estimate.rs
  libs/@local/hashql/mir/src/pass/analysis/size_estimation/footprint.rs
  libs/@local/hashql/mir/src/pass/analysis/size_estimation/range.rs
  libs/@local/hashql/mir/src/pass/analysis/size_estimation/tests.rs
  libs/@local/hashql/mir/tests/ui/pass/size-estimation/dict_aggregate_per_pair_units.snap
  libs/@local/hashql/mir/tests/ui/pass/size-estimation/list_aggregate_per_element_units.snap
  libs/@local/hashql/mir/tests/ui/pass/size-estimation/struct_materializes_list_parameter.snap
  libs/@local/hashql/mir/tests/ui/pass/size-estimation/tuple_aggregate_sums_operands.snap
  libs/@local/hashql/mir/tests/ui/pass/size-estimation/tuple_many_fields_cardinality_one.snap
Due: rust

fix: suggestion from code review
  libs/@local/hashql/mir/src/pass/analysis/size_estimation/estimate.rs
  libs/@local/hashql/mir/src/pass/analysis/size_estimation/footprint.rs
Due: rust

fix: lint
  libs/@local/hashql/mir/src/pass/analysis/size_estimation/footprint.rs
Due: rust

chore: truncate instead of resize on mul
  libs/@local/hashql/mir/src/pass/analysis/size_estimation/estimate.rs
  libs/@local/hashql/mir/src/pass/analysis/size_estimation/footprint.rs
Due: rust

Add tooltip props
  libs/@hashintel/ds-components/src/components/Tooltip/tooltip.tsx
Due: biome

Add changeset
  .changeset/fiery-tigers-kick.md
Due: markdownlint, biome

Add tooltip implementation + stories
  libs/@hashintel/ds-components/src/components/Tooltip/tooltip.stories.tsx
  libs/@hashintel/ds-components/src/components/Tooltip/tooltip.tsx
Due: biome

Remove describeChild prop
  libs/@hashintel/ds-components/src/components/Tooltip/tooltip.tsx
Due: biome

Fix tooltip offset logic and rename to gap
  libs/@hashintel/ds-components/src/components/Tooltip/tooltip.tsx
Due: biome

Switch to named delay speeds
  libs/@hashintel/ds-components/src/components/Tooltip/tooltip.tsx
Due: biome

Make sure that tooltip is always focusable
  libs/@hashintel/ds-components/src/components/Tooltip/tooltip.recipe.ts
  libs/@hashintel/ds-components/src/components/Tooltip/tooltip.tsx
Due: biome

Fix tooltip logic to cleanup when need for focusable wrapper changes
  libs/@hashintel/ds-components/src/components/Tooltip/tooltip.tsx
  libs/@hashintel/ds-components/src/main.ts
Due: biome

Move tooltip styles to recipe
  libs/@hashintel/ds-components/src/components/Tooltip/tooltip.recipe.ts
  libs/@hashintel/ds-components/src/components/Tooltip/tooltip.tsx
Due: biome

Wrap non element children in a span
  libs/@hashintel/ds-components/src/components/Tooltip/tooltip.stories.tsx
  libs/@hashintel/ds-components/src/components/Tooltip/tooltip.tsx
Due: biome

Fix typescript errors
  libs/@hashintel/ds-components/src/components/Tooltip/tooltip.stories.tsx
Due: biome

DRY out tooltip story
  libs/@hashintel/ds-components/src/components/Tooltip/tooltip.stories.tsx
Due: biome

Add all eslint-plugin-react rules to ds-components
  libs/@hashintel/ds-components/eslint.config.js
  libs/@hashintel/ds-components/src/beta/scroll-area/infinite-scroll.story.tsx
  libs/@hashintel/ds-components/src/beta/scroll-area/virtualization.story.tsx
Due: biome

Fix Cannot access refs during render in tooltip
  libs/@hashintel/ds-components/src/components/Tooltip/tooltip.tsx
Due: biome

Switch to useCallback ref in tooltip
  libs/@hashintel/ds-components/src/components/Tooltip/tooltip.tsx
Due: biome

feat: characterize petrinaut build output
  libs/@hashintel/petrinaut/package.json
  libs/@hashintel/petrinaut/scripts/characterize-build-output.mjs
  libs/@hashintel/petrinaut/scripts/characterize-build-output.test.mjs
Due: biome, yarn

test: characterize petrinaut provider lifecycles
  libs/@hashintel/petrinaut/src/provider-lifecycle.test.tsx
Due: biome

fix: encode petrinaut package boundary
  libs/@hashintel/petrinaut/package.json
  libs/@hashintel/petrinaut/vite.config.test.ts
  libs/@hashintel/petrinaut/vite.config.ts
Due: biome, yarn

fix: emit petrinaut workers as assets
  libs/@hashintel/petrinaut/src/lsp/worker/use-language-client.ts
  libs/@hashintel/petrinaut/src/simulation/worker/create-simulation-worker.ts
  libs/@hashintel/petrinaut/src/simulation/worker/use-simulation-worker.test.ts
Due: biome

fix: narrow petrinaut react compiler transform
  libs/@hashintel/petrinaut/vite.config.test.ts
  libs/@hashintel/petrinaut/vite.config.ts
Due: biome

fix: lazy load petrinaut graph layout
  libs/@hashintel/petrinaut/src/state/mutation-provider.test.tsx
  libs/@hashintel/petrinaut/src/state/mutation-provider.tsx
  libs/@hashintel/petrinaut/src/views/Editor/editor-view.tsx
Due: biome

fix: lazy load petrinaut visualizer compiler
  libs/@hashintel/petrinaut/src/views/Editor/panels/PropertiesPanel/place-properties/subviews/place-visualizer/subview.tsx
Due: biome

Path conditions:
  markdownlint: any of: *.md
  biome: any of: *.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}
  yarn: any of: {*/package.json, package.json}
  sqlfluff: any of: *.sql
  rust: any of: *.rs
  toml: any of: *.toml
