Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    biome:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: biome format --write --staged || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: rustfmt {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: taplo format {staged_files} || true
      stage_fixed: true

Fetch menu permissions on mount instead of lazily to avoid reflow
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar/shared/entity-or-type-sidebar-item/entity-type-menu.tsx
Due: biome

Remove extra gap on default control
  libs/@hashintel/ds-components/src/components/SegmentedControl/segmented-control.recipe.ts
Due: biome

BE-714: Gate the actor-ID header behind a service credential (#9233)
  .env
  Cargo.lock
  Cargo.toml
  apps/hash-graph/Cargo.toml
  apps/hash-graph/src/subcommand/admin_server.rs
  apps/hash-graph/src/subcommand/server.rs
  infra/compose/compose.yml
  libs/@local/graph/api/src/rest/auth.rs
  libs/@local/graph/api/src/rest/mod.rs
  libs/@local/graph/authentication/Cargo.toml
  libs/@local/graph/authentication/src/actor.rs
  libs/@local/graph/authentication/src/delegation.rs
  libs/@local/graph/authentication/src/kratos.rs
  libs/@local/graph/authentication/src/lib.rs
  libs/@local/graph/authentication/src/provider.rs
  libs/@local/graph/authentication/src/request.rs
  libs/@local/graph/migrations/src/bin/cli/subcommand/mod.rs
  libs/@local/graph/postgres-store/src/store/config.rs
  libs/@local/hash-backend-utils/src/create-graph-client.ts
  libs/@local/telemetry/src/traces/sentry.rs
  tests/graph/http/.httpyac.config.js
  tests/graph/http/test.sh
  tests/graph/http/tests/hashql.http
  tests/graph/http/tests/kratos-session.http
  tests/graph/http/tests/service-delegation.http
Due: biome, rust, toml

Remove shadow in segmented control default active state
  libs/@hashintel/ds-components/src/components/SegmentedControl/segmented-control.recipe.ts
Due: biome

BE-765: Tighten the authentication provider types and split the Kratos module
  Cargo.lock
  libs/@local/graph/api/Cargo.toml
  libs/@local/graph/authentication/Cargo.toml
  libs/@local/graph/authentication/src/actor.rs
  libs/@local/graph/authentication/src/delegation.rs
  libs/@local/graph/authentication/src/kratos/mod.rs
  libs/@local/graph/authentication/src/kratos/session.rs
  libs/@local/graph/authentication/src/provider.rs
  libs/@local/graph/authentication/src/request.rs
Due: rust, toml

BE-765: Regenerate the dependency diagrams
  apps/hash-graph/docs/dependency-diagram.mmd
  libs/@local/graph/api/docs/dependency-diagram.mmd
  libs/@local/graph/authentication/docs/dependency-diagram.mmd
Due: none

BE-765: Regenerate the remaining dependency diagrams
  libs/@blockprotocol/type-system/rust/docs/dependency-diagram.mmd
  libs/@local/codec/docs/dependency-diagram.mmd
  libs/@local/codegen/docs/dependency-diagram.mmd
  libs/@local/graph/authorization/docs/dependency-diagram.mmd
  libs/@local/graph/store/docs/dependency-diagram.mmd
  libs/@local/graph/temporal-versioning/docs/dependency-diagram.mmd
  libs/@local/graph/types/docs/dependency-diagram.mmd
  libs/@local/harpc/types/docs/dependency-diagram.mmd
  libs/@local/harpc/wire-protocol/docs/dependency-diagram.mmd
  libs/@local/status/rust/docs/dependency-diagram.mmd
  libs/@local/temporal-client/docs/dependency-diagram.mmd
  tests/graph/test-data/rust/docs/dependency-diagram.mmd
Due: none

BE-765: Close the review findings on the error enumeration
  libs/@local/graph/authentication/src/lib.rs
  libs/@local/graph/authentication/src/request.rs
Due: rust

Updated embossed active size
  libs/@hashintel/ds-components/src/components/SegmentedControl/segmented-control.recipe.ts
Due: biome

FE-1471: update petrinaut to use ds segmented control (#9294)
  libs/@hashintel/ds-components/src/components/SegmentedControl/segmented-control.recipe.ts
  libs/@hashintel/ds-components/src/components/SegmentedControl/segmented-control.tsx
  libs/@hashintel/ds-components/src/main.ts
  libs/@hashintel/petrinaut/src/ui/components/segment-group.stories.tsx
  libs/@hashintel/petrinaut/src/ui/components/segment-group.tsx
  libs/@hashintel/petrinaut/src/ui/dev/token-encoding-playground/token-encoding-playground.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/TopBar/mode-selector.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/simulation-timeline/header.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/place-properties/subviews/place-visualizer/subview.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/transition-properties/subviews/transition-firing-time/subview.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/create-optimization-drawer.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/create-optimization-drawer.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/optimization-parameter-row.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/optimization-parameter-row.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/simulate-view.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/simulate-view.tsx
Due: biome

FE-262: Disable form submit when autocomplete is open (#9296)
  libs/@hashintel/design-system/src/autocomplete.tsx
  libs/@hashintel/design-system/src/selector-autocomplete.tsx
Due: biome

BE-765: Tighten the authentication provider types and split the Kratos module (#9234)
  Cargo.lock
  apps/hash-graph/docs/dependency-diagram.mmd
  libs/@blockprotocol/type-system/rust/docs/dependency-diagram.mmd
  libs/@local/codec/docs/dependency-diagram.mmd
  libs/@local/codegen/docs/dependency-diagram.mmd
  libs/@local/graph/api/Cargo.toml
  libs/@local/graph/api/docs/dependency-diagram.mmd
  libs/@local/graph/authentication/Cargo.toml
  libs/@local/graph/authentication/docs/dependency-diagram.mmd
  libs/@local/graph/authentication/src/actor.rs
  libs/@local/graph/authentication/src/delegation.rs
  libs/@local/graph/authentication/src/kratos/mod.rs
  libs/@local/graph/authentication/src/kratos/session.rs
  libs/@local/graph/authentication/src/lib.rs
  libs/@local/graph/authentication/src/provider.rs
  libs/@local/graph/authentication/src/request.rs
  libs/@local/graph/authorization/docs/dependency-diagram.mmd
  libs/@local/graph/store/docs/dependency-diagram.mmd
  libs/@local/graph/temporal-versioning/docs/dependency-diagram.mmd
  libs/@local/graph/types/docs/dependency-diagram.mmd
  libs/@local/harpc/types/docs/dependency-diagram.mmd
  libs/@local/harpc/wire-protocol/docs/dependency-diagram.mmd
  libs/@local/status/rust/docs/dependency-diagram.mmd
  libs/@local/temporal-client/docs/dependency-diagram.mmd
  tests/graph/test-data/rust/docs/dependency-diagram.mmd
Due: rust, toml

BE-761: Authenticate Cloudflare Access JWTs in the Graph API
  .env
  Cargo.lock
  apps/hash-graph/Cargo.toml
  apps/hash-graph/src/subcommand/admin_server.rs
  apps/hash-graph/src/subcommand/server.rs
  libs/@local/graph/api/Cargo.toml
  libs/@local/graph/api/src/rest/admin.rs
  libs/@local/graph/api/src/rest/auth.rs
  libs/@local/graph/api/src/rest/mod.rs
  libs/@local/graph/authentication/Cargo.toml
  libs/@local/graph/authentication/package.json
  libs/@local/graph/authentication/src/cloudflare.rs
  libs/@local/graph/authentication/src/jwt.rs
  libs/@local/graph/authentication/src/kratos/identity.rs
  libs/@local/graph/authentication/src/kratos/mod.rs
  libs/@local/graph/authentication/src/lib.rs
  libs/@local/graph/authentication/src/provider.rs
  libs/@local/graph/authentication/src/request.rs
  libs/@local/graph/authentication/tests/kratos.rs
  tests/graph/http/.httpyac.config.js
  tests/graph/http/tests/reset-database.http
  tests/hash-backend-integration/src/tests/admin-server.ts
  tests/hash-playwright/tests/shared/delete-user.ts
Due: biome, yarn, rust, toml

BE-761: Close the review findings on the Access credential
  apps/hash-graph/src/subcommand/admin_server.rs
  apps/hash-graph/src/subcommand/server.rs
  libs/@local/graph/api/src/rest/admin.rs
  libs/@local/graph/api/src/rest/auth.rs
  libs/@local/graph/authentication/src/cloudflare.rs
  libs/@local/graph/authentication/src/jwt.rs
  libs/@local/graph/authentication/src/kratos/identity.rs
  libs/@local/graph/authentication/src/kratos/mod.rs
  tests/graph/http/tests/kratos-session.http
Due: rust

BE-761: Reject a non-HTTP Kratos admin URL and cover the admin auth boundary
  apps/hash-graph/src/subcommand/admin_server.rs
  tests/graph/http/tests/service-delegation.http
Due: rust

BE-761: Override the Authorization credential in the admin rejection tests
  tests/graph/http/tests/kratos-session.http
  tests/graph/http/tests/service-delegation.http
Due: none

BE-761: Send the Authorization credential from the admin test helpers
  apps/hash-graph/src/subcommand/admin_server.rs
  tests/hash-backend-integration/src/tests/admin-server.ts
  tests/hash-playwright/tests/shared/delete-user.ts
Due: biome, rust

BE-761: Assert the cooldown and name the tests actively
  libs/@local/graph/authentication/src/cloudflare.rs
  libs/@local/graph/authentication/src/jwt.rs
Due: rust

Align border-radius on segmented control
  libs/@hashintel/ds-components/src/components/SegmentedControl/segmented-control.recipe.ts
Due: biome

SRE-967: Install npm 11.19.0 in the release workflows
  .github/workflows/canary-release.yml
  .github/workflows/release.yml
Due: biome

H-6763: Add the realtime voice experiment shell
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/voice-experiment.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/voice-experiment/voice-experiment-adapter.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/voice-experiment/voice-experiment-events.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/voice-experiment/voice-experiment-selection.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/voice-experiment/voice-experiment-selection.ts
  libs/@hashintel/brunch-agent/docs/INDEX.md
  libs/@hashintel/brunch-agent/docs/planning/process-model-elicitation/spikes/h-6763-realtime-audio-prototype-2026-08-24.md
Due: markdownlint, biome

H-6763: Add the OpenAI Realtime voice experiment
  apps/petrinaut-website/README.md
  apps/petrinaut-website/api/voice-experiment/openai-realtime-session.test.ts
  apps/petrinaut-website/api/voice-experiment/openai-realtime-session.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/voice-experiment.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/voice-experiment/openai-realtime-adapter.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/voice-experiment/openai-realtime-adapter.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/voice-experiment/voice-experiment-events.ts
  apps/petrinaut-website/vercel.json
  apps/petrinaut-website/vite.config.ts
  libs/@hashintel/brunch-agent/docs/planning/process-model-elicitation/spikes/h-6763-realtime-audio-prototype-2026-08-24.md
Due: markdownlint, biome

H-6763: Simplify the voice experiment interface
  apps/petrinaut-website/src/main/app/local-storage-demo/voice-experiment.tsx
Due: biome

H-6763: Add the ElevenLabs Brunch voice experiment
  apps/brunch-agent/.env.example
  apps/brunch-agent/package.json
  apps/brunch-agent/petrinaut-local.vite.config.ts
  apps/brunch-agent/src/brunch-voice-bridge.ts
  apps/brunch-agent/src/elevenlabs-speech-engine-server.ts
  apps/brunch-agent/src/elevenlabs-speech-engine.ts
  apps/brunch-agent/test/brunch-voice-bridge.test.ts
  apps/brunch-agent/test/elevenlabs-speech-engine.test.ts
  apps/petrinaut-website/.env.example
  apps/petrinaut-website/README.md
  apps/petrinaut-website/api/voice-experiment/elevenlabs-conversation-token.test.ts
  apps/petrinaut-website/api/voice-experiment/elevenlabs-conversation-token.ts
  apps/petrinaut-website/package.json
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/voice-experiment/elevenlabs-adapter.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/voice-experiment/elevenlabs-adapter.ts
  apps/petrinaut-website/vercel.json
  apps/petrinaut-website/vite.config.ts
  yarn.lock
Due: markdownlint, biome, yarn

H-6763: Elicit Petri net models in the OpenAI voice experiment
  apps/petrinaut-website/api/voice-experiment/openai-realtime-session.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/voice-experiment/openai-realtime-adapter.ts
Due: biome

H-6763: Refine voice experiments and add tool diagnostics
  apps/brunch-agent/src/app.ts
  apps/brunch-agent/src/petrinaut-chat.ts
  apps/brunch-agent/src/routes.ts
  apps/brunch-agent/src/voice-experiment-diagnostics.ts
  apps/brunch-agent/test/voice-experiment-diagnostics.test.ts
  apps/petrinaut-website/api/voice-experiment/openai-realtime-session.test.ts
  apps/petrinaut-website/api/voice-experiment/openai-realtime-session.ts
  apps/petrinaut-website/src/app.css
  apps/petrinaut-website/src/main/app/local-storage-demo/voice-experiment.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/voice-experiment/elevenlabs-adapter.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/voice-experiment/elevenlabs-adapter.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/voice-experiment/openai-realtime-adapter.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/voice-experiment/openai-realtime-adapter.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/voice-experiment/voice-experiment-events.ts
  apps/petrinaut-website/vite.config.ts
Due: biome

H-6763: Use semantic turn detection for OpenAI realtime
  apps/petrinaut-website/api/voice-experiment/openai-realtime-session.test.ts
  apps/petrinaut-website/api/voice-experiment/openai-realtime-session.ts
Due: biome

H-6763: Integrate voice sessions with the AI prompt
  apps/petrinaut-website/src/main/app/local-storage-demo/voice-experiment.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/ai-cta-modal.tsx
Due: biome

Initial breadcrumbs props
  libs/@hashintel/ds-components/src/components/Breadcumbs/breadcrumbs.tsx
Due: biome

H-6763: Enforce alternating voice interview turns
  apps/brunch-agent/src/brunch-voice-bridge.ts
  apps/brunch-agent/src/elevenlabs-speech-engine-server.ts
  apps/brunch-agent/src/elevenlabs-speech-engine.ts
  apps/brunch-agent/src/petrinaut-chat.ts
  apps/brunch-agent/src/voice-experiment-diagnostics.ts
  apps/brunch-agent/test/brunch-voice-bridge.test.ts
  apps/brunch-agent/test/elevenlabs-speech-engine.test.ts
  apps/brunch-agent/test/voice-experiment-diagnostics.test.ts
  apps/petrinaut-website/README.md
  apps/petrinaut-website/src/main/app/local-storage-demo/voice-experiment.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/voice-experiment/elevenlabs-adapter.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/voice-experiment/elevenlabs-adapter.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/voice-experiment/interview-opening.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/voice-experiment/openai-realtime-adapter.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/voice-experiment/openai-realtime-adapter.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/voice-experiment/transcript-entries.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/voice-experiment/transcript-entries.ts
  libs/@hashintel/brunch-agent/docs/INDEX.md
  libs/@hashintel/brunch-agent/docs/planning/process-model-elicitation/spikes/h-6763-realtime-audio-prototype-2026-08-24.md
Due: markdownlint, biome

H-6763: Fix OpenAI realtime turn handoff
  apps/petrinaut-website/README.md
  apps/petrinaut-website/api/voice-experiment/openai-realtime-session.test.ts
  apps/petrinaut-website/api/voice-experiment/openai-realtime-session.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/voice-experiment.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/voice-experiment/openai-realtime-adapter.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/voice-experiment/openai-realtime-adapter.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/voice-experiment/transcript-entries.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/voice-experiment/transcript-entries.ts
  apps/petrinaut-website/vite.config.test.ts
  apps/petrinaut-website/vite.config.ts
  libs/@hashintel/brunch-agent/docs/planning/process-model-elicitation/spikes/h-6763-realtime-audio-prototype-2026-08-24.md
Due: markdownlint, biome

FE-1496: Align border-radius on segmented control (#9314)
  libs/@hashintel/ds-components/src/components/SegmentedControl/segmented-control.recipe.ts
Due: biome

FE-1448: add host interactive AI tools
  libs/@hashintel/petrinaut/README.md
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/src/main.ts
  libs/@hashintel/petrinaut/src/ui/index.ts
  libs/@hashintel/petrinaut/src/ui/petrinaut.stories.tsx
  libs/@hashintel/petrinaut/src/ui/petrinaut.tsx
  libs/@hashintel/petrinaut/src/ui/types/ai-interactive-tool.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/get-message-render-items.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/tool-list.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/interactive-tools/apply-auto-layout-widget.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/interactive-tools/apply-auto-layout-widget.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/interactive-tools/registry.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/interactive-tools/registry.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/interactive-tools/types.ts
Due: markdownlint, biome

FE-1448: Stabilize interactive tool message rendering
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.tsx
  memory/cards/dev--interactive-tool-hardening.md
Due: markdownlint, biome

FE-1448: prove interactive tool follow-up
  libs/@hashintel/petrinaut/README.md
  libs/@hashintel/petrinaut/src/ui/petrinaut.stories.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/tool-list.tsx
Due: markdownlint, biome

FE-1448: Gate interactive widgets on complete input
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/tool-list.tsx
  memory/cards/dev--interactive-tool-hardening.md
Due: markdownlint, biome

FE-1448: Consolidate interactive tool type ownership
  libs/@hashintel/petrinaut/src/ui/index.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/interactive-tools/apply-auto-layout-widget.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/interactive-tools/registry.test.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/interactive-tools/types.test.ts
Due: biome

FE-1448: Update website interactive tool registration
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-ask-interactive-tool.tsx
Due: biome

FE-1448: Preserve markdown rendering in memo test
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.test.tsx
Due: biome
