Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    biome:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: biome format --write --staged || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: rustfmt {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: taplo format {staged_files} || true
      stage_fixed: true

Add Petrinaut integration guide
  libs/@hashintel/petrinaut-core/README.md
  libs/@hashintel/petrinaut-core/src/handle/json-doc-handle/create-json-doc-handle.ts
  libs/@hashintel/petrinaut-core/src/index.ts
  libs/@hashintel/petrinaut-core/src/types/sdcpn-input.test.ts
  libs/@hashintel/petrinaut-core/src/types/sdcpn-input.ts
  libs/@hashintel/petrinaut/INTEGRATION.md
  libs/@hashintel/petrinaut/README.md
  libs/@hashintel/petrinaut/package.json
Due: markdownlint, biome, yarn

feat: code review
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/dev-harness/generate-fixture/build-entities.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/math/random.test.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/math/random.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/bench-fixtures.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/buffers/entity-id-buffer.test.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/buffers/entity-id-buffer.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/buffers/growable-buffer.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/buffers/position-buffer.test.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/buffers/position-buffer.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/collections/bitset.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/collections/column.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/collections/interner.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/collections/readonly-sorted-set.test.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/collections/readonly-sorted-set.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/core/graph-worker.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/core/layout-reuse.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/core/viewport-anchor.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/geometry/bubble-ports.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/geometry/edge-aggregation.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/geometry/edge-geometry.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/geometry/world-positions.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/hierarchy/cluster-feature-source.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/hierarchy/cluster-tree.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/hierarchy/community.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/hierarchy/distinctive-cluster-label.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/hierarchy/lod.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/layout/community-layout-cost.bench.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/layout/community-layout.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/layout/overlap-relax.test.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/layout/overlap-relax.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/layout/sparse-stress-solver.test.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/layout/sparse-stress-solver.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/layout/stress-layout.test.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/layout/stress-layout.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/layout/stress-vs-fa2.bench.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/layout/top-level-layout.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/layout/untangle.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/store/link.ts
Due: biome

feat: code review
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/PERFORMANCE.md
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/core/graph-worker.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/layout/overlap-removal.ts
Due: markdownlint, biome

feat: code review
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/PERFORMANCE.md
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/entity-graph-visualizer.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/frames.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/render/clusters.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/render/community.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/render/edge-arrows.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/render/edges.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/render/flat-dots.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/render/gpu/bubble-set-sdf-layer.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/render/labels.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/render/scene.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/render/selection.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/render/use-graph-worker.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/PERFORMANCE.md
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/core/graph-worker.test.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/core/graph-worker.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/core/layout-reuse.test.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/core/layout-reuse.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/entry.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/layout/_perf.test.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/layout/_probe.test.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/layout/overlap-removal.test.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/layout/overlap-removal.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/layout/stress-layout.test.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/layout/stress-layout.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/layout/stress-vs-fa2.bench.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/store/property.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/store/type-registry.ts
Due: markdownlint, biome

H-6642: Fix opportunity scope key for some step types (#8924)
  apps/hash-frontend/src/pages/supply-chain/shared/categories.ts
  apps/hash-frontend/src/pages/supply-chain/shared/site-code.ts
  apps/hash-frontend/src/pages/supply-chain/shared/status.ts
  apps/hash-frontend/src/pages/supply-chain/site/[site-id].page.tsx
  apps/hash-frontend/src/pages/supply-chain/site/[site-id]/opportunity/[opportunity-type]/[product-id]/[step-id].page.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/opportunity/opportunity-utils.ts
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/product.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/product/shared/category-icon.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/product/whatif.test.ts
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/dwell-table.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/opportunities.test.ts
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/planning-table.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/trend-table.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/use-supply-chain-status-state.ts
Due: biome

H-6519 add discrete token attribute types
  libs/@hashintel/petrinaut-core/src/ai.ts
  libs/@hashintel/petrinaut-core/src/default-codes.ts
  libs/@hashintel/petrinaut-core/src/lsp/lib/generate-virtual-files.ts
  libs/@hashintel/petrinaut-core/src/schemas/entity-schemas.ts
  libs/@hashintel/petrinaut-core/src/schemas/metric-schema.ts
  libs/@hashintel/petrinaut-core/src/schemas/scenario-schema.ts
  libs/@hashintel/petrinaut-core/src/simulation/api.ts
  libs/@hashintel/petrinaut-core/src/simulation/authoring/metric/compile-metric.ts
  libs/@hashintel/petrinaut-core/src/simulation/authoring/scenario/compile-scenario.test.ts
  libs/@hashintel/petrinaut-core/src/simulation/authoring/scenario/compile-scenario.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/build-simulation.test.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/build-simulation.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/compute-possible-transition.test.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/compute-possible-transition.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/execute-transitions.test.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/token-values.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/types.ts
  libs/@hashintel/petrinaut-core/src/simulation/frames/frame-reader.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/transition-effect.ts
  libs/@hashintel/petrinaut-core/src/simulation/runtime/frame-store.ts
  libs/@hashintel/petrinaut-core/src/simulation/worker/frame-payload.ts
  libs/@hashintel/petrinaut-core/src/simulation/worker/simulation.worker.ts
  libs/@hashintel/petrinaut-core/src/types/sdcpn.ts
  libs/@hashintel/petrinaut/src/ui/components/spreadsheet.stories.tsx
  libs/@hashintel/petrinaut/src/ui/components/spreadsheet.tsx
  libs/@hashintel/petrinaut/src/ui/lib/compile-visualizer.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/place-properties/subviews/place-initial-state/initial-state-editor.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/place-properties/subviews/place-initial-state/subview.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/type-properties/subviews/main.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/scenarios/scenario-form.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/scenarios/scenario-mapping.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/scenarios/view-scenario-drawer.tsx
  libs/@hashintel/petrinaut/src/ui/views/shared/place-state-visualization.tsx
Due: biome

Add changeset for discrete token attribute types
  .changeset/h-6519-discrete-token-attribute-types.md
Due: markdownlint, biome

Refine type dimensions properties UI
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/type-properties/subviews/main.tsx
Due: biome

feat: code review
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/render/gpu/icon-atlas.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/render/scene.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/render/type-icons.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/render/worker-connection.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/bench-fixtures.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/core/graph-worker.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/layout/_perf.test.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/layout/_probe.test.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/layout/forbid-vs-vpsc.bench.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/layout/forbid.test.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/layout/forbid.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/layout/overlap-removal.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/layout/stress-layout.perf.test.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/layout/stress-layout.test.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/layout/stress-layout.ts
Due: biome

feat: code review
  .relayout-contact.png
  .relayout-contact2.png
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/PERFORMANCE.md
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/components/dev-harness-controls-panel.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/config.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/dev-harness.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/core/graph-worker.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/layout/community-degree-terms.bench.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/layout/sparse-stress-solver.test.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/layout/sparse-stress-solver.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/layout/stress-layout.monotonic.test.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/layout/stress-layout.perf.test.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/layout/stress-layout.test.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/layout/stress-layout.ts
Due: markdownlint, biome

H-6519: Remove UUID attribute type, keep integer and boolean
  libs/@hashintel/petrinaut-core/src/ai.ts
  libs/@hashintel/petrinaut-core/src/default-codes.ts
  libs/@hashintel/petrinaut-core/src/lsp/lib/generate-virtual-files.ts
  libs/@hashintel/petrinaut-core/src/schemas/entity-schemas.ts
  libs/@hashintel/petrinaut-core/src/schemas/scenario-schema.ts
  libs/@hashintel/petrinaut-core/src/simulation/authoring/scenario/compile-scenario.test.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/build-simulation.test.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/build-simulation.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/compute-possible-transition.test.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/compute-possible-transition.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/execute-transitions.test.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/token-values.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/types.ts
  libs/@hashintel/petrinaut-core/src/simulation/frames/frame-reader.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/transition-effect.ts
  libs/@hashintel/petrinaut-core/src/simulation/runtime/frame-store.ts
  libs/@hashintel/petrinaut-core/src/simulation/worker/frame-payload.ts
  libs/@hashintel/petrinaut-core/src/simulation/worker/simulation.worker.ts
  libs/@hashintel/petrinaut-core/src/types/sdcpn.ts
  libs/@hashintel/petrinaut/src/ui/components/spreadsheet.tsx
  libs/@hashintel/petrinaut/src/ui/lib/compile-visualizer.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/place-properties/subviews/place-initial-state/initial-state-editor.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/type-properties/subviews/main.tsx
Due: biome

H-6519: Fix default Dynamics code returning discrete derivatives
  libs/@hashintel/petrinaut-core/src/default-codes.ts
  libs/@hashintel/petrinaut-core/src/lsp/lib/checker.test.ts
  libs/@hashintel/petrinaut-core/src/lsp/lib/generate-virtual-files.ts
Due: biome

feat: checkpoint
  .claude/skills/documenting-typescript-code/SKILL.md
  .claude/skills/skill-rules.json
  .cursor/rules/meaningful-identifiers.mdc
  .relayout-contact.png
  .relayout-contact2.png
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/CONVENTIONS.md
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/MANIFESTO.md
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/components/dev-harness-controls-panel.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/components/graph-status-overlay.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/config.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/dev-harness.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/entity-graph-visualizer.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/graph-visualizer.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/ids.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/math/hash.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/render/community.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/render/gpu/bubble-set-sdf-layer.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/render/gpu/icon-atlas.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/render/labels.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/render/scene.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/render/use-graph-worker.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/bench-fixtures.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/buffers/entity-id-buffer.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/core/graph-worker.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/core/membership-fingerprint.test.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/core/membership-fingerprint.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/csr-graph.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/geometry/bubble-ports.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/geometry/edge-aggregation.test.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/geometry/edge-aggregation.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/geometry/edge-geometry.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/layout/community-layout.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/layout/majorization-ab.bench.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/layout/majorization-layout.perf.test.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/layout/majorization-layout.test.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/layout/majorization-layout.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/layout/stress-layout.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/store/link.test.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/store/link.ts
Due: markdownlint, biome

FE-1106: Add CheckboxGroup + RadioGroup to DS (#8923)
  .changeset/smart-mammals-sell.md
  apps/hash-frontend/package.json
  libs/@hashintel/ds-components/package.json
  libs/@hashintel/ds-components/src/components/Checkbox/checkbox.recipe.ts
  libs/@hashintel/ds-components/src/components/Checkbox/checkbox.tsx
  libs/@hashintel/ds-components/src/components/CheckboxGroup/checkbox-group.stories.tsx
  libs/@hashintel/ds-components/src/components/CheckboxGroup/checkbox-group.tsx
  libs/@hashintel/ds-components/src/components/Radio/radio.recipe.ts
  libs/@hashintel/ds-components/src/components/Radio/radio.tsx
  libs/@hashintel/ds-components/src/components/RadioGroup/radio-group.tsx
  libs/@hashintel/ds-components/src/main.ts
  libs/@hashintel/ds-components/src/util/radio-checkbox-group-shared.ts
  libs/@hashintel/petrinaut/package.json
  yarn.lock
Due: markdownlint, biome, yarn

feat: checkpoint
  .cursor/rules/meaningful-identifiers.mdc
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/render/bubble-grid-traversal.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/render/bubble-grid.test.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/render/bubble-grid.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/render/scene/entity-icons.test.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/core/commit-coalescer.test.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/core/commit-coalescer.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/geometry/edge-aggregation.test.ts
Due: biome

feat: checkpoint
  apps/hash-frontend/src/pages/shared/entities-visualizer/grid-view.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/render/bubble-corridors.test.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/render/bubble-corridors.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/render/community.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/render/gpu/bubble-set-sdf-layer.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/collections/column.test.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/collections/column.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/geometry/edge-geometry.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/layout/untangle.ts
  apps/hash-frontend/src/pages/shared/slide-stack/link-table-slide.tsx
Due: biome

Fix resize properties on text area
  libs/@hashintel/ds-components/src/components/TextArea/text-area.recipe.ts
  libs/@hashintel/ds-components/src/components/TextArea/text-area.tsx
Due: biome

feat: checkpoint
  apps/hash-frontend/src/pages/shared/entities-visualizer/header.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/PERFORMANCE.md
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/dev-harness.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/render/bubble-corridors.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/render/bubble-grid.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/render/community.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/render/scene/entity-icons.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/render/scene/render-metrics.test.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/render/scene/render-metrics.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/collections/bitset.test.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/collections/bitset.ts
Due: markdownlint, biome

BE-587, BE-588: HashQL: Introduce `CodeGenerationContext`/`CodeExecutionContext` split and eval-stage `Interner` (#8839)
  libs/@local/graph/api/src/rest/entity_query_request.rs
  libs/@local/hashql/compiletest/src/suite/eval_postgres.rs
  libs/@local/hashql/core/src/graph/linked.rs
  libs/@local/hashql/eval/src/context.rs
  libs/@local/hashql/eval/src/error.rs
  libs/@local/hashql/eval/src/intern.rs
  libs/@local/hashql/eval/src/lib.rs
  libs/@local/hashql/eval/src/orchestrator/codec/decode/mod.rs
  libs/@local/hashql/eval/src/orchestrator/codec/decode/tests.rs
  libs/@local/hashql/eval/src/orchestrator/events.rs
  libs/@local/hashql/eval/src/orchestrator/mod.rs
  libs/@local/hashql/eval/src/orchestrator/partial.rs
  libs/@local/hashql/eval/src/postgres/filter/mod.rs
  libs/@local/hashql/eval/src/postgres/filter/tests.rs
  libs/@local/hashql/eval/src/postgres/mod.rs
  libs/@local/hashql/eval/src/postgres/parameters.rs
  libs/@local/hashql/eval/src/postgres/projections.rs
  libs/@local/hashql/eval/tests/orchestrator/execution.rs
  libs/@local/hashql/eval/tests/orchestrator/inputs.rs
  libs/@local/hashql/eval/tests/orchestrator/main.rs
  libs/@local/hashql/eval/tests/orchestrator/output.rs
Due: rust

More text area fixes
  libs/@hashintel/ds-components/src/components/TextArea/text-area.recipe.ts
  libs/@hashintel/ds-components/src/components/TextArea/text-area.stories.tsx
  libs/@hashintel/ds-components/src/components/TextArea/text-area.tsx
Due: biome

Adjust title wrapping in larger dialogs
  libs/@hashintel/ds-components/src/components/Dialog/dialog.recipe.ts
  libs/@hashintel/ds-components/src/components/Dialog/dialog.tsx
Due: biome

feat: checkpoint
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/CONVENTIONS.md
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/INTERACTION.md
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/LAYOUT-MODES.md
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/MANIFESTO.md
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/PERFORMANCE.md
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/WORKER-REFACTOR.md
  apps/hash-frontend/src/pages/shared/graph-visualizer-2/worker/PERFORMANCE.md
  apps/hash-frontend/src/pages/shared/graph-visualizer/SPEC-graph-viz-v2.md
Due: markdownlint, biome

FE-1126: Adjust title wrapping in larger dialogs (#8930)
  libs/@hashintel/ds-components/src/components/Dialog/dialog.recipe.ts
  libs/@hashintel/ds-components/src/components/Dialog/dialog.tsx
Due: biome

FE-680: Add textarea to ds (#8929)
  libs/@hashintel/ds-components/src/components/CharacterCount/character-count.recipe.ts
  libs/@hashintel/ds-components/src/components/CharacterCount/character-count.stories.tsx
  libs/@hashintel/ds-components/src/components/CharacterCount/character-count.tsx
  libs/@hashintel/ds-components/src/components/TextArea/text-area.recipe.ts
  libs/@hashintel/ds-components/src/components/TextArea/text-area.stories.tsx
  libs/@hashintel/ds-components/src/components/TextArea/text-area.tsx
  libs/@hashintel/ds-components/src/main.ts
Due: biome

feat: make everything configurable!
  apps/hash-frontend/src/pages/shared/graph-visualizer/components/dev-harness-config-panel.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer/components/dev-harness-controls-panel.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer/components/frontier-expansion-store.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer/config.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer/dev-harness.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer/render/bubble-corridors.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer/render/gpu/icon-atlas.test.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer/render/gpu/icon-atlas.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer/render/scene.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer/render/scene/camera.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer/render/worker-connection.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer/worker/core/commit-coalescer.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer/worker/core/flat/flat-edges.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer/worker/core/flat/flat-seed.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer/worker/core/flat/flat-tier.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer/worker/core/frames/structure-frame.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer/worker/core/graph-worker.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer/worker/core/hierarchical/hierarchical-layouts.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer/worker/core/hierarchical/settle-polish.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer/worker/core/hierarchical/viewport-anchor.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer/worker/core/tick-loop.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer/worker/entity-style.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer/worker/entry.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer/worker/hierarchy/cluster-sizing-config.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer/worker/hierarchy/cluster-tree.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer/worker/layout/cluster-layout-config.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer/worker/layout/cluster-layout.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer/worker/layout/entity-layout-config.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer/worker/layout/entity-layout.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer/worker/layout/flat-layout-config.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer/worker/layout/flat-layout.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer/worker/layout/force-simulation.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer/worker/layout/majorization-config.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer/worker/layout/majorization-layout.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer/worker/layout/region-metrics.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer/worker/layout/stress-analysis.test.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer/worker/layout/top-level-layout.ts
  apps/hash-frontend/src/pages/shared/graph-visualizer/worker/layout/untangle.ts
Due: biome

add tooltips with material number to material names
  apps/hash-frontend/src/pages/supply-chain/shared/material-tag.tsx
  apps/hash-frontend/src/pages/supply-chain/shared/step-detail-panel.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/product.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/dashboard-card.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar.tsx
Due: biome

cleanup
  apps/hash-frontend/src/pages/supply-chain/shared/cost.ts
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/opportunities.ts
Due: biome

yarn dedupe
  yarn.lock
Due: none

bump frontend test start timeout
  apps/hash-frontend/package.json
Due: biome, yarn

revert label change
  apps/hash-frontend/src/pages/supply-chain/shared/cost.ts
Due: biome

update dompurify resolution
  package.json
Due: biome

update vite 6
  yarn.lock
Due: none
