Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    biome:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: biome format --write --staged || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: rustfmt {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: taplo format {staged_files} || true
      stage_fixed: true

SRE-985: Remove the dead head-SHA refs from the non-PR bench checkouts
  .github/workflows/bench.yml
Due: biome

SRE-980: Split the hash-codec Rust crate and TypeScript package
  .gitignore
  Cargo.toml
  libs/@blockprotocol/type-system/rust/src/utils.rs
  libs/@blockprotocol/type-system/rust/tests/codegen.rs
  libs/@blockprotocol/type-system/rust/types/index.snap.d.ts
  libs/@blockprotocol/type-system/typescript/package.json
  libs/@blockprotocol/type-system/typescript/scripts/prepublish.ts
  libs/@local/codec/rust/Cargo.toml
  libs/@local/codec/rust/LICENSE.md
  libs/@local/codec/rust/README.md
  libs/@local/codec/rust/docs/dependency-diagram.mmd
  libs/@local/codec/rust/package.json
  libs/@local/codec/rust/src/bytes.rs
  libs/@local/codec/rust/src/harpc/mod.rs
  libs/@local/codec/rust/src/harpc/wire.rs
  libs/@local/codec/rust/src/lib.rs
  libs/@local/codec/rust/src/numeric/mod.rs
  libs/@local/codec/rust/src/numeric/real.rs
  libs/@local/codec/rust/src/serde/constant.rs
  libs/@local/codec/rust/src/serde/mod.rs
  libs/@local/codec/rust/src/serde/probability.rs
  libs/@local/codec/rust/src/serde/size_hint.rs
  libs/@local/codec/rust/src/serde/string_hash_map.rs
  libs/@local/codec/rust/src/serde/unique_vec.rs
  libs/@local/codec/rust/src/serde/valid_uuid.rs
  libs/@local/codec/rust/tests/codegen.rs
  libs/@local/codec/rust/turbo.json
  libs/@local/codec/rust/types/index.snap
  libs/@local/codec/rust/types/index.snap.d.ts
  libs/@local/codec/rust/types/index.snap.js
  libs/@local/codec/types/index.snap.d.ts
  libs/@local/codec/typescript/package.json
  libs/@local/codec/typescript/scripts/copy-generated.ts
  libs/@local/codec/typescript/tsconfig.json
  libs/@local/codec/typescript/turbo.json
  turbo.json
  yarn.lock
Due: markdownlint, biome, yarn, rust, toml

SRE-980: Keep the root task graph intact when overriding codegen
  libs/@blockprotocol/type-system/typescript/package.json
  libs/@blockprotocol/type-system/typescript/turbo.json
  libs/@local/codec/typescript/LICENSE.md
  libs/@local/codec/typescript/turbo.json
  turbo.json
  yarn.lock
Due: markdownlint, biome, yarn

SRE-980: Build @local/hash-codec into dist like every other package
  libs/@local/codec/typescript/package.json
  libs/@local/codec/typescript/scripts/copy-generated.ts
  libs/@local/codec/typescript/src/types.ts
  libs/@local/codec/typescript/tsconfig.build.json
  libs/@local/codec/typescript/tsconfig.json
  libs/@local/codec/typescript/turbo.json
  yarn.lock
Due: biome, yarn

SRE-980: Format the codec codegen script
  libs/@local/codec/typescript/scripts/copy-generated.ts
Due: biome

SRE-980: Replace the codec codegen script with the copy it performs
  libs/@local/codec/typescript/package.json
  libs/@local/codec/typescript/scripts/copy-generated.ts
  libs/@local/codec/typescript/tsconfig.build.json
  libs/@local/codec/typescript/tsconfig.json
Due: biome, yarn

SRE-982: Remove the graph API package's JavaScript surface
  apps/hash-ai-worker-ts/package.json
  apps/hash-ai-worker-ts/src/activities/flow-activities/generate-structural-query-action.ts
  libs/@local/graph/api/package.json
  libs/@local/graph/client/typescript/.gitignore
  libs/@local/graph/client/typescript/package.json
  libs/@local/graph/client/typescript/turbo.json
  yarn.lock
Due: biome, yarn

SRE-983: Split the effect-dns-hickory Rust crate and TypeScript package
  Cargo.toml
  libs/@local/effect-dns/hickory/rust/.cargo/config.toml
  libs/@local/effect-dns/hickory/rust/Cargo.toml
  libs/@local/effect-dns/hickory/rust/LICENSE-APACHE.md
  libs/@local/effect-dns/hickory/rust/LICENSE-MIT.md
  libs/@local/effect-dns/hickory/rust/LICENSE.md
  libs/@local/effect-dns/hickory/rust/README.md
  libs/@local/effect-dns/hickory/rust/build.rs
  libs/@local/effect-dns/hickory/rust/docs/dependency-diagram.mmd
  libs/@local/effect-dns/hickory/rust/package.json
  libs/@local/effect-dns/hickory/rust/src/lib.rs
  libs/@local/effect-dns/hickory/typescript/LICENSE-APACHE.md
  libs/@local/effect-dns/hickory/typescript/LICENSE-MIT.md
  libs/@local/effect-dns/hickory/typescript/LICENSE.md
  libs/@local/effect-dns/hickory/typescript/eslint.config.js
  libs/@local/effect-dns/hickory/typescript/package.json
  libs/@local/effect-dns/hickory/typescript/src/index.ts
  libs/@local/effect-dns/hickory/typescript/tests/dummy.test.ts
  libs/@local/effect-dns/hickory/typescript/tsconfig.build.json
  libs/@local/effect-dns/hickory/typescript/tsconfig.json
  libs/@local/effect-dns/hickory/typescript/turbo.json
  libs/@local/effect-dns/hickory/typescript/vitest.config.ts
  libs/@local/tsconfig/legacy-base-tsconfig-to-refactor.json
  yarn.lock
Due: markdownlint, biome, yarn, rust, toml

SRE-983: Give the hickory crate its clippy scripts
  libs/@local/effect-dns/hickory/rust/package.json
Due: biome, yarn

SRE-986: Dissolve the graph type-defs crate into the graph API
  Cargo.lock
  Cargo.toml
  apps/hash-graph/docs/dependency-diagram.mmd
  libs/@local/graph/api/Cargo.toml
  libs/@local/graph/api/docs/dependency-diagram.mmd
  libs/@local/graph/api/openapi/models/status.json
  libs/@local/graph/api/openapi/models/status_definitions.json
  libs/@local/graph/api/package.json
  libs/@local/graph/api/src/rest/entity_type.rs
  libs/@local/graph/api/src/rest/json.rs
  libs/@local/graph/api/src/rest/json_schemas/status.json
  libs/@local/graph/api/src/rest/json_schemas/status_definitions.json
  libs/@local/graph/api/src/rest/status.rs
  libs/@local/graph/type-defs/Cargo.toml
  libs/@local/graph/type-defs/LICENSE.md
  libs/@local/graph/type-defs/build.rs
  libs/@local/graph/type-defs/docs/dependency-diagram.mmd
  libs/@local/graph/type-defs/eslint.config.js
  libs/@local/graph/type-defs/package.json
  libs/@local/graph/type-defs/src/error.rs
  libs/@local/graph/type-defs/src/lib.rs
  libs/@local/graph/type-defs/tsconfig.json
  libs/@local/graph/type-defs/typescript/status-payloads.ts
  libs/@local/graph/type-defs/typescript/status.ts
  libs/@local/status/rust/docs/dependency-diagram.mmd
  tests/hash-backend-integration/package.json
  tests/hash-backend-integration/src/tests/admin-server.ts
  yarn.lock
Due: markdownlint, biome, yarn, rust, toml

SRE-986: Drop the payload wrapper from the hashql error assertion
  tests/graph/http/tests/hashql.http
Due: none

SRE-988: Use affectedTasks instead of affectedPackages in Turborepo
  .config/mise/config.toml
  .config/mise/mise.lock
  .github/actions/prune-repository/prune.py
  .github/actions/prune-repository/prune_test.py
  .github/scripts/affected-packages.sh
  .github/workflows/bench.yml
  .github/workflows/codspeed.yml
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  libs/@blockprotocol/type-system/rust/turbo.json
  libs/@blockprotocol/type-system/typescript/package.json
  libs/@blockprotocol/type-system/typescript/turbo.json
  libs/@local/codec/typescript/package.json
  libs/@local/codec/typescript/turbo.json
  libs/@local/effect-dns/hickory/typescript/package.json
  libs/@local/effect-dns/hickory/typescript/turbo.json
  libs/@local/graph/api/README.md
  libs/@local/graph/api/package.json
  libs/@local/graph/api/turbo.json
  libs/@local/graph/authorization/rust/turbo.json
  libs/@local/graph/authorization/typescript/package.json
  libs/@local/graph/authorization/typescript/turbo.json
  libs/@local/graph/client/typescript/package.json
  libs/@local/graph/client/typescript/turbo.json
  libs/@local/graph/sdk/typescript/turbo.json
  libs/@local/graph/store/rust/turbo.json
  libs/@local/graph/store/typescript/package.json
  libs/@local/graph/store/typescript/turbo.json
  libs/@local/harpc/client/typescript/package.json
  libs/@local/harpc/client/typescript/turbo.json
  turbo.json
  yarn.lock
Due: markdownlint, biome, yarn, toml

SRE-988: Carry the Graph API package into the client's task graph
  libs/@local/graph/client/typescript/turbo.json
Due: biome

SRE-988: Restore ^build for unit tests and widen Docker prune scopes
  .github/scripts/prune-scopes.sh
  apps/hash-ai-worker-ts/docker/Dockerfile
  apps/hash-api/docker/Dockerfile
  apps/hash-frontend/docker/Dockerfile
  apps/hash-graph/docker/Dockerfile
  apps/hash-integration-worker/docker/Dockerfile
  apps/petrinaut-opt/docker/Dockerfile
  libs/@blockprotocol/type-system/typescript/turbo.json
  libs/@local/codec/typescript/turbo.json
  libs/@local/effect-dns/hickory/typescript/turbo.json
  libs/@local/graph/authorization/typescript/turbo.json
  libs/@local/graph/client/typescript/turbo.json
  turbo.json
Due: biome

SRE-988: Fix pruned builds for petrinaut-opt and refractive
  apps/petrinaut-opt/docker/Dockerfile
  libs/@hashintel/refractive/package.json
  yarn.lock
Due: biome, yarn

SRE-988: Drop workflow comments the selection script now carries
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
Due: biome

SRE-988: Harden task selection and pruning against silent gaps
  .github/actions/prune-repository/prune.py
  .github/scripts/affected-packages.sh
  .github/scripts/prune-scopes.sh
  .github/workflows/bench.yml
  .github/workflows/codspeed.yml
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  libs/@local/effect-dns/hickory/typescript/turbo.json
  libs/@local/graph/api/turbo.json
  libs/darwin-kperf/codegen/package.json
  libs/darwin-kperf/events/package.json
Due: biome, yarn

FE-1500: fix StrictMode playback disposal (#9397)
  libs/@hashintel/petrinaut/src/react/playback/provider.test.tsx
  libs/@hashintel/petrinaut/src/react/playback/provider.tsx
Due: biome

FE-1541: Add a generic ResizeHandle and adopt it across the panels (#9429)
  libs/@hashintel/petrinaut/src/ui/components/glass-panel.tsx
  libs/@hashintel/petrinaut/src/ui/resize/resize-handle.tsx
  libs/@hashintel/petrinaut/src/ui/resize/use-resize-drag.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.tsx
Due: biome

FE-1314: Run experiment runs in parallel across workers (#9162)
  .changeset/parallel-experiment-runs.md
  libs/@hashintel/petrinaut-core/.oxlintrc.json
  libs/@hashintel/petrinaut-core/benchmarks/.gitignore
  libs/@hashintel/petrinaut-core/benchmarks/README.md
  libs/@hashintel/petrinaut-core/benchmarks/coloured-enumeration.mjs
  libs/@hashintel/petrinaut-core/benchmarks/flat-stepper-ceiling.mjs
  libs/@hashintel/petrinaut-core/benchmarks/monte-carlo-throughput.mjs
  libs/@hashintel/petrinaut-core/benchmarks/shard-main.mjs
  libs/@hashintel/petrinaut-core/benchmarks/shard-worker.mjs
  libs/@hashintel/petrinaut-core/benchmarks/sharded-experiment-worker.mjs
  libs/@hashintel/petrinaut-core/benchmarks/sharded-experiment.mjs
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/metrics/merge.test.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/metrics/merge.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/metrics/types.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/metrics/user-defined.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/run-state.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/runtime/experiment.test.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/runtime/experiment.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/runtime/shard-plan.test.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/runtime/shard-plan.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/types.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/worker/messages.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/worker/monte-carlo.worker.ts
  libs/@hashintel/petrinaut/docs/experiments.md
  libs/@hashintel/petrinaut/src/react/experiments/provider.test.tsx
  libs/@hashintel/petrinaut/src/react/experiments/provider.tsx
  libs/@local/petrinaut-arch-docs/content/diagrams/worker-sharding.d2
  libs/@local/petrinaut-arch-docs/content/simulation/performance.mdx
  libs/@local/petrinaut-arch-docs/content/simulation/worker-sharding.mdx
Due: markdownlint, biome

FE-1237: Add optional per-place token capacity (#9177)
  .changeset/place-token-capacity.md
  libs/@hashintel/petrinaut-core/src/schemas/entity-schemas.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/build-simulation.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/capacity.test.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/capacity.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/check-transition-enablement.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/compiled-transition.test-helpers.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/compute-next-frame.test.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/compute-possible-transition.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/execute-transitions.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/types.ts
  libs/@hashintel/petrinaut-core/src/simulation/frames/internal-frame.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/advance-run.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/capacity.test.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/frame-operations.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/internal-types.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/run-state.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/transition-effect.ts
  libs/@hashintel/petrinaut-core/src/types/sdcpn.ts
  libs/@hashintel/petrinaut/docs/drawing-a-net.md
  libs/@hashintel/petrinaut/docs/simulation.md
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/place-properties/subviews/main.tsx
  libs/@local/petrinaut-arch-docs/content/simulation/performance.mdx
Due: markdownlint, biome

fix seeding for plural and inverse titles. add more plural/inverse titles to migrations
  .gitignore
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/001-create-hash-system-types.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/003-create-linear-system-types.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/004-create-machines-update-users.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/008-create-plugin-settings-update-users.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/020-add-integration-parent-type.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/021-add-org-invites.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/027-add-petri-nets.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/086-add-study-record-type.dev.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/util.test.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/util.ts
Due: biome

FE-1509: Add the notebook view's data model and layout foundations
  libs/@hashintel/petrinaut/src/ui/views/Notebook/README.md
  libs/@hashintel/petrinaut/src/ui/views/Notebook/net-graph-layout.test.ts
  libs/@hashintel/petrinaut/src/ui/views/Notebook/net-graph-layout.ts
  libs/@hashintel/petrinaut/src/ui/views/Notebook/notebook-model.test.ts
  libs/@hashintel/petrinaut/src/ui/views/Notebook/notebook-model.ts
  libs/@hashintel/petrinaut/src/ui/views/Notebook/notebook-order.test.ts
  libs/@hashintel/petrinaut/src/ui/views/Notebook/notebook-order.ts
Due: markdownlint, biome

FE-1509: Add the notebook cell list as an experimental mode
  libs/@hashintel/petrinaut/src/react/state/editor-context.ts
  libs/@hashintel/petrinaut/src/react/state/use-effective-global-mode.ts
  libs/@hashintel/petrinaut/src/react/state/use-read-only-reason.ts
  libs/@hashintel/petrinaut/src/react/state/use-undo-redo-shortcuts.ts
  libs/@hashintel/petrinaut/src/react/state/user-settings-context.ts
  libs/@hashintel/petrinaut/src/react/state/user-settings-provider.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/TopBar/mode-selector.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/TopBar/top-bar.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view.tsx
  libs/@hashintel/petrinaut/src/ui/views/Notebook/cell-kinds.ts
  libs/@hashintel/petrinaut/src/ui/views/Notebook/connection-lines.tsx
  libs/@hashintel/petrinaut/src/ui/views/Notebook/notebook-cell.tsx
  libs/@hashintel/petrinaut/src/ui/views/Notebook/notebook-view.tsx
  libs/@hashintel/petrinaut/src/ui/views/README.md
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/components/viewport-settings-dialog.tsx
Due: markdownlint, biome

FE-1509: Add the notebook's whole-net graph explorer
  libs/@hashintel/petrinaut/src/ui/views/Notebook/graph-explorer.tsx
  libs/@hashintel/petrinaut/src/ui/views/Notebook/net-graph-animation.test.ts
  libs/@hashintel/petrinaut/src/ui/views/Notebook/net-graph-animation.ts
  libs/@hashintel/petrinaut/src/ui/views/Notebook/net-graph.tsx
  libs/@hashintel/petrinaut/src/ui/views/Notebook/notebook-view.tsx
Due: biome

FE-1341: Give experiment compute backends one interface
  libs/@hashintel/petrinaut-core/package.json
  libs/@hashintel/petrinaut-core/src/experiments.ts
  libs/@hashintel/petrinaut-core/src/experiments/experiment-assessment.ts
  libs/@hashintel/petrinaut-core/src/experiments/experiment-backend.ts
  libs/@hashintel/petrinaut-core/src/experiments/experiment-request.ts
  libs/@hashintel/petrinaut-core/src/experiments/select-experiment-backend.test.ts
  libs/@hashintel/petrinaut-core/src/experiments/select-experiment-backend.ts
  libs/@hashintel/petrinaut-core/src/experiments/worker-pool-experiment-backend.ts
  libs/@hashintel/petrinaut-core/vite.config.ts
  libs/@hashintel/petrinaut/src/react/experiments/provider.test.tsx
  libs/@hashintel/petrinaut/src/react/experiments/provider.tsx
  libs/@local/petrinaut-arch-docs/content/experiments/backend-selection.mdx
Due: biome, yarn

FE-1341: Draw backend selection as a diagram
  libs/@local/petrinaut-arch-docs/content/diagrams/backend-selection.d2
  libs/@local/petrinaut-arch-docs/content/experiments/backend-selection.mdx
Due: biome

FE-1341: Apply the house prose style to the docs it adds
  libs/@local/petrinaut-arch-docs/content/experiments/backend-selection.mdx
Due: biome

FE-1341: Apply the house prose style to the code comments
  .changeset/experiments-backend-registry.md
  libs/@hashintel/petrinaut-core/src/experiments.ts
  libs/@hashintel/petrinaut-core/src/experiments/experiment-assessment.ts
  libs/@hashintel/petrinaut-core/src/experiments/experiment-backend.ts
  libs/@hashintel/petrinaut-core/src/experiments/experiment-request.ts
  libs/@hashintel/petrinaut-core/src/experiments/select-experiment-backend.test.ts
  libs/@hashintel/petrinaut-core/src/experiments/select-experiment-backend.ts
  libs/@hashintel/petrinaut-core/src/experiments/worker-pool-experiment-backend.ts
  libs/@hashintel/petrinaut-core/vite.config.ts
  libs/@hashintel/petrinaut/src/react/experiments/provider.tsx
  libs/@local/petrinaut-arch-docs/content/experiments/backend-selection.mdx
Due: markdownlint, biome

FE-1429: Host the Monte Carlo worker protocol on any thread runtime
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/metrics/types.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/metrics/user-defined.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/runtime/experiment.test.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/runtime/experiment.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/worker/attach.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/worker/in-process-worker.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/worker/messages.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/worker/monte-carlo.worker.ts
  libs/@hashintel/petrinaut-core/src/webgpu/gpu-experiment-handle.ts
  libs/@hashintel/petrinaut-core/src/workers/monte-carlo.ts
Due: biome

FE-1340: Draw the GPU pipeline as a diagram
  libs/@local/petrinaut-arch-docs/content/diagrams/gpu-experiment-pipeline.d2
  libs/@local/petrinaut-arch-docs/content/simulation/gpu-backend.mdx
Due: biome

FE-1429: Document the thread hosts and draw the worker factory
  .changeset/trial-replicates-parallel.md
  libs/@local/petrinaut-arch-docs/content/cli/usage-manual.mdx
  libs/@local/petrinaut-arch-docs/content/diagrams/worker-factory.d2
  libs/@local/petrinaut-arch-docs/content/simulation/worker-sharding.mdx
Due: markdownlint, biome

FE-1429: Run trial replicates in parallel through the experiment runtime
  libs/@hashintel/petrinaut-cli/src/commands/stdio.ts
  libs/@hashintel/petrinaut-cli/src/runtime/node-simulation-worker.ts
  libs/@hashintel/petrinaut-cli/src/runtime/optimization.test.ts
  libs/@hashintel/petrinaut-cli/src/runtime/optimization.ts
  libs/@hashintel/petrinaut-cli/src/runtime/protocol.test.ts
  libs/@hashintel/petrinaut-cli/src/runtime/simulation-worker.entry.ts
  libs/@hashintel/petrinaut-cli/vite.config.ts
  libs/@hashintel/petrinaut-core/src/simulation/compiled-model.ts
Due: biome

FE-1340: Apply the house prose style to the docs it adds
  .changeset/webgpu-experiment-backend.md
  libs/@hashintel/petrinaut-core/benchmarks/webgpu-vs-cpu.html
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/runtime/experiment.ts
  libs/@hashintel/petrinaut-core/src/webgpu.ts
  libs/@hashintel/petrinaut-core/src/webgpu/compilation-report.ts
  libs/@hashintel/petrinaut-core/src/webgpu/compile-net-shader.test.ts
  libs/@hashintel/petrinaut-core/src/webgpu/compile-net-shader.ts
  libs/@hashintel/petrinaut-core/src/webgpu/eligibility.ts
  libs/@hashintel/petrinaut-core/src/webgpu/emit-wgsl.test.ts
  libs/@hashintel/petrinaut-core/src/webgpu/gpu-experiment.test.ts
  libs/@hashintel/petrinaut-core/src/webgpu/gpu-experiment.ts
  libs/@hashintel/petrinaut-core/src/webgpu/gpu-metric-frames.ts
  libs/@hashintel/petrinaut-core/src/webgpu/hir-from-artifacts.ts
  libs/@hashintel/petrinaut-core/src/webgpu/lower-net-hir.ts
  libs/@hashintel/petrinaut-core/src/webgpu/pair-selection.test.ts
  libs/@hashintel/petrinaut-core/src/webgpu/runner.test.ts
  libs/@hashintel/petrinaut-core/src/webgpu/runner.ts
  libs/@hashintel/petrinaut-core/src/webgpu/support.ts
  libs/@hashintel/petrinaut-core/src/webgpu/webgpu-experiment-backend.ts
  libs/@hashintel/petrinaut-core/src/webgpu/wgsl-identifiers.ts
  libs/@hashintel/petrinaut-core/vite.config.ts
  libs/@hashintel/petrinaut/src/react/experiments/provider.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/create-experiment-drawer.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/view-experiment-drawer.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/components/viewport-settings-dialog.tsx
  libs/@local/petrinaut-arch-docs/content/simulation/gpu-backend.mdx
Due: markdownlint, biome

FE-1429: Let each host state its own parallelism
  .changeset/trial-replicates-parallel.md
  libs/@hashintel/petrinaut-cli/src/cli.ts
  libs/@hashintel/petrinaut-cli/src/commands/stdio.ts
  libs/@hashintel/petrinaut-cli/src/runtime/optimization.ts
  libs/@hashintel/petrinaut-cli/src/runtime/simulation-threads.test.ts
  libs/@hashintel/petrinaut-cli/src/runtime/simulation-threads.ts
  libs/@hashintel/petrinaut-core/src/index.ts
  libs/@hashintel/petrinaut-core/src/simulation/index.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/index.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/runtime/experiment.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/runtime/shard-plan.ts
  libs/@hashintel/petrinaut/src/react/experiments/provider.tsx
  libs/@local/petrinaut-arch-docs/content/cli/usage-manual.mdx
  libs/@local/petrinaut-arch-docs/content/simulation/worker-sharding.mdx
Due: markdownlint, biome

FE-1340: Fail the experiment when the GPU device is lost
  libs/@hashintel/petrinaut-core/src/webgpu/gpu-experiment-handle.ts
Due: biome

FE-1340: Point WebGPU doc comments at the moved performance page
  libs/@hashintel/petrinaut-core/src/webgpu.ts
  libs/@hashintel/petrinaut-core/src/webgpu/compile-net-shader.ts
  libs/@hashintel/petrinaut-core/src/webgpu/pair-selection.ts
  libs/@hashintel/petrinaut-core/src/webgpu/runner.ts
Due: biome

FE-1263: Refine only the selected combination, raytracer-style
  libs/@hashintel/petrinaut/src/react/experiments/parameter-grid.test.ts
  libs/@hashintel/petrinaut/src/react/experiments/parameter-grid.ts
  libs/@hashintel/petrinaut/src/react/experiments/sweep-session.test.ts
  libs/@hashintel/petrinaut/src/react/experiments/sweep-session.ts
Due: biome
