Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, prettier, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: yarn run markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    prettier:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: yarn run prettier --write {staged_files} || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:packagejson && yarn fix:yarn-deduplicate
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: cargo fmt -- {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: yarn run taplo format {staged_files} || true
      stage_fixed: true

feat(skills): Overhaul skill activation system with validation and performance improvements
  .claude/hooks/eslint.config.js
  .claude/hooks/skill-activation-prompt.sh
  .claude/hooks/skill-activation-prompt.ts
  .claude/skills/skill-rules.json
  .claude/skills/writing-skills/SKILL.md
Due: markdownlint, prettier

docs(skills): Add future enhancements resource to writing-skills
  .claude/skills/writing-skills/SKILL.md
  .claude/skills/writing-skills/resources/future-enhancements.md
Due: markdownlint, prettier

BE-168: Update AI related packages (#7902)
  apps/hash-ai-worker-ts/package.json
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/anthropic-client.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/get-anthropic-response.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/get-openai-reponse.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/llm-message.ts
  apps/hash-api/package.json
  libs/@local/repo-chores/node/package.json
  libs/@local/repo-chores/node/scripts/ai-pr-review.ts
  libs/@local/repo-chores/node/scripts/ai-pr-review/generate-comment-replies.ts
  libs/@local/repo-chores/node/scripts/ai-pr-review/generate-pr-review.ts
  libs/@local/repo-chores/node/scripts/shared/time.ts
  yarn.lock
Due: prettier, yarn

H-5547: Remove lm-prompt-optimization app (#7943)
  apps/lm-prompt-optimization/LICENSE.md
  apps/lm-prompt-optimization/README.md
  apps/lm-prompt-optimization/pyproject.toml
  apps/lm-prompt-optimization/src/lm_prompt_optimization/__init__.py
  pyproject.toml
  requirements-dev.lock
  requirements.lock
Due: markdownlint, prettier, toml

feat: split out blocks and constants
  apps/hash-api/src/block-protocol-external-service-method-proxy.ts
  apps/hash-api/src/graphql/resolvers/blockprotocol/get-block.ts
  apps/hash-frontend/src/pages/notes.page/editable-quick-note.tsx
  apps/hash-frontend/src/pages/shared/block-collection/block-context-menu/block-context-menu.tsx
  apps/hash-frontend/src/pages/shared/block-collection/create-editor-view.ts
  apps/hash-frontend/src/pages/shared/block-collection/page-title/utils.ts
  apps/hash-frontend/src/pages/shared/use-create-block-collection.ts
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar/account-entities-list.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/one-off/quick-note-action.tsx
  libs/@local/hash-isomorphic-utils/src/blocks-constants.ts
  libs/@local/hash-isomorphic-utils/src/blocks.ts
Due: prettier

chore: remove shim
  apps/hash-api/src/dom-shim.d.ts
  apps/hash-api/tsconfig.json
Due: prettier

Move `sarif` library to `labs`
  .github/labeler.yml
  Cargo.lock
  Cargo.toml
  libs/sarif/Cargo.toml
  libs/sarif/LICENSE-APACHE.md
  libs/sarif/LICENSE-MIT.md
  libs/sarif/LICENSE.md
  libs/sarif/README.md
  libs/sarif/package.json
  libs/sarif/src/lib.rs
  libs/sarif/src/schema/doc/3.11.5-example-2.json
  libs/sarif/src/schema/doc/3.11.6-example-1.json
  libs/sarif/src/schema/doc/3.11.6-example-2.json
  libs/sarif/src/schema/doc/3.11.7-procedure.html
  libs/sarif/src/schema/log.rs
  libs/sarif/src/schema/message.rs
  libs/sarif/src/schema/mod.rs
  libs/sarif/src/schema/multiformat_message_string.rs
  libs/sarif/src/schema/properties.rs
  libs/sarif/src/schema/reporting_descriptor.rs
  libs/sarif/src/schema/run.rs
  libs/sarif/src/schema/tool.rs
  libs/sarif/src/serde.rs
  libs/sarif/tests/example_reports/k1_minimal.sarif.json
  libs/sarif/tests/example_reports/k2_recommended_with_source.sarif.json
  libs/sarif/tests/example_reports/k3_recommended_without_source.sarif.json
  libs/sarif/tests/example_reports/k4_comprehensive.sarif.json
  libs/sarif/tests/schemas/sarif-2.1.0.json
  yarn.lock
Due: markdownlint, prettier, yarn, rust, toml

Remove `sarif` library reference from README.md
  libs/README.md
Due: markdownlint, prettier

H-5543: Move `sarif` library to `labs` (#7940)
  .github/labeler.yml
  Cargo.lock
  Cargo.toml
  libs/README.md
  libs/sarif/Cargo.toml
  libs/sarif/LICENSE-APACHE.md
  libs/sarif/LICENSE-MIT.md
  libs/sarif/LICENSE.md
  libs/sarif/README.md
  libs/sarif/package.json
  libs/sarif/src/lib.rs
  libs/sarif/src/schema/doc/3.11.5-example-2.json
  libs/sarif/src/schema/doc/3.11.6-example-1.json
  libs/sarif/src/schema/doc/3.11.6-example-2.json
  libs/sarif/src/schema/doc/3.11.7-procedure.html
  libs/sarif/src/schema/log.rs
  libs/sarif/src/schema/message.rs
  libs/sarif/src/schema/mod.rs
  libs/sarif/src/schema/multiformat_message_string.rs
  libs/sarif/src/schema/properties.rs
  libs/sarif/src/schema/reporting_descriptor.rs
  libs/sarif/src/schema/run.rs
  libs/sarif/src/schema/tool.rs
  libs/sarif/src/serde.rs
  libs/sarif/tests/example_reports/k1_minimal.sarif.json
  libs/sarif/tests/example_reports/k2_recommended_with_source.sarif.json
  libs/sarif/tests/example_reports/k3_recommended_without_source.sarif.json
  libs/sarif/tests/example_reports/k4_comprehensive.sarif.json
  libs/sarif/tests/schemas/sarif-2.1.0.json
  yarn.lock
Due: markdownlint, prettier, yarn, rust, toml

fix: imports inside of hash-iso
  libs/@local/hash-isomorphic-utils/src/prosemirror-manager.ts
  libs/@local/hash-isomorphic-utils/src/prosemirror.ts
Due: prettier

fix(skills): Correctly track matchType for keyword vs intent pattern matches
  .claude/hooks/skill-activation-prompt.ts
Due: prettier

fix(skills): Check both trigger types independently, keyword takes priority
  .claude/hooks/skill-activation-prompt.sh
  .claude/hooks/skill-activation-prompt.ts
Due: prettier

refactor(skills): Remove shell script wrapper, use yarn workspace directly
  .claude/hooks/package.json
  .claude/hooks/skill-activation-prompt.sh
  .claude/settings.json
  .github/workflows/lint.yml
  package.json
  yarn.lock
Due: prettier, yarn

`yarn fix:package-json`
  package.json
Due: prettier

Use `ColumnReference` in expressions
  libs/@local/graph/postgres-store/src/store/postgres/ontology/read.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/compile.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/expression/column_reference.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/expression/conditional.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/expression/group_by_clause.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/expression/join_clause.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/expression/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/expression/order_clause.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/expression/select_clause.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/expression/with_clause.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/statement/insert.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/table.rs
Due: rust

fix: update types
  .claude/hooks/package.json
  apps/hash-ai-worker-ts/package.json
  apps/hash-realtime/package.json
  apps/hash-search-loader/package.json
  apps/mcp/linear/package.json
  apps/mcp/notion/package.json
  libs/@blockprotocol/graph/package.json
  libs/@blockprotocol/type-system/typescript/package.json
  libs/@local/eslint/package.json
  libs/@local/graph/client/typescript/package.json
  libs/@local/harpc/client/typescript/package.json
  libs/@local/hash-backend-utils/package.json
  libs/@local/hash-isomorphic-utils/package.json
  libs/@local/internal-api-client/typescript/package.json
  libs/@local/status/typescript/package.json
  yarn.lock
Due: prettier, yarn

fix: yarn lock
  yarn.lock
Due: none

Document query expression types and add CROSS/NATURAL JOIN support
  libs/@local/graph/postgres-store/src/store/postgres/query/compile.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/expression/column_reference.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/expression/join_clause.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/expression/table_reference.rs
Due: rust

SAVE
  libs/@hashintel/petrinaut/src/core/compute-hazard-rate.test.ts
  libs/@hashintel/petrinaut/src/core/compute-hazard-rate.ts
  libs/@hashintel/petrinaut/src/core/compute-place-next-state.test.ts
  libs/@hashintel/petrinaut/src/core/compute-place-next-state.ts
  libs/@hashintel/petrinaut/src/core/compute-possible-transition.test.ts
  libs/@hashintel/petrinaut/src/core/compute-possible-transition.ts
  libs/@hashintel/petrinaut/src/core/enumerate-weighted-markings.test.ts
  libs/@hashintel/petrinaut/src/core/enumerate-weighted-markings.ts
  libs/@hashintel/petrinaut/src/core/simulation.ts
  libs/@hashintel/petrinaut/src/core/types.ts
Due: prettier

SAVE
  libs/@hashintel/petrinaut/src/core/compute-possible-transition.test.ts
  libs/@hashintel/petrinaut/src/core/compute-possible-transition.ts
Due: prettier

Add execute-transitions
  libs/@hashintel/petrinaut/src/core/execute-transitions.test.ts
  libs/@hashintel/petrinaut/src/core/execute-transitions.ts
Due: prettier

Format
  libs/@hashintel/petrinaut/src/core/execute-transitions.ts
Due: prettier

SAVE
  libs/@hashintel/petrinaut/src/core/compute-possible-transition.test.ts
  libs/@hashintel/petrinaut/src/core/compute-possible-transition.ts
  libs/@hashintel/petrinaut/src/core/remove-tokens-from-simulation-frame.test.ts
  libs/@hashintel/petrinaut/src/core/remove-tokens-from-simulation-frame.ts
Due: prettier

Save
  libs/@hashintel/petrinaut/package.json
  libs/@hashintel/petrinaut/src/core/compile-user-code.test.ts
  libs/@hashintel/petrinaut/src/core/compile-user-code.ts
  libs/@hashintel/petrinaut/src/core/compute-hazard-rate.test.ts
  libs/@hashintel/petrinaut/src/core/compute-hazard-rate.ts
  libs/@hashintel/petrinaut/src/core/enumerate-weighted-markings.test.ts
  libs/@hashintel/petrinaut/src/core/enumerate-weighted-markings.ts
  libs/@hashintel/petrinaut/src/core/place-next-state.test.ts
  libs/@hashintel/petrinaut/src/core/place-next-state.ts
  libs/@hashintel/petrinaut/src/core/simulation.ts
  yarn.lock
Due: prettier, yarn

Extract some state management in state/ folder
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/apply-node-changes.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/state/mod.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/state/use-editor-state.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/state/use-nodes-with-dragging-state.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/state/use-selected-place.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/use-layout-graph.ts
Due: prettier

Format
  libs/@hashintel/petrinaut/src/core/build-simulation.test.ts
Due: prettier

Add petrinaut-sdcpn and add components dependencies
  libs/@hashintel/petrinaut/dev/dev-wrapper.tsx
  libs/@hashintel/petrinaut/package.json
  libs/@hashintel/petrinaut/panda.config.ts
  libs/@hashintel/petrinaut/postcss.config.cjs
  libs/@hashintel/petrinaut/src/main.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/apply-node-changes.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/arc-editor.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/arc.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/create-arc.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/editor-context.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/examples.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/generate-uuid.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/index.css
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/log-pane.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/net-selector.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/place-editor.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/place-node.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/sidebar.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/simulation-context.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/simulation-controls.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/styling.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/title-and-net-select.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/token-types.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/token-types/default-token-types.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/token-types/token-type-editor.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/transition-editor.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/transition-node.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/types.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/use-convert-to-pnml.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/use-layout-graph.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/use-load-from-pnml.ts
  libs/@hashintel/petrinaut/tsconfig.json
  yarn.lock
Due: prettier, yarn

Extract some stuff to lib/
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/arc.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/lib/calculate-graph-layout.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/lib/generate-uuid.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/transition-editor.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/use-layout-graph.ts
Due: prettier

Remove some Petrinaut-specific things, incompatible with SDCPN
  libs/@hashintel/petrinaut/dev/dev-wrapper.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/arc.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/log-pane.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/place-node.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/simulation-context.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/simulation-controls.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/token-types.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/token-types/default-token-types.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/token-types/token-type-editor.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/use-convert-to-pnml.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/use-load-from-pnml.ts
Due: prettier
