Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

markdownlint:
  tags:
  - frontend
  - style
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

biome:
  tags:
  - frontend
  - style
  run: biome format --write --staged || true
  stage_fixed: true

yarn:
  tags:
  - frontend
  - style
  run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
  stage_fixed: true

sqlfluff:
  tags:
  - backend
  - style
  run: sqlfluff fix {staged_files} || true
  stage_fixed: true

rust:
  tags:
  - backend
  - style
  run: rustfmt {staged_files} || true
  stage_fixed: true

toml:
  tags:
  - backend
  - style
  run: taplo format {staged_files} || true
  stage_fixed: true

H-6763: Add the voice interview experience (#9380)
  .changeset/stable-composer-controls.md
  apps/petrinaut-website/src/main/app/brunch-sweep-output.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-panel-transport.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/src/main/app/voice-interview/interview-coverage.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/interview-coverage.ts
  apps/petrinaut-website/src/main/app/voice-interview/openai-realtime-session.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/openai-realtime-session.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-control.test.tsx
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-control.tsx
  apps/petrinaut-website/src/main/app/voice-interview/voice-preview.integration.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-turn-controller.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-turn-controller.ts
  docs/superpowers/specs/2026-08-27-chat-interview-mode-switch-design.md
  docs/superpowers/specs/2026-08-27-minimal-voice-interview-ui-design.md
  libs/@hashintel/brunch-agent/docs/adr/0009-openai-voice-ui-turn-shell.md
  libs/@hashintel/petrinaut/CHANGELOG.md
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/src/ui/index.ts
  libs/@hashintel/petrinaut/src/ui/petrinaut.tsx
  libs/@hashintel/petrinaut/src/ui/types/ai-assistant-composer-control.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/ai-cta-modal.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/ai-cta-modal.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/ai-interaction-mode-tabs.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/ai-interaction-mode-tabs.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.tsx
Due: markdownlint, biome

Migrate voice interviews to GPT-Realtime-2
  apps/petrinaut-website/README.md
  apps/petrinaut-website/api/voice/speech.ts
  apps/petrinaut-website/src/main/app/voice-interview/openai-realtime-session.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/openai-realtime-session.ts
  apps/petrinaut-website/src/main/app/voice-interview/realtime-brunch-bridge.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/realtime-brunch-bridge.ts
  apps/petrinaut-website/src/main/app/voice-interview/speech-playback-controller.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/speech-playback-controller.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-control.test.tsx
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-control.tsx
  apps/petrinaut-website/src/main/app/voice-interview/voice-preview.integration.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-turn-controller.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-turn-controller.ts
  apps/petrinaut-website/src/server/voice/openai-realtime-call.test.ts
  apps/petrinaut-website/src/server/voice/openai-realtime-call.ts
  apps/petrinaut-website/src/server/voice/openai-speech.test.ts
  apps/petrinaut-website/src/server/voice/openai-speech.ts
  apps/petrinaut-website/src/server/voice/openai-voice-policy.test.ts
  apps/petrinaut-website/src/server/voice/openai-voice-policy.ts
  apps/petrinaut-website/vercel.json
  apps/petrinaut-website/vite.config.ts
  libs/@hashintel/brunch-agent/docs/adr/0009-openai-voice-ui-turn-shell.md
  libs/@hashintel/petrinaut/docs/ai-assistant.md
Due: markdownlint, biome

Cancel pending speech when voice pauses
  apps/petrinaut-website/src/main/app/voice-interview/openai-realtime-session.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/openai-realtime-session.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-turn-controller.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-turn-controller.ts
Due: biome

Preserve cancel correlation after response completion
  apps/petrinaut-website/src/main/app/voice-interview/openai-realtime-session.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/openai-realtime-session.ts
Due: biome

Format Realtime lifecycle changes
  apps/petrinaut-website/src/main/app/voice-interview/openai-realtime-session.ts
Due: biome

Preserve Realtime startup failure diagnostics
  apps/petrinaut-website/src/main/app/voice-interview/openai-realtime-session.ts
Due: biome

Handle Realtime event ordering safely
  apps/petrinaut-website/src/main/app/voice-interview/openai-realtime-session.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/openai-realtime-session.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-turn-controller.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-turn-controller.ts
Due: biome

Harden the Realtime response lifecycle
  apps/petrinaut-website/src/main/app/voice-interview/openai-realtime-session.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/openai-realtime-session.ts
  apps/petrinaut-website/src/main/app/voice-interview/realtime-brunch-bridge.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/realtime-brunch-bridge.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-preview.integration.test.ts
  libs/@hashintel/brunch-agent/docs/adr/0009-openai-voice-ui-turn-shell.md
Due: markdownlint, biome

Format pending speech cancellation changes
  apps/petrinaut-website/src/main/app/voice-interview/openai-realtime-session.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-turn-controller.ts
Due: biome

Remove transient voice planning documents
  docs/superpowers/plans/2026-08-28-realtime-expert-interviewer-prompt.md
  docs/superpowers/specs/2026-08-27-chat-interview-mode-switch-design.md
  docs/superpowers/specs/2026-08-27-minimal-voice-interview-ui-design.md
  docs/superpowers/specs/2026-08-28-realtime-expert-interviewer-prompt-design.md
Due: markdownlint, biome

Improve realtime voice interview startup and delivery
  apps/brunch-agent/src/flue-ui-stream.ts
  apps/brunch-agent/test/petrinaut-chat.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/openai-realtime-session.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/openai-realtime-session.ts
  apps/petrinaut-website/src/main/app/voice-interview/realtime-brunch-bridge.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/realtime-brunch-bridge.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-control.test.tsx
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-control.tsx
  apps/petrinaut-website/src/server/voice/openai-voice-policy.test.ts
  apps/petrinaut-website/src/server/voice/openai-voice-policy.ts
  docs/superpowers/plans/2026-08-28-realtime-expert-interviewer-prompt.md
  docs/superpowers/specs/2026-08-28-realtime-expert-interviewer-prompt-design.md
  libs/@hashintel/petrinaut/docs/ai-assistant.md
Due: markdownlint, biome

Adapt realtime tools to the consolidated transport
  apps/brunch-agent/src/flue-ui-stream.ts
  apps/brunch-agent/test/petrinaut-chat.test.ts
Due: biome

Type Realtime abort reasons safely
  apps/petrinaut-website/src/main/app/voice-interview/openai-realtime-session.ts
Due: biome

Format Realtime bridge lifecycle changes
  apps/petrinaut-website/src/main/app/voice-interview/realtime-brunch-bridge.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/realtime-brunch-bridge.ts
Due: biome

Preserve submission state across voice pauses
  apps/petrinaut-website/src/main/app/voice-interview/voice-turn-controller.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-turn-controller.ts
Due: biome

H-6763: Migrate voice interviews to GPT-Realtime-2 (#9399)
  apps/petrinaut-website/README.md
  apps/petrinaut-website/api/voice/speech.ts
  apps/petrinaut-website/src/main/app/voice-interview/openai-realtime-session.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/openai-realtime-session.ts
  apps/petrinaut-website/src/main/app/voice-interview/realtime-brunch-bridge.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/realtime-brunch-bridge.ts
  apps/petrinaut-website/src/main/app/voice-interview/speech-playback-controller.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/speech-playback-controller.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-control.test.tsx
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-control.tsx
  apps/petrinaut-website/src/main/app/voice-interview/voice-preview.integration.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-turn-controller.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-turn-controller.ts
  apps/petrinaut-website/src/server/voice/openai-realtime-call.test.ts
  apps/petrinaut-website/src/server/voice/openai-realtime-call.ts
  apps/petrinaut-website/src/server/voice/openai-speech.test.ts
  apps/petrinaut-website/src/server/voice/openai-speech.ts
  apps/petrinaut-website/src/server/voice/openai-voice-policy.test.ts
  apps/petrinaut-website/src/server/voice/openai-voice-policy.ts
  apps/petrinaut-website/vercel.json
  apps/petrinaut-website/vite.config.ts
  docs/superpowers/specs/2026-08-27-chat-interview-mode-switch-design.md
  docs/superpowers/specs/2026-08-27-minimal-voice-interview-ui-design.md
  libs/@hashintel/brunch-agent/docs/adr/0009-openai-voice-ui-turn-shell.md
  libs/@hashintel/petrinaut/docs/ai-assistant.md
Due: markdownlint, biome

Prevent duplicate voice error notifications
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.tsx
Due: biome

Fix inline voice recovery and handoff
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-inline-view.test.tsx
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-inline-view.tsx
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
Due: markdownlint, biome

Restart inline voice after teardown completes
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-control.test.tsx
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-control.tsx
Due: biome

Restore the AI prompt icon
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/ai-cta-modal.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/ai-cta-modal.tsx
Due: biome

Eliminate inline voice development warnings
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/use-flue-chat-history.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/use-flue-chat-history.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-control.tsx
Due: biome

Draw the voice ribbon from a rolling level history
  .changeset/stable-composer-controls.md
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/voice-session-indicator.tsx
Due: markdownlint, biome

Render live voice surfaces from a reported session snapshot
  .changeset/stable-composer-controls.md
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/use-flue-chat-history.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/use-flue-chat-history.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/use-flue-chat-history.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-control.test.tsx
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-control.tsx
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-inline-view.test.tsx
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-inline-view.tsx
  apps/petrinaut-website/src/main/app/voice-interview/voice-session-state.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-session-state.ts
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/src/panda-preset.ts
  libs/@hashintel/petrinaut/src/react/voice-session/context.ts
  libs/@hashintel/petrinaut/src/react/voice-session/provider.tsx
  libs/@hashintel/petrinaut/src/react/voice-session/store.ts
  libs/@hashintel/petrinaut/src/react/voice-session/use-voice-session.ts
  libs/@hashintel/petrinaut/src/ui/index.ts
  libs/@hashintel/petrinaut/src/ui/types/ai-assistant-composer-control.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/bottom-bar.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/toolbar-button.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/voice-session-segment.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/voice-session-segment.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/voice-session-indicator.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/voice-session-labels.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.stories.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/defer-voice-messages.test.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/defer-voice-messages.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/voice-dock.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/voice-dock/use-throttled-announcement.ts
Due: markdownlint, biome

Redraw the voice ribbon and smooth the composer's handover to the dock
  .changeset/stable-composer-controls.md
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/src/panda-preset.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/voice-session-indicator.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/footer-height.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/voice-dock.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/voice-dock/transcription-icon.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/voice-input-provenance.tsx
Due: markdownlint, biome

Remove duplicate inline voice test control
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.test.tsx
Due: biome

Integrate voice mode into the AI assistant transcript
  .changeset/stable-composer-controls.md
  apps/petrinaut-website/README.md
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-control.test.tsx
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-control.tsx
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-inline-view.test.tsx
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-inline-view.tsx
  apps/petrinaut-website/src/main/app/voice-interview/voice-turn-controller.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-turn-controller.ts
  libs/@hashintel/brunch-agent/docs/adr/0009-openai-voice-ui-turn-shell.md
  libs/@hashintel/brunch-agent/docs/specs/petrinaut-integration.md
  libs/@hashintel/petrinaut-core/src/ai.ts
  libs/@hashintel/petrinaut/CHANGELOG.md
  libs/@hashintel/petrinaut/docs/README.md
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/src/ui/index.ts
  libs/@hashintel/petrinaut/src/ui/petrinaut.tsx
  libs/@hashintel/petrinaut/src/ui/types/ai-assistant-composer-control.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/ai-cta-modal.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/ai-cta-modal.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/ai-interaction-mode-tabs.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/ai-interaction-mode-tabs.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/ai-voice-mode-button.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.stories.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/tool-list.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/voice-input-provenance.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/types.ts
Due: markdownlint, biome

Defer voice bridge startup while paused
  apps/petrinaut-website/src/main/app/voice-interview/voice-turn-controller.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-turn-controller.ts
Due: biome

Move voice controls into the dock and draw a live ribbon
  .changeset/stable-composer-controls.md
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-control.test.tsx
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-control.tsx
  apps/petrinaut-website/src/main/app/voice-interview/voice-session-state.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-session-state.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-turn-controller.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-turn-controller.ts
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/src/panda-preset.ts
  libs/@hashintel/petrinaut/src/react/voice-session/store.ts
  libs/@hashintel/petrinaut/src/react/voice-session/use-voice-session.ts
  libs/@hashintel/petrinaut/src/ui/types/ai-assistant-composer-control.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/bottom-bar.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/toolbar-button.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/voice-session-segment.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/voice-session-segment.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/voice-session-indicator.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/voice-session-labels.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.stories.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/voice-dock.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/voice-dock/microphone-icon.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/voice-dock/use-throttled-announcement.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/voice-input-provenance.tsx
Due: markdownlint, biome

Fix voice session architecture boundary
  libs/@hashintel/petrinaut/src/react/voice-session/store.ts
  libs/@hashintel/petrinaut/src/react/voice-session/types.ts
  libs/@hashintel/petrinaut/src/react/voice-session/use-voice-session.ts
  libs/@hashintel/petrinaut/src/ui/types/ai-assistant-composer-control.ts
Due: biome

Preserve typed drafts during voice submissions
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
Due: biome

Remove obsolete composer callback import
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
Due: biome

SRE-1009: Add package.json, Cargo.toml and pyproject.toml to CODEOWNERS
  .github/CODEOWNERS
Due: none

Enforce the Brunch transport boundary in CI
  .github/actions/prune-repository/prune_test.py
  .yarnrc.yml
  apps/petrinaut-website/package.json
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-ask-interactive-tool.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-ask-mapping.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-panel-transport.ts
  apps/petrinaut-website/src/main/app/voice-interview/canonical-speech.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/canonical-speech.ts
  apps/petrinaut-website/src/main/app/voice-interview/interview-coverage.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/interview-coverage.ts
  libs/@hashintel/brunch-agent/packages/core/src/client-tools.ts
  libs/@hashintel/brunch-agent/packages/core/turbo.json
  libs/@hashintel/brunch-agent/packages/transport-aisdk/.oxlintrc.json
  libs/@hashintel/brunch-agent/packages/transport-aisdk/package.json
  libs/@hashintel/brunch-agent/packages/transport-aisdk/src/client-tools.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/vite.config.ts
  yarn.config.cjs
  yarn.lock
Due: biome, yarn

Create the file's link entity in the web of the file entity
  apps/hash-frontend/src/shared/file-upload-context.tsx
Due: biome

Add a migration moving avatar links into the image's web
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/031-move-avatar-links-to-image-web.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/util.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/util/relocate-links.ts
Due: biome

Add multiple option to select
  libs/@hashintel/ds-components/src/components/Select/multi-select.stories.tsx
  libs/@hashintel/ds-components/src/components/Select/select.stories.tsx
  libs/@hashintel/ds-components/src/components/Select/select.tsx
  libs/@hashintel/ds-components/src/main.ts
Due: biome

Preserve microphone mute state across voice turns
  apps/petrinaut-website/src/main/app/voice-interview/voice-session-state.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-session-state.ts
  libs/@hashintel/petrinaut/src/react/voice-session/types.ts
  libs/@hashintel/petrinaut/src/react/voice-session/use-voice-session.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.stories.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/voice-dock.tsx
Due: biome

Better select clearable states
  libs/@hashintel/ds-components/src/components/Select/select.recipe.ts
Due: biome

SRE-1007: Make the Brunch agent transport boundary check fire in CI, and fix the violation (#9498)
  .github/actions/prune-repository/prune_test.py
  .yarnrc.yml
  apps/petrinaut-website/package.json
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-ask-interactive-tool.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-ask-mapping.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-panel-transport.ts
  apps/petrinaut-website/src/main/app/voice-interview/canonical-speech.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/canonical-speech.ts
  apps/petrinaut-website/src/main/app/voice-interview/interview-coverage.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/interview-coverage.ts
  libs/@hashintel/brunch-agent/packages/core/src/client-tools.ts
  libs/@hashintel/brunch-agent/packages/core/turbo.json
  libs/@hashintel/brunch-agent/packages/transport-aisdk/.oxlintrc.json
  libs/@hashintel/brunch-agent/packages/transport-aisdk/package.json
  libs/@hashintel/brunch-agent/packages/transport-aisdk/src/client-tools.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/vite.config.ts
  yarn.config.cjs
  yarn.lock
Due: biome, yarn

Adjust multi select highlight options
  libs/@hashintel/ds-components/src/components/Select/multi-select.stories.tsx
  libs/@hashintel/ds-components/src/components/Select/select.recipe.ts
  libs/@hashintel/ds-components/src/components/Select/select.tsx
Due: biome

Path conditions:
  markdownlint: any of: *.md
  biome: any of: *.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}
  yarn: any of: {*/package.json, package.json}
  sqlfluff: any of: *.sql
  rust: any of: *.rs
  toml: any of: *.toml
