Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    biome:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: biome format --write --staged || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: rustfmt {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: taplo format {staged_files} || true
      stage_fixed: true

test: remove obsolete property mask snapshot
  libs/@local/hashql/eval/tests/ui/postgres/filter/property_mask.snap
Due: none

chore: update ontology version snapshot
  libs/@local/hashql/eval/tests/ui/postgres/authorization/integration/patch_with_policy_and_protection.snap
Due: none

Share the stock assistant model through a module and name the Brunch test model
  apps/brunch-agent/README.md
  apps/brunch-agent/src/chat-model.ts
  apps/petrinaut-website/README.md
  apps/petrinaut-website/api/chat.ts
  apps/petrinaut-website/api/voice/mediation.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.canonical-state-change.integration.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/workpiece-refusal-presentation.integration.test.tsx
  apps/petrinaut-website/src/shared/stock-assistant-model.ts
Due: markdownlint, biome

Remove the model default and the selected-mutation batch from petrinaut-core
  .changeset/brunch-petrinaut-core-contracts.md
  .changeset/petrinaut-ai-model.md
  .changeset/petrinaut-core-remove-model-and-batch.md
  .changeset/selected-batch-scenarios-metrics.md
  .changeset/selected-mutation-batch.md
  apps/brunch-agent/README.md
  apps/brunch-agent/src/chat-model.ts
  apps/petrinaut-website/README.md
  apps/petrinaut-website/api/chat.ts
  apps/petrinaut-website/api/voice/mediation.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.canonical-state-change.integration.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/workpiece-refusal-presentation.integration.test.tsx
  libs/@hashintel/petrinaut-core/src/ai.ts
  libs/@hashintel/petrinaut-core/src/index.ts
  libs/@hashintel/petrinaut-core/src/selected-mutation-batch.test.ts
  libs/@hashintel/petrinaut-core/src/selected-mutation-batch.ts
Due: markdownlint, biome

Keep the pending release note for the stock prompt exports
  .changeset/petrinaut-ai-model.md
  .changeset/petrinaut-core-remove-model-and-batch.md
Due: markdownlint, biome

fix: use versioned URLs in policy protection
  libs/@local/hashql/eval/tests/ui/postgres/authorization/integration/patch_with_policy_and_protection.snap
Due: none

BE-538: HashQL: Permission system integration
  apps/hash-graph/src/subcommand/atlas.rs
  apps/hash-graph/src/subcommand/server.rs
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/api/src/rest/legacy/hashql/compile.rs
  libs/@local/graph/api/src/rest/legacy/hashql/error.rs
  libs/@local/graph/api/src/rest/legacy/hashql/mod.rs
  libs/@local/graph/api/src/rest/legacy/mod.rs
  libs/@local/graph/api/src/rest/router.rs
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/type-fetcher/src/store.rs
  tests/graph/benches/graph/scenario/runner.rs
  tests/graph/http/tests/hashql.http
  tests/graph/integration/postgres/email_filter_protection.rs
Due: biome, rust

BE-607: Split ModuleRegistry construction from immutable storage
  libs/@local/hashql/ast/src/lower/expander/error.rs
  libs/@local/hashql/core/src/lib.rs
  libs/@local/hashql/core/src/module/item.rs
  libs/@local/hashql/core/src/module/mod.rs
  libs/@local/hashql/core/src/module/namespace.rs
  libs/@local/hashql/core/src/module/resolver.rs
  libs/@local/hashql/core/src/module/std_lib/core/bits.rs
  libs/@local/hashql/core/src/module/std_lib/core/bool.rs
  libs/@local/hashql/core/src/module/std_lib/core/cmp.rs
  libs/@local/hashql/core/src/module/std_lib/core/json.rs
  libs/@local/hashql/core/src/module/std_lib/core/math.rs
  libs/@local/hashql/core/src/module/std_lib/core/mod.rs
  libs/@local/hashql/core/src/module/std_lib/core/option.rs
  libs/@local/hashql/core/src/module/std_lib/core/result.rs
  libs/@local/hashql/core/src/module/std_lib/core/url.rs
  libs/@local/hashql/core/src/module/std_lib/core/uuid.rs
  libs/@local/hashql/core/src/module/std_lib/graph/body.rs
  libs/@local/hashql/core/src/module/std_lib/graph/entity.rs
  libs/@local/hashql/core/src/module/std_lib/graph/head.rs
  libs/@local/hashql/core/src/module/std_lib/graph/mod.rs
  libs/@local/hashql/core/src/module/std_lib/graph/tail.rs
  libs/@local/hashql/core/src/module/std_lib/graph/temporal.rs
  libs/@local/hashql/core/src/module/std_lib/graph/tmp.rs
  libs/@local/hashql/core/src/module/std_lib/graph/types/knowledge/entity.rs
  libs/@local/hashql/core/src/module/std_lib/graph/types/knowledge/mod.rs
  libs/@local/hashql/core/src/module/std_lib/graph/types/mod.rs
  libs/@local/hashql/core/src/module/std_lib/graph/types/ontology/entity_type.rs
  libs/@local/hashql/core/src/module/std_lib/graph/types/ontology/mod.rs
  libs/@local/hashql/core/src/module/std_lib/graph/types/principal/actor_group/mod.rs
  libs/@local/hashql/core/src/module/std_lib/graph/types/principal/actor_group/web.rs
  libs/@local/hashql/core/src/module/std_lib/graph/types/principal/mod.rs
  libs/@local/hashql/core/src/module/std_lib/kernel/mod.rs
  libs/@local/hashql/core/src/module/std_lib/kernel/special_form.rs
  libs/@local/hashql/core/src/module/std_lib/kernel/type.rs
  libs/@local/hashql/core/src/module/std_lib/mod.rs
  libs/@local/hashql/core/src/symbol/sym.rs
  libs/darwin-kperf/events/src/lib.rs
Due: rust

chore: remove redundant must use attribute
  libs/@local/hashql/core/src/module/item.rs
Due: rust

fix: recognize the as5-1 CPU identifier
  libs/darwin-kperf/events/src/lib.rs
Due: rust

BE-614: Generate synthetic MIR bodies for first-class intrinsics
  libs/@local/graph/api/src/rest/legacy/hashql/compile.rs
  libs/@local/hashql/core/src/symbol/mod.rs
  libs/@local/hashql/core/src/symbol/sym.rs
  libs/@local/hashql/mir/src/lib.rs
  libs/@local/hashql/mir/src/reify/atom.rs
  libs/@local/hashql/mir/src/reify/error.rs
  libs/@local/hashql/mir/src/reify/mod.rs
  libs/@local/hashql/mir/src/reify/rvalue.rs
  libs/@local/hashql/mir/src/reify/synthetic.rs
  libs/@local/hashql/mir/tests/ui/interpret/synthetic-intrinsic-value.aux.mir
  libs/@local/hashql/mir/tests/ui/interpret/synthetic-intrinsic-value.jsonc
  libs/@local/hashql/mir/tests/ui/interpret/synthetic-intrinsic-value.stdout
  libs/@local/hashql/mir/tests/ui/pass/post_inline/synthetic-intrinsic-hof-dynamic.jsonc
  libs/@local/hashql/mir/tests/ui/pass/post_inline/synthetic-intrinsic-hof-dynamic.stdout
  libs/@local/hashql/mir/tests/ui/pass/post_inline/synthetic-intrinsic-hof.jsonc
  libs/@local/hashql/mir/tests/ui/pass/post_inline/synthetic-intrinsic-hof.stdout
  libs/@local/hashql/mir/tests/ui/reify/synthetic-graph-not-first-class.jsonc
  libs/@local/hashql/mir/tests/ui/reify/synthetic-graph-not-first-class.stderr
  libs/@local/hashql/mir/tests/ui/reify/synthetic-intrinsic-bare.jsonc
  libs/@local/hashql/mir/tests/ui/reify/synthetic-intrinsic-multiple.jsonc
  libs/@local/hashql/mir/tests/ui/reify/synthetic-intrinsic-multiple.stdout
  libs/@local/hashql/mir/tests/ui/reify/synthetic-intrinsic-reused.jsonc
  libs/@local/hashql/mir/tests/ui/reify/synthetic-intrinsic-reused.stdout
  libs/@local/hashql/mir/tests/ui/reify/synthetic-intrinsic-value.jsonc
  libs/@local/hashql/mir/tests/ui/reify/synthetic-intrinsic-value.stdout
Due: rust

Document what branch steps do
  libs/@local/integrations/definition/src/step.rs
Due: rust

Show the name pattern in the is_name doc
  libs/@local/integrations/definition/src/name.rs
Due: rust

Store names as boxed strings
  libs/@local/integrations/definition/src/name.rs
Due: rust

Take DefinitionPath by value when extending it
  libs/@local/integrations/definition/src/definition/check.rs
  libs/@local/integrations/definition/src/issue.rs
Due: rust

Collect check issues in a ReportSink
  libs/@local/integrations/definition/Cargo.toml
  libs/@local/integrations/definition/src/definition/check.rs
Due: rust, toml

Add property tests for definition parsing
  Cargo.lock
  libs/@local/integrations/definition/Cargo.toml
  libs/@local/integrations/definition/tests/properties.rs
Due: rust, toml

Parse definitions from YAML
  Cargo.lock
  Cargo.toml
  libs/@local/integrations/definition/Cargo.toml
  libs/@local/integrations/definition/README.md
  libs/@local/integrations/definition/src/definition/check.rs
  libs/@local/integrations/definition/src/definition/tests.rs
  libs/@local/integrations/definition/src/issue.rs
  libs/@local/integrations/definition/src/lib.rs
  libs/@local/integrations/definition/src/yaml/interpolate.rs
  libs/@local/integrations/definition/src/yaml/locations.rs
  libs/@local/integrations/definition/src/yaml/mod.rs
  libs/@local/integrations/definition/src/yaml/syntax/lower/mod.rs
  libs/@local/integrations/definition/src/yaml/syntax/lower/pipelines.rs
  libs/@local/integrations/definition/src/yaml/syntax/mod.rs
  libs/@local/integrations/definition/src/yaml/syntax/spanned_map.rs
  libs/@local/integrations/definition/src/yaml/tests.rs
Due: markdownlint, biome, rust, toml

Add the engine crate with SQL identifier and literal types
  .clippy.toml
  Cargo.lock
  Cargo.toml
  libs/@local/integrations/README.md
  libs/@local/integrations/engine/Cargo.toml
  libs/@local/integrations/engine/LICENSE.md
  libs/@local/integrations/engine/README.md
  libs/@local/integrations/engine/docs/dependency-diagram.mmd
  libs/@local/integrations/engine/docs/task-dependencies.json
  libs/@local/integrations/engine/src/lib.rs
  libs/@local/integrations/engine/src/sql.rs
  libs/@local/integrations/engine/tests/sql.rs
  libs/@local/integrations/engine/turbo.json
Due: markdownlint, biome, rust, toml

Add UI tests for definition parsing
  Cargo.lock
  libs/@local/integrations/definition/Cargo.toml
  libs/@local/integrations/definition/examples/aviation.yaml
  libs/@local/integrations/definition/tests/snapshots/ui__examples.snap
  libs/@local/integrations/definition/tests/snapshots/ui__ui@check-cycle.yaml.snap
  libs/@local/integrations/definition/tests/snapshots/ui__ui@check-duplicates.yaml.snap
  libs/@local/integrations/definition/tests/snapshots/ui__ui@check-references.yaml.snap
  libs/@local/integrations/definition/tests/snapshots/ui__ui@lower-accessors.yaml.snap
  libs/@local/integrations/definition/tests/snapshots/ui__ui@lower-duplicate-key.yaml.snap
  libs/@local/integrations/definition/tests/snapshots/ui__ui@lower-empty-parts.yaml.snap
  libs/@local/integrations/definition/tests/snapshots/ui__ui@lower-kinds.yaml.snap
  libs/@local/integrations/definition/tests/snapshots/ui__ui@lower-names.yaml.snap
  libs/@local/integrations/definition/tests/snapshots/ui__ui@lower-nested-branch.yaml.snap
  libs/@local/integrations/definition/tests/snapshots/ui__ui@lower-source-fields.yaml.snap
  libs/@local/integrations/definition/tests/snapshots/ui__ui@lower-variables.yaml.snap
  libs/@local/integrations/definition/tests/snapshots/ui__ui@syntax-duplicate-key.yaml.snap
  libs/@local/integrations/definition/tests/snapshots/ui__ui@syntax-invalid-yaml.yaml.snap
  libs/@local/integrations/definition/tests/snapshots/ui__ui@syntax-unknown-coercion.yaml.snap
  libs/@local/integrations/definition/tests/snapshots/ui__ui@syntax-unknown-field.yaml.snap
  libs/@local/integrations/definition/tests/ui.rs
  libs/@local/integrations/definition/tests/ui/check-cycle.yaml
  libs/@local/integrations/definition/tests/ui/check-duplicates.yaml
  libs/@local/integrations/definition/tests/ui/check-references.yaml
  libs/@local/integrations/definition/tests/ui/lower-accessors.yaml
  libs/@local/integrations/definition/tests/ui/lower-duplicate-key.yaml
  libs/@local/integrations/definition/tests/ui/lower-empty-parts.yaml
  libs/@local/integrations/definition/tests/ui/lower-kinds.yaml
  libs/@local/integrations/definition/tests/ui/lower-names.yaml
  libs/@local/integrations/definition/tests/ui/lower-nested-branch.yaml
  libs/@local/integrations/definition/tests/ui/lower-source-fields.yaml
  libs/@local/integrations/definition/tests/ui/lower-variables.yaml
  libs/@local/integrations/definition/tests/ui/syntax-duplicate-key.yaml
  libs/@local/integrations/definition/tests/ui/syntax-invalid-yaml.yaml
  libs/@local/integrations/definition/tests/ui/syntax-unknown-coercion.yaml
  libs/@local/integrations/definition/tests/ui/syntax-unknown-field.yaml
  oxfmt.config.ts
Due: biome, rust, toml

Add the DuckDB workspace
  Cargo.lock
  libs/@local/integrations/engine/Cargo.toml
  libs/@local/integrations/engine/README.md
  libs/@local/integrations/engine/docs/dependency-diagram.mmd
  libs/@local/integrations/engine/docs/task-dependencies.json
  libs/@local/integrations/engine/src/lib.rs
  libs/@local/integrations/engine/src/workspace/connection.rs
  libs/@local/integrations/engine/src/workspace/error.rs
  libs/@local/integrations/engine/src/workspace/mod.rs
  libs/@local/integrations/engine/src/workspace/rows.rs
  libs/@local/integrations/engine/tests/workspace.rs
Due: markdownlint, biome, rust, toml

Add memory, thread and disk limits to the workspace
  libs/@local/integrations/engine/README.md
  libs/@local/integrations/engine/src/byte_size.rs
  libs/@local/integrations/engine/src/lib.rs
  libs/@local/integrations/engine/src/workspace/connection.rs
  libs/@local/integrations/engine/src/workspace/error.rs
  libs/@local/integrations/engine/src/workspace/mod.rs
  libs/@local/integrations/engine/tests/workspace.rs
Due: markdownlint, biome, rust

BE-928: Add the integrations definition model (#9869)
  Cargo.lock
  Cargo.toml
  libs/@blockprotocol/type-system/rust/docs/dependency-diagram.mmd
  libs/@local/codec/rust/docs/dependency-diagram.mmd
  libs/@local/codegen/docs/dependency-diagram.mmd
  libs/@local/graph/authorization/rust/docs/dependency-diagram.mmd
  libs/@local/graph/store/rust/docs/dependency-diagram.mmd
  libs/@local/graph/temporal-versioning/docs/dependency-diagram.mmd
  libs/@local/graph/types/docs/dependency-diagram.mmd
  libs/@local/harpc/types/docs/dependency-diagram.mmd
  libs/@local/harpc/wire-protocol/docs/dependency-diagram.mmd
  libs/@local/integrations/README.md
  libs/@local/integrations/definition/Cargo.toml
  libs/@local/integrations/definition/LICENSE.md
  libs/@local/integrations/definition/README.md
  libs/@local/integrations/definition/docs/dependency-diagram.mmd
  libs/@local/integrations/definition/docs/task-dependencies.json
  libs/@local/integrations/definition/src/definition/check.rs
  libs/@local/integrations/definition/src/definition/mod.rs
  libs/@local/integrations/definition/src/definition/order.rs
  libs/@local/integrations/definition/src/definition/tests.rs
  libs/@local/integrations/definition/src/issue.rs
  libs/@local/integrations/definition/src/lib.rs
  libs/@local/integrations/definition/src/link.rs
  libs/@local/integrations/definition/src/name.rs
  libs/@local/integrations/definition/src/pipeline.rs
  libs/@local/integrations/definition/src/source.rs
  libs/@local/integrations/definition/src/step.rs
  libs/@local/integrations/definition/src/unit_map.rs
  libs/@local/integrations/definition/turbo.json
  libs/@local/temporal-client/docs/dependency-diagram.mmd
  tests/graph/test-data/rust/docs/dependency-diagram.mmd
Due: markdownlint, biome, rust, toml

Add user icons to user property filter
  apps/hash-frontend/src/pages/shared/types-table/filter-ribbon.tsx
  apps/hash-frontend/src/pages/shared/types-table/filter-ribbon/type-filter-chip.tsx
Due: biome

Remove source option
  apps/hash-frontend/src/pages/shared/types-table/filter-ribbon.tsx
  apps/hash-frontend/src/pages/shared/types-table/filter-ribbon/type-filter-chip.tsx
  apps/hash-frontend/src/pages/shared/types-table/shared/type-filters.ts
Due: biome

alphebatize type filter properties
  apps/hash-frontend/src/pages/shared/types-table/filter-ribbon.tsx
Due: biome

Update filter when input is temporarily cleared
  apps/hash-frontend/src/pages/shared/entities-visualizer/header/filter-ribbon/property-filter-chip.tsx
  apps/hash-frontend/src/pages/shared/types-table/filter-ribbon/type-filter-chip.tsx
Due: biome

fix filter ribbon gap in types page
  apps/hash-frontend/src/pages/shared/entities-visualizer/header/filter-ribbon.tsx
  apps/hash-frontend/src/pages/shared/filter-bar.ts
  apps/hash-frontend/src/pages/shared/filter-bar/filter-group-ribbon.tsx
  apps/hash-frontend/src/pages/shared/types-table.tsx
  apps/hash-frontend/src/pages/shared/types-table/filter-ribbon.tsx
Due: biome

Add filters to type table
  apps/hash-frontend/panda.config.ts
  apps/hash-frontend/src/pages/shared/ds-components-scope.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/header/filter-ribbon.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/header/filter-ribbon/property-filter-chip.tsx
  apps/hash-frontend/src/pages/shared/filter-bar.ts
  apps/hash-frontend/src/pages/shared/filter-bar/filter-chip-pill-chrome.ts
  apps/hash-frontend/src/pages/shared/sort-menu-chrome.ts
  apps/hash-frontend/src/pages/shared/types-table.tsx
  apps/hash-frontend/src/pages/shared/types-table/filter-ribbon.tsx
  apps/hash-frontend/src/pages/shared/types-table/filter-ribbon/type-filter-chip.tsx
  apps/hash-frontend/src/pages/shared/types-table/shared/type-filters.ts
  apps/hash-frontend/src/pages/types/[[...type-kind]].page.tsx
Due: biome

Update types filter bar to match entities
  apps/hash-frontend/src/pages/shared/entities-visualizer.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/header.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/header/filter-ribbon.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/header/type-filter-pill.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/shared/filter-state.ts
  apps/hash-frontend/src/pages/shared/entities-visualizer/sort-menu-chrome.ts
  apps/hash-frontend/src/pages/shared/filter-bar.ts
  apps/hash-frontend/src/pages/shared/filter-bar/filter-pill.tsx
  apps/hash-frontend/src/pages/shared/filter-bar/pill-styles.ts
  apps/hash-frontend/src/pages/shared/filter-bar/search-pill.tsx
  apps/hash-frontend/src/pages/shared/filter-bar/use-internal-webs.ts
  apps/hash-frontend/src/pages/shared/filter-bar/visualizer-header.tsx
  apps/hash-frontend/src/pages/shared/filter-bar/web-filter-pill.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer/graph-container.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer/graph-container/search-control.tsx
  apps/hash-frontend/src/pages/shared/type-graph-visualizer.tsx
  apps/hash-frontend/src/pages/shared/types-table.tsx
  apps/hash-frontend/src/shared/table-header.tsx
Due: biome

Rename "properties" to "attributes" in filters
  apps/hash-frontend/src/pages/shared/entities-visualizer/header/filter-ribbon.tsx
  apps/hash-frontend/src/pages/shared/types-table/shared/type-filters.ts
Due: biome

Fix types table height calculation
  apps/hash-frontend/src/pages/shared/filter-bar/filter-group-ribbon.tsx
  apps/hash-frontend/src/pages/shared/filter-bar/visualizer-header.tsx
  apps/hash-frontend/src/pages/shared/filter-bar/web-filter-pill.tsx
  apps/hash-frontend/src/pages/shared/types-table.tsx
  apps/hash-frontend/src/pages/shared/types-table/filter-ribbon/type-filter-chip.tsx
  apps/hash-frontend/src/pages/shared/types-table/shared/type-filters.ts
Due: biome

Fix sort-menu sort directions
  libs/@hashintel/ds-components/src/components/Filter/sort-menu-util.ts
Due: biome

Hide type filters in tabs when not available
  apps/hash-frontend/src/pages/shared/types-table.tsx
  apps/hash-frontend/src/pages/shared/types-table/filter-ribbon.tsx
  apps/hash-frontend/src/pages/shared/types-table/shared/type-filters.ts
Due: biome

Remove the sweep output schema left unused by the transport
  apps/petrinaut-website/src/main/app/brunch-sweep-output.ts
Due: biome

Move the interview length preference out of the Voice preference module
  apps/petrinaut-website/src/main/app/local-storage-demo/interview-budget-preference.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/voice-preference.ts
Due: biome

Derive interview length stop positions from the number of levels
  apps/petrinaut-website/src/main/app/local-storage-demo/interview-budget-control.tsx
Due: biome

Check the submitted interview allowance against the plugin's type
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-panel-transport.ts
Due: biome
