Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, prettier, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: yarn run markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    prettier:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: yarn run prettier --write {staged_files} || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:packagejson && yarn fix:yarn-deduplicate
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: cargo fmt -- {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: yarn run taplo format {staged_files} || true
      stage_fixed: true

feat: use builder in std
  libs/@local/hashql/core/src/module/item.rs
  libs/@local/hashql/core/src/module/std_lib.rs
  libs/@local/hashql/core/src/type/build.rs
Due: rust

chore: remove reundant builder
  libs/@local/hashql/core/src/type/build.rs
Due: rust

feat: build interface (WIP)
  libs/@local/hashql/core/src/type/build.rs
Due: rust

feat: WIP
  libs/@local/hashql/core/src/module/item.rs
  libs/@local/hashql/core/src/module/std_lib.rs
Due: rust

feat: most of stdlib converted
  libs/@local/hashql/core/src/module/std_lib.rs
Due: rust

feat: redo the stdlib
  Cargo.lock
  libs/@local/hashql/core/Cargo.toml
  libs/@local/hashql/core/src/lib.rs
  libs/@local/hashql/core/src/module/item.rs
  libs/@local/hashql/core/src/module/locals.rs
  libs/@local/hashql/core/src/module/mod.rs
  libs/@local/hashql/core/src/module/std_lib.rs
  libs/@local/hashql/core/src/type/environment/mod.rs
Due: rust, toml

fix: compile
  libs/@local/hashql/core/src/module/item.rs
  libs/@local/hashql/core/src/module/namespace.rs
  libs/@local/hashql/core/src/module/resolver.rs
  libs/@local/hashql/core/src/module/std_lib.rs
Due: rust

feat: update snapshots
  libs/@local/hashql/ast/src/lowering/pre_expansion_name_resolver.rs
  libs/@local/hashql/ast/src/lowering/type_extractor/translate.rs
  libs/@local/hashql/ast/tests/ui/lowering/import-resolver/local-binding-recursive-value.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/import-resolver/local-binding-recursive-value.stdout
  libs/@local/hashql/ast/tests/ui/lowering/import-resolver/nested-resolution.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/import-resolver/nested-resolution.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/closure-generics.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/definition/constraints-parsing.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/definition/generics-apply-params.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/definition/generics-with-params.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/definition/locals-generic-params-struct.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/definition/locals-generic-params.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/definition/result.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/generic-type-resolution.stdout
  libs/@local/hashql/core/src/module/item.rs
  libs/@local/hashql/core/src/module/namespace.rs
  libs/@local/hashql/core/src/module/std_lib.rs
  libs/@local/hashql/hir/tests/ui/reify/closure.stdout
Due: rust

chore: remove arrayvec dependency
  Cargo.lock
  libs/@local/hashql/core/Cargo.toml
  libs/@local/hashql/core/src/module/std_lib.rs
Due: rust, toml

chore: docs
  libs/@local/hashql/core/src/module/std_lib.rs
Due: rust

chore: sort features
  libs/@local/hashql/core/src/lib.rs
Due: rust

musings about how to handle the types
  libs/@local/hashql/ast/src/lowering/type_extractor/definition.rs
  libs/@local/hashql/core/src/module/mod.rs
  libs/@local/hashql/hir/src/lower/mod.rs
  libs/@local/hashql/hir/src/lower/specialize_opaque.rs
  libs/@local/hashql/hir/src/node/operation/type.rs
Due: rust

feat: ctor diagnostics
  libs/@local/hashql/ast/src/lowering/type_extractor/error.rs
  libs/@local/hashql/core/src/pretty/display.rs
  libs/@local/hashql/core/src/pretty/mod.rs
  libs/@local/hashql/core/src/symbol/mod.rs
  libs/@local/hashql/core/src/type/kind/generic/mod.rs
  libs/@local/hashql/hir/src/lib.rs
  libs/@local/hashql/hir/src/lower/ctor.rs
  libs/@local/hashql/hir/src/node/operation/type.rs
  libs/@local/hashql/hir/src/node/variable.rs
  libs/@local/hashql/hir/src/path.rs
Due: rust

feat: specialize ctor
  libs/@local/hashql/hir/src/fold/mod.rs
  libs/@local/hashql/hir/src/lower/ctor.rs
  libs/@local/hashql/hir/src/lower/mod.rs
  libs/@local/hashql/hir/src/lower/specialize_opaque.rs
  libs/@local/hashql/hir/src/node/operation/type.rs
  libs/@local/hashql/hir/src/pretty.rs
  libs/@local/hashql/hir/src/visit.rs
Due: rust

feat: WIP specialize opaque
  libs/@local/hashql/hir/src/lower/specialize_opaque.rs
  libs/@local/hashql/hir/src/node/operation/type.rs
Due: rust

feat: improve diagnostic
  libs/@local/hashql/hir/src/lower/ctor.rs
Due: rust

chore: cachine
  libs/@local/hashql/hir/src/lower/ctor.rs
Due: rust

fix: import
  libs/@local/hashql/core/src/type/kind/generic/mod.rs
Due: rust

feat: compiletest integration
  libs/@local/hashql/compiletest/src/suite/hir_lower_ctor.rs
  libs/@local/hashql/compiletest/src/suite/mod.rs
  libs/@local/hashql/hir/src/lower/ctor.rs
  libs/@local/hashql/hir/tests/ui/lower/ctor/.spec.toml
Due: rust, toml

chore: docs
  libs/@local/hashql/hir/src/lower/ctor.rs
Due: rust

feat: test
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/definition/global-generic-constraint-too-many.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/definition/global-generic-constraint-too-many.stderr
  libs/@local/hashql/core/src/span/mod.rs
  libs/@local/hashql/hir/src/fold/mod.rs
  libs/@local/hashql/hir/src/intern.rs
  libs/@local/hashql/hir/src/lower/ctor.rs
  libs/@local/hashql/hir/src/node/variable.rs
  libs/@local/hashql/hir/src/pretty.rs
  libs/@local/hashql/hir/src/reify/mod.rs
  libs/@local/hashql/hir/src/visit.rs
  libs/@local/hashql/hir/tests/ui/lower/ctor/absolute.jsonc
  libs/@local/hashql/hir/tests/ui/lower/ctor/absolute.stdout
  libs/@local/hashql/hir/tests/ui/lower/ctor/explicit-type.jsonc
  libs/@local/hashql/hir/tests/ui/lower/ctor/explicit-type.stdout
  libs/@local/hashql/hir/tests/ui/lower/ctor/imported-item-not-a-constructor.jsonc
  libs/@local/hashql/hir/tests/ui/lower/ctor/imported-item-not-a-constructor.stdout
  libs/@local/hashql/hir/tests/ui/lower/ctor/local.jsonc
  libs/@local/hashql/hir/tests/ui/lower/ctor/local.stdout
  libs/@local/hashql/hir/tests/ui/lower/ctor/not-enough-arguments.jsonc
  libs/@local/hashql/hir/tests/ui/lower/ctor/not-enough-arguments.stderr
  libs/@local/hashql/hir/tests/ui/lower/ctor/null.jsonc
  libs/@local/hashql/hir/tests/ui/lower/ctor/null.stdout
  libs/@local/hashql/hir/tests/ui/lower/ctor/too-many-arguments.jsonc
  libs/@local/hashql/hir/tests/ui/lower/ctor/too-many-arguments.stderr
Due: rust

feat: implement changes
  libs/@local/hashql/core/src/type/inference/solver/mod.rs
  libs/@local/hashql/core/src/type/inference/solver/test.rs
  libs/@local/hashql/core/src/type/inference/variable.rs
Due: rust

chore: docs for display builder
  libs/@local/hashql/core/src/pretty/display.rs
Due: rust

chore: docs
  libs/@local/hashql/core/src/type/inference/variable.rs
Due: rust

feat: finish inference
  libs/@local/hashql/core/src/type/environment/infer.rs
  libs/@local/hashql/core/src/type/environment/instantiate.rs
  libs/@local/hashql/hir/src/fold/mod.rs
  libs/@local/hashql/hir/src/intern.rs
  libs/@local/hashql/hir/src/lower/inference.rs
  libs/@local/hashql/hir/src/node/closure.rs
  libs/@local/hashql/hir/src/pretty.rs
  libs/@local/hashql/hir/src/reify/mod.rs
  libs/@local/hashql/hir/src/visit.rs
Due: rust

feat: first implementation for inference
  libs/@local/hashql/core/src/type/environment/infer.rs
  libs/@local/hashql/hir/src/lower/inference.rs
  libs/@local/hashql/hir/src/lower/mod.rs
  libs/@local/hashql/hir/src/node/closure.rs
Due: rust

chore: clippy
  libs/@local/hashql/core/src/type/environment/infer.rs
Due: rust

feat: remove unused inference variables
  libs/@local/hashql/hir/src/lower/inference.rs
Due: rust

feat: inference
  libs/@local/hashql/compiletest/src/suite/hir_lower_inference.rs
  libs/@local/hashql/compiletest/src/suite/mod.rs
  libs/@local/hashql/hir/src/lower/inference.rs
  libs/@local/hashql/hir/src/visit.rs
  libs/@local/hashql/hir/tests/ui/lower/inference/.spec.toml
Due: rust, toml

chore: more inference tests
  libs/@local/hashql/hir/src/lower/inference.rs
  libs/@local/hashql/hir/src/node/closure.rs
  libs/@local/hashql/hir/tests/ui/lower/inference/closure-constrained.jsonc
  libs/@local/hashql/hir/tests/ui/lower/inference/closure-constrained.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/closure-integer.jsonc
  libs/@local/hashql/hir/tests/ui/lower/inference/closure-integer.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/closure-unconstrained.jsonc
  libs/@local/hashql/hir/tests/ui/lower/inference/closure-unconstrained.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/closure.stderr
Due: rust

chore: type docs
  libs/@local/hashql/hir/tests/ui/lower/inference/closure-unconstrained.jsonc
Due: none

chore: more docs
  libs/@local/hashql/hir/tests/ui/lower/inference/closure-unconstrained.jsonc
Due: none

chore: `Inference` -> `TypeInference`
  libs/@local/hashql/compiletest/src/suite/hir_lower_inference.rs
  libs/@local/hashql/hir/src/lower/inference.rs
Due: rust

feat: a
  libs/@local/hashql/hir/tests/ui/lower/inference/closure-call-unconstrained.jsonc
  libs/@local/hashql/hir/tests/ui/lower/inference/closure-call-unconstrained.stderr
Due: none

chore: remove stderr
  libs/@local/hashql/hir/tests/ui/lower/inference/closure-call-unconstrained.stderr
Due: none

feat: implicitely discharge `Unknown` for constraint
  libs/@local/hashql/core/src/type/environment/analysis.rs
  libs/@local/hashql/core/src/type/kind/generic/mod.rs
  libs/@local/hashql/core/src/type/kind/mod.rs
  libs/@local/hashql/hir/src/lower/inference.rs
  libs/@local/hashql/hir/tests/ui/lower/inference/closure-call-unconstrained.jsonc
  libs/@local/hashql/hir/tests/ui/lower/inference/closure-call-unconstrained.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/closure-unconstrained.stdout
Due: rust

chore: fix typo
  libs/@local/hashql/core/src/pretty/mod.rs
Due: rust

Make dyn Context the default
  libs/error-stack/src/report.rs
Due: rust

feat: implement is_equivalent
  libs/@local/hashql/core/src/type/kind/closure.rs
Due: rust
