Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

markdownlint:
  tags:
  - frontend
  - style
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

biome:
  tags:
  - frontend
  - style
  run: biome format --write --staged || true
  stage_fixed: true

yarn:
  tags:
  - frontend
  - style
  run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
  stage_fixed: true

sqlfluff:
  tags:
  - backend
  - style
  run: sqlfluff fix {staged_files} || true
  stage_fixed: true

rust:
  tags:
  - backend
  - style
  run: rustfmt {staged_files} || true
  stage_fixed: true

toml:
  tags:
  - backend
  - style
  run: taplo format {staged_files} || true
  stage_fixed: true

Admit Voice submission through the panel's Flue transport
  libs/@hashintel/brunch-agent/MISSION.md
Due: markdownlint, biome

Wire the Petrinaut panel to the Flue route
  apps/brunch-agent/petrinaut-local.vite.config.ts
  apps/brunch-agent/src/http/local-origins.ts
  apps/brunch-agent/test/local-dev-origins.test.ts
  apps/petrinaut-website/package.json
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-panel-transport.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-panel-transport.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/use-flue-chat-history.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/use-flue-chat-history.ts
  yarn.lock
Due: biome, yarn

Fix Mission 5 verification blockers
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  libs/@hashintel/brunch-agent/MISSION.md
Due: markdownlint, biome

Complete the Voice lifecycle over Flue
  .changeset/durable-brunch-stop.md
  apps/brunch-agent/src/conversation/identity.ts
  apps/brunch-agent/test/petrinaut-chat.integration.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-panel-transport.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-panel-transport.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/use-flue-chat-history.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/use-flue-chat-history.ts
  apps/petrinaut-website/src/main/app/voice-interview/canonical-speech.ts
  apps/petrinaut-website/src/main/app/voice-interview/realtime-brunch-bridge.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/realtime-brunch-bridge.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-control.tsx
  apps/petrinaut-website/src/main/app/voice-interview/voice-preview.integration.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-turn-controller.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/.oxlintrc.json
  libs/@hashintel/brunch-agent/packages/transport-aisdk/src/index.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/src/ui-stream.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/test/chat-transport.test.ts
  libs/@hashintel/petrinaut/src/main.ts
  libs/@hashintel/petrinaut/src/ui/index.ts
  libs/@hashintel/petrinaut/src/ui/petrinaut.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
Due: markdownlint, biome

Document the unified Brunch conversation lifecycle
  apps/brunch-agent/README.md
  apps/brunch-agent/petrinaut-local.vite.config.ts
  apps/brunch-agent/src/diagnostics/transcript-cli.ts
  apps/brunch-agent/turbo.json
  apps/petrinaut-website/README.md
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/MISSION.next.md
  libs/@hashintel/brunch-agent/docs/evidence/implementations/mission-5-direct-voice-flue/README.md
  libs/@hashintel/petrinaut/docs/ai-assistant.md
Due: markdownlint, biome

Record Mission 5 review verification
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/docs/evidence/implementations/mission-5-direct-voice-flue/README.md
Due: markdownlint, biome

Remove the legacy Petrinaut chat route
  apps/brunch-agent/package.json
  apps/brunch-agent/src/app.ts
  apps/brunch-agent/src/conversation/client-tools.ts
  apps/brunch-agent/src/conversation/identity-web.ts
  apps/brunch-agent/src/conversation/identity.ts
  apps/brunch-agent/src/conversation/payload.ts
  apps/brunch-agent/src/conversation/transcript.ts
  apps/brunch-agent/src/conversation/ui-stream.ts
  apps/brunch-agent/src/http/ownership.ts
  apps/brunch-agent/src/http/petrinaut-chat.ts
  apps/brunch-agent/src/http/routes.ts
  apps/brunch-agent/src/ui/chat.tsx
  apps/brunch-agent/test/agent-ownership.test.ts
  apps/brunch-agent/test/architecture/boundaries.integration.ts
  apps/brunch-agent/test/build-artifact.test.ts
  apps/brunch-agent/test/conversation-identity.test.ts
  apps/brunch-agent/test/flue-transcript.test.ts
  apps/brunch-agent/test/flue-ui-stream.test.ts
  apps/brunch-agent/test/petrinaut-chat-result.ts
  apps/brunch-agent/test/petrinaut-chat.integration.ts
  apps/brunch-agent/test/petrinaut-chat.test.ts
Due: biome, yarn

Record Voice latency from Flue admission
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-panel-transport.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-panel-transport.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/src/main/app/voice-interview/realtime-brunch-bridge.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/realtime-brunch-bridge.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-control.tsx
  apps/petrinaut-website/src/main/app/voice-interview/voice-preview.integration.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-turn-controller.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-turn-controller.ts
Due: biome

Harden Mission 5 review fixes for hydration, TTS, and Clear
  .changeset/durable-brunch-stop.md
  apps/brunch-agent/README.md
  apps/brunch-agent/src/conversation/identity.ts
  apps/brunch-agent/src/http/ownership.ts
  apps/brunch-agent/src/ui/chat.tsx
  apps/brunch-agent/test/conversation-identity.test.ts
  apps/brunch-agent/test/petrinaut-chat.integration.ts
  apps/petrinaut-website/README.md
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-panel-transport.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-panel-transport.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/use-flue-chat-history.ts
  apps/petrinaut-website/src/main/app/voice-interview/openai-realtime-session.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/openai-realtime-session.ts
  apps/petrinaut-website/src/main/app/voice-interview/realtime-brunch-bridge.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/realtime-brunch-bridge.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-control.tsx
  apps/petrinaut-website/src/main/app/voice-interview/voice-preview.integration.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-turn-controller.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-turn-controller.ts
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/docs/evidence/implementations/mission-5-direct-voice-flue/README.md
  libs/@hashintel/brunch-agent/packages/transport-aisdk/src/client-tool-result.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/src/identity.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/src/index.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/src/transcript.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/test/chat-transport.test.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/test/transcript.test.ts
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/src/ui/petrinaut.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
Due: markdownlint, biome

Align Brunch integration references with the Flue route
  libs/@hashintel/brunch-agent/docs/evidence/implementations/mission-5-direct-voice-flue/README.md
  libs/@hashintel/brunch-agent/docs/reference/architecture/topology.md
  libs/@hashintel/brunch-agent/docs/specs/petrinaut-integration.md
Due: markdownlint, biome

Refresh Mission 5 evidence after admission timing
  libs/@hashintel/brunch-agent/docs/evidence/implementations/mission-5-direct-voice-flue/README.md
Due: markdownlint, biome

Wait for Flue admission before accepting Voice tool results
  apps/petrinaut-website/src/main/app/voice-interview/realtime-brunch-bridge.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-control.test.tsx
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-control.tsx
Due: biome

Format conversation identity sources
  apps/brunch-agent/src/conversation/identity.ts
  apps/brunch-agent/test/conversation-identity.test.ts
Due: biome

Refresh Mission 5 evidence for Voice tool admission
  libs/@hashintel/brunch-agent/docs/evidence/implementations/mission-5-direct-voice-flue/README.md
Due: markdownlint, biome

Correlate Stop with its Flue submission and align the two conversation projections
  .changeset/voice-input-withdrawal-and-stop-correlation.md
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-client-tools.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-panel-transport.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-panel-transport.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/use-flue-chat-history.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/use-flue-chat-history.ts
  apps/petrinaut-website/src/main/app/voice-interview/openai-realtime-session.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/openai-realtime-session.ts
  apps/petrinaut-website/src/main/app/voice-interview/realtime-brunch-bridge.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/realtime-brunch-bridge.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-control.tsx
  apps/petrinaut-website/src/main/app/voice-interview/voice-preview.integration.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-turn-controller.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-turn-controller.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/src/index.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/src/transcript.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/test/chat-transport.test.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/test/transcript.test.ts
  libs/@hashintel/petrinaut/src/ui/types/ai-assistant-composer-control.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
Due: markdownlint, biome

Carry Voice resume defects into Mission 6
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/MISSION.next.md
  libs/@hashintel/brunch-agent/docs/evidence/implementations/mission-5-direct-voice-flue/README.md
  libs/@hashintel/brunch-agent/docs/mission-drafts/6-resumable-workpiece-petrinaut-fixture.md
Due: markdownlint, biome

Pin the Mission 5 witness to the current implementation
  libs/@hashintel/brunch-agent/docs/evidence/implementations/mission-5-direct-voice-flue/README.md
Due: markdownlint, biome

Preserve Petrinaut Voice APIs in the Brunch preview
  apps/brunch-agent/petrinaut-local.vite.config.ts
Due: biome

Correlate Voice replies by every submission that wrote a message
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-panel-transport.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-panel-transport.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/src/main/app/voice-interview/canonical-speech.ts
  apps/petrinaut-website/src/main/app/voice-interview/realtime-brunch-bridge.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/realtime-brunch-bridge.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-control.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
Due: biome

Pin the Mission 5 witness to the Voice preview fix
  libs/@hashintel/brunch-agent/docs/evidence/implementations/mission-5-direct-voice-flue/README.md
Due: markdownlint, biome

Add multiple option to select
  libs/@hashintel/ds-components/src/components/Select/multi-select.stories.tsx
  libs/@hashintel/ds-components/src/components/Select/select.stories.tsx
  libs/@hashintel/ds-components/src/components/Select/select.tsx
  libs/@hashintel/ds-components/src/main.ts
Due: biome

Add showOnlyButton to multi-select
  libs/@hashintel/ds-components/src/components/Select/multi-select.stories.tsx
  libs/@hashintel/ds-components/src/components/Select/select.tsx
Due: biome

Better select clearable states
  libs/@hashintel/ds-components/src/components/Select/select.recipe.ts
Due: biome

Add searchable prop to Select
  libs/@hashintel/ds-components/src/components/Filter/sort-menu.recipe.ts
  libs/@hashintel/ds-components/src/components/Filter/sort-menu.tsx
  libs/@hashintel/ds-components/src/components/Menu/SelectableList/selectable-list-search.recipe.ts
  libs/@hashintel/ds-components/src/components/Menu/SelectableList/selectable-list-search.tsx
  libs/@hashintel/ds-components/src/components/Menu/SelectableList/selectable-list.recipe.ts
  libs/@hashintel/ds-components/src/components/Menu/SelectableList/selectable-list.tsx
  libs/@hashintel/ds-components/src/components/Select/multi-select.stories.tsx
  libs/@hashintel/ds-components/src/components/Select/select.stories.tsx
  libs/@hashintel/ds-components/src/components/Select/select.tsx
Due: biome

Add only button to multi select item
  libs/@hashintel/ds-components/src/components/Select/multi-select.stories.tsx
  libs/@hashintel/ds-components/src/components/Select/select.recipe.ts
  libs/@hashintel/ds-components/src/components/Select/select.tsx
Due: biome

Fix maxItems on search
  libs/@hashintel/ds-components/src/components/Select/multi-select.stories.tsx
  libs/@hashintel/ds-components/src/components/Select/select.tsx
Due: biome

Better handling of async search
  libs/@hashintel/ds-components/src/components/Select/select.tsx
Due: biome

Adjust multi select highlight options
  libs/@hashintel/ds-components/src/components/Select/multi-select.stories.tsx
  libs/@hashintel/ds-components/src/components/Select/select.recipe.ts
  libs/@hashintel/ds-components/src/components/Select/select.tsx
Due: biome

Remove screenshot
  sort-menu-stories-reorg.png
Due: none

Replace the Graphite CI optimizer with GitHub's stack metadata
  .github/workflows/bench.yml
  .github/workflows/test.yml
Due: biome

Describe the brunch-agent branch workflow with Git and `gh stack`
  libs/@hashintel/brunch-agent/AGENTS.md
  libs/@hashintel/brunch-agent/docs/agents/git-workflow.md
Due: markdownlint, biome

SRE-1036: Bump browserslist, fast-uri, postcss-selector-parser, @humanfs/node, @xmldom/xmldom past this week's advisories
  package.json
  yarn.lock
Due: biome

Format the `passed` job's needs list
  .github/workflows/test.yml
Due: biome

Adjust offstate colors
  libs/@hashintel/ds-components/src/components/Toggle/toggle.recipe.ts
Due: biome

Authorize Voice safety on the unified Flue route
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/docs/evidence/implementations/mission-5-voice-safety-parity/donor-behavior-matrix.md
Due: markdownlint, biome

Pin unified Voice safety behavior
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-panel-transport.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/canonical-speech.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/openai-realtime-session.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/realtime-brunch-bridge.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-preview.integration.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-session-state.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-turn-controller.test.ts
  apps/petrinaut-website/src/server/voice/openai-realtime-call.test.ts
  apps/petrinaut-website/src/server/voice/openai-voice-policy.test.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/test/chat-transport.test.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/test/transcript.test.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.test.tsx
Due: biome

Harden Voice turns on the unified Flue route
  .changeset/flue-voice-safety.md
  apps/petrinaut-website/README.md
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/src/main/app/voice-interview/canonical-speech.ts
  apps/petrinaut-website/src/main/app/voice-interview/openai-realtime-session.ts
  apps/petrinaut-website/src/main/app/voice-interview/realtime-brunch-bridge.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-control.tsx
  apps/petrinaut-website/src/main/app/voice-interview/voice-session-state.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-turn-controller.ts
  apps/petrinaut-website/src/server/voice/openai-voice-policy.ts
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/docs/evidence/implementations/mission-5-voice-safety-parity/donor-behavior-matrix.md
  libs/@hashintel/brunch-agent/docs/evidence/implementations/mission-5-voice-safety-parity/provenance-blocker.md
  libs/@hashintel/brunch-agent/docs/evidence/implementations/mission-5-voice-safety-parity/witness-blocker.md
  libs/@hashintel/brunch-agent/packages/transport-aisdk/src/index.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/src/transcript.ts
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/src/react/voice-session/store.ts
  libs/@hashintel/petrinaut/src/react/voice-session/types.ts
  libs/@hashintel/petrinaut/src/react/voice-session/use-voice-session.ts
  libs/@hashintel/petrinaut/src/ui/types/ai-assistant-composer-control.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/voice-session-labels.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/tool-list.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/voice-dock.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/voice-dock/playback-menu.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/types.ts
Due: markdownlint, biome

Reject transcripts completed after output starts
  apps/petrinaut-website/src/main/app/voice-interview/openai-realtime-session.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/openai-realtime-session.ts
  apps/petrinaut-website/src/main/app/voice-interview/realtime-brunch-bridge.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/realtime-brunch-bridge.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-preview.integration.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-turn-controller.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-turn-controller.ts
Due: biome

Preserve Flue admission outcomes in Voice mode
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-panel-transport.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-panel-transport.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/src/main/app/voice-interview/realtime-brunch-bridge.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/realtime-brunch-bridge.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-control.test.tsx
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-control.tsx
  apps/petrinaut-website/src/main/app/voice-interview/voice-preview.integration.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-turn-controller.test.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/src/index.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/test/chat-transport.test.ts
Due: biome

Path conditions:
  markdownlint: any of: *.md
  biome: any of: *.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}
  yarn: any of: {*/package.json, package.json}
  sqlfluff: any of: *.sql
  rust: any of: *.rs
  toml: any of: *.toml
