Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, prettier, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: yarn run markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    prettier:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: yarn run prettier --write {staged_files} || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:packagejson && yarn fix:yarn-deduplicate
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: cargo fmt -- {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: yarn run taplo format {staged_files} || true
      stage_fixed: true

feat: rename
  libs/@local/hashql/compiletest/src/suite/mir_pass_transform_pre_inline.rs
  libs/@local/hashql/mir/benches/transform.rs
  libs/@local/hashql/mir/src/pass/transform/mod.rs
  libs/@local/hashql/mir/src/pass/transform/pre_inline.rs
Due: rust

fix: docs
  libs/@local/hashql/mir/src/pass/transform/pre_inline.rs
Due: rust

feat: rename
  libs/@local/hashql/compiletest/src/suite/mir_pass_transform_inline.rs
  libs/@local/hashql/compiletest/src/suite/mir_pass_transform_pre_inline.rs
  libs/@local/hashql/compiletest/src/suite/mod.rs
  libs/@local/hashql/mir/src/pass/transform/mod.rs
  libs/@local/hashql/mir/src/pass/transform/pre_inline.rs
  libs/@local/hashql/mir/tests/ui/pass/pre_inline/.spec.toml
  libs/@local/hashql/mir/tests/ui/pass/pre_inline/basic-constant-folding.jsonc
  libs/@local/hashql/mir/tests/ui/pass/pre_inline/basic-constant-folding.stdout
  libs/@local/hashql/mir/tests/ui/pass/pre_inline/chain-simplification.jsonc
  libs/@local/hashql/mir/tests/ui/pass/pre_inline/chain-simplification.stdout
  libs/@local/hashql/mir/tests/ui/pass/pre_inline/closure-with-dead-branch.jsonc
  libs/@local/hashql/mir/tests/ui/pass/pre_inline/closure-with-dead-branch.stdout
  libs/@local/hashql/mir/tests/ui/pass/pre_inline/dead-code-after-propagation.jsonc
  libs/@local/hashql/mir/tests/ui/pass/pre_inline/dead-code-after-propagation.stdout
  libs/@local/hashql/mir/tests/ui/pass/pre_inline/inst-simplify-with-propagation.jsonc
  libs/@local/hashql/mir/tests/ui/pass/pre_inline/inst-simplify-with-propagation.stdout
  libs/@local/hashql/mir/tests/ui/pass/pre_inline/nested-if-constant.jsonc
  libs/@local/hashql/mir/tests/ui/pass/pre_inline/nested-if-constant.stdout
  libs/@local/hashql/mir/tests/ui/pass/pre_inline/nested-let-cleanup.jsonc
  libs/@local/hashql/mir/tests/ui/pass/pre_inline/nested-let-cleanup.stdout
  libs/@local/hashql/mir/tests/ui/pass/pre_inline/thunk-with-dead-code.jsonc
  libs/@local/hashql/mir/tests/ui/pass/pre_inline/thunk-with-dead-code.stdout
  libs/@local/hashql/mir/tests/ui/pass/pre_inlining/.spec.toml
Due: rust, toml

BE-268: HashQL: Rename PreInlining to PreInline for consistency (#8238)
  libs/@local/hashql/compiletest/src/suite/mir_pass_transform_inline.rs
  libs/@local/hashql/compiletest/src/suite/mir_pass_transform_pre_inline.rs
  libs/@local/hashql/compiletest/src/suite/mod.rs
  libs/@local/hashql/mir/benches/transform.rs
  libs/@local/hashql/mir/src/pass/transform/mod.rs
  libs/@local/hashql/mir/src/pass/transform/pre_inline.rs
  libs/@local/hashql/mir/tests/ui/pass/pre_inline/.spec.toml
  libs/@local/hashql/mir/tests/ui/pass/pre_inline/basic-constant-folding.jsonc
  libs/@local/hashql/mir/tests/ui/pass/pre_inline/basic-constant-folding.stdout
  libs/@local/hashql/mir/tests/ui/pass/pre_inline/chain-simplification.jsonc
  libs/@local/hashql/mir/tests/ui/pass/pre_inline/chain-simplification.stdout
  libs/@local/hashql/mir/tests/ui/pass/pre_inline/closure-with-dead-branch.jsonc
  libs/@local/hashql/mir/tests/ui/pass/pre_inline/closure-with-dead-branch.stdout
  libs/@local/hashql/mir/tests/ui/pass/pre_inline/dead-code-after-propagation.jsonc
  libs/@local/hashql/mir/tests/ui/pass/pre_inline/dead-code-after-propagation.stdout
  libs/@local/hashql/mir/tests/ui/pass/pre_inline/inst-simplify-with-propagation.jsonc
  libs/@local/hashql/mir/tests/ui/pass/pre_inline/inst-simplify-with-propagation.stdout
  libs/@local/hashql/mir/tests/ui/pass/pre_inline/nested-if-constant.jsonc
  libs/@local/hashql/mir/tests/ui/pass/pre_inline/nested-if-constant.stdout
  libs/@local/hashql/mir/tests/ui/pass/pre_inline/nested-let-cleanup.jsonc
  libs/@local/hashql/mir/tests/ui/pass/pre_inline/nested-let-cleanup.stdout
  libs/@local/hashql/mir/tests/ui/pass/pre_inline/thunk-with-dead-code.jsonc
  libs/@local/hashql/mir/tests/ui/pass/pre_inline/thunk-with-dead-code.stdout
  libs/@local/hashql/mir/tests/ui/pass/pre_inlining/.spec.toml
Due: rust, toml

feat: move preinline to canon
  libs/@local/hashql/mir/package.json
  libs/@local/hashql/mir/src/pass/mod.rs
  libs/@local/hashql/mir/src/pass/transform/canonicalization.rs
  libs/@local/hashql/mir/src/pass/transform/mod.rs
  libs/@local/hashql/mir/src/pass/transform/pre_inline.rs
Due: prettier, yarn, rust

feat: re-queue on global pass
  libs/@local/hashql/mir/src/pass/transform/canonicalization.rs
Due: rust

feat: canon docs + pre-inline iteration adjustment
  libs/@local/hashql/mir/src/pass/mod.rs
  libs/@local/hashql/mir/src/pass/transform/canonicalization.rs
  libs/@local/hashql/mir/src/pass/transform/pre_inline.rs
Due: rust

BE-269: HashQL: Move PreInline out into Canonicalization pass (#8239)
  libs/@local/hashql/mir/package.json
  libs/@local/hashql/mir/src/pass/mod.rs
  libs/@local/hashql/mir/src/pass/transform/canonicalization.rs
  libs/@local/hashql/mir/src/pass/transform/mod.rs
  libs/@local/hashql/mir/src/pass/transform/pre_inline.rs
Due: prettier, yarn, rust

feat: ensure that `is_leaf` propagates
  Cargo.lock
  libs/@local/hashql/core/src/id/vec.rs
  libs/@local/hashql/mir/Cargo.toml
  libs/@local/hashql/mir/src/pass/analysis/callgraph/mod.rs
  libs/@local/hashql/mir/src/pass/transform/inline/analysis.rs
  libs/@local/hashql/mir/src/pass/transform/inline/find.rs
  libs/@local/hashql/mir/src/pass/transform/inline/heuristics.rs
  libs/@local/hashql/mir/src/pass/transform/inline/mod.rs
  libs/@local/hashql/mir/src/pass/transform/inline/tests.rs
  libs/@local/hashql/mir/tests/ui/pass/inline/heuristic-inline.stdout
  libs/@local/hashql/mir/tests/ui/pass/inline/inline_recursive_not_inlined.snap
  libs/@local/hashql/mir/tests/ui/pass/post_inline/showcase.aux.svg
  libs/@local/hashql/mir/tests/ui/pass/post_inline/showcase.stdout
Due: rust, toml

chore: remove tracing dep
  Cargo.lock
  libs/@local/hashql/mir/Cargo.toml
Due: toml

feat: tests
  libs/@local/hashql/compiletest/src/suite/mir_pass_transform_post_inline.rs
  libs/@local/hashql/compiletest/src/suite/mod.rs
  libs/@local/hashql/mir/src/pass/transform/mod.rs
  libs/@local/hashql/mir/src/pass/transform/post_inline.rs
  libs/@local/hashql/mir/tests/ui/pass/post_inline/.spec.toml
  libs/@local/hashql/mir/tests/ui/pass/post_inline/cascading-simplification.jsonc
  libs/@local/hashql/mir/tests/ui/pass/post_inline/cascading-simplification.stdout
  libs/@local/hashql/mir/tests/ui/pass/post_inline/closure-env-cleanup.jsonc
  libs/@local/hashql/mir/tests/ui/pass/post_inline/closure-env-cleanup.stdout
  libs/@local/hashql/mir/tests/ui/pass/post_inline/constant-propagation-after-inline.jsonc
  libs/@local/hashql/mir/tests/ui/pass/post_inline/constant-propagation-after-inline.stdout
  libs/@local/hashql/mir/tests/ui/pass/post_inline/dead-code-from-inline.jsonc
  libs/@local/hashql/mir/tests/ui/pass/post_inline/dead-code-from-inline.stdout
  libs/@local/hashql/mir/tests/ui/pass/post_inline/nested-branch-elimination.jsonc
  libs/@local/hashql/mir/tests/ui/pass/post_inline/nested-branch-elimination.stdout
  libs/@local/hashql/mir/tests/ui/pass/post_inline/showcase.aux.svg
  libs/@local/hashql/mir/tests/ui/pass/post_inline/showcase.jsonc
  libs/@local/hashql/mir/tests/ui/pass/post_inline/showcase.stdout
Due: rust, toml

chore: remove tracing mention
  libs/@local/hashql/mir/src/pass/transform/inline/mod.rs
Due: rust

feat: add pipeline to benchmark
  libs/@local/hashql/mir/benches/transform.rs
Due: rust

feat: create new inlineable cfg benchmark
  libs/@local/hashql/mir/benches/transform.rs
  libs/@local/hashql/mir/src/pass/analysis/callgraph/mod.rs
Due: rust

chore: format
  libs/@local/hashql/mir/tests/ui/pass/post_inline/cascading-simplification.jsonc
  libs/@local/hashql/mir/tests/ui/pass/post_inline/closure-env-cleanup.jsonc
Due: none

BE-271: HashQL: Implement `PostInline` pass (#8240)
  libs/@local/hashql/compiletest/src/suite/mir_pass_transform_post_inline.rs
  libs/@local/hashql/compiletest/src/suite/mod.rs
  libs/@local/hashql/core/src/id/vec.rs
  libs/@local/hashql/mir/benches/transform.rs
  libs/@local/hashql/mir/src/pass/analysis/callgraph/mod.rs
  libs/@local/hashql/mir/src/pass/transform/inline/analysis.rs
  libs/@local/hashql/mir/src/pass/transform/inline/find.rs
  libs/@local/hashql/mir/src/pass/transform/inline/heuristics.rs
  libs/@local/hashql/mir/src/pass/transform/inline/mod.rs
  libs/@local/hashql/mir/src/pass/transform/inline/tests.rs
  libs/@local/hashql/mir/src/pass/transform/mod.rs
  libs/@local/hashql/mir/src/pass/transform/post_inline.rs
  libs/@local/hashql/mir/tests/ui/pass/inline/heuristic-inline.stdout
  libs/@local/hashql/mir/tests/ui/pass/inline/inline_recursive_not_inlined.snap
  libs/@local/hashql/mir/tests/ui/pass/post_inline/.spec.toml
  libs/@local/hashql/mir/tests/ui/pass/post_inline/cascading-simplification.jsonc
  libs/@local/hashql/mir/tests/ui/pass/post_inline/cascading-simplification.stdout
  libs/@local/hashql/mir/tests/ui/pass/post_inline/closure-env-cleanup.jsonc
  libs/@local/hashql/mir/tests/ui/pass/post_inline/closure-env-cleanup.stdout
  libs/@local/hashql/mir/tests/ui/pass/post_inline/constant-propagation-after-inline.jsonc
  libs/@local/hashql/mir/tests/ui/pass/post_inline/constant-propagation-after-inline.stdout
  libs/@local/hashql/mir/tests/ui/pass/post_inline/dead-code-from-inline.jsonc
  libs/@local/hashql/mir/tests/ui/pass/post_inline/dead-code-from-inline.stdout
  libs/@local/hashql/mir/tests/ui/pass/post_inline/nested-branch-elimination.jsonc
  libs/@local/hashql/mir/tests/ui/pass/post_inline/nested-branch-elimination.stdout
  libs/@local/hashql/mir/tests/ui/pass/post_inline/showcase.aux.svg
  libs/@local/hashql/mir/tests/ui/pass/post_inline/showcase.jsonc
  libs/@local/hashql/mir/tests/ui/pass/post_inline/showcase.stdout
Due: rust, toml

feat: interpret value (WIP)
  libs/@local/hashql/core/src/intern/set.rs
  libs/@local/hashql/core/src/type/environment/mod.rs
  libs/@local/hashql/mir/src/interpret/mod.rs
  libs/@local/hashql/mir/src/interpret/value/mod.rs
  libs/@local/hashql/mir/src/lib.rs
Due: rust

feat: value enum
  Cargo.lock
  apps/hash-ai-agent/src/mastra/fixtures/entity-schemas/organization.bundled.json
  apps/hash-ai-agent/src/mastra/fixtures/entity-schemas/organization.dereferenced.json
  apps/hash-ai-agent/src/mastra/fixtures/entity-schemas/person.bundled.json
  apps/hash-ai-agent/src/mastra/fixtures/entity-schemas/person.dereferenced.json
  libs/@local/hashql/mir/Cargo.toml
  libs/@local/hashql/mir/src/interpret/value/mod.rs
Due: prettier, rust, toml

feat: value impl split
  libs/@local/hashql/mir/src/interpret/value/dict.rs
  libs/@local/hashql/mir/src/interpret/value/list.rs
  libs/@local/hashql/mir/src/interpret/value/mod.rs
  libs/@local/hashql/mir/src/interpret/value/num.rs
  libs/@local/hashql/mir/src/interpret/value/opaque.rs
  libs/@local/hashql/mir/src/interpret/value/ptr.rs
  libs/@local/hashql/mir/src/interpret/value/str.rs
  libs/@local/hashql/mir/src/interpret/value/struct.rs
  libs/@local/hashql/mir/src/interpret/value/tuple.rs
Due: rust

feat: value impl
  libs/@local/hashql/mir/src/body/constant/int.rs
  libs/@local/hashql/mir/src/interpret/value/mod.rs
  libs/@local/hashql/mir/src/pass/transform/cfg_simplify/mod.rs
Due: rust

feat: API cleanup
  libs/@local/hashql/mir/src/interpret/value/dict.rs
  libs/@local/hashql/mir/src/interpret/value/list.rs
  libs/@local/hashql/mir/src/interpret/value/num.rs
  libs/@local/hashql/mir/src/interpret/value/opaque.rs
  libs/@local/hashql/mir/src/interpret/value/ptr.rs
  libs/@local/hashql/mir/src/interpret/value/str.rs
  libs/@local/hashql/mir/src/interpret/value/struct.rs
  libs/@local/hashql/mir/src/interpret/value/tuple.rs
Due: rust

feat: runtime v0
  libs/@local/hashql/mir/src/body/place.rs
  libs/@local/hashql/mir/src/interpret/mod.rs
Due: rust

feat: runtime
  libs/@local/hashql/mir/src/interpret/mod.rs
  libs/@local/hashql/mir/src/interpret/value/dict.rs
  libs/@local/hashql/mir/src/interpret/value/list.rs
  libs/@local/hashql/mir/src/interpret/value/mod.rs
Due: rust

feat: runtime checkpoint
  libs/@local/hashql/mir/src/interpret/error.rs
  libs/@local/hashql/mir/src/interpret/locals.rs
  libs/@local/hashql/mir/src/interpret/mod.rs
  libs/@local/hashql/mir/src/interpret/runtime.rs
  libs/@local/hashql/mir/src/interpret/value/mod.rs
  libs/@local/hashql/mir/src/interpret/value/str.rs
  libs/@local/hashql/mir/src/lib.rs
Due: rust

feat: restructure value to have dedicated ref type
  libs/@local/hashql/mir/src/interpret/error.rs
  libs/@local/hashql/mir/src/interpret/mod.rs
  libs/@local/hashql/mir/src/interpret/runtime.rs
  libs/@local/hashql/mir/src/interpret/value/dict.rs
  libs/@local/hashql/mir/src/interpret/value/list.rs
  libs/@local/hashql/mir/src/interpret/value/mod.rs
  libs/@local/hashql/mir/src/interpret/value/opaque.rs
  libs/@local/hashql/mir/src/interpret/value/str.rs
  libs/@local/hashql/mir/src/interpret/value/struct.rs
  libs/@local/hashql/mir/src/interpret/value/tuple.rs
Due: rust

feat: allocator api support for value tree
  libs/@local/hashql/mir/src/interpret/error.rs
  libs/@local/hashql/mir/src/interpret/value/dict.rs
  libs/@local/hashql/mir/src/interpret/value/list.rs
  libs/@local/hashql/mir/src/interpret/value/mod.rs
  libs/@local/hashql/mir/src/interpret/value/opaque.rs
  libs/@local/hashql/mir/src/interpret/value/struct.rs
  libs/@local/hashql/mir/src/interpret/value/tuple.rs
Due: rust

feat: checkpoint
  libs/@local/hashql/mir/src/interpret/error.rs
  libs/@local/hashql/mir/src/interpret/mod.rs
  libs/@local/hashql/mir/src/interpret/runtime.rs
  libs/@local/hashql/mir/src/interpret/value/dict.rs
  libs/@local/hashql/mir/src/interpret/value/list.rs
  libs/@local/hashql/mir/src/interpret/value/mod.rs
  libs/@local/hashql/mir/src/interpret/value/opaque.rs
  libs/@local/hashql/mir/src/interpret/value/str.rs
  libs/@local/hashql/mir/src/interpret/value/struct.rs
  libs/@local/hashql/mir/src/interpret/value/tuple.rs
Due: rust

chore: implement the reverse
  libs/@local/hashql/mir/src/interpret/value/num.rs
Due: rust

chore: docs
  libs/@local/hashql/mir/src/interpret/value/num.rs
Due: rust

feat: eval runtime
  libs/@local/hashql/mir/src/interpret/error.rs
  libs/@local/hashql/mir/src/interpret/locals.rs
  libs/@local/hashql/mir/src/interpret/runtime.rs
  libs/@local/hashql/mir/src/interpret/value/dict.rs
  libs/@local/hashql/mir/src/interpret/value/list.rs
  libs/@local/hashql/mir/src/interpret/value/mod.rs
  libs/@local/hashql/mir/src/interpret/value/num.rs
  libs/@local/hashql/mir/src/interpret/value/struct.rs
  libs/@local/hashql/mir/src/interpret/value/tuple.rs
Due: rust

feat: int comparison to num
  libs/@local/hashql/mir/src/interpret/value/mod.rs
  libs/@local/hashql/mir/src/interpret/value/num.rs
Due: rust

feat: implement num comparison
  libs/@local/hashql/mir/src/body/constant/int.rs
  libs/@local/hashql/mir/src/interpret/runtime.rs
  libs/@local/hashql/mir/src/interpret/value/mod.rs
  libs/@local/hashql/mir/src/interpret/value/num.rs
  libs/@local/hashql/mir/src/lib.rs
  libs/@local/hashql/mir/src/macros.rs
Due: rust

fix: docs
  Cargo.lock
  libs/@local/hashql/mir/Cargo.toml
  libs/@local/hashql/mir/src/interpret/error.rs
  libs/@local/hashql/mir/src/interpret/locals.rs
  libs/@local/hashql/mir/src/interpret/mod.rs
  libs/@local/hashql/mir/src/interpret/runtime.rs
  libs/@local/hashql/mir/src/interpret/value/num.rs
  libs/@local/hashql/mir/src/interpret/value/str.rs
  libs/@local/hashql/mir/src/lib.rs
Due: rust, toml

fix: docs
  libs/@local/hashql/mir/src/interpret/error.rs
  libs/@local/hashql/mir/src/interpret/locals.rs
  libs/@local/hashql/mir/src/interpret/runtime.rs
  libs/@local/hashql/mir/src/lib.rs
Due: rust

test: locals unsafe code
  libs/@local/hashql/mir/package.json
  libs/@local/hashql/mir/src/interpret/locals.rs
  libs/@local/hashql/mir/src/lib.rs
Due: prettier, yarn, rust

feat: make errors clearer
  libs/@local/hashql/mir/src/interpret/error.rs
  libs/@local/hashql/mir/src/interpret/locals.rs
  libs/@local/hashql/mir/src/interpret/runtime.rs
  libs/@local/hashql/mir/src/interpret/value/mod.rs
Due: rust

feat: diagnostics
  libs/@local/hashql/core/src/id/mod.rs
  libs/@local/hashql/mir/src/body/basic_block.rs
  libs/@local/hashql/mir/src/body/local.rs
  libs/@local/hashql/mir/src/body/location.rs
  libs/@local/hashql/mir/src/body/place.rs
  libs/@local/hashql/mir/src/interpret/error.rs
  libs/@local/hashql/mir/src/interpret/runtime.rs
  libs/@local/hashql/mir/src/interpret/value/mod.rs
  libs/@local/hashql/mir/src/interpret/value/ptr.rs
  libs/@local/hashql/mir/src/pass/analysis/data_dependency/graph.rs
  libs/@local/hashql/mir/src/pass/analysis/dataflow/liveness/tests.rs
  libs/@local/hashql/mir/src/pretty/d2.rs
  libs/@local/hashql/mir/src/pretty/text.rs
Due: rust

chore: docs
  libs/@local/hashql/mir/src/interpret/runtime.rs
  libs/@local/hashql/mir/src/interpret/value/mod.rs
Due: rust

feat: tests
  libs/@local/hashql/mir/src/builder/mod.rs
  libs/@local/hashql/mir/src/interpret/locals.rs
  libs/@local/hashql/mir/src/interpret/mod.rs
  libs/@local/hashql/mir/src/interpret/tests.rs
  libs/@local/hashql/mir/src/interpret/value/num.rs
Due: rust

chore: docs
  libs/@local/hashql/mir/src/interpret/error.rs
  libs/@local/hashql/mir/src/interpret/locals.rs
  libs/@local/hashql/mir/src/interpret/mod.rs
  libs/@local/hashql/mir/src/interpret/runtime.rs
  libs/@local/hashql/mir/src/interpret/value/dict.rs
  libs/@local/hashql/mir/src/interpret/value/list.rs
  libs/@local/hashql/mir/src/interpret/value/mod.rs
  libs/@local/hashql/mir/src/interpret/value/opaque.rs
  libs/@local/hashql/mir/src/interpret/value/struct.rs
  libs/@local/hashql/mir/src/interpret/value/tuple.rs
Due: rust
