Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

markdownlint:
  tags:
  - frontend
  - style
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

biome:
  tags:
  - frontend
  - style
  run: biome format --write --staged || true
  stage_fixed: true

yarn:
  tags:
  - frontend
  - style
  run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
  stage_fixed: true

sqlfluff:
  tags:
  - backend
  - style
  run: sqlfluff fix {staged_files} || true
  stage_fixed: true

rust:
  tags:
  - backend
  - style
  run: rustfmt {staged_files} || true
  stage_fixed: true

toml:
  tags:
  - backend
  - style
  run: taplo format {staged_files} || true
  stage_fixed: true

Track running Monte Carlo experiments
  libs/@hashintel/petrinaut/src/react/experiments/context.ts
  libs/@hashintel/petrinaut/src/react/experiments/provider.test.tsx
  libs/@hashintel/petrinaut/src/react/experiments/provider.tsx
  libs/@hashintel/petrinaut/src/react/hooks/use-block-window-close.ts
  libs/@hashintel/petrinaut/src/react/index.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/TopBar/running-experiments-popover.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/TopBar/top-bar.tsx
Due: biome

Navigate to running experiments from popover
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/TopBar/running-experiments-popover.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/experiments-view.tsx
Due: biome

Refactor Simulate views and experiments UI
  libs/@hashintel/petrinaut/src/ui/components/popover.tsx
  libs/@hashintel/petrinaut/src/ui/components/table.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/TopBar/running-experiments-popover.stories.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/TopBar/running-experiments-popover.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/TopBar/top-bar.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/simulation-settings.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/simulation-timeline.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/simulation-timeline/header.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/drawer-error-display.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/create-experiment-drawer.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/experiment-timeline.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/experiments-story-fixtures.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/experiments-view.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/view-experiment-drawer.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/metrics/create-metric-drawer.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/metrics/metric-form-defaults.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/metrics/metric-form.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/metrics/metric-lsp.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/metrics/metric-mapping.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/metrics/metrics-view.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/metrics/view-metric-drawer.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/scenarios/create-scenario-drawer.stories.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/scenarios/create-scenario-drawer.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/scenarios/scenario-form-defaults.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/scenarios/scenario-form.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/scenarios/scenario-lsp.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/scenarios/scenario-mapping.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/scenarios/scenarios-view.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/scenarios/view-scenario-drawer.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/simulate-subview-frame.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/simulate-view.stories.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/simulate-view.tsx
Due: biome

Use Ark UI for Petrinaut notifications
  libs/@hashintel/petrinaut/src/react/experiments/provider.test.tsx
  libs/@hashintel/petrinaut/src/react/notifications/context.ts
  libs/@hashintel/petrinaut/src/react/notifications/provider.tsx
  libs/@hashintel/petrinaut/src/react/notifications/toaster.tsx
Due: biome

Centralize Petrinaut notifications
  libs/@hashintel/petrinaut/src/react/experiments/provider.test.tsx
  libs/@hashintel/petrinaut/src/react/experiments/provider.tsx
  libs/@hashintel/petrinaut/src/react/index.ts
  libs/@hashintel/petrinaut/src/react/notifications/context.ts
  libs/@hashintel/petrinaut/src/react/notifications/provider.tsx
  libs/@hashintel/petrinaut/src/react/notifications/toaster.tsx
  libs/@hashintel/petrinaut/src/react/petrinaut-provider.tsx
  libs/@hashintel/petrinaut/src/react/simulation/provider.tsx
Due: biome

Notify when experiments finish
  libs/@hashintel/petrinaut/src/react/experiments/provider.test.tsx
  libs/@hashintel/petrinaut/src/react/experiments/provider.tsx
Due: biome

Address Petrinaut experiment review comments
  libs/@hashintel/petrinaut/src/ui/components/table.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/TopBar/running-experiments-popover.tsx
Due: biome

Make Petrinaut core types environment-agnostic
  libs/@hashintel/petrinaut-core/.oxlintrc.json
  libs/@hashintel/petrinaut-core/src/actions.test.ts
  libs/@hashintel/petrinaut-core/src/environment.ts
  libs/@hashintel/petrinaut-core/src/errors.ts
  libs/@hashintel/petrinaut-core/src/index.ts
  libs/@hashintel/petrinaut-core/src/lsp/index.ts
  libs/@hashintel/petrinaut-core/src/lsp/transport.ts
  libs/@hashintel/petrinaut-core/src/lsp/worker/create-language-server-worker.ts
  libs/@hashintel/petrinaut-core/src/lsp/worker/language-server.worker.ts
  libs/@hashintel/petrinaut-core/src/simulation/api.ts
  libs/@hashintel/petrinaut-core/src/simulation/index.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/index.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/runtime/experiment.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/worker/create-monte-carlo-worker.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/worker/monte-carlo.worker.ts
  libs/@hashintel/petrinaut-core/src/simulation/runtime/simulation.test.ts
  libs/@hashintel/petrinaut-core/src/simulation/runtime/simulation.ts
  libs/@hashintel/petrinaut-core/src/simulation/runtime/transport.ts
  libs/@hashintel/petrinaut-core/src/simulation/worker/create-simulation-worker.ts
  libs/@hashintel/petrinaut-core/src/simulation/worker/simulation.worker.test.ts
  libs/@hashintel/petrinaut-core/src/simulation/worker/simulation.worker.ts
  libs/@hashintel/petrinaut-core/src/vite-env.d.ts
  libs/@hashintel/petrinaut-core/src/vite-types.d.ts
  libs/@hashintel/petrinaut-core/tsconfig.json
  libs/@hashintel/petrinaut/src/react/experiments/provider.test.tsx
  libs/@hashintel/petrinaut/vite.config.ts
Due: biome

Centralize Petrinaut core worker environment types
  libs/@hashintel/petrinaut-core/src/environment.ts
  libs/@hashintel/petrinaut-core/src/index.ts
  libs/@hashintel/petrinaut-core/src/lsp/worker/language-server.worker.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/worker/monte-carlo.worker.ts
  libs/@hashintel/petrinaut-core/src/simulation/runtime/simulation.test.ts
  libs/@hashintel/petrinaut-core/src/simulation/worker/simulation.worker.test.ts
  libs/@hashintel/petrinaut-core/src/simulation/worker/simulation.worker.ts
Due: biome

Add publishConfig in package.json
  libs/@hashintel/petrinaut-core/package.json
Due: biome, yarn

Update .oxlintrc.json
  libs/@hashintel/petrinaut/.oxlintrc.json
Due: biome

Expose LSP types from Petrinaut core
  libs/@hashintel/petrinaut-core/src/index.ts
  libs/@hashintel/petrinaut-core/src/lsp/index.ts
  libs/@hashintel/petrinaut-core/src/lsp/worker/protocol.ts
  libs/@hashintel/petrinaut/package.json
  libs/@hashintel/petrinaut/src/main.ts
  libs/@hashintel/petrinaut/src/react/hooks/use-lsp.ts
  libs/@hashintel/petrinaut/src/react/lsp/context.ts
  libs/@hashintel/petrinaut/src/ui/monaco/completion-sync.tsx
  libs/@hashintel/petrinaut/src/ui/monaco/diagnostics-sync.tsx
  libs/@hashintel/petrinaut/src/ui/monaco/hover-sync.tsx
  libs/@hashintel/petrinaut/src/ui/monaco/signature-help-sync.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/diagnostics.tsx
  libs/@hashintel/petrinaut/vite.config.ts
  yarn.lock
Due: biome, yarn

Externalize Petrinaut core dependencies
  libs/@hashintel/petrinaut-core/package.json
  libs/@hashintel/petrinaut-core/vite.config.ts
  yarn.config.cjs
Due: biome, yarn

Preserve SDCPN test clone semantics
  libs/@hashintel/petrinaut-core/src/actions.test.ts
Due: biome

Restore local import restriction message
  libs/@hashintel/petrinaut-core/.oxlintrc.json
Due: biome

markdownlint ignore Cursor plans
  .markdownlint-cli2.jsonc
Due: none

Fix Petrinaut lint diagnostics
  libs/@hashintel/petrinaut/src/react/create-value-store.ts
  libs/@hashintel/petrinaut/src/react/hooks/use-latest.ts
  libs/@hashintel/petrinaut/src/react/hooks/use-stable-callback.ts
  libs/@hashintel/petrinaut/src/react/lsp/provider.tsx
  libs/@hashintel/petrinaut/src/ui/components/drawer.tsx
  libs/@hashintel/petrinaut/src/ui/components/spreadsheet.tsx
  libs/@hashintel/petrinaut/src/ui/hooks/use-draft-field.ts
  libs/@hashintel/petrinaut/src/ui/petrinaut-story-provider.tsx
  libs/@hashintel/petrinaut/src/ui/resize/use-resize-drag.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/simulation-timeline.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/LeftSideBar/subviews/filterable-list-sub-view.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/LeftSideBar/subviews/search-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/differential-equation-properties/subviews/main.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/parameter-properties/subviews/main.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/place-properties/subviews/main.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/place-properties/subviews/place-visualizer/subview.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/transition-properties/subviews/main.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/type-properties/subviews/main.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/hooks/use-firing-delta.ts
Due: biome

Fix format
  libs/@hashintel/petrinaut/src/react/create-value-store.ts
  libs/@hashintel/petrinaut/src/ui/components/spreadsheet.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/LeftSideBar/subviews/search-panel.tsx
Due: biome

Refine Petrinaut lint cleanup
  libs/@hashintel/petrinaut/src/react/hooks/use-latest.ts
  libs/@hashintel/petrinaut/src/ui/components/spreadsheet.tsx
  libs/@hashintel/petrinaut/src/ui/lib/clamp-index.ts
  libs/@hashintel/petrinaut/src/ui/petrinaut-story-provider.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/LeftSideBar/subviews/filterable-list-sub-view.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/LeftSideBar/subviews/search-panel.tsx
Due: biome

Format
  libs/@hashintel/petrinaut/src/react/hooks/use-stable-callback.ts
  libs/@hashintel/petrinaut/src/ui/components/draft-field-input.tsx
  libs/@hashintel/petrinaut/src/ui/components/spreadsheet.tsx
  libs/@hashintel/petrinaut/src/ui/hooks/use-draft-field.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/differential-equation-properties/subviews/main.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/parameter-properties/subviews/main.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/transition-properties/subviews/main.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/type-properties/subviews/main.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/hooks/use-firing-delta.ts
Due: biome

Enforce Petrinaut React Compiler lint rules
  libs/@hashintel/petrinaut/.oxlintrc.json
Due: biome

Simplify ds-helpers prepack script
  libs/@hashintel/ds-helpers/package.json
Due: biome, yarn

Document ds-helpers Turbo build override
  libs/@hashintel/ds-helpers/turbo.json
Due: biome

Address ds-helpers packaging review
  libs/@hashintel/ds-helpers/AGENTS.md
  libs/@hashintel/ds-helpers/package.json
  libs/@hashintel/ds-helpers/turbo.json
Due: markdownlint, biome, yarn

FE-726: ensure that ds-helpers is generated by ds-components, before it is published
  .changeset/clean-pumas-help.md
  libs/@hashintel/ds-helpers/package.json
  libs/@hashintel/ds-helpers/turbo.json
Due: markdownlint, biome, yarn

Simplify ds-helpers codegen script
  libs/@hashintel/ds-helpers/package.json
Due: biome, yarn

Use portable ds-helpers codegen no-op
  libs/@hashintel/ds-helpers/package.json
Due: biome, yarn

Explain ds-helpers codegen task
  libs/@hashintel/ds-helpers/turbo.json
Due: biome

Track ds-components codegen scripts as inputs
  libs/@hashintel/ds-helpers/turbo.json
Due: biome

Use shell no-op for ds-helpers codegen
  libs/@hashintel/ds-helpers/package.json
Due: biome, yarn

Fix stale left-sidebar focus state
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/LeftSideBar/subviews/filterable-list-sub-view.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/LeftSideBar/subviews/search-panel.tsx
Due: biome

Petrinaut: Remove linter warnings (#8731)
  libs/@hashintel/petrinaut/.oxlintrc.json
  libs/@hashintel/petrinaut/src/react/create-value-store.ts
  libs/@hashintel/petrinaut/src/react/hooks/use-latest.ts
  libs/@hashintel/petrinaut/src/react/hooks/use-stable-callback.ts
  libs/@hashintel/petrinaut/src/react/lsp/provider.tsx
  libs/@hashintel/petrinaut/src/ui/components/draft-field-input.tsx
  libs/@hashintel/petrinaut/src/ui/components/drawer.tsx
  libs/@hashintel/petrinaut/src/ui/components/spreadsheet.tsx
  libs/@hashintel/petrinaut/src/ui/hooks/use-draft-field.ts
  libs/@hashintel/petrinaut/src/ui/lib/clamp-index.ts
  libs/@hashintel/petrinaut/src/ui/petrinaut-story-provider.tsx
  libs/@hashintel/petrinaut/src/ui/resize/use-resize-drag.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/simulation-timeline.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/LeftSideBar/subviews/filterable-list-sub-view.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/LeftSideBar/subviews/search-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/differential-equation-properties/subviews/main.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/parameter-properties/subviews/main.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/place-properties/subviews/main.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/place-properties/subviews/place-visualizer/subview.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/transition-properties/subviews/main.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/type-properties/subviews/main.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/hooks/use-firing-delta.ts
Due: biome

FE-723: Add tooltip to button component (#8728)
  libs/@hashintel/ds-components/src/components/Button/button.stories.tsx
  libs/@hashintel/ds-components/src/components/Button/button.tsx
Due: biome

FE-679: add number input to ds (#8727)
  .changeset/tall-streets-wave.md
  libs/@hashintel/ds-components/src/components/NumberInput/number-input.stories.tsx
  libs/@hashintel/ds-components/src/components/NumberInput/number-input.tsx
  libs/@hashintel/ds-components/src/components/TextInput/base-input.recipe.ts
  libs/@hashintel/ds-components/src/components/TextInput/base-input.tsx
  libs/@hashintel/ds-components/src/main.ts
Due: markdownlint, biome

Path conditions:
  markdownlint: any of: *.md
  biome: any of: *.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}
  yarn: any of: {*/package.json, package.json}
  sqlfluff: any of: *.sql
  rust: any of: *.rs
  toml: any of: *.toml
