Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, prettier, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: yarn run markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    prettier:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: yarn run prettier --write {staged_files} || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:packagejson && yarn fix:yarn-deduplicate
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: cargo fmt -- {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: yarn run taplo format {staged_files} || true
      stage_fixed: true

Refactor Slider component: streamline props, enhance accessibility, and improve styling
  libs/@hashintel/component-library/src/Slider/Slider.stories.tsx
  libs/@hashintel/component-library/src/Slider/Slider.tsx
Due: prettier

Lint
  libs/@hashintel/component-library/src/Toggle/Toggle.stories.tsx
  libs/@hashintel/component-library/src/Toggle/Toggle.tsx
  libs/@hashintel/component-library/src/index.ts
Due: prettier

Intermediate name lowercase
  libs/@hashintel/component-library/src/Bar/Bar.stories_.tsx
  libs/@hashintel/component-library/src/Bar/Bar_.tsx
  libs/@hashintel/component-library/src/Slider/Slider.stories_.tsx
  libs/@hashintel/component-library/src/Slider/Slider_.tsx
  libs/@hashintel/component-library/src/Toggle/Toggle.stories_.tsx
  libs/@hashintel/component-library/src/Toggle/Toggle_.tsx
  libs/@hashintel/component-library/src/index.ts
Due: prettier

Lowercase names
  libs/@hashintel/component-library/src/Bar/bar.stories.tsx
  libs/@hashintel/component-library/src/Bar/bar.tsx
  libs/@hashintel/component-library/src/Slider/slider.stories.tsx
  libs/@hashintel/component-library/src/Slider/slider.tsx
  libs/@hashintel/component-library/src/Toggle/toggle.stories.tsx
  libs/@hashintel/component-library/src/Toggle/toggle.tsx
  libs/@hashintel/component-library/src/index.ts
Due: prettier

Move to components/ folder
  libs/@hashintel/component-library/src/components/Bar/bar.stories.tsx
  libs/@hashintel/component-library/src/components/Bar/bar.tsx
  libs/@hashintel/component-library/src/components/Slider/slider.stories.tsx
  libs/@hashintel/component-library/src/components/Slider/slider.tsx
  libs/@hashintel/component-library/src/components/Toggle/toggle.stories.tsx
  libs/@hashintel/component-library/src/components/Toggle/toggle.tsx
  libs/@hashintel/component-library/src/index.ts
Due: prettier

Migrate toggle and rename files
  libs/@hashintel/component-library/src/components/Bar/bar.tsx
  libs/@hashintel/component-library/src/components/Slider/slider.tsx
  libs/@hashintel/component-library/src/components/Toggle/toggle.stories.tsx
  libs/@hashintel/component-library/src/components/Toggle/toggle.tsx
  libs/@hashintel/component-library/src/lib/displacement-map.ts
  libs/@hashintel/component-library/src/lib/filter_.tsx
  libs/@hashintel/component-library/src/lib/image-data-to-url.ts
  libs/@hashintel/component-library/src/lib/surface-equations.ts
  libs/@hashintel/component-library/src/lib/use-value-or-motion.ts
Due: prettier

Rename lowercase
  libs/@hashintel/component-library/src/components/Bar/bar.tsx
  libs/@hashintel/component-library/src/components/Slider/slider.tsx
  libs/@hashintel/component-library/src/components/Toggle/toggle.tsx
  libs/@hashintel/component-library/src/lib/filter.tsx
Due: prettier

Fix subgraph deserialization
  apps/hash-api/src/graphql/resolvers/knowledge/entity/entity.ts
  apps/hash-api/src/graphql/resolvers/knowledge/shared/get-user-permissions-on-subgraph.ts
  apps/hash-frontend/src/components/hooks/block-protocol-functions/knowledge/use-block-protocol-query-entities.ts
  apps/hash-frontend/src/components/hooks/use-orgs.ts
  apps/hash-frontend/src/components/hooks/use-query-entities.ts
Due: prettier

Fix ESLint
  apps/hash-api/src/graphql/resolvers/knowledge/entity/entity.ts
Due: prettier

fix: rendering to include new information
  libs/@local/hashql/diagnostics/Cargo.toml
  libs/@local/hashql/diagnostics/src/diagnostic/label.rs
  libs/@local/hashql/diagnostics/src/diagnostic/message.rs
  libs/@local/hashql/diagnostics/src/diagnostic/render.rs
  libs/@local/hashql/diagnostics/src/diagnostic/suggestion.rs
  libs/@local/hashql/diagnostics/src/source/mod.rs
Due: rust, toml

feat: do not make resolve fallible
  libs/@local/hashql/diagnostics/src/diagnostic/label.rs
  libs/@local/hashql/diagnostics/src/diagnostic/message.rs
  libs/@local/hashql/diagnostics/src/diagnostic/render.rs
  libs/@local/hashql/diagnostics/src/diagnostic/suggestion.rs
  libs/@local/hashql/diagnostics/src/error.rs
  libs/@local/hashql/diagnostics/src/source/mod.rs
  libs/@local/hashql/diagnostics/src/source/span.rs
Due: rust

Remove useless ctx check
  libs/@hashintel/component-library/src/lib/image-data-to-url.ts
Due: prettier

Rename Configure.mdx->Intro.mdx
  libs/@hashintel/component-library/src/stories/Intro.mdx
Due: prettier

Replace `getEntity` resolver
  apps/hash-api/src/graphql/resolvers/index.ts
  apps/hash-api/src/graphql/resolvers/knowledge/entity/entity.ts
  apps/hash-frontend/src/blocks/use-fetch-block-subgraph.ts
  apps/hash-frontend/src/components/hooks/block-protocol-functions/knowledge/use-block-protocol-get-entity.ts
  apps/hash-frontend/src/components/hooks/use-entity-by-id.ts
  apps/hash-frontend/src/pages/@/[shortname].page/profile-bio.tsx
  apps/hash-frontend/src/pages/notes.page/editable-quick-note.tsx
  apps/hash-frontend/src/pages/shared/block-collection/create-editor-view.ts
  apps/plugin-browser/src/graphql/queries/entity.queries.ts
  libs/@local/hash-isomorphic-utils/src/graphql/queries/entity.queries.ts
  libs/@local/hash-isomorphic-utils/src/graphql/type-defs/knowledge/entity.typedef.ts
  libs/@local/hash-isomorphic-utils/src/save.ts
Due: prettier

Correct Toggle
  libs/@hashintel/component-library/src/components/Toggle/toggle.tsx
Due: prettier

feat: switch to error free version
  libs/@local/hashql/diagnostics/src/diagnostic/label.rs
  libs/@local/hashql/diagnostics/src/diagnostic/message.rs
  libs/@local/hashql/diagnostics/src/diagnostic/mod.rs
  libs/@local/hashql/diagnostics/src/diagnostic/render.rs
  libs/@local/hashql/diagnostics/src/diagnostic/suggestion.rs
  libs/@local/hashql/diagnostics/src/severity.rs
  libs/@local/hashql/diagnostics/src/source/mod.rs
  libs/@local/hashql/diagnostics/src/source/span.rs
Due: rust

feat: improve error diagnostics
  Cargo.lock
  libs/@local/hashql/diagnostics/Cargo.toml
  libs/@local/hashql/diagnostics/src/diagnostic/render.rs
Due: rust, toml

Rename Toggle->Switch
  libs/@hashintel/component-library/src/components/Switch/switch.stories.tsx
  libs/@hashintel/component-library/src/components/Switch/switch.tsx
  libs/@hashintel/component-library/src/index.ts
Due: prettier

Cubic bezier for Switch
  libs/@hashintel/component-library/src/components/Switch/switch.tsx
Due: prettier

fix: serde
  Cargo.toml
  libs/@local/hashql/diagnostics/Cargo.toml
  libs/@local/hashql/diagnostics/src/config.rs
  libs/@local/hashql/diagnostics/src/diagnostic/message.rs
  libs/@local/hashql/diagnostics/src/encoding.rs
  libs/@local/hashql/diagnostics/src/lib.rs
  libs/@local/hashql/diagnostics/src/source/mod.rs
Due: rust, toml

feat: context -> resolver
  libs/@local/hashql/diagnostics/src/diagnostic/label.rs
  libs/@local/hashql/diagnostics/src/diagnostic/message.rs
  libs/@local/hashql/diagnostics/src/diagnostic/render.rs
  libs/@local/hashql/diagnostics/src/diagnostic/suggestion.rs
  libs/@local/hashql/diagnostics/src/source/span.rs
Due: rust

chore: rename span
  libs/@local/hashql/diagnostics/src/diagnostic/label.rs
  libs/@local/hashql/diagnostics/src/diagnostic/mod.rs
  libs/@local/hashql/diagnostics/src/diagnostic/render.rs
  libs/@local/hashql/diagnostics/src/diagnostic/suggestion.rs
  libs/@local/hashql/diagnostics/src/source/mod.rs
  libs/@local/hashql/diagnostics/src/source/span.rs
Due: rust

fix: compiletest
  libs/@local/graph/api/src/rest/entity_query_request.rs
  libs/@local/hashql/compiletest/src/executor/annotations.rs
  libs/@local/hashql/compiletest/src/executor/mod.rs
  libs/@local/hashql/compiletest/src/executor/trial.rs
  libs/@local/hashql/compiletest/src/suite/mod.rs
  libs/@local/hashql/core/src/span/mod.rs
  libs/@local/hashql/diagnostics/src/diagnostic/label.rs
  libs/@local/hashql/diagnostics/src/diagnostic/render.rs
  libs/@local/hashql/diagnostics/src/diagnostic/suggestion.rs
  libs/@local/hashql/diagnostics/src/source/mod.rs
  libs/@local/hashql/diagnostics/src/source/span.rs
  libs/@local/hashql/syntax-jexpr/src/lexer/mod.rs
  libs/@local/hashql/syntax-jexpr/src/lib.rs
  libs/@local/hashql/syntax-jexpr/src/parser/array/visit.rs
  libs/@local/hashql/syntax-jexpr/src/parser/object/visit.rs
  libs/@local/hashql/syntax-jexpr/src/parser/test.rs
  libs/@local/hashql/syntax-jexpr/src/test.rs
Due: rust

fix: compile errors
  libs/@local/graph/api/src/rest/entity_query_request.rs
  libs/@local/hashql/diagnostics/src/diagnostic/render.rs
  libs/@local/hashql/diagnostics/src/issues.rs
  libs/@local/hashql/diagnostics/src/lib.rs
Due: rust

chore: docs
  libs/@local/hashql/diagnostics/src/diagnostic/label.rs
  libs/@local/hashql/diagnostics/src/diagnostic/message.rs
  libs/@local/hashql/diagnostics/src/diagnostic/mod.rs
  libs/@local/hashql/diagnostics/src/diagnostic/render.rs
  libs/@local/hashql/diagnostics/src/diagnostic/suggestion.rs
  libs/@local/hashql/diagnostics/src/source/mod.rs
  libs/@local/hashql/diagnostics/src/source/span.rs
Due: rust

fix: imports
  libs/@local/hashql/diagnostics/src/diagnostic/message.rs
  libs/@local/hashql/diagnostics/src/diagnostic/patch.rs
  libs/@local/hashql/diagnostics/src/lib.rs
Due: rust

Remove canvasWidth/Height props
  libs/@hashintel/component-library/src/lib/displacement-map.ts
  libs/@hashintel/component-library/src/lib/filter.tsx
Due: prettier

Add dynamic sizing support to Bar component and introduce useMotionResizeObserver hook
  libs/@hashintel/component-library/src/components/Bar/bar.stories.tsx
  libs/@hashintel/component-library/src/components/Bar/bar.tsx
  libs/@hashintel/component-library/src/lib/use-motion-resize-observer.ts
Due: prettier

fix: warnings
  libs/@local/hashql/diagnostics/src/category.rs
  libs/@local/hashql/diagnostics/src/diagnostic/label.rs
  libs/@local/hashql/diagnostics/src/diagnostic/message.rs
  libs/@local/hashql/diagnostics/src/diagnostic/mod.rs
  libs/@local/hashql/diagnostics/src/diagnostic/suggestion.rs
  libs/@local/hashql/diagnostics/src/issues.rs
  libs/@local/hashql/diagnostics/src/lib.rs
  libs/@local/hashql/diagnostics/src/severity.rs
  libs/@local/hashql/diagnostics/src/source/mod.rs
  libs/@local/hashql/diagnostics/src/source/span.rs
  libs/@local/hashql/diagnostics/src/status.rs
Due: rust

fix: snapshots
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/let-argument-not-ident.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-expr-invalid.stderr
  libs/@local/hashql/compiletest/Cargo.toml
  libs/@local/hashql/hir/tests/ui/lower/specialization/bits.stderr
  libs/@local/hashql/hir/tests/ui/lower/specialization/collect-custom-collect.stderr
  libs/@local/hashql/hir/tests/ui/lower/specialization/math.stderr
  libs/@local/hashql/hir/tests/ui/lower/specialization/unary.stderr
Due: toml

fix: remove most of anstyle
  Cargo.lock
  libs/@local/hashql/compiletest/Cargo.toml
  libs/@local/hashql/compiletest/src/executor/trial.rs
  libs/@local/hashql/compiletest/src/styles.rs
Due: rust, toml

Refactor Bar component stories by removing width and height props, and updating child dimensions for better dynamic sizing support
  libs/@hashintel/component-library/src/components/Bar/bar.stories.tsx
Due: prettier

chore: dependencies
  Cargo.lock
  Cargo.toml
  libs/@local/graph/api/Cargo.toml
  libs/@local/hashql/diagnostics/Cargo.toml
Due: toml

chore: remove errors
  Cargo.lock
  libs/@local/hashql/diagnostics/Cargo.toml
  libs/@local/hashql/diagnostics/src/error.rs
  libs/@local/hashql/diagnostics/src/lib.rs
Due: rust, toml

fix: dependency diagrams + turbo
  apps/hash-graph/docs/dependency-diagram.mmd
  libs/@local/graph/api/docs/dependency-diagram.mmd
  libs/@local/graph/test-server/docs/dependency-diagram.mmd
  libs/@local/hashql/ast/docs/dependency-diagram.mmd
  libs/@local/hashql/compiletest/docs/dependency-diagram.mmd
  libs/@local/hashql/core/docs/dependency-diagram.mmd
  libs/@local/hashql/diagnostics/docs/dependency-diagram.mmd
  libs/@local/hashql/diagnostics/package.json
  libs/@local/hashql/eval/docs/dependency-diagram.mmd
  libs/@local/hashql/hir/docs/dependency-diagram.mmd
  libs/@local/hashql/syntax-jexpr/docs/dependency-diagram.mmd
Due: prettier, yarn

chore: lockfile
  yarn.lock
Due: none

fix: issues
  libs/@local/graph/api/Cargo.toml
  libs/@local/hashql/syntax-jexpr/src/parser/object/error.rs
Due: rust, toml

fix: snapshot
  libs/@local/hashql/syntax-jexpr/src/parser/object/snapshots/hashql_syntax_jexpr__parser__object__visit__tests__trailing_comma.snap
Due: none
