Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, prettier, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: yarn run markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    prettier:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: yarn run prettier --write {staged_files} || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:packagejson && yarn fix:yarn-deduplicate
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: cargo fmt -- {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: yarn run taplo format {staged_files} || true
      stage_fixed: true

feat: simplify DSE
  libs/@local/hashql/mir/src/pass/analysis/data_dependency/graph.rs
  libs/@local/hashql/mir/src/pass/transform/dse/mod.rs
  libs/@local/hashql/mir/src/pass/transform/dse/tests.rs
Due: rust

feat: DSE v2
  libs/@local/hashql/mir/src/pass/transform/dse/mod.rs
Due: rust

feat: only matrix dependency, but always use
  libs/@local/hashql/mir/src/pass/transform/dse/mod.rs
Due: rust

feat: dead code elimination
  libs/@local/hashql/mir/src/pass/transform/dse/mod.rs
Due: rust

feat: target elimination
  libs/@local/hashql/mir/src/pass/transform/dse/mod.rs
Due: rust

fix: use bit matrix instead of graph
  libs/@local/hashql/mir/src/pass/transform/dse/mod.rs
Due: rust

chore: imports
  libs/@local/hashql/mir/src/pass/transform/dse/mod.rs
Due: rust

chore: imports
  libs/@local/hashql/mir/src/pass/analysis/data_dependency/graph.rs
Due: rust

feat: use root uses that propagate up instead of down
  libs/@local/hashql/core/src/id/bit_vec/mod.rs
  libs/@local/hashql/mir/src/pass/transform/dse/mod.rs
Due: rust

chore: docs
  libs/@local/hashql/mir/src/pass/transform/dse/mod.rs
  libs/@local/hashql/mir/src/pass/transform/mod.rs
Due: rust

fix: format
  libs/@local/hashql/mir/tests/ui/pass/dse/live-in-branch.jsonc
  libs/@local/hashql/mir/tests/ui/pass/dse/nested-tuple-projection.jsonc
  libs/@local/hashql/mir/tests/ui/pass/dse/showcase.jsonc
  libs/@local/hashql/mir/tests/ui/pass/dse/simple-dead-local.jsonc
  libs/@local/hashql/mir/tests/ui/pass/dse/used-local-preserved.jsonc
Due: none

chore: tests
  libs/@local/hashql/mir/src/pass/transform/dse/mod.rs
  libs/@local/hashql/mir/src/pass/transform/dse/tests.rs
  libs/@local/hashql/mir/src/tests/builder.rs
  libs/@local/hashql/mir/tests/ui/pass/dse/.spec.toml
  libs/@local/hashql/mir/tests/ui/pass/dse/all_live.snap
  libs/@local/hashql/mir/tests/ui/pass/dse/branch_condition_preserved.snap
  libs/@local/hashql/mir/tests/ui/pass/dse/dead_chain.snap
  libs/@local/hashql/mir/tests/ui/pass/dse/dead_cycle.snap
  libs/@local/hashql/mir/tests/ui/pass/dse/dead_param_multiple_predecessors.snap
  libs/@local/hashql/mir/tests/ui/pass/dse/dead_param_with_live_sibling.snap
  libs/@local/hashql/mir/tests/ui/pass/dse/dead_storage_statements.snap
  libs/@local/hashql/mir/tests/ui/pass/dse/graph_read_token_preserved.snap
  libs/@local/hashql/mir/tests/ui/pass/dse/live-in-branch.jsonc
  libs/@local/hashql/mir/tests/ui/pass/dse/live-in-branch.stdout
  libs/@local/hashql/mir/tests/ui/pass/dse/nested-tuple-projection.jsonc
  libs/@local/hashql/mir/tests/ui/pass/dse/nested-tuple-projection.stdout
  libs/@local/hashql/mir/tests/ui/pass/dse/showcase.aux.svg
  libs/@local/hashql/mir/tests/ui/pass/dse/showcase.jsonc
  libs/@local/hashql/mir/tests/ui/pass/dse/showcase.stdout
  libs/@local/hashql/mir/tests/ui/pass/dse/simple-dead-local.jsonc
  libs/@local/hashql/mir/tests/ui/pass/dse/simple-dead-local.stdout
  libs/@local/hashql/mir/tests/ui/pass/dse/single_dead_assignment.snap
  libs/@local/hashql/mir/tests/ui/pass/dse/used-local-preserved.jsonc
  libs/@local/hashql/mir/tests/ui/pass/dse/used-local-preserved.stdout
Due: rust, toml

feat: dse compiletest pass
  libs/@local/hashql/compiletest/src/suite/mir_pass_transform_dse.rs
  libs/@local/hashql/compiletest/src/suite/mod.rs
  libs/@local/hashql/core/src/id/bit_vec/mod.rs
  libs/@local/hashql/mir/src/pass/transform/dse/mod.rs
Due: rust

remove or put aside previous implementations
  apps/hash-ai-agent/src/mastra/agents/_old/claim-extraction-agent.test.ts
  apps/hash-ai-agent/src/mastra/agents/_old/claim-extraction-agent.ts
  apps/hash-ai-agent/src/mastra/agents/_old/entity-extraction-agent.ts
  apps/hash-ai-agent/src/mastra/agents/_old/entity-summary-agent.test.ts
  apps/hash-ai-agent/src/mastra/agents/_old/entity-summary-agent.ts
  apps/hash-ai-agent/src/mastra/fixtures/_old/entity-summary-fixtures.ts
  apps/hash-ai-agent/src/mastra/fixtures/_old/infer-claims-fixtures.ts
  apps/hash-ai-agent/src/mastra/index.ts
  apps/hash-ai-agent/src/mastra/scorers/_old/claims-scorer.ts
  apps/hash-ai-agent/src/mastra/scorers/_old/demo-relevancy-scorer.test.ts
  apps/hash-ai-agent/src/mastra/scorers/_old/demo-relevancy-scorer.ts
  apps/hash-ai-agent/src/mastra/scorers/_old/entity-summaries-scorer.ts
  apps/hash-ai-agent/src/mastra/tools/_old/register-summaries-tool.ts
  apps/hash-ai-agent/src/mastra/tools/_old/submit-claims-tool.ts
  apps/hash-ai-agent/src/mastra/utils/dereference-entity-type.ts
  apps/hash-ai-agent/src/mastra/utils/entity-type-to-yaml.quokka.ts
  apps/hash-ai-agent/src/mastra/workflows/ner-workflow.ts
  apps/hash-ai-agent/src/mastra/workflows/ner-workflows/README.md
  apps/hash-ai-agent/src/mastra/workflows/ner-workflows/types.ts
Due: markdownlint, prettier

test JSON schema to Zod schema
  apps/hash-ai-agent/package.json
  apps/hash-ai-agent/src/mastra/utils/json-schema-to-zod.quokka.ts
  apps/hash-ai-agent/src/mastra/workflows/ner-people-workflow.ts
  yarn.lock
Due: prettier, yarn

configure storage and observability; split ner-agent
  apps/hash-ai-agent/package.json
  apps/hash-ai-agent/src/mastra/agents/generic-agent.ts
  apps/hash-ai-agent/src/mastra/agents/ner-agent.ts
  apps/hash-ai-agent/src/mastra/index.ts
  apps/hash-ai-agent/src/mastra/scorers/demo-relevancy-scorer.test.ts
  apps/hash-ai-agent/src/mastra/scorers/demo-relevancy-scorer.ts
  apps/hash-ai-agent/src/mastra/workflows/ner-workflow.ts
  yarn.lock
Due: prettier, yarn

undo resolutions and other panic fixes
  package.json
Due: prettier

ground up building simple ner-workflow
  apps/hash-ai-agent/src/mastra/fixtures/entity-types/organization.ts
  apps/hash-ai-agent/src/mastra/fixtures/entity-types/person.ts
  apps/hash-ai-agent/src/mastra/fixtures/source-texts/ibm-confluent-acquisition.ts
  apps/hash-ai-agent/src/mastra/fixtures/source-texts/microsoft-wikipedia.ts
  apps/hash-ai-agent/src/mastra/fixtures/source-texts/netflix-wbd-bidding.ts
  apps/hash-ai-agent/src/mastra/fixtures/source-texts/sora-paper-long.ts
  apps/hash-ai-agent/src/mastra/fixtures/source-texts/sora-paper-short.ts
  apps/hash-ai-agent/src/mastra/utils/entity-type-to-yaml.quokka.ts
  apps/hash-ai-agent/src/mastra/utils/entity-type-to-yaml.ts
  apps/hash-ai-agent/src/mastra/workflows/ner-workflow.ts
  apps/hash-ai-agent/src/mastra/workflows/ner-workflow/README.md
  apps/hash-ai-agent/src/mastra/workflows/ner-workflow/types.ts
Due: markdownlint, prettier

add .gitkeep to /data directory so DB can be created on startup
  apps/hash-ai-agent/data/.gitkeep
Due: none

re-do the ner-people-workflow prompt and split it out; get basic structured output
  apps/hash-ai-agent/src/mastra/fixtures/entity-schemas/organization.ts
  apps/hash-ai-agent/src/mastra/fixtures/entity-schemas/person.ts
  apps/hash-ai-agent/src/mastra/fixtures/entity-schemas/raw/organization.json
  apps/hash-ai-agent/src/mastra/fixtures/entity-schemas/raw/person.json
  apps/hash-ai-agent/src/mastra/fixtures/entity-types/organization.ts
  apps/hash-ai-agent/src/mastra/fixtures/entity-types/person.ts
  apps/hash-ai-agent/src/mastra/index.ts
  apps/hash-ai-agent/src/mastra/utils/entity-type-to-yaml.quokka.ts
  apps/hash-ai-agent/src/mastra/utils/json-schema-to-zod.quokka.ts
  apps/hash-ai-agent/src/mastra/workflows/ner-people-workflow.test.ts
  apps/hash-ai-agent/src/mastra/workflows/ner-people-workflow.ts
  apps/hash-ai-agent/src/mastra/workflows/ner-workflow.ts
  apps/hash-ai-agent/src/mastra/workflows/ner-workflows/README.md
  apps/hash-ai-agent/src/mastra/workflows/ner-workflows/types.ts
Due: markdownlint, prettier

get people extraction working based on canonically dereferenced person schema
  apps/hash-ai-agent/package.json
  apps/hash-ai-agent/src/mastra/workflows/ner-people-workflow.ts
  yarn.lock
Due: prettier, yarn

get fixtures in canonical dereferenced and bundled forms via @apidevtools/json-schema-ref-parser
  apps/hash-ai-agent/package.json
  apps/hash-ai-agent/src/mastra/fixtures/entity-schemas/organization.bundled.json
  apps/hash-ai-agent/src/mastra/fixtures/entity-schemas/organization.dereferenced.json
  apps/hash-ai-agent/src/mastra/fixtures/entity-schemas/person.bundled.json
  apps/hash-ai-agent/src/mastra/fixtures/entity-schemas/person.dereferenced.json
  apps/hash-ai-agent/src/mastra/fixtures/entity-schemas/raw/organization.json
  apps/hash-ai-agent/src/mastra/fixtures/entity-schemas/raw/person.json
  apps/hash-ai-agent/src/mastra/fixtures/generate-schemas.ts
  yarn.lock
Due: prettier, yarn

get a working ultra-simple extraction
  apps/hash-ai-agent/src/mastra/agents/entity-extraction-agent.ts
  apps/hash-ai-agent/src/mastra/agents/prev/claim-extraction-agent.test.ts
  apps/hash-ai-agent/src/mastra/agents/prev/claim-extraction-agent.ts
  apps/hash-ai-agent/src/mastra/agents/prev/entity-summary-agent.test.ts
  apps/hash-ai-agent/src/mastra/agents/prev/entity-summary-agent.ts
  apps/hash-ai-agent/src/mastra/fixtures/entity-types/person.ts
  apps/hash-ai-agent/src/mastra/fixtures/entity-types/raw/organization.json
  apps/hash-ai-agent/src/mastra/fixtures/entity-types/raw/person.json
  apps/hash-ai-agent/src/mastra/index.ts
  apps/hash-ai-agent/src/mastra/utils/entity-type-to-yaml.quokka.ts
  apps/hash-ai-agent/src/mastra/workflows/ner-workflow.ts
  apps/hash-ai-agent/tsconfig.json
Due: prettier

package and lockfile fixups
  package.json
  yarn.lock
Due: prettier

bump json-schema-ref-parser in @blockprotocol/graph
  libs/@blockprotocol/graph/package.json
Due: prettier, yarn

lint and fix
  apps/hash-ai-agent/package.json
  apps/hash-ai-agent/src/mastra/agents/generic-agent.ts
  apps/hash-ai-agent/src/mastra/scorers/ner-people-scorer.ts
  apps/hash-ai-agent/src/mastra/workflows/ner-people-workflow.ts
  yarn.lock
Due: prettier, yarn

gpt review and various cleanups, tightenings
  apps/hash-ai-agent/README.md
  apps/hash-ai-agent/package.json
  apps/hash-ai-agent/src/mastra/agents/_old/claim-extraction-agent.test.ts
  apps/hash-ai-agent/src/mastra/agents/_old/claim-extraction-agent.ts
  apps/hash-ai-agent/src/mastra/agents/_old/entity-extraction-agent.ts
  apps/hash-ai-agent/src/mastra/agents/_old/entity-summary-agent.test.ts
  apps/hash-ai-agent/src/mastra/agents/_old/entity-summary-agent.ts
  apps/hash-ai-agent/src/mastra/agents/generic-agent.ts
  apps/hash-ai-agent/src/mastra/agents/ner-agent.ts
  apps/hash-ai-agent/src/mastra/constants.ts
  apps/hash-ai-agent/src/mastra/fixtures/_old/entity-summary-fixtures.ts
  apps/hash-ai-agent/src/mastra/fixtures/_old/infer-claims-fixtures.ts
  apps/hash-ai-agent/src/mastra/fixtures/entity-schemas/organization.bundled.json
  apps/hash-ai-agent/src/mastra/fixtures/entity-schemas/organization.dereferenced.json
  apps/hash-ai-agent/src/mastra/fixtures/entity-schemas/organization.ts
  apps/hash-ai-agent/src/mastra/fixtures/entity-schemas/person.bundled.json
  apps/hash-ai-agent/src/mastra/fixtures/entity-schemas/person.dereferenced.json
  apps/hash-ai-agent/src/mastra/fixtures/entity-schemas/person.ts
  apps/hash-ai-agent/src/mastra/fixtures/source-texts/ibm-confluent-acquisition.ts
  apps/hash-ai-agent/src/mastra/fixtures/source-texts/netflix-wbd-bidding.ts
  apps/hash-ai-agent/src/mastra/fixtures/source-texts/sora-paper-long.ts
  apps/hash-ai-agent/src/mastra/fixtures/source-texts/sora-paper-short.ts
  apps/hash-ai-agent/src/mastra/index.ts
  apps/hash-ai-agent/src/mastra/scorers/_old/claims-scorer.ts
  apps/hash-ai-agent/src/mastra/scorers/_old/demo-relevancy-scorer.test.ts
  apps/hash-ai-agent/src/mastra/scorers/_old/demo-relevancy-scorer.ts
  apps/hash-ai-agent/src/mastra/scorers/_old/entity-summaries-scorer.ts
  apps/hash-ai-agent/src/mastra/scorers/ner-people-scorer.ts
  apps/hash-ai-agent/src/mastra/tools/.gitkeep
  apps/hash-ai-agent/src/mastra/tools/_old/register-summaries-tool.ts
  apps/hash-ai-agent/src/mastra/tools/_old/submit-claims-tool.ts
  apps/hash-ai-agent/src/mastra/utils/entity-type-to-yaml.ts
  apps/hash-ai-agent/src/mastra/utils/json-schema-to-zod.quokka.ts
  apps/hash-ai-agent/src/mastra/workflows/ner-people-workflow.ts
  apps/hash-ai-agent/tsconfig.json
Due: markdownlint, prettier, yarn

create scorer and test for the ner people workflow
  apps/hash-ai-agent/src/mastra/fixtures/source-texts/microsoft-wikipedia.ts
  apps/hash-ai-agent/src/mastra/scorers/ner-people-scorer.ts
  apps/hash-ai-agent/src/mastra/workflows/ner-people-workflow.test.ts
Due: prettier

more experiments with bundled schemas; assume for now it doesn't work. update the fixture generation script w comments
  apps/hash-ai-agent/src/mastra/fixtures/entity-schemas/organization.bundled.json
  apps/hash-ai-agent/src/mastra/fixtures/entity-schemas/organization.dereferenced.json
  apps/hash-ai-agent/src/mastra/fixtures/entity-schemas/person.bundled.json
  apps/hash-ai-agent/src/mastra/fixtures/generate-schemas.ts
  apps/hash-ai-agent/src/mastra/workflows/ner-people-workflow.ts
Due: prettier

update the inlining of essential schema information in the prompt
  apps/hash-ai-agent/src/mastra/utils/entity-type-to-yaml.ts
  apps/hash-ai-agent/src/mastra/utils/schema-to-prompt-summary.ts
  apps/hash-ai-agent/src/mastra/workflows/ner-people-workflow.ts
Due: prettier

BE-239: HashQL: Implement DSE (Dead Store Elimination) pass for MIR (#8184)
  libs/@local/hashql/compiletest/src/suite/mir_pass_transform_dse.rs
  libs/@local/hashql/compiletest/src/suite/mod.rs
  libs/@local/hashql/core/src/id/bit_vec/mod.rs
  libs/@local/hashql/core/src/id/vec.rs
  libs/@local/hashql/mir/src/body/local.rs
  libs/@local/hashql/mir/src/lib.rs
  libs/@local/hashql/mir/src/pass/analysis/data_dependency/graph.rs
  libs/@local/hashql/mir/src/pass/transform/dse/mod.rs
  libs/@local/hashql/mir/src/pass/transform/dse/tests.rs
  libs/@local/hashql/mir/src/pass/transform/mod.rs
  libs/@local/hashql/mir/src/tests/builder.rs
  libs/@local/hashql/mir/tests/ui/pass/dse/.spec.toml
  libs/@local/hashql/mir/tests/ui/pass/dse/all_live.snap
  libs/@local/hashql/mir/tests/ui/pass/dse/branch_condition_preserved.snap
  libs/@local/hashql/mir/tests/ui/pass/dse/dead_chain.snap
  libs/@local/hashql/mir/tests/ui/pass/dse/dead_cycle.snap
  libs/@local/hashql/mir/tests/ui/pass/dse/dead_param_multiple_predecessors.snap
  libs/@local/hashql/mir/tests/ui/pass/dse/dead_param_with_live_sibling.snap
  libs/@local/hashql/mir/tests/ui/pass/dse/dead_storage_statements.snap
  libs/@local/hashql/mir/tests/ui/pass/dse/graph_read_token_preserved.snap
  libs/@local/hashql/mir/tests/ui/pass/dse/live-in-branch.jsonc
  libs/@local/hashql/mir/tests/ui/pass/dse/live-in-branch.stdout
  libs/@local/hashql/mir/tests/ui/pass/dse/nested-tuple-projection.jsonc
  libs/@local/hashql/mir/tests/ui/pass/dse/nested-tuple-projection.stdout
  libs/@local/hashql/mir/tests/ui/pass/dse/showcase.aux.svg
  libs/@local/hashql/mir/tests/ui/pass/dse/showcase.jsonc
  libs/@local/hashql/mir/tests/ui/pass/dse/showcase.stdout
  libs/@local/hashql/mir/tests/ui/pass/dse/simple-dead-local.jsonc
  libs/@local/hashql/mir/tests/ui/pass/dse/simple-dead-local.stdout
  libs/@local/hashql/mir/tests/ui/pass/dse/single_dead_assignment.snap
  libs/@local/hashql/mir/tests/ui/pass/dse/used-local-preserved.jsonc
  libs/@local/hashql/mir/tests/ui/pass/dse/used-local-preserved.stdout
Due: rust, toml

fix PR review catches
  apps/hash-ai-agent/.gitignore
  apps/hash-ai-agent/src/mastra/constants.ts
  apps/hash-ai-agent/src/mastra/index.ts
  apps/hash-ai-agent/src/mastra/utils/json-schema-to-zod.quokka.ts
  package.json
Due: prettier

untrack generated schema fixtures; rename the pkg script to "codegen"; add to turbo
  apps/hash-ai-agent/.gitignore
  apps/hash-ai-agent/package.json
  apps/hash-ai-agent/src/mastra/fixtures/entity-schemas/organization.bundled.json
  apps/hash-ai-agent/src/mastra/fixtures/entity-schemas/organization.dereferenced.json
  apps/hash-ai-agent/src/mastra/fixtures/entity-schemas/organization.ts
  apps/hash-ai-agent/src/mastra/fixtures/entity-schemas/person.bundled.json
  apps/hash-ai-agent/src/mastra/fixtures/entity-schemas/person.dereferenced.json
  apps/hash-ai-agent/src/mastra/fixtures/entity-schemas/person.ts
  apps/hash-ai-agent/turbo.json
Due: prettier, yarn

feat: remove bumpalo from type inference
  libs/@local/hashql/core/src/type/inference/solver/mod.rs
  libs/@local/hashql/core/src/type/inference/solver/tests.rs
Due: rust

various lint / fix ops
  apps/hash-ai-agent/package.json
  apps/hash-ai-agent/src/mastra/constants.ts
  apps/hash-ai-agent/src/mastra/index.ts
  yarn.lock
Due: prettier, yarn

chore: checkpoint
  libs/@local/hashql/core/src/heap/allocator.rs
  libs/@local/hashql/core/src/heap/mod.rs
Due: rust

add .gitkeep and modify .gitignore to ensure entity schemas fixture dir is present
  apps/hash-ai-agent/.gitignore
  apps/hash-ai-agent/src/mastra/fixtures/entity-schemas/.gitkeep
Due: none

better solution to fixtures
  apps/hash-ai-agent/.gitignore
  apps/hash-ai-agent/src/mastra/fixtures/entity-schemas/.gitkeep
  apps/hash-ai-agent/src/mastra/fixtures/generate-schemas.ts
Due: prettier

Add Integration source type for provenance
  libs/@blockprotocol/type-system/rust/src/provenance/source.rs
  libs/@local/graph/api/openapi/openapi.json
Due: prettier, rust

Only check for `UpdateEntity` if there are actual update params
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/store/src/entity/store.rs
Due: rust
