Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, prettier, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: yarn run markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    prettier:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: yarn run prettier --write {staged_files} || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:packagejson && yarn fix:yarn-deduplicate
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: cargo fmt -- {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: yarn run taplo format {staged_files} || true
      stage_fixed: true

fix old format conversion in local storage
  libs/@hashintel/petrinaut/demo-site/main/app.tsx
  libs/@hashintel/petrinaut/demo-site/main/app/use-local-storage-sdcpns.ts
  libs/@hashintel/petrinaut/src/old-formats/convert-old-format.ts
Due: prettier

fix type handling
  libs/@hashintel/petrinaut/demo-site/main/app.tsx
Due: prettier

Allow pre-existing "vector" extension in similarity search migration
  libs/@local/graph/postgres-store/postgres_migrations/V12__similarity_search.sql
Due: sqlfluff

BE-225: Add `IF NOT EXISTS` to vector extension creation (#8144)
  libs/@local/graph/postgres-store/postgres_migrations/V12__similarity_search.sql
Due: sqlfluff

add aviationstack flight API types, and corresponding HASH types
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/025-add-aviation-types.dev.migration.ts
  libs/@local/hash-backend-utils/src/integrations/aviation/aviation-stack-client.ts
  libs/@local/hash-backend-utils/src/integrations/aviation/aviation-stack-client/flights.ts
  libs/@local/hash-backend-utils/src/integrations/aviation/aviation-stack-client/types.ts
Due: prettier

BE-226: Increase stack size when evaluating Cedar policies
  Cargo.lock
  Cargo.toml
  libs/@local/graph/authorization/Cargo.toml
  libs/@local/graph/authorization/src/policies/set/mod.rs
Due: rust, toml

Move out magic numbers into constants
  libs/@local/graph/authorization/src/policies/set/mod.rs
Due: rust

BE-226: Increase stack size when evaluating Cedar policies (#8146)
  Cargo.lock
  Cargo.toml
  libs/@local/graph/authorization/Cargo.toml
  libs/@local/graph/authorization/src/policies/set/mod.rs
Due: rust, toml

feat: move parsing to `Number`
  libs/@local/hashql/syntax-jexpr/src/lexer/mod.rs
  libs/@local/hashql/syntax-jexpr/src/lexer/number.rs
  libs/@local/hashql/syntax-jexpr/src/lexer/parse.rs
  libs/@local/hashql/syntax-jexpr/src/lexer/token_kind.rs
  libs/@local/hashql/syntax-jexpr/src/parser/object/literal.rs
Due: rust

feat: number parser
  Cargo.lock
  Cargo.toml
  libs/@local/hashql/syntax-jexpr/Cargo.toml
  libs/@local/hashql/syntax-jexpr/src/lexer/error.rs
  libs/@local/hashql/syntax-jexpr/src/lexer/mod.rs
  libs/@local/hashql/syntax-jexpr/src/lexer/number.rs
  libs/@local/hashql/syntax-jexpr/src/lexer/parse.rs
  libs/@local/hashql/syntax-jexpr/src/lexer/snapshots/hashql_syntax_jexpr__lexer__test__invalid_number.snap.new
  libs/@local/hashql/syntax-jexpr/src/lib.rs
  libs/@local/hashql/syntax-jexpr/src/parser/state.rs
Due: rust, toml

feat: update snapshots
  libs/@local/hashql/syntax-jexpr/src/lexer/number.rs
  libs/@local/hashql/syntax-jexpr/src/lexer/snapshots/hashql_syntax_jexpr__lexer__test__double_minus.snap
  libs/@local/hashql/syntax-jexpr/src/lexer/snapshots/hashql_syntax_jexpr__lexer__test__invalid_exponent.snap
  libs/@local/hashql/syntax-jexpr/src/lexer/snapshots/hashql_syntax_jexpr__lexer__test__invalid_number.snap
  libs/@local/hashql/syntax-jexpr/src/lexer/snapshots/hashql_syntax_jexpr__lexer__test__leading_zero.snap
Due: rust

fix: docs
  libs/@local/hashql/syntax-jexpr/src/lexer/number.rs
Due: rust

Apply suggestions from code review
  apps/hash-graph/src/subcommand/mod.rs
  libs/@local/graph/postgres-store/src/ontology/mod.rs
Due: rust

fix: docs
  libs/@local/hashql/mir/src/pass/transform/cfg_simplify/mod.rs
  libs/@local/hashql/mir/src/pass/transform/ssa_repair/mod.rs
  libs/error-stack/tests/common.rs
  libs/error-stack/tests/test_debug.rs
Due: rust

fix: docs
  libs/@local/hashql/mir/src/tests/builder.rs
Due: rust

Add workflow to check for @todo comments with ticket IDs
  .github/workflows/check-todo-linear-tickets.yml
Due: prettier

Improve ticket ID extraction in PR title workflow
  .github/workflows/check-todo-linear-tickets.yml
Due: prettier

Improve TODO comment detection in Linear ticket workflow
  .github/workflows/check-todo-linear-tickets.yml
Due: prettier

chore: openapi
  libs/@local/graph/api/openapi/openapi.json
Due: prettier

Improve TODO ticket detection with multiline pattern matching
  .github/workflows/check-todo-linear-tickets.yml
Due: prettier

Add ripgrep installation check to workflow
  .github/workflows/check-todo-linear-tickets.yml
Due: prettier

Simplify TODO ticket pattern matching in GitHub workflow
  .github/workflows/check-todo-linear-tickets.yml
Due: prettier

Auto-install ripgrep in GitHub workflow
  .github/workflows/check-todo-linear-tickets.yml
Due: prettier

Fix error handling in Linear ticket TODO check workflow
  .github/workflows/check-todo-linear-tickets.yml
Due: prettier

fix: comment
  libs/@local/hashql/syntax-jexpr/src/lexer/number.rs
Due: rust

SRE-191: Add workflow to check for @todo comments with ticket IDs (#8147)
  .github/workflows/check-todo-linear-tickets.yml
Due: prettier

initial setup of mastra + bump of packages to beta + codemods
  apps/hash-agentic-workflows/.cursor/mcp.json
  apps/hash-agentic-workflows/.gitignore
  apps/hash-agentic-workflows/mise.toml
  apps/hash-agentic-workflows/package.json
  apps/hash-agentic-workflows/src/mastra/agents/weather-agent.ts
  apps/hash-agentic-workflows/src/mastra/index.ts
  apps/hash-agentic-workflows/src/mastra/scorers/weather-scorer.ts
  apps/hash-agentic-workflows/src/mastra/tools/weather-tool.ts
  apps/hash-agentic-workflows/src/mastra/workflows/weather-workflow.ts
  apps/hash-agentic-workflows/tsconfig.json
  yarn.lock
Due: prettier, yarn, toml

align config w hash monorepo
  apps/hash-agentic-workflows/mise.toml
  apps/hash-agentic-workflows/package.json
  apps/hash-agentic-workflows/turbo.json
  yarn.lock
Due: prettier, yarn, toml

Update Place name validation error text
  libs/@hashintel/petrinaut/src/views/Editor/components/PropertiesPanel/place-properties.tsx
Due: prettier

Jump to Item -> Edit Item, will jump in Edit Mode
  libs/@hashintel/petrinaut/src/views/Editor/components/LeftSideBar/simulation-state-section.tsx
Due: prettier

Remove backdrop-blur issue for Monaco, and use refractive for ModeSelector and BottomBar
  libs/@hashintel/petrinaut/package.json
  libs/@hashintel/petrinaut/src/views/Editor/components/BottomBar/bottom-bar.tsx
  libs/@hashintel/petrinaut/src/views/Editor/components/PropertiesPanel/properties-panel.tsx
  libs/@hashintel/petrinaut/src/views/Editor/components/mode-selector.tsx
  yarn.lock
Due: prettier, yarn

Fix splitPascalCase to accept acronyms + numbers
  libs/@hashintel/petrinaut/src/lib/split-pascal-case.test.ts
  libs/@hashintel/petrinaut/src/lib/split-pascal-case.ts
Due: prettier

Gray out MonacoEditor instances when in simulate mode
  libs/@hashintel/petrinaut/src/views/Editor/components/PropertiesPanel/differential-equation-properties.tsx
  libs/@hashintel/petrinaut/src/views/Editor/components/PropertiesPanel/transition-properties.tsx
Due: prettier

rename app to hash-ai-agent, for alignment
  apps/hash-ai-agent/.cursor/mcp.json
  apps/hash-ai-agent/.gitignore
  apps/hash-ai-agent/package.json
  apps/hash-ai-agent/src/mastra/agents/weather-agent.ts
  apps/hash-ai-agent/src/mastra/index.ts
  apps/hash-ai-agent/src/mastra/scorers/weather-scorer.ts
  apps/hash-ai-agent/src/mastra/tools/weather-tool.ts
  apps/hash-ai-agent/src/mastra/workflows/weather-workflow.ts
  apps/hash-ai-agent/tsconfig.json
  apps/hash-ai-agent/turbo.json
  yarn.lock
Due: prettier, yarn

complete part 1 of mastra course
  apps/hash-ai-agent/src/mastra/agents/financial-agent.ts
  apps/hash-ai-agent/src/mastra/index.ts
  apps/hash-ai-agent/src/mastra/tools/get-transactions-tool.ts
Due: prettier

Add changeset
  .changeset/quiet-geese-travel.md
Due: markdownlint, prettier

Add Menu item to Export without Visual Info
  libs/@hashintel/petrinaut/src/views/Editor/editor-view.tsx
  libs/@hashintel/petrinaut/src/views/Editor/lib/export-sdcpn.ts
  libs/@hashintel/petrinaut/src/views/Editor/lib/remove-visual-info.ts
Due: prettier

complete part 2 of mastra course
  apps/hash-ai-agent/.cursor/mcp.json
  apps/hash-ai-agent/package.json
  apps/hash-ai-agent/src/mastra/agents/financial-agent.ts
  apps/hash-ai-agent/src/mastra/agents/mcp-config.ts
  apps/hash-ai-agent/src/mastra/tools/get-transactions-tool.ts
  yarn.lock
Due: prettier, yarn
