Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

markdownlint:
  tags:
  - frontend
  - style
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

biome:
  tags:
  - frontend
  - style
  run: biome format --write --staged || true
  stage_fixed: true

yarn:
  tags:
  - frontend
  - style
  run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
  stage_fixed: true

sqlfluff:
  tags:
  - backend
  - style
  run: sqlfluff fix {staged_files} || true
  stage_fixed: true

rust:
  tags:
  - backend
  - style
  run: rustfmt {staged_files} || true
  stage_fixed: true

toml:
  tags:
  - backend
  - style
  run: taplo format {staged_files} || true
  stage_fixed: true

Fix detailed view latching in network graph
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/network-graph.tsx
Due: biome

check against verified emails in allowlist
  apps/hash-api/src/shared/user-has-access-to-hash.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/user.test.ts
Due: biome

restore test
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/user.test.ts
Due: biome

refactor: enforce typed artifact bindings
  libs/@local/graph/atlas/src/file/salt/artifact.rs
  libs/@local/graph/atlas/src/file/salt/mod.rs
  libs/@local/graph/atlas/src/salt/fit/compute/coordinates.rs
  libs/@local/graph/atlas/src/salt/fit/compute/landmark.rs
  libs/@local/graph/atlas/src/salt/fit/compute/mod.rs
  libs/@local/graph/atlas/src/salt/fit/compute/projector/evidence.rs
  libs/@local/graph/atlas/src/salt/fit/compute/projector/inputs.rs
  libs/@local/graph/atlas/src/salt/fit/compute/projector/mod.rs
  libs/@local/graph/atlas/src/salt/fit/compute/projector/report.rs
  libs/@local/graph/atlas/src/salt/fit/compute/projector/tests.rs
  libs/@local/graph/atlas/src/salt/fit/compute/quotient.rs
  libs/@local/graph/atlas/src/salt/fit/error.rs
  libs/@local/graph/atlas/src/salt/fit/mod.rs
  libs/@local/graph/atlas/src/salt/projector/artifact/mod.rs
  libs/@local/graph/atlas/src/salt/projector/artifact/tests.rs
  libs/@local/graph/atlas/src/salt/projector/train/fit/session/mod.rs
  libs/@local/graph/atlas/src/salt/projector/verdict/mod.rs
  libs/@local/graph/atlas/src/salt/vector.rs
Due: rust

docs: clarify atlas terminology
  libs/@local/graph/atlas/src/device.rs
  libs/@local/graph/atlas/src/file/array/write.rs
  libs/@local/graph/atlas/src/file/generation/tests.rs
  libs/@local/graph/atlas/src/file/mod.rs
  libs/@local/graph/atlas/src/file/repository/mod.rs
  libs/@local/graph/atlas/src/file/salt/artifact.rs
  libs/@local/graph/atlas/src/lib.rs
  libs/@local/graph/atlas/src/salt/adjacency/mod.rs
  libs/@local/graph/atlas/src/salt/fit/compute/coordinates.rs
  libs/@local/graph/atlas/src/salt/fit/compute/lod.rs
  libs/@local/graph/atlas/src/salt/fit/compute/mod.rs
  libs/@local/graph/atlas/src/salt/fit/compute/projector/mod.rs
  libs/@local/graph/atlas/src/salt/fit/compute/quotient.rs
  libs/@local/graph/atlas/src/salt/fit/compute/relation.rs
  libs/@local/graph/atlas/src/salt/fit/tests.rs
  libs/@local/graph/atlas/src/salt/importance/mod.rs
  libs/@local/graph/atlas/src/salt/ladder/error.rs
  libs/@local/graph/atlas/src/salt/ladder/mod.rs
  libs/@local/graph/atlas/src/salt/ladder/paired/mod.rs
  libs/@local/graph/atlas/src/salt/lod/bench.rs
  libs/@local/graph/atlas/src/salt/lod/tests.rs
  libs/@local/graph/atlas/src/salt/projector/artifact/mod.rs
  libs/@local/graph/atlas/src/salt/projector/bench/mod.rs
  libs/@local/graph/atlas/src/salt/projector/train/fit/session/mod.rs
  libs/@local/graph/atlas/src/salt/projector/train/mod.rs
  libs/@local/graph/atlas/src/salt/projector/train/tests.rs
  libs/@local/graph/atlas/src/salt/quality/report/document.rs
  libs/@local/graph/atlas/src/salt/quality/report/mod.rs
  libs/@local/graph/atlas/src/salt/quality/tests.rs
  libs/@local/graph/atlas/src/salt/relation/artifact.rs
  libs/@local/graph/atlas/src/salt/runner/mod.rs
  libs/@local/graph/atlas/src/salt/runner/tests.rs
  libs/@local/graph/atlas/src/salt/vector.rs
  libs/@local/graph/atlas/src/serve/mod.rs
  libs/@local/graph/atlas/src/serve/tests/schedule.rs
Due: rust

Add size stories
  libs/@hashintel/ds-components/src/components/Filter/sort-menu.stories.tsx
Due: biome

Better initial tile load
  apps/hash-frontend/src/pages/shared/entities-visualizer/network-graph-view.tsx
Due: biome

Button icon size adjustments
  libs/@hashintel/ds-components/src/components/Button/button.recipe.ts
  libs/@hashintel/ds-components/src/components/Button/button.tsx
  libs/@hashintel/ds-components/src/components/Filter/sort-menu.recipe.ts
  libs/@hashintel/ds-components/src/components/Filter/sort-menu.tsx
Due: biome

remove test again (moved to another branch)
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/user.test.ts
Due: biome

Update ds-component changeset descriptions
  .changeset/fe-1181-use-scroll-lock.md
  .changeset/lazy-spiders-float.md
  .changeset/orange-lemons-doubt.md
  .changeset/purple-lights-grin.md
  .changeset/ripe-bears-invent.md
  .changeset/shiny-wombats-enjoy.md
  .changeset/shy-turkeys-pump.md
  .changeset/smart-mammals-sell.md
  .changeset/wicked-meteors-unite.md
Due: markdownlint, biome

Switch petrinaut changesets from minor to patch
  .changeset/petrinaut-actual-mode.md
Due: markdownlint, biome

Adjust sort menu icon size
  libs/@hashintel/ds-components/src/components/Filter/sort-menu.recipe.ts
  libs/@hashintel/ds-components/src/components/Filter/sort-menu.stories.tsx
  libs/@hashintel/ds-components/src/components/Filter/sort-menu.tsx
Due: biome

feat: configure atlas compute device
  libs/@local/graph/atlas/src/cli/fit.rs
  libs/@local/graph/atlas/src/cli/mod.rs
  libs/@local/graph/atlas/src/cli/report/ladder.rs
  libs/@local/graph/atlas/src/cli/serve.rs
  libs/@local/graph/atlas/src/device.rs
  libs/@local/graph/atlas/src/salt/fit/compute/projector/derive.rs
  libs/@local/graph/atlas/src/salt/fit/compute/projector/mod.rs
  libs/@local/graph/atlas/src/salt/fit/compute/projector/report.rs
  libs/@local/graph/atlas/src/salt/fit/compute/projector/tests.rs
  libs/@local/graph/atlas/src/salt/fit/compute/quotient.rs
  libs/@local/graph/atlas/src/salt/projector/train/batch/draw.rs
  libs/@local/graph/atlas/src/salt/projector/train/fit/evidence.rs
  libs/@local/graph/atlas/src/salt/projector/train/fit/options.rs
  libs/@local/graph/atlas/src/salt/projector/train/fit/session/boundary.rs
  libs/@local/graph/atlas/src/salt/projector/train/mod.rs
  libs/@local/graph/atlas/src/salt/runner/live.rs
  libs/@local/graph/atlas/src/salt/runner/mod.rs
  libs/@local/graph/atlas/src/salt/runner/tests.rs
  libs/@local/graph/atlas/src/salt/semantic/mod.rs
Due: rust

H-6771: Prevent additional emails at signup, only use verified emails when fetching org invites (#9245)
  apps/hash-api/src/auth/create-auth-handlers.ts
  apps/hash-api/src/graph/knowledge/system-types/user.ts
  apps/hash-api/src/shared/user-has-access-to-hash.ts
  infra/compose/kratos/identity.schema.json
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/user.test.ts
Due: biome

FE-1454: add sort menu to ds (#9251)
  .changeset/funny-carrots-happen.md
  libs/@hashintel/ds-components/src/components/Button/button.recipe.ts
  libs/@hashintel/ds-components/src/components/Button/button.tsx
  libs/@hashintel/ds-components/src/components/Filter/filter-group.tsx
  libs/@hashintel/ds-components/src/components/Filter/filter.stories.tsx
  libs/@hashintel/ds-components/src/components/Filter/sort-menu-util.ts
  libs/@hashintel/ds-components/src/components/Filter/sort-menu.recipe.ts
  libs/@hashintel/ds-components/src/components/Filter/sort-menu.stories.tsx
  libs/@hashintel/ds-components/src/components/Filter/sort-menu.tsx
  libs/@hashintel/ds-components/src/components/Icon/icon.tsx
  libs/@hashintel/ds-components/src/components/Icon/svgs/regular/arrow-down-a-z.svg
  libs/@hashintel/ds-components/src/components/Icon/svgs/regular/arrow-up-z-a.svg
  libs/@hashintel/ds-components/src/components/Menu/SelectableList/selectable-list-item.recipe.ts
  libs/@hashintel/ds-components/src/components/Menu/SelectableList/selectable-list-util.ts
  libs/@hashintel/ds-components/src/components/Menu/SelectableList/selectable-list.fixtures.tsx
  libs/@hashintel/ds-components/src/components/Menu/SelectableList/selectable-list.recipe.ts
  libs/@hashintel/ds-components/src/components/Menu/SelectableList/selectable-list.stories.tsx
  libs/@hashintel/ds-components/src/components/Menu/SelectableList/selectable-list.tsx
  libs/@hashintel/ds-components/src/components/Menu/menu.tsx
  libs/@hashintel/ds-components/src/main.ts
  sort-menu-stories-reorg.png
Due: markdownlint, biome

chore: checkpoint
  libs/@local/graph/atlas/src/file/salt/metadata.rs
Due: rust

FE-1463: update changeset descriptions and petrinaut changeset versions. (#9257)
  .changeset/fe-1181-use-scroll-lock.md
  .changeset/lazy-spiders-float.md
  .changeset/orange-lemons-doubt.md
  .changeset/petrinaut-actual-mode.md
  .changeset/purple-lights-grin.md
  .changeset/ripe-bears-invent.md
  .changeset/shiny-wombats-enjoy.md
  .changeset/shy-turkeys-pump.md
  .changeset/smart-mammals-sell.md
  .changeset/wicked-meteors-unite.md
Due: markdownlint, biome

comment cleanup
  apps/hash-api/src/auth/kratos-endpoint-allowlist.test.ts
  apps/hash-api/src/auth/kratos-endpoint-allowlist.ts
Due: biome

Fix ladle controls in DS
  libs/@hashintel/ds-components/src/components/Avatar/avatar.stories.tsx
  libs/@hashintel/ds-components/src/components/AvatarGroup/avatar-group.stories.tsx
  libs/@hashintel/ds-components/src/components/Badge/badge.stories.tsx
  libs/@hashintel/ds-components/src/components/Button/button.stories.tsx
  libs/@hashintel/ds-components/src/components/ButtonGroup/button-group.stories.tsx
  libs/@hashintel/ds-components/src/components/CharacterCount/character-count.stories.tsx
  libs/@hashintel/ds-components/src/components/Checkbox/checkbox.stories.tsx
  libs/@hashintel/ds-components/src/components/CheckboxGroup/checkbox-group.stories.tsx
  libs/@hashintel/ds-components/src/components/Chip/chip.stories.tsx
  libs/@hashintel/ds-components/src/components/Icon/icon.stories.tsx
  libs/@hashintel/ds-components/src/components/Loading/loading-spinner.stories.tsx
  libs/@hashintel/ds-components/src/components/Menu/SelectableList/selectable-list.stories.tsx
  libs/@hashintel/ds-components/src/components/Menu/menu.stories.tsx
  libs/@hashintel/ds-components/src/components/Radio/radio.stories.tsx
  libs/@hashintel/ds-components/src/components/RadioGroup/radio-group.stories.tsx
  libs/@hashintel/ds-components/src/components/RightClickMenu/right-click-menu.stories.tsx
  libs/@hashintel/ds-components/src/components/SegmentedControl/segmented-control.stories.tsx
  libs/@hashintel/ds-components/src/components/Slider/slider.stories.tsx
  libs/@hashintel/ds-components/src/components/Toggle/toggle.stories.tsx
Due: biome

chore: clarify panic documentation
  libs/@local/graph/atlas/src/file/salt/metadata.rs
  libs/@local/graph/atlas/src/salt/quality/clump.rs
  libs/@local/graph/atlas/src/salt/relation/build.rs
Due: rust

refactor: isolate compute stage errors
  libs/@local/graph/atlas/src/device.rs
  libs/@local/graph/atlas/src/salt/fit/compute/classifier.rs
  libs/@local/graph/atlas/src/salt/fit/compute/error.rs
  libs/@local/graph/atlas/src/salt/fit/compute/landmark.rs
  libs/@local/graph/atlas/src/salt/fit/compute/lod.rs
  libs/@local/graph/atlas/src/salt/fit/compute/mod.rs
  libs/@local/graph/atlas/src/salt/fit/compute/neighbours.rs
  libs/@local/graph/atlas/src/salt/fit/compute/policy.rs
  libs/@local/graph/atlas/src/salt/fit/compute/projector/mod.rs
  libs/@local/graph/atlas/src/salt/fit/compute/projector/tests.rs
  libs/@local/graph/atlas/src/salt/fit/compute/quotient.rs
  libs/@local/graph/atlas/src/salt/fit/compute/relation.rs
  libs/@local/graph/atlas/src/salt/policy/artifact/mod.rs
  libs/@local/graph/atlas/src/salt/policy/artifact/tests.rs
  libs/@local/graph/atlas/src/salt/policy/mod.rs
  libs/@local/graph/atlas/src/salt/policy/precedence/mod.rs
  libs/@local/graph/atlas/src/salt/policy/precedence/tests.rs
  libs/@local/graph/atlas/src/salt/relation/mod.rs
Due: rust

fix: reject estimand narrowing overflow
  libs/@local/graph/atlas/src/math/derivation.rs
  libs/@local/graph/atlas/src/math/scalar/finite.rs
  libs/@local/graph/atlas/src/salt/projector/loss/objective/mod.rs
  libs/@local/graph/atlas/src/salt/projector/loss/objective/tests.rs
  libs/@local/graph/atlas/src/salt/projector/train/fit/error.rs
Due: rust

feat: serve post-fit links across routes
  libs/@local/graph/atlas/docs/wire.md
  libs/@local/graph/atlas/src/serve/delta/register.rs
  libs/@local/graph/atlas/src/serve/delta/snapshot.rs
  libs/@local/graph/atlas/src/serve/locate.rs
  libs/@local/graph/atlas/src/serve/neighbourhood.rs
  libs/@local/graph/atlas/src/serve/tests/arrival.rs
  libs/@local/graph/atlas/src/serve/tests/delta_edges.rs
  libs/@local/graph/atlas/src/serve/tests/masking.rs
  libs/@local/graph/atlas/src/serve/tests/mod.rs
  libs/@local/graph/atlas/src/serve/tests/schedule.rs
  libs/@local/graph/atlas/src/serve/tile.rs
  libs/@local/graph/atlas/src/serve/translate.rs
Due: markdownlint, biome, rust

chore: widen placement visibility
  libs/@local/graph/atlas/src/serve/delta/mod.rs
  libs/@local/graph/atlas/src/serve/delta/placement.rs
Due: rust

FE-1270: Extract Python bindings for the Petrinaut CLI
  .github/workflows/deploy.yml
  apps/petrinaut-opt/README.md
  apps/petrinaut-opt/docker/Dockerfile
  apps/petrinaut-opt/openapi/openapi.json
  apps/petrinaut-opt/package.json
  apps/petrinaut-opt/pyproject.toml
  apps/petrinaut-opt/src/optimization_api.py
  apps/petrinaut-opt/src/optimization_runs.py
  apps/petrinaut-opt/src/petrinaut_optimizer.py
  apps/petrinaut-opt/tests/test_optimization_api.py
  apps/petrinaut-opt/tests/test_optimization_runs.py
  apps/petrinaut-opt/tests/test_petrinaut_optimizer.py
  apps/petrinaut-opt/turbo.json
  apps/petrinaut-opt/uv.lock
  libs/@hashintel/petrinaut-cli/README.md
  libs/@local/petrinaut-python/LICENSE-APACHE.md
  libs/@local/petrinaut-python/LICENSE-MIT.md
  libs/@local/petrinaut-python/LICENSE.md
  libs/@local/petrinaut-python/README.md
  libs/@local/petrinaut-python/package.json
  libs/@local/petrinaut-python/pyproject.toml
  libs/@local/petrinaut-python/src/petrinaut/__init__.py
  libs/@local/petrinaut-python/src/petrinaut/errors.py
  libs/@local/petrinaut-python/src/petrinaut/optimization.py
  libs/@local/petrinaut-python/src/petrinaut/session.py
  libs/@local/petrinaut-python/tests/conftest.py
  libs/@local/petrinaut-python/tests/test_e2e_cli.py
  libs/@local/petrinaut-python/tests/test_optimization_session.py
  libs/@local/petrinaut-python/tests/test_session.py
  libs/@local/petrinaut-python/uv.lock
  yarn.lock
Due: markdownlint, biome, yarn, toml

FE-1467: Lint and type-check the Python packages in CI
  .github/workflows/lint.yml
  apps/petrinaut-opt/package.json
  apps/petrinaut-opt/pyproject.toml
  apps/petrinaut-opt/scripts/generate_openapi.py
  apps/petrinaut-opt/src/optimization_api.py
  apps/petrinaut-opt/src/optimization_runs.py
  apps/petrinaut-opt/src/petrinaut_optimizer.py
  apps/petrinaut-opt/src/telemetry.py
  apps/petrinaut-opt/src/utils.py
  apps/petrinaut-opt/tests/test_optimization_api.py
  apps/petrinaut-opt/tests/test_optimization_runs.py
  apps/petrinaut-opt/tests/test_petrinaut_optimizer.py
  apps/petrinaut-opt/uv.lock
  libs/@local/petrinaut-python/package.json
  libs/@local/petrinaut-python/pyproject.toml
  libs/@local/petrinaut-python/src/petrinaut/optimization.py
  libs/@local/petrinaut-python/src/petrinaut/session.py
  libs/@local/petrinaut-python/tests/test_optimization_session.py
  libs/@local/petrinaut-python/tests/test_session.py
  libs/@local/petrinaut-python/uv.lock
  package.json
  turbo.json
Due: biome, yarn, toml

FE-1468: Generate pydantic models from the CLI's protocol schemas
  .changeset/petrinaut-protocol-response-schemas.md
  apps/petrinaut-opt/pyproject.toml
  apps/petrinaut-opt/src/optimization_api.py
  apps/petrinaut-opt/src/petrinaut_optimizer.py
  apps/petrinaut-opt/src/telemetry.py
  apps/petrinaut-opt/uv.lock
  libs/@hashintel/petrinaut-cli/package.json
  libs/@hashintel/petrinaut-cli/schemas/optimization-protocol.schema.json
  libs/@hashintel/petrinaut-cli/scripts/generate-protocol-schemas.ts
  libs/@hashintel/petrinaut-cli/turbo.json
  libs/@hashintel/petrinaut-core/src/index.ts
  libs/@hashintel/petrinaut-core/src/optimization.ts
  libs/@local/petrinaut-python/README.md
  libs/@local/petrinaut-python/package.json
  libs/@local/petrinaut-python/pyproject.toml
  libs/@local/petrinaut-python/scripts/generate-models.sh
  libs/@local/petrinaut-python/src/petrinaut/__init__.py
  libs/@local/petrinaut-python/src/petrinaut/models.py
  libs/@local/petrinaut-python/src/petrinaut/optimization.py
  libs/@local/petrinaut-python/src/petrinaut/py.typed
  libs/@local/petrinaut-python/src/petrinaut/session.py
  libs/@local/petrinaut-python/tests/test_e2e_cli.py
  libs/@local/petrinaut-python/tests/test_optimization_session.py
  libs/@local/petrinaut-python/turbo.json
  libs/@local/petrinaut-python/uv.lock
  yarn.lock
Due: markdownlint, biome, yarn, toml

FE-1412: Scale the Python client's timeout for seeded trials
  apps/petrinaut-opt/README.md
  libs/@local/petrinaut-python/README.md
  libs/@local/petrinaut-python/src/petrinaut/optimization.py
  libs/@local/petrinaut-python/src/petrinaut/session.py
  libs/@local/petrinaut-python/tests/test_e2e_cli.py
  libs/@local/petrinaut-python/tests/test_optimization_session.py
Due: markdownlint, biome

FE-1414: Support Python packages in the architecture docs
  apps/petrinaut-opt/src/optimization_api.py
  libs/@local/petrinaut-arch-docs/architecture.config.ts
  libs/@local/petrinaut-arch-docs/content/index.mdx
  libs/@local/petrinaut-arch-docs/content/maintaining.mdx
  libs/@local/petrinaut-arch-docs/content/optimizer/subprocess-boundary.mdx
  libs/@local/petrinaut-arch-docs/package.json
  libs/@local/petrinaut-arch-docs/src/emit/d2.ts
  libs/@local/petrinaut-arch-docs/src/extract.ts
  libs/@local/petrinaut-arch-docs/src/scope.ts
  libs/@local/petrinaut-arch-docs/src/tags.test.ts
  libs/@local/petrinaut-arch-docs/src/tags.ts
  libs/@local/petrinaut-python/src/petrinaut/__init__.py
  yarn.lock
Due: biome, yarn

FE-1447: Emit layer facts and relations as structured data with card components
  apps/petrinaut-docs/astro.config.mjs
  apps/petrinaut-docs/scripts/sync-bundle.mjs
  libs/@local/petrinaut-arch-docs/README.md
  libs/@local/petrinaut-arch-docs/content/maintaining/declaring-layers.mdx
  libs/@local/petrinaut-arch-docs/src/build.ts
  libs/@local/petrinaut-arch-docs/src/emit/components/layer-cards.css
  libs/@local/petrinaut-arch-docs/src/emit/components/layer-facts.tsx
  libs/@local/petrinaut-arch-docs/src/emit/components/layer-links.tsx
  libs/@local/petrinaut-arch-docs/src/emit/components/layer-relations.tsx
  libs/@local/petrinaut-arch-docs/src/emit/components/layer-source.tsx
  libs/@local/petrinaut-arch-docs/src/emit/mdx.test.ts
  libs/@local/petrinaut-arch-docs/src/emit/mdx.ts
  libs/@local/petrinaut-arch-docs/src/emit/shipped-components.ts
  libs/@local/petrinaut-arch-docs/tsconfig.json
Due: markdownlint, biome

FE-1415: Generate import edges for Python packages
  libs/@local/petrinaut-arch-docs/content/index.mdx
  libs/@local/petrinaut-arch-docs/src/build.ts
  libs/@local/petrinaut-arch-docs/src/emit/components/layer-relations.tsx
  libs/@local/petrinaut-arch-docs/src/graph.test.ts
  libs/@local/petrinaut-arch-docs/src/graph.ts
  libs/@local/petrinaut-arch-docs/src/python-imports.test.ts
  libs/@local/petrinaut-arch-docs/src/python-imports.ts
  libs/@local/petrinaut-arch-docs/src/scope.ts
Due: biome

FE-1443: Declare protocol edges for import-invisible boundaries
  AGENTS.md
  libs/@local/petrinaut-arch-docs/README.md
  libs/@local/petrinaut-arch-docs/content/maintaining/declaring-layers.mdx
  libs/@local/petrinaut-arch-docs/src/build.ts
  libs/@local/petrinaut-arch-docs/src/check.test.ts
  libs/@local/petrinaut-arch-docs/src/check.ts
  libs/@local/petrinaut-arch-docs/src/emit/bundle-outputs.ts
  libs/@local/petrinaut-arch-docs/src/emit/d2.test.ts
  libs/@local/petrinaut-arch-docs/src/emit/d2.ts
  libs/@local/petrinaut-arch-docs/src/emit/mdx.test.ts
  libs/@local/petrinaut-arch-docs/src/emit/mdx.ts
  libs/@local/petrinaut-arch-docs/src/extract.ts
  libs/@local/petrinaut-arch-docs/src/graph.test.ts
  libs/@local/petrinaut-arch-docs/src/graph.ts
  libs/@local/petrinaut-arch-docs/src/model.ts
  libs/@local/petrinaut-arch-docs/src/tags.test.ts
  libs/@local/petrinaut-arch-docs/src/tags.ts
  libs/@local/petrinaut-python/src/petrinaut/session.py
Due: markdownlint, biome

FE-1457: Point source links at the branch being built
  apps/petrinaut-docs/vercel-build.sh
  libs/@local/petrinaut-arch-docs/README.md
  libs/@local/petrinaut-arch-docs/architecture.config.ts
  libs/@local/petrinaut-arch-docs/src/cli.ts
  libs/@local/petrinaut-arch-docs/src/source-url.test.ts
  libs/@local/petrinaut-arch-docs/src/source-url.ts
  libs/@local/petrinaut-arch-docs/turbo.json
Due: markdownlint, biome

FE-1456: Add a usage manual for the Python bindings
  libs/@local/petrinaut-arch-docs/content/cli/usage-manual.mdx
  libs/@local/petrinaut-arch-docs/content/python-bindings/usage-manual.mdx
Due: biome

Path conditions:
  markdownlint: any of: *.md
  biome: any of: *.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}
  yarn: any of: {*/package.json, package.json}
  sqlfluff: any of: *.sql
  rust: any of: *.rs
  toml: any of: *.toml
