Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

markdownlint:
  tags:
  - frontend
  - style
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

biome:
  tags:
  - frontend
  - style
  run: biome format --write --staged || true
  stage_fixed: true

yarn:
  tags:
  - frontend
  - style
  run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
  stage_fixed: true

sqlfluff:
  tags:
  - backend
  - style
  run: sqlfluff fix {staged_files} || true
  stage_fixed: true

rust:
  tags:
  - backend
  - style
  run: rustfmt {staged_files} || true
  stage_fixed: true

toml:
  tags:
  - backend
  - style
  run: taplo format {staged_files} || true
  stage_fixed: true

Add changeset for the Petrinaut HIR compiler
  .changeset/petrinaut-hir-compiler.md
  yarn.lock
Due: markdownlint, biome

Add HIR playground Storybook story
  libs/@hashintel/petrinaut-core/package.json
  libs/@hashintel/petrinaut-core/vite.config.ts
  libs/@hashintel/petrinaut/src/ui/hir-playground.stories.tsx
  yarn.lock
Due: biome, yarn

FE-629: Support uuid/string attributes and the packed token layout in the HIR
  libs/@hashintel/petrinaut-core/src/hir.ts
  libs/@hashintel/petrinaut-core/src/hir/analyze.ts
  libs/@hashintel/petrinaut-core/src/hir/compile.test.ts
  libs/@hashintel/petrinaut-core/src/hir/compile.ts
  libs/@hashintel/petrinaut-core/src/hir/emit-buffer-js.test.ts
  libs/@hashintel/petrinaut-core/src/hir/emit-buffer-js.ts
  libs/@hashintel/petrinaut-core/src/hir/emit-js.test.ts
  libs/@hashintel/petrinaut-core/src/hir/emit-js.ts
  libs/@hashintel/petrinaut-core/src/hir/hir.ts
  libs/@hashintel/petrinaut-core/src/hir/instantiate.ts
  libs/@hashintel/petrinaut-core/src/hir/lint.ts
  libs/@hashintel/petrinaut-core/src/hir/lower-typescript.ts
  libs/@hashintel/petrinaut-core/src/hir/typecheck.ts
  libs/@hashintel/petrinaut-core/src/index.ts
  libs/@hashintel/petrinaut-core/src/lsp/lib/check-hir.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/buffer-transition.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/build-simulation-hir.test.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/build-simulation.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/compute-possible-transition.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/types.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/transition-effect.ts
  libs/@hashintel/petrinaut/src/ui/dev/token-encoding-playground/token-encoding-playground.tsx
Due: biome

Switch menu animation to just be fade in
  libs/@hashintel/ds-components/src/components/Menu/SelectableList/selectable-list.recipe.ts
  libs/@hashintel/ds-components/src/components/Menu/SelectableList/selectable-list.tsx
  libs/@hashintel/ds-components/src/preset.ts
Due: biome

feat: limit request + remove clustering unsafe
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/store/src/embedding/clustering.rs
  libs/@local/graph/store/src/embedding/mod.rs
  libs/@local/graph/store/src/entity/store.rs
  libs/@local/graph/store/src/error.rs
Due: rust

H-6519: Type uncoloured places' metric tokens as never[]
  libs/@hashintel/petrinaut-core/src/lsp/lib/generate-virtual-files.ts
Due: biome

fix: wording
  libs/@local/graph/store/src/entity/store.rs
Due: rust

chore: regen openapi
  libs/@local/graph/api/openapi/openapi.json
Due: biome

FE-629: Run the simulator exclusively on HIR buffer programs
  libs/@hashintel/petrinaut-core/src/hir-runtime.ts
  libs/@hashintel/petrinaut-core/src/hir.ts
  libs/@hashintel/petrinaut-core/src/hir/README.md
  libs/@hashintel/petrinaut-core/src/hir/compile.test.ts
  libs/@hashintel/petrinaut-core/src/hir/compile.ts
  libs/@hashintel/petrinaut-core/src/hir/emit-buffer-js.test.ts
  libs/@hashintel/petrinaut-core/src/hir/emit-buffer-js.ts
  libs/@hashintel/petrinaut-core/src/hir/emit-js.test.ts
  libs/@hashintel/petrinaut-core/src/hir/instantiate.ts
  libs/@hashintel/petrinaut-core/src/simulation/authoring/user-code/uuid-runtime.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/buffer-transition.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/build-simulation-hir.test.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/build-simulation.test.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/build-simulation.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/compiled-transition.test-helpers.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/compute-possible-transition.test.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/compute-possible-transition.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/encode-kernel-token.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/execute-transitions.test.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/token-values.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/types.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/transition-effect.ts
  libs/@hashintel/petrinaut/src/react/lsp/context.ts
  libs/@hashintel/petrinaut/src/ui/hir-playground.stories.tsx
Due: markdownlint, biome

H-6519: Review fixes — visualizer defaults, robust boolean toggle
  libs/@hashintel/petrinaut/src/ui/components/spreadsheet.tsx
  libs/@hashintel/petrinaut/src/ui/views/shared/place-state-visualization.tsx
Due: biome

chore: docs
  libs/@local/graph/store/src/embedding/clustering.rs
  libs/@local/graph/store/src/entity/store.rs
  libs/@local/graph/store/src/error.rs
Due: rust

feat: change the accumulate clusters method
  libs/@local/graph/store/benches/embedding.rs
  libs/@local/graph/store/src/embedding/clustering.rs
  libs/@local/graph/store/src/embedding/kernel.rs
Due: rust

chore: docs
  libs/@local/graph/store/src/embedding/clustering.rs
Due: rust

add sorting, filtering to site overview tables. remove 'mark read' functionality
  apps/hash-frontend/src/pages/supply-chain/shared/categories.ts
  apps/hash-frontend/src/pages/supply-chain/shared/docs/docs-modal/docs-content/site-overview.tsx
  apps/hash-frontend/src/pages/supply-chain/shared/status.ts
  apps/hash-frontend/src/pages/supply-chain/site/[site-id].page.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/category-filter.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/dwell-table.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/opportunities-table.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/planning-table.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/shared/column-filter.ts
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/shared/column-header.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/shared/filter-menu.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/shared/helpers.ts
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/shared/row-types.ts
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/shared/use-step-table-view.ts
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/trend-table.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/use-site-overview-rows.ts
  libs/@hashintel/ds-components/src/components/Icon/icon.tsx
  libs/@hashintel/ds-components/src/components/Icon/svgs/regular/filter.svg
Due: biome

H-6519: Changeset describes this layer only, minor bump
  .changeset/h-6519-discrete-token-attribute-types.md
Due: markdownlint, biome

H-6519: Concise patch-level changeset
  .changeset/h-6519-discrete-token-attribute-types.md
Due: markdownlint, biome

add HTML titles to supply chain pages
  apps/hash-frontend/src/pages/supply-chain/product/[product-id].page.tsx
  apps/hash-frontend/src/pages/supply-chain/site/[site-id].page.tsx
  apps/hash-frontend/src/pages/supply-chain/site/[site-id]/opportunity/[opportunity-type]/[product-id]/[step-id].page.tsx
Due: biome

H-6519: Spreadsheet number cells never emit NaN/Infinity
  libs/@hashintel/petrinaut/src/ui/components/spreadsheet.tsx
Due: biome

Potential fix for pull request finding
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/shared/filter-menu.tsx
Due: biome

add key to SiteOverview usage to reset state when site changes
  apps/hash-frontend/src/pages/supply-chain/site/[site-id].page.tsx
Due: biome

add padding at bottom of site overview
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site.tsx
Due: biome

feat: move into embeddings crate
  Cargo.lock
  libs/@local/graph/embeddings/Cargo.toml
  libs/@local/graph/embeddings/benches/clustering.rs
  libs/@local/graph/embeddings/src/clustering.rs
  libs/@local/graph/embeddings/src/dimension.rs
  libs/@local/graph/embeddings/src/kernel.rs
  libs/@local/graph/embeddings/src/lib.rs
  libs/@local/graph/postgres-store/Cargo.toml
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/store/Cargo.toml
  libs/@local/graph/store/src/embedding/mod.rs
  libs/@local/graph/store/src/lib.rs
Due: rust, toml

fix: CI
  libs/@local/graph/embeddings/package.json
  libs/@local/graph/postgres-store/Cargo.toml
  libs/@local/graph/store/package.json
Due: biome, yarn, toml

chore: regenerate files
  apps/hash-graph/docs/dependency-diagram.mmd
  libs/@blockprotocol/type-system/rust/docs/dependency-diagram.mmd
  libs/@local/codec/docs/dependency-diagram.mmd
  libs/@local/codegen/docs/dependency-diagram.mmd
  libs/@local/graph/api/docs/dependency-diagram.mmd
  libs/@local/graph/authorization/docs/dependency-diagram.mmd
  libs/@local/graph/embeddings/docs/dependency-diagram.mmd
  libs/@local/graph/embeddings/package.json
  libs/@local/graph/postgres-store/docs/dependency-diagram.mmd
  libs/@local/graph/postgres-store/package.json
  libs/@local/graph/store/docs/dependency-diagram.mmd
  libs/@local/graph/store/package.json
  libs/@local/graph/temporal-versioning/docs/dependency-diagram.mmd
  libs/@local/graph/type-fetcher/docs/dependency-diagram.mmd
  libs/@local/graph/types/docs/dependency-diagram.mmd
  libs/@local/graph/validation/docs/dependency-diagram.mmd
  libs/@local/harpc/server/docs/dependency-diagram.mmd
  libs/@local/harpc/types/docs/dependency-diagram.mmd
  libs/@local/harpc/wire-protocol/docs/dependency-diagram.mmd
  libs/@local/hashql/ast/docs/dependency-diagram.mmd
  libs/@local/hashql/compiletest/docs/dependency-diagram.mmd
  libs/@local/hashql/eval/docs/dependency-diagram.mmd
  libs/@local/hashql/hir/docs/dependency-diagram.mmd
  libs/@local/hashql/mir/docs/dependency-diagram.mmd
  libs/@local/hashql/syntax-jexpr/docs/dependency-diagram.mmd
  libs/@local/temporal-client/docs/dependency-diagram.mmd
  tests/graph/test-data/rust/docs/dependency-diagram.mmd
Due: biome, yarn

fix: the darn yarn lockfile
  yarn.lock
Due: none

Move use-statement.
  libs/@local/graph/postgres-store/src/snapshot/action/table.rs
Due: rust

FE-1129: Token encoding playground
  .changeset/token-codec-exports.md
  libs/@hashintel/petrinaut-core/src/index.ts
  libs/@hashintel/petrinaut/src/ui/components/spreadsheet.tsx
  libs/@hashintel/petrinaut/src/ui/dev/token-encoding-playground/dimension-editor.tsx
  libs/@hashintel/petrinaut/src/ui/dev/token-encoding-playground/monaco-typescript.d.ts
  libs/@hashintel/petrinaut/src/ui/dev/token-encoding-playground/physical-layout.test.ts
  libs/@hashintel/petrinaut/src/ui/dev/token-encoding-playground/physical-layout.ts
  libs/@hashintel/petrinaut/src/ui/dev/token-encoding-playground/playground-monaco.ts
  libs/@hashintel/petrinaut/src/ui/dev/token-encoding-playground/token-encoding-playground.stories.tsx
  libs/@hashintel/petrinaut/src/ui/dev/token-encoding-playground/token-encoding-playground.tsx
  libs/@hashintel/petrinaut/src/ui/dev/token-encoding-playground/token-memory-view.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/place-properties/subviews/place-initial-state/initial-state-editor.tsx
Due: markdownlint, biome

chore: remove tautological tests
  libs/@local/graph/embeddings/src/dimension.rs
Due: rust

feat: only initialize once.
  apps/hash-graph/src/subcommand/mod.rs
Due: rust

FE-1139: Simulation architecture documentation
  libs/@hashintel/petrinaut-core/docs/architecture/architecture.css
  libs/@hashintel/petrinaut-core/docs/architecture/authoring.html
  libs/@hashintel/petrinaut-core/docs/architecture/engine.html
  libs/@hashintel/petrinaut-core/docs/architecture/index.html
  libs/@hashintel/petrinaut-core/docs/architecture/monte-carlo.html
  libs/@hashintel/petrinaut-core/docs/architecture/worker.html
  libs/@hashintel/petrinaut-core/src/simulation/ARCHITECTURE.md
  libs/@hashintel/petrinaut-core/src/simulation/README.md
  libs/@hashintel/petrinaut/ARCHITECTURE.md
Due: markdownlint, biome

Apply suggestions
  libs/@local/graph/postgres-store/src/snapshot/action/table.rs
  libs/@local/graph/postgres-store/src/snapshot/mod.rs
  libs/@local/graph/postgres-store/src/snapshot/policy/table.rs
  libs/@local/graph/postgres-store/src/snapshot/principal/table.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/data_type.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/read.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/expression/column_reference.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/expression/identifier.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/expression/table_reference.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/expression/with_clause.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/rows.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/statement/insert.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/statement/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/table.rs
Due: rust

fix: docs
  libs/@local/graph/embeddings/benches/clustering.rs
Due: rust

chore: remove file
  .cursor/hooks.json
Due: biome

FE-1153: Type-policy registry
  .changeset/fe-1153-type-policy-registry.md
  libs/@hashintel/petrinaut-core/src/default-codes.ts
  libs/@hashintel/petrinaut-core/src/index.ts
  libs/@hashintel/petrinaut-core/src/lsp/lib/generate-virtual-files.ts
  libs/@hashintel/petrinaut-core/src/schema-migration.ts
  libs/@hashintel/petrinaut-core/src/schemas/entity-schemas.ts
  libs/@hashintel/petrinaut-core/src/simulation/authoring/scenario/compile-scenario.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/token-layout.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/token-values.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/type-policies.test.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/type-policies.ts
  libs/@hashintel/petrinaut/src/react/simulation/provider/migrate-initial-marking.ts
  libs/@hashintel/petrinaut/src/ui/components/spreadsheet.tsx
Due: markdownlint, biome

chore: add read only
  libs/@local/hashql/eval/src/postgres/authorization/policy/mod.rs
  libs/@local/hashql/eval/src/postgres/authorization/policy/tests.rs
  libs/@local/hashql/eval/tests/ui/postgres/authorization/policy/algebra_blank_permit_forbid_read_only.snap
  libs/@local/hashql/eval/tests/ui/postgres/authorization/policy/filter_not_read_only.snap
  libs/@local/hashql/eval/tests/ui/postgres/authorization/policy/is_read_only_column.snap
  tests/graph/integration/postgres/email_filter_protection.rs
Due: rust

Path conditions:
  markdownlint: any of: *.md
  biome: any of: *.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}
  yarn: any of: {*/package.json, package.json}
  sqlfluff: any of: *.sql
  rust: any of: *.rs
  toml: any of: *.toml
