Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    biome:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: biome format --write --staged || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: rustfmt {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: taplo format {staged_files} || true
      stage_fixed: true

Update avatar story imports
  libs/@hashintel/ds-components/src/beta/card/avatar.story.tsx
  libs/@hashintel/ds-components/src/beta/hover-card/basic.story.tsx
  libs/@hashintel/ds-components/src/beta/hover-card/controlled.story.tsx
  libs/@hashintel/ds-components/src/beta/hover-card/delays.story.tsx
  libs/@hashintel/ds-components/src/beta/hover-card/dialog.story.tsx
  libs/@hashintel/ds-components/src/beta/hover-card/disabled.story.tsx
  libs/@hashintel/ds-components/src/beta/hover-card/placement.story.tsx
  libs/@hashintel/ds-components/src/beta/menu/with-avatar.story.tsx
  libs/@hashintel/ds-components/src/beta/tooltip/with-avatar.story.tsx
Due: biome

Refactor slot-recipe beta batch
  libs/@hashintel/ds-components/HANDOFF.md
  libs/@hashintel/ds-components/scripts/migrate-beta-fractal-pilots.ts
  libs/@hashintel/ds-components/src/beta/collapsible.recipe.ts
  libs/@hashintel/ds-components/src/beta/collapsible.stories.ts
  libs/@hashintel/ds-components/src/beta/collapsible.tsx
  libs/@hashintel/ds-components/src/beta/collapsible/basic.story.tsx
  libs/@hashintel/ds-components/src/beta/collapsible/collapsible.stories.ts
  libs/@hashintel/ds-components/src/beta/collapsible/lazy-mount.story.tsx
  libs/@hashintel/ds-components/src/beta/collapsible/unmount-on-exit.story.tsx
  libs/@hashintel/ds-components/src/beta/editable.recipe.ts
  libs/@hashintel/ds-components/src/beta/editable.stories.ts
  libs/@hashintel/ds-components/src/beta/editable.tsx
  libs/@hashintel/ds-components/src/beta/editable/basic.story.tsx
  libs/@hashintel/ds-components/src/beta/editable/controlled.story.tsx
  libs/@hashintel/ds-components/src/beta/editable/controls.story.tsx
  libs/@hashintel/ds-components/src/beta/editable/double-click.story.tsx
  libs/@hashintel/ds-components/src/beta/editable/editable.stories.ts
  libs/@hashintel/ds-components/src/beta/editable/sizes.story.tsx
  libs/@hashintel/ds-components/src/beta/hover-card.recipe.ts
  libs/@hashintel/ds-components/src/beta/hover-card.stories.ts
  libs/@hashintel/ds-components/src/beta/hover-card.tsx
  libs/@hashintel/ds-components/src/beta/hover-card/basic.story.tsx
  libs/@hashintel/ds-components/src/beta/hover-card/controlled.story.tsx
  libs/@hashintel/ds-components/src/beta/hover-card/delays.story.tsx
  libs/@hashintel/ds-components/src/beta/hover-card/dialog.story.tsx
  libs/@hashintel/ds-components/src/beta/hover-card/disabled.story.tsx
  libs/@hashintel/ds-components/src/beta/hover-card/hover-card.stories.ts
  libs/@hashintel/ds-components/src/beta/hover-card/placement.story.tsx
  libs/@hashintel/ds-components/src/preset/recipes.ts
Due: markdownlint, biome

Refactor ds-components slot recipe batch
  libs/@hashintel/ds-components/scripts/migrate-beta-fractal-pilots.ts
  libs/@hashintel/ds-components/src/beta/accordion.recipe.ts
  libs/@hashintel/ds-components/src/beta/accordion.stories.ts
  libs/@hashintel/ds-components/src/beta/accordion.tsx
  libs/@hashintel/ds-components/src/beta/accordion/accordion.stories.ts
  libs/@hashintel/ds-components/src/beta/accordion/basic.story.tsx
  libs/@hashintel/ds-components/src/beta/radio-group.recipe.ts
  libs/@hashintel/ds-components/src/beta/radio-group.stories.ts
  libs/@hashintel/ds-components/src/beta/radio-group.tsx
  libs/@hashintel/ds-components/src/beta/radio-group/basic.story.tsx
  libs/@hashintel/ds-components/src/beta/radio-group/closed.story.tsx
  libs/@hashintel/ds-components/src/beta/radio-group/colors.story.tsx
  libs/@hashintel/ds-components/src/beta/radio-group/controlled.story.tsx
  libs/@hashintel/ds-components/src/beta/radio-group/disabled.story.tsx
  libs/@hashintel/ds-components/src/beta/radio-group/radio-group.stories.ts
  libs/@hashintel/ds-components/src/beta/radio-group/sizes.story.tsx
  libs/@hashintel/ds-components/src/beta/toggle-group.recipe.ts
  libs/@hashintel/ds-components/src/beta/toggle-group.stories.ts
  libs/@hashintel/ds-components/src/beta/toggle-group.tsx
  libs/@hashintel/ds-components/src/beta/toggle-group/basic.story.tsx
  libs/@hashintel/ds-components/src/beta/toggle-group/multiple.story.tsx
  libs/@hashintel/ds-components/src/beta/toggle-group/toggle-group.recipe.ts
  libs/@hashintel/ds-components/src/beta/toggle-group/toggle-group.stories.ts
  libs/@hashintel/ds-components/src/beta/toggle-group/toolbar.story.tsx
  libs/@hashintel/ds-components/src/preset/recipes.ts
Due: biome

Update lockfile for ds-components deps
  yarn.lock
Due: none

Refactor another ds-components beta batch
  libs/@hashintel/ds-components/HANDOFF.md
  libs/@hashintel/ds-components/scripts/migrate-beta-fractal-pilots.ts
  libs/@hashintel/ds-components/src/beta/checkbox/link.story.tsx
  libs/@hashintel/ds-components/src/beta/file-upload/dropzone.story.tsx
  libs/@hashintel/ds-components/src/beta/hover-card/basic.story.tsx
  libs/@hashintel/ds-components/src/beta/hover-card/controlled.story.tsx
  libs/@hashintel/ds-components/src/beta/hover-card/delays.story.tsx
  libs/@hashintel/ds-components/src/beta/hover-card/dialog.story.tsx
  libs/@hashintel/ds-components/src/beta/hover-card/disabled.story.tsx
  libs/@hashintel/ds-components/src/beta/hover-card/placement.story.tsx
  libs/@hashintel/ds-components/src/beta/icon.recipe.ts
  libs/@hashintel/ds-components/src/beta/icon.stories.ts
  libs/@hashintel/ds-components/src/beta/icon.tsx
  libs/@hashintel/ds-components/src/beta/icon/basic.story.tsx
  libs/@hashintel/ds-components/src/beta/icon/custom.story.tsx
  libs/@hashintel/ds-components/src/beta/icon/icon.stories.ts
  libs/@hashintel/ds-components/src/beta/icon/lucide.story.tsx
  libs/@hashintel/ds-components/src/beta/icon/sizes.story.tsx
  libs/@hashintel/ds-components/src/beta/input-addon.recipe.ts
  libs/@hashintel/ds-components/src/beta/input-addon.stories.ts
  libs/@hashintel/ds-components/src/beta/input-addon.tsx
  libs/@hashintel/ds-components/src/beta/input-addon/basic.story.tsx
  libs/@hashintel/ds-components/src/beta/input-addon/input-addon.stories.ts
  libs/@hashintel/ds-components/src/beta/input-addon/sizes.story.tsx
  libs/@hashintel/ds-components/src/beta/input-addon/variants.story.tsx
  libs/@hashintel/ds-components/src/beta/input/addon.story.tsx
  libs/@hashintel/ds-components/src/beta/link.recipe.ts
  libs/@hashintel/ds-components/src/beta/link.stories.ts
  libs/@hashintel/ds-components/src/beta/link.tsx
  libs/@hashintel/ds-components/src/beta/link/basic.story.tsx
  libs/@hashintel/ds-components/src/beta/link/icon.story.tsx
  libs/@hashintel/ds-components/src/beta/link/inline.story.tsx
  libs/@hashintel/ds-components/src/beta/link/link.stories.ts
  libs/@hashintel/ds-components/src/beta/link/variants.story.tsx
  libs/@hashintel/ds-components/src/beta/switch/indicator.story.tsx
  libs/@hashintel/ds-components/src/beta/toast/toast.tsx
  libs/@hashintel/ds-components/src/preset/recipes.ts
Due: markdownlint, biome

Refactor ds-components avatar batch
  libs/@hashintel/ds-components/scripts/migrate-beta-fractal-pilots.ts
  libs/@hashintel/ds-components/src/beta/avatar.recipe.ts
  libs/@hashintel/ds-components/src/beta/avatar.stories.ts
  libs/@hashintel/ds-components/src/beta/avatar.tsx
  libs/@hashintel/ds-components/src/beta/avatar/avatar.stories.ts
  libs/@hashintel/ds-components/src/beta/avatar/badge.story.tsx
  libs/@hashintel/ds-components/src/beta/avatar/basic.story.tsx
  libs/@hashintel/ds-components/src/beta/avatar/closed.story.tsx
  libs/@hashintel/ds-components/src/beta/avatar/colors.story.tsx
  libs/@hashintel/ds-components/src/beta/avatar/fallback.story.tsx
  libs/@hashintel/ds-components/src/beta/avatar/group.story.tsx
  libs/@hashintel/ds-components/src/beta/avatar/persona.story.tsx
  libs/@hashintel/ds-components/src/beta/avatar/ring.story.tsx
  libs/@hashintel/ds-components/src/beta/avatar/shapes.story.tsx
  libs/@hashintel/ds-components/src/beta/avatar/sizes.story.tsx
  libs/@hashintel/ds-components/src/beta/avatar/variants.story.tsx
  libs/@hashintel/ds-components/src/beta/fieldset.recipe.ts
  libs/@hashintel/ds-components/src/beta/fieldset.stories.ts
  libs/@hashintel/ds-components/src/beta/fieldset.tsx
  libs/@hashintel/ds-components/src/beta/fieldset/basic.story.tsx
  libs/@hashintel/ds-components/src/beta/fieldset/disabled.story.tsx
  libs/@hashintel/ds-components/src/beta/fieldset/fieldset.stories.ts
  libs/@hashintel/ds-components/src/beta/fieldset/invalid.story.tsx
  libs/@hashintel/ds-components/src/beta/table.recipe.ts
  libs/@hashintel/ds-components/src/beta/table.stories.ts
  libs/@hashintel/ds-components/src/beta/table.tsx
  libs/@hashintel/ds-components/src/beta/table/basic.story.tsx
  libs/@hashintel/ds-components/src/beta/table/column-border.story.tsx
  libs/@hashintel/ds-components/src/beta/table/horizontal.story.tsx
  libs/@hashintel/ds-components/src/beta/table/interactive.story.tsx
  libs/@hashintel/ds-components/src/beta/table/sticky-column.story.tsx
  libs/@hashintel/ds-components/src/beta/table/sticky-header.story.tsx
  libs/@hashintel/ds-components/src/beta/table/striped.story.tsx
  libs/@hashintel/ds-components/src/beta/table/table.stories.ts
  libs/@hashintel/ds-components/src/beta/table/variants.story.tsx
  libs/@hashintel/ds-components/src/preset/recipes.ts
Due: biome

Remove ds-components handoff
  libs/@hashintel/ds-components/HANDOFF.md
Due: markdownlint, biome

Remove ds preset recipe registry
  libs/@hashintel/ds-components/src/beta/angle-slider/angle-slider.recipe.ts
  libs/@hashintel/ds-components/src/beta/floating-panel/floating-panel.recipe.ts
  libs/@hashintel/ds-components/src/beta/listbox/listbox.recipe.ts
  libs/@hashintel/ds-components/src/beta/password-input/password-input.recipe.ts
  libs/@hashintel/ds-components/src/beta/qr-code/qr-code.recipe.ts
  libs/@hashintel/ds-components/src/beta/signature-pad/signature-pad.recipe.ts
  libs/@hashintel/ds-components/src/beta/steps/steps.recipe.ts
  libs/@hashintel/ds-components/src/beta/timer/timer.recipe.ts
  libs/@hashintel/ds-components/src/beta/toggle/toggle.recipe.ts
  libs/@hashintel/ds-components/src/beta/tour/tour.recipe.ts
  libs/@hashintel/ds-components/src/beta/tree-view/tree-view.recipe.ts
  libs/@hashintel/ds-components/src/preset.ts
  libs/@hashintel/ds-components/src/preset/recipes.ts
Due: biome

Remove unused ds-components figma config
  libs/@hashintel/ds-components/figma.config.json
  libs/@hashintel/ds-components/package.json
  yarn.lock
Due: biome, yarn

fix types on collapsibleRecipe
  libs/@hashintel/ds-components/src/beta/collapsible.recipe.ts
Due: biome

Useless commit to re-trigger GH CI
  .changeset/cyan-pans-sit.md
Due: markdownlint, biome

fix review comments
  libs/@hashintel/ds-components/scripts/migrate-beta-fractal-pilots.ts
  libs/@hashintel/ds-components/src/beta/carousel.tsx
  libs/@hashintel/ds-components/src/components/Slider/slider.tsx
  libs/@hashintel/ds-components/src/components/Switch/switch.tsx
Due: biome

fix failed checks run
  libs/@hashintel/ds-components/src/beta/carousel.tsx
Due: biome

Fix ds-components turbo dependencies
  libs/@hashintel/ds-components/turbo.json
Due: biome

Update yarn.lock
  yarn.lock
Due: none

Upgrade some @hashintel/petrinaut dependencies
  apps/petrinaut-website/package.json
  libs/@hashintel/petrinaut/package.json
  libs/@hashintel/refractive/package.json
  yarn.lock
Due: biome, yarn

Upgrade some versions
  apps/petrinaut-website/package.json
  libs/@hashintel/petrinaut/package.json
  libs/@hashintel/refractive/package.json
  yarn.lock
Due: biome, yarn

Fix Petrinaut website default net handling
  apps/petrinaut-website/src/main/app.tsx
Due: biome

Fix Petrinaut React Hooks linting
  .config/oxlint/react-compiler.json
  apps/petrinaut-website/.oxlintrc.json
  libs/@hashintel/petrinaut/.oxlintrc.json
  libs/@hashintel/petrinaut/src/ui/components/sub-view/vertical/vertical-sub-views-container.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/use-keyboard-shortcuts.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/simulation-timeline.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/LeftSideBar/subviews/filterable-list-sub-view.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/place-properties/subviews/place-initial-state/initial-state-editor.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/metric-form.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/scenario-form.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/hooks/use-recenter-on-panel-open.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/hooks/util/use-debounce-callback.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/sdcpn-view.tsx
  libs/@hashintel/refractive/.oxlintrc.json
Due: biome

Deduplicate Vite lockfile entries
  yarn.lock
Due: none

Update Petrinaut TypeScript preview and Vite
  apps/petrinaut-website/package.json
  libs/@hashintel/petrinaut/package.json
  libs/@hashintel/refractive/package.json
  yarn.lock
Due: biome, yarn

Avoid refitting SDCPN view on min zoom changes
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/sdcpn-view.tsx
Due: biome

FE-647: Add `button` component (#8687)
  .changeset/cyan-pans-sit.md
  libs/@hashintel/ds-components/scripts/figma-variables.json
  libs/@hashintel/ds-components/src/components/Button/button.recipe.ts
  libs/@hashintel/ds-components/src/components/Button/button.stories.tsx
  libs/@hashintel/ds-components/src/components/Button/button.tsx
  libs/@hashintel/ds-components/src/components/Icon/icon.recipe.ts
  libs/@hashintel/ds-components/src/components/Loading/loading-spinner.recipe.ts
  libs/@hashintel/ds-components/src/components/Loading/loading-spinner.stories.tsx
  libs/@hashintel/ds-components/src/components/Loading/loading-spinner.tsx
  libs/@hashintel/ds-components/src/components/Tooltip/tooltip.stories.tsx
  libs/@hashintel/ds-components/src/main.ts
  libs/@hashintel/ds-components/src/preset.ts
  libs/@hashintel/ds-components/src/util/form-shared.ts
  libs/@hashintel/ds-components/turbo.json
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/import-error-dialog.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/differential-equation-properties/subviews/main.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/place-properties/subviews/main.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/create-experiment-drawer.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/create-metric-drawer.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/create-scenario-drawer.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/simulate-view.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/view-metric-drawer.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/view-scenario-drawer.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/components/viewport-settings-dialog.tsx
Due: markdownlint, biome

Use native Oxlint React hooks rules
  .config/oxlint/react-compiler.json
Due: biome

FE-627: Update tsgo/vite/rolldown + better React hooks linting in Petrinaut (#8708)
  .config/oxlint/react-compiler.json
  apps/petrinaut-website/.oxlintrc.json
  apps/petrinaut-website/package.json
  apps/petrinaut-website/src/main/app.tsx
  libs/@hashintel/petrinaut/.oxlintrc.json
  libs/@hashintel/petrinaut/package.json
  libs/@hashintel/petrinaut/src/ui/components/sub-view/vertical/vertical-sub-views-container.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/use-keyboard-shortcuts.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/simulation-timeline.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/LeftSideBar/subviews/filterable-list-sub-view.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/place-properties/subviews/place-initial-state/initial-state-editor.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/metric-form.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/scenario-form.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/hooks/use-recenter-on-panel-open.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/hooks/util/use-debounce-callback.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/sdcpn-view.tsx
  libs/@hashintel/refractive/.oxlintrc.json
  libs/@hashintel/refractive/package.json
  yarn.lock
Due: biome, yarn

Finish tweaking base input stories
  libs/@hashintel/ds-components/src/components/TextInput/base-input.stories.tsx
Due: biome

Simplify text input stories
  libs/@hashintel/ds-components/src/components/TextInput/base-input.stories.tsx
Due: biome

Stubbed props for text input + form field components
  libs/@hashintel/ds-components/src/components/Form/form-field.tsx
  libs/@hashintel/ds-components/src/components/TextInput/base-input.tsx
  libs/@hashintel/ds-components/src/util/form-shared.ts
Due: biome

Add stories for base input
  libs/@hashintel/ds-components/src/components/TextInput/base-input.recipe.ts
  libs/@hashintel/ds-components/src/components/TextInput/base-input.stories.tsx
  libs/@hashintel/ds-components/src/components/TextInput/base-input.tsx
Due: biome

Fix clear button on small input sizes
  libs/@hashintel/ds-components/src/components/TextInput/base-input.recipe.ts
  libs/@hashintel/ds-components/src/components/TextInput/base-input.stories.tsx
Due: biome

Basic styles for text input
  libs/@hashintel/ds-components/src/components/TextInput/base-input.recipe.ts
Due: biome

Clean up base input logic
  libs/@hashintel/ds-components/package.json
  libs/@hashintel/ds-components/src/components/TextInput/base-input.tsx
  yarn.lock
Due: biome, yarn

Updated base-input logic
  libs/@hashintel/ds-components/src/components/TextInput/base-input.tsx
Due: biome

Start adjusting base input styles
  libs/@hashintel/ds-components/src/components/TextInput/base-input.recipe.ts
  libs/@hashintel/ds-components/src/components/TextInput/base-input.tsx
  libs/@hashintel/ds-components/src/util/form-shared.ts
Due: biome

Add subtle prefix + suffix variants for text input
  libs/@hashintel/ds-components/src/components/TextInput/base-input.stories.tsx
Due: biome
