Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    biome:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: biome format --write --staged || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: rustfmt {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: taplo format {staged_files} || true
      stage_fixed: true

Surface a failed tool's returned error text in development diagnostics
  apps/brunch-agent/src/runtime-diagnostics.ts
  apps/brunch-agent/test/runtime-diagnostics.test.ts
Due: biome

Record the attributable mutation-tracer attempt and close the diagnostics side quest
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/SIDE_QUEST.md
Due: markdownlint, biome

Make Brunch chat failures attributable in development
  .changeset/automatic-dynamic-tools.md
  apps/brunch-agent/src/agents/chat-agent/agent.ts
  apps/brunch-agent/src/app.ts
  apps/brunch-agent/src/conversation/why.ts
  apps/brunch-agent/src/db.ts
  apps/brunch-agent/src/http/ownership.ts
  apps/brunch-agent/src/logger.ts
  apps/brunch-agent/src/postgres.ts
  apps/brunch-agent/src/provider-accounting.ts
  apps/brunch-agent/src/runtime-diagnostics.ts
  apps/brunch-agent/test/integration/admission-controls.test.ts
  apps/brunch-agent/test/postgres.test.ts
  apps/brunch-agent/test/runtime-diagnostics.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-panel-transport.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/mutate-petrinet-tool.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/mutate-petrinet-tool.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/transition-record.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/transition-record.ts
  apps/petrinaut-website/src/sentry/sentry-error-tracker-provider.test.ts
  apps/petrinaut-website/src/sentry/sentry-error-tracker-provider.tsx
  libs/@hashintel/brunch-agent/packages/transport-aisdk/src/client-tool-result.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/src/index.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/src/ui-stream.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/test/client-tool-result.test.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/test/ui-stream.test.ts
  libs/@hashintel/petrinaut/src/main.ts
  libs/@hashintel/petrinaut/src/react/error-tracker-context.ts
  libs/@hashintel/petrinaut/src/react/index.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
Due: markdownlint, biome

Record why a construction outcome is unknown when its expected definition cannot be derived
  apps/petrinaut-website/src/main/app/local-storage-demo/transition-record.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/index.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/transition-record.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/test/transition-record.test.ts
Due: biome

Refine Brunch diagnostics after review
  apps/brunch-agent/src/db.ts
  apps/brunch-agent/src/postgres.ts
  apps/brunch-agent/src/provider-accounting.ts
  apps/brunch-agent/src/runtime-diagnostics.ts
  apps/brunch-agent/src/telemetry-bootstrap.ts
  apps/brunch-agent/src/telemetry.ts
  apps/brunch-agent/test/persona-request-accounting.test.ts
  apps/brunch-agent/test/postgres.test.ts
  apps/brunch-agent/test/runtime-diagnostics.test.ts
  apps/brunch-agent/test/telemetry.test.ts
  apps/petrinaut-website/src/sentry/sentry-error-tracker-provider.test.ts
  apps/petrinaut-website/src/sentry/sentry-error-tracker-provider.tsx
Due: biome

Document the website build variable the Brunch browser tracer requires
  apps/brunch-agent/README.md
  apps/brunch-agent/test/mutation-records.integration.ts
Due: markdownlint, biome

Prove withheld mutate_petrinet rejection and a live accepted retry.
  apps/brunch-agent/package.json
  apps/brunch-agent/test/mutate-petrinet-retry.integration.ts
  libs/@hashintel/brunch-agent/MISSION.md
Due: markdownlint, biome, yarn

Stop aliasing the general mutation attempt type as an arc type
  apps/brunch-agent/src/conversation/root-arc.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/mutation-record.ts
Due: biome

Withhold mutate_petrinet until server validation and flatten its operation contract.
  apps/petrinaut-website/src/main/app/local-storage-demo/mutate-petrinet-tool.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/mutate-petrinet-tool.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/mutation-record.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/mutation-record.ts
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/flue.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/mutate-petrinet.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/tools/mutate-petrinet.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/test/mutate-petrinet.test.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/src/ui-stream.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/test/ui-stream.test.ts
Due: markdownlint, biome

Record the live 25-operation mutate_petrinet product-path generation.
  libs/@hashintel/brunch-agent/MISSION.md
Due: markdownlint, biome

Compare a 25-operation mutate_petrinet batch with 25 one-operation calls.
  apps/brunch-agent/package.json
  apps/brunch-agent/test/comparison-operations.ts
  apps/brunch-agent/test/mutate-petrinet-comparison.integration.ts
  libs/@hashintel/brunch-agent/MISSION.md
Due: markdownlint, biome, yarn

Mount ordinary Brunch on the proven batched mutate_petrinet catalogue.
  apps/brunch-agent/README.md
  apps/petrinaut-website/README.md
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-conversation-id.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-conversation-id.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/use-local-storage-sdcpns.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/use-local-storage-sdcpns.ts
  libs/@hashintel/brunch-agent/MISSION.md
Due: markdownlint, biome

Record that ordinary why answered without brunch_why.
  libs/@hashintel/brunch-agent/MISSION.md
Due: markdownlint, biome

Keep ordinary construction off the prepared-fixture first-contact dispatch.
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/use-prepare-crew-reservation-conversation.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/use-prepare-crew-reservation-conversation.ts
  libs/@hashintel/brunch-agent/MISSION.md
Due: markdownlint, biome

Record the live ordinary accept/reject correction.
  libs/@hashintel/brunch-agent/MISSION.md
Due: markdownlint, biome

Admit remove operations so ordinary correction can rewire.
  .changeset/selected-mutation-batch.md
  apps/petrinaut-website/src/main/app/local-storage-demo/mutate-petrinet-tool.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/mutate-petrinet-tool.ts
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/flue.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/mutate-petrinet.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/mutation-record.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/root-node.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/tools/mutate-petrinet.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/test/mutate-petrinet.test.ts
  libs/@hashintel/petrinaut-core/src/selected-mutation-batch.test.ts
  libs/@hashintel/petrinaut-core/src/selected-mutation-batch.ts
Due: markdownlint, biome

Record that updated why also skipped brunch_why.
  libs/@hashintel/brunch-agent/MISSION.md
Due: markdownlint, biome

Offer Build with Brunch or Start blank from File New.
  .changeset/petrinaut-create-new-brunch.md
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/docs/drawing-a-net.md
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view/create-new-net-commands.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view/create-new-net-menu.test.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view/create-new-net-menu.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view/empty-petri-net-definition.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/prompt-chips.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/select-prompt-chips.test.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/select-prompt-chips.ts
Due: markdownlint, biome

Record that catalogue scenario URLs collide with document search.
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-search.test.ts
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/petrinaut-core/src/selected-mutation-batch.test.ts
Due: markdownlint, biome

Admit type, parameter, and dynamics operations on mutate_petrinet.
  .changeset/selected-mutation-batch.md
  apps/petrinaut-website/src/main/app/local-storage-demo/mutate-petrinet-tool.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/mutate-petrinet-tool.ts
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/flue.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/mutate-petrinet.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/tools/mutate-petrinet.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/test/mutate-petrinet.test.ts
  libs/@hashintel/petrinaut-core/src/selected-mutation-batch.test.ts
  libs/@hashintel/petrinaut-core/src/selected-mutation-batch.ts
Due: markdownlint, biome

Recut Mission 7b and preserve Inventory work in 7c
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/MISSION.next.md
  libs/@hashintel/brunch-agent/docs/mission-drafts/10-bounded-reviewer-revision.md
  libs/@hashintel/brunch-agent/docs/mission-drafts/11-optimisation-handoff.md
  libs/@hashintel/brunch-agent/docs/mission-drafts/7-explainable-construction.md
  libs/@hashintel/brunch-agent/docs/mission-drafts/7c-inventory-worked-model.md
  libs/@hashintel/brunch-agent/docs/mission-drafts/9-traceable-projection.md
Due: markdownlint, biome

Point Mission 7a deferred work to Mission 7c
  libs/@hashintel/brunch-agent/docs/mission-archive/7a-workpiece-construction-explanation-groundwork.md
Due: markdownlint, biome

Revert "Admit type, parameter, and dynamics operations on mutate_petrinet."
  .changeset/selected-mutation-batch.md
  apps/petrinaut-website/src/main/app/local-storage-demo/mutate-petrinet-tool.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/mutate-petrinet-tool.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/flue.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/mutate-petrinet.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/tools/mutate-petrinet.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/test/mutate-petrinet.test.ts
  libs/@hashintel/petrinaut-core/src/selected-mutation-batch.test.ts
  libs/@hashintel/petrinaut-core/src/selected-mutation-batch.ts
Due: markdownlint, biome

Close Mission 7b around structural construction
  .changeset/petrinaut-create-new-brunch.md
  apps/brunch-agent/src/conversation/root-arc.ts
  apps/brunch-agent/src/conversation/why.ts
  apps/brunch-agent/test/mutate-petrinet-comparison.integration.ts
  apps/brunch-agent/test/mutate-petrinet-retry.integration.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/mutate-petrinet-tool.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/mutate-petrinet-tool.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/mutation-record.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/use-prepare-crew-reservation-conversation.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/use-prepare-crew-reservation-conversation.ts
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/MISSION.next.md
  libs/@hashintel/brunch-agent/docs/mission-drafts/7c-inventory-worked-model.md
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/index.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/mutation-record.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/root-arc.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/tools/petrinaut-construction.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/test/mutation-record.test.ts
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/docs/drawing-a-net.md
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view/create-new-net-commands.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view/create-new-net-menu.test.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view/create-new-net-menu.ts
Due: markdownlint, biome

Move crash and why-retention proofs into Vitest.
  apps/brunch-agent/README.md
  apps/brunch-agent/package.json
  apps/brunch-agent/test/browser-tracer.ts
  apps/brunch-agent/test/history-retention-audit.py
  apps/brunch-agent/test/history-retention-crash.integration.ts
  apps/brunch-agent/test/history-retention-diagnostics.sh
  apps/brunch-agent/test/history-retention-new-records.integration.ts
  apps/brunch-agent/test/history-retention-runtime-hook.ts
  apps/brunch-agent/test/integration/history-retention-crash-audit.ts
  apps/brunch-agent/test/integration/history-retention-crash.test.ts
  apps/brunch-agent/test/integration/history-retention.integration.ts
  apps/brunch-agent/test/integration/history-retention.test.ts
  apps/brunch-agent/test/integration/reopened-why-retention-audit.ts
  apps/brunch-agent/test/integration/reopened-why-retention.test.ts
  apps/brunch-agent/test/integration/run-node-script.ts
  apps/brunch-agent/test/reopened-why-retention-audit.py
  apps/brunch-agent/test/reopened-why-retention.integration.ts
  apps/brunch-agent/test/reopened-why-retention.sh
  apps/petrinaut-website/README.md
Due: markdownlint, biome, yarn

Stub jsdom clipboard query so Monaco can load in Petrinaut tests.
  apps/petrinaut-website/src/main/app/voice-interview/voice-browser-tools.integration.test.tsx
Due: biome

Treat aborted Flue submissions as diagnostic notes.
  apps/brunch-agent/src/runtime-diagnostics.ts
  apps/brunch-agent/test/runtime-diagnostics.test.ts
Due: biome

Verify batched mutations on the existing record path.
  apps/brunch-agent/src/conversation/root-arc.ts
  apps/brunch-agent/src/conversation/why.ts
  apps/brunch-agent/src/runtime-diagnostics.ts
  apps/brunch-agent/test/root-arc.test.ts
  apps/brunch-agent/test/runtime-diagnostics.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/mutate-petrinet-tool.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/mutate-petrinet-tool.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/mutation-record.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/mutation-record.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/index.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/mutate-petrinet.ts
  libs/@hashintel/petrinaut-core/src/selected-mutation-batch.test.ts
  libs/@hashintel/petrinaut-core/src/selected-mutation-batch.ts
  libs/@hashintel/petrinaut/README.md
  libs/@hashintel/petrinaut/src/ui/index.ts
  libs/@hashintel/petrinaut/src/ui/types/ai-automatic-tool.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
Due: markdownlint, biome

Preserve Mission 7a authority in documentation
  .changeset/fresh-net-grounding-docs.md
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/MISSION.next.md
  libs/@hashintel/brunch-agent/docs/mission-archive/7a-workpiece-construction-explanation-groundwork.md
  libs/@hashintel/brunch-agent/docs/mission-archive/README.md
  libs/@hashintel/petrinaut/docs/ai-assistant.md
Due: markdownlint, biome

Fix package CI and verify batched mutation records.
  apps/brunch-agent/src/conversation/root-arc.ts
  apps/brunch-agent/src/conversation/why.ts
  apps/brunch-agent/src/runtime-diagnostics.ts
  apps/brunch-agent/test/root-arc.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/mutate-petrinet-tool.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/mutation-record.test.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/index.ts
  libs/@hashintel/petrinaut-core/src/selected-mutation-batch.test.ts
  libs/@hashintel/petrinaut-core/src/selected-mutation-batch.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
Due: biome

Abort in-flight automatic tools when the assistant panel unmounts.
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
Due: biome

Run the website's Vite dev server by path so the dev task survives Yarn hiding the bin
  apps/petrinaut-website/scripts/dev.sh
Due: none

Align Mission 7 planning boundaries
  libs/@hashintel/brunch-agent/MISSION.next.md
  libs/@hashintel/brunch-agent/docs/mission-drafts/7b-september-demo.md
Due: markdownlint, biome

Read development failure text from the local diagnostic sink.
  apps/brunch-agent/test/integration/admission-controls.test.ts
Due: biome

Add isolated GPT-Live interview experiment to Voice controls
  .changeset/tidy-voice-dock.md
  apps/petrinaut-website/MISSION.md
  apps/petrinaut-website/README.md
  apps/petrinaut-website/api/voice/live-session.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation-control.test.tsx
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation-control.tsx
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-control.tsx
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-disclosure.tsx
  apps/petrinaut-website/src/server/voice/openai-live-session.test.ts
  apps/petrinaut-website/src/server/voice/openai-live-session.ts
  apps/petrinaut-website/src/server/voice/openai-voice-config.test.ts
  apps/petrinaut-website/src/server/voice/openai-voice-config.ts
  apps/petrinaut-website/vite.config.ts
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/src/react/voice-session/store.ts
  libs/@hashintel/petrinaut/src/react/voice-session/types.ts
  libs/@hashintel/petrinaut/src/ui/types/ai-assistant-composer-control.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/voice-session-indicator.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/voice-session-labels.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/voice-dock.tsx
Due: markdownlint, biome

Keep Live experiment labeling on the consent screen
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation-control.test.tsx
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation-control.tsx
Due: biome

Add filters to supply chain tables
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/dwell-table.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/opportunities-table.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/planning-table.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/shared/column-filter.ts
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/shared/column-header.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/shared/filter-menu.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/shared/step-filter-bar.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/shared/step-filters.test.ts
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/shared/step-filters.ts
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/shared/step-filters/operators.ts
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/shared/use-step-table-view.ts
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/trend-table.tsx
Due: biome

Show Live listening and speaking activity in the Voice dock
  apps/petrinaut-website/MISSION.md
  apps/petrinaut-website/README.md
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation-control.test.tsx
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation-control.tsx
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation.ts
  libs/@hashintel/petrinaut/docs/ai-assistant.md
Due: markdownlint, biome
