Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, prettier, yarn, sqlfluff, rust, toml

markdownlint:
  tags:
  - frontend
  - style
  run: yarn run markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

prettier:
  tags:
  - frontend
  - style
  run: yarn run prettier --write {staged_files} || true
  stage_fixed: true

yarn:
  tags:
  - frontend
  - style
  run: yarn fix:constraints && yarn fix:packagejson && yarn fix:yarn-deduplicate
  stage_fixed: true

sqlfluff:
  tags:
  - backend
  - style
  run: sqlfluff fix {staged_files} || true
  stage_fixed: true

rust:
  tags:
  - backend
  - style
  run: cargo fmt -- {staged_files} || true
  stage_fixed: true

toml:
  tags:
  - backend
  - style
  run: yarn run taplo format {staged_files} || true
  stage_fixed: true

chore: docs
  libs/@local/hashql/mir/src/pass/transform/inst_simplify/mod.rs
  libs/@local/hashql/mir/src/pass/transform/inst_simplify/tests.rs
  libs/@local/hashql/mir/tests/ui/pass/inst_simplify/.spec.toml
  libs/@local/hashql/mir/tests/ui/pass/inst_simplify/annihilator-and-false.jsonc
  libs/@local/hashql/mir/tests/ui/pass/inst_simplify/annihilator-or-true.jsonc
  libs/@local/hashql/mir/tests/ui/pass/inst_simplify/chained-const-fold.jsonc
  libs/@local/hashql/mir/tests/ui/pass/inst_simplify/const-fold-eq.jsonc
  libs/@local/hashql/mir/tests/ui/pass/inst_simplify/const-fold-gt.jsonc
  libs/@local/hashql/mir/tests/ui/pass/inst_simplify/const-fold-gte.jsonc
  libs/@local/hashql/mir/tests/ui/pass/inst_simplify/const-fold-lt.jsonc
  libs/@local/hashql/mir/tests/ui/pass/inst_simplify/const-fold-lte.jsonc
  libs/@local/hashql/mir/tests/ui/pass/inst_simplify/const-fold-ne.jsonc
  libs/@local/hashql/mir/tests/ui/pass/inst_simplify/const-propagation-locals.jsonc
  libs/@local/hashql/mir/tests/ui/pass/inst_simplify/identical-operand-eq.jsonc
  libs/@local/hashql/mir/tests/ui/pass/inst_simplify/identical-operand-gt.jsonc
  libs/@local/hashql/mir/tests/ui/pass/inst_simplify/identical-operand-gte.jsonc
  libs/@local/hashql/mir/tests/ui/pass/inst_simplify/identical-operand-lt.jsonc
  libs/@local/hashql/mir/tests/ui/pass/inst_simplify/identical-operand-lte.jsonc
  libs/@local/hashql/mir/tests/ui/pass/inst_simplify/identical-operand-ne.jsonc
  libs/@local/hashql/mir/tests/ui/pass/inst_simplify/identity-and-true.jsonc
  libs/@local/hashql/mir/tests/ui/pass/inst_simplify/identity-or-false.jsonc
Due: rust, toml

chore: docs
  libs/@local/hashql/mir/src/pass/transform/inst_simplify/tests.rs
Due: rust

fix: format
  libs/@local/hashql/mir/tests/ui/pass/inst_simplify/showcase.jsonc
Due: none

chore: benchmarks
  libs/@local/hashql/compiletest/src/suite/mir_pass_transform_dse.rs
  libs/@local/hashql/mir/benches/transform.rs
  libs/@local/hashql/mir/src/pass/transform/dbe/mod.rs
  libs/@local/hashql/mir/tests/ui/pass/dse/showcase.aux.svg
  libs/@local/hashql/mir/tests/ui/pass/dse/showcase.stdout
Due: rust

chore: snapshots
  libs/@local/hashql/mir/tests/ui/pass/dse/showcase.aux.svg
  libs/@local/hashql/mir/tests/ui/pass/dse/showcase.stdout
Due: none

feat: propagate
  libs/@local/hashql/mir/src/body/operand.rs
  libs/@local/hashql/mir/src/pass/transform/cp/mod.rs
  libs/@local/hashql/mir/src/pass/transform/inst_simplify/mod.rs
  libs/@local/hashql/mir/src/pass/transform/mod.rs
Due: rust

feat: propagate integrate
  libs/@local/hashql/mir/src/pass/transform/cp/mod.rs
  libs/@local/hashql/mir/src/pass/transform/inst_simplify/mod.rs
  libs/@local/hashql/mir/src/pass/transform/mod.rs
Due: rust

chore: tests
  libs/@local/hashql/mir/src/body/operand.rs
  libs/@local/hashql/mir/src/pass/transform/cp/mod.rs
  libs/@local/hashql/mir/src/pass/transform/cp/tests.rs
  libs/@local/hashql/mir/tests/ui/pass/cp/block_param_disagreement.snap
  libs/@local/hashql/mir/tests/ui/pass/cp/block_param_effectful.snap
  libs/@local/hashql/mir/tests/ui/pass/cp/block_param_unanimous.snap
  libs/@local/hashql/mir/tests/ui/pass/cp/block_param_via_local.snap
  libs/@local/hashql/mir/tests/ui/pass/cp/constant_chain.snap
  libs/@local/hashql/mir/tests/ui/pass/cp/loop_back_edge.snap
  libs/@local/hashql/mir/tests/ui/pass/cp/projection_unchanged.snap
  libs/@local/hashql/mir/tests/ui/pass/cp/single_constant.snap
Due: rust

H-5850: Fix PandaCSS and single vite.config (#8194)
  .changeset/beige-toes-tickle.md
  libs/@hashintel/petrinaut/demo-site/index.html
  libs/@hashintel/petrinaut/demo-site/vite.config.ts
  libs/@hashintel/petrinaut/package.json
  libs/@hashintel/petrinaut/src/components/menu.tsx
  libs/@hashintel/petrinaut/src/index.css
  libs/@hashintel/petrinaut/src/views/Editor/components/BottomBar/bottom-bar.tsx
  libs/@hashintel/petrinaut/src/views/Editor/components/BottomBar/diagnostics-indicator.tsx
  libs/@hashintel/petrinaut/src/views/Editor/components/BottomBar/toolbar-modes.tsx
  libs/@hashintel/petrinaut/src/views/Editor/components/mode-selector.tsx
  libs/@hashintel/petrinaut/vite.config.ts
Due: markdownlint, prettier, yarn

formatting and organization in agent/plans and agent/wiki directories
  apps/hash-ai-agent/agent/plans/E2E-test-results-2024-12-17.md
  apps/hash-ai-agent/agent/plans/PLAN-task-decomposition.md
  apps/hash-ai-agent/agent/plans/PR-task-decomposition-framework.md
  apps/hash-ai-agent/agent/plans/PROMPTS-meta-cognitive.md
  apps/hash-ai-agent/agent/wiki/harness-patterns.md
  apps/hash-ai-agent/agent/wiki/mastra-patterns.md
  apps/hash-ai-agent/package.json
Due: markdownlint, prettier, yarn

separate test running from eval running, to save time/money on CI
  apps/hash-ai-agent/package.json
  apps/hash-ai-agent/src/mastra/workflows/planning-workflow.test.ts
Due: prettier, yarn

add more scorer tests
  AGENTS.md
  apps/hash-ai-agent/docs/PLAN-task-decomposition.md
  apps/hash-ai-agent/src/mastra/scorers/plan-llm-scorers.test.ts
  apps/hash-ai-agent/src/mastra/scorers/plan-llm-scorers.ts
  apps/hash-ai-agent/src/mastra/scorers/plan-scorers.ts
Due: markdownlint, prettier

review-related adjustments and fixes
  apps/hash-ai-agent/src/mastra/fixtures/decomposition-prompts/fixtures.test.ts
  apps/hash-ai-agent/src/mastra/scorers/plan-llm-scorers.test.ts
Due: prettier

session captures and comparisons
  apps/hash-ai-agent/docs/sessions/claude-version.txt
  apps/hash-ai-agent/docs/sessions/opencode-session-ses_4d82.md
Due: markdownlint, prettier

create first comprehensive plan -- START: planning agent
  apps/hash-ai-agent/docs/PLAN-task-decomposition.md
Due: markdownlint, prettier

add negative test fixtures and first set of scorers
  apps/hash-ai-agent/src/mastra/scorers/plan-scorers.test.ts
  apps/hash-ai-agent/src/mastra/scorers/plan-scorers.ts
  apps/hash-ai-agent/src/mastra/tools/plan-validator.test.ts
Due: prettier

fix the parallelizable logic
  apps/hash-ai-agent/src/mastra/schemas/plan-spec.ts
  apps/hash-ai-agent/src/mastra/scorers/plan-scorers.ts
Due: prettier

second opencode plan
  apps/hash-ai-agent/docs/PLAN-task-decomposition.md
  apps/hash-ai-agent/docs/PROMPTS-meta-cognitive.md
  apps/hash-ai-agent/src/mastra/schemas/plan-spec.ts
Due: markdownlint, prettier

document updates
  apps/hash-ai-agent/docs/E2E-test-results-2024-12-17.md
  apps/hash-ai-agent/docs/sessions/claude-version.txt
  apps/hash-ai-agent/docs/sessions/opencode-session-ses_4d82.md
  apps/hash-ai-agent/src/mastra/scorers/plan-scorers.ts
  apps/hash-ai-agent/src/mastra/workflows/planning-workflow.test.ts
Due: markdownlint, prettier

black triangle one
  apps/hash-ai-agent/src/mastra/agents/planner-agent.ts
  apps/hash-ai-agent/src/mastra/constants.ts
  apps/hash-ai-agent/src/mastra/fixtures/decomposition-prompts/summarize-papers.ts
  apps/hash-ai-agent/src/mastra/index.ts
  apps/hash-ai-agent/src/mastra/schemas/planning-fixture.ts
  apps/hash-ai-agent/src/mastra/tools/plan-validator.ts
  apps/hash-ai-agent/src/mastra/tools/topology-analyzer.ts
  apps/hash-ai-agent/src/mastra/workflows/planning-workflow.test.ts
  apps/hash-ai-agent/tsconfig.json
  apps/hash-ai-agent/vitest.config.ts
Due: prettier

get whole revision loop passing
  apps/hash-ai-agent/src/mastra/agents/planner-agent.ts
  apps/hash-ai-agent/src/mastra/schemas/plan-spec.ts
  apps/hash-ai-agent/src/mastra/workflows/planning-workflow.test.ts
  apps/hash-ai-agent/src/mastra/workflows/planning-workflow.ts
  apps/hash-ai-agent/src/mastra/workflows/revision-feedback.ts
Due: prettier

fixes
  apps/hash-ai-agent/src/mastra/constants.ts
  apps/hash-ai-agent/src/mastra/fixtures/decomposition-prompts/fixtures.test.ts
  apps/hash-ai-agent/src/mastra/fixtures/decomposition-prompts/fixtures.ts
  apps/hash-ai-agent/src/mastra/schemas/plan-spec.ts
  apps/hash-ai-agent/src/mastra/scorers/plan-llm-scorers.test.ts
  apps/hash-ai-agent/src/mastra/scorers/plan-llm-scorers.ts
  apps/hash-ai-agent/src/mastra/scorers/plan-scorers.test.ts
  apps/hash-ai-agent/src/mastra/tools/plan-validator.test.ts
  apps/hash-ai-agent/vitest.config.ts
Due: prettier

markdownlint ignore update and move files
  .markdownlint-cli2.jsonc
  apps/hash-ai-agent/agent/docs/E2E-test-results-2024-12-17.md
  apps/hash-ai-agent/agent/docs/PLAN-task-decomposition.md
  apps/hash-ai-agent/agent/docs/PROMPTS-meta-cognitive.md
Due: markdownlint, prettier

additional (harder) fixtures for more black triangles
  apps/hash-ai-agent/src/mastra/agents/planner-agent.ts
  apps/hash-ai-agent/src/mastra/fixtures/decomposition-prompts/ct-database-goal.ts
  apps/hash-ai-agent/src/mastra/fixtures/decomposition-prompts/explore-and-recommend.ts
  apps/hash-ai-agent/src/mastra/fixtures/decomposition-prompts/fixtures.test.ts
  apps/hash-ai-agent/src/mastra/fixtures/decomposition-prompts/fixtures.ts
  apps/hash-ai-agent/src/mastra/fixtures/decomposition-prompts/hypothesis-validation.ts
  apps/hash-ai-agent/src/mastra/schemas/plan-spec.ts
  apps/hash-ai-agent/src/mastra/workflows/planning-workflow.ts
Due: prettier

Path conditions:
  markdownlint: any of: *.md
  prettier: any of: *.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}
  yarn: any of: {*/package.json, package.json}
  sqlfluff: any of: *.sql
  rust: any of: *.rs
  toml: any of: *.toml
