Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

markdownlint:
  tags:
  - frontend
  - style
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

biome:
  tags:
  - frontend
  - style
  run: biome format --write --staged || true
  stage_fixed: true

yarn:
  tags:
  - frontend
  - style
  run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
  stage_fixed: true

sqlfluff:
  tags:
  - backend
  - style
  run: sqlfluff fix {staged_files} || true
  stage_fixed: true

rust:
  tags:
  - backend
  - style
  run: rustfmt {staged_files} || true
  stage_fixed: true

toml:
  tags:
  - backend
  - style
  run: taplo format {staged_files} || true
  stage_fixed: true

SRE-965: bump h2 to 0.4.18 in Cargo.lock [SECURITY]
  Cargo.lock
Due: none

perf: use thin production lto
  Cargo.toml
Due: toml

Add network chart to ds
  libs/@hashintel/ds-components/package.json
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/compact-node-layer.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/detailed-node-layer.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/edge-bundling.test.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/edge-bundling.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/fixtures/edges.json.gz
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/fixtures/points.json.gz
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/max-zoom.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/network-graph-util.test.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/network-graph-util.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/network-graph.stories.tsx
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/network-graph.tsx
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/node-density.test.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/node-density.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/zoom-attributes.test.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/zoom-attributes.ts
  libs/@hashintel/ds-components/src/main.ts
  libs/@hashintel/ds-components/src/types.d.ts
  libs/@hashintel/ds-components/src/util/color-scales.ts
  yarn.lock
Due: biome, yarn

Updated default variant button to pop more
  libs/@hashintel/ds-components/src/components/SegmentedControl/segmented-control.recipe.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/place-properties/subviews/place-visualizer/subview.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/transition-properties/subviews/transition-firing-time/subview.tsx
Due: biome

Fix colorjs dependency
  libs/@hashintel/ds-components/package.json
  libs/@hashintel/ds-components/src/util/color-scales.ts
  yarn.lock
Due: biome, yarn

Remove dimming in network graph hover
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/compact-node-layer.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/network-graph.tsx
Due: biome

Fix unit tests
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/compact-node-layer.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/network-graph-util.test.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/network-graph.tsx
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/zoom-attributes.ts
Due: biome

Better arrow gaps in compact view
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/network-graph.tsx
Due: biome

FE-1470: Split the Python bindings' transport from the session facade (#9278)
  libs/@local/petrinaut-python/README.md
  libs/@local/petrinaut-python/src/petrinaut/_transport.py
  libs/@local/petrinaut-python/src/petrinaut/optimization.py
  libs/@local/petrinaut-python/src/petrinaut/session.py
  libs/@local/petrinaut-python/tests/test_e2e_cli.py
  libs/@local/petrinaut-python/tests/test_optimization_session.py
Due: markdownlint, biome

Disable form submit when autocomplete is open
  libs/@hashintel/design-system/src/autocomplete.tsx
  libs/@hashintel/design-system/src/selector-autocomplete.tsx
Due: biome

Prevent extending types without create permission in UI
  apps/hash-frontend/src/pages/shared/entity-type-page/shared/entity-type-header.tsx
  apps/hash-frontend/src/pages/shared/entity-type.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar/shared/entity-or-type-sidebar-item/entity-type-menu.tsx
Due: biome

FE-1492: Add network chart to DS (#9295)
  libs/@hashintel/ds-components/package.json
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/compact-node-layer.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/detailed-node-layer.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/edge-bundling.test.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/edge-bundling.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/fixtures/edges.json.gz
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/fixtures/points.json.gz
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/max-zoom.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/network-graph-util.test.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/network-graph-util.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/network-graph.stories.tsx
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/network-graph.tsx
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/node-density.test.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/node-density.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/zoom-attributes.test.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/zoom-attributes.ts
  libs/@hashintel/ds-components/src/main.ts
  libs/@hashintel/ds-components/src/types.d.ts
  libs/@hashintel/ds-components/src/util/color-scales.ts
  yarn.lock
Due: biome, yarn

Update key for draft type pages to reduce reload
  apps/hash-frontend/src/pages/@/[shortname]/types/data-type/[...slug-maybe-version].page.tsx
  apps/hash-frontend/src/pages/@/[shortname]/types/entity-type/[...slug-maybe-version].page.tsx
Due: biome

Fix yarn.lock file after merge
  yarn.lock
Due: none

Fix main merge
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/compact-node-layer.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/network-graph-util.test.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/network-graph.tsx
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/zoom-attributes.ts
  libs/@hashintel/ds-components/src/util/color-scales.ts
Due: biome

Ticket 06: note prototype branches as implementation seeds for core/flue packages
  imports/brunch-agent/.scratch/elicitation-kernel/issues/06-shipping-shape.md
Due: markdownlint, biome

Resolve capture-sweep logic-prototype (issue 11); graduate multi-session fog (issue 12)
  imports/brunch-agent/.scratch/elicitation-kernel/issues/08-assemble-the-spec.md
  imports/brunch-agent/.scratch/elicitation-kernel/issues/11-logic-prototype-capture-sweep.md
  imports/brunch-agent/.scratch/elicitation-kernel/issues/12-multi-session-durable-target.md
  imports/brunch-agent/.scratch/elicitation-kernel/map.md
Due: markdownlint, biome

Resolve multi-session durable-target (issue 12); flip persistence hypothesis; split target-domain/target-document
  imports/brunch-agent/.scratch/elicitation-kernel/issues/06-shipping-shape.md
  imports/brunch-agent/.scratch/elicitation-kernel/issues/12-multi-session-durable-target.md
  imports/brunch-agent/.scratch/elicitation-kernel/map.md
  imports/brunch-agent/CONTEXT.md
Due: markdownlint, biome

Resolve sweep-seam walking skeleton (ticket 13); capability list amended to ten; spec (08) unblocked
  imports/brunch-agent/.scratch/elicitation-kernel/issues/13-walking-skeleton-sweep-seam.md
  imports/brunch-agent/.scratch/elicitation-kernel/map.md
Due: markdownlint, biome

Resolve shipping-shape (issue 06); add Binding to glossary
  imports/brunch-agent/.scratch/elicitation-kernel/issues/06-shipping-shape.md
  imports/brunch-agent/.scratch/elicitation-kernel/map.md
  imports/brunch-agent/CONTEXT.md
Due: markdownlint, biome

Ticket 13: record HITL reaction #1 and the harness-resolved anchoring fix
  imports/brunch-agent/.scratch/elicitation-kernel/issues/13-walking-skeleton-sweep-seam.md
Due: markdownlint, biome

Resolve ticket 08: spec assembled (spec.md) — map complete
  imports/brunch-agent/.scratch/elicitation-kernel/issues/02-zil-lean-survey.md
  imports/brunch-agent/.scratch/elicitation-kernel/issues/07-dev-target-portfolio.md
  imports/brunch-agent/.scratch/elicitation-kernel/issues/08-assemble-the-spec.md
  imports/brunch-agent/.scratch/elicitation-kernel/map.md
  imports/brunch-agent/.scratch/elicitation-kernel/spec.md
  imports/brunch-agent/CONTEXT.md
Due: markdownlint, biome

Claim ticket 13 (sweep-seam walking skeleton)
  imports/brunch-agent/.scratch/elicitation-kernel/issues/13-walking-skeleton-sweep-seam.md
Due: markdownlint, biome

Resolve Questioning-UX contract (issue 05); harden shell vocabulary
  imports/brunch-agent/.scratch/elicitation-kernel/issues/04-contract-decomposition.md
  imports/brunch-agent/.scratch/elicitation-kernel/issues/05-questioning-ux-contract.md
  imports/brunch-agent/.scratch/elicitation-kernel/issues/10-walking-skeleton-flue-roundtrip.md
  imports/brunch-agent/.scratch/elicitation-kernel/issues/11-logic-prototype-capture-sweep.md
  imports/brunch-agent/.scratch/elicitation-kernel/map.md
  imports/brunch-agent/CONTEXT.md
Due: markdownlint, biome

Map: add exploded-view diagnostic harness to Not yet specified
  imports/brunch-agent/.scratch/elicitation-kernel/map.md
Due: markdownlint, biome

Ticket 13: walking skeleton built, provisional verdict posted — awaiting HITL reaction
  imports/brunch-agent/.scratch/elicitation-kernel/issues/13-walking-skeleton-sweep-seam.md
Due: markdownlint, biome

Pre-assembly prep: consistency pre-pass, second-target rename (plugin-assurance), sweep-seam ticket 13 blocking spec
  imports/brunch-agent/.scratch/elicitation-kernel/issues/06-shipping-shape.md
  imports/brunch-agent/.scratch/elicitation-kernel/issues/08-assemble-the-spec.md
  imports/brunch-agent/.scratch/elicitation-kernel/issues/09-formal-verification-canon-survey.md
  imports/brunch-agent/.scratch/elicitation-kernel/issues/13-walking-skeleton-sweep-seam.md
  imports/brunch-agent/.scratch/elicitation-kernel/map.md
  imports/brunch-agent/.scratch/elicitation-kernel/notes/consistency-prepass-2026-08-10.md
  imports/brunch-agent/CONTEXT.md
Due: markdownlint, biome

Resolve walking skeleton: Flue question round-trip (issue 10)
  imports/brunch-agent/.scratch/elicitation-kernel/issues/10-walking-skeleton-flue-roundtrip.md
  imports/brunch-agent/.scratch/elicitation-kernel/map.md
Due: markdownlint, biome

Initialize repo: agent config, wayfinder map, elicitation-kernel planning state
  imports/brunch-agent/.gitignore
  imports/brunch-agent/.scratch/elicitation-kernel/issues/01-flue-architecture-deep-read.md
  imports/brunch-agent/.scratch/elicitation-kernel/issues/02-zil-lean-survey.md
  imports/brunch-agent/.scratch/elicitation-kernel/issues/03-brunch-exchange-schema-audit.md
  imports/brunch-agent/.scratch/elicitation-kernel/issues/04-contract-decomposition.md
  imports/brunch-agent/.scratch/elicitation-kernel/issues/05-questioning-ux-contract.md
  imports/brunch-agent/.scratch/elicitation-kernel/issues/06-shipping-shape.md
  imports/brunch-agent/.scratch/elicitation-kernel/issues/07-dev-target-portfolio.md
  imports/brunch-agent/.scratch/elicitation-kernel/issues/08-assemble-the-spec.md
  imports/brunch-agent/.scratch/elicitation-kernel/issues/09-formal-verification-canon-survey.md
  imports/brunch-agent/.scratch/elicitation-kernel/map.md
  imports/brunch-agent/AGENTS.md
  imports/brunch-agent/docs/agents/domain.md
  imports/brunch-agent/docs/agents/issue-tracker.md
  imports/brunch-agent/docs/agents/triage-labels.md
  imports/brunch-agent/docs/inbox/agentic-elicitation-challenges-2026-08-06T10-02-41Z.md
  imports/brunch-agent/docs/inbox/agentic-elicitation-criteria-2026-08-06T14-11-18Z.md
Due: markdownlint, biome

Ticket 10: record ratified questionnaire reading (single multi-step affordance, UI-driven progression)
  imports/brunch-agent/.scratch/elicitation-kernel/issues/10-walking-skeleton-flue-roundtrip.md
Due: markdownlint, biome

FE-1400: Strengthen verification, dev storage, and the baseline runner (#9)
  imports/brunch-agent/.github/workflows/ci.yml
  imports/brunch-agent/AGENTS.md
  imports/brunch-agent/apps/dev/src/app.ts
  imports/brunch-agent/apps/dev/src/assets.ts
  imports/brunch-agent/apps/dev/src/db-path.ts
  imports/brunch-agent/apps/dev/src/db.ts
  imports/brunch-agent/apps/dev/test/assets.test.ts
  imports/brunch-agent/apps/dev/test/db-path.test.ts
  imports/brunch-agent/bun.lock
  imports/brunch-agent/docs/planning/process-model-elicitation/baseline/run.ts
  imports/brunch-agent/docs/planning/process-model-elicitation/baseline/transcripts/condition-1-model.txt
  imports/brunch-agent/docs/planning/process-model-elicitation/baseline/transcripts/condition-2-model.txt
  imports/brunch-agent/package.json
  imports/brunch-agent/test/boundaries.test.ts
  imports/brunch-agent/test/build-artifact.test.ts
  imports/brunch-agent/test/known-gaps.ts
  imports/brunch-agent/test/workspace.test.ts
  imports/brunch-agent/test/workspace.ts
Due: markdownlint, biome, yarn

FE-1388: Create the Bun workspace and enforce dependency boundaries (#4)
  imports/brunch-agent/.github/workflows/ci.yml
  imports/brunch-agent/.gitignore
  imports/brunch-agent/.oxfmtrc.json
  imports/brunch-agent/apps/dev/flue.config.ts
  imports/brunch-agent/apps/dev/index.html
  imports/brunch-agent/apps/dev/package.json
  imports/brunch-agent/apps/dev/src/agents/gherkin-elicitor.ts
  imports/brunch-agent/apps/dev/src/app.ts
  imports/brunch-agent/apps/dev/src/db.ts
  imports/brunch-agent/apps/dev/src/ui/main.tsx
  imports/brunch-agent/apps/dev/vite.client.config.ts
  imports/brunch-agent/apps/dev/vite.config.ts
  imports/brunch-agent/bun.lock
  imports/brunch-agent/bunfig.toml
  imports/brunch-agent/docs/INDEX.md
  imports/brunch-agent/docs/adr/0001-brunch-is-the-product-name.md
  imports/brunch-agent/package.json
  imports/brunch-agent/packages/binding-flue/package.json
  imports/brunch-agent/packages/binding-flue/src/capabilities.ts
  imports/brunch-agent/packages/binding-flue/src/index.ts
  imports/brunch-agent/packages/core/package.json
  imports/brunch-agent/packages/core/src/index.ts
  imports/brunch-agent/packages/core/src/naming.ts
  imports/brunch-agent/packages/core/src/plugin.ts
  imports/brunch-agent/packages/core/src/testing/index.ts
  imports/brunch-agent/packages/core/test/naming.test.ts
  imports/brunch-agent/packages/plugin-gherkin/package.json
  imports/brunch-agent/packages/plugin-gherkin/src/index.ts
  imports/brunch-agent/test/boundaries.test.ts
  imports/brunch-agent/test/build-artifact.test.ts
  imports/brunch-agent/test/known-gaps.test.ts
  imports/brunch-agent/test/known-gaps.ts
  imports/brunch-agent/test/workspace.ts
  imports/brunch-agent/tsconfig.base.json
  imports/brunch-agent/tsconfig.json
Due: markdownlint, biome, yarn, toml

FE-1362: Decide the September demo architecture (#2)
  imports/brunch-agent/.gitignore
  imports/brunch-agent/AGENTS.md
  imports/brunch-agent/CONTEXT.md
  imports/brunch-agent/docs/INDEX.md
  imports/brunch-agent/docs/agents/documentation.md
  imports/brunch-agent/docs/agents/git-workflow.md
  imports/brunch-agent/docs/agents/issue-tracker.md
  imports/brunch-agent/docs/agents/issue-writing.md
  imports/brunch-agent/docs/agents/triage-labels.md
  imports/brunch-agent/docs/inbox/SDCPN Library - Ideas.md
  imports/brunch-agent/docs/inbox/hash-sails-public-report.pdf
  imports/brunch-agent/docs/inbox/voice-implementation-recommendation-pplx.md
  imports/brunch-agent/docs/inbox/yannis-dora-lu-transcript-2026-08-11.md
  imports/brunch-agent/docs/planning/elicitation-kernel/issues/01-flue-architecture-deep-read.md
  imports/brunch-agent/docs/planning/elicitation-kernel/issues/02-zil-lean-survey.md
  imports/brunch-agent/docs/planning/elicitation-kernel/issues/03-brunch-exchange-schema-audit.md
  imports/brunch-agent/docs/planning/elicitation-kernel/issues/04-contract-decomposition.md
  imports/brunch-agent/docs/planning/elicitation-kernel/issues/05-questioning-ux-contract.md
  imports/brunch-agent/docs/planning/elicitation-kernel/issues/06-shipping-shape.md
  imports/brunch-agent/docs/planning/elicitation-kernel/issues/07-dev-target-portfolio.md
  imports/brunch-agent/docs/planning/elicitation-kernel/issues/08-assemble-the-spec.md
  imports/brunch-agent/docs/planning/elicitation-kernel/issues/09-formal-verification-canon-survey.md
  imports/brunch-agent/docs/planning/elicitation-kernel/issues/10-walking-skeleton-flue-roundtrip.md
  imports/brunch-agent/docs/planning/elicitation-kernel/issues/11-logic-prototype-capture-sweep.md
  imports/brunch-agent/docs/planning/elicitation-kernel/issues/12-multi-session-durable-target.md
  imports/brunch-agent/docs/planning/elicitation-kernel/issues/13-walking-skeleton-sweep-seam.md
  imports/brunch-agent/docs/planning/elicitation-kernel/map.md
  imports/brunch-agent/docs/planning/elicitation-kernel/notes/consistency-prepass-2026-08-10.md
  imports/brunch-agent/docs/planning/elicitation-kernel/product-description-plain.md
  imports/brunch-agent/docs/planning/elicitation-kernel/product-description.md
  imports/brunch-agent/docs/planning/elicitation-kernel/spec.md
  imports/brunch-agent/docs/planning/process-model-elicitation/notes/expert-meeting-findings-2026-08-11.md
  imports/brunch-agent/docs/planning/process-model-elicitation/notes/expert-meeting-prep-2026-08-11.md
  imports/brunch-agent/docs/planning/process-model-elicitation/notes/grilling-inputs-2026-08-12.md
  imports/brunch-agent/docs/planning/process-model-elicitation/notes/open-questions-elicitation-design-2026-08-11.md
  imports/brunch-agent/docs/planning/process-model-elicitation/recommendation-demo-vehicle.md
  imports/brunch-agent/docs/planning/process-model-elicitation/research/elicitation-strategy-literature.md
  imports/brunch-agent/docs/planning/process-model-elicitation/research/petrinaut-survey.md
  imports/brunch-agent/docs/planning/process-model-elicitation/research/re-interviewing-literature-worker-report.md
  imports/brunch-agent/docs/planning/process-model-elicitation/research/voice-feasibility.md
Due: markdownlint, biome

FE-1363: Choose the demo use case and modelling criteria (#3)
  imports/brunch-agent/CONTEXT.md
Due: markdownlint, biome

FE-1401: Resolve the stack legibility follow-ups (#12)
  imports/brunch-agent/AGENTS.md
  imports/brunch-agent/CONTEXT.md
  imports/brunch-agent/docs/INDEX.md
  imports/brunch-agent/docs/agents/git-workflow.md
  imports/brunch-agent/docs/agents/legibility.md
  imports/brunch-agent/docs/agents/posture.md
  imports/brunch-agent/docs/inbox/amp-analysis-flue-vs-tilde.md
  imports/brunch-agent/docs/planning/CONVERGENCE.md
  imports/brunch-agent/docs/planning/process-model-elicitation/capture-store-plain.md
  imports/brunch-agent/docs/planning/process-model-elicitation/ir-design-plain.md
  imports/brunch-agent/docs/planning/process-model-elicitation/ir-design.md
  imports/brunch-agent/docs/planning/process-model-elicitation/notes/deep-read-fe-1389.md
  imports/brunch-agent/docs/planning/process-model-elicitation/notes/deep-read-fe-1390.md
  imports/brunch-agent/docs/planning/process-model-elicitation/notes/penciled-directions-2026-08-14.md
  imports/brunch-agent/docs/planning/process-model-elicitation/notes/research-patterns-audit.md
  imports/brunch-agent/docs/planning/refactor-queue-2026-08-14.md
Due: markdownlint, biome

FE-1419: Align capture-store rules and verification claims (#13)
  imports/brunch-agent/.github/workflows/ci.yml
  imports/brunch-agent/AGENTS.md
  imports/brunch-agent/CONTEXT.md
  imports/brunch-agent/apps/dev/flue.config.ts
  imports/brunch-agent/apps/dev/src/agents/gherkin-elicitor.ts
  imports/brunch-agent/apps/dev/src/assets.ts
  imports/brunch-agent/apps/dev/test/assets.test.ts
  imports/brunch-agent/apps/dev/test/walking-skeleton.integration.ts
  imports/brunch-agent/apps/dev/test/walking-skeleton.test.ts
  imports/brunch-agent/docs/INDEX.md
  imports/brunch-agent/docs/adr/0002-topology-and-placement-rules.md
  imports/brunch-agent/docs/agents/flue-routing.md
  imports/brunch-agent/docs/agents/issue-tracker.md
  imports/brunch-agent/docs/planning/CONVERGENCE.md
  imports/brunch-agent/docs/planning/flue-architecture-cheatsheet.md
  imports/brunch-agent/docs/planning/flue-patterns-audit-2026-08-17.md
  imports/brunch-agent/docs/planning/remediation-plan-2026-08-17.md
  imports/brunch-agent/docs/planning/topology.md
  imports/brunch-agent/packages/binding-flue/src/index.ts
  imports/brunch-agent/packages/binding-flue/test/local-capture-store.test.ts
  imports/brunch-agent/packages/core/src/capture-store.ts
  imports/brunch-agent/packages/core/test/capture-store.test.ts
  imports/brunch-agent/test/boundaries.test.ts
  imports/brunch-agent/test/known-gaps.test.ts
  imports/brunch-agent/test/known-gaps.ts
  imports/brunch-agent/test/open-gaps.test.ts
  imports/brunch-agent/test/open-gaps.ts
Due: markdownlint, biome

FE-1374: Assemble the spec (#1)
  imports/brunch-agent/.scratch/elicitation-kernel/issues/08-assemble-the-spec.md
  imports/brunch-agent/.scratch/elicitation-kernel/product-description-plain.md
  imports/brunch-agent/.scratch/elicitation-kernel/product-description.md
  imports/brunch-agent/.scratch/elicitation-kernel/spec.md
  imports/brunch-agent/CONTEXT.md
Due: markdownlint, biome

FE-1397: Validate the generic IR against worked plugin payloads (#8)
  imports/brunch-agent/docs/planning/process-model-elicitation/ir-design.md
  imports/brunch-agent/docs/planning/process-model-elicitation/ir-worked-examples.md
Due: markdownlint, biome

FE-1364: Define the process-model elicitation representation (#5)
  imports/brunch-agent/CONTEXT.md
  imports/brunch-agent/docs/planning/process-model-elicitation/ir-design.md
Due: markdownlint, biome

FE-1399: Fix verified silent failures in CI and the dev app (#7)
  imports/brunch-agent/CLAUDE.md
  imports/brunch-agent/apps/dev/src/app.ts
  imports/brunch-agent/apps/dev/src/assets.ts
  imports/brunch-agent/apps/dev/test/assets.test.ts
  imports/brunch-agent/packages/core/src/naming.ts
  imports/brunch-agent/packages/core/test/naming.test.ts
  imports/brunch-agent/test/boundaries.test.ts
  imports/brunch-agent/test/build-artifact.test.ts
  imports/brunch-agent/test/workspace.test.ts
  imports/brunch-agent/test/workspace.ts
Due: markdownlint, biome

Path conditions:
  markdownlint: any of: *.md
  biome: any of: *.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}
  yarn: any of: {*/package.json, package.json}
  sqlfluff: any of: *.sql
  rust: any of: *.rs
  toml: any of: *.toml
