Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

markdownlint:
  tags:
  - frontend
  - style
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

biome:
  tags:
  - frontend
  - style
  run: biome format --write --staged || true
  stage_fixed: true

yarn:
  tags:
  - frontend
  - style
  run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
  stage_fixed: true

sqlfluff:
  tags:
  - backend
  - style
  run: sqlfluff fix {staged_files} || true
  stage_fixed: true

rust:
  tags:
  - backend
  - style
  run: rustfmt {staged_files} || true
  stage_fixed: true

toml:
  tags:
  - backend
  - style
  run: taplo format {staged_files} || true
  stage_fixed: true

FE-1486: Repeated clicks activate through their click count
  libs/@hashintel/petrinaut/src/ui/worksheet/use-select-first.ts
  libs/@local/petrinaut-arch-docs/content/ui/worksheet/usage-manual.mdx
Due: biome

FE-1486: Empty cells show their neutral grayed; arrows step booleans and empty values
  libs/@hashintel/petrinaut/src/ui/components/ad-hoc-scenario-form/ad-hoc-scenario-form.test.tsx
  libs/@hashintel/petrinaut/src/ui/components/ad-hoc-scenario-form/parameter-rows.tsx
  libs/@hashintel/petrinaut/src/ui/components/ad-hoc-scenario-form/token-table.tsx
  libs/@hashintel/petrinaut/src/ui/components/ad-hoc-scenario-form/value-editor.tsx
  libs/@hashintel/petrinaut/src/ui/components/ad-hoc-scenario-form/variable-rows.tsx
Due: biome

FE-1486: Soften the highlight palette to neutral washes
  libs/@hashintel/petrinaut/src/ui/components/ad-hoc-scenario-form/spreadsheet/form-table.ts
  libs/@local/petrinaut-arch-docs/content/ui/ad-hoc-form.mdx
  libs/@local/petrinaut-arch-docs/content/ui/form-interaction-spec.mdx
Due: biome

FE-1486: Opening a cell selects its content; overwrite keeps typing
  libs/@hashintel/petrinaut/src/ui/components/ad-hoc-scenario-form/value-editor.tsx
  libs/@hashintel/petrinaut/src/ui/monaco/code-editor.tsx
  libs/@local/petrinaut-arch-docs/content/ui/form-interaction-spec.mdx
Due: biome

FE-1486: Scope the frame tiers to the outer borders
  libs/@hashintel/petrinaut/src/ui/components/ad-hoc-scenario-form/spreadsheet/form-spreadsheet.tsx
  libs/@hashintel/petrinaut/src/ui/components/ad-hoc-scenario-form/spreadsheet/form-table.ts
  libs/@hashintel/petrinaut/src/ui/components/ad-hoc-scenario-form/variable-rows.tsx
Due: biome

FE-1486: One aligned line per place; wider masked name cells
  libs/@hashintel/petrinaut/src/ui/components/ad-hoc-scenario-form/parameter-rows.tsx
  libs/@hashintel/petrinaut/src/ui/components/ad-hoc-scenario-form/place-block.tsx
Due: biome

FE-1486: Blend plain gutters into the table background
  libs/@hashintel/petrinaut/src/ui/components/ad-hoc-scenario-form/spreadsheet/form-table.ts
Due: biome

FE-1486: Rework the highlight palette, add-line visibility, and narrow-column fit
  libs/@hashintel/petrinaut/src/ui/components/ad-hoc-scenario-form/dependency-highlight.ts
  libs/@hashintel/petrinaut/src/ui/components/ad-hoc-scenario-form/form-context.ts
  libs/@hashintel/petrinaut/src/ui/components/ad-hoc-scenario-form/spreadsheet/form-table.ts
  libs/@hashintel/petrinaut/src/ui/components/ad-hoc-scenario-form/token-table.tsx
  libs/@hashintel/petrinaut/src/ui/components/ad-hoc-scenario-form/value-editor.tsx
  libs/@hashintel/petrinaut/src/ui/components/ad-hoc-scenario-form/variable-rows.tsx
  libs/@local/petrinaut-arch-docs/content/ui/form-interaction-spec.mdx
Due: biome

FE-1486: One row palette drives tints, selection, and hover shades
  libs/@hashintel/petrinaut/src/ui/components/ad-hoc-scenario-form/parameter-rows.tsx
  libs/@hashintel/petrinaut/src/ui/components/ad-hoc-scenario-form/place-block.tsx
  libs/@hashintel/petrinaut/src/ui/components/ad-hoc-scenario-form/spreadsheet/form-spreadsheet.tsx
  libs/@hashintel/petrinaut/src/ui/components/ad-hoc-scenario-form/spreadsheet/form-table.ts
  libs/@hashintel/petrinaut/src/ui/components/ad-hoc-scenario-form/token-table.tsx
  libs/@hashintel/petrinaut/src/ui/components/ad-hoc-scenario-form/variable-rows.tsx
  libs/@local/petrinaut-arch-docs/content/ui/ad-hoc-form.mdx
Due: biome

FE-1486: Tighten the places list, mark filled places, and mount tables lazily
  libs/@hashintel/petrinaut/src/ui/components/ad-hoc-scenario-form/ad-hoc-scenario-form.tsx
  libs/@hashintel/petrinaut/src/ui/components/ad-hoc-scenario-form/place-block.tsx
  libs/@local/petrinaut-arch-docs/content/ui/form-interaction-spec.mdx
Due: biome

FE-1486: Keep the focused cell clear of faded scroll-area edges
  libs/@hashintel/petrinaut/src/ui/components/ad-hoc-scenario-form/ad-hoc-scenario-form.tsx
  libs/@hashintel/petrinaut/src/ui/worksheet/use-focus-clearance.test.ts
  libs/@hashintel/petrinaut/src/ui/worksheet/use-focus-clearance.ts
  libs/@local/petrinaut-arch-docs/content/ui/form-interaction-spec.mdx
  libs/@local/petrinaut-arch-docs/content/ui/worksheet/usage-manual.mdx
Due: biome

FE-1486: A late format response only lands while its slot is unchanged
  libs/@hashintel/petrinaut/src/ui/components/ad-hoc-scenario-form/value-editor.tsx
Due: biome

FE-1552: Sample the sweep surface on four concurrent lanes
  libs/@hashintel/petrinaut/src/react/experiments/sweep-session.test.ts
  libs/@hashintel/petrinaut/src/react/experiments/sweep-session.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/sweep-surface.tsx
  libs/@local/petrinaut-arch-docs/content/experiments/sweep-surface.mdx
Due: biome

FE-1553: Calibrate histogram windows from observed ranges instead of warning
  libs/@hashintel/petrinaut-core/src/webgpu/backend.ts
  libs/@hashintel/petrinaut-core/src/webgpu/compile-net-shader.test.ts
  libs/@hashintel/petrinaut-core/src/webgpu/compile-net-shader.ts
  libs/@hashintel/petrinaut-core/src/webgpu/gpu-experiment-handle.ts
  libs/@hashintel/petrinaut-core/src/webgpu/metric-windows.test.ts
  libs/@hashintel/petrinaut-core/src/webgpu/metric-windows.ts
  libs/@hashintel/petrinaut-core/src/webgpu/runner.ts
  libs/@local/petrinaut-arch-docs/content/diagrams/gpu-histogram-sizing.d2
  libs/@local/petrinaut-arch-docs/content/simulation/gpu-histogram-sizing.mdx
Due: biome

FE-1553: Widen GPU acceptance with forwarded kernel tokens and a tiling-aware state gate
  libs/@hashintel/petrinaut-core/src/webgpu/compilation-report.test.ts
  libs/@hashintel/petrinaut-core/src/webgpu/compile-net-shader.test.ts
  libs/@hashintel/petrinaut-core/src/webgpu/compile-net-shader.ts
  libs/@hashintel/petrinaut-core/src/webgpu/eligibility.test.ts
  libs/@hashintel/petrinaut-core/src/webgpu/eligibility.ts
  libs/@hashintel/petrinaut/docs/experiments.md
Due: markdownlint, biome

FE-1553: Derive typed-place capacities on the GPU by probing and growing
  libs/@hashintel/petrinaut-core/src/webgpu/backend.ts
  libs/@hashintel/petrinaut-core/src/webgpu/compilation-report.test.ts
  libs/@hashintel/petrinaut-core/src/webgpu/compile-net-shader.ts
  libs/@hashintel/petrinaut-core/src/webgpu/eligibility.test.ts
  libs/@hashintel/petrinaut-core/src/webgpu/eligibility.ts
  libs/@hashintel/petrinaut-core/src/webgpu/gpu-experiment-handle.ts
  libs/@hashintel/petrinaut-core/src/webgpu/runner.ts
  libs/@hashintel/petrinaut/docs/experiments.md
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/create-experiment-drawer.test.tsx
  libs/@local/petrinaut-arch-docs/content/diagrams/gpu-capacity-calibration.d2
  libs/@local/petrinaut-arch-docs/content/simulation/gpu-capacity-calibration.mdx
  libs/@local/petrinaut-arch-docs/content/simulation/gpu-run-tiling.mdx
Due: markdownlint, biome

FE-1552: Keep the last contour picture through surface walk restarts
  libs/@hashintel/petrinaut/src/ui/components/contour-surface.stories.tsx
  libs/@hashintel/petrinaut/src/ui/components/contour-surface.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/optimization-surface.tsx
  libs/@local/petrinaut-arch-docs/content/experiments/sweep-surface.mdx
Due: biome

FE-1553: Grow probe slabs harder before conceding to the CPU
  .changeset/gpu-range-sweeps.md
  libs/@hashintel/petrinaut-core/src/webgpu/gpu-experiment-handle.ts
  libs/@local/petrinaut-arch-docs/content/diagrams/gpu-capacity-calibration.d2
  libs/@local/petrinaut-arch-docs/content/simulation/gpu-capacity-calibration.mdx
Due: markdownlint, biome

FE-1486: History adopts same-content rematerializations without a step
  libs/@hashintel/petrinaut/src/ui/components/ad-hoc-scenario-form/use-form-history.test.tsx
  libs/@hashintel/petrinaut/src/ui/components/ad-hoc-scenario-form/use-form-history.ts
Due: biome

FE-1486: The portaled slab re-attaches the form root's key guards
  libs/@hashintel/petrinaut/src/ui/components/ad-hoc-scenario-form/ad-hoc-scenario-form.tsx
  libs/@hashintel/petrinaut/src/ui/components/ad-hoc-scenario-form/form-context.ts
  libs/@hashintel/petrinaut/src/ui/components/ad-hoc-scenario-form/value-editor.tsx
Due: biome

H-6791: Stop @local/harpc-client unit tests from running twice after a package build
  libs/@local/harpc/client/typescript/tsconfig.build.json
  libs/@local/harpc/client/typescript/vitest.config.ts
Due: biome

Remove generic vendor skills from repository root
  .agents/skills/ark-ui/SKILL.md
  .agents/skills/mastra/SKILL.md
  .agents/skills/panda-css/SKILL.md
  .agents/skills/zod/SKILL.md
  .claude/skills/ark-ui
  .claude/skills/mastra
  .claude/skills/panda-css
  .claude/skills/skill-rules.json
  .claude/skills/zod
Due: markdownlint, biome

H-6791: Allow Vitest dir configuration property
  libs/@local/harpc/client/typescript/vitest.config.ts
Due: biome

H-6791: Stop @local/harpc-client unit tests from running twice after a package build (#9344)
  libs/@local/harpc/client/typescript/tsconfig.build.json
  libs/@local/harpc/client/typescript/vitest.config.ts
Due: biome

passing HASH_PETRINAUT_OPT_LOG_LEVEL to python optimisation API
  apps/petrinaut-opt/src/optimization_api.py
Due: none

added HASH_PETRINAUT_OPT_LOG_LEVEL env var
  .env
  apps/hash-api/README.md
  apps/petrinaut-opt/README.md
  infra/compose/compose.yml
Due: markdownlint, biome

SRE-974: Scope esbuild resolutions to ^0.28.1 to drop 0.27.7
  package.json
  yarn.lock
Due: biome

changed naming convention for evaluating runs and added logging
  libs/@local/petrinaut-python/src/petrinaut/_transport.py
Due: none

added seedPerTrial argument for stochastic optimisation experiments
  libs/@hashintel/petrinaut-cli/test-fixtures/supply-chain-profit-optimization.json
Due: biome

Trim the git workflow guidance to retain only the linear and GitHub-related parts and remove graphite
  .agents/skills/managing-git-workflow/SKILL.md
  .claude/hooks/__snapshots__/improve rust documentation.snap
  .claude/hooks/__snapshots__/open a pull request.snap
  .claude/hooks/skill-activation-prompt.test.ts
  .claude/skills/skill-rules.json
Due: markdownlint, biome

FE-1410: Define the seeds-per-trial contract in the optimization manifest
  .changeset/optimization-seeds-per-trial.md
Due: markdownlint, biome

FE-1408: Run a trial as multiple seeded simulations aggregated by mean
  libs/@hashintel/petrinaut-cli/OPTIMIZATION_INTEGRATION.md
Due: markdownlint, biome

propagating changes to naming convention of evaluate runs
  apps/petrinaut-opt/src/petrinaut_optimizer.py
  apps/petrinaut-opt/tests/test_petrinaut_client.py
Due: none

Fix skill activation and alias creation edge cases
  .agents/skills/rust-coding-style/SKILL.md
  .agents/skills/rust-tracing-practices/SKILL.md
  .claude/hooks/skill-activation-prompt.test.ts
  .claude/skills/skill-rules.json
  libs/@local/repo-chores/node/scripts/skill-management/init.test.ts
  libs/@local/repo-chores/node/scripts/skill-management/init.ts
Due: markdownlint, biome

feat: add OrcaRouter as a first-class LLM provider
  .env
  README.md
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/get-orcarouter-response.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/types.ts
  apps/hash-ai-worker-ts/src/activities/shared/inference-model-alias-to-llm-model.ts
  apps/hash-ai-worker-ts/src/activities/shared/orcarouter-client.ts
  libs/@local/hash-isomorphic-utils/src/ai-inference-types.ts
Due: markdownlint, biome

BE-802: Load programmatic defaults in hash-config (#9437)
  Cargo.lock
  Cargo.toml
  libs/@local/config/Cargo.toml
  libs/@local/config/docs/dependency-diagram.mmd
  libs/@local/config/examples/defaults.rs
  libs/@local/config/package.json
  libs/@local/config/src/defaults.rs
  libs/@local/config/src/error.rs
  libs/@local/config/src/lib.rs
  libs/@local/config/tests/defaults.rs
  yarn.lock
Due: biome, yarn, rust, toml

renamed evalute_runs to objective
  apps/petrinaut-opt/src/petrinaut_optimizer.py
  apps/petrinaut-opt/tests/test_petrinaut_client.py
Due: none

FE-1406: Establish the harness-teaching plugin contract
  libs/@hashintel/brunch-agent/CONTEXT.md
  libs/@hashintel/brunch-agent/docs/INDEX.md
  libs/@hashintel/brunch-agent/docs/adr/0006-plugins-per-target-formalism.md
  libs/@hashintel/brunch-agent/docs/adr/0007-harness-teaching-meets-plugin-content-at-fixed-keys.md
  libs/@hashintel/brunch-agent/docs/control/SPEC-LEDGER.md
  libs/@hashintel/brunch-agent/docs/control/STEERING.md
  libs/@hashintel/brunch-agent/docs/control/STRATEGY-LOG.md
  libs/@hashintel/brunch-agent/docs/evidence/proofs/audits/harness-teaching-lineage-audit.md
Due: markdownlint, biome

Path conditions:
  markdownlint: any of: *.md
  biome: any of: *.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}
  yarn: any of: {*/package.json, package.json}
  sqlfluff: any of: *.sql
  rust: any of: *.rs
  toml: any of: *.toml
