Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

markdownlint:
  tags:
  - frontend
  - style
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

biome:
  tags:
  - frontend
  - style
  run: biome format --write --staged || true
  stage_fixed: true

yarn:
  tags:
  - frontend
  - style
  run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
  stage_fixed: true

sqlfluff:
  tags:
  - backend
  - style
  run: sqlfluff fix {staged_files} || true
  stage_fixed: true

rust:
  tags:
  - backend
  - style
  run: rustfmt {staged_files} || true
  stage_fixed: true

toml:
  tags:
  - backend
  - style
  run: taplo format {staged_files} || true
  stage_fixed: true

Updated goals page to use new square organization avatar
  apps/hash-frontend/src/pages/flows.page.tsx
  apps/hash-frontend/src/pages/shared/flow-tables.tsx
  apps/hash-frontend/src/pages/shared/web-selector.tsx
  apps/hash-frontend/src/pages/workers.page/flow-run-table.tsx
Due: biome

Stamp ontology writes with a per-operation database clock reading
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/data_type.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/entity_type.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/property_type.rs
Due: rust

FE-1204: Fix org avatars to be square (#9103)
  apps/hash-frontend/src/pages/@/[shortname].page/profile-page-header.tsx
  apps/hash-frontend/src/pages/flows.page.tsx
  apps/hash-frontend/src/pages/shared/flow-tables.tsx
  apps/hash-frontend/src/pages/shared/web-selector.tsx
  apps/hash-frontend/src/pages/workers.page/flow-run-table.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar/workspace-switcher.tsx
Due: biome

H-6717: Dashboard config and refresh improvements (#9085)
  apps/hash-ai-worker-ts/src/activities/flow-activities/infer-metadata-from-document-action/generate-proposed-entities-and-claims.ts
  apps/hash-api/src/analysis/analyses/dashboards.test.ts
  apps/hash-api/src/analysis/analyses/dashboards.ts
  apps/hash-frontend/src/pages/dashboard/[dashboard-id].page.tsx
  apps/hash-frontend/src/pages/dashboard/[dashboard-id].page/dashboard-grid/dashboard-item.tsx
  apps/hash-frontend/src/pages/dashboard/[dashboard-id].page/dashboard-grid/dashboard-item/dashboard-item-content.tsx
  apps/hash-frontend/src/pages/dashboard/hooks/use-dashboard-item-config.ts
  apps/hash-frontend/src/pages/dashboard/hooks/use-dashboard-item-data.ts
  libs/@local/hash-isomorphic-utils/src/chart-config-validation.ts
  libs/@local/hash-isomorphic-utils/src/dashboard-types.ts
Due: biome

feat: cleanup to use hashql facilities
  libs/@local/graph/atlas/Cargo.toml
  libs/@local/graph/atlas/examples/classifier_compare.rs
  libs/@local/graph/atlas/src/bench.rs
  libs/@local/graph/atlas/src/lib.rs
  libs/@local/graph/atlas/src/salt/adjacency/artifact.rs
  libs/@local/graph/atlas/src/salt/adjacency/mod.rs
  libs/@local/graph/atlas/src/salt/fit/compute/landmark.rs
  libs/@local/graph/atlas/src/salt/landmark/select.rs
  libs/@local/graph/atlas/src/salt/mod.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/mod.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/solver/mod.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/mod.rs
  libs/@local/graph/atlas/src/salt/quality/probe/mod.rs
  libs/@local/graph/atlas/src/salt/quality/probe/pass.rs
  libs/@local/graph/atlas/src/salt/quality/probe/readings.rs
  libs/@local/graph/atlas/src/salt/quality/runner.rs
  libs/@local/graph/atlas/src/salt/quality/tests.rs
  libs/@local/hashql/core/src/heap/allocator.rs
  libs/@local/hashql/core/src/id/slice.rs
  libs/@local/hashql/core/src/id/tests.rs
  libs/@local/hashql/macros/src/id/struct.rs
  libs/@local/hashql/macros/src/lib.rs
Due: rust, toml

add value column in planning parameters column and slideover
  apps/hash-api/src/seed-data/supply-chain-dataset-import.test.ts
  apps/hash-frontend/src/pages/supply-chain/shared/cost.test.ts
  apps/hash-frontend/src/pages/supply-chain/shared/cost.ts
  apps/hash-frontend/src/pages/supply-chain/shared/docs/docs-modal/docs-content/site-overview.tsx
  apps/hash-frontend/src/pages/supply-chain/shared/docs/docs-modal/docs-content/step-detail.tsx
  apps/hash-frontend/src/pages/supply-chain/shared/site-aggregation.test.ts
  apps/hash-frontend/src/pages/supply-chain/shared/step-detail-panel/timing-metrics.tsx
  apps/hash-frontend/src/pages/supply-chain/shared/supplier-otif.test.ts
  apps/hash-frontend/src/pages/supply-chain/shared/types.ts
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/product/production-schedule.test.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/product/production-schedule/model.test.ts
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/opportunities.test.ts
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/planning-table.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/shared/helpers.test.ts
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/shared/helpers.ts
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/shared/row-types.ts
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/use-site-overview-rows.ts
  libs/@local/hash-isomorphic-utils/src/production-schedule/schema.ts
Due: biome

fix potential stylesheet cascade issues, add regression test for slideover visibility
  apps/hash-frontend/src/pages/supply-chain/shared/action-button-styles.ts
  apps/hash-frontend/src/pages/supply-chain/shared/action-buttons.tsx
  apps/hash-frontend/src/pages/supply-chain/shared/docs/docs-modal.tsx
  apps/hash-frontend/src/pages/supply-chain/shared/header-actions.tsx
  apps/hash-frontend/src/pages/supply-chain/shared/segmented-control.tsx
  apps/hash-frontend/src/pages/supply-chain/shared/slide-over.test.tsx
  apps/hash-frontend/src/pages/supply-chain/shared/slide-over.tsx
  apps/hash-frontend/src/pages/supply-chain/shared/step-detail-panel.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/product/e2e-what-if/what-if-kpis.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/product/production-schedule/schedule-summary.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/shared/filter-menu.tsx
Due: biome

fixes to slideover open/close animation
  apps/hash-frontend/src/pages/supply-chain/shared/slide-over.test.tsx
  apps/hash-frontend/src/pages/supply-chain/shared/slide-over.tsx
Due: biome

linting / PR feedback
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/planning-table.tsx
Due: biome

BE-702: Compile sorted entity reads as keys-first statements (#9048)
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/pool.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/ast/expression/function.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/ast/expression/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/compile/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/compile/tests.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/mod.rs
Due: rust

BE-705: Drop the frontend TODO pointing at this ticket
  apps/hash-frontend/src/pages/shared/entities-visualizer/use-entities-visualizer-data.tsx
Due: biome

BE-705: Add a dedicated entities-table query endpoint to the Graph
  .gitattributes
  Cargo.lock
  Cargo.toml
  apps/hash-api/src/graphql/resolvers/index.ts
  apps/hash-api/src/graphql/resolvers/knowledge/entity/entity.ts
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/api/src/rest/entity/mod.rs
  libs/@local/graph/api/src/rest/entity/query/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/summary.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/table.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/ast/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/ast/non_empty.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/mod.rs
  libs/@local/graph/sdk/typescript/src/entity.ts
  libs/@local/graph/store/Cargo.toml
  libs/@local/graph/store/src/entity/mod.rs
  libs/@local/graph/store/src/entity/store.rs
  libs/@local/graph/store/src/entity/table.rs
  libs/@local/graph/store/src/query/ordering.rs
  libs/@local/graph/type-fetcher/src/store.rs
  libs/@local/hash-isomorphic-utils/src/graphql/scalar-mapping.ts
  libs/@local/hash-isomorphic-utils/src/graphql/type-defs/knowledge/entity.typedef.ts
  tests/graph/integration/postgres/email_filter_protection.rs
  tests/graph/integration/postgres/lib.rs
  tests/graph/integration/postgres/table.rs
Due: biome, rust, toml

BE-705: Clear clippy across all targets
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/summary.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/table.rs
  libs/@local/graph/store/src/entity/table.rs
  tests/graph/integration/postgres/table.rs
Due: rust

BE-705: Separate the type selection from the excluded types and drop draft rows
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/api/src/rest/entity/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/table.rs
  libs/@local/graph/sdk/typescript/src/entity.ts
  libs/@local/graph/store/src/entity/mod.rs
  libs/@local/graph/store/src/entity/store.rs
  libs/@local/graph/store/src/entity/table.rs
  tests/graph/integration/postgres/email_filter_protection.rs
  tests/graph/integration/postgres/table.rs
Due: biome, rust

BE-705: Derive the type universe on first pages only
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/table.rs
  libs/@local/graph/store/src/entity/table.rs
Due: rust

BE-705: Let the table query own its page sequence
  apps/hash-frontend/src/components/grid/grid.tsx
  apps/hash-frontend/src/components/grid/utils.ts
  apps/hash-frontend/src/pages/shared/entities-visualizer.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/shared/property-filters/build-property-filter-clause.test.ts
  apps/hash-frontend/src/pages/shared/entities-visualizer/use-entities-table-query.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/use-entities-table-query/generate-table-data-from-endpoint-rows.browser.test.ts
  apps/hash-frontend/src/pages/shared/entities-visualizer/use-entities-table-query/generate-table-data-from-endpoint-rows.ts
Due: biome

BE-705: Move the entities table view onto the table endpoint
  apps/hash-frontend/src/graphql/queries/knowledge/entity.queries.ts
  apps/hash-frontend/src/pages/entities.page.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/entities-table-data.ts
  apps/hash-frontend/src/pages/shared/entities-visualizer/entities-table.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/shared/property-filters/build-property-filter-clause.test.ts
  apps/hash-frontend/src/pages/shared/entities-visualizer/shared/property-filters/build-property-filter-clause.ts
  apps/hash-frontend/src/pages/shared/entities-visualizer/shared/use-available-types.ts
  apps/hash-frontend/src/pages/shared/entities-visualizer/use-entities-table-data.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/use-entities-table-data/generate-table-data-from-rows.ts
  apps/hash-frontend/src/pages/shared/entities-visualizer/use-entities-table-query.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/use-entities-table-query/generate-table-data-from-endpoint-rows.ts
  apps/hash-frontend/src/pages/shared/entities-visualizer/use-entities-visualizer-data.tsx
  apps/hash-frontend/src/shared/is-archived.ts
  apps/hash-frontend/src/shared/is-of-type.ts
  apps/hash-frontend/src/shared/table-header/bulk-actions-dropdown.tsx
Due: biome

BE-705: Restart the sequence on the cursor in effect, not the requested one
  apps/hash-frontend/src/pages/shared/entities-visualizer/use-entities-table-query.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/use-entities-table-query/cursor-in-effect.test.ts
  apps/hash-frontend/src/pages/shared/entities-visualizer/use-entities-table-query/cursor-in-effect.ts
Due: biome

BE-705: Stub the canvas the row generator measures column widths against
  apps/hash-frontend/src/pages/shared/entities-visualizer/use-entities-table-query/generate-table-data-from-endpoint-rows.browser.test.ts
Due: biome

BE-705: Keep the resolved types out of the page sequence
  apps/hash-frontend/src/pages/shared/entities-visualizer/use-entities-table-query.tsx
Due: biome

BE-705: Keep a restart from crashing on active conversions
  apps/hash-frontend/src/pages/shared/entities-visualizer.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/use-entities-table-query.tsx
Due: biome

BE-705: Answer which request each of the table query's outputs belongs to
  apps/hash-frontend/src/pages/shared/entities-visualizer/use-entities-table-query.tsx
Due: biome

H-6683: Add value column to parameter table; more slideover CSS fixes (#9113)
  apps/hash-api/src/seed-data/supply-chain-dataset-import.test.ts
  apps/hash-frontend/src/pages/supply-chain/shared/action-button-styles.ts
  apps/hash-frontend/src/pages/supply-chain/shared/action-buttons.tsx
  apps/hash-frontend/src/pages/supply-chain/shared/cost.test.ts
  apps/hash-frontend/src/pages/supply-chain/shared/cost.ts
  apps/hash-frontend/src/pages/supply-chain/shared/docs/docs-modal.tsx
  apps/hash-frontend/src/pages/supply-chain/shared/docs/docs-modal/docs-content/site-overview.tsx
  apps/hash-frontend/src/pages/supply-chain/shared/docs/docs-modal/docs-content/step-detail.tsx
  apps/hash-frontend/src/pages/supply-chain/shared/header-actions.tsx
  apps/hash-frontend/src/pages/supply-chain/shared/segmented-control.tsx
  apps/hash-frontend/src/pages/supply-chain/shared/site-aggregation.test.ts
  apps/hash-frontend/src/pages/supply-chain/shared/slide-over.test.tsx
  apps/hash-frontend/src/pages/supply-chain/shared/slide-over.tsx
  apps/hash-frontend/src/pages/supply-chain/shared/step-detail-panel.tsx
  apps/hash-frontend/src/pages/supply-chain/shared/step-detail-panel/timing-metrics.tsx
  apps/hash-frontend/src/pages/supply-chain/shared/supplier-otif.test.ts
  apps/hash-frontend/src/pages/supply-chain/shared/types.ts
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/product/e2e-what-if/what-if-kpis.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/product/production-schedule.test.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/product/production-schedule/model.test.ts
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/product/production-schedule/schedule-summary.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/opportunities.test.ts
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/planning-table.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/shared/filter-menu.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/shared/helpers.test.ts
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/shared/helpers.ts
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/shared/row-types.ts
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/use-site-overview-rows.ts
  libs/@local/hash-isomorphic-utils/src/production-schedule/schema.ts
Due: biome

feat: cg solver review
  libs/@local/graph/atlas/benches/backfill_walk.rs
  libs/@local/graph/atlas/src/math/dvecn/mod.rs
  libs/@local/graph/atlas/src/math/dvecn/tests.rs
  libs/@local/graph/atlas/src/math/mod.rs
  libs/@local/graph/atlas/src/math/scalar/mod.rs
  libs/@local/graph/atlas/src/math/scalar/tests.rs
  libs/@local/graph/atlas/src/salt/landmark/tests.rs
  libs/@local/graph/atlas/src/salt/lod/bench.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/solver/basis.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/solver/bench.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/solver/boundary.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/solver/cg.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/solver/config.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/solver/evaluate.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/solver/flat.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/solver/mod.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/solver/prepare.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/solver/problem.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/solver/receipt.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/solver/scale.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/solver/solve.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/solver/stable.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/solver/target.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/solver/tests.rs
Due: rust

test: cg stability
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/solver/tests.rs
Due: rust

Bump vulnerable npm dependencies flagged by 2026-07-27 security scan
  apps/hash-frontend/package.json
  libs/@local/hash-isomorphic-utils/package.json
  package.json
  yarn.lock
Due: biome, yarn

Bump @hono/node-server to 1.19.17 (backported path-traversal fix)
  yarn.lock
Due: none

Revert "Bump @hono/node-server to 1.19.17 (backported path-traversal fix)"
  yarn.lock
Due: none

feat: checkpoint
  Cargo.lock
  Cargo.toml
  libs/@local/graph/atlas/Cargo.toml
  libs/@local/graph/atlas/benches/backfill_walk.rs
  libs/@local/graph/atlas/examples/classifier_compare.rs
  libs/@local/graph/atlas/examples/classifier_probe.rs
  libs/@local/graph/atlas/src/file/generation/tests.rs
  libs/@local/graph/atlas/src/file/repository/mod.rs
  libs/@local/graph/atlas/src/file/repository/tests.rs
  libs/@local/graph/atlas/src/file/salt/tests.rs
  libs/@local/graph/atlas/src/math/dvecn/argmin/mod.rs
  libs/@local/graph/atlas/src/math/dvecn/argmin/tests.rs
  libs/@local/graph/atlas/src/math/dvecn/mod.rs
  libs/@local/graph/atlas/src/salt/fit/compute/mod.rs
  libs/@local/graph/atlas/src/salt/fit/echo.rs
  libs/@local/graph/atlas/src/salt/fit/tests.rs
  libs/@local/graph/atlas/src/salt/lod/bench.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/mod.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/objective.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/solver/basis.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/solver/bench.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/solver/cg.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/solver/config.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/solver/mod.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/solver/prepare.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/solver/problem.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/solver/receipt.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/solver/scale.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/solver/solve.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/solver/target.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/solver/terminal.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/solver/tests.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/solver/work.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/tests.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/mod.rs
Due: rust, toml

feat: remove config backwards compat
  libs/@local/graph/atlas/Cargo.toml
  libs/@local/graph/atlas/src/cli/mod.rs
  libs/@local/graph/atlas/src/salt/fit/echo.rs
  libs/@local/graph/atlas/src/salt/fit/tests.rs
Due: rust, toml

feat: checkpoint
  libs/@local/graph/atlas/Cargo.toml
  libs/@local/graph/atlas/examples/fit_live.rs
  libs/@local/graph/atlas/examples/generation_live.rs
  libs/@local/graph/atlas/examples/quality_live.rs
  libs/@local/graph/atlas/src/bench.rs
  libs/@local/graph/atlas/src/cli/mod.rs
  libs/@local/graph/atlas/src/file/generation/mod.rs
  libs/@local/graph/atlas/src/lib.rs
  libs/@local/graph/atlas/src/main.rs
  libs/@local/graph/atlas/src/progress.rs
  libs/@local/graph/atlas/src/run.rs
  libs/@local/graph/atlas/src/salt/embedding/mod.rs
  libs/@local/graph/atlas/src/salt/fit/bench.rs
  libs/@local/graph/atlas/src/salt/fit/compute/mod.rs
  libs/@local/graph/atlas/src/salt/fit/mod.rs
  libs/@local/graph/atlas/src/salt/fit/tests.rs
  libs/@local/graph/atlas/src/salt/knn/recall.rs
  libs/@local/graph/atlas/src/salt/mod.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/mod.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/solver/cg.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/solver/mod.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/solver/receipt.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/solver/work.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/mod.rs
  libs/@local/graph/atlas/src/salt/quality/tests.rs
  libs/@local/graph/atlas/src/salt/runner/bench.rs
  libs/@local/graph/atlas/src/salt/runner/mod.rs
  libs/@local/graph/atlas/src/salt/runner/tests.rs
  libs/@local/graph/atlas/src/serve/tests/mod.rs
Due: rust, toml

SRE-871: rely on the upstream preset for minimum release age
  .github/renovate.json
Due: biome

BE-710: Disable Temporal client DNS load balancing and remove startup connect-retry loop
  apps/hash-graph/src/subcommand/server.rs
  apps/hash-graph/src/subcommand/type_fetcher.rs
  libs/@local/temporal-client/src/lib.rs
Due: rust

feat: checkpoint
  apps/hash-graph/src/subcommand/atlas.rs
  libs/@local/graph/atlas/Cargo.toml
  libs/@local/graph/atlas/README.md
  libs/@local/graph/atlas/examples/classifier_probe.rs
  libs/@local/graph/atlas/examples/ladder_loss_probe.rs
  libs/@local/graph/atlas/src/bench.rs
  libs/@local/graph/atlas/src/cli/fit.rs
  libs/@local/graph/atlas/src/cli/mod.rs
  libs/@local/graph/atlas/src/cli/postgres.rs
  libs/@local/graph/atlas/src/cli/report/mod.rs
  libs/@local/graph/atlas/src/cli/serve.rs
  libs/@local/graph/atlas/src/cli/shell.rs
  libs/@local/graph/atlas/src/file/classifier/read.rs
  libs/@local/graph/atlas/src/file/generation/mod.rs
  libs/@local/graph/atlas/src/file/landmark/read.rs
  libs/@local/graph/atlas/src/file/salt/metadata.rs
  libs/@local/graph/atlas/src/salt/fit/compute/projector.rs
  libs/@local/graph/atlas/src/salt/ladder/error.rs
  libs/@local/graph/atlas/src/salt/ladder/mod.rs
  libs/@local/graph/atlas/src/salt/ladder/tests.rs
  libs/@local/graph/atlas/src/salt/mod.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/mod.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/solver/bench.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/solver/cg.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/solver/mod.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/solver/probe.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/solver/solve.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/solver/tests.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/mod.rs
  libs/@local/graph/atlas/src/salt/projector/loss/energy.rs
Due: markdownlint, biome, rust, toml

feat: checkpoint
  libs/@local/graph/atlas/Cargo.toml
  libs/@local/graph/atlas/src/cli/mod.rs
  libs/@local/graph/atlas/src/cli/report/classifier.rs
  libs/@local/graph/atlas/src/cli/report/mod.rs
  libs/@local/graph/atlas/src/cli/report/probe.rs
  libs/@local/graph/atlas/src/cli/shell.rs
  libs/@local/graph/atlas/src/file/salt/tests.rs
  libs/@local/graph/atlas/src/lib.rs
  libs/@local/graph/atlas/src/salt/fit/compute/projector.rs
  libs/@local/graph/atlas/src/salt/fit/echo.rs
  libs/@local/graph/atlas/src/salt/fit/tests.rs
  libs/@local/graph/atlas/src/salt/mod.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/mod.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/solver/mod.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/solver/report/mod.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/solver/report/probe.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/mod.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/report/mod.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/report/replay.rs
Due: rust, toml

feat: refactor loss regression
  libs/@local/graph/atlas/src/salt/fit/compute/projector.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/report/mod.rs
Due: rust

feat: extract root arg into shared cli struct
  apps/hash-graph/src/subcommand/atlas.rs
  libs/@local/graph/atlas/src/cli/fit.rs
  libs/@local/graph/atlas/src/cli/mod.rs
  libs/@local/graph/atlas/src/cli/report/classifier.rs
  libs/@local/graph/atlas/src/cli/report/probe.rs
  libs/@local/graph/atlas/src/cli/serve.rs
  libs/@local/graph/atlas/src/cli/shell.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/solver/report/probe.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/report/mod.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/report/replay.rs
Due: rust

Fix build and lints for nightly-2026-07-13 and sync mise lockfile
  .config/mise/mise.lock
  .github/renovate.json
  libs/@local/hashql/compiletest/src/lib.rs
  libs/@local/hashql/core/src/id/bit_vec/mod.rs
  libs/@local/hashql/macros/src/id/enum.rs
  libs/@local/hashql/macros/src/id/struct.rs
  libs/@local/hashql/mir/src/lib.rs
Due: biome, rust

SRE-874: unlock cargo-insta source builds and bump image mise pins to 2026.7.14
  .config/mise/config.toml
  .config/mise/mise.lock
  apps/hash-ai-worker-ts/docker/Dockerfile
  apps/hash-api/docker/Dockerfile
  apps/hash-frontend/docker/Dockerfile
  apps/hash-graph/docker/Dockerfile
  apps/hash-integration-worker/docker/Dockerfile
Due: toml

Path conditions:
  markdownlint: any of: *.md
  biome: any of: *.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}
  yarn: any of: {*/package.json, package.json}
  sqlfluff: any of: *.sql
  rust: any of: *.rs
  toml: any of: *.toml
