Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, prettier, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: frontend style
      glob: "*.md"
      run: yarn run markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    prettier:
      tags: frontend style
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: yarn run prettier --write {staged_files} || true
      stage_fixed: true
    yarn:
      tags: frontend style
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:yarn-deduplicate
      stage_fixed: true
    sqlfluff:
      tags: backend style
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: backend style
      glob: "*.rs"
      run: cargo fmt -- {staged_files} || true
      stage_fixed: true
    toml:
      tags: backend style
      glob: "*.toml"
      run: yarn run taplo format {staged_files} || true
      stage_fixed: true

also merge sources for property if value is identical to old value
  apps/hash-ai-worker-ts/src/activities/shared/match-existing-entity.ts
Due: prettier

Setup Cerbos in external services
  .env
  apps/hash-external-services/cerbos/config.yaml
  apps/hash-external-services/docker-compose.dev.yml
  apps/hash-external-services/docker-compose.yml
  apps/hash-external-services/postgres/init-user-db.sh
  libs/@local/graph/authorization/cerbos/policies/entity.yaml
  libs/@local/graph/authorization/input.json
  libs/@local/graph/authorization/opa/data.json
  libs/@local/graph/authorization/opa/input.json
  libs/@local/graph/authorization/opa/policies/test.rego
  libs/@local/graph/authorization/policies/test.rego
Due: prettier

H-3162: Look for matching entities in database when inserting entities from Flow (#6102)
  .vscode/settings.json
  apps/hash-ai-worker-ts/README.md
  apps/hash-ai-worker-ts/package.json
  apps/hash-ai-worker-ts/src/activities/flow-activities/answer-question-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/persist-entities-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/persist-entity-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/link-follower-agent/choose-relevant-links-from-content.optimize.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/shared/deduplicate-entities.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/graph-requests.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/write-google-sheet-action.ts
  apps/hash-ai-worker-ts/src/activities/shared/find-existing-entity.ts
  apps/hash-ai-worker-ts/src/activities/shared/match-existing-entity.optimize.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/shared/match-existing-entity.ts
  apps/hash-ai-worker-ts/src/activities/shared/openai-client.ts
  apps/hash-ai-worker-ts/src/activities/shared/optimize-system-prompt.ts
  apps/hash-ai-worker-ts/src/activities/shared/optimize-system-prompt/improve-system-prompt.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/007-create-api-usage-tracking.migration.ts
  apps/hash-frontend/next.config.js
  apps/hash-frontend/src/pages/shared/accept-draft-entity-button.tsx
  apps/hashdotdev/next.config.js
  libs/@local/advanced-types/src/brand.ts
  libs/@local/graph/types/typescript/src/entity.ts
  libs/@local/hash-isomorphic-utils/src/provenance.ts
Due: markdownlint, prettier, yarn

add study record type
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/020-add-clinical-trial-record-type.dev.migration.ts
Due: prettier

make study record inherit from doc
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/020-add-clinical-trial-record-type.dev.migration.ts
Due: prettier

wip: maintenance fallback page
  apps/hash-frontend/src/pages/_app.page/maintenance-fallback.tsx
  libs/@hashintel/design-system/src/components.ts
  libs/@hashintel/design-system/src/icon-arrows-rotate.tsx
Due: prettier

TMP cedar
  Cargo.lock
  apps/hash-external-services/cerbos/config.yaml
  apps/hash-external-services/docker-compose.yml
  libs/@local/graph/authorization/Cargo.toml
Due: prettier, toml

TMP
  libs/@local/graph/authorization/src/main.rs
Due: rust

switch to dynamic doc type for doc metadata. fix simplified property title/required field mismatch
  apps/hash-ai-worker-ts/src/activities/flow-activities/infer-metadata-from-document-action/get-llm-analysis-of-doc.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/shared/generate-propose-entities-tools.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/shared/generate-simplified-type-id.ts
  apps/hash-ai-worker-ts/src/activities/shared/dereference-entity-type.ts
Due: prettier

almost finish translation to generic document type inference
  apps/hash-ai-worker-ts/src/activities/flow-activities/infer-metadata-from-document-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/infer-metadata-from-document-action/generate-property-patches.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/infer-metadata-from-document-action/generate-proposed-entities-and-claims.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/infer-metadata-from-document-action/get-llm-analysis-of-doc.ts
  apps/hash-ai-worker-ts/src/activities/infer-entities/shared/generate-simplified-type-id.ts
  apps/hash-ai-worker-ts/src/activities/shared/dereference-entity-type.ts
  apps/hash-frontend/src/shared/entity-types-context/provider/use-entity-types-context-value.ts
Due: prettier

Ignore clippy false potivies
  libs/@local/graph/postgres-store/src/store/config.rs
  libs/@local/harpc/net/src/transport/mod.rs
  libs/@local/harpc/server/src/session.rs
  libs/@local/hql/diagnostics/src/severity.rs
  libs/@local/status/rust/src/lib.rs
  libs/deer/src/schema.rs
  libs/error-stack/src/fmt/hook.rs
  libs/error-stack/src/fmt/mod.rs
Due: rust

finish maintenance page, add config to trigger from vercel edge config
  .gitignore
  apps/hash-frontend/package.json
  apps/hash-frontend/src/middleware.page.ts
  apps/hash-frontend/src/pages/_app.page.tsx
  apps/hash-frontend/src/pages/maintenance.page.tsx
  apps/hash-frontend/src/pages/shared/maintenance.ts
  apps/hash-frontend/src/shared/layout/layout-with-header/page-header.tsx
  libs/@hashintel/design-system/src/components.ts
  libs/@hashintel/design-system/src/icon-user-plus-regular.tsx
  yarn.lock
Due: prettier, yarn

remove old file
  apps/hash-frontend/src/pages/_app.page/maintenance-fallback.tsx
Due: prettier

icon naming consistency
  apps/hash-frontend/src/pages/maintenance.page.tsx
  libs/@hashintel/design-system/src/components.ts
  libs/@hashintel/design-system/src/icon-arrows-rotate-regular.tsx
Due: prettier

H-3918: Implement frontend maintenance page (#6200)
  .gitignore
  apps/hash-frontend/package.json
  apps/hash-frontend/src/middleware.page.ts
  apps/hash-frontend/src/pages/_app.page.tsx
  apps/hash-frontend/src/pages/maintenance.page.tsx
  apps/hash-frontend/src/pages/shared/maintenance.ts
  apps/hash-frontend/src/shared/layout/layout-with-header/page-header.tsx
  libs/@hashintel/design-system/src/components.ts
  libs/@hashintel/design-system/src/icon-arrows-rotate-regular.tsx
  libs/@hashintel/design-system/src/icon-user-plus-regular.tsx
  yarn.lock
Due: prettier, yarn

finish handling any doc entity type in inference process
  apps/hash-ai-worker-ts/src/activities/flow-activities/infer-metadata-from-document-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/infer-metadata-from-document-action/generate-property-patches.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/infer-metadata-from-document-action/generate-proposed-entities-and-claims.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/infer-metadata-from-document-action/get-llm-analysis-of-doc.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/propose-entities-from-claims/propose-entity-from-claims-agent.ts
  apps/hash-ai-worker-ts/src/activities/shared/dereference-entity-type.ts
Due: prettier

update BP types to point to appropriate HASH data types
  libs/@local/graph/type-fetcher/predefined_types/property_types/file_size_v1.json
  libs/@local/graph/type-fetcher/predefined_types/property_types/file_url_v1.json
  libs/@local/graph/type-fetcher/predefined_types/property_types/original_url_v1.json
Due: prettier

regenerate hash types
  libs/@local/hash-isomorphic-utils/src/generate-system-types.ts
  libs/@local/hash-isomorphic-utils/src/system-types/comment.ts
  libs/@local/hash-isomorphic-utils/src/system-types/commentnotification.ts
  libs/@local/hash-isomorphic-utils/src/system-types/documentfile.ts
  libs/@local/hash-isomorphic-utils/src/system-types/docxdocument.ts
  libs/@local/hash-isomorphic-utils/src/system-types/file.ts
  libs/@local/hash-isomorphic-utils/src/system-types/imagefile.ts
  libs/@local/hash-isomorphic-utils/src/system-types/linearintegration.ts
  libs/@local/hash-isomorphic-utils/src/system-types/mentionnotification.ts
  libs/@local/hash-isomorphic-utils/src/system-types/organization.ts
  libs/@local/hash-isomorphic-utils/src/system-types/pdfdocument.ts
  libs/@local/hash-isomorphic-utils/src/system-types/pptxpresentation.ts
  libs/@local/hash-isomorphic-utils/src/system-types/presentationfile.ts
  libs/@local/hash-isomorphic-utils/src/system-types/shared.ts
  libs/@local/hash-isomorphic-utils/src/system-types/spreadsheetfile.ts
  libs/@local/hash-isomorphic-utils/src/system-types/user.ts
Due: prettier

regenerate linear types
  libs/@local/hash-isomorphic-utils/src/generate-system-types.ts
  libs/@local/hash-isomorphic-utils/src/system-types/linear/attachment.ts
  libs/@local/hash-isomorphic-utils/src/system-types/linear/issue.ts
  libs/@local/hash-isomorphic-utils/src/system-types/linear/organization.ts
  libs/@local/hash-isomorphic-utils/src/system-types/linear/shared.ts
  libs/@local/hash-isomorphic-utils/src/system-types/linear/user.ts
Due: prettier

regenerate google types
  libs/@local/hash-isomorphic-utils/src/system-types/google/googlesheetsfile.ts
Due: prettier

regenerate bp types
  libs/@local/hash-isomorphic-utils/src/generate-system-types.ts
  libs/@local/hash-isomorphic-utils/src/ontology-type-ids.ts
  libs/@local/hash-isomorphic-utils/src/system-types/blockprotocol/query.ts
Due: prettier

fix types. filter out blocks from workspaces
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/create-file-entity-from-url.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/write-google-sheet-action.ts
  apps/hash-api/src/graph/knowledge/system-types/file.ts
  package.json
Due: prettier

filter out blocks from workspaces
  package.json
Due: prettier

update yarn.lock
  yarn.lock
Due: none

H-3926: Filter out blocks from repo workspaces (#6207)
  package.json
  yarn.lock
Due: prettier

TMP
  Cargo.lock
  libs/@local/graph/authorization/.manifest
  libs/@local/graph/authorization/Cargo.toml
  libs/@local/graph/authorization/cedar/policy.cedar
  libs/@local/graph/authorization/data.json
  libs/@local/graph/authorization/input.json
  libs/@local/graph/authorization/opa/data.json
  libs/@local/graph/authorization/opa/input.json
  libs/@local/graph/authorization/opa/policies/test.rego
  libs/@local/graph/authorization/src/main.rs
Due: prettier, rust, toml

Add query endpoint for data type conversion targets
  apps/hash-api/src/graph/ontology/primitive/data-type.ts
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/api/src/rest/data_type.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/data_type.rs
  libs/@local/graph/store/src/data_type/mod.rs
  libs/@local/graph/store/src/data_type/store.rs
  libs/@local/graph/type-fetcher/src/store.rs
  libs/@local/hash-isomorphic-utils/src/data-types.ts
  libs/@local/hash-isomorphic-utils/src/subgraph-mapping.ts
  tests/graph/integration/postgres/lib.rs
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/data-type.test.ts
Due: prettier, rust

add more fields to study record type. fix bugs in document inference
  apps/hash-ai-worker-ts/src/activities/flow-activities/infer-metadata-from-document-action/get-llm-analysis-of-doc.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/persist-entities-action.ts
  apps/hash-ai-worker-ts/src/activities/shared/dereference-entity-type.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/020-add-clinical-trial-record-type.dev.migration.ts
Due: prettier

Allow batch-reading of conversions
  apps/hash-api/src/graph/ontology/primitive/data-type.ts
  blocks/address/src/types/generated/block-entity.ts
  blocks/ai-image/src/types/generated/block-entity.ts
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/api/src/rest/data_type.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/data_type.rs
  libs/@local/graph/store/src/data_type/store.rs
  libs/@local/graph/type-fetcher/src/store.rs
  libs/@local/hash-isomorphic-utils/src/subgraph-mapping.ts
  tests/graph/integration/postgres/lib.rs
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/data-type.test.ts
Due: prettier, rust

H-3906: Add query endpoint for data type conversion targets (#6209)
  apps/hash-api/src/graph/ontology/primitive/data-type.ts
  blocks/address/src/types/generated/block-entity.ts
  blocks/ai-image/src/types/generated/block-entity.ts
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/api/src/rest/data_type.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/data_type.rs
  libs/@local/graph/store/src/data_type/mod.rs
  libs/@local/graph/store/src/data_type/store.rs
  libs/@local/graph/type-fetcher/src/store.rs
  libs/@local/hash-isomorphic-utils/src/data-types.ts
  libs/@local/hash-isomorphic-utils/src/subgraph-mapping.ts
  tests/graph/integration/postgres/lib.rs
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/data-type.test.ts
Due: prettier, rust

fix: bump libp2p-stream
  Cargo.lock
  Cargo.toml
Due: toml

fix: `Located` -> `LocatingSlice`
  libs/@local/hql/syntax-jexpr/src/parser/expr.rs
  libs/@local/hql/syntax-jexpr/src/parser/expr_explicit.rs
  libs/@local/hql/syntax-jexpr/src/parser/path.rs
  libs/@local/hql/syntax-jexpr/src/parser/signature.rs
  libs/@local/hql/syntax-jexpr/src/parser/symbol.rs
  libs/@local/hql/syntax-jexpr/src/parser/type.rs
Due: rust

fix floating point issues in pdf preview
  apps/hash-frontend/src/pages/shared/pdf-preview.tsx
Due: prettier

add svg icon to study record. rename migration file
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/020-add-study-record-type.dev.migration.ts
  apps/hash-frontend/public/icons/types/microscope.svg
Due: prettier

bug fixes in document inference
  apps/hash-ai-worker-ts/src/activities/flow-activities/infer-metadata-from-document-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/infer-metadata-from-document-action/get-llm-analysis-of-doc.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-page-wrapper/entity-page-header.tsx
Due: prettier

ignore some type errors
  apps/hash-ai-worker-ts/src/activities/infer-entities/shared/strip-ids-from-dereferenced-properties.ts
Due: prettier

fix imports
  apps/hash-ai-worker-ts/src/activities/flow-activities/infer-metadata-from-document-action/generate-property-patches.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/infer-metadata-from-document-action/get-llm-analysis-of-doc.ts
Due: prettier

fix test
  apps/hash-ai-worker-ts/src/activities/shared/dereference-entity-type.test.ts
Due: prettier

feat: add biome
  biome.jsonc
  libs/@local/repo-chores/node/scripts/prepublish.ts
  package.json
Due: prettier
