Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, prettier, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: yarn run markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    prettier:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: yarn run prettier --write {staged_files} || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:packagejson && yarn fix:yarn-deduplicate
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: cargo fmt -- {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: yarn run taplo format {staged_files} || true
      stage_fixed: true

add import/export net to PNML
  apps/hash-frontend/src/pages/process.page/process-editor.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/use-convert-to-pnml.ts
  apps/hash-frontend/src/pages/process.page/process-editor/use-load-from-pnml.ts
Due: prettier

tweak button styling, fix resetting net
  apps/hash-frontend/src/pages/process.page/process-editor.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/token-type-editor.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/types.ts
Due: prettier

Add codegen crate scaffolding
  Cargo.lock
  Cargo.toml
  libs/@local/codegen/Cargo.toml
  libs/@local/codegen/LICENSE.md
  libs/@local/codegen/docs/dependency-diagram.mmd
  libs/@local/codegen/package.json
  libs/@local/codegen/src/lib.rs
  yarn.lock
Due: markdownlint, prettier, yarn, rust, toml

Fix typo
  Cargo.lock
  Cargo.toml
  libs/@local/codegen/Cargo.toml
Due: toml

Simplify role handling for actor groups
  apps/hash-api/src/graph/account-permission-management.ts
  apps/hash-api/src/graph/knowledge/system-types/hash-instance.ts
  apps/hash-api/src/graph/knowledge/system-types/user.ts
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/api/src/rest/actor.rs
  libs/@local/graph/api/src/rest/actor_group.rs
  libs/@local/graph/api/src/rest/mod.rs
  libs/@local/graph/api/src/rest/web.rs
  libs/@local/graph/authorization/src/policies/store/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/type-fetcher/src/store.rs
  libs/@local/hash-backend-utils/src/hash-instance.ts
  libs/@local/hash-isomorphic-utils/src/graphql/scalar-mapping.ts
  libs/@local/hash-isomorphic-utils/src/graphql/type-defs/knowledge/entity.typedef.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/hash-instance.test.ts
Due: prettier, rust

Fix HTTP tests
  tests/graph/http/tests/friendship.http
Due: none

H-4437: Add codegen crate scaffolding (#6978)
  Cargo.lock
  Cargo.toml
  libs/@local/codegen/Cargo.toml
  libs/@local/codegen/LICENSE.md
  libs/@local/codegen/docs/dependency-diagram.mmd
  libs/@local/codegen/package.json
  libs/@local/codegen/src/lib.rs
  yarn.lock
Due: markdownlint, prettier, yarn, rust, toml

H-4436: Add import/export Petri net from/to PNML (#6977)
  apps/hash-frontend/src/pages/process.page/process-editor.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/token-type-editor.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/types.ts
  apps/hash-frontend/src/pages/process.page/process-editor/use-convert-to-pnml.ts
  apps/hash-frontend/src/pages/process.page/process-editor/use-load-from-pnml.ts
Due: prettier

chore: unimplemented -> todo
  libs/@local/hashql/core/src/lib.rs
  libs/@local/hashql/core/src/type/kind/closure.rs
  libs/@local/hashql/core/src/type/kind/intersection.rs
  libs/@local/hashql/core/src/type/kind/intrinsic.rs
  libs/@local/hashql/core/src/type/kind/mod.rs
  libs/@local/hashql/core/src/type/kind/opaque.rs
  libs/@local/hashql/core/src/type/kind/struct.rs
  libs/@local/hashql/core/src/type/kind/tuple.rs
  libs/@local/hashql/core/src/type/kind/union.rs
Due: rust

H-4407: HashQL: Implement type constraint gathering (#6976)
  libs/@local/hashql/core/src/lib.rs
  libs/@local/hashql/core/src/type/environment/analysis.rs
  libs/@local/hashql/core/src/type/environment/context/auxiliary.rs
  libs/@local/hashql/core/src/type/environment/context/diagnostics.rs
  libs/@local/hashql/core/src/type/environment/context/mod.rs
  libs/@local/hashql/core/src/type/environment/context/substitution.rs
  libs/@local/hashql/core/src/type/environment/context/variance.rs
  libs/@local/hashql/core/src/type/environment/infer.rs
  libs/@local/hashql/core/src/type/environment/lattice.rs
  libs/@local/hashql/core/src/type/environment/mod.rs
  libs/@local/hashql/core/src/type/environment/simplify.rs
  libs/@local/hashql/core/src/type/environment/variance.rs
  libs/@local/hashql/core/src/type/infer.rs
  libs/@local/hashql/core/src/type/intern.rs
  libs/@local/hashql/core/src/type/kind/closure.rs
  libs/@local/hashql/core/src/type/kind/infer.rs
  libs/@local/hashql/core/src/type/kind/intersection.rs
  libs/@local/hashql/core/src/type/kind/intrinsic.rs
  libs/@local/hashql/core/src/type/kind/mod.rs
  libs/@local/hashql/core/src/type/kind/opaque.rs
  libs/@local/hashql/core/src/type/kind/primitive.rs
  libs/@local/hashql/core/src/type/kind/struct.rs
  libs/@local/hashql/core/src/type/kind/test.rs
  libs/@local/hashql/core/src/type/kind/tuple.rs
  libs/@local/hashql/core/src/type/kind/union.rs
  libs/@local/hashql/core/src/type/lattice.rs
  libs/@local/hashql/core/src/type/mod.rs
  libs/@local/hashql/core/src/type/test.rs
Due: rust

feat: first version of solver (WIP)
  libs/@local/graph/type-defs/build.rs
  libs/@local/hashql/core/src/lib.rs
  libs/@local/hashql/core/src/type/environment/infer.rs
  libs/@local/hashql/core/src/type/inference/mod.rs
  libs/@local/hashql/core/src/type/inference/solver.rs
  libs/@local/hashql/core/src/type/inference/tarjan.rs
  libs/@local/hashql/core/src/type/kind/closure.rs
  libs/@local/hashql/core/src/type/kind/intersection.rs
  libs/@local/hashql/core/src/type/kind/intrinsic.rs
  libs/@local/hashql/core/src/type/kind/mod.rs
  libs/@local/hashql/core/src/type/kind/opaque.rs
  libs/@local/hashql/core/src/type/kind/primitive.rs
  libs/@local/hashql/core/src/type/kind/struct.rs
  libs/@local/hashql/core/src/type/kind/test.rs
  libs/@local/hashql/core/src/type/kind/tuple.rs
  libs/@local/hashql/core/src/type/kind/union.rs
  libs/@local/hashql/core/src/type/mod.rs
Due: rust

feat: actually use tarjan
  libs/@local/hashql/core/src/lib.rs
  libs/@local/hashql/core/src/type/inference/solver.rs
  libs/@local/hashql/core/src/type/inference/tarjan.rs
Due: rust

feat: solve constraints
  libs/@local/hashql/core/src/type/environment/lattice.rs
  libs/@local/hashql/core/src/type/inference/solver.rs
Due: rust

add layout button to auto-layout petri net. zoom to fit when importing/loading nets
  apps/hash-frontend/src/pages/process.page/process-editor.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/editor-context.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/place-node.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/sidebar.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/styling.ts
  apps/hash-frontend/src/pages/process.page/process-editor/token-types.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/token-types/token-type-editor.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/transition-node.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/use-layout-graph.ts
  apps/hash-frontend/src/pages/process.page/process-editor/use-load-from-pnml.ts
Due: prettier

feat: introduce alias for `HashMap` and `HashSet`
  libs/@local/hashql/core/src/type/collection/mod.rs
  libs/@local/hashql/core/src/type/environment/context/auxiliary.rs
  libs/@local/hashql/core/src/type/environment/context/substitution.rs
  libs/@local/hashql/core/src/type/inference/mod.rs
  libs/@local/hashql/core/src/type/inference/solver.rs
  libs/@local/hashql/core/src/type/inference/variable.rs
  libs/@local/hashql/core/src/type/intern.rs
  libs/@local/hashql/core/src/type/kind/mod.rs
  libs/@local/hashql/core/src/type/kind/struct.rs
  libs/@local/hashql/core/src/type/kind/tuple.rs
  libs/@local/hashql/core/src/type/kind/union.rs
  libs/@local/hashql/core/src/type/recursion.rs
Due: rust

H-4422: Petri net editor auto-layout and fit to viewport (#6988)
  apps/hash-frontend/src/pages/process.page/process-editor.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/editor-context.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/place-node.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/sidebar.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/styling.ts
  apps/hash-frontend/src/pages/process.page/process-editor/token-types.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/token-types/token-type-editor.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/transition-node.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/use-layout-graph.ts
  apps/hash-frontend/src/pages/process.page/process-editor/use-load-from-pnml.ts
Due: prettier

feat: integrate solver into ecosystem
  libs/@local/hashql/core/src/type/collection/mod.rs
  libs/@local/hashql/core/src/type/environment/analysis.rs
  libs/@local/hashql/core/src/type/environment/context/diagnostics.rs
  libs/@local/hashql/core/src/type/environment/context/mod.rs
  libs/@local/hashql/core/src/type/environment/context/substitution.rs
  libs/@local/hashql/core/src/type/environment/infer.rs
  libs/@local/hashql/core/src/type/environment/lattice.rs
  libs/@local/hashql/core/src/type/environment/mod.rs
  libs/@local/hashql/core/src/type/environment/simplify.rs
  libs/@local/hashql/core/src/type/inference/mod.rs
  libs/@local/hashql/core/src/type/inference/solver.rs
  libs/@local/hashql/core/src/type/inference/variable.rs
  libs/@local/hashql/core/src/type/kind/mod.rs
  libs/@local/hashql/core/src/type/test.rs
Due: rust

feat: move from tarjan to roaring as expected to be sparse
  Cargo.lock
  libs/@local/hashql/core/Cargo.toml
  libs/@local/hashql/core/src/type/environment/infer.rs
  libs/@local/hashql/core/src/type/inference/solver.rs
  libs/@local/hashql/core/src/type/inference/tarjan.rs
Due: rust, toml

feat: associate span with variable
  libs/@local/hashql/core/src/span/mod.rs
  libs/@local/hashql/core/src/type/environment/infer.rs
  libs/@local/hashql/core/src/type/error.rs
  libs/@local/hashql/core/src/type/inference/mod.rs
  libs/@local/hashql/core/src/type/inference/solver.rs
  libs/@local/hashql/core/src/type/inference/variable.rs
  libs/@local/hashql/core/src/type/kind/closure.rs
  libs/@local/hashql/core/src/type/kind/intersection.rs
  libs/@local/hashql/core/src/type/kind/intrinsic.rs
  libs/@local/hashql/core/src/type/kind/mod.rs
  libs/@local/hashql/core/src/type/kind/opaque.rs
  libs/@local/hashql/core/src/type/kind/struct.rs
  libs/@local/hashql/core/src/type/kind/tuple.rs
  libs/@local/hashql/core/src/type/kind/union.rs
Due: rust

feat: solver tests
  libs/@local/hashql/core/src/type/environment/analysis.rs
  libs/@local/hashql/core/src/type/environment/context/diagnostics.rs
  libs/@local/hashql/core/src/type/environment/lattice.rs
  libs/@local/hashql/core/src/type/error.rs
  libs/@local/hashql/core/src/type/inference/solver/mod.rs
  libs/@local/hashql/core/src/type/inference/solver/test.rs
  libs/@local/hashql/diagnostics/src/diagnostic.rs
Due: rust

feat: some musings about how everything works
  libs/@local/hashql/core/src/type/inference/solver/mod.rs
  libs/@local/hashql/core/src/type/inference/solver/test.rs
Due: rust

feat: collect structural edges
  libs/@local/hashql/core/src/type/environment/infer.rs
  libs/@local/hashql/core/src/type/inference/mod.rs
  libs/@local/hashql/core/src/type/inference/solver/mod.rs
  libs/@local/hashql/core/src/type/kind/closure.rs
  libs/@local/hashql/core/src/type/kind/intersection.rs
  libs/@local/hashql/core/src/type/kind/intrinsic.rs
  libs/@local/hashql/core/src/type/kind/mod.rs
  libs/@local/hashql/core/src/type/kind/opaque.rs
  libs/@local/hashql/core/src/type/kind/primitive.rs
  libs/@local/hashql/core/src/type/kind/struct.rs
  libs/@local/hashql/core/src/type/kind/tuple.rs
  libs/@local/hashql/core/src/type/kind/union.rs
Due: rust

feat: collect structural edges
  libs/@local/hashql/core/src/type/kind/mod.rs
Due: rust

chore: move tarjan
  libs/@local/hashql/core/src/type/inference/mod.rs
  libs/@local/hashql/core/src/type/inference/solver/mod.rs
  libs/@local/hashql/core/src/type/inference/solver/tarjan.rs
Due: rust

feat: thin graph abstraction
  libs/@local/hashql/core/src/type/inference/solver/graph.rs
  libs/@local/hashql/core/src/type/inference/solver/mod.rs
Due: rust

feat: use graph in solver
  libs/@local/hashql/core/src/type/inference/solver/graph.rs
  libs/@local/hashql/core/src/type/inference/solver/mod.rs
  libs/@local/hashql/core/src/type/inference/solver/tarjan.rs
Due: rust

feat: first topo
  libs/@local/hashql/core/src/type/inference/solver/mod.rs
  libs/@local/hashql/core/src/type/inference/solver/topo.rs
Due: rust

feat: use kahns algorithm instead
  libs/@local/hashql/core/src/type/inference/solver/topo.rs
Due: rust

chore: docs for toposort
  libs/@local/hashql/core/src/type/inference/solver/topo.rs
Due: rust

feat: transitive constraints
  libs/@local/hashql/core/src/type/environment/analysis.rs
  libs/@local/hashql/core/src/type/environment/lattice.rs
  libs/@local/hashql/core/src/type/environment/simplify.rs
  libs/@local/hashql/core/src/type/inference/mod.rs
  libs/@local/hashql/core/src/type/inference/solver/graph.rs
  libs/@local/hashql/core/src/type/inference/solver/mod.rs
  libs/@local/hashql/core/src/type/inference/solver/test.rs
  libs/@local/hashql/core/src/type/inference/variable.rs
Due: rust

feat: substition map
  libs/@local/hashql/core/src/type/inference/mod.rs
  libs/@local/hashql/core/src/type/inference/solver/graph.rs
  libs/@local/hashql/core/src/type/inference/solver/mod.rs
  libs/@local/hashql/core/src/type/inference/solver/test.rs
  libs/@local/hashql/core/src/type/kind/test.rs
Due: rust

feat: docs
  libs/@local/hashql/core/src/type/inference/solver/mod.rs
Due: rust

feat: inference is done
  libs/@local/hashql/core/src/type/environment/analysis.rs
  libs/@local/hashql/core/src/type/environment/lattice.rs
  libs/@local/hashql/core/src/type/environment/simplify.rs
  libs/@local/hashql/core/src/type/inference/mod.rs
  libs/@local/hashql/core/src/type/inference/solver/mod.rs
  libs/@local/hashql/core/src/type/inference/solver/test.rs
Due: rust

chore: test coverage
  libs/@local/hashql/core/src/type/inference/solver/test.rs
Due: rust

fix: yarn command
  libs/@local/graph/type-defs/build.rs
Due: rust

chore: promote roaring to workspace dependency
  Cargo.toml
  libs/@local/hashql/core/Cargo.toml
Due: toml

chore: docs
  libs/@local/hashql/core/src/type/environment/context/diagnostics.rs
  libs/@local/hashql/core/src/type/inference/mod.rs
Due: rust

H-4413, H-4387, H-4394: HashQL: Implement type inference solver (#7009)
  Cargo.lock
  Cargo.toml
  libs/@local/hashql/core/Cargo.toml
  libs/@local/hashql/core/src/lib.rs
  libs/@local/hashql/core/src/span/mod.rs
  libs/@local/hashql/core/src/type/collection/mod.rs
  libs/@local/hashql/core/src/type/environment/analysis.rs
  libs/@local/hashql/core/src/type/environment/context/auxiliary.rs
  libs/@local/hashql/core/src/type/environment/context/diagnostics.rs
  libs/@local/hashql/core/src/type/environment/context/mod.rs
  libs/@local/hashql/core/src/type/environment/context/substitution.rs
  libs/@local/hashql/core/src/type/environment/infer.rs
  libs/@local/hashql/core/src/type/environment/lattice.rs
  libs/@local/hashql/core/src/type/environment/mod.rs
  libs/@local/hashql/core/src/type/environment/simplify.rs
  libs/@local/hashql/core/src/type/error.rs
  libs/@local/hashql/core/src/type/infer.rs
  libs/@local/hashql/core/src/type/inference/mod.rs
  libs/@local/hashql/core/src/type/inference/solver/graph.rs
  libs/@local/hashql/core/src/type/inference/solver/mod.rs
  libs/@local/hashql/core/src/type/inference/solver/tarjan.rs
  libs/@local/hashql/core/src/type/inference/solver/test.rs
  libs/@local/hashql/core/src/type/inference/solver/topo.rs
  libs/@local/hashql/core/src/type/inference/variable.rs
  libs/@local/hashql/core/src/type/intern.rs
  libs/@local/hashql/core/src/type/kind/closure.rs
  libs/@local/hashql/core/src/type/kind/intersection.rs
  libs/@local/hashql/core/src/type/kind/intrinsic.rs
  libs/@local/hashql/core/src/type/kind/mod.rs
  libs/@local/hashql/core/src/type/kind/opaque.rs
  libs/@local/hashql/core/src/type/kind/primitive.rs
  libs/@local/hashql/core/src/type/kind/struct.rs
  libs/@local/hashql/core/src/type/kind/test.rs
  libs/@local/hashql/core/src/type/kind/tuple.rs
  libs/@local/hashql/core/src/type/kind/union.rs
  libs/@local/hashql/core/src/type/mod.rs
  libs/@local/hashql/core/src/type/recursion.rs
  libs/@local/hashql/core/src/type/test.rs
  libs/@local/hashql/diagnostics/src/diagnostic.rs
Due: rust, toml

feat: do not double emit on unconstrained + save memory
  libs/@local/hashql/core/src/type/inference/solver/mod.rs
  libs/@local/hashql/core/src/type/inference/solver/test.rs
Due: rust

feat: add pipeline test
  libs/@local/hashql/core/src/type/inference/solver/test.rs
Due: rust
