Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, prettier, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: yarn run markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    prettier:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: yarn run prettier --write {staged_files} || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:packagejson && yarn fix:yarn-deduplicate
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: cargo fmt -- {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: yarn run taplo format {staged_files} || true
      stage_fixed: true

feat: restore transient graph construction
  libs/@local/hashql/mir/src/body/constant/mod.rs
  libs/@local/hashql/mir/src/pass/analysis/data_dependency/graph.rs
  libs/@local/hashql/mir/src/pass/analysis/data_dependency/mod.rs
  libs/@local/hashql/mir/src/pass/analysis/data_dependency/resolve.rs
Due: rust

Bump postgres in AWS to 18.1
  infra/terraform/hash/postgres/postgres.tf
Due: none

feat: correctly traverse on rest
  libs/@local/hashql/mir/src/pass/analysis/data_dependency/graph.rs
  libs/@local/hashql/mir/src/pass/analysis/data_dependency/mod.rs
  libs/@local/hashql/mir/src/pass/analysis/data_dependency/resolve.rs
Due: rust

feat: tests
  libs/@local/hashql/mir/src/pass/analysis/data_dependency/graph.rs
  libs/@local/hashql/mir/src/pass/analysis/data_dependency/tests.rs
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/constant_propagation.snap
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/load_chain_with_projections.snap
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/load_then_param_consensus.snap
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/param_consensus_agree.snap
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/param_consensus_diverge.snap
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/param_cycle_detection.snap
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/projection_prepending_opaque_source.snap
Due: rust

feat: update snapshots
  libs/@local/hashql/mir/src/pass/analysis/data_dependency/graph.rs
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/binary-operation.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/closure-construction.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/comparison-operators.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/constant_propagation.snap
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/deeply-nested-tuple.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/function-apply.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/function-multiple-args.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/graph-read-filter.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/list-construction.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/mixed-projection-chain.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/multiple-uses.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/nested-tuple-projection.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/struct-construction.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/struct-projection.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/tuple-construction.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/tuple-projection.stdout
Due: rust

add type mapping
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/025-add-aviation-types.dev.migration.ts
  libs/@local/hash-backend-utils/src/integrations/aviation/aviation-stack/aviation-stack-client.ts
  libs/@local/hash-backend-utils/src/integrations/aviation/aviation-stack/aviation-stack-client/flights.ts
  libs/@local/hash-backend-utils/src/integrations/aviation/aviation-stack/aviation-stack-client/types.ts
  libs/@local/hash-backend-utils/src/integrations/aviation/aviation-stack/mapping.ts
  libs/@local/hash-backend-utils/src/integrations/aviation/aviation-stack/mapping/aircraft.ts
  libs/@local/hash-backend-utils/src/integrations/aviation/aviation-stack/mapping/airline.ts
  libs/@local/hash-backend-utils/src/integrations/aviation/aviation-stack/mapping/airport.ts
  libs/@local/hash-backend-utils/src/integrations/aviation/aviation-stack/mapping/arrives-at.ts
  libs/@local/hash-backend-utils/src/integrations/aviation/aviation-stack/mapping/base.ts
  libs/@local/hash-backend-utils/src/integrations/aviation/aviation-stack/mapping/departs-from.ts
  libs/@local/hash-backend-utils/src/integrations/aviation/aviation-stack/mapping/flight.ts
  libs/@local/hash-backend-utils/src/integrations/aviation/aviation-stack/mapping/primary-keys.ts
  libs/@local/hash-backend-utils/src/integrations/aviation/aviation-stack/mapping/provenance.ts
  libs/@local/hash-backend-utils/src/integrations/aviation/main.ts
  libs/@local/hash-isomorphic-utils/src/system-types/flight.ts
Due: prettier

chore: docs
  libs/@local/hashql/mir/src/body/place.rs
  libs/@local/hashql/mir/src/pass/analysis/data_dependency/graph.rs
  libs/@local/hashql/mir/src/pass/analysis/data_dependency/resolve.rs
Due: rust

core: remove unused features
  libs/@local/hashql/mir/src/lib.rs
Due: rust

User `t4g` ARM with HVM for Bastion for better performance and cost.
  infra/terraform/modules/bastion/bastion.tf
  infra/terraform/modules/bastion/main.tf
Due: none

SRE-197, SRE-198, BE-233: Add reusable GitHub Action for ECS service redeployment (#8169)
  .github/actions/redeploy-ecs-service/action.yml
  .github/workflows/hash-backend-cd.yml
  apps/hash-graph/package.json
  apps/hash-graph/src/subcommand/server.rs
  apps/hash-graph/src/subcommand/test_server.rs
  libs/@local/graph/api/src/rest/mod.rs
  libs/@local/graph/test-server/src/lib.rs
  libs/@local/telemetry/src/traces/sentry.rs
Due: prettier, yarn, rust

fix: docs
  libs/@local/hashql/mir/src/pass/analysis/data_dependency/graph.rs
  libs/@local/hashql/mir/src/pass/analysis/data_dependency/mod.rs
Due: rust

fix: clippy
  libs/@local/hashql/mir/src/pass/analysis/data_dependency/mod.rs
Due: rust

[H-5747] Set up dev harness for Agentic Workflows (#8151)
  .cursor/mcp.json
  .markdownlint-cli2.jsonc
  apps/hash-ai-agent/.gitignore
  apps/hash-ai-agent/LICENSE.md
  apps/hash-ai-agent/README.md
  apps/hash-ai-agent/eslint.config.js
  apps/hash-ai-agent/package.json
  apps/hash-ai-agent/src/mastra/agents/claim-extraction-agent.test.ts
  apps/hash-ai-agent/src/mastra/agents/claim-extraction-agent.ts
  apps/hash-ai-agent/src/mastra/agents/entity-summary-agent.test.ts
  apps/hash-ai-agent/src/mastra/agents/entity-summary-agent.ts
  apps/hash-ai-agent/src/mastra/fixtures/entity-summary-fixtures.ts
  apps/hash-ai-agent/src/mastra/fixtures/infer-claims-fixtures.ts
  apps/hash-ai-agent/src/mastra/index.ts
  apps/hash-ai-agent/src/mastra/scorers/claims-scorer.ts
  apps/hash-ai-agent/src/mastra/scorers/entity-summaries-scorer.ts
  apps/hash-ai-agent/src/mastra/tools/register-summaries-tool.ts
  apps/hash-ai-agent/src/mastra/tools/submit-claims-tool.ts
  apps/hash-ai-agent/src/mastra/utils/dereference-entity-type.ts
  apps/hash-ai-agent/tsconfig.json
  apps/hash-ai-agent/turbo.json
  apps/mastra.db
  apps/mastra.db-shm
  apps/mastra.db-wal
  biome.jsonc
  package.json
  yarn.lock
Due: markdownlint, prettier, yarn

feat: integrate resolution
  libs/@local/hashql/core/src/heap/scratch.rs
  libs/@local/hashql/mir/src/pass/transform/mod.rs
  libs/@local/hashql/mir/src/pass/transform/sroa/mod.rs
Due: rust

fix: infinite loop
  libs/@local/hashql/mir/src/pass/analysis/data_dependency/resolve.rs
  libs/@local/hashql/mir/src/pass/analysis/data_dependency/tests.rs
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/param_wrap_and_project.snap
Due: rust

chore: fix documentation
  libs/@local/hashql/mir/src/body/location.rs
  libs/@local/hashql/mir/src/pass/transform/sroa/mod.rs
Due: rust

feat: param consensus
  libs/@local/hashql/mir/src/pass/analysis/data_dependency/graph.rs
  libs/@local/hashql/mir/src/pass/analysis/data_dependency/resolve.rs
  libs/@local/hashql/mir/src/pass/analysis/data_dependency/tests.rs
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/param_const_through_projection_agree.snap
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/param_const_through_projection_diverge.snap
Due: rust

chore: docs
  libs/@local/hashql/mir/src/pass/analysis/data_dependency/resolve.rs
Due: rust

chore: tests
  libs/@local/hashql/compiletest/src/suite/mir_pass_transform_sroa.rs
  libs/@local/hashql/compiletest/src/suite/mod.rs
  libs/@local/hashql/mir/tests/ui/pass/sroa/.spec.toml
  libs/@local/hashql/mir/tests/ui/pass/sroa/chained-projection.jsonc
  libs/@local/hashql/mir/tests/ui/pass/sroa/chained-projection.stdout
  libs/@local/hashql/mir/tests/ui/pass/sroa/closure-env-capture.aux.svg
  libs/@local/hashql/mir/tests/ui/pass/sroa/closure-env-capture.jsonc
  libs/@local/hashql/mir/tests/ui/pass/sroa/closure-env-capture.stdout
  libs/@local/hashql/mir/tests/ui/pass/sroa/nested.jsonc
  libs/@local/hashql/mir/tests/ui/pass/sroa/nested.stdout
  libs/@local/hashql/mir/tests/ui/pass/sroa/param-const-agree.jsonc
  libs/@local/hashql/mir/tests/ui/pass/sroa/param-const-agree.stdout
  libs/@local/hashql/mir/tests/ui/pass/sroa/param-const-diverge.jsonc
  libs/@local/hashql/mir/tests/ui/pass/sroa/param-const-diverge.stdout
  libs/@local/hashql/mir/tests/ui/pass/sroa/tuple-projection.jsonc
  libs/@local/hashql/mir/tests/ui/pass/sroa/tuple-projection.stdout
Due: rust, toml

chore: docs
  libs/@local/hashql/mir/src/pass/transform/sroa.rs
  libs/@local/hashql/mir/src/pass/transform/sroa/mod.rs
Due: rust

chore: format
  libs/@local/hashql/mir/tests/ui/pass/sroa/chained-projection.jsonc
  libs/@local/hashql/mir/tests/ui/pass/sroa/closure-env-capture.jsonc
Due: none

chore: docs
  libs/@local/hashql/core/src/heap/scratch.rs
Due: rust

Add Menu item to Export without Visual Info
  libs/@hashintel/petrinaut/src/views/Editor/editor-view.tsx
  libs/@hashintel/petrinaut/src/views/Editor/lib/export-sdcpn.ts
  libs/@hashintel/petrinaut/src/views/Editor/lib/remove-visual-info.ts
Due: prettier

Add changeset
  .changeset/quiet-geese-travel.md
Due: markdownlint, prettier

H-5642: Support file export without visual information (#8143)
  .changeset/quiet-geese-travel.md
  libs/@hashintel/petrinaut/src/views/Editor/editor-view.tsx
  libs/@hashintel/petrinaut/src/views/Editor/lib/export-sdcpn.ts
  libs/@hashintel/petrinaut/src/views/Editor/lib/remove-visual-info.ts
Due: markdownlint, prettier

BE-234: HashQL: Add `suites` command to compiletest for listing available test suites (#8176)
  .claude/skills/testing-hashql/resources/compiletest-guide.md
  libs/@local/hashql/compiletest/README.md
  libs/@local/hashql/compiletest/src/executor/mod.rs
  libs/@local/hashql/compiletest/src/executor/trial.rs
  libs/@local/hashql/compiletest/src/executor/trial_group.rs
  libs/@local/hashql/compiletest/src/lib.rs
  libs/@local/hashql/compiletest/src/main.rs
  libs/@local/hashql/compiletest/src/output.rs
  libs/@local/hashql/compiletest/src/suite/ast_lowering_import_resolver.rs
  libs/@local/hashql/compiletest/src/suite/ast_lowering_import_resolver_continue.rs
  libs/@local/hashql/compiletest/src/suite/ast_lowering_node_mangler.rs
  libs/@local/hashql/compiletest/src/suite/ast_lowering_node_renumberer.rs
  libs/@local/hashql/compiletest/src/suite/ast_lowering_pre_expansion_name_resolver.rs
  libs/@local/hashql/compiletest/src/suite/ast_lowering_sanitizer.rs
  libs/@local/hashql/compiletest/src/suite/ast_lowering_special_form_expander.rs
  libs/@local/hashql/compiletest/src/suite/ast_lowering_type_definition_extractor.rs
  libs/@local/hashql/compiletest/src/suite/ast_lowering_type_extractor.rs
  libs/@local/hashql/compiletest/src/suite/eval_graph_read_entity.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_alias_replacement.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_checking.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_ctor.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_graph_hoisting.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_inference.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_inference_intrinsics.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_normalization.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_specialization.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_thunking.rs
  libs/@local/hashql/compiletest/src/suite/hir_reify.rs
  libs/@local/hashql/compiletest/src/suite/mir_pass_analysis_data_dependency.rs
  libs/@local/hashql/compiletest/src/suite/mir_pass_transform_cfg_simplify.rs
  libs/@local/hashql/compiletest/src/suite/mir_reify.rs
  libs/@local/hashql/compiletest/src/suite/mod.rs
  libs/@local/hashql/compiletest/src/suite/parse_syntax_dump.rs
Due: markdownlint, prettier, rust
