Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, prettier, yarn, sqlfluff, rust, toml

markdownlint:
  tags:
  - frontend
  - style
  run: yarn run markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

prettier:
  tags:
  - frontend
  - style
  run: yarn run prettier --write {staged_files} || true
  stage_fixed: true

yarn:
  tags:
  - frontend
  - style
  run: yarn fix:constraints && yarn fix:packagejson && yarn fix:yarn-deduplicate
  stage_fixed: true

sqlfluff:
  tags:
  - backend
  - style
  run: sqlfluff fix {staged_files} || true
  stage_fixed: true

rust:
  tags:
  - backend
  - style
  run: cargo fmt -- {staged_files} || true
  stage_fixed: true

toml:
  tags:
  - backend
  - style
  run: yarn run taplo format {staged_files} || true
  stage_fixed: true

feat: dependency cleanup
  Cargo.lock
  Cargo.toml
  libs/@local/hashql/compiletest/Cargo.toml
  libs/@local/hashql/compiletest/src/reporter.rs
  libs/@local/hashql/compiletest/src/runner/cli.rs
Due: rust, toml

chore: newline
  libs/@local/hashql/compiletest/src/harness/trial/list.rs
Due: rust

fix: suggestions from code review
  apps/hash-graph/docs/dependency-diagram.mmd
  libs/@blockprotocol/type-system/rust/docs/dependency-diagram.mmd
  libs/@local/codec/docs/dependency-diagram.mmd
  libs/@local/graph/api/docs/dependency-diagram.mmd
  libs/@local/graph/authorization/docs/dependency-diagram.mmd
  libs/@local/graph/store/docs/dependency-diagram.mmd
  libs/@local/graph/temporal-versioning/docs/dependency-diagram.mmd
  libs/@local/graph/test-server/docs/dependency-diagram.mmd
  libs/@local/graph/types/docs/dependency-diagram.mmd
  libs/@local/harpc/wire-protocol/docs/dependency-diagram.mmd
  libs/@local/hashql/ast/docs/dependency-diagram.mmd
  libs/@local/hashql/compiletest/docs/dependency-diagram.mmd
  libs/@local/hashql/compiletest/src/harness/trial/trial.rs
  libs/@local/hashql/eval/docs/dependency-diagram.mmd
  libs/@local/hashql/hir/docs/dependency-diagram.mmd
  libs/@local/hashql/mir/docs/dependency-diagram.mmd
  libs/@local/hashql/syntax-jexpr/docs/dependency-diagram.mmd
  libs/@local/temporal-client/docs/dependency-diagram.mmd
  tests/graph/test-data/rust/docs/dependency-diagram.mmd
Due: rust

H-5770: Remove circular reference between SimulationFrame and SimulationInstance
  libs/@hashintel/petrinaut/src/playback/provider.test.tsx
  libs/@hashintel/petrinaut/src/simulation/context.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/build-simulation.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/check-transition-enablement.test.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/compute-next-frame.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/compute-possible-transition.test.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/compute-possible-transition.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/execute-transitions.test.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/execute-transitions.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/remove-tokens-from-simulation-frame.test.ts
Due: prettier

H-5770: Make SimulationFrame serializable for WebWorker communication
  libs/@hashintel/petrinaut/src/playback/provider.test.tsx
  libs/@hashintel/petrinaut/src/playback/provider.tsx
  libs/@hashintel/petrinaut/src/simulation/context.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/build-simulation.test.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/build-simulation.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/check-transition-enablement.test.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/check-transition-enablement.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/compute-next-frame.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/compute-possible-transition.test.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/compute-possible-transition.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/execute-transitions.test.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/execute-transitions.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/remove-tokens-from-simulation-frame.test.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/remove-tokens-from-simulation-frame.ts
  libs/@hashintel/petrinaut/src/views/Editor/subviews/simulation-timeline.tsx
Due: prettier

feat: repr module
  libs/@local/hashql/core/src/lib.rs
  libs/@local/hashql/core/src/symbol/mod.rs
  libs/@local/hashql/core/src/symbol/repr.rs
Due: rust

feat: sym2
  Cargo.lock
  libs/@local/hashql/core/Cargo.toml
  libs/@local/hashql/core/src/symbol/mod.rs
  libs/@local/hashql/core/src/symbol/repr.rs
  libs/@local/hashql/core/src/symbol/sym2.rs
Due: rust, toml

User `Parameter` over `Constant`s for filtering in properties
  apps/hash-graph/src/subcommand/server.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/compile.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/expression/conditional.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/property_masking.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/statement/select.rs
  libs/@local/graph/store/src/filter/mod.rs
  libs/@local/graph/store/src/filter/parameter.rs
  libs/@local/graph/store/src/filter/protection.rs
  tests/graph/benches/graph/scenario/runner.rs
  tests/graph/integration/postgres/email_filter_protection.rs
  tests/graph/integration/postgres/entity.rs
  tests/graph/integration/postgres/links.rs
  tests/graph/integration/postgres/multi_type.rs
  tests/graph/integration/postgres/partial_updates.rs
Due: rust

Fix syntax error in SELECT query parameter casting
  libs/@local/graph/postgres-store/src/store/postgres/query/statement/select.rs
Due: rust

feat: checkpoint
  SPEC.md
  libs/@local/hashql/core/src/symbol/mod.rs
  libs/@local/hashql/core/src/symbol/repr.rs
  libs/@local/hashql/core/src/symbol/sym.rs
  libs/@local/hashql/core/src/symbol/sym2.rs
  libs/@local/hashql/core/src/value/primitive/string.rs
Due: markdownlint, prettier, rust

Update links and increment version
  .github/licenses/LICENSE-HASH.md
Due: markdownlint, prettier

Fix formatting
  .github/licenses/LICENSE-HASH.md
Due: markdownlint, prettier

Revise root README for clarity and additional resources
  README.md
Due: markdownlint, prettier

Fix link reference and improve wording in README
  README.md
Due: markdownlint, prettier

Update links in README.md for consistency
  README.md
Due: markdownlint, prettier

Remove sourcing of Cargo environment in frontend build script
  apps/hash-frontend/vercel-build.sh
Due: none

Remove unused property filter compilation methods from Postgres query compiler
  libs/@local/graph/postgres-store/src/store/postgres/query/compile.rs
Due: rust

Use snapshot settings when creating Postgres connection pool
  apps/hash-graph/src/subcommand/snapshot.rs
Due: rust

Remove unused imports in Postgres query compilation code
  libs/@local/graph/postgres-store/src/store/postgres/query/compile.rs
Due: rust

feat: checkpoint
  libs/@local/hashql/core/src/lib.rs
  libs/@local/hashql/core/src/symbol/mod.rs
  libs/@local/hashql/core/src/symbol/repr.rs
  libs/@local/hashql/core/src/symbol/sym2.rs
Due: rust

feat: checkpoint
  libs/@local/hashql/core/src/symbol/lookup.rs
  libs/@local/hashql/core/src/symbol/mod.rs
  libs/@local/hashql/core/src/symbol/repr.rs
  libs/@local/hashql/core/src/symbol/sym2.rs
  libs/@local/hashql/core/src/symbol/table.rs
  libs/@local/hashql/hir/src/context.rs
Due: rust

feat: checkpoint
  libs/@local/hashql/core/src/symbol/table.rs
Due: rust

Path conditions:
  markdownlint: any of: *.md
  prettier: any of: *.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}
  yarn: any of: {*/package.json, package.json}
  sqlfluff: any of: *.sql
  rust: any of: *.rs
  toml: any of: *.toml
