Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, prettier

markdownlint:
  tags: frontend style
  run: yarn run markdownlint --fix {staged_files} || true
  stage_fixed: true

prettier:
  tags: frontend style
  run: yarn run prettier --write {staged_files} || true
  stage_fixed: true

chore: remove unused dependencies
  package.json
  yarn.lock
Due: none

feat: add sqlfluff and cargo
  .lefthook.yml
Due: none

chore: remove mention of lefthoook
  .github/actions/warm-up-repo/action.yml
  apps/hash-frontend/vercel-install.sh
  apps/hashdotdesign/vercel-install.sh
  apps/hashdotdev/vercel-install.sh
  package.json
Due: prettier

chore: update lockfile
  yarn.lock
Due: none

feat: run yarn if package.json changed
  .lefthook.yml
  yarn.lock
Due: none

fix: glob
  .lefthook.yml
Due: none

fix: glob for package.json
  .lefthook.yml
Due: none

H-3304: Initial setup for `SqlFluff` (#5781)
  .github/CODEOWNERS
  .github/workflows/lint.yml
  .sqlfluff
  infra/docker/citus/prod/initdb/0000_init.sql
  libs/@local/graph/migrations/graph-migrations/v006__data_types/up.sql
  libs/@local/graph/migrations/graph-migrations/v009__entities/up.sql
  libs/@local/graph/postgres-store/postgres_migrations/.sqlfluffignore
Due: prettier

feat: add taplo to config
  .lefthook.yml
Due: none

H-3733: Experiment with lefthook as a husky/lint-staged replacement (#5784)
  .config/husky/pre-commit
  .github/actions/warm-up-repo/action.yml
  .lefthook.yml
  apps/hash-frontend/vercel-install.sh
  apps/hashdotdesign/vercel-install.sh
  apps/hashdotdev/vercel-install.sh
  package.json
  yarn.lock
Due: prettier

`yarn fix:yarn-deduplicate`
  yarn.lock
Due: none

Struct organization and restructuring + cleanup
  libs/chonky/src/embedding/hugging_face_api.rs
  libs/chonky/src/embedding/multi_modal_embedding.rs
  libs/chonky/src/embedding/snapshots/chonky__embedding__multi_modal_embedding__tests__create_embedding_data.snap
  libs/chonky/src/embedding/snapshots/chonky__embedding__multi_modal_embedding__tests__page_1.snap
  libs/chonky/src/lib.rs
  libs/chonky/src/main.rs
  libs/chonky/src/snapshots/chonky__embedding__multi_modal_embedding__tests__create_embedding_data.snap
  libs/chonky/src/snapshots/chonky__embedding__multi_modal_embedding__tests__page_1.snap
Due: none

Additional Debugging Info on 403 Error
  libs/chonky/src/embedding/multi_modal_embedding.rs
Due: none

Add UV to ignore files
  .dockerignore
  .gitignore
  .markdownlintignore
  .prettierignore
Due: none

wip: update editor to use new data type system
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/change-type-cell.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/array-editor.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/array-editor/draft-row.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/array-editor/sortable-row.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/editor-specs.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/editor-type-picker.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/single-value-editor.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/types.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/utils.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/types.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-create-get-cell-content.ts
  apps/hash-frontend/src/pages/shared/use-validate-entity.ts
Due: prettier

add functions to validate entity
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/019-add-doc-company-and-person-types.migration.ts
  apps/hash-api/src/graph/knowledge/primitive/entity.ts
  apps/hash-api/src/graphql/resolvers/index.ts
  apps/hash-api/src/graphql/resolvers/knowledge/entity/entity.ts
  apps/hash-frontend/src/graphql/queries/knowledge/entity.queries.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/create-entity-page.tsx
  apps/hash-frontend/src/pages/shared/use-validate-entity.ts
  libs/@local/hash-isomorphic-utils/src/generate-entity-label.ts
  libs/@local/hash-isomorphic-utils/src/graphql/scalar-mapping.ts
  libs/@local/hash-isomorphic-utils/src/graphql/type-defs/knowledge/entity.typedef.ts
Due: prettier

more work on updating editor for new data type system
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/change-type-cell.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/array-editor.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/array-editor/draft-row.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/array-editor/sortable-row.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/array-editor/types.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/editor-specs.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/editor-type-picker.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/inputs/number-or-text-input.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/single-value-editor.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/types.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/utils.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/types.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-create-get-cell-content.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-rows/generate-property-rows-from-entity/generate-property-row-recursively.ts
  apps/hash-frontend/src/pages/shared/data-types-context.tsx
  libs/@hashintel/type-editor/src/shared/data-types-options-context.tsx
  libs/@local/graph/sdk/typescript/src/entity.ts
  libs/@local/hash-isomorphic-utils/src/data-types.ts
Due: prettier

H-3699: Remove references to EmptyList type
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/editor-specs.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/single-value-editor.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/types.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-create-get-cell-content.ts
  libs/@hashintel/type-editor/src/shared/data-types-options-context.tsx
  libs/@local/hash-isomorphic-utils/src/data-types.ts
Due: prettier

file upload error handling
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/file-preview-section.tsx
  apps/hash-frontend/src/shared/file-upload-context.tsx
Due: prettier

labelling and type matching fixes in entity selector
  apps/hash-frontend/src/pages/shared/entity-selector.tsx
  libs/@hashintel/design-system/src/selector-autocomplete/selector-autocomplete-option.tsx
Due: prettier

Resolve conflicts
  yarn.lock
Due: none

Remove hardcoded project_id + fix base64 test
  libs/chonky/src/embedding/multi_modal_embedding.rs
Due: none

H-3618: Add GitHub action step to authenticate with Google Cloud, for `chonky` tests (#5687)
  .dockerignore
  .github/workflows/test.yml
  .gitignore
  .markdownlintignore
  libs/chonky/src/embedding/multi_modal_embedding.rs
Due: prettier

reading and setting dataTypeId from value metadata
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/claims-section.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/entity-editor-context.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/file-preview-section.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/history-section/get-history-events.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/link-section.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/outgoing-links-section.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/outgoing-links-section/cells/linked-with-cell/linked-entity-list-editor.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/outgoing-links-section/cells/linked-with-cell/linked-entity-selector.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/outgoing-links-section/cells/linked-with-cell/linked-with-cell-editor.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/outgoing-links-section/use-rows.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/array-editor.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/editor-specs.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/inputs/number-or-text-input.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/single-value-editor.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/types.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-create-get-cell-content.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-create-on-cell-edited.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-rows/generate-property-rows-from-entity/generate-property-row-recursively.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-rows/use-property-rows-from-entity.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/types-section.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/types-section/use-get-type-change-details.ts
  libs/@local/graph/sdk/typescript/src/entity.ts
Due: prettier

Improve `changesets` README
  .changeset/README.md
Due: markdownlint, prettier

Additional changesets doc improvement
  .changeset/README.md
Due: markdownlint, prettier

finish updating entity editor for dataTypeId in metadata
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/create-entity-page.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/edit-entity-slide-over.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/history-section/get-history-events.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/change-type-cell.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/array-editor.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/array-editor/draft-row.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/array-editor/sortable-row.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/array-editor/value-chip.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/cells/value-cell/single-value-editor.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/types.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-create-get-cell-content.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-create-on-cell-edited.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-rows/generate-property-rows-from-entity/generate-property-row-recursively.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-rows/use-property-rows-from-entity.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/shared/create-draft-entity-subgraph.ts
  libs/@local/graph/sdk/typescript/src/entity.ts
  libs/@local/graph/types/typescript/src/entity.ts
Due: prettier

Overhaul return behavior for entity validation
  Cargo.lock
  libs/@blockprotocol/type-system/rust/src/schema/entity_type/closed.rs
  libs/@blockprotocol/type-system/rust/src/schema/entity_type/mod.rs
  libs/@blockprotocol/type-system/rust/src/schema/mod.rs
  libs/@local/graph/api/Cargo.toml
  libs/@local/graph/api/openapi/models/multi_report.json
  libs/@local/graph/api/openapi/models/report.json
  libs/@local/graph/api/openapi/models/report_context_info.json
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/api/src/rest/entity.rs
  libs/@local/graph/api/src/rest/json_schemas/multi_report.json
  libs/@local/graph/api/src/rest/json_schemas/report.json
  libs/@local/graph/api/src/rest/json_schemas/report_context_info.json
  libs/@local/graph/api/src/rest/mod.rs
  libs/@local/graph/api/src/rest/status.rs
  libs/@local/graph/postgres-store/src/snapshot/entity/batch.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/src/store/validation.rs
  libs/@local/graph/sdk/typescript/src/entity.ts
  libs/@local/graph/store/Cargo.toml
  libs/@local/graph/store/src/entity/mod.rs
  libs/@local/graph/store/src/entity/store.rs
  libs/@local/graph/store/src/entity/validation_report.rs
  libs/@local/graph/type-fetcher/src/store.rs
  libs/@local/graph/types/rust/src/knowledge/property/visitor.rs
  libs/@local/graph/types/rust/src/ontology/mod.rs
  libs/@local/graph/validation/Cargo.toml
  libs/@local/graph/validation/src/entity_type.rs
  libs/@local/graph/validation/src/lib.rs
  libs/@local/graph/validation/src/property.rs
  libs/chonky/README.md
  tests/graph/integration/postgres/lib.rs
Due: markdownlint, prettier

Sync turborepo
  libs/@local/graph/api/package.json
Due: prettier

Update lockfile
  yarn.lock
Due: none

Path conditions:
  markdownlint: any of: **/*.md
  prettier: any of: **/*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}
