Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, prettier, yarn, sqlfluff, rust, toml

markdownlint:
  tags:
  - frontend
  - style
  run: yarn run markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

prettier:
  tags:
  - frontend
  - style
  run: yarn run prettier --write {staged_files} || true
  stage_fixed: true

yarn:
  tags:
  - frontend
  - style
  run: yarn fix:constraints && yarn fix:packagejson && yarn fix:yarn-deduplicate
  stage_fixed: true

sqlfluff:
  tags:
  - backend
  - style
  run: sqlfluff fix {staged_files} || true
  stage_fixed: true

rust:
  tags:
  - backend
  - style
  run: cargo fmt -- {staged_files} || true
  stage_fixed: true

toml:
  tags:
  - backend
  - style
  run: yarn run taplo format {staged_files} || true
  stage_fixed: true

Add possibility to delete an arc from PropertiesPanel
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/PropertiesPanel/sortable-arc-item.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/PropertiesPanel/transition-properties.tsx
Due: prettier

Show State values of currently selected frame
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/PropertiesPanel/initial-state-editor.tsx
Due: prettier

Format
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/PropertiesPanel/place-properties.tsx
Due: prettier

Show Tokens count in Place when in Simulation
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/SDCPN/components/place-node.tsx
Due: prettier

Bigger Timeline
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/BottomBar/simulation-controls.tsx
Due: prettier

Make Frame in Place properties the selected one
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/PropertiesPanel/place-properties.tsx
Due: prettier

feat: new skeleton
  libs/@local/hashql/core/src/pretty/mod.rs
  libs/@local/hashql/hir/src/pretty.rs
Due: rust

Base
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/examples/broken-machines.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/editor-view.tsx
Due: prettier

fix: compile errors
  libs/@local/hashql/hir/src/lower/error.rs
  libs/@local/hashql/hir/src/lower/specialization/error.rs
  libs/@local/hashql/hir/src/lower/specialization/mod.rs
  libs/@local/hashql/hir/src/pretty.rs
Due: rust

FE-70: Better Timeline with Navigation (#8018)
  libs/@hashintel/petrinaut/src/core/helpers/compute-possible-transition.ts
  libs/@hashintel/petrinaut/src/core/helpers/execute-transitions.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/examples/broken-machines.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/examples/satellites.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/state/editor-store.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/state/simulation-store.test.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/state/simulation-store.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/BottomBar/bottom-bar.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/BottomBar/simulation-controls.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/BottomBar/toolbar-modes.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/BottomBar/use-keyboard-shortcuts.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/PropertiesPanel/initial-state-editor.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/PropertiesPanel/place-properties.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/PropertiesPanel/sortable-arc-item.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/PropertiesPanel/transition-properties.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/bottom-bar.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/editor-view.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/SDCPN/components/place-node.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/SDCPN/components/transition-node.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/SDCPN/hooks/use-apply-node-changes.ts
Due: prettier

FE-68: Basic Place Visualizer (#8017)
  libs/@hashintel/petrinaut/src/core/helpers/compile-visualizer.ts
  libs/@hashintel/petrinaut/src/core/helpers/compute-possible-transition.ts
  libs/@hashintel/petrinaut/src/core/helpers/execute-transitions.ts
  libs/@hashintel/petrinaut/src/core/types/sdcpn.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/examples/broken-machines.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/examples/satellites.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/state/editor-store.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/state/simulation-store.test.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/state/simulation-store.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/BottomBar/bottom-bar.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/BottomBar/simulation-controls.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/BottomBar/toolbar-modes.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/BottomBar/use-keyboard-shortcuts.ts
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/PropertiesPanel/initial-state-editor.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/PropertiesPanel/place-properties.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/PropertiesPanel/sortable-arc-item.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/PropertiesPanel/transition-properties.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/PropertiesPanel/visualizer-error-boundary.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/components/bottom-bar.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/Editor/editor-view.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/SDCPN/components/place-node.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/SDCPN/components/transition-node.tsx
  libs/@hashintel/petrinaut/src/petrinaut-sdcpn/views/SDCPN/hooks/use-apply-node-changes.ts
Due: prettier

feat: first formatting implementation
  libs/@local/hashql/core/src/pretty/formatter.rs
  libs/@local/hashql/core/src/symbol/sym.rs
  libs/@local/hashql/core/src/type/pretty.rs
  libs/@local/hashql/hir/src/node/operation/binary.rs
  libs/@local/hashql/hir/src/node/operation/unary.rs
  libs/@local/hashql/hir/src/pretty.rs
Due: rust

fix: compiletest
  libs/@local/hashql/compiletest/src/suite/ast_lowering_type_definition_extractor.rs
  libs/@local/hashql/compiletest/src/suite/ast_lowering_type_extractor.rs
  libs/@local/hashql/compiletest/src/suite/eval_graph_read_entity.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_alias_replacement.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_checking.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_ctor.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_graph_hoisting.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_inference.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_inference_intrinsics.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_normalization.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_specialization.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_thunking.rs
  libs/@local/hashql/compiletest/src/suite/hir_reify.rs
  libs/@local/hashql/core/src/type/kind/generic/mod.rs
  libs/@local/hashql/hir/src/node/operation/binary.rs
  libs/@local/hashql/hir/src/node/operation/unary.rs
  libs/@local/hashql/hir/src/pretty.rs
Due: rust

fix: use correct enclose
  libs/@local/hashql/core/src/pretty/formatter.rs
  libs/@local/hashql/core/src/type/pretty.rs
  libs/@local/hashql/hir/tests/ui/lower/inference/as.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/bind-arguments.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/call.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/closure-call-unconstrained-direct.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/closure-call-unconstrained.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/closure-constrained.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/closure-integer.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/ctor.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/dict-key-var.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/dict-multi-value.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/dict-single.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/field-access.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/if-test.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/if.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/index-access.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/infer-argument.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/input-default.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/list-multi.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/list-single.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/qualified-variable.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/struct.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/tuple.stdout
Due: rust

fix: do not always parens
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/definition/identity-nominal.stdout
  libs/@local/hashql/core/src/type/pretty.rs
  libs/@local/hashql/hir/tests/ui/lower/checking/collect-filter-graph.stdout
  libs/@local/hashql/hir/tests/ui/lower/checking/ctor-bounded.stdout
  libs/@local/hashql/hir/tests/ui/lower/checking/ctor.stdout
  libs/@local/hashql/hir/tests/ui/lower/checking/filter-graph.stdout
  libs/@local/hashql/hir/tests/ui/lower/checking/minimal-graph.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/ctor.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/if.stdout
  libs/@local/hashql/hir/tests/ui/lower/specialization/collect-custom-collect.stderr
  libs/@local/hashql/hir/tests/ui/lower/specialization/collect-filter-graph.stdout
  libs/@local/hashql/hir/tests/ui/lower/specialization/filter-graph.stdout
Due: rust

fix: do not always parens
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/definition/contractive-guarded.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/definition/contractive-union.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/definition/generics-apply-params.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/definition/result.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/definition/translation-intersection.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/definition/translation-union.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/union-type.stdout
  libs/@local/hashql/core/src/pretty/formatter.rs
  libs/@local/hashql/hir/tests/ui/lower/checking/field-access-tuple.stdout
  libs/@local/hashql/hir/tests/ui/lower/checking/index-access.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/bind-arguments.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/dict-key-var.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/dict-multi-value.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/if-test.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/if.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/index-access.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/input-default.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/list-multi.stdout
  libs/@local/hashql/hir/tests/ui/reify/tuple.stdout
Due: rust

chore: checkpoint
  libs/@local/hashql/eval/tests/ui/graph/read/entity/arithmetic-comparisons-and.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/arithmetic-comparisons-or.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/boolean-literal.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/constructor-call-none.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/equality-comparison.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/field-access-struct.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/field-access-tuple.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/if-filter.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/input-field-access.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/input-index-access.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/input-parameter.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/let-expression.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/let-propagation.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/logical-and-or.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/logical-or-and.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/nested-let-bindings.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/scalar-property-filter.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/top-level-variable.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/top-type-assertion.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/type-assertion-in-comparison.stdout
  libs/@local/hashql/hir/src/pretty.rs
  libs/@local/hashql/hir/tests/ui/lower/checking/closure-call-constrained.stdout
  libs/@local/hashql/hir/tests/ui/lower/checking/closure-constrained.stdout
  libs/@local/hashql/hir/tests/ui/lower/graph-hoisting/double-hoist-deny.stdout
  libs/@local/hashql/hir/tests/ui/lower/graph-hoisting/double-hoist.stdout
  libs/@local/hashql/hir/tests/ui/lower/graph-hoisting/hoist-inside-boundary.stdout
  libs/@local/hashql/hir/tests/ui/lower/graph-hoisting/hoist.stdout
  libs/@local/hashql/hir/tests/ui/lower/graph-hoisting/no-hoist-closure-inside-read.stdout
  libs/@local/hashql/hir/tests/ui/lower/graph-hoisting/partial.stdout
  libs/@local/hashql/hir/tests/ui/lower/graph-hoisting/sequential-filter.stdout
  libs/@local/hashql/hir/tests/ui/lower/normalization/closure.stdout
  libs/@local/hashql/hir/tests/ui/lower/normalization/graph-read-head.stdout
  libs/@local/hashql/hir/tests/ui/lower/specialization/complex.stdout
  libs/@local/hashql/hir/tests/ui/lower/thunking/dependent-call.stdout
  libs/@local/hashql/hir/tests/ui/lower/thunking/nested-call.stdout
Due: rust

feat: checkpoint
  libs/@local/hashql/core/src/pretty/formatter.rs
  libs/@local/hashql/core/src/type/pretty.rs
  libs/@local/hashql/hir/src/pretty.rs
  libs/@local/hashql/hir/tests/ui/lower/checking/collect-filter-graph.stdout
  libs/@local/hashql/hir/tests/ui/lower/checking/filter-graph.stdout
  libs/@local/hashql/hir/tests/ui/lower/checking/input-default.stdout
  libs/@local/hashql/hir/tests/ui/lower/checking/minimal-graph.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/bind-arguments.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/call.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/closure-constrained.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/closure-integer.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/infer-argument.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/input-default.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/qualified-variable.stdout
  libs/@local/hashql/hir/tests/ui/lower/specialization/collect-filter-graph.stdout
  libs/@local/hashql/hir/tests/ui/lower/specialization/filter-graph.stdout
Due: rust

feat: checkpoint
  libs/@local/hashql/core/src/symbol/sym.rs
  libs/@local/hashql/core/src/type/pretty.rs
  libs/@local/hashql/eval/tests/ui/graph/read/entity/arithmetic-comparisons-and.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/arithmetic-comparisons-or.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/boolean-literal.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/constructor-call-none.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/equality-comparison.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/field-access-struct.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/field-access-tuple.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/if-filter.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/input-field-access.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/input-index-access.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/input-parameter.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/let-expression.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/let-propagation.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/logical-and-or.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/logical-or-and.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/nested-let-bindings.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/scalar-property-filter.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/top-level-variable.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/top-type-assertion.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/type-assertion-in-comparison.stdout
  libs/@local/hashql/hir/src/pretty.rs
  libs/@local/hashql/hir/tests/ui/lower/graph-hoisting/double-hoist-deny.stdout
  libs/@local/hashql/hir/tests/ui/lower/graph-hoisting/double-hoist.stdout
  libs/@local/hashql/hir/tests/ui/lower/graph-hoisting/hoist-inside-boundary.stdout
  libs/@local/hashql/hir/tests/ui/lower/graph-hoisting/hoist.stdout
  libs/@local/hashql/hir/tests/ui/lower/graph-hoisting/no-hoist-closure-inside-read.stdout
  libs/@local/hashql/hir/tests/ui/lower/graph-hoisting/partial.stdout
  libs/@local/hashql/hir/tests/ui/lower/graph-hoisting/sequential-filter.stdout
  libs/@local/hashql/hir/tests/ui/lower/normalization/graph-read-head.stdout
  libs/@local/hashql/hir/tests/ui/lower/specialization/collect-filter-graph.stdout
  libs/@local/hashql/hir/tests/ui/lower/specialization/filter-graph.stdout
  libs/@local/hashql/hir/tests/ui/lower/specialization/minimal-graph.stdout
Due: rust

feat: snapshot
  libs/@local/hashql/hir/src/pretty.rs
Due: rust

feat: checkpoint
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/definition/result.stdout
  libs/@local/hashql/core/src/pretty/formatter.rs
  libs/@local/hashql/core/src/type/pretty.rs
Due: rust

feat: finish pretty printing
  libs/@local/hashql/compiletest/src/suite/eval_graph_read_entity.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_graph_hoisting.rs
  libs/@local/hashql/core/src/symbol/sym.rs
  libs/@local/hashql/eval/tests/ui/graph/read/entity/arithmetic-comparisons-and.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/arithmetic-comparisons-or.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/boolean-literal.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/constructor-call-none.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/equality-comparison.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/field-access-struct.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/field-access-tuple.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/if-filter.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/input-field-access.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/input-index-access.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/input-parameter.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/let-expression.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/let-propagation.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/logical-and-or.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/logical-or-and.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/nested-let-bindings.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/scalar-property-filter.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/top-level-variable.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/top-type-assertion.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/type-assertion-in-comparison.stdout
  libs/@local/hashql/hir/src/pretty.rs
  libs/@local/hashql/hir/tests/ui/lower/checking/collect-filter-graph.stdout
  libs/@local/hashql/hir/tests/ui/lower/checking/filter-graph.stdout
  libs/@local/hashql/hir/tests/ui/lower/checking/minimal-graph.stdout
  libs/@local/hashql/hir/tests/ui/lower/graph-hoisting/double-hoist-deny.stdout
  libs/@local/hashql/hir/tests/ui/lower/graph-hoisting/double-hoist.stdout
  libs/@local/hashql/hir/tests/ui/lower/graph-hoisting/hoist-inside-boundary.stdout
  libs/@local/hashql/hir/tests/ui/lower/graph-hoisting/hoist.stdout
  libs/@local/hashql/hir/tests/ui/lower/graph-hoisting/no-hoist-closure-inside-read.stdout
  libs/@local/hashql/hir/tests/ui/lower/graph-hoisting/partial.stdout
  libs/@local/hashql/hir/tests/ui/lower/graph-hoisting/sequential-filter.stdout
  libs/@local/hashql/hir/tests/ui/lower/normalization/graph-read-head.stdout
  libs/@local/hashql/hir/tests/ui/lower/specialization/collect-filter-graph.stdout
  libs/@local/hashql/hir/tests/ui/lower/specialization/filter-graph.stdout
  libs/@local/hashql/hir/tests/ui/lower/specialization/minimal-graph.stdout
Due: rust

chore: remove unused docs
  libs/@local/hashql/core/src/type/inference/mod.rs
  libs/@local/hashql/core/src/type/inference/variable.rs
  libs/@local/hashql/hir/src/pretty.rs
Due: rust

chore: docs
  libs/@local/hashql/core/src/pretty/formatter.rs
  libs/@local/hashql/core/src/pretty/mod.rs
  libs/@local/hashql/core/src/type/mod.rs
  libs/@local/hashql/core/src/type/pretty.rs
  libs/@local/hashql/hir/src/pretty.rs
Due: rust

chore: make ... a comment
  libs/@local/hashql/core/src/type/pretty.rs
Due: rust

chore: update docs
  libs/@local/hashql/core/src/pretty/mod.rs
  libs/@local/hashql/core/src/type/kind/tests/snapshots/hashql_core__r#type__kind__tests__r#struct__instantiate_interdependent.snap
  libs/@local/hashql/core/src/type/kind/tests/snapshots/hashql_core__r#type__kind__tests__r#struct__instantiate_interdependent.snap.new
Due: rust

chore: arm the bombs again
  libs/@local/hashql/compiletest/src/executor/trial.rs
Due: rust

feat: move to sym
  libs/@local/hashql/compiletest/src/suite/eval_graph_read_entity.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_graph_hoisting.rs
  libs/@local/hashql/core/src/lib.rs
  libs/@local/hashql/core/src/pretty/formatter.rs
  libs/@local/hashql/core/src/symbol/sym.rs
  libs/@local/hashql/core/src/type/inference/solver/mod.rs
  libs/@local/hashql/core/src/type/pretty.rs
  libs/@local/hashql/hir/src/pretty.rs
Due: rust

feat: more lenient `_str` impl
  libs/@local/hashql/core/src/pretty/formatter.rs
  libs/@local/hashql/hir/src/pretty.rs
Due: rust

chore: update snapshots
  libs/@local/hashql/eval/tests/ui/graph/read/entity/arithmetic-comparisons-and.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/arithmetic-comparisons-or.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/boolean-literal.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/constructor-call-none.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/equality-comparison.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/field-access-struct.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/field-access-tuple.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/if-filter.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/input-field-access.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/input-index-access.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/input-parameter.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/let-expression.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/let-propagation.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/logical-and-or.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/logical-or-and.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/nested-let-bindings.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/scalar-property-filter.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/top-level-variable.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/top-type-assertion.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/type-assertion-in-comparison.stdout
  libs/@local/hashql/hir/tests/ui/lower/checking/input-default.stdout
  libs/@local/hashql/hir/tests/ui/lower/graph-hoisting/double-hoist-deny.stdout
  libs/@local/hashql/hir/tests/ui/lower/graph-hoisting/double-hoist.stdout
  libs/@local/hashql/hir/tests/ui/lower/graph-hoisting/hoist-inside-boundary.stdout
  libs/@local/hashql/hir/tests/ui/lower/graph-hoisting/hoist.stdout
  libs/@local/hashql/hir/tests/ui/lower/graph-hoisting/no-hoist-closure-inside-read.stdout
  libs/@local/hashql/hir/tests/ui/lower/graph-hoisting/partial.stdout
  libs/@local/hashql/hir/tests/ui/lower/graph-hoisting/sequential-filter.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/input-default.stdout
  libs/@local/hashql/hir/tests/ui/lower/normalization/input.stdout
  libs/@local/hashql/hir/tests/ui/reify/input-default.stdout
Due: none

feat: format filter bodies as normal calls; closure def in call is on single line signature
  libs/@local/hashql/eval/tests/ui/graph/read/entity/arithmetic-comparisons-and.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/arithmetic-comparisons-or.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/constructor-call-none.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/equality-comparison.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/field-access-struct.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/field-access-tuple.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/if-filter.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/input-field-access.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/input-index-access.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/input-parameter.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/let-expression.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/let-propagation.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/logical-and-or.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/logical-or-and.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/nested-let-bindings.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/scalar-property-filter.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/top-level-variable.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/type-assertion-in-comparison.stdout
  libs/@local/hashql/hir/src/pretty.rs
  libs/@local/hashql/hir/tests/ui/lower/graph-hoisting/double-hoist-deny.stdout
  libs/@local/hashql/hir/tests/ui/lower/graph-hoisting/hoist-inside-boundary.stdout
  libs/@local/hashql/hir/tests/ui/lower/graph-hoisting/partial.stdout
  libs/@local/hashql/hir/tests/ui/lower/specialization/collect-filter-graph.stdout
Due: rust

feat: inline then/else if not complex
  libs/@local/hashql/eval/tests/ui/graph/read/entity/arithmetic-comparisons-and.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/arithmetic-comparisons-or.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/equality-comparison.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/logical-and-or.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/logical-or-and.stdout
  libs/@local/hashql/hir/src/pretty.rs
  libs/@local/hashql/hir/tests/ui/lower/checking/if-simplify.stdout
  libs/@local/hashql/hir/tests/ui/lower/checking/input-default.stdout
  libs/@local/hashql/hir/tests/ui/lower/graph-hoisting/hoist-inside-boundary.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/if-test.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/if.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/input-default.stdout
  libs/@local/hashql/hir/tests/ui/lower/normalization/if-else.stdout
  libs/@local/hashql/hir/tests/ui/lower/normalization/if-test.stdout
  libs/@local/hashql/hir/tests/ui/lower/normalization/if-then.stdout
  libs/@local/hashql/hir/tests/ui/lower/normalization/input.stdout
  libs/@local/hashql/hir/tests/ui/reify/if-partial.stdout
  libs/@local/hashql/hir/tests/ui/reify/if.stdout
  libs/@local/hashql/hir/tests/ui/reify/input-default.stdout
Due: rust

fix: mir d2
  libs/@local/hashql/compiletest/src/suite/mir_reify.rs
Due: rust

feat: use context instead of parameters
  libs/@local/hashql/compiletest/src/executor/trial.rs
  libs/@local/hashql/compiletest/src/suite/ast_lowering_import_resolver.rs
  libs/@local/hashql/compiletest/src/suite/ast_lowering_import_resolver_continue.rs
  libs/@local/hashql/compiletest/src/suite/ast_lowering_node_mangler.rs
  libs/@local/hashql/compiletest/src/suite/ast_lowering_node_renumberer.rs
  libs/@local/hashql/compiletest/src/suite/ast_lowering_pre_expansion_name_resolver.rs
  libs/@local/hashql/compiletest/src/suite/ast_lowering_sanitizer.rs
  libs/@local/hashql/compiletest/src/suite/ast_lowering_special_form_expander.rs
  libs/@local/hashql/compiletest/src/suite/ast_lowering_type_definition_extractor.rs
  libs/@local/hashql/compiletest/src/suite/ast_lowering_type_extractor.rs
  libs/@local/hashql/compiletest/src/suite/eval_graph_read_entity.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_alias_replacement.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_checking.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_ctor.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_graph_hoisting.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_inference.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_inference_intrinsics.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_normalization.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_specialization.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_thunking.rs
  libs/@local/hashql/compiletest/src/suite/hir_reify.rs
  libs/@local/hashql/compiletest/src/suite/mir_reify.rs
  libs/@local/hashql/compiletest/src/suite/mod.rs
  libs/@local/hashql/compiletest/src/suite/parse_syntax_dump.rs
Due: rust

Path conditions:
  markdownlint: any of: *.md
  prettier: any of: *.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}
  yarn: any of: {*/package.json, package.json}
  sqlfluff: any of: *.sql
  rust: any of: *.rs
  toml: any of: *.toml
