Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

markdownlint:
  tags:
  - frontend
  - style
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

biome:
  tags:
  - frontend
  - style
  run: biome format --write --staged || true
  stage_fixed: true

yarn:
  tags:
  - frontend
  - style
  run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
  stage_fixed: true

sqlfluff:
  tags:
  - backend
  - style
  run: sqlfluff fix {staged_files} || true
  stage_fixed: true

rust:
  tags:
  - backend
  - style
  run: rustfmt {staged_files} || true
  stage_fixed: true

toml:
  tags:
  - backend
  - style
  run: taplo format {staged_files} || true
  stage_fixed: true

Remove self imports and a shared match arm result in the simulation harness
  libs/@local/durable-kernel/src/sim/harness/check.rs
  libs/@local/durable-kernel/src/sim/harness/driver.rs
  libs/@local/durable-kernel/src/sim/harness/faults.rs
  libs/@local/durable-kernel/src/sim/harness/model.rs
Due: rust

Build domain declarations on RecordDeclaration
  libs/@local/durable-kernel/src/domain.rs
Due: rust

Use dashed keys for the opendata dependencies
  Cargo.toml
  libs/@local/durable-kernel/Cargo.toml
Due: toml

Reword comments and messages in durable-kernel
  libs/@local/durable-kernel/README.md
  libs/@local/durable-kernel/examples/customer_sync.rs
  libs/@local/durable-kernel/examples/webhook_relay.rs
  libs/@local/durable-kernel/src/domain/error.rs
  libs/@local/durable-kernel/src/domain/hosted.rs
  libs/@local/durable-kernel/src/domain/mod.rs
  libs/@local/durable-kernel/src/domain/query.rs
  libs/@local/durable-kernel/src/domain/record.rs
  libs/@local/durable-kernel/src/domain/snapshot.rs
  libs/@local/durable-kernel/src/domain/tests.rs
  libs/@local/durable-kernel/src/ids.rs
  libs/@local/durable-kernel/src/keyspace.rs
  libs/@local/durable-kernel/src/lib.rs
  libs/@local/durable-kernel/src/port.rs
  libs/@local/durable-kernel/src/properties.rs
  libs/@local/durable-kernel/src/registry.rs
  libs/@local/durable-kernel/src/routing.rs
  libs/@local/durable-kernel/src/runtime.rs
  libs/@local/durable-kernel/src/shard_log/backend.rs
  libs/@local/durable-kernel/src/shard_log/command_loop.rs
  libs/@local/durable-kernel/src/shard_log/mod.rs
  libs/@local/durable-kernel/src/sim/harness.rs
  libs/@local/durable-kernel/src/sim/mod.rs
  libs/@local/durable-kernel/src/sim/storage.rs
  libs/@local/durable-kernel/tests/event_size.rs
Due: markdownlint, biome, rust

Replace Never with the ! type
  libs/@local/durable-kernel/src/domain.rs
  libs/@local/durable-kernel/src/lib.rs
Due: rust

Share journal interfaces between real and simulated storage
  libs/@local/durable-kernel/src/domain.rs
  libs/@local/durable-kernel/src/shard_log/backend.rs
  libs/@local/durable-kernel/src/shard_log/command_loop.rs
  libs/@local/durable-kernel/src/shard_log/mod.rs
  libs/@local/durable-kernel/src/sim/harness.rs
  libs/@local/durable-kernel/src/sim/mod.rs
  libs/@local/durable-kernel/src/sim/storage.rs
Due: rust

Store PartitionKey and Namespace as Box<str>
  libs/@local/durable-kernel/src/domain/partition.rs
  libs/@local/durable-kernel/src/keyspace.rs
Due: rust

Fix the Fold doc link in the simulation harness
  libs/@local/durable-kernel/src/sim/harness/mod.rs
Due: rust

Replace chrono with time in the durable kernel
  Cargo.lock
  Cargo.toml
  libs/@local/durable-kernel/Cargo.toml
  libs/@local/durable-kernel/src/domain/snapshot.rs
  libs/@local/durable-kernel/src/domain/tests.rs
  libs/@local/durable-kernel/src/port.rs
  libs/@local/durable-kernel/src/runtime/driver.rs
  libs/@local/durable-kernel/src/shard_log/command_loop/mod.rs
  libs/@local/durable-kernel/src/sim/harness/faults.rs
Due: rust, toml

Remove redundant tests and keep test code out of production modules
  libs/@local/durable-kernel/src/domain/hosted.rs
  libs/@local/durable-kernel/src/domain/snapshot.rs
  libs/@local/durable-kernel/src/domain/tests.rs
  libs/@local/durable-kernel/src/lib.rs
  libs/@local/durable-kernel/src/routing.rs
  libs/@local/durable-kernel/src/shard_log/backend.rs
  libs/@local/durable-kernel/src/shard_log/command_loop/handle.rs
  libs/@local/durable-kernel/src/shard_log/command_loop/mod.rs
  libs/@local/durable-kernel/src/shard_log/command_loop/startup.rs
  libs/@local/durable-kernel/src/shard_log/location.rs
  libs/@local/durable-kernel/src/shard_log/mod.rs
  libs/@local/durable-kernel/src/shard_log/raw.rs
  libs/@local/durable-kernel/src/shard_log/reader.rs
  libs/@local/durable-kernel/src/shard_log/tests.rs
  libs/@local/durable-kernel/src/shard_log/writer.rs
Due: rust

Return an events iterator from execute and drop unused bounds
  libs/@local/durable-kernel/examples/customer_sync.rs
  libs/@local/durable-kernel/examples/webhook_relay.rs
  libs/@local/durable-kernel/src/domain/mod.rs
  libs/@local/durable-kernel/src/port.rs
  libs/@local/durable-kernel/src/runtime/driver.rs
  libs/@local/durable-kernel/src/runtime/tests.rs
  libs/@local/durable-kernel/tests/event_size.rs
Due: rust

Recover shards only through startup recovery
  libs/@local/durable-kernel/src/domain/error.rs
  libs/@local/durable-kernel/src/domain/hosted.rs
  libs/@local/durable-kernel/src/domain/tests.rs
  libs/@local/durable-kernel/src/port.rs
  libs/@local/durable-kernel/src/shard_log/command_loop/append.rs
  libs/@local/durable-kernel/src/shard_log/command_loop/error.rs
  libs/@local/durable-kernel/src/shard_log/command_loop/mod.rs
  libs/@local/durable-kernel/src/shard_log/command_loop/recovery.rs
  libs/@local/durable-kernel/src/shard_log/command_loop/startup.rs
  libs/@local/durable-kernel/src/sim/harness/driver.rs
Due: rust

Use serde for borrowed event record decoding
  libs/@local/durable-kernel/src/domain.rs
  libs/@local/durable-kernel/src/sim/harness.rs
  libs/@local/durable-kernel/tests/event_size.rs
Due: rust

Pin tempfile to a three-part version
  Cargo.toml
Due: toml

Keep opendata-common below 0.1.18 until opendata-log supports slatedb 0.14
  Cargo.toml
Due: toml

Expose journal scans as streams
  Cargo.lock
  libs/@local/durable-kernel/Cargo.toml
  libs/@local/durable-kernel/src/shard_log/backend.rs
  libs/@local/durable-kernel/src/shard_log/mod.rs
  libs/@local/durable-kernel/src/sim/mod.rs
  libs/@local/durable-kernel/src/sim/storage.rs
Due: rust, toml

Type simulated failures and tidy error and default types
  libs/@local/durable-kernel/src/domain/tests.rs
  libs/@local/durable-kernel/src/ids.rs
  libs/@local/durable-kernel/src/lib.rs
  libs/@local/durable-kernel/src/routing.rs
  libs/@local/durable-kernel/src/runtime/config.rs
  libs/@local/durable-kernel/src/sequence.rs
  libs/@local/durable-kernel/src/shard_log/backend.rs
  libs/@local/durable-kernel/src/shard_log/command_loop/mod.rs
  libs/@local/durable-kernel/src/shard_log/mod.rs
  libs/@local/durable-kernel/src/sim/harness/plan.rs
  libs/@local/durable-kernel/src/sim/mod.rs
  libs/@local/durable-kernel/src/sim/storage.rs
Due: rust

Move snapshot candidate replay into replay_from_snapshots
  libs/@local/durable-kernel/src/shard_log/command_loop.rs
  libs/@local/durable-kernel/src/shard_log/mod.rs
Due: rust

Newtypes for example strings
  libs/@local/durable-kernel/README.md
  libs/@local/durable-kernel/examples/customer_sync.rs
Due: markdownlint, biome, rust

Return iterators from live_work and initial_state_keys
  libs/@local/durable-kernel/src/domain/hosted.rs
  libs/@local/durable-kernel/src/port.rs
  libs/@local/durable-kernel/src/shard_log/command_loop.rs
Due: rust

Add a JournalSequence newtype and use journal sequence names
  libs/@local/durable-kernel/src/domain/error.rs
  libs/@local/durable-kernel/src/domain/hosted.rs
  libs/@local/durable-kernel/src/domain/snapshot.rs
  libs/@local/durable-kernel/src/domain/tests.rs
  libs/@local/durable-kernel/src/lib.rs
  libs/@local/durable-kernel/src/port.rs
  libs/@local/durable-kernel/src/runtime/kernel.rs
  libs/@local/durable-kernel/src/runtime/mod.rs
  libs/@local/durable-kernel/src/runtime/running.rs
  libs/@local/durable-kernel/src/runtime/tests.rs
  libs/@local/durable-kernel/src/sequence.rs
  libs/@local/durable-kernel/src/shard_log/backend.rs
  libs/@local/durable-kernel/src/shard_log/command_loop/append.rs
  libs/@local/durable-kernel/src/shard_log/command_loop/error.rs
  libs/@local/durable-kernel/src/shard_log/command_loop/handle.rs
  libs/@local/durable-kernel/src/shard_log/command_loop/mod.rs
  libs/@local/durable-kernel/src/shard_log/command_loop/recovery.rs
  libs/@local/durable-kernel/src/shard_log/command_loop/run.rs
  libs/@local/durable-kernel/src/shard_log/command_loop/startup.rs
  libs/@local/durable-kernel/src/shard_log/location.rs
  libs/@local/durable-kernel/src/shard_log/mod.rs
  libs/@local/durable-kernel/src/shard_log/raw.rs
  libs/@local/durable-kernel/src/shard_log/reader.rs
  libs/@local/durable-kernel/src/shard_log/scan.rs
  libs/@local/durable-kernel/src/shard_log/tests.rs
  libs/@local/durable-kernel/src/shard_log/writer.rs
  libs/@local/durable-kernel/src/sim/harness/driver.rs
  libs/@local/durable-kernel/src/sim/harness/mod.rs
  libs/@local/durable-kernel/src/sim/harness/run.rs
  libs/@local/durable-kernel/src/sim/mod.rs
  libs/@local/durable-kernel/src/sim/storage.rs
Due: rust

Move free functions onto their types
  libs/@local/durable-kernel/examples/customer_sync.rs
  libs/@local/durable-kernel/examples/webhook_relay.rs
  libs/@local/durable-kernel/src/domain/hosted.rs
  libs/@local/durable-kernel/src/domain/mod.rs
  libs/@local/durable-kernel/src/domain/partition.rs
  libs/@local/durable-kernel/src/domain/tests.rs
  libs/@local/durable-kernel/src/ids.rs
  libs/@local/durable-kernel/src/keyspace.rs
  libs/@local/durable-kernel/src/properties.rs
  libs/@local/durable-kernel/src/routing.rs
  libs/@local/durable-kernel/src/runtime/config.rs
  libs/@local/durable-kernel/src/runtime/driver.rs
  libs/@local/durable-kernel/src/runtime/running.rs
  libs/@local/durable-kernel/src/runtime/tests.rs
  libs/@local/durable-kernel/src/shard_log/backend.rs
  libs/@local/durable-kernel/src/shard_log/error.rs
  libs/@local/durable-kernel/src/shard_log/mod.rs
  libs/@local/durable-kernel/src/shard_log/scan.rs
  libs/@local/durable-kernel/src/shard_log/tests.rs
  libs/@local/durable-kernel/src/shard_log/writer.rs
  libs/@local/durable-kernel/src/sim/harness/check.rs
  libs/@local/durable-kernel/src/sim/harness/driver.rs
  libs/@local/durable-kernel/src/sim/harness/faults.rs
  libs/@local/durable-kernel/src/sim/harness/run.rs
  libs/@local/durable-kernel/src/sim/storage.rs
  libs/@local/durable-kernel/tests/event_size.rs
Due: rust

Remove intermediate JSON values from durable records
  libs/@local/durable-kernel/Cargo.toml
  libs/@local/durable-kernel/src/domain.rs
  libs/@local/durable-kernel/src/registry.rs
Due: rust, toml

Allow executor plans to return iterators
  libs/@local/durable-kernel/examples/customer_sync.rs
  libs/@local/durable-kernel/examples/webhook_relay.rs
  libs/@local/durable-kernel/src/domain.rs
  libs/@local/durable-kernel/src/runtime.rs
  libs/@local/durable-kernel/tests/event_size.rs
Due: rust

Implement FromStr for partition keys
  libs/@local/durable-kernel/src/domain.rs
Due: rust

Use typed projection queries
  libs/@local/durable-kernel/src/domain.rs
  libs/@local/durable-kernel/src/runtime.rs
  libs/@local/durable-kernel/src/shard_log/command_loop.rs
Due: rust

Add the dependency diagram and task files expected of workspace crates
  Cargo.lock
  libs/@local/durable-kernel/Cargo.toml
  libs/@local/durable-kernel/docs/dependency-diagram.mmd
  libs/@local/durable-kernel/docs/task-dependencies.json
  libs/@local/durable-kernel/src/lib.rs
  libs/@local/durable-kernel/turbo.json
Due: biome, rust, toml

Represent storage failures with typed errors and scan details
  libs/@local/durable-kernel/src/domain.rs
  libs/@local/durable-kernel/src/lib.rs
  libs/@local/durable-kernel/src/shard_log/backend.rs
  libs/@local/durable-kernel/src/shard_log/command_loop.rs
  libs/@local/durable-kernel/src/shard_log/mod.rs
  libs/@local/durable-kernel/src/sim/mod.rs
  libs/@local/durable-kernel/src/sim/storage.rs
  libs/@local/durable-kernel/tests/event_size.rs
Due: rust

Define routing-v1 with one-byte shard IDs
  libs/@local/durable-kernel/README.md
  libs/@local/durable-kernel/src/domain.rs
  libs/@local/durable-kernel/src/routing.rs
Due: markdownlint, biome, rust

Require only the domain traits each command loop part uses
  libs/@local/durable-kernel/README.md
  libs/@local/durable-kernel/src/domain/hosted.rs
  libs/@local/durable-kernel/src/port.rs
  libs/@local/durable-kernel/src/shard_log/command_loop/append.rs
  libs/@local/durable-kernel/src/shard_log/command_loop/control.rs
  libs/@local/durable-kernel/src/shard_log/command_loop/handle.rs
  libs/@local/durable-kernel/src/shard_log/command_loop/mod.rs
  libs/@local/durable-kernel/src/shard_log/command_loop/operation.rs
  libs/@local/durable-kernel/src/shard_log/command_loop/query.rs
  libs/@local/durable-kernel/src/shard_log/command_loop/recovery.rs
  libs/@local/durable-kernel/src/shard_log/command_loop/run.rs
  libs/@local/durable-kernel/src/shard_log/command_loop/snapshot.rs
  libs/@local/durable-kernel/src/shard_log/command_loop/startup.rs
Due: markdownlint, biome, rust

Split domain traits and relax record and projection bounds
  libs/@local/durable-kernel/examples/customer_sync.rs
  libs/@local/durable-kernel/examples/webhook_relay.rs
  libs/@local/durable-kernel/src/domain.rs
  libs/@local/durable-kernel/src/lib.rs
  libs/@local/durable-kernel/src/port.rs
  libs/@local/durable-kernel/src/runtime.rs
  libs/@local/durable-kernel/src/shard_log/command_loop.rs
  libs/@local/durable-kernel/src/shard_log/mod.rs
  libs/@local/durable-kernel/src/sim/harness.rs
  libs/@local/durable-kernel/tests/event_size.rs
Due: rust

Separate shard ownership from command submission
  libs/@local/durable-kernel/src/domain.rs
  libs/@local/durable-kernel/src/runtime.rs
  libs/@local/durable-kernel/src/shard_log/command_loop.rs
  libs/@local/durable-kernel/src/shard_log/mod.rs
  libs/@local/durable-kernel/src/sim/harness.rs
Due: rust

Record the sequence of a duplicate record as its partition watermark during replay
  libs/@local/durable-kernel/src/domain/hosted.rs
  libs/@local/durable-kernel/src/domain/tests.rs
Due: rust

Check namespace segments with str::as_ascii
  libs/@local/durable-kernel/src/keyspace.rs
  libs/@local/durable-kernel/src/lib.rs
Due: rust

Encode durable records into caller-provided writer
  libs/@local/durable-kernel/src/domain.rs
  libs/@local/durable-kernel/src/port.rs
  libs/@local/durable-kernel/src/registry.rs
  libs/@local/durable-kernel/src/shard_log/command_loop.rs
  libs/@local/durable-kernel/src/shard_log/mod.rs
  libs/@local/durable-kernel/tests/event_size.rs
Due: rust

Add a DeliveryId newtype to the webhook example
  libs/@local/durable-kernel/examples/webhook_relay.rs
Due: rust

Rename integration_id to state_key and fix the try_send comment
  libs/@local/durable-kernel/src/shard_log/command_loop/append.rs
Due: rust

Disable default features on the kernel's dependencies
  Cargo.toml
Due: toml

Tidy names and wording from the audit fixes
  libs/@local/durable-kernel/src/properties.rs
  libs/@local/durable-kernel/src/shard_log/command_loop/control.rs
  libs/@local/durable-kernel/src/shard_log/command_loop/query.rs
  libs/@local/durable-kernel/src/shard_log/command_loop/snapshot.rs
  libs/@local/durable-kernel/src/sim/harness/driver.rs
  libs/@local/durable-kernel/src/sim/storage.rs
Due: rust

Decode projection snapshot records after the scan so its future is Send
  libs/@local/durable-kernel/src/shard_log/scan.rs
Due: rust

Path conditions:
  markdownlint: any of: *.md
  biome: any of: *.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}
  yarn: any of: {*/package.json, package.json}
  sqlfluff: any of: *.sql
  rust: any of: *.rs
  toml: any of: *.toml
