Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, prettier, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: yarn run markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    prettier:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: yarn run prettier --write {staged_files} || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:packagejson && yarn fix:yarn-deduplicate
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: cargo fmt -- {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: yarn run taplo format {staged_files} || true
      stage_fixed: true

feat: generic argument visitor (V1)
  libs/@local/hashql/core/src/module/locals.rs
Due: rust

chore: docs
  libs/@local/hashql/core/src/type/visit.rs
Due: rust

fix: AST
  libs/@local/hashql/ast/src/lowering/type_extractor/mod.rs
  libs/@local/hashql/ast/src/lowering/type_extractor/translate.rs
  libs/@local/hashql/compiletest/src/suite/ast_lowering_type_extractor.rs
  libs/@local/hashql/core/src/module/locals.rs
Due: rust

feat: simplift instantiate
  libs/@local/hashql/core/src/module/locals.rs
  libs/@local/hashql/core/src/type/kind/generic/mod.rs
  libs/@local/hashql/core/src/type/visit.rs
Due: rust

chore: update snapshots
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/constraints-parsing.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/env-type-interning.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/generics-apply-params.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/generics-with-params.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/identity-nominal.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/identity-structural.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/intrinsic-dict-translation.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/intrinsic-list-translation.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/locals-generic-params-struct.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/locals-generic-params.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/locals-type-extraction.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/path-global-resolution.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/path-local-resolution.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/result.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/translation-infer.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/translation-intersection.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/translation-struct.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/translation-tuple.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/translation-union.stdout
  libs/@local/hashql/core/src/module/locals.rs
Due: rust

feat: translate remove generics on error
  libs/@local/hashql/ast/src/lowering/type_extractor/mod.rs
  libs/@local/hashql/ast/src/lowering/type_extractor/translate.rs
  libs/@local/hashql/core/src/module/locals.rs
Due: rust

chore: move out resolver into trait
  libs/@local/hashql/ast/src/lowering/type_extractor/translate.rs
Due: rust

feat: allow for `LocalTypes` to be used in converter
  libs/@local/hashql/ast/src/lowering/type_extractor/error.rs
  libs/@local/hashql/ast/src/lowering/type_extractor/translate.rs
  libs/@local/hashql/core/src/module/locals.rs
  libs/@local/hashql/core/src/type/kind/generic/mod.rs
Due: rust

feat: `TypeExtractor` -> `TypeDefinitionExatractor`
  libs/@local/hashql/ast/src/lowering/type_extractor/definition.rs
  libs/@local/hashql/ast/src/lowering/type_extractor/mod.rs
Due: rust

fix: imports
  libs/@local/hashql/ast/src/lowering/type_extractor/mod.rs
  libs/@local/hashql/compiletest/src/suite/ast_lowering_type_extractor.rs
  libs/@local/hashql/compiletest/src/suite/mod.rs
Due: rust

feat: type extractor
  libs/@local/hashql/ast/src/lowering/type_extractor/mod.rs
Due: rust

feat: build extractor
  libs/@local/hashql/ast/src/lowering/type_extractor/mod.rs
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/.spec.toml
  libs/@local/hashql/compiletest/src/suite/ast_lowering_type_definition_extractor.rs
  libs/@local/hashql/compiletest/src/suite/mod.rs
Due: rust, toml

feat: test cases
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/complex-types.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/generic-type-resolution.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/global-type-resolution.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/let-binding-type.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/local-type-resolution.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/nested-type-nodes.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/union-type.jsonc
Due: none

feat: tests
  libs/@local/hashql/ast/src/lowering/type_extractor/mod.rs
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/complex-types.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/complex-types.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/generic-type-resolution.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/generic-type-resolution.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/global-type-resolution.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/global-type-resolution.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/let-binding-type.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/let-binding-type.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/local-type-resolution.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/local-type-resolution.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/nested-type-nodes.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/union-type.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/union-type.stdout
  libs/@local/hashql/compiletest/src/suite/ast_lowering_type_extractor.rs
Due: rust

test: more coverage
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/definition/global-generic-constraint-not-enough.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/definition/global-generic-constraint-not-enough.stderr
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/definition/global-generic-constraint-too-many.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/definition/global-generic-constraint-too-many.stderr
Due: none

feat: cleanup
  libs/@local/hashql/ast/src/lib.rs
  libs/@local/hashql/ast/src/lowering/error.rs
  libs/@local/hashql/ast/src/lowering/type_extractor/error.rs
Due: rust

fix: description
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/definition/global-generic-constraint-too-many.jsonc
Due: none

fix: code review
  libs/@local/hashql/ast/src/lowering/type_extractor/translate.rs
  libs/@local/hashql/core/src/type/visit.rs
Due: rust

feat: unify infrastructure
  .config/mise/tasks/test/unit.sh
Due: none

fix: test strategy
  libs/error-stack/package.json
Due: prettier, yarn

feat: convert remaining
  libs/@local/graph/authorization/package.json
  libs/@local/graph/postgres-store/package.json
Due: prettier, yarn

feat: move update-snapshots to `package.json`
  libs/error-stack/.justfile
  libs/error-stack/package.json
Due: prettier, yarn

feat: first version of the special form sanitizer
  libs/@local/hashql/ast/src/lowering/mod.rs
  libs/@local/hashql/ast/src/lowering/special_form_santizier.rs
Due: rust

feat: merge sanitizers
  libs/@local/hashql/ast/src/lowering/generic_constraint_sanitizer.rs
  libs/@local/hashql/ast/src/lowering/mod.rs
  libs/@local/hashql/ast/src/lowering/sanitizer.rs
  libs/@local/hashql/ast/src/lowering/special_form_santizier.rs
  libs/@local/hashql/ast/tests/ui/lowering/generic-constraint-sanitizer/.spec.toml
  libs/@local/hashql/ast/tests/ui/lowering/sanitizer/.spec.toml
  libs/@local/hashql/ast/tests/ui/lowering/sanitizer/constraint.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/sanitizer/constraint.stderr
  libs/@local/hashql/compiletest/src/suite/ast_lowering_sanitizer.rs
  libs/@local/hashql/compiletest/src/suite/mod.rs
Due: rust, toml

feat: snapshots + diagnostic message improvements
  libs/@local/hashql/ast/src/lowering/sanitizer.rs
  libs/@local/hashql/ast/tests/ui/lowering/sanitizer/constraint.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/sanitizer/constraint.stderr
  libs/@local/hashql/ast/tests/ui/lowering/sanitizer/special-form-type-position.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/sanitizer/special-form-type-position.stderr
  libs/@local/hashql/ast/tests/ui/lowering/sanitizer/special-form-value.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/sanitizer/special-form-value.stderr
Due: rust

chore: remove type-extractor specialization diagnostic
  libs/@local/hashql/ast/src/lowering/type_extractor/error.rs
  libs/@local/hashql/ast/src/lowering/type_extractor/translate.rs
Due: rust

Bump tool dependencies
  .config/mise/config.toml
Due: toml

fix: quoting issue
  .config/mise/tasks/test/unit.sh
  libs/@local/graph/authorization/package.json
Due: prettier, yarn

chore: docs
  .config/mise/tasks/test/unit.sh
Due: none

Fix linting
  .github/CONTRIBUTING.md
  blocks/minesweeper/README.md
  infra/terraform/playbooks/db_recovery.md
  libs/@blockprotocol/graph/README.md
  libs/@hashintel/type-editor/README.md
Due: markdownlint, prettier

H-4580: HashQL: Deny special forms with special diagnostic in value position (#7170)
  libs/@local/hashql/ast/src/lowering/generic_constraint_sanitizer.rs
  libs/@local/hashql/ast/src/lowering/mod.rs
  libs/@local/hashql/ast/src/lowering/sanitizer.rs
  libs/@local/hashql/ast/src/lowering/type_extractor/error.rs
  libs/@local/hashql/ast/src/lowering/type_extractor/translate.rs
  libs/@local/hashql/ast/tests/ui/lowering/generic-constraint-sanitizer/.spec.toml
  libs/@local/hashql/ast/tests/ui/lowering/generic-constraint-sanitizer/constraint.stderr
  libs/@local/hashql/ast/tests/ui/lowering/sanitizer/.spec.toml
  libs/@local/hashql/ast/tests/ui/lowering/sanitizer/constraint.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/sanitizer/constraint.stderr
  libs/@local/hashql/ast/tests/ui/lowering/sanitizer/special-form-type-position.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/sanitizer/special-form-type-position.stderr
  libs/@local/hashql/ast/tests/ui/lowering/sanitizer/special-form-value.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/sanitizer/special-form-value.stderr
  libs/@local/hashql/compiletest/src/suite/ast_lowering_sanitizer.rs
  libs/@local/hashql/compiletest/src/suite/mod.rs
Due: rust, toml

chore: revert deletion of justfile
  libs/error-stack/.justfile
Due: none

H-4579: Cleanup `test:unit` command (#7189)
  .config/mise/tasks/test/unit.sh
  libs/@local/graph/authorization/package.json
  libs/@local/graph/postgres-store/package.json
  libs/error-stack/.justfile
  libs/error-stack/package.json
Due: prettier, yarn

Fix clippy linting
  apps/hash-graph/src/subcommand/mod.rs
  libs/@blockprotocol/type-system/rust/src/ontology/entity_type/schema/validation.rs
  libs/@blockprotocol/type-system/rust/src/ontology/json_schema/constraint/number.rs
  libs/@blockprotocol/type-system/rust/src/ontology/json_schema/constraint/string.rs
  libs/@blockprotocol/type-system/rust/src/ontology/property_type/schema/array/validation.rs
  libs/@local/graph/authorization/src/policies/principal/mod.rs
  libs/@local/graph/authorization/src/policies/resource/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/compile.rs
  libs/@local/graph/store/src/filter/mod.rs
  libs/@local/graph/type-fetcher/src/store.rs
  libs/@local/graph/validation/src/entity_type.rs
  libs/@local/hashql/compiletest/src/annotation/diagnostic.rs
  libs/deer/src/context.rs
  tests/graph/benches/manual_queries/entity_queries/mod.rs
  tests/graph/integration/postgres/lib.rs
Due: rust

H-4520: Bump tool dependencies (#7190)
  .config/mise/config.toml
  .github/CONTRIBUTING.md
  blocks/minesweeper/README.md
  infra/terraform/playbooks/db_recovery.md
  libs/@blockprotocol/graph/README.md
  libs/@hashintel/type-editor/README.md
Due: markdownlint, prettier, toml

Update libs/@local/graph/authorization/src/policies/resource/mod.rs
  libs/@local/graph/authorization/src/policies/resource/mod.rs
Due: rust

properly guard starting flows when feature flag not enabled for user
  apps/hash-api/src/ai/infer-entities-websocket.ts
  apps/hash-api/src/graph/knowledge/system-types/user.ts
  apps/hash-api/src/graphql/resolvers/flows/start-flow.ts
  apps/hash-api/src/graphql/resolvers/knowledge/file/create-file-from-url.ts
  apps/hash-api/src/graphql/resolvers/knowledge/file/request-file-upload.ts
Due: prettier
