Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, prettier, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: yarn run markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    prettier:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: yarn run prettier --write {staged_files} || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:packagejson && yarn fix:yarn-deduplicate
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: cargo fmt -- {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: yarn run taplo format {staged_files} || true
      stage_fixed: true

H-4404: Petri net editor UI prototype (#6965)
  .cursor/rules/typescript-coding-guidelines.mdc
  apps/hash-frontend/src/pages/process.page.tsx
  apps/hash-frontend/src/pages/process.page/process-editor.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/arc-editor.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/arc.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/editor-context.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/examples.ts
  apps/hash-frontend/src/pages/process.page/process-editor/log-pane.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/place-editor.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/place-node.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/sidebar.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/simulation-context.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/simulation-controls.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/styling.ts
  apps/hash-frontend/src/pages/process.page/process-editor/token-type-editor.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/transition-editor.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/transition-node.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/types.ts
  apps/hashdotdev/sitemap.json
  libs/@hashintel/design-system/src/components.ts
  libs/@hashintel/design-system/src/icon-forward-step-solid.tsx
  libs/@local/hash-isomorphic-utils/src/ontology-type-ids.ts
Due: prettier

fix scroll lock behavior
  apps/hash-frontend/src/shared/use-scroll-lock.ts
Due: prettier

H-4108: fix 'open in new' button position in slides when header text wraps
  apps/hash-frontend/src/pages/shared/data-type/data-type-header.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/shared/entity-type-header.tsx
  apps/hash-frontend/src/pages/shared/entity/entity-header.tsx
  apps/hash-frontend/src/pages/shared/use-text-width.ts
Due: prettier

Apply suggestions from code review
  apps/hash-api/src/graph/account-permission-management.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/005-create-hash-system-entities-and-web-bots.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/util.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/system-webs-and-entities.ts
  apps/hash-api/src/graph/knowledge/system-types/hash-instance.ts
  apps/hash-api/src/graph/knowledge/system-types/org.ts
  apps/hash-api/src/graph/knowledge/system-types/user.ts
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/api/src/rest/actor.rs
  libs/@local/graph/api/src/rest/web.rs
  libs/@local/hash-backend-utils/src/hash-instance.ts
  libs/@local/hash-backend-utils/src/machine-actors.ts
Due: prettier, rust

fix slide close behavior
  apps/hash-frontend/src/pages/shared/slide-stack.tsx
Due: prettier

fix layout of link type headers
  apps/hash-frontend/src/pages/shared/data-type/data-type-header.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/shared/entity-type-header.tsx
Due: prettier

Use correct machine entity type version in migration
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/007-create-api-usage-tracking.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/017-add-use-case-form-and-example-org.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/system-webs-and-entities.ts
  apps/hash-api/src/graph/knowledge/system-types/org.ts
Due: prettier

another slide close behavior fix
  apps/hash-frontend/src/pages/shared/slide-stack.tsx
Due: prettier

Bump tool dependencies
  .config/mise/config.toml
  Cargo.toml
  libs/@blockprotocol/type-system/rust/Cargo.toml
  libs/@local/hashql/diagnostics/Cargo.toml
  libs/@local/hashql/syntax-jexpr/Cargo.toml
Due: toml

Bump recursive Rust dependencies
  Cargo.lock
Due: none

Add `general-category` feature
  libs/@local/hashql/syntax-jexpr/Cargo.toml
Due: toml

H-4346: Bump tool and recursive Rust dependencies (#6970)
  .config/mise/config.toml
  Cargo.lock
  Cargo.toml
  libs/@blockprotocol/type-system/rust/Cargo.toml
  libs/@local/hashql/diagnostics/Cargo.toml
  libs/@local/hashql/syntax-jexpr/Cargo.toml
Due: toml

update icon positioning in entity/type headers
  apps/hash-frontend/src/pages/shared/data-type/data-type-header.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/shared/entity-type-header.tsx
  apps/hash-frontend/src/pages/shared/entity/entity-header.tsx
  apps/hash-frontend/src/pages/shared/use-text-size.ts
  apps/hash-frontend/src/pages/shared/use-text-width.ts
Due: prettier

fix org creation
  apps/hash-api/src/graph/knowledge/system-types/org.ts
  apps/hash-api/src/graphql/resolvers/knowledge/org/create-org.ts
Due: prettier

fix updating user info websiteUrl
  Cargo.lock
  apps/hash-frontend/src/components/hooks/use-update-authenticated-user.ts
Due: prettier

Fix merge-conflicts
  apps/hash-api/src/graph/knowledge/system-types/org.ts
Due: prettier

Implement `CreateWeb` policy and enforce it
  apps/hash-api/src/graph/account-permission-management.ts
  apps/hash-api/src/graph/knowledge/system-types/org.ts
  apps/hash-api/src/graph/system-account.ts
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/api/src/rest/actor.rs
  libs/@local/graph/authorization/src/policies/action/mod.rs
  libs/@local/graph/authorization/src/policies/store/error.rs
  libs/@local/graph/authorization/src/policies/store/mod.rs
  libs/@local/graph/postgres-store/postgres_migrations/V44__policies.sql
  libs/@local/graph/postgres-store/src/permissions/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/store/src/account/mod.rs
  libs/@local/graph/type-fetcher/src/store.rs
  tests/graph/http/tests/friendship.http
Due: prettier, sqlfluff, rust

Fix linting
  libs/@local/graph/authorization/src/policies/store/mod.rs
  tests/graph/http/tests/friendship.http
Due: rust

Fix ESLint
  Cargo.lock
  apps/hash-api/src/graph/knowledge/system-types/org.ts
Due: prettier

feat: split out environments into own files
  libs/@local/hashql/core/src/type/environment/analysis.rs
  libs/@local/hashql/core/src/type/environment/context/auxiliary.rs
  libs/@local/hashql/core/src/type/environment/context/diagnostics.rs
  libs/@local/hashql/core/src/type/environment/context/mod.rs
  libs/@local/hashql/core/src/type/environment/context/substitution.rs
  libs/@local/hashql/core/src/type/environment/context/variance.rs
  libs/@local/hashql/core/src/type/environment/lattice.rs
  libs/@local/hashql/core/src/type/environment/mod.rs
  libs/@local/hashql/core/src/type/environment/simplify.rs
  libs/@local/hashql/core/src/type/environment/variance.rs
  libs/@local/hashql/core/src/type/infer.rs
  libs/@local/hashql/core/src/type/mod.rs
Due: rust

chore: `TypeAnalysisEnvironment` -> `AnalysisEnvironment`
  libs/@local/graph/type-defs/build.rs
  libs/@local/hashql/core/src/type/environment/analysis.rs
  libs/@local/hashql/core/src/type/environment/context/variance.rs
  libs/@local/hashql/core/src/type/environment/mod.rs
  libs/@local/hashql/core/src/type/environment/simplify.rs
  libs/@local/hashql/core/src/type/infer.rs
  libs/@local/hashql/core/src/type/kind/closure.rs
  libs/@local/hashql/core/src/type/kind/intersection.rs
  libs/@local/hashql/core/src/type/kind/intrinsic.rs
  libs/@local/hashql/core/src/type/kind/mod.rs
  libs/@local/hashql/core/src/type/kind/opaque.rs
  libs/@local/hashql/core/src/type/kind/primitive.rs
  libs/@local/hashql/core/src/type/kind/struct.rs
  libs/@local/hashql/core/src/type/kind/test.rs
  libs/@local/hashql/core/src/type/kind/tuple.rs
  libs/@local/hashql/core/src/type/kind/union.rs
  libs/@local/hashql/core/src/type/lattice.rs
  libs/@local/hashql/core/src/type/test.rs
Due: rust

feat: flesh out constraints
  libs/@local/hashql/core/src/type/infer.rs
Due: rust

feat: first version of constraint gathering
  libs/@local/hashql/core/src/lib.rs
  libs/@local/hashql/core/src/type/environment/infer.rs
  libs/@local/hashql/core/src/type/environment/mod.rs
  libs/@local/hashql/core/src/type/infer.rs
  libs/@local/hashql/core/src/type/kind/mod.rs
Due: rust

Account for breaking changes(!)
  libs/@local/graph/authorization/src/policies/principal/actor/ai.rs
  libs/@local/graph/authorization/src/policies/principal/actor/machine.rs
  libs/@local/graph/authorization/src/policies/principal/actor/user.rs
  libs/@local/graph/authorization/src/policies/principal/group/team.rs
  libs/@local/graph/authorization/src/policies/principal/group/web.rs
  libs/@local/graph/authorization/src/policies/principal/role/team.rs
  libs/@local/graph/authorization/src/policies/principal/role/web.rs
  libs/@local/graph/authorization/src/policies/resource/entity.rs
  libs/@local/graph/authorization/src/policies/resource/entity_type.rs
Due: rust

Fix typo
  libs/@local/graph/authorization/src/policies/principal/actor/ai.rs
Due: rust

better url handling in org form, user profile form
  apps/hash-frontend/src/components/hooks/use-update-authenticated-user.ts
  apps/hash-frontend/src/pages/@/[shortname].page/edit-user-profile-info-modal/user-profile-info-form.tsx
  apps/hash-frontend/src/pages/settings/organizations/shared/org-form.tsx
  apps/hash-frontend/src/pages/shared/url-input.tsx
Due: prettier

feat: “easy” constraints
  libs/@local/hashql/core/src/type/environment/context/variance.rs
  libs/@local/hashql/core/src/type/environment/infer.rs
  libs/@local/hashql/core/src/type/infer.rs
  libs/@local/hashql/core/src/type/kind/closure.rs
  libs/@local/hashql/core/src/type/kind/intrinsic.rs
  libs/@local/hashql/core/src/type/kind/mod.rs
  libs/@local/hashql/core/src/type/kind/opaque.rs
  libs/@local/hashql/core/src/type/kind/primitive.rs
  libs/@local/hashql/core/src/type/kind/struct.rs
  libs/@local/hashql/core/src/type/kind/tuple.rs
  libs/@local/hashql/core/src/type/test.rs
Due: rust

Update apps/hash-frontend/src/pages/shared/url-input.tsx
  apps/hash-frontend/src/pages/shared/url-input.tsx
Due: prettier

H-4108, H-4348: Slide and editor header fixes (#6969)
  apps/hash-frontend/src/pages/shared/data-type/data-type-header.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/shared/entity-type-header.tsx
  apps/hash-frontend/src/pages/shared/entity/entity-header.tsx
  apps/hash-frontend/src/pages/shared/slide-stack.tsx
  apps/hash-frontend/src/pages/shared/use-text-size.ts
  apps/hash-frontend/src/shared/use-scroll-lock.ts
Due: prettier

H-3961: Implement `CreateWeb` policy and enforce it (#6926)
  apps/hash-api/src/graph/account-permission-management.ts
  apps/hash-api/src/graph/knowledge/system-types/org.ts
  apps/hash-api/src/graph/system-account.ts
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/api/src/rest/actor.rs
  libs/@local/graph/authorization/src/policies/action/mod.rs
  libs/@local/graph/authorization/src/policies/store/error.rs
  libs/@local/graph/authorization/src/policies/store/mod.rs
  libs/@local/graph/postgres-store/postgres_migrations/V44__policies.sql
  libs/@local/graph/postgres-store/src/permissions/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/store/src/account/mod.rs
  libs/@local/graph/type-fetcher/src/store.rs
  tests/graph/http/tests/friendship.http
Due: prettier, sqlfluff, rust

feat: first version of unions and intersections
  libs/@local/hashql/core/src/type/kind/intersection.rs
  libs/@local/hashql/core/src/type/kind/union.rs
  libs/@local/hashql/core/src/type/lattice.rs
Due: rust

fix formatting
  apps/hash-frontend/src/pages/shared/url-input.tsx
Due: prettier

H-4419: Fix URL handling when editing users and orgs (#6975)
  apps/hash-frontend/src/components/hooks/use-update-authenticated-user.ts
  apps/hash-frontend/src/pages/@/[shortname].page/edit-user-profile-info-modal/user-profile-info-form.tsx
  apps/hash-frontend/src/pages/settings/organizations/shared/org-form.tsx
  apps/hash-frontend/src/pages/shared/url-input.tsx
Due: prettier

feat: inference variables are now associated to hole
  libs/@local/hashql/core/src/type/environment/context/substitution.rs
  libs/@local/hashql/core/src/type/infer.rs
  libs/@local/hashql/core/src/type/intern.rs
  libs/@local/hashql/core/src/type/kind/closure.rs
  libs/@local/hashql/core/src/type/kind/infer.rs
  libs/@local/hashql/core/src/type/kind/intersection.rs
  libs/@local/hashql/core/src/type/kind/intrinsic.rs
  libs/@local/hashql/core/src/type/kind/mod.rs
  libs/@local/hashql/core/src/type/kind/opaque.rs
  libs/@local/hashql/core/src/type/kind/struct.rs
  libs/@local/hashql/core/src/type/kind/tuple.rs
  libs/@local/hashql/core/src/type/kind/union.rs
  libs/@local/hashql/core/src/type/test.rs
Due: rust

feat: finish union
  libs/@local/hashql/core/src/type/kind/intersection.rs
  libs/@local/hashql/core/src/type/kind/intrinsic.rs
  libs/@local/hashql/core/src/type/kind/mod.rs
  libs/@local/hashql/core/src/type/kind/opaque.rs
  libs/@local/hashql/core/src/type/kind/union.rs
Due: rust

fix: type-defs build step
  libs/@local/graph/type-defs/build.rs
Due: rust
