Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    biome:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: biome format --write --staged || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: rustfmt {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: taplo format {staged_files} || true
      stage_fixed: true

Render experiments and studies through one shared ResultsView over a common view-model
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/experiment-results.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/experiment-results.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/view-experiment-drawer.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/view-experiment-drawer/experiment-metrics.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/view-experiment-drawer/experiment-stats.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/optimization-full-view.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/optimization-full-view.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/study-results.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/study-results.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/study-results/best-parameters.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/study-results/constraint-summary.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/study-results/continue-control.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/study-results/convergence.test.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/study-results/convergence.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/study-results/importance-view.test.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/study-results/importance-view.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/study-results/objective-history-chart.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/study-results/objective-history-data.test.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/study-results/objective-history-data.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/study-results/optimization-navigator.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/study-results/optimization-navigator.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/study-results/parameter-importance-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/study-results/shared/study-progress.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/study-results/steps-table.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/study-results/study-actions.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/study-results/study-header.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/study-results/study-header.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/study-results/study-phase.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/study-results/study-steps.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/study-view.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/study-view/navigator-band.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/study-view/optimization-metrics.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/study-view/study-stats.test.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/study-view/study-stats.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/view-optimization-drawer.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/view-optimization-drawer.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/shared/metric-tiles.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/shared/results.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/shared/results/results-model.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/shared/results/results-view.tsx
Due: biome

Size the Time column for a fractional readout and the compute badge for the strip
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/view-experiment-drawer/experiment-stats.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/shared/compute-backend-badge.tsx
Due: biome

Name the Sensitivity analysis card in the results view's comment and the architecture page
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/study-results.tsx
  libs/@local/petrinaut-arch-docs/content/ui/optimizations-tab.mdx
Due: biome

Lay the surface footer out as a grid with a reserved second row for the metric select
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/sweep-surface.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/shared/surface-frame.tsx
Due: biome

Describe the shared results view in the Optimizations tab architecture page
  .changeset/shared-results-view.md
  libs/@local/petrinaut-arch-docs/content/ui/optimizations-tab.mdx
Due: markdownlint, biome

Style the results cards after the Figma frames and fold the fixed parameters into a Parameters card
  libs/@hashintel/petrinaut/docs/experiments.md
  libs/@hashintel/petrinaut/docs/optimization.md
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/experiment-results.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/experiment-results.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/sweep-navigator.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/study-results.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/study-results.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/study-results/best-parameters.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/study-results/constraint-summary.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/study-results/optimization-navigator.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/study-results/parameter-importance-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/study-results/parameter-values.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/view-optimization-drawer.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/shared/chart-card.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/shared/chart-card.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/shared/drawer-frame.stories.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/shared/drawer-frame.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/shared/drawer-frame.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/shared/drawer-frame/frame-card.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/shared/drawer-frame/frame-columns.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/shared/drawer-frame/frame-header.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/shared/results/results-model.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/shared/results/results-view.tsx
  libs/@local/petrinaut-arch-docs/content/experiments/sweep-surface.mdx
  libs/@local/petrinaut-arch-docs/content/ui/optimizations-tab.mdx
Due: markdownlint, biome

Name the Sensitivity analysis card in the frame's comment and layout test
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/study-view.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/view-optimization-drawer.test.tsx
Due: biome

Space the frame header's title from its stat strip and wrap the strip when the header is narrow
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/view-experiment-drawer.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/optimization-full-view.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/view-optimization-drawer.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/shared/drawer-frame.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/shared/drawer-frame/frame-header.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/shared/drawer-frame/frame-layout-signature.ts
Due: biome

Compute a sweep only where it is selected, draw its visited points and let an optimizer evaluate trials through it
  libs/@hashintel/petrinaut/src/panda-preset.ts
  libs/@hashintel/petrinaut/src/react/experiments/context.ts
  libs/@hashintel/petrinaut/src/react/experiments/provider.tsx
  libs/@hashintel/petrinaut/src/react/experiments/provider/create-experiment.ts
  libs/@hashintel/petrinaut/src/react/experiments/provider/sweep-batch-instantiation.ts
  libs/@hashintel/petrinaut/src/react/experiments/provider/sweep-batch-instantiation/backend-lanes.ts
  libs/@hashintel/petrinaut/src/react/experiments/sweep-session.test.ts
  libs/@hashintel/petrinaut/src/react/experiments/sweep-session.ts
  libs/@hashintel/petrinaut/src/react/experiments/sweep-session/README.md
  libs/@hashintel/petrinaut/src/react/experiments/sweep-session/cell-batch.ts
  libs/@hashintel/petrinaut/src/react/optimizations/context.ts
  libs/@hashintel/petrinaut/src/react/optimizations/provider.tsx
  libs/@hashintel/petrinaut/src/react/optimizations/sweep-trial-evaluator.test.ts
  libs/@hashintel/petrinaut/src/react/optimizations/sweep-trial-evaluator.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/create-experiment-drawer.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/experiment-results.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/experiments-story-fixtures.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/sweep-surface.stories.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/sweep-surface.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/sweep-surface/visited-field.test.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/sweep-surface/visited-field.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/optimization-surface/surface-plot.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/optimizations-story-fixtures.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/optimizations-view.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/study-results.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/shared/chart-card.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/shared/drawer-frame/frame-card.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/shared/results/results-model.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/shared/results/results-view.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/shared/surface-field.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/shared/experiment-progress.test.ts
Due: markdownlint, biome

Refine the point a stopped study was trying and describe the idle sweep in the create drawer's note
  libs/@hashintel/petrinaut/docs/experiments.md
  libs/@hashintel/petrinaut/src/react/optimizations/sweep-evaluator/create-sweep-trial-evaluator.test.ts
  libs/@hashintel/petrinaut/src/react/optimizations/sweep-evaluator/create-sweep-trial-evaluator.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/create-experiment-drawer.tsx
  libs/@local/petrinaut-arch-docs/content/ui/optimizations-tab.mdx
Due: markdownlint, biome

Format the visited-field module
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/sweep-surface/visited-field.ts
Due: biome

Offer Optimize on a sweep's Parameters card, follow the study's steps in purple and document the idle sweep and its visited-point surface
  libs/@hashintel/petrinaut/docs/experiments.md
  libs/@hashintel/petrinaut/docs/optimization.md
  libs/@hashintel/petrinaut/src/react/optimizations/provider.tsx
  libs/@hashintel/petrinaut/src/react/optimizations/sweep-evaluator/create-sweep-trial-evaluator.test.ts
  libs/@hashintel/petrinaut/src/react/optimizations/sweep-evaluator/create-sweep-trial-evaluator.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/experiment-results.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/experiment-results.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/sweep-navigator.stories.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/sweep-navigator.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/sweep-optimize-control.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/sweep-optimizer.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/view-experiment-drawer.stories.tsx
  libs/@local/petrinaut-arch-docs/content/diagrams/sweep-orchestration.d2
  libs/@local/petrinaut-arch-docs/content/diagrams/sweep-surface-feed.d2
  libs/@local/petrinaut-arch-docs/content/experiments/parameter-sweeps.mdx
  libs/@local/petrinaut-arch-docs/content/experiments/sweep-orchestration.mdx
  libs/@local/petrinaut-arch-docs/content/experiments/sweep-surface.mdx
  libs/@local/petrinaut-arch-docs/content/ui/optimizations-tab.mdx
Due: markdownlint, biome

Stop Live on microphone loss and bound session uploads
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation.ts
  apps/petrinaut-website/src/server/voice/openai-live-session.test.ts
  apps/petrinaut-website/src/server/voice/openai-live-session.ts
Due: biome

Verify freshness mutations against the canonical contract
  apps/brunch-agent/src/conversation/net-freshness.ts
  apps/brunch-agent/test/net-freshness.test.ts
  libs/@hashintel/brunch-agent/SIDE_QUEST.md
Due: markdownlint, biome

Fix filter overflow
  libs/@hashintel/ds-components/src/components/Filter/filter.recipe.ts
  libs/@hashintel/ds-components/src/components/Filter/filter.stories.tsx
Due: biome

Reconcile freshness against admitted mutation batches
  apps/brunch-agent/src/conversation/net-freshness.ts
  apps/brunch-agent/test/net-freshness.test.ts
  libs/@hashintel/brunch-agent/SIDE_QUEST.md
Due: markdownlint, biome

Add sort menus to supplier table + update filter bar ui
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/dwell-table.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/opportunities-table.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/planning-table.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/shared/helpers.ts
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/shared/row-types.ts
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/shared/sort-menus.ts
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/shared/step-filter-bar.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/shared/table-styles.ts
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/shared/use-step-table-view.ts
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/supplier-table.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/trend-table.tsx
Due: biome

Authorize the Live Brunch integration experiment
  PR_DESCRIPTION.md
  apps/petrinaut-website/MISSION.md
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/MISSION.next.md
Due: markdownlint, biome

Integrate Live delivery with canonical Brunch turns
  PR_DESCRIPTION.md
  apps/petrinaut-website/MISSION.md
  apps/petrinaut-website/api/voice/transcription-session.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-brunch-bridge.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-brunch-bridge.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation-control.test.tsx
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation-control.tsx
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-control.tsx
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-disclosure.tsx
  apps/petrinaut-website/src/server/voice/openai-live-session.test.ts
  apps/petrinaut-website/src/server/voice/openai-live-session.ts
  apps/petrinaut-website/src/server/voice/openai-transcription-session.test.ts
  apps/petrinaut-website/src/server/voice/openai-transcription-session.ts
  apps/petrinaut-website/vite.config.ts
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/MISSION.next.md
Due: markdownlint, biome

Better filter button styles in suppy chain page
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/opportunities-table.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/shared/step-filter-bar.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/shared/table-styles.ts
Due: biome

Add align prop to sort-menu
  libs/@hashintel/ds-components/src/components/Filter/sort-menu.recipe.ts
  libs/@hashintel/ds-components/src/components/Filter/sort-menu.tsx
Due: biome

Adjust supply chain filter button size and alignment
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/dwell-table.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/opportunities-table.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/planning-table.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/shared/step-filter-bar.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/supplier-table.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/trend-table.tsx
Due: biome

Validate explicit model snapshots for AI requests
  .changeset/await-ai-diagnostics.md
  .changeset/snapshot-language-diagnostics.md
  apps/petrinaut-website/src/main/app/voice-interview/voice-browser-tools.integration.test.tsx
  libs/@hashintel/petrinaut-core/src/ai.ts
  libs/@hashintel/petrinaut-core/src/lsp/language-client.test.ts
  libs/@hashintel/petrinaut-core/src/lsp/language-client.ts
  libs/@hashintel/petrinaut-core/src/lsp/lib/check-snapshot.test.ts
  libs/@hashintel/petrinaut-core/src/lsp/lib/check-snapshot.ts
  libs/@hashintel/petrinaut-core/src/lsp/worker/language-server.worker.ts
  libs/@hashintel/petrinaut-core/src/lsp/worker/protocol.ts
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/src/react/lsp/context.ts
  libs/@hashintel/petrinaut/src/react/lsp/provider.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/create-experiment-drawer.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/metrics/create-metric-drawer.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/create-optimization-drawer.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/format-diagnostics-for-ai.test.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/format-diagnostics-for-ai.ts
  libs/@hashintel/petrinaut/vite.config.ts
  libs/@local/petrinaut-arch-docs/content/ai/snapshot-diagnostics.mdx
  libs/@local/petrinaut-arch-docs/content/diagrams/snapshot-diagnostics.d2
Due: markdownlint, biome

Expose a browser host for creating experiments
  .changeset/browser-experiment-host.md
  .changeset/typed-experiment-host.md
  libs/@hashintel/petrinaut-core/src/ai.ts
  libs/@hashintel/petrinaut-core/src/ai/experiments.test.ts
  libs/@hashintel/petrinaut-core/src/ai/experiments.ts
  libs/@hashintel/petrinaut-core/src/index.ts
  libs/@hashintel/petrinaut/docs/experiments.md
  libs/@hashintel/petrinaut/src/react/ai-experiments/context.ts
  libs/@hashintel/petrinaut/src/react/ai-experiments/prepare-experiment.test.ts
  libs/@hashintel/petrinaut/src/react/ai-experiments/prepare-experiment.ts
  libs/@hashintel/petrinaut/src/react/ai-experiments/provider.tsx
  libs/@hashintel/petrinaut/src/react/ai-experiments/run-experiment.test.ts
  libs/@hashintel/petrinaut/src/react/ai-experiments/run-experiment.ts
  libs/@hashintel/petrinaut/src/react/experiments/context.ts
  libs/@hashintel/petrinaut/src/react/experiments/provider.test.tsx
  libs/@hashintel/petrinaut/src/react/experiments/provider.tsx
  libs/@hashintel/petrinaut/src/react/experiments/sweep-session.test.ts
  libs/@hashintel/petrinaut/src/react/experiments/sweep-session.ts
  libs/@hashintel/petrinaut/src/react/index.ts
  libs/@hashintel/petrinaut/src/react/optimizations/context.ts
  libs/@hashintel/petrinaut/src/react/optimizations/provider.tsx
  libs/@hashintel/petrinaut/src/react/optimizations/sweep-evaluator/create-sweep-trial-evaluator.test.ts
  libs/@hashintel/petrinaut/src/react/optimizations/sweep-evaluator/create-sweep-trial-evaluator.ts
  libs/@hashintel/petrinaut/src/react/petrinaut-provider.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/experiment-results.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/sweep-navigator.tsx
  libs/@local/petrinaut-arch-docs/content/diagrams/ai-experiments-architecture.d2
  libs/@local/petrinaut-arch-docs/content/diagrams/ai-experiments-flow.d2
  libs/@local/petrinaut-arch-docs/content/experiments/ai-created-experiments.mdx
Due: markdownlint, biome

Keep viewport controls above the collapsed Voice dock
  .changeset/tidy-voice-dock.md
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/src/react/hooks/use-petrinaut-commands.test.tsx
  libs/@hashintel/petrinaut/src/react/hooks/use-petrinaut-mutations.test.tsx
  libs/@hashintel/petrinaut/src/react/state/editor-context.ts
  libs/@hashintel/petrinaut/src/react/state/editor-provider.tsx
  libs/@hashintel/petrinaut/src/ui/hooks/use-canvas-insets.test.ts
  libs/@hashintel/petrinaut/src/ui/hooks/use-canvas-insets.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/experiments-story-fixtures.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/components/viewport-controls.tsx
Due: markdownlint, biome

Add number input keypress help tooltip
  libs/@hashintel/ds-components/src/components/Filter/filter-group.recipe.ts
  libs/@hashintel/ds-components/src/components/Filter/filter-keypress-hint.tsx
  libs/@hashintel/ds-components/src/components/Filter/filter.recipe.ts
  libs/@hashintel/ds-components/src/components/Filter/filter.tsx
Due: biome

Only show filter clear button if more than one filter
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/shared/step-filter-bar.tsx
Due: biome

Run experiments from Petrinaut AI chat
  .changeset/experiment-ai-tool.md
  .changeset/small-experiments-chat.md
  libs/@hashintel/petrinaut-core/src/ai.ts
  libs/@hashintel/petrinaut-core/src/index.ts
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/docs/experiments.md
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/README.md
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/experiment-card.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/experiment-card.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/get-message-render-items.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/format-diagnostics-for-ai.test.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/format-diagnostics-for-ai.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/types.ts
  libs/@local/petrinaut-arch-docs/content/ai/experiment-chat.mdx
  libs/@local/petrinaut-arch-docs/content/diagrams/ai-experiment-chat.d2
  libs/@local/petrinaut-arch-docs/content/experiments/ai-created-experiments.mdx
Due: markdownlint, biome

Demonstrate AI experiment and optimization integration
  apps/petrinaut-website/src/main/app/ai-experiments-demo/README.md
  apps/petrinaut-website/src/main/app/ai-experiments-demo/ai-experiments-demo.tsx
  apps/petrinaut-website/src/main/app/ai-experiments-demo/create-experiment-demo-transport.test.ts
  apps/petrinaut-website/src/main/app/ai-experiments-demo/create-experiment-demo-transport.ts
  apps/petrinaut-website/src/routes/ai-experiments.tsx
  libs/@local/petrinaut-arch-docs/content/ai/client-integration.mdx
  libs/@local/petrinaut-arch-docs/content/diagrams/ai-client-integration.d2
  libs/@local/petrinaut-arch-docs/content/experiments/ai-created-experiments.mdx
Due: markdownlint, biome

Share Petrinaut snapshots through self-contained URLs
  .changeset/snapshot-sharing-doc-catalog.md
  .changeset/snapshot-sharing-guide.md
  apps/petrinaut-website/README.md
  apps/petrinaut-website/package.json
  apps/petrinaut-website/src/examples/full-example-page.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/src/main/app/readonly-document-page.tsx
  apps/petrinaut-website/src/routes/-share.test.tsx
  apps/petrinaut-website/src/routes/share.tsx
  apps/petrinaut-website/src/sentry/instrument.ts
  apps/petrinaut-website/src/sentry/strip-snapshot-links.test.ts
  apps/petrinaut-website/src/sentry/strip-snapshot-links.ts
  apps/petrinaut-website/src/sharing/share-snapshot-button.test.tsx
  apps/petrinaut-website/src/sharing/share-snapshot-button.tsx
  apps/petrinaut-website/src/sharing/snapshot-client.test.ts
  apps/petrinaut-website/src/sharing/snapshot-client.ts
  apps/petrinaut-website/src/sharing/snapshot-codec.ts
  apps/petrinaut-website/src/sharing/snapshot-worker-protocol.ts
  apps/petrinaut-website/src/sharing/snapshot-worker.ts
  apps/petrinaut-website/src/sharing/snapshot.test.ts
  apps/petrinaut-website/src/sharing/snapshot.ts
  libs/@hashintel/petrinaut-core/src/ai.ts
  libs/@hashintel/petrinaut/docs/README.md
  libs/@hashintel/petrinaut/docs/sharing.md
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/petrinaut-docs-content.ts
  yarn.lock
Due: markdownlint, biome, yarn

FE-1588: Highlight the canvas neighbourhood in colour instead of fading the net (#9591)
  .changeset/canvas-neighbourhood-highlight.md
  libs/@hashintel/petrinaut/docs/drawing-a-net.md
  libs/@hashintel/petrinaut/src/react/hooks/use-petrinaut-commands.test.tsx
  libs/@hashintel/petrinaut/src/react/hooks/use-petrinaut-mutations.test.tsx
  libs/@hashintel/petrinaut/src/react/state/editor-context.ts
  libs/@hashintel/petrinaut/src/react/state/editor-provider.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/experiments-story-fixtures.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/canvas-focus.test.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/canvas-focus.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/canvas-scene.test.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/canvas-scene.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/arc.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/classic-place-node.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/classic-transition-node.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/component-instance-node.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/mini-map.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/node-card.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/place-node.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/react-flow-types.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/transition-node.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/use-react-flow-elements.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/styles/focus.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/styles/styling.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/use-canvas-scene.ts
Due: markdownlint, biome

FE-1588: Re-render only what a hover touches on the canvas (#9576)
  .changeset/canvas-hover-identity.md
  libs/@hashintel/petrinaut/docs/drawing-a-net.md
  libs/@hashintel/petrinaut/docs/visual-settings.md
  libs/@hashintel/petrinaut/src/react/state/user-settings-context.ts
  libs/@hashintel/petrinaut/src/react/state/user-settings-provider.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/create-experiment-drawer.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/canvas-focus.test.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/canvas-focus.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/canvas-scene.test.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/canvas-scene.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/components/viewport-settings-dialog.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/hooks/util/use-pointer-at-rest.test.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/hooks/util/use-pointer-at-rest.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/arc.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/classic-place-node.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/mini-map.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/place-node.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/react-flow-types.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/use-react-flow-elements.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/sdcpn-view.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/styles/focus.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/use-canvas-scene.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/use-stable-items.test.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/use-stable-items.ts
Due: markdownlint, biome

FE-1634: Deliver per-frame canvas values by subscription, and index the net (#9592)
  .changeset/canvas-frame-subscription.md
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/canvas-focus.test.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/canvas-focus.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/canvas-frame-store.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/canvas-frame-store.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/canvas-scene.test.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/arc.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/classic-place-node.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/classic-transition-node.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/place-node.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/react-flow-types.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/transition-node.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/use-react-flow-elements.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/sdcpn-view.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/use-canvas-scene.ts
Due: markdownlint, biome

FE-1671: Animate a firing only where it can be seen (#9655)
  .changeset/canvas-firing-animation-budget.md
  libs/@hashintel/petrinaut/docs/simulation.md
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/arc.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/classic-transition-node.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/firing-animation-visibility.test.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/firing-animation-visibility.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/transition-node.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/use-transition-firing-animation.ts
Due: markdownlint, biome

FE-1672: Hold the simulation timeline still while it is off screen (#9656)
  .changeset/timeline-holds-still-off-screen.md
  libs/@hashintel/petrinaut/docs/simulation.md
  libs/@hashintel/petrinaut/src/react/hooks/use-element-on-screen.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/simulation-timeline/actual.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/simulation-timeline/chart-data.test.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/simulation-timeline/chart-data.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/simulation-timeline/chart.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/simulation-timeline/content.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/simulation-timeline/use-streaming-data.ts
Due: markdownlint, biome

Reconcile mutation records with complete batch output
  apps/brunch-agent/src/conversation/net-freshness.ts
  apps/brunch-agent/src/conversation/root-arc.ts
  apps/brunch-agent/src/conversation/why.ts
  apps/brunch-agent/test/net-freshness.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/mutate-petrinet-tool.ts
  libs/@hashintel/brunch-agent/SIDE_QUEST.md
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/index.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/mutate-petrinet.ts
Due: markdownlint, biome

Better sort menu icon alignment
  libs/@hashintel/ds-components/src/components/Filter/sort-menu.recipe.ts
  libs/@hashintel/ds-components/src/components/Filter/sort-menu.stories.tsx
  libs/@hashintel/ds-components/src/components/Filter/sort-menu.tsx
Due: biome
