Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

markdownlint:
  tags:
  - frontend
  - style
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

biome:
  tags:
  - frontend
  - style
  run: biome format --write --staged || true
  stage_fixed: true

yarn:
  tags:
  - frontend
  - style
  run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
  stage_fixed: true

sqlfluff:
  tags:
  - backend
  - style
  run: sqlfluff fix {staged_files} || true
  stage_fixed: true

rust:
  tags:
  - backend
  - style
  run: rustfmt {staged_files} || true
  stage_fixed: true

toml:
  tags:
  - backend
  - style
  run: taplo format {staged_files} || true
  stage_fixed: true

Show status badges and label tinting on component-instance nodes
  libs/@hashintel/petrinaut-core/src/simulation/frames/hir-status-view.ts
  libs/@hashintel/petrinaut-core/src/simulation/status-views.test.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/components/component-instance-node.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/hooks/use-sdcpn-to-react-flow.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/hooks/use-status-view-node-statuses.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/hooks/use-status-view-node-statuses.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/reactflow-types.ts
Due: biome

Record token values on actual-mode transition firings
  apps/petrinaut-website/src/main/app/brunch-demo/brunch-frame-parsers.ts
  libs/@hashintel/petrinaut-core/src/actual-mode/README.md
  libs/@hashintel/petrinaut-core/src/actual-mode/actual-mode.test.ts
  libs/@hashintel/petrinaut-core/src/actual-mode/constants.ts
  libs/@hashintel/petrinaut-core/src/actual-mode/index.ts
  libs/@hashintel/petrinaut-core/src/actual-mode/marking.ts
  libs/@hashintel/petrinaut-core/src/actual-mode/schemas.ts
  libs/@hashintel/petrinaut-core/src/actual-mode/timeline.ts
  libs/@hashintel/petrinaut-core/src/actual-mode/types.ts
  libs/@hashintel/petrinaut-core/src/index.ts
Due: markdownlint, biome

Add a status views authoring panel to the simulate view
  libs/@hashintel/petrinaut/src/react/navigation/index.tsx
  libs/@hashintel/petrinaut/src/react/state/editor-context.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/type-properties/subviews/main.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/simulate-view.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/status-views/create-status-view-drawer.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/status-views/status-view-form-defaults.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/status-views/status-view-form.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/status-views/status-view-lsp.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/status-views/status-view-mapping.test.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/status-views/status-view-mapping.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/status-views/status-view-place-options.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/status-views/status-views-view.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/status-views/view-status-view-drawer.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/shared/color-select.tsx
Due: biome

Add identities to the SDCPN and identityRef key markers on colour elements
  libs/@hashintel/petrinaut-core/src/action-schemas.ts
  libs/@hashintel/petrinaut-core/src/actions.test.ts
  libs/@hashintel/petrinaut-core/src/actions.ts
  libs/@hashintel/petrinaut-core/src/ai.ts
  libs/@hashintel/petrinaut-core/src/extensions.ts
  libs/@hashintel/petrinaut-core/src/file-format/serialize-sdcpn.test.ts
  libs/@hashintel/petrinaut-core/src/file-format/serialize-sdcpn.ts
  libs/@hashintel/petrinaut-core/src/file-format/types.ts
  libs/@hashintel/petrinaut-core/src/index.ts
  libs/@hashintel/petrinaut-core/src/optimization.test.ts
  libs/@hashintel/petrinaut-core/src/schemas/entity-schemas.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/flatten-component-instances.ts
  libs/@hashintel/petrinaut-core/src/types/sdcpn.ts
  libs/@hashintel/petrinaut/src/react/hooks/use-petrinaut-mutations.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/type-properties/subviews/main.tsx
Due: biome

Derive per-instance status and time-in-state from execution frames
  libs/@hashintel/petrinaut-core/src/hir.ts
  libs/@hashintel/petrinaut-core/src/hir/compile.ts
  libs/@hashintel/petrinaut-core/src/hir/hir.ts
  libs/@hashintel/petrinaut-core/src/hir/instantiate.ts
  libs/@hashintel/petrinaut-core/src/hir/interpret.ts
  libs/@hashintel/petrinaut-core/src/hir/lint.ts
  libs/@hashintel/petrinaut-core/src/hir/lower-typescript.ts
  libs/@hashintel/petrinaut-core/src/hir/surface-context.ts
  libs/@hashintel/petrinaut-core/src/hir/typecheck.ts
  libs/@hashintel/petrinaut-core/src/index.ts
  libs/@hashintel/petrinaut-core/src/simulation/frames/hir-status-view.ts
  libs/@hashintel/petrinaut-core/src/simulation/status-views.test.ts
  libs/@hashintel/petrinaut-core/src/simulation/status-views.ts
  libs/@hashintel/petrinaut/src/react/lsp/context.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/metrics/create-metric-drawer.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/create-optimization-drawer.test.tsx
Due: biome

Add ticket-processing example and status views to two existing examples
  libs/@hashintel/petrinaut-core/src/examples/deployment-pipeline.ts
  libs/@hashintel/petrinaut-core/src/examples/examples.test.ts
  libs/@hashintel/petrinaut-core/src/examples/index.ts
  libs/@hashintel/petrinaut-core/src/examples/production-with-machine-failure.ts
  libs/@hashintel/petrinaut-core/src/examples/ticket-processing.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view.tsx
Due: biome

Add a Kanban board toggle and status timing surfaces
  libs/@hashintel/petrinaut-core/src/ai.ts
  libs/@hashintel/petrinaut-core/src/simulation/status-views.ts
  libs/@hashintel/petrinaut/docs/README.md
  libs/@hashintel/petrinaut/docs/status-views.md
  libs/@hashintel/petrinaut/src/react/hooks/use-petrinaut-commands.test.tsx
  libs/@hashintel/petrinaut/src/react/hooks/use-petrinaut-mutations.test.tsx
  libs/@hashintel/petrinaut/src/react/state/editor-context.ts
  libs/@hashintel/petrinaut/src/react/state/editor-provider.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/actual-events.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/actual-events/derive-status-changes.test.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/actual-events/derive-status-changes.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/experiments-story-fixtures.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/petrinaut-docs-content.ts
  libs/@hashintel/petrinaut/src/ui/views/Kanban/kanban-view.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/hooks/use-status-view-node-statuses.ts
  libs/@hashintel/petrinaut/src/ui/views/shared/status-view-tracking.ts
Due: markdownlint, biome

Make actual-mode token replay honor firing counts and never drop the wrong token
  libs/@hashintel/petrinaut-core/src/actual-mode/README.md
  libs/@hashintel/petrinaut-core/src/actual-mode/actual-mode.test.ts
  libs/@hashintel/petrinaut-core/src/actual-mode/marking.ts
Due: markdownlint, biome

Fix machine-fleet identity keys and the stranded Kanban view mode
  libs/@hashintel/petrinaut-core/src/examples/production-with-machine-failure.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view.tsx
Due: biome

Keep the Kanban board clear of the editor's overlay panels
  libs/@hashintel/petrinaut/src/ui/views/Kanban/kanban-view.tsx
  libs/@hashintel/petrinaut/src/ui/views/Kanban/kanban-view/board-insets.test.ts
  libs/@hashintel/petrinaut/src/ui/views/Kanban/kanban-view/board-insets.ts
Due: biome

Split the status-views changeset per package
  .changeset/status-views-core.md
  .changeset/status-views-ui.md
  .changeset/status-views.md
Due: markdownlint, biome

Fail closed on broken status conditions and validate status-view references
  libs/@hashintel/petrinaut-core/src/actions.test.ts
  libs/@hashintel/petrinaut-core/src/actions.ts
  libs/@hashintel/petrinaut-core/src/file-format/parse-sdcpn-file.test.ts
  libs/@hashintel/petrinaut-core/src/file-format/types.ts
  libs/@hashintel/petrinaut-core/src/hir/interpret.ts
  libs/@hashintel/petrinaut-core/src/hir/surface-context.ts
  libs/@hashintel/petrinaut-core/src/index.ts
  libs/@hashintel/petrinaut-core/src/schemas/status-view-schema.ts
  libs/@hashintel/petrinaut-core/src/scoped-ids.test.ts
  libs/@hashintel/petrinaut-core/src/scoped-ids.ts
  libs/@hashintel/petrinaut-core/src/simulation/frames/hir-status-view.ts
  libs/@hashintel/petrinaut-core/src/simulation/status-views.test.ts
  libs/@hashintel/petrinaut-core/src/simulation/status-views.ts
  libs/@hashintel/petrinaut-core/src/status-view-scope.test.ts
  libs/@hashintel/petrinaut-core/src/status-view-scope.ts
Due: biome

Keep dangling-place wording timeless
  libs/@hashintel/petrinaut-core/src/status-view-scope.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/status-views/status-view-form.tsx
Due: biome

Surface status-view failures in the UI and share one condition-compile pipeline
  libs/@hashintel/petrinaut/docs/status-views.md
  libs/@hashintel/petrinaut/src/react/petrinaut-provider.tsx
  libs/@hashintel/petrinaut/src/react/status-condition-artifacts.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/type-properties/subviews/main.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/status-views/create-status-view-drawer.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/status-views/status-view-form-defaults.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/status-views/status-view-form.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/status-views/status-view-place-options.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/status-views/view-status-view-drawer.tsx
  libs/@hashintel/petrinaut/src/ui/views/Kanban/kanban-view.tsx
  libs/@hashintel/petrinaut/src/ui/views/Kanban/kanban-view/board-replay.test.ts
  libs/@hashintel/petrinaut/src/ui/views/Kanban/kanban-view/board-replay.ts
  libs/@hashintel/petrinaut/src/ui/views/README.md
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/hooks/use-status-view-node-statuses.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/hooks/use-status-view-node-statuses.ts
  libs/@hashintel/petrinaut/src/ui/views/shared/format-dwell.ts
  libs/@hashintel/petrinaut/src/ui/views/shared/status-view-tracking.ts
Due: markdownlint, biome

Drive the events status column with the shared evaluator and end replay quadratics
  libs/@hashintel/petrinaut-core/src/actual-mode/timeline.ts
  libs/@hashintel/petrinaut-core/src/index.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/flatten-component-instances.ts
  libs/@hashintel/petrinaut-core/src/simulation/status-views.ts
  libs/@hashintel/petrinaut/src/react/execution-frame/provider.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/actual-events.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/actual-events/derive-status-changes.test.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/actual-events/derive-status-changes.ts
Due: biome

Keep identities and status views when normalizing an SDCPN input
  libs/@hashintel/petrinaut-core/src/handle/json-doc-handle/create-json-doc-handle.test.ts
  libs/@hashintel/petrinaut-core/src/types/sdcpn-input.test.ts
  libs/@hashintel/petrinaut-core/src/types/sdcpn-input.ts
Due: biome

Cover validateStatusViewCompiles with unit tests
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/status-views/status-view-lsp.test.ts
Due: biome

Polish Kanban cards and columns and deselect on board click
  libs/@hashintel/petrinaut/src/ui/views/Kanban/kanban-view.tsx
Due: biome

Give example tickets and deployments human-readable ids
  libs/@hashintel/petrinaut-core/src/examples/deployment-pipeline.ts
  libs/@hashintel/petrinaut-core/src/examples/ticket-processing.ts
  libs/@hashintel/petrinaut/docs/examples.md
Due: markdownlint, biome

FE-1559: Adopt the worksheet focus layer in the Simulate view tables (#9446)
  libs/@hashintel/petrinaut/docs/experiments.md
  libs/@hashintel/petrinaut/docs/scenarios.md
  libs/@hashintel/petrinaut/src/ui/components/table.test.tsx
  libs/@hashintel/petrinaut/src/ui/components/table.tsx
  libs/@local/petrinaut-arch-docs/content/ui/worksheet.mdx
Due: markdownlint, biome

Document compact Voice consent card
  docs/superpowers/specs/2026-09-04-voice-consent-compact-card-design.md
Due: markdownlint, biome

Make Voice launcher test CI-hermetic
  apps/brunch-agent/petrinaut-local.vite.config.ts
  apps/brunch-agent/test/local-dev-origins.test.ts
Due: biome

Cover description and metadata in normalizeSDCPN and update the GPU example matrix
  libs/@hashintel/petrinaut-core/src/types/sdcpn-input.test.ts
  libs/@hashintel/petrinaut-core/src/webgpu/compilation-report.test.ts
Due: biome

Plan compact Voice consent card
  docs/superpowers/plans/2026-09-04-voice-consent-compact-card.md
Due: markdownlint, biome

Polish Voice consent setup
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-control.test.tsx
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-control.tsx
Due: biome

Handle unavailable microphone checks
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-control.test.tsx
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-control.tsx
Due: biome

Fix Voice verification errors
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-control.test.tsx
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-control.tsx
Due: biome

Fit the description textarea to its content on mount
  libs/@hashintel/petrinaut/src/ui/components/description-field.tsx
Due: biome

Format Voice consent implementation plan
  docs/superpowers/plans/2026-09-04-voice-consent-compact-card.md
Due: markdownlint, biome

Remove compact Voice planning artifacts
  docs/superpowers/plans/2026-09-04-voice-consent-compact-card.md
  docs/superpowers/specs/2026-09-04-voice-consent-compact-card-design.md
Due: markdownlint, biome

Ride the bottom panel on one composited transform
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/bottom-bar.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/collapsible-group.tsx
Due: biome

Stop the bottom toolbar drifting into place
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/bottom-bar.tsx
Due: biome

Keep the bottom toolbar clear of the side panels and viewport controls
  .changeset/bottom-bar-panel-clearance.md
  libs/@hashintel/petrinaut/docs/drawing-a-net.md
  libs/@hashintel/petrinaut/docs/simulation.md
  libs/@hashintel/petrinaut/src/ui/constants/ui.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/bottom-bar-placement.test.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/bottom-bar-placement.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/bottom-bar.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/collapse-context.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/collapsible-group.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/simulation-controls.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/toolbar-modes.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/use-element-width.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/components/viewport-controls.tsx
Due: markdownlint, biome

Pin the collapsible-group width reporter's identity
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/bottom-bar.tsx
Due: biome

Keep the Optuna study alive across segments and run trials in parallel
  libs/@local/petrinaut-optimizer-core/README.md
  libs/@local/petrinaut-optimizer-core/src/petrinaut_optimizer_core/__init__.py
  libs/@local/petrinaut-optimizer-core/src/petrinaut_optimizer_core/ask_tell.py
  libs/@local/petrinaut-optimizer-core/src/petrinaut_optimizer_core/pyodide_entry.py
  libs/@local/petrinaut-optimizer-core/src/petrinaut_optimizer_core/study.py
  libs/@local/petrinaut-optimizer-core/tests/test_ask_tell.py
  libs/@local/petrinaut-optimizer-core/tests/test_pyodide_entry.py
  libs/@local/petrinaut-optimizer-core/tests/test_study.py
Due: markdownlint, biome

Check in the optimizer core library's turbo task dependencies
  apps/petrinaut-opt/docs/task-dependencies.json
  libs/@local/petrinaut-optimizer-core/docs/task-dependencies.json
Due: biome

Scale the TPE start-up trials to the study's step count
  libs/@local/petrinaut-optimizer-core/src/petrinaut_optimizer_core/__init__.py
  libs/@local/petrinaut-optimizer-core/src/petrinaut_optimizer_core/study.py
  libs/@local/petrinaut-optimizer-core/tests/test_study.py
Due: none

Add an in-browser optimization runtime to petrinaut-core
  .changeset/browser-optimization-runtime.md
  libs/@hashintel/petrinaut-cli/src/runtime/optimization.ts
  libs/@hashintel/petrinaut-core/.oxlintrc.json
  libs/@hashintel/petrinaut-core/package.json
  libs/@hashintel/petrinaut-core/src/browser-optimization.ts
  libs/@hashintel/petrinaut-core/src/browser-optimization/browser-optimization.test.ts
  libs/@hashintel/petrinaut-core/src/browser-optimization/browser-optimization.ts
  libs/@hashintel/petrinaut-core/src/browser-optimization/create-optimizer-worker.ts
  libs/@hashintel/petrinaut-core/src/browser-optimization/messages.ts
  libs/@hashintel/petrinaut-core/src/browser-optimization/optimizer.worker.ts
  libs/@hashintel/petrinaut-core/src/browser-optimization/pyodide-config.test.ts
  libs/@hashintel/petrinaut-core/src/browser-optimization/pyodide-config.ts
  libs/@hashintel/petrinaut-core/src/browser-optimization/pyodide-like.ts
  libs/@hashintel/petrinaut-core/src/browser-optimization/python-sources.ts
  libs/@hashintel/petrinaut-core/src/browser-optimization/run-log.test.ts
  libs/@hashintel/petrinaut-core/src/browser-optimization/run-log.ts
  libs/@hashintel/petrinaut-core/src/browser-optimization/study-runner.pyodide.test.ts
  libs/@hashintel/petrinaut-core/src/browser-optimization/study-runner.ts
  libs/@hashintel/petrinaut-core/src/environment.ts
  libs/@hashintel/petrinaut-core/src/optimization.ts
  libs/@hashintel/petrinaut-core/src/optimization/describe.test.ts
  libs/@hashintel/petrinaut-core/src/optimization/describe.ts
  libs/@hashintel/petrinaut-core/src/shared/optimization-manifest.fixtures.ts
  libs/@hashintel/petrinaut-core/src/vite-types.d.ts
  libs/@hashintel/petrinaut-core/src/workers/README.md
  libs/@hashintel/petrinaut-core/src/workers/optimizer.ts
  libs/@hashintel/petrinaut-core/vite.config.ts
  yarn.lock
Due: markdownlint, biome, yarn

Extend, release and parallelise browser optimization runs
  .changeset/browser-optimization-runtime.md
  libs/@hashintel/petrinaut-core/src/browser-optimization.ts
  libs/@hashintel/petrinaut-core/src/browser-optimization/browser-optimization.test.ts
  libs/@hashintel/petrinaut-core/src/browser-optimization/browser-optimization.ts
  libs/@hashintel/petrinaut-core/src/browser-optimization/messages.ts
  libs/@hashintel/petrinaut-core/src/browser-optimization/optimizer.worker.ts
  libs/@hashintel/petrinaut-core/src/browser-optimization/run-log.test.ts
  libs/@hashintel/petrinaut-core/src/browser-optimization/run-log.ts
  libs/@hashintel/petrinaut-core/src/browser-optimization/study-runner.pyodide.test.ts
  libs/@hashintel/petrinaut-core/src/browser-optimization/study-runner.ts
  libs/@hashintel/petrinaut-core/src/optimization.ts
  libs/@hashintel/petrinaut-core/src/workers/optimizer.ts
Due: markdownlint, biome

Share the optimizer's Optuna study logic in a pure Python core library
  .github/workflows/deploy.yml
  apps/petrinaut-opt/AGENTS.md
  apps/petrinaut-opt/README.md
  apps/petrinaut-opt/docker/Dockerfile
  apps/petrinaut-opt/package.json
  apps/petrinaut-opt/src/petrinaut_optimizer.py
  apps/petrinaut-opt/tests/test_petrinaut_optimizer.py
  apps/petrinaut-opt/turbo.json
  apps/petrinaut-opt/uv.lock
  libs/@local/petrinaut-arch-docs/architecture.config.ts
  libs/@local/petrinaut-optimizer-core/AGENTS.md
  libs/@local/petrinaut-optimizer-core/CLAUDE.md
  libs/@local/petrinaut-optimizer-core/LICENSE-APACHE.md
  libs/@local/petrinaut-optimizer-core/LICENSE-MIT.md
  libs/@local/petrinaut-optimizer-core/LICENSE.md
  libs/@local/petrinaut-optimizer-core/README.md
  libs/@local/petrinaut-optimizer-core/package.json
  libs/@local/petrinaut-optimizer-core/pyproject.toml
  libs/@local/petrinaut-optimizer-core/runtime-lock.json
  libs/@local/petrinaut-optimizer-core/src/petrinaut_optimizer_core/__init__.py
  libs/@local/petrinaut-optimizer-core/src/petrinaut_optimizer_core/ask_tell.py
  libs/@local/petrinaut-optimizer-core/src/petrinaut_optimizer_core/description.py
  libs/@local/petrinaut-optimizer-core/src/petrinaut_optimizer_core/py.typed
  libs/@local/petrinaut-optimizer-core/src/petrinaut_optimizer_core/pyodide_entry.py
  libs/@local/petrinaut-optimizer-core/src/petrinaut_optimizer_core/study.py
  libs/@local/petrinaut-optimizer-core/tests/__init__.py
  libs/@local/petrinaut-optimizer-core/tests/conftest.py
  libs/@local/petrinaut-optimizer-core/tests/test_ask_tell.py
  libs/@local/petrinaut-optimizer-core/tests/test_description.py
  libs/@local/petrinaut-optimizer-core/tests/test_pyodide_entry.py
  libs/@local/petrinaut-optimizer-core/tests/test_runtime_lock.py
  libs/@local/petrinaut-optimizer-core/tests/test_study.py
  libs/@local/petrinaut-optimizer-core/uv.lock
  yarn.lock
Due: markdownlint, biome, yarn, toml

Path conditions:
  markdownlint: any of: *.md
  biome: any of: *.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}
  yarn: any of: {*/package.json, package.json}
  sqlfluff: any of: *.sql
  rust: any of: *.rs
  toml: any of: *.toml
