Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    biome:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: biome format --write --staged || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: rustfmt {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: taplo format {staged_files} || true
      stage_fixed: true

feat: extract authorization tests to dedicated module
  libs/@local/graph/atlas/src/api/authorization/mod.rs
  libs/@local/graph/atlas/src/api/edges.rs
  libs/@local/graph/atlas/src/api/tile.rs
  libs/@local/graph/atlas/src/api/translate.rs
  libs/@local/graph/atlas/src/integrity/hash.rs
  libs/@local/graph/atlas/src/integrity/hex.rs
  libs/@local/graph/atlas/src/offload.rs
  libs/@local/graph/atlas/src/serve2/mod.rs
  libs/@local/graph/atlas/src/serve2/runtime/manager/slot.rs
  libs/@local/graph/atlas/src/serve2/runtime/manager/source.rs
  libs/@local/graph/atlas/src/serve2/runtime/manager/tests.rs
  libs/@local/graph/atlas/src/serve2/runtime/mod.rs
  libs/@local/graph/atlas/src/serve2/runtime/tests.rs
  libs/@local/graph/atlas/src/serve2/visibility/cache/filter.rs
Due: rust

test: add authorization extractors integration tests
  libs/@local/graph/atlas/src/offload.rs
  libs/@local/graph/atlas/src/serve2/runtime/manager/mod.rs
  libs/@local/graph/atlas/src/serve2/runtime/manager/slot.rs
  libs/@local/graph/atlas/src/serve2/runtime/manager/tests.rs
  libs/@local/graph/atlas/src/serve2/runtime/mod.rs
Due: rust

feat: atlas generation maintenance with async startup
  apps/hash-graph/src/subcommand/atlas.rs
  libs/@local/graph/atlas/src/cli/mod.rs
  libs/@local/graph/atlas/src/lib.rs
  libs/@local/graph/atlas/tests/route_fixture.rs
Due: rust

feat: add authorization extraction tests with token lifecycle
  libs/@local/graph/atlas/src/api/authorization/tests.rs
Due: rust

test: add atlas hydrate statement snapshots
  libs/@local/graph/atlas/src/serve2/hydrate/snapshots/hash_graph_atlas__serve2__hydrate__statements__tests__bare_detail_statement_text.snap
  libs/@local/graph/atlas/src/serve2/hydrate/snapshots/hash_graph_atlas__serve2__hydrate__statements__tests__masked_detail_statement_text.snap
  libs/@local/graph/atlas/src/serve2/hydrate/snapshots/hash_graph_atlas__serve2__hydrate__statements__tests__type_urls_statement_text.snap
  libs/@local/graph/atlas/src/serve2/hydrate/snapshots/hash_graph_atlas__serve2__hydrate__statements__tests__types_statement_text.snap
Due: none

fix: reorder atlas layers for correct extension dependency
  libs/@local/graph/atlas/src/cli/serve/mod.rs
  libs/@local/graph/atlas/src/cli/serve/tests.rs
Due: rust

chore: relocate RefreshClaim before CacheEntry
  libs/@local/graph/atlas/src/serve/visibility/cache/mod.rs
  libs/@local/graph/atlas/src/serve/visibility/resolver/mod.rs
Due: rust

chore: restrict internal atlas visibility and add validation
  libs/@local/graph/atlas/src/dataset/auxiliary.rs
  libs/@local/graph/atlas/src/file/generation/error.rs
  libs/@local/graph/atlas/src/file/generation/mod.rs
  libs/@local/graph/atlas/src/integrity/hash.rs
  libs/@local/graph/atlas/src/morton/mod.rs
  libs/@local/graph/atlas/src/postgres/id.rs
  libs/@local/graph/atlas/src/salt/adjacency/mod.rs
  libs/@local/graph/atlas/src/serve/delta/importance/tests.rs
  libs/@local/graph/atlas/src/serve/delta/overlay/mod.rs
  libs/@local/graph/atlas/src/serve/delta/overlay/tests.rs
  libs/@local/graph/atlas/src/serve/world/encoding.rs
  libs/@local/graph/atlas/src/serve/world/error.rs
  libs/@local/graph/atlas/src/serve/world/layout.rs
  libs/@local/graph/atlas/src/serve/world/node_index.rs
Due: rust

feat: add mutable transparent cast for NaiveIdentityProvider
  libs/@local/graph/atlas/src/salt/adjacency/tests.rs
  libs/@local/graph/atlas/src/serve/delta/overlay/mod.rs
  libs/@local/graph/atlas/src/serve/delta/overlay/tests.rs
Due: rust

feat: add storage backend for file access
  Cargo.lock
  libs/@local/graph/atlas/Cargo.toml
  libs/@local/graph/atlas/src/file/generation/document/mod.rs
  libs/@local/graph/atlas/src/file/generation/document/tests.rs
  libs/@local/graph/atlas/src/file/generation/error.rs
  libs/@local/graph/atlas/src/file/generation/mod.rs
  libs/@local/graph/atlas/src/file/generation/open.rs
  libs/@local/graph/atlas/src/file/generation/tests.rs
  libs/@local/graph/atlas/src/file/mod.rs
  libs/@local/graph/atlas/src/file/storage/error.rs
  libs/@local/graph/atlas/src/file/storage/mod.rs
  libs/@local/graph/atlas/src/file/storage/path/error.rs
  libs/@local/graph/atlas/src/file/storage/path/mod.rs
  libs/@local/graph/atlas/src/file/storage/path/tests.rs
  libs/@local/graph/atlas/src/file/storage/s3/mod.rs
  libs/@local/graph/atlas/src/file/storage/s3/path/mod.rs
  libs/@local/graph/atlas/src/file/storage/s3/path/tests.rs
  libs/@local/graph/atlas/src/file/storage/s3/tests.rs
  libs/@local/graph/atlas/src/file/storage/tests.rs
  libs/@local/graph/atlas/src/lib.rs
Due: rust, toml

fix: remove explicit flush after s3 copy
  libs/@local/graph/atlas/src/file/storage/s3/mod.rs
  libs/@local/graph/atlas/src/file/storage/s3/tests.rs
Due: rust

feat: add s3 multipart upload infrastructure
  libs/@local/graph/atlas/Cargo.toml
  libs/@local/graph/atlas/src/file/generation/mod.rs
  libs/@local/graph/atlas/src/file/generation/scratch.rs
  libs/@local/graph/atlas/src/file/generation/scratch/tests.rs
  libs/@local/graph/atlas/src/file/storage/error.rs
  libs/@local/graph/atlas/src/file/storage/error/tests.rs
  libs/@local/graph/atlas/src/file/storage/mod.rs
  libs/@local/graph/atlas/src/file/storage/path/mod.rs
  libs/@local/graph/atlas/src/file/storage/path/scratch.rs
  libs/@local/graph/atlas/src/file/storage/path/tests.rs
  libs/@local/graph/atlas/src/file/storage/s3/metadata.rs
  libs/@local/graph/atlas/src/file/storage/s3/metadata/tests.rs
  libs/@local/graph/atlas/src/file/storage/s3/mod.rs
  libs/@local/graph/atlas/src/file/storage/s3/multipart/backend.rs
  libs/@local/graph/atlas/src/file/storage/s3/multipart/mod.rs
  libs/@local/graph/atlas/src/file/storage/s3/multipart/parts.rs
  libs/@local/graph/atlas/src/file/storage/s3/multipart/parts/tests.rs
  libs/@local/graph/atlas/src/file/storage/s3/multipart/tests.rs
  libs/@local/graph/atlas/src/file/storage/s3/path/mod.rs
  libs/@local/graph/atlas/src/file/storage/s3/path/tests.rs
  libs/@local/graph/atlas/src/file/storage/s3/tests.rs
  libs/@local/graph/atlas/src/file/storage/s3/tests/mod.rs
  libs/@local/graph/atlas/src/file/storage/tests.rs
Due: rust, toml

feat: improve storage api and safety documentation
  libs/@local/graph/atlas/src/bitset/dense.rs
  libs/@local/graph/atlas/src/cli/fit.rs
  libs/@local/graph/atlas/src/cli/shell.rs
  libs/@local/graph/atlas/src/dataset/auxiliary.rs
  libs/@local/graph/atlas/src/file/storage/error.rs
  libs/@local/graph/atlas/src/file/storage/mod.rs
  libs/@local/graph/atlas/src/file/storage/path/mod.rs
  libs/@local/graph/atlas/src/file/storage/path/tests.rs
  libs/@local/graph/atlas/src/file/storage/s3/mod.rs
  libs/@local/graph/atlas/src/file/storage/s3/path/mod.rs
  libs/@local/graph/atlas/src/file/storage/s3/path/tests.rs
Due: rust

refactor: restructure atlas storage modules to directories
  libs/@local/graph/atlas/src/file/generation/scratch/mod.rs
  libs/@local/graph/atlas/src/file/storage/error/mod.rs
  libs/@local/graph/atlas/src/file/storage/path/tests.rs
  libs/@local/graph/atlas/src/file/storage/s3/metadata/mod.rs
  libs/@local/graph/atlas/src/file/storage/s3/multipart/parts/mod.rs
  libs/@local/graph/atlas/src/file/storage/s3/multipart/parts/tests.rs
  libs/@local/graph/atlas/src/file/storage/s3/multipart/tests.rs
Due: rust

chore: consolidate scratch directory test helpers
  libs/@local/graph/atlas/src/file/generation/scratch/mod.rs
  libs/@local/graph/atlas/src/file/generation/scratch/tests.rs
  libs/@local/graph/atlas/src/file/storage/path/scratch.rs
  libs/@local/graph/atlas/src/file/storage/path/tests.rs
  libs/@local/graph/atlas/src/file/storage/s3/multipart/mod.rs
  libs/@local/graph/atlas/src/file/storage/s3/multipart/parts/mod.rs
  libs/@local/graph/atlas/src/file/storage/s3/multipart/parts/tests.rs
  libs/@local/graph/atlas/src/file/storage/tests.rs
Due: rust

feat: add S3 storage backend to atlas cli
  .clippy.toml
  Cargo.lock
  Cargo.toml
  apps/hash-graph/src/subcommand/atlas.rs
  libs/@local/graph/atlas/Cargo.toml
  libs/@local/graph/atlas/src/cli/fit.rs
  libs/@local/graph/atlas/src/cli/mod.rs
  libs/@local/graph/atlas/src/cli/s3.rs
  libs/@local/graph/atlas/src/cli/shell.rs
  libs/@local/graph/atlas/src/file/generation/document/mod.rs
  libs/@local/graph/atlas/src/file/generation/document/tests.rs
  libs/@local/graph/atlas/src/file/generation/mod.rs
  libs/@local/graph/atlas/src/file/generation/open.rs
  libs/@local/graph/atlas/src/file/salt/mod.rs
  libs/@local/graph/atlas/src/file/storage/error/mod.rs
  libs/@local/graph/atlas/src/file/storage/error/tests.rs
Due: rust, toml

chore: refactor storage backend and add generation upload
  libs/@local/graph/atlas/src/file/generation/mod.rs
  libs/@local/graph/atlas/src/file/generation/scratch/mod.rs
  libs/@local/graph/atlas/src/file/generation/tests.rs
  libs/@local/graph/atlas/src/file/generation/upload/backend.rs
  libs/@local/graph/atlas/src/file/generation/upload/error.rs
  libs/@local/graph/atlas/src/file/generation/upload/mod.rs
  libs/@local/graph/atlas/src/file/generation/upload/tests.rs
  libs/@local/graph/atlas/src/file/storage/error/mod.rs
  libs/@local/graph/atlas/src/file/storage/local/mod.rs
  libs/@local/graph/atlas/src/file/storage/local/tests.rs
  libs/@local/graph/atlas/src/file/storage/mod.rs
  libs/@local/graph/atlas/src/file/storage/path/mod.rs
  libs/@local/graph/atlas/src/file/storage/path/tests/mod.rs
  libs/@local/graph/atlas/src/file/storage/path/tests/mutation.rs
  libs/@local/graph/atlas/src/file/storage/s3/metadata/mod.rs
  libs/@local/graph/atlas/src/file/storage/s3/metadata/tests.rs
  libs/@local/graph/atlas/src/file/storage/s3/mod.rs
  libs/@local/graph/atlas/src/file/storage/s3/multipart/backend.rs
  libs/@local/graph/atlas/src/file/storage/s3/path/mod.rs
  libs/@local/graph/atlas/src/file/storage/s3/path/tests.rs
Due: rust

feat: replace offload error with tokio join error
  libs/@local/graph/atlas/src/file/generation/upload/error.rs
  libs/@local/graph/atlas/src/file/generation/upload/mod.rs
  libs/@local/graph/atlas/src/file/storage/error/mod.rs
  libs/@local/graph/atlas/src/file/storage/local/mod.rs
  libs/@local/graph/atlas/src/file/storage/local/tests.rs
  libs/@local/graph/atlas/src/file/storage/path/contents/mod.rs
  libs/@local/graph/atlas/src/file/storage/path/contents/tests.rs
  libs/@local/graph/atlas/src/file/storage/path/mod.rs
  libs/@local/graph/atlas/src/file/storage/path/tests/mod.rs
  libs/@local/graph/atlas/src/file/storage/path/tests/mutation.rs
  libs/@local/graph/atlas/src/file/storage/s3/path/mod.rs
Due: rust

chore: polish atlas file storage code
  libs/@local/graph/atlas/src/file/storage/local/mod.rs
  libs/@local/graph/atlas/src/file/storage/local/tests.rs
Due: rust

feat: add result upload support to atlas fit command
  apps/hash-graph/src/subcommand/atlas.rs
  libs/@local/graph/atlas/src/cli/fit.rs
  libs/@local/graph/atlas/src/cli/mod.rs
  libs/@local/graph/atlas/src/cli/s3.rs
  libs/@local/graph/atlas/src/cli/shell.rs
  libs/@local/graph/atlas/src/file/generation/upload/mod.rs
  libs/@local/graph/atlas/src/file/generation/upload/tests.rs
  libs/@local/graph/atlas/src/file/storage/mod.rs
  libs/@local/graph/atlas/src/file/storage/s3/mod.rs
  libs/@local/graph/atlas/src/salt/runner/operator/live.rs
  libs/@local/graph/atlas/src/salt/runner/operator/mod.rs
  libs/@local/graph/atlas/src/salt/runner/operator/offline.rs
Due: rust

test: add upload promotion error cases
  libs/@local/graph/atlas/src/file/generation/upload/tests.rs
Due: rust

feat: add aws smithy types to atlas dependencies
  Cargo.lock
  Cargo.toml
  libs/@local/graph/atlas/Cargo.toml
  libs/@local/graph/atlas/src/cli/fit.rs
  libs/@local/graph/atlas/src/cli/s3.rs
  libs/@local/graph/atlas/src/file/generation/document/tests.rs
  libs/@local/graph/atlas/src/file/generation/scratch/mod.rs
  libs/@local/graph/atlas/src/file/generation/scratch/tests.rs
  libs/@local/graph/atlas/src/file/generation/upload/mod.rs
  libs/@local/graph/atlas/src/file/generation/upload/tests.rs
  libs/@local/graph/atlas/src/file/storage/error/mod.rs
  libs/@local/graph/atlas/src/file/storage/error/tests.rs
  libs/@local/graph/atlas/src/file/storage/local/mod.rs
  libs/@local/graph/atlas/src/file/storage/local/tests.rs
  libs/@local/graph/atlas/src/file/storage/mod.rs
  libs/@local/graph/atlas/src/file/storage/path/contents/mod.rs
  libs/@local/graph/atlas/src/file/storage/path/contents/tests.rs
  libs/@local/graph/atlas/src/file/storage/path/error.rs
  libs/@local/graph/atlas/src/file/storage/path/mod.rs
  libs/@local/graph/atlas/src/file/storage/path/tests/mod.rs
  libs/@local/graph/atlas/src/file/storage/path/tests/mutation.rs
  libs/@local/graph/atlas/src/file/storage/s3/metadata/mod.rs
  libs/@local/graph/atlas/src/file/storage/s3/metadata/tests.rs
  libs/@local/graph/atlas/src/file/storage/s3/mod.rs
  libs/@local/graph/atlas/src/file/storage/s3/multipart/backend.rs
  libs/@local/graph/atlas/src/file/storage/s3/multipart/mod.rs
  libs/@local/graph/atlas/src/file/storage/s3/multipart/parts/mod.rs
  libs/@local/graph/atlas/src/file/storage/s3/multipart/parts/tests.rs
  libs/@local/graph/atlas/src/file/storage/s3/multipart/tests.rs
  libs/@local/graph/atlas/src/file/storage/s3/path/mod.rs
  libs/@local/graph/atlas/src/file/storage/s3/path/tests.rs
  libs/@local/graph/atlas/src/file/storage/s3/tests/mod.rs
Due: rust, toml

fix: clarify s3 bucket path documentation
  libs/@local/graph/atlas/src/file/storage/s3/path/mod.rs
Due: rust

docs: refine rust testing guidance
  .agents/skills/rust-testing-strategy/SKILL.md
Due: markdownlint, biome

chore: upgrade aws sdk dependencies
  Cargo.lock
  Cargo.toml
  libs/@local/graph/atlas/Cargo.toml
Due: toml

feat: add generation download and s3 round-trip transfer
  libs/@local/graph/atlas/Cargo.toml
  libs/@local/graph/atlas/src/cli/mod.rs
  libs/@local/graph/atlas/src/file/generation/download/backend.rs
  libs/@local/graph/atlas/src/file/generation/download/error.rs
  libs/@local/graph/atlas/src/file/generation/download/mod.rs
  libs/@local/graph/atlas/src/file/generation/download/tests.rs
  libs/@local/graph/atlas/src/file/generation/error.rs
  libs/@local/graph/atlas/src/file/generation/fixture.rs
  libs/@local/graph/atlas/src/file/generation/mod.rs
  libs/@local/graph/atlas/src/file/generation/remote.rs
  libs/@local/graph/atlas/src/file/generation/staging/mod.rs
  libs/@local/graph/atlas/src/file/generation/staging/tests.rs
  libs/@local/graph/atlas/src/file/generation/test_utils.rs
  libs/@local/graph/atlas/src/file/generation/tests.rs
  libs/@local/graph/atlas/src/file/generation/upload/mod.rs
  libs/@local/graph/atlas/src/file/generation/upload/tests.rs
  libs/@local/graph/atlas/src/lib.rs
  libs/@local/graph/atlas/src/test_utils.rs
  libs/@local/graph/atlas/tests/generation_transfer.rs
Due: rust, toml

feat: support remote storage and downloads in atlas serve
  .agents/skills/rust-tracing-practices/SKILL.md
  apps/hash-graph/src/subcommand/atlas.rs
  libs/@local/graph/atlas/src/cli/fit.rs
  libs/@local/graph/atlas/src/cli/mod.rs
  libs/@local/graph/atlas/src/cli/serve/args.rs
  libs/@local/graph/atlas/src/cli/serve/mod.rs
  libs/@local/graph/atlas/src/cli/serve/tests.rs
  libs/@local/graph/atlas/src/file/generation/download/backend.rs
  libs/@local/graph/atlas/src/file/generation/download/mod.rs
  libs/@local/graph/atlas/src/serve/runtime/manager/mod.rs
Due: markdownlint, biome, rust

chore: add mut qualifier to shutdown closure
  libs/@local/graph/atlas/src/cli/serve/mod.rs
Due: rust

refactor: clarify atlas generation lifecycle
  libs/@local/graph/atlas/src/cli/fit/error.rs
  libs/@local/graph/atlas/src/cli/fit/mod.rs
  libs/@local/graph/atlas/src/cli/mod.rs
  libs/@local/graph/atlas/src/cli/serve/args.rs
  libs/@local/graph/atlas/src/cli/serve/mod.rs
  libs/@local/graph/atlas/src/cli/serve/tests.rs
  libs/@local/graph/atlas/src/file/generation/download/mod.rs
  libs/@local/graph/atlas/src/file/generation/download/tests.rs
  libs/@local/graph/atlas/src/file/generation/fixture.rs
  libs/@local/graph/atlas/src/file/generation/staging/tests.rs
  libs/@local/graph/atlas/src/file/generation/test_utils.rs
  libs/@local/graph/atlas/src/file/storage/path/mod.rs
  libs/@local/graph/atlas/src/file/storage/path/tests/mod.rs
  libs/@local/graph/atlas/src/serve/runtime/manager/mod.rs
  libs/@local/graph/atlas/tests/generation_transfer.rs
  libs/@local/graph/atlas/tests/route_fixture.rs
Due: rust

test: add atlas service integration fixtures
  libs/@local/graph/atlas/src/cli/serve/args.rs
  libs/@local/graph/atlas/src/cli/serve/mod.rs
  libs/@local/graph/atlas/src/file/generation/test_utils.rs
  libs/@local/graph/atlas/src/file/storage/s3/mod.rs
  libs/@local/graph/atlas/src/file/storage/s3/multipart/backend.rs
  libs/@local/graph/atlas/src/file/storage/s3/multipart/parts/mod.rs
  libs/@local/graph/atlas/src/file/storage/s3/multipart/parts/tests.rs
  libs/@local/graph/atlas/src/file/storage/s3/multipart/tests.rs
  libs/@local/graph/atlas/src/file/storage/s3/test_utils.rs
  libs/@local/graph/atlas/src/lib.rs
  libs/@local/graph/atlas/src/postgres/id.rs
  libs/@local/graph/atlas/src/serve/mod.rs
  libs/@local/graph/atlas/src/serve/tests/fixture.rs
  libs/@local/graph/atlas/src/serve/tests/integration.rs
  libs/@local/graph/atlas/src/serve/tests/mod.rs
  libs/@local/graph/atlas/src/test_utils.rs
  libs/@local/graph/atlas/src/test_utils/mod.rs
  libs/@local/graph/atlas/src/test_utils/postgres.rs
  libs/@local/graph/atlas/src/test_utils/s3.rs
  libs/@local/graph/atlas/tests/generation_transfer.rs
  libs/@local/graph/atlas/tests/route_fixture.rs
Due: rust

feat: clean up active generation revisions
  Cargo.lock
  libs/@local/graph/atlas/Cargo.toml
  libs/@local/graph/atlas/src/file/generation/remote.rs
  libs/@local/graph/atlas/src/file/generation/upload/backend.rs
  libs/@local/graph/atlas/src/file/generation/upload/mod.rs
  libs/@local/graph/atlas/src/file/storage/error/mod.rs
  libs/@local/graph/atlas/src/file/storage/local/mod.rs
  libs/@local/graph/atlas/src/file/storage/mod.rs
  libs/@local/graph/atlas/src/file/storage/path/error.rs
  libs/@local/graph/atlas/src/file/storage/path/mod.rs
  libs/@local/graph/atlas/src/file/storage/s3/mod.rs
  libs/@local/graph/atlas/src/file/storage/s3/path/mod.rs
Due: rust, toml

Fix Live transcription setup and separate Voice error notifications
  .changeset/tidy-voice-dock.md
  apps/petrinaut-website/src/main/app/voice-interview/live-brunch-bridge.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-brunch-bridge.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation-control.test.tsx
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation-control.tsx
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-browser-tools.integration.test.tsx
  apps/petrinaut-website/src/server/voice/openai-transcription-session.test.ts
  apps/petrinaut-website/src/server/voice/openai-transcription-session.ts
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.stories.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/voice-dock.tsx
Due: markdownlint, biome

fix: prune previous active generation
  libs/@local/graph/atlas/src/file/generation/remote.rs
  libs/@local/graph/atlas/src/file/generation/upload/backend.rs
  libs/@local/graph/atlas/src/file/generation/upload/mod.rs
  libs/@local/graph/atlas/src/file/storage/path/mod.rs
  libs/@local/graph/atlas/src/file/storage/s3/mod.rs
  libs/@local/graph/atlas/src/file/storage/s3/path/mod.rs
Due: rust

Add experimental automatic arc connections
  .changeset/quiet-arcs-follow.md
  libs/@hashintel/petrinaut/docs/drawing-a-net.md
  libs/@hashintel/petrinaut/docs/visual-settings.md
  libs/@hashintel/petrinaut/src/react/state/user-settings-context.ts
  libs/@hashintel/petrinaut/src/react/state/user-settings-provider.test.tsx
  libs/@hashintel/petrinaut/src/react/state/user-settings-provider.tsx
  libs/@hashintel/petrinaut/src/ui/automatic-arc-connections.stories.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/create-experiment-drawer.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/components/viewport-settings-dialog.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/arc.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/classic-place-node.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/classic-transition-node.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/node-card.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/outline-connection-line.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/port-handles.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/react-flow-types.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/shared/node-handles.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/shared/outline-arcs.test.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/shared/outline-arcs.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/use-react-flow-elements.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/use-react-flow-elements.ts
Due: markdownlint, biome

Keep the AI assistant available across editor views
  .changeset/quiet-boats-dock.md
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/bottom-bar.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/use-bottom-bar-layout.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/use-bottom-bar-layout.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view.tsx
Due: markdownlint, biome

Route square automatic arcs around nearby nodes
  .changeset/square-arcs-detour.md
  libs/@hashintel/petrinaut/docs/drawing-a-net.md
  libs/@hashintel/petrinaut/docs/visual-settings.md
  libs/@hashintel/petrinaut/src/react/state/user-settings-context.ts
  libs/@hashintel/petrinaut/src/react/state/user-settings-provider.test.tsx
  libs/@hashintel/petrinaut/src/react/state/user-settings-provider.tsx
  libs/@hashintel/petrinaut/src/ui/automatic-arc-connections.stories.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/create-experiment-drawer.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/components/viewport-settings-dialog.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/outline-connection-line.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/shared/outline-arcs.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/shared/square-arcs.test.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/shared/square-arcs.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/shared/square-arcs/find-route.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/use-automatic-arc-paths.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/use-react-flow-elements.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/use-react-flow-elements.ts
Due: markdownlint, biome

Reuse the graph executable across integration jobs
  .github/actions/graph-build-cache/README.md
  .github/actions/graph-build-cache/cache_line_probe.rs
  .github/actions/graph-build-cache/graph_build_cache.py
  .github/actions/graph-build-cache/graph_build_cache_test.py
  .github/workflows/test.yml
Due: markdownlint, biome, rust

Set version to `0.0.0`
  Cargo.lock
  libs/problematic/rust/Cargo.toml
  libs/problematic/rust/package.json
Due: biome, yarn, toml
