Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    biome:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: biome format --write --staged || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: rustfmt {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: taplo format {staged_files} || true
      stage_fixed: true

feat: checkpoint
  libs/@local/graph/atlas/docs/wire.md
  libs/@local/graph/atlas/fixtures/wire/g11-backfilled-tile.json
  libs/@local/graph/atlas/fixtures/wire/g11-backfilled-tile.saltile
  libs/@local/graph/atlas/src/api/manifest.rs
  libs/@local/graph/atlas/src/api/tile.rs
  libs/@local/graph/atlas/src/api/visibility.rs
  libs/@local/graph/atlas/src/file/array/read.rs
  libs/@local/graph/atlas/src/file/identity2/mod.rs
  libs/@local/graph/atlas/src/file/mod.rs
  libs/@local/graph/atlas/src/identity/column.rs
  libs/@local/graph/atlas/src/lib.rs
  libs/@local/graph/atlas/src/salt/quality/mod.rs
  libs/@local/graph/atlas/src/salt/wire/fixtures.rs
  libs/@local/graph/atlas/src/salt/wire/tests.rs
  libs/@local/graph/atlas/src/salt/wire/tile.rs
  libs/@local/graph/atlas/src/serve/cache.rs
  libs/@local/graph/atlas/src/serve/manifest.rs
  libs/@local/graph/atlas/src/serve/mod.rs
  libs/@local/graph/atlas/src/serve/open.rs
  libs/@local/graph/atlas/src/serve/schedule.rs
  libs/@local/graph/atlas/src/serve/tests/backfill.rs
  libs/@local/graph/atlas/src/serve/tests/backfill_channel.rs
  libs/@local/graph/atlas/src/serve/tests/density.rs
  libs/@local/graph/atlas/src/serve/tests/masking.rs
  libs/@local/graph/atlas/src/serve/tests/mod.rs
  libs/@local/graph/atlas/src/serve/tests/schedule.rs
  libs/@local/graph/atlas/src/serve/tile.rs
  libs/@local/graph/atlas/src/serve/walk/census.rs
  libs/@local/graph/atlas/src/serve/walk/masked.rs
  libs/@local/graph/atlas/src/serve/walk/mod.rs
Due: markdownlint, biome, rust

Adjust colors/fix up chip variants
  libs/@hashintel/ds-components/src/components/Chip/chip.recipe.ts
  libs/@hashintel/ds-components/src/components/Form/errors.recipe.ts
Due: biome

Touch lighter angle + badge hovers when in a segment
  libs/@hashintel/ds-components/src/components/Chip/chip.recipe.ts
Due: biome

SRE-844: Keep expected 4xx responses out of the error budget
  apps/hash-api/src/auth/create-auth-handlers.ts
  apps/hash-api/src/instrument.mjs
  libs/@local/hash-backend-utils/src/opentelemetry.test.ts
  libs/@local/hash-backend-utils/src/opentelemetry.ts
Due: biome

SRE-844: Record the GraphQL operation on the HTTP server span
  apps/hash-api/src/graphql/create-apollo-server.ts
Due: biome

Add pressed state to chip
  libs/@hashintel/ds-components/src/components/Chip/chip.recipe.ts
Due: biome

Add changeset
  .changeset/wicked-meteors-unite.md
Due: markdownlint, biome

Added changeset
  .changeset/lazy-spiders-float.md
Due: markdownlint, biome

simplify comments
  libs/@hashintel/ds-components/src/components/Chip/chip.recipe.ts
Due: biome

Fix transparent outline variant on hover
  libs/@hashintel/ds-components/src/components/Chip/chip.recipe.ts
Due: biome

SRE-854: Serve the health probe on GET /health across the services
  apps/hash-api/src/index.ts
  apps/hash-graph/src/subcommand/atlas.rs
  apps/hash-graph/src/subcommand/mod.rs
  apps/petrinaut-opt/openapi/openapi.json
  apps/petrinaut-opt/src/optimization_api.py
  apps/petrinaut-opt/src/telemetry.py
  libs/@local/graph/api/src/rest/admin.rs
  libs/@local/graph/api/src/rest/http_tracing_layer.rs
  libs/@local/graph/api/src/rest/mod.rs
  libs/@local/graph/api/src/rest/probe.rs
  libs/@local/graph/type-fetcher/src/fetcher_server.rs
  libs/@local/hash-backend-utils/src/opentelemetry.ts
  libs/@local/hash-backend-utils/src/temporal/worker-bootstrap.ts
Due: biome, rust

SRE-854: Regenerate the petrinaut-opt client for the health route
  apps/hash-graph/src/subcommand/atlas.rs
  libs/@local/petrinaut-optimizer-client/src/openapi.gen.ts
Due: biome, rust

SRE-854: Point the image healthchecks at GET /health
  apps/hash-api/docker/Dockerfile
  apps/petrinaut-opt/docker/Dockerfile
Due: none

SRE-884: Remove the legacy health endpoints
  apps/hash-api/src/index.ts
  apps/hash-graph/src/subcommand/atlas.rs
Due: biome, rust

BE-618: Keep the quantized column and its index off the snapshot staging tables
  libs/@local/graph/postgres-store/src/snapshot/entity/batch.rs
  libs/@local/graph/postgres-store/src/snapshot/ontology/entity_type/batch.rs
Due: rust

Require aria-label on chip affixes when interactive
  libs/@hashintel/ds-components/src/components/Chip/chip.stories.tsx
  libs/@hashintel/ds-components/src/components/Chip/chip.tsx
Due: biome

Segment border hover improvement
  libs/@hashintel/ds-components/src/components/Chip/chip.recipe.ts
  libs/@hashintel/ds-components/src/components/Chip/chip.tsx
Due: biome

feat: migrate atlas tests to typed row indices
  libs/@local/graph/atlas/src/file/morton/tests.rs
  libs/@local/graph/atlas/src/salt/embedding/tests.rs
  libs/@local/graph/atlas/src/salt/fit/tests.rs
  libs/@local/graph/atlas/src/salt/lod/tests.rs
  libs/@local/graph/atlas/src/salt/policy/annotation/assembly/tests.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/tests.rs
  libs/@local/graph/atlas/src/salt/postings/tests.rs
  libs/@local/graph/atlas/src/salt/quality/tests.rs
  libs/@local/graph/atlas/src/salt/runner/tests.rs
  libs/@local/graph/atlas/src/salt/wire/tests.rs
Due: rust

SRE-886: Run the TODO-comments preflight scan on pull_request
  .github/workflows/preflight-todo-comments.yml
  .github/workflows/preflight.yml
Due: biome

SRE-887: Add explicit permissions to the five workflows that had none
  .github/workflows/canary-release.yml
  .github/workflows/dispatch-fix.yml
  .github/workflows/publish-blocks-to-production.yml
  .github/workflows/remove-obsolete-caches.yml
  .github/workflows/warm-up-vercel.yml
Due: biome

SRE-886: Trim preflight workflow comments
  .github/workflows/preflight-todo-comments.yml
  .github/workflows/preflight.yml
Due: biome

H-6745: Match the trend diagnosis case-insensitively in the planning brief test
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/opportunity/opportunity-utils.test.ts
Due: biome

Rename workflow to 'Preflight'
  .github/workflows/preflight-todo-comments.yml
Due: biome

SRE-887: Add `pull-requests: read` to canary release, trim permission comments
  .github/workflows/canary-release.yml
  .github/workflows/dispatch-fix.yml
  .github/workflows/publish-blocks-to-production.yml
  .github/workflows/remove-obsolete-caches.yml
  .github/workflows/warm-up-vercel.yml
Due: biome

Keep wasm-opt on cargo backend for arm64 Docker images
  .config/mise/config.toml
  apps/hash-ai-worker-ts/docker/Dockerfile
  apps/hash-api/docker/Dockerfile
  apps/hash-frontend/docker/Dockerfile
  apps/hash-integration-worker/docker/Dockerfile
Due: toml

Keep cargo-insta on cargo backend: no linux-arm64 prebuilt, runs in arm64 image builds
  .config/mise/config.toml
  libs/@blockprotocol/type-system/rust/package.json
  libs/@local/codec/package.json
  libs/@local/graph/authorization/package.json
  libs/@local/graph/store/package.json
Due: biome, yarn, toml

Install Rust-ecosystem CI tools from GitHub releases via mise aqua backend
  .config/mise/config.toml
  apps/hash-ai-worker-ts/docker/Dockerfile
  apps/hash-api/docker/Dockerfile
  apps/hash-frontend/docker/Dockerfile
  apps/hash-frontend/vercel-install.sh
  apps/hash-integration-worker/docker/Dockerfile
  apps/petrinaut-website/vercel-install.sh
  libs/@blockprotocol/type-system/rust/package.json
  libs/@local/codec/package.json
  libs/@local/graph/authorization/package.json
  libs/@local/graph/store/package.json
Due: biome, yarn, toml

Fix taplo formatting in mise config
  .config/mise/config.toml
Due: toml

Update mise.lock
  .config/mise/mise.lock
Due: none

Drop binaryen swap: keep wasm-opt on cargo; prune stale lock entries for renamed tools
  .config/mise/config.toml
  .config/mise/mise.lock
  apps/hash-frontend/vercel-install.sh
  apps/petrinaut-website/vercel-install.sh
Due: toml

FE-629: Fix HIR kernel compilation for conditional distributions (#9028)
  .changeset/quiet-ternaries-compile.md
  libs/@hashintel/petrinaut-core/src/hir/emit-buffer-js.test.ts
  libs/@hashintel/petrinaut-core/src/hir/emit-buffer-js.ts
Due: markdownlint, biome

SRE-893: Move wasm-pack to mise's github backend
  .config/mise/config.toml
  .config/mise/mise.lock
  apps/hash-ai-worker-ts/docker/Dockerfile
  apps/hash-api/docker/Dockerfile
  apps/hash-frontend/docker/Dockerfile
  apps/hash-frontend/vercel-install.sh
  apps/hash-integration-worker/docker/Dockerfile
  apps/petrinaut-website/vercel-install.sh
  libs/@blockprotocol/type-system/rust/package.json
Due: biome, yarn, toml

Provision Graph actor IDs in Kratos
  apps/hash-api/src/auth/ory-kratos.ts
  apps/hash-api/src/graph/knowledge/system-types/user.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/user.test.ts
Due: biome

SRE-893: Drop the backend-choice comment
  .config/mise/config.toml
Due: toml

Harden user creation
  apps/hash-api/src/auth/create-auth-handlers.test.ts
  apps/hash-api/src/auth/create-auth-handlers.ts
  apps/hash-api/src/auth/ory-kratos.ts
  apps/hash-api/src/graph/knowledge/system-types/user.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/user.test.ts
Due: biome

SRE-868: replace cargo:wasm-opt with prebuilt Binaryen in Vercel installs
  .config/mise/config.toml
  .config/mise/mise.lock
  apps/hash-frontend/vercel-install.sh
  apps/petrinaut-website/vercel-install.sh
Due: toml

SRE-868: bump Binaryen to version_131 and drop cargo:wasm-opt everywhere
  .config/mise/config.toml
  .config/mise/mise.lock
  apps/hash-ai-worker-ts/docker/Dockerfile
  apps/hash-api/docker/Dockerfile
  apps/hash-frontend/docker/Dockerfile
  apps/hash-frontend/vercel-install.sh
  apps/hash-integration-worker/docker/Dockerfile
  apps/petrinaut-website/vercel-install.sh
Due: toml
