Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

markdownlint:
  tags:
  - frontend
  - style
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

biome:
  tags:
  - frontend
  - style
  run: biome format --write --staged || true
  stage_fixed: true

yarn:
  tags:
  - frontend
  - style
  run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
  stage_fixed: true

sqlfluff:
  tags:
  - backend
  - style
  run: sqlfluff fix {staged_files} || true
  stage_fixed: true

rust:
  tags:
  - backend
  - style
  run: rustfmt {staged_files} || true
  stage_fixed: true

toml:
  tags:
  - backend
  - style
  run: taplo format {staged_files} || true
  stage_fixed: true

Better handling of async search
  libs/@hashintel/ds-components/src/components/Select/select.tsx
Due: biome

Fix maxItems on search
  libs/@hashintel/ds-components/src/components/Select/multi-select.stories.tsx
  libs/@hashintel/ds-components/src/components/Select/select.tsx
Due: biome

FE-1526: Shorten the changesets
  .changeset/lazy-weighted-arc-enumeration.md
Due: markdownlint, biome

FE-1526: Enumerate weighted-arc token combinations lazily
  .changeset/lazy-weighted-arc-enumeration.md
  libs/@hashintel/petrinaut-core/benchmarks/coloured-enumeration.mjs
  libs/@hashintel/petrinaut-core/src/simulation/engine/enumerate-weighted-markings.test.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/enumerate-weighted-markings.ts
  libs/@hashintel/petrinaut-core/src/webgpu/pair-selection.test.ts
  libs/@local/petrinaut-arch-docs/content/simulation/performance.mdx
Due: markdownlint, biome

FE-1528: Shorten the changesets
  .changeset/token-independent-lambda-fast-path.md
Due: markdownlint, biome

FE-1528: Skip combination enumeration for token-independent lambdas
  .changeset/token-independent-lambda-fast-path.md
  libs/@hashintel/petrinaut-core/benchmarks/coloured-enumeration.mjs
  libs/@hashintel/petrinaut-core/src/hir/artifacts.test.ts
  libs/@hashintel/petrinaut-core/src/hir/compile.ts
  libs/@hashintel/petrinaut-core/src/hir/instantiate.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/build-simulation.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/compiled-transition.test-helpers.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/compute-possible-transition.test.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/compute-possible-transition.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/enumerate-weighted-markings.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/types.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/token-independent-lambda.test.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/transition-effect.ts
  libs/@local/petrinaut-arch-docs/content/simulation/performance.mdx
Due: markdownlint, biome

FE-1528: Test the determinism gate and the Monte Carlo fast path
  libs/@hashintel/petrinaut-core/src/hir/artifacts.test.ts
  libs/@hashintel/petrinaut-core/src/simulation/monte-carlo/token-independent-lambda.test.ts
Due: biome

FE-1529: Document the local optimizer loop and make its launcher self-healing
  .claude/launch.json
  apps/petrinaut-website/scripts/optimization-dev.mjs
  libs/@local/petrinaut-arch-docs/content/optimizer/running-the-loop-locally.mdx
Due: biome

FE-1529: Own the dev container by id and drop the personal launch config
  .claude/launch.json
  .gitignore
  apps/petrinaut-website/scripts/optimization-dev.mjs
Due: biome

FE-1529: Start the optimizer service from the website's dev task
  .gitignore
  apps/petrinaut-website/README.md
  apps/petrinaut-website/package.json
  apps/petrinaut-website/scripts/dev.mjs
  apps/petrinaut-website/scripts/optimization-dev.mjs
  libs/@local/petrinaut-arch-docs/content/optimizer/running-the-loop-locally.mdx
  libs/@local/petrinaut-optimizer-client/package.json
  libs/@local/petrinaut-optimizer-client/scripts/optimizer-service.mjs
  package.json
Due: markdownlint, biome, yarn

FE-1529: Run the optimizer service through a shell library
  apps/petrinaut-website/package.json
  apps/petrinaut-website/scripts/dev.mjs
  apps/petrinaut-website/scripts/dev.sh
  libs/@local/petrinaut-arch-docs/content/optimizer/running-the-loop-locally.mdx
  libs/@local/petrinaut-optimizer-client/package.json
  libs/@local/petrinaut-optimizer-client/scripts/optimizer-service.mjs
  libs/@local/petrinaut-optimizer-client/scripts/optimizer-service.sh
Due: biome, yarn

Fold Mission 3 review findings into upcoming-mission clusters
  libs/@hashintel/brunch-agent/MISSION.next.md
Due: markdownlint, biome

Specify elicitation-to-IR oracle design
  libs/@hashintel/brunch-agent/docs/specs/elicitation-to-ir-oracle-design.md
Due: markdownlint, biome

Specify structurally typed elicitation runbooks
  libs/@hashintel/brunch-agent/CONTEXT.md
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/MISSION.next.md
  libs/@hashintel/brunch-agent/docs/specs/structurally-typed-elicitation-runbooks.md
Due: markdownlint, biome

add brunch-rel'd image assets to the brunch-agent app
  apps/brunch-agent/files/brunch-clipped.png
  apps/brunch-agent/files/favicon.ico
  libs/@hashintel/brunch-agent/README.md
Due: markdownlint, biome

Close validated construction side quest
  apps/brunch-agent/package.json
  apps/brunch-agent/src/agents/chat-agent.ts
  apps/brunch-agent/src/capture-sweep.ts
  apps/brunch-agent/src/headless-petrinaut-client.ts
  apps/brunch-agent/src/load-built-application.ts
  apps/brunch-agent/src/runbook-artifacts.ts
  apps/brunch-agent/src/runbook-headless-run.ts
  apps/brunch-agent/src/skills/sdcpn-modelling.ts
  apps/brunch-agent/src/skills/sdcpn-modelling/SKILL.md
  apps/brunch-agent/src/skills/sdcpn-modelling/checks.md
  apps/brunch-agent/src/skills/sdcpn-modelling/pn-construction.md
  apps/brunch-agent/src/tools/petrinaut-construction.ts
  apps/brunch-agent/test/build-artifact.test.ts
  apps/brunch-agent/test/headless-petrinaut-client.test.ts
  apps/brunch-agent/test/petrinaut-chat.integration.ts
  apps/brunch-agent/test/petrinaut-chat.test.ts
  apps/brunch-agent/test/petrinaut-construction-tools.test.ts
  apps/brunch-agent/test/runbook-artifacts.test.ts
  apps/brunch-agent/test/runbook-headless.integration.ts
  apps/brunch-agent/test/runbook-headless.test.ts
  apps/brunch-agent/test/sdcpn-modelling-skill.test.ts
  libs/@hashintel/brunch-agent/AGENTS.md
  libs/@hashintel/brunch-agent/HANDOFF.md
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/MISSION.next.md
  libs/@hashintel/brunch-agent/SIDE_QUEST.md
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/process-model-elicitation/runbook-headless/runbook-validated-construction-2026-08-28T13-02-51-095Z.json
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/process-model-elicitation/runbook-headless/runbook-validated-construction-2026-08-28T13-02-51-095Z.md
  libs/@hashintel/brunch-agent/docs/evidence/proofs/implementations/fe-1525-headless-runbook-pn.md
Due: markdownlint, biome, yarn

Land Mission 3 pass 1: sdcpn-modelling runbook skill, headless drive, and evidence
  apps/brunch-agent/README.md
  apps/brunch-agent/package.json
  apps/brunch-agent/src/agents/chat-agent.ts
  apps/brunch-agent/src/runbook-artifacts.ts
  apps/brunch-agent/src/runbook-headless-run.ts
  apps/brunch-agent/src/skills/sdcpn-modelling.ts
  apps/brunch-agent/src/skills/sdcpn-modelling/SKILL.md
  apps/brunch-agent/src/skills/sdcpn-modelling/checks.md
  apps/brunch-agent/src/skills/sdcpn-modelling/elicitation.md
  apps/brunch-agent/src/skills/sdcpn-modelling/ir-template.md
  apps/brunch-agent/src/skills/sdcpn-modelling/pn-construction.md
  apps/brunch-agent/test/petrinaut-chat-result.ts
  apps/brunch-agent/test/petrinaut-chat.integration.ts
  apps/brunch-agent/test/petrinaut-chat.test.ts
  apps/brunch-agent/test/runbook-artifacts.test.ts
  apps/brunch-agent/test/runbook-headless.integration.ts
  apps/brunch-agent/test/runbook-headless.test.ts
  apps/brunch-agent/test/sdcpn-inbox-parse.test.ts
  apps/brunch-agent/test/sdcpn-modelling-skill.test.ts
  libs/@hashintel/brunch-agent/HANDOFF.md
  libs/@hashintel/brunch-agent/SIDE_QUEST.md
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/process-model-elicitation/runbook-headless/runbook-headless-2026-08-28T10-56-59-351Z.ir.md
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/process-model-elicitation/runbook-headless/runbook-headless-2026-08-28T10-56-59-351Z.json
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/process-model-elicitation/runbook-headless/runbook-headless-2026-08-28T10-56-59-351Z.md
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/process-model-elicitation/runbook-headless/runbook-headless-2026-08-28T11-03-53-683Z.ir.md
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/process-model-elicitation/runbook-headless/runbook-headless-2026-08-28T11-03-53-683Z.json
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/process-model-elicitation/runbook-headless/runbook-headless-2026-08-28T11-03-53-683Z.md
  libs/@hashintel/brunch-agent/docs/evidence/proofs/implementations/fe-1525-headless-runbook-pn.md
  libs/@hashintel/brunch-agent/evaluations/protocols/process-model-elicitation/runbook-headless/protocol.md
Due: markdownlint, biome, yarn

Keep upcoming-mission drafts at conversational fidelity.
  libs/@hashintel/brunch-agent/AGENTS.md
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/MISSION.next.md
  libs/@hashintel/brunch-agent/README.md
  libs/@hashintel/brunch-agent/docs/agents/git-workflow.md
  libs/@hashintel/brunch-agent/docs/inbox/2026-08-27-mission-close-and-next.md
  libs/@hashintel/brunch-agent/docs/mission-archive/README.md
Due: markdownlint, biome

housekeeping and new inbox sources
  libs/@hashintel/brunch-agent/AGENTS.md
  libs/@hashintel/brunch-agent/docs/agents/git-workflow.md
  libs/@hashintel/brunch-agent/docs/inbox/2026-08-27-mission-close-and-next.md
  libs/@hashintel/brunch-agent/docs/inbox/[shared] Safeguarded AI – Final Exam (Sketch).md
  libs/@hashintel/brunch-agent/docs/inbox/amp-session-reviewing-architecture.md
  libs/@hashintel/brunch-agent/docs/inbox/claude-dafny-lean.md
  libs/@hashintel/brunch-agent/docs/inbox/eliciting-and-constructing-processes-to-PNs.md
  libs/@hashintel/brunch-agent/docs/inbox/jetty-runbooks.md
  libs/@hashintel/brunch-agent/docs/inbox/jetty-writing-runbooks.md
  libs/@hashintel/brunch-agent/docs/inbox/kleppmanns-geolog-design-rationale-2026-04-18T12-57-01Z.md
  libs/@hashintel/brunch-agent/docs/inbox/pplx-agent-skill-rule-loading.md
  libs/@hashintel/brunch-agent/docs/inbox/pplx-single-global-agents-file.md
  libs/@hashintel/brunch-agent/docs/inbox/sdcpn-examples-to-validate/gases-1-pn-consumption-trigger-layout.json
  libs/@hashintel/brunch-agent/docs/inbox/sdcpn-examples-to-validate/gases-1-pn-layout.json
  libs/@hashintel/brunch-agent/docs/inbox/sdcpn-examples-to-validate/gases-2-spn-layout.json
  libs/@hashintel/brunch-agent/docs/inbox/sdcpn-examples-to-validate/gases-3-cpn-layout.json
  libs/@hashintel/brunch-agent/docs/inbox/sdcpn-examples-to-validate/gases-4-dcpn-layout.json
  libs/@hashintel/brunch-agent/docs/inbox/sdcpn-examples-to-validate/semiconductor-fab-drift-layout.json
  libs/@hashintel/brunch-agent/docs/inbox/sdcpn-examples-to-validate/truck-fleet-predictive-maintenance-layout.json
  libs/@hashintel/brunch-agent/docs/reference/architecture/flue-routing.md
Due: markdownlint, biome

Include Brunch app fixtures in CI prune
  .github/actions/prune-repository/prune.py
  .github/actions/prune-repository/prune_test.py
Due: none

Restore prospective runbook elicitation baseline
  apps/brunch-agent/package.json
  apps/brunch-agent/src/runbook-elicitation-run.ts
  apps/brunch-agent/test/runbook-elicitation-faux-expert.ts
  apps/brunch-agent/test/runbook-elicitation-faux-provider.ts
  apps/brunch-agent/test/runbook-elicitation.test.ts
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/README.md
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/vestera-ir-quality-calibration-v1/calibration-adjudication.md
  libs/@hashintel/brunch-agent/evaluations/README.md
  libs/@hashintel/brunch-agent/evaluations/oracles/ir-quality-ruler-v1.md
  libs/@hashintel/brunch-agent/evaluations/protocols/prospective-runbook-v1/protocol.md
Due: markdownlint, biome, yarn

Register Mission 3 substrate test entries
  libs/@hashintel/brunch-agent/packages/core/test/architecture/boundaries.test.ts
Due: biome

detailed research reports from research I
  libs/@hashintel/brunch-agent/docs/research/elicitation/capture-ir-seam-synthesis-cursor-2026-08-28.md
  libs/@hashintel/brunch-agent/docs/research/elicitation/ir-obligations-synthesis-cursor-2026-08-28.md
  libs/@hashintel/brunch-agent/docs/research/elicitation/sdcpn-investigation-synthesis-cursor-2026-08-28.md
  libs/@hashintel/brunch-agent/docs/research/elicitation/universal-elicitation-synthesis-cursor-2026-08-28.md
Due: markdownlint, biome

Close Mission 3 with prospective baseline evidence
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/vestera-prospective-baseline-v1/campaign-adjudication.md
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/vestera-prospective-baseline-v1/replication-1-runtime-failure.md
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/vestera-prospective-baseline-v1/runbook-elicitation-2026-08-31T10-50-28-709Z-20a4817f.cold.md
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/vestera-prospective-baseline-v1/runbook-elicitation-2026-08-31T10-50-28-709Z-20a4817f.ir.md
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/vestera-prospective-baseline-v1/runbook-elicitation-2026-08-31T10-50-28-709Z-20a4817f.json
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/vestera-prospective-baseline-v1/runbook-elicitation-2026-08-31T10-50-28-709Z-20a4817f.md
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/vestera-prospective-baseline-v1/runbook-elicitation-2026-08-31T10-50-28-709Z-20a4817f.omniscient.md
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/vestera-prospective-baseline-v1/runbook-elicitation-2026-08-31T10-56-34-754Z-4b75737c.cold.md
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/vestera-prospective-baseline-v1/runbook-elicitation-2026-08-31T10-56-34-754Z-4b75737c.ir.md
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/vestera-prospective-baseline-v1/runbook-elicitation-2026-08-31T10-56-34-754Z-4b75737c.json
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/vestera-prospective-baseline-v1/runbook-elicitation-2026-08-31T10-56-34-754Z-4b75737c.md
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/vestera-prospective-baseline-v1/runbook-elicitation-2026-08-31T10-56-34-754Z-4b75737c.omniscient.md
  libs/@hashintel/brunch-agent/docs/mission-archive/3-structurally-typed-runbook-to-headless-pn.md
Due: markdownlint, biome

Express Brunch test fixtures in the Turbo graph
  .github/actions/prune-repository/prune.py
  .github/actions/prune-repository/prune_test.py
  libs/@hashintel/brunch-agent/packages/core/turbo.json
Due: biome

Freeze elicitation-to-IR grader ruler v1
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/process-model-elicitation/ir-quality-calibration-v1/calibration-adjudication.md
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/process-model-elicitation/ir-quality-calibration-v1/runbook-headless-2026-08-28T10-56-59-351Z.cold.md
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/process-model-elicitation/ir-quality-calibration-v1/runbook-headless-2026-08-28T10-56-59-351Z.omniscient.md
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/process-model-elicitation/ir-quality-calibration-v1/runbook-headless-2026-08-28T11-03-53-683Z.cold.md
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/process-model-elicitation/ir-quality-calibration-v1/runbook-headless-2026-08-28T11-03-53-683Z.omniscient.md
  libs/@hashintel/brunch-agent/evaluations/oracles/process-model-elicitation/ir-quality/ruler-v1.md
  libs/@hashintel/brunch-agent/evaluations/oracles/process-model-elicitation/vestera-baseline/truth-ledger-v0-retrospective.yaml
  libs/@hashintel/brunch-agent/evaluations/oracles/process-model-elicitation/vestera-baseline/truth-ledger-v1-prospective.yaml
  libs/@hashintel/brunch-agent/evaluations/protocols/process-model-elicitation/ir-quality-calibration-v1/cold-ir-reviewer.md
  libs/@hashintel/brunch-agent/evaluations/protocols/process-model-elicitation/ir-quality-calibration-v1/omniscient-grader.md
  libs/@hashintel/brunch-agent/evaluations/protocols/process-model-elicitation/ir-quality-calibration-v1/protocol.md
Due: markdownlint, biome

Synthesize elicitation research and reframe successor missions
  libs/@hashintel/brunch-agent/MISSION.next.md
  libs/@hashintel/brunch-agent/docs/archive/research/elicitation/2026-08-28-ensembles/capture-ir-seam-synthesis-cursor-2026-08-28.md
  libs/@hashintel/brunch-agent/docs/archive/research/elicitation/2026-08-28-ensembles/capture-ir-seam-synthesis.md
  libs/@hashintel/brunch-agent/docs/archive/research/elicitation/2026-08-28-ensembles/cross-mission-elicitation-digest-2026-08-28.md
  libs/@hashintel/brunch-agent/docs/archive/research/elicitation/2026-08-28-ensembles/ir-obligations-synthesis-cursor-2026-08-28.md
  libs/@hashintel/brunch-agent/docs/archive/research/elicitation/2026-08-28-ensembles/ir-obligations-synthesis.md
  libs/@hashintel/brunch-agent/docs/archive/research/elicitation/2026-08-28-ensembles/runbook-teaching-synthesis.md
  libs/@hashintel/brunch-agent/docs/archive/research/elicitation/2026-08-28-ensembles/sdcpn-investigation-synthesis-cursor-2026-08-28.md
  libs/@hashintel/brunch-agent/docs/archive/research/elicitation/2026-08-28-ensembles/sdcpn-investigation-synthesis.md
  libs/@hashintel/brunch-agent/docs/archive/research/elicitation/2026-08-28-ensembles/universal-elicitation-synthesis-cursor-2026-08-28.md
  libs/@hashintel/brunch-agent/docs/archive/research/elicitation/2026-08-28-ensembles/universal-elicitation-synthesis.md
  libs/@hashintel/brunch-agent/docs/research/elicitation/elicitation-research-synthesis-2026-08-31.md
Due: markdownlint, biome

Preserve nested validation issue paths
  apps/brunch-agent/src/tools/petrinaut-construction.ts
  apps/brunch-agent/test/petrinaut-construction-tools.test.ts
Due: biome

Resolve runbook proof review findings
  apps/brunch-agent/src/runbook-artifacts.ts
  apps/brunch-agent/src/runbook-elicitation-run.ts
  apps/brunch-agent/test/runbook-artifacts.test.ts
  apps/brunch-agent/test/runbook-elicitation-faux-expert.ts
  apps/brunch-agent/test/runbook-elicitation.test.ts
  apps/brunch-agent/test/runbook-headless.integration.ts
  apps/brunch-agent/test/runbook-headless.test.ts
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/README.md
  libs/@hashintel/brunch-agent/docs/research/elicitation/elicitation-research-synthesis-2026-08-31.md
  libs/@hashintel/brunch-agent/evaluations/README.md
  libs/@hashintel/brunch-agent/evaluations/protocols/prospective-runbook-v1/protocol.md
Due: markdownlint, biome

Specialize runbook IR fence recovery
  apps/brunch-agent/src/runbook-artifacts.ts
  apps/brunch-agent/test/runbook-artifacts.test.ts
Due: biome

Move Brunch architecture checks to app tests
  .github/actions/prune-repository/prune.py
  .github/actions/prune-repository/prune_test.py
  apps/brunch-agent/docs/task-dependencies.json
  apps/brunch-agent/test/architecture/boundaries.integration.ts
  apps/brunch-agent/test/architecture/workspace.test.ts
  apps/brunch-agent/test/architecture/workspace.ts
  apps/brunch-agent/turbo.json
  libs/@hashintel/brunch-agent/packages/core/docs/task-dependencies.json
  libs/@hashintel/brunch-agent/packages/core/test/architecture/baseline-runner.test.ts
  libs/@hashintel/brunch-agent/packages/core/test/architecture/context-root.ts
  libs/@hashintel/brunch-agent/packages/core/test/architecture/linear-project-graph.test.ts
  libs/@hashintel/brunch-agent/packages/core/test/plugin-definition.test.ts
  libs/@hashintel/brunch-agent/packages/core/turbo.json
Due: biome

Add Petrinaut Voice Loom script
  docs/superpowers/specs/2026-09-03-petrinaut-voice-loom-script-design.md
Due: markdownlint, biome

Expose current Petrinaut net context to Brunch
  apps/brunch-agent/src/agents/chat-agent.ts
  apps/brunch-agent/src/client-tool.ts
  apps/brunch-agent/src/tools/get-latest-net-definition.ts
  apps/brunch-agent/test/petrinaut-chat-result.ts
  apps/brunch-agent/test/petrinaut-chat.integration.ts
  apps/brunch-agent/test/petrinaut-chat.test.ts
Due: biome

Use camelCase for net client tool name
  apps/brunch-agent/src/agents/chat-agent.ts
  apps/brunch-agent/src/tools/get-latest-net-definition.ts
Due: biome

Make Petrinaut Voice demo reproducible
  docs/superpowers/specs/2026-09-03-petrinaut-voice-loom-script-design.md
Due: markdownlint, biome

Correct Petrinaut Voice demo sequence
  docs/superpowers/specs/2026-09-03-petrinaut-voice-loom-script-design.md
Due: markdownlint, biome

FE-1526: Enumerate weighted-arc token combinations lazily (#9386)
  .changeset/lazy-weighted-arc-enumeration.md
  libs/@hashintel/petrinaut-core/benchmarks/coloured-enumeration.mjs
  libs/@hashintel/petrinaut-core/src/simulation/engine/enumerate-weighted-markings.test.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/enumerate-weighted-markings.ts
  libs/@hashintel/petrinaut-core/src/webgpu/pair-selection.test.ts
  libs/@local/petrinaut-arch-docs/content/simulation/performance.mdx
Due: markdownlint, biome

Path conditions:
  markdownlint: any of: *.md
  biome: any of: *.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}
  yarn: any of: {*/package.json, package.json}
  sqlfluff: any of: *.sql
  rust: any of: *.rs
  toml: any of: *.toml
