Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, prettier, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: yarn run markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    prettier:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: yarn run prettier --write {staged_files} || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:packagejson && yarn fix:yarn-deduplicate
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: cargo fmt -- {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: yarn run taplo format {staged_files} || true
      stage_fixed: true

feat: improve errors
  libs/@local/hashql/ast/src/lowering/special_form_expander/error.rs
  libs/@local/hashql/ast/src/lowering/special_form_expander/mod.rs
Due: rust

feat: lower expr to type
  libs/@local/hashql/ast/src/lowering/special_form_expander/error.rs
  libs/@local/hashql/ast/src/lowering/special_form_expander/mod.rs
Due: rust

feat: setup test infra
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/.spec.toml
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/does-not-touch-non-kernel.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/does-not-touch-non-kernel.stdout
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/special-form-too-long.jsonc
  libs/@local/hashql/compiletest/src/suite/ast_lowering_special_form_expander.rs
  libs/@local/hashql/compiletest/src/suite/mod.rs
Due: rust, toml

feat: check if
  libs/@local/hashql/ast/src/lowering/special_form_expander/error.rs
  libs/@local/hashql/ast/src/lowering/special_form_expander/mod.rs
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/if-1.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/if-1.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/if-2.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/if-2.stdout
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/if-3.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/if-3.stdout
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/if-4.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/if-4.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/labeled-argument.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/unknown-special-form-typo.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/unknown-special-form-typo.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/unknown-special-form.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/unknown-special-form.stderr
Due: rust

feat: lower expr to type call
  libs/@local/hashql/ast/src/lowering/special_form_expander/mod.rs
Due: rust

feat: error cleanup
  libs/@local/hashql/ast/src/lowering/special_form_expander/error.rs
  libs/@local/hashql/ast/src/lowering/special_form_expander/mod.rs
Due: rust

test: type expression
  libs/@local/hashql/ast/src/lowering/special_form_expander/error.rs
  libs/@local/hashql/ast/src/lowering/special_form_expander/mod.rs
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/is-1.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/is-1.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/is-2.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/is-2.stdout
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/is-3.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/is-3.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-expr-call-arbitrary.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-expr-call-arbitrary.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-expr-call-intersection.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-expr-call-intersection.stdout
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-expr-call-not-path.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-expr-call-not-path.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-expr-call-union.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-expr-call-union.stdout
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-expr-invalid.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-expr-invalid.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-expr-struct.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-expr-struct.stdout
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-expr-tuple.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-expr-tuple.stdout
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/unknown-special-form-typo.stderr
Due: rust

feat: impl + test let
  libs/@local/hashql/ast/src/lowering/special_form_expander/error.rs
  libs/@local/hashql/ast/src/lowering/special_form_expander/mod.rs
  libs/@local/hashql/ast/src/node/path.rs
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/let-2.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/let-2.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/let-3.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/let-3.stdout
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/let-4.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/let-4.stdout
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/let-5.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/let-5.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/let-argument-not-ident.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/let-argument-not-ident.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/let-argument-not-path.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/let-argument-not-path.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-expr-invalid.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-expr-invalid.stderr
Due: rust

feat: lower type and newtype
  libs/@local/hashql/ast/src/lowering/special_form_expander/mod.rs
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/newtype-2.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/newtype-2.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/newtype-3.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/newtype-3.stdout
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/newtype-4.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/newtype-4.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-2.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-2.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-3.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-3.stdout
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-4.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-4.stderr
  libs/@local/hashql/compiletest/src/executor/trial.rs
  libs/@local/hashql/compiletest/src/styles.rs
Due: rust

feat: add tests for fail-slow
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/let-collect-all-errors.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/let-collect-all-errors.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/newtype-collect-all-errors.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/newtype-collect-all-errors.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-collect-all-errors.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-collect-all-errors.stderr
Due: none

feat: add underscore expression
  libs/@local/hashql/ast/src/format/dump.rs
  libs/@local/hashql/ast/src/node/expr/mod.rs
  libs/@local/hashql/ast/src/visit.rs
  libs/@local/hashql/syntax-jexpr/src/parser/string/expr.rs
  libs/@local/hashql/syntax-jexpr/src/parser/string/snapshots/hashql_syntax_jexpr__parser__string__expr__tests__underscore.snap
  libs/@local/hashql/syntax-jexpr/src/parser/string/snapshots/hashql_syntax_jexpr__parser__string__expr__tests__underscore_identifier.snap
Due: rust

feat: lower underscore + never, lower use
  libs/@local/hashql/ast/src/lowering/special_form_expander/error.rs
  libs/@local/hashql/ast/src/lowering/special_form_expander/mod.rs
  libs/@local/hashql/ast/src/node/path.rs
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-infer.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-infer.stdout
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-never.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-never.stdout
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-unknown.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-unknown.stdout
Due: rust

feat: test cases
  libs/@local/hashql/ast/src/lowering/special_form_expander/mod.rs
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-struct-has-type.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-tuple-has-type.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/use-2.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/use-3.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/use-4.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/use-glob-not-ident.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/use-glob-not-star.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/use-glob.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/use-literal.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/use-struct-literal.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/use-struct-path.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/use-struct-type.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/use-struct.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/use-tuple-literal.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/use-tuple-path.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/use-tuple-type.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/use-tuple.jsonc
Due: rust

feat: errors
  libs/@local/hashql/ast/src/lowering/special_form_expander/error.rs
  libs/@local/hashql/ast/src/lowering/special_form_expander/mod.rs
Due: rust

test: snapshots
  libs/@local/hashql/ast/src/lowering/special_form_expander/mod.rs
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-struct-has-type.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-struct-has-type.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-tuple-has-type.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-tuple-has-type.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/use-2.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/use-3.stdout
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/use-4.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/use-glob-not-ident.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/use-glob-not-ident.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/use-glob-not-star.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/use-glob-not-star.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/use-glob.stdout
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/use-literal.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/use-literal.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/use-struct-literal.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/use-struct-literal.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/use-struct-path.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/use-struct-path.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/use-struct-type.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/use-struct-type.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/use-struct.stdout
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/use-tuple-literal.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/use-tuple-literal.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/use-tuple-path.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/use-tuple-path.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/use-tuple-type.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/use-tuple-type.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/use-tuple.stdout
  libs/@local/hashql/core/src/span/storage.rs
  libs/@local/hashql/syntax-jexpr/src/parser/string/context.rs
  libs/@local/hashql/syntax-jexpr/src/parser/string/type.rs
Due: rust

docs: change how functions are parsed
  libs/@local/hashql/ast/src/node/expr/mod.rs
Due: rust

feat: implement fn parsing
  libs/@local/hashql/ast/src/format/dump.rs
  libs/@local/hashql/ast/src/lowering/special_form_expander/error.rs
  libs/@local/hashql/ast/src/lowering/special_form_expander/mod.rs
  libs/@local/hashql/ast/src/node/expr/closure.rs
  libs/@local/hashql/ast/src/visit.rs
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/fn-3.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/fn-4.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/fn-5.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/fn-generics-literal.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/fn-generics-struct-literal.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/fn-generics-struct-underscore.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/fn-generics-struct.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/fn-generics-tuple-literal.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/fn-generics-tuple-path.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/fn-generics-tuple-type.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/fn-generics-tuple.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/fn-params-tuple.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/fn-params-type.jsonc
Due: rust

feat: add errors
  libs/@local/hashql/ast/src/lowering/special_form_expander/error.rs
  libs/@local/hashql/ast/src/lowering/special_form_expander/mod.rs
Due: rust

fix: help formatting
  libs/@local/hashql/ast/src/lowering/special_form_expander/error.rs
Due: rust

chore: tests
  libs/@local/hashql/ast/src/lowering/special_form_expander/mod.rs
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/fn-3.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/fn-4.stdout
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/fn-5.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/fn-generics-literal.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/fn-generics-literal.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/fn-generics-struct-literal.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/fn-generics-struct-literal.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/fn-generics-struct-type.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/fn-generics-struct-type.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/fn-generics-struct-underscore.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/fn-generics-struct-underscore.stdout
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/fn-generics-struct.stdout
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/fn-generics-tuple-literal.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/fn-generics-tuple-literal.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/fn-generics-tuple-path.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/fn-generics-tuple-path.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/fn-generics-tuple-type.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/fn-generics-tuple.stdout
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/fn-params-tuple.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/fn-params-tuple.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/fn-params-type.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/fn-params-type.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/use-glob-not-ident.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/use-glob-not-star.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/use-literal.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/use-struct-literal.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/use-struct-path.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/use-tuple-literal.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/use-tuple-path.stderr
Due: rust

feat: generalize error struct
  libs/@local/hashql/ast/src/lowering/special_form_expander/error.rs
  libs/@local/hashql/ast/src/lowering/special_form_expander/mod.rs
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/let-argument-not-ident.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/let-argument-not-path.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/let-collect-all-errors.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/newtype-collect-all-errors.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-collect-all-errors.stderr
Due: rust

feat: implement input
  libs/@local/hashql/ast/src/format/dump.rs
  libs/@local/hashql/ast/src/lowering/special_form_expander/error.rs
  libs/@local/hashql/ast/src/lowering/special_form_expander/mod.rs
  libs/@local/hashql/ast/src/node/expr/input.rs
  libs/@local/hashql/ast/src/visit.rs
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/input-1.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/input-1.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/input-2.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/input-2.stdout
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/input-3.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/input-3.stdout
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/input-4.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/input-4.stderr
Due: rust

feat: finish all special forms
  libs/@local/hashql/ast/src/lowering/special_form_expander/error.rs
  libs/@local/hashql/ast/src/lowering/special_form_expander/mod.rs
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/access-1.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/access-1.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/access-2.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/access-2.stdout
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/access-3.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/access-3.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/index-1.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/index-1.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/index-2.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/index-2.stdout
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/index-3.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/index-3.stderr
Due: rust

feat: docs
  libs/@local/hashql/ast/src/lowering/special_form_expander/mod.rs
Due: rust

Update 00_index.mdx
  apps/hashdotai/guide/12_apps/00_index.mdx
Due: prettier

Create 00_index.mdx
  apps/hashdotai/guide/13_simulations/00_index.mdx
Due: prettier

rename dir
  apps/hashdotai/guide/14_account/00_index.mdx
  apps/hashdotai/guide/14_account/01_profile.mdx
  apps/hashdotai/guide/14_account/03_privacy.mdx
  apps/hashdotai/guide/14_account/06_billing.mdx
  apps/hashdotai/guide/14_account/WIP_02_security.mdx
  apps/hashdotai/guide/14_account/WIP_04_notifications.mdx
  apps/hashdotai/guide/14_account/WIP_05_personalization.mdx
  apps/hashdotai/guide/14_account/WIP_07_support.mdx
Due: prettier

chore: remove typo
  libs/@local/hashql/ast/src/lowering/special_form_expander/mod.rs
Due: rust

feat: implement runner and tests
  libs/@local/hashql/ast/src/lowering/mod.rs
  libs/@local/hashql/ast/src/lowering/node_renumberer.rs
  libs/@local/hashql/ast/tests/ui/lowering/node-renumberer/.spec.toml
  libs/@local/hashql/ast/tests/ui/lowering/node-renumberer/basic.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/node-renumberer/diverging.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/node-renumberer/nested.jsonc
  libs/@local/hashql/compiletest/src/suite/ast_lowering_node_renumberer.rs
  libs/@local/hashql/compiletest/src/suite/ast_lowering_special_form_expander.rs
  libs/@local/hashql/compiletest/src/suite/common.rs
  libs/@local/hashql/compiletest/src/suite/mod.rs
  libs/@local/hashql/core/src/id.rs
  libs/@local/hashql/diagnostics/src/diagnostic.rs
Due: rust, toml

test: 🙏 blessed be the tests
  libs/@local/hashql/ast/tests/ui/lowering/node-renumberer/basic.stdout
  libs/@local/hashql/ast/tests/ui/lowering/node-renumberer/diverging.stdout
  libs/@local/hashql/ast/tests/ui/lowering/node-renumberer/nested.stdout
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/let-argument-not-ident.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/let-collect-all-errors.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/newtype-collect-all-errors.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-collect-all-errors.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-expr-invalid.stderr
Due: none

chore: docs
  libs/@local/hashql/ast/src/lowering/node_renumberer.rs
  libs/@local/hashql/compiletest/src/suite/common.rs
Due: rust

H-4369: HashQL: NodeId re-numbering (#6902)
  libs/@local/hashql/ast/src/lowering/mod.rs
  libs/@local/hashql/ast/src/lowering/node_renumberer.rs
  libs/@local/hashql/ast/src/lowering/special_form_expander/mod.rs
  libs/@local/hashql/ast/tests/ui/lowering/node-renumberer/.spec.toml
  libs/@local/hashql/ast/tests/ui/lowering/node-renumberer/basic.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/node-renumberer/basic.stdout
  libs/@local/hashql/ast/tests/ui/lowering/node-renumberer/diverging.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/node-renumberer/diverging.stdout
  libs/@local/hashql/ast/tests/ui/lowering/node-renumberer/nested.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/node-renumberer/nested.stdout
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/let-argument-not-ident.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/let-collect-all-errors.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/newtype-collect-all-errors.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-collect-all-errors.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-expr-invalid.stderr
  libs/@local/hashql/compiletest/src/suite/ast_lowering_node_renumberer.rs
  libs/@local/hashql/compiletest/src/suite/ast_lowering_special_form_expander.rs
  libs/@local/hashql/compiletest/src/suite/common.rs
  libs/@local/hashql/compiletest/src/suite/mod.rs
  libs/@local/hashql/core/src/id.rs
  libs/@local/hashql/diagnostics/src/diagnostic.rs
Due: rust, toml

feat: first version of the name mangler
  libs/@local/hashql/ast/src/lowering/mod.rs
  libs/@local/hashql/ast/src/lowering/name_mangler.rs
  libs/@local/hashql/ast/tests/ui/lowering/name-mangler/.spec.toml
  libs/@local/hashql/ast/tests/ui/lowering/name-mangler/let-diverging.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/name-mangler/let-in-body.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/name-mangler/let-overwrite.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/name-mangler/let-simple.jsonc
  libs/@local/hashql/compiletest/src/suite/ast_lowering_node_mangler.rs
  libs/@local/hashql/compiletest/src/suite/mod.rs
  libs/@local/hashql/core/src/symbol/mod.rs
Due: rust, toml

feat: split into value and type
  libs/@local/hashql/ast/src/lowering/name_mangler.rs
  libs/@local/hashql/ast/tests/ui/lowering/name-mangler/diverging.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/name-mangler/diverging.stdout
  libs/@local/hashql/ast/tests/ui/lowering/name-mangler/let.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/name-mangler/let.stdout
  libs/@local/hashql/ast/tests/ui/lowering/name-mangler/overwrite-body.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/name-mangler/overwrite-body.stdout
  libs/@local/hashql/ast/tests/ui/lowering/name-mangler/overwrite.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/name-mangler/overwrite.stdout
  libs/@local/hashql/ast/tests/ui/lowering/name-mangler/scopes-no-include.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/name-mangler/scopes-no-include.stdout
  libs/@local/hashql/ast/tests/ui/lowering/name-mangler/simple.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/name-mangler/simple.stdout
  libs/@local/hashql/ast/tests/ui/lowering/name-mangler/type.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/name-mangler/type.stdout
Due: rust

feat+test: let + types
  libs/@local/hashql/ast/src/lowering/name_mangler.rs
  libs/@local/hashql/ast/tests/ui/lowering/name-mangler/absolute-path.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/name-mangler/absolute-path.stdout
  libs/@local/hashql/ast/tests/ui/lowering/name-mangler/let-diverging.stdout
  libs/@local/hashql/ast/tests/ui/lowering/name-mangler/let-in-body.stdout
  libs/@local/hashql/ast/tests/ui/lowering/name-mangler/let-overwrite-body.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/name-mangler/let-overwrite-body.stdout
  libs/@local/hashql/ast/tests/ui/lowering/name-mangler/let-overwrite.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/name-mangler/let-overwrite.stdout
  libs/@local/hashql/ast/tests/ui/lowering/name-mangler/let-simple.stdout
  libs/@local/hashql/ast/tests/ui/lowering/name-mangler/path-arguments.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/name-mangler/path-arguments.stdout
  libs/@local/hashql/ast/tests/ui/lowering/name-mangler/path.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/name-mangler/path.stdout
Due: rust

feat: name resolver only does first argument
  libs/@local/hashql/ast/src/lowering/name_resolver.rs
  libs/@local/hashql/ast/tests/ui/lowering/name-mangler/scopes-no-include.stdout
  libs/@local/hashql/ast/tests/ui/lowering/name-mangler/type.stdout
  libs/@local/hashql/ast/tests/ui/lowering/name-resolver/let-3-alias.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/name-resolver/let-3-alias.stdout
  libs/@local/hashql/ast/tests/ui/lowering/name-resolver/let-4-alias.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/name-resolver/let-4-alias.stdout
  libs/@local/hashql/ast/tests/ui/lowering/name-resolver/let-absolute.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/name-resolver/let-absolute.stdout
  libs/@local/hashql/ast/tests/ui/lowering/name-resolver/nested-let.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/name-resolver/nested-let.stdout
  libs/@local/hashql/ast/tests/ui/lowering/name-resolver/newtype-3-alias.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/name-resolver/newtype-3-alias.stdout
  libs/@local/hashql/ast/tests/ui/lowering/name-resolver/re-assign-prelude.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/name-resolver/re-assign-prelude.stdout
  libs/@local/hashql/ast/tests/ui/lowering/name-resolver/re-assign.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/name-resolver/re-assign.stdout
  libs/@local/hashql/ast/tests/ui/lowering/name-resolver/restoration-bindings.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/name-resolver/restoration-bindings.stdout
  libs/@local/hashql/ast/tests/ui/lowering/name-resolver/scoped.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/name-resolver/scoped.stdout
  libs/@local/hashql/ast/tests/ui/lowering/name-resolver/type-3-alias.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/name-resolver/type-3-alias.stdout
  libs/@local/hashql/compiletest/src/suite/ast_lowering_name_resolver.rs
  libs/@local/hashql/compiletest/src/suite/ast_lowering_node_mangler.rs
  libs/@local/hashql/compiletest/src/suite/ast_lowering_node_renumberer.rs
Due: rust

feat: rename + newtype value binding
  libs/@local/hashql/ast/src/lowering/name_mangler.rs
  libs/@local/hashql/ast/tests/ui/lowering/name-mangler/newtype.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/name-mangler/newtype.stdout
Due: rust
