Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, prettier, yarn, sqlfluff, rust, toml

markdownlint:
  tags:
  - frontend
  - style
  run: yarn run markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

prettier:
  tags:
  - frontend
  - style
  run: yarn run prettier --write {staged_files} || true
  stage_fixed: true

yarn:
  tags:
  - frontend
  - style
  run: yarn fix:constraints && yarn fix:packagejson && yarn fix:yarn-deduplicate
  stage_fixed: true

sqlfluff:
  tags:
  - backend
  - style
  run: sqlfluff fix {staged_files} || true
  stage_fixed: true

rust:
  tags:
  - backend
  - style
  run: cargo fmt -- {staged_files} || true
  stage_fixed: true

toml:
  tags:
  - backend
  - style
  run: yarn run taplo format {staged_files} || true
  stage_fixed: true

feat: checkpoint
  libs/@local/hashql/core/src/symbol/table.rs
Due: rust

feat: checkpoint
  libs/@local/hashql/core/src/heap/mod.rs
  libs/@local/hashql/core/src/symbol/mod.rs
  libs/@local/hashql/core/src/symbol/repr.rs
  libs/@local/hashql/core/src/symbol/sym.rs
  libs/@local/hashql/core/src/symbol/sym2.rs
  libs/@local/hashql/core/src/symbol/table.rs
Due: rust

feat: checkpoint
  libs/@local/hashql/ast/src/lowering/import_resolver/error.rs
  libs/@local/hashql/ast/src/lowering/type_extractor/error.rs
  libs/@local/hashql/core/src/heap/mod.rs
  libs/@local/hashql/core/src/symbol/mod.rs
  libs/@local/hashql/core/src/symbol/repr.rs
  libs/@local/hashql/core/src/symbol/sym.rs
  libs/@local/hashql/core/src/symbol/table.rs
  libs/@local/hashql/core/src/type/pretty.rs
  libs/@local/hashql/core/src/value/primitive/float.rs
  libs/@local/hashql/core/src/value/primitive/integer.rs
  libs/@local/hashql/core/src/value/primitive/string.rs
  libs/@local/hashql/eval/src/graph/read/path.rs
  libs/@local/hashql/hir/src/node/operation/binary.rs
  libs/@local/hashql/hir/src/node/operation/unary.rs
  libs/@local/hashql/hir/src/pretty.rs
  libs/@local/hashql/hir/src/reify/mod.rs
  libs/@local/hashql/mir/src/body/rvalue/binary.rs
  libs/@local/hashql/mir/src/pass/analysis/execution/statement_placement/lookup/entity.rs
  libs/@local/hashql/mir/src/pass/analysis/execution/statement_placement/lookup/tests.rs
  libs/@local/hashql/mir/src/pass/analysis/execution/statement_placement/lookup/trie.rs
  libs/@local/hashql/mir/src/pass/transform/inline/tests.rs
Due: rust

fix: lints
  Cargo.lock
  libs/@local/hashql/core/Cargo.toml
  libs/@local/hashql/core/src/pretty/mod.rs
  libs/@local/hashql/core/src/symbol/lookup.rs
  libs/@local/hashql/core/src/symbol/mod.rs
  libs/@local/hashql/core/src/symbol/table.rs
Due: rust, toml

Apply property masking to traversed entities in subgraph queries
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/data_type.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/entity_type.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/property_type.rs
  libs/@local/graph/postgres-store/src/store/postgres/traversal_context.rs
Due: rust

Fix property masking order in subgraph traversal
  libs/@local/graph/postgres-store/src/store/postgres/traversal_context.rs
  tests/graph/integration/postgres/email_filter_protection.rs
Due: rust

feat: benchmarking
  libs/@local/hashql/core/Cargo.toml
  libs/@local/hashql/core/benches/symbol.rs
  libs/@local/hashql/core/src/symbol/repr.rs
  libs/@local/hashql/core/src/symbol/table.rs
Due: rust, toml

fix: docs
  libs/@local/hashql/core/package.json
  libs/@local/hashql/core/src/symbol/lookup.rs
  libs/@local/hashql/core/src/symbol/mod.rs
  libs/@local/hashql/core/src/symbol/repr.rs
Due: prettier, yarn, rust

chore: use local lock for interner
  libs/@local/hashql/core/benches/symbol.rs
  libs/@local/hashql/core/src/heap/mod.rs
Due: rust

fix: benchmark naming
  libs/@local/hashql/core/benches/symbol.rs
Due: rust

chore: sync turborepo
  libs/@local/hashql/compiletest/package.json
Due: prettier, yarn

chore: lockfile
  yarn.lock
Due: none

SRE-415: Fix vercel not building (#8342)
  apps/hash-frontend/vercel-build.sh
Due: none

Extract user entity type check into isUserEntity helper function
  apps/hash-api/src/graph/knowledge/system-types/user.ts
  libs/@local/graph/postgres-store/src/store/postgres/query/compile.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/expression/conditional.rs
  tests/graph/integration/postgres/email_filter_protection.rs
Due: prettier, rust

Use type-only imports in workflows.ts for clarity
  apps/hash-ai-worker-ts/src/workflows.ts
Due: prettier

Remove private IP exceptions from Kratos dev config for webhooks
  apps/hash-external-services/kratos/kratos.dev.yml
Due: prettier

chore: remove superflous panic hook
  libs/@local/hashql/compiletest/src/runner/mod.rs
Due: rust

chore: imports
  libs/@local/hashql/compiletest/src/runner/mod.rs
Due: rust

fix: graph read support
  libs/@local/hashql/mir/src/pass/analysis/execution/statement_placement/common.rs
  libs/@local/hashql/mir/src/pass/analysis/execution/statement_placement/postgres/tests.rs
  libs/@local/hashql/mir/tests/ui/pass/execution/statement_placement/postgres/graph_read_edge_unsupported.snap
Due: rust

chore: document macro
  libs/@local/hashql/core/src/symbol/sym.rs
Due: rust

Path conditions:
  markdownlint: any of: *.md
  prettier: any of: *.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}
  yarn: any of: {*/package.json, package.json}
  sqlfluff: any of: *.sql
  rust: any of: *.rs
  toml: any of: *.toml
