Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, prettier, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: yarn run markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    prettier:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: yarn run prettier --write {staged_files} || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:packagejson && yarn fix:yarn-deduplicate
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: cargo fmt -- {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: yarn run taplo format {staged_files} || true
      stage_fixed: true

BE-310: Add ActorId support for self-exclusion bypass in filter protection
  apps/hash-graph/src/subcommand/snapshot.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/pool.rs
  libs/@local/graph/store/src/filter/mod.rs
  libs/@local/graph/store/src/filter/parameter.rs
  libs/@local/graph/store/src/filter/protection.rs
  tests/graph/integration/postgres/email_filter_protection.rs
Due: rust

H-5770: Add Motion animations to BottomBar for smooth width transitions
  libs/@hashintel/petrinaut/package.json
  libs/@hashintel/petrinaut/src/views/Editor/components/BottomBar/bottom-bar.tsx
  libs/@hashintel/petrinaut/src/views/Editor/components/BottomBar/simulation-controls.tsx
Due: prettier, yarn

H-5770: Update yarn.lock for motion dependency
  yarn.lock
Due: none

establish radix color mapping story
  libs/@hashintel/ds-helpers/package.json
  libs/@hashintel/ds-helpers/stories/colors.radix-mapping.story.tsx
  libs/@hashintel/ds-helpers/stories/theme.stories.ts
  yarn.lock
Due: prettier, yarn

map radix solids to hash solids
  libs/@hashintel/ds-helpers/stories/colors.radix-mapping.story.tsx
Due: prettier

map radix alphas to hash solids
  libs/@hashintel/ds-helpers/stories/colors.radix-mapping.story.tsx
Due: prettier

capture findings on park-ui porting options
  libs/@hashintel/ds-components/_ai/park-ui-porting-guide.md
  libs/@hashintel/ds-components/_ai/park-ui-token-structure.mmd
Due: markdownlint, prettier

BE-310: Add property masking in SELECT statements
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/compile.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/expression/conditional.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/property_masking.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/statement/select.rs
  libs/@local/graph/store/src/filter/protection.rs
  tests/graph/integration/postgres/email_filter_protection.rs
Due: rust

feat: shuffle things around
  Cargo.toml
  libs/@local/hashql/mir/src/pass/analysis/execution/cost.rs
  libs/@local/hashql/mir/src/pass/analysis/execution/mod.rs
  libs/@local/hashql/mir/src/pass/analysis/execution/statement_placement/embedding.rs
  libs/@local/hashql/mir/src/pass/analysis/execution/statement_placement/interpret.rs
  libs/@local/hashql/mir/src/pass/analysis/execution/statement_placement/mod.rs
  libs/@local/hashql/mir/src/pass/analysis/execution/statement_placement/postgres/mod.rs
  libs/@local/hashql/mir/src/pass/analysis/execution/statement_placement/postgres/trie.rs
  libs/@local/hashql/mir/src/pass/analysis/mod.rs
  libs/@local/hashql/mir/src/pass/analysis/partioning/mod.rs
Due: rust, toml

feat: shuffle things around
  libs/@local/hashql/mir/src/pass/analysis/execution/cost.rs
  libs/@local/hashql/mir/src/pass/analysis/execution/mod.rs
  libs/@local/hashql/mir/src/pass/analysis/execution/statement_placement/embedding.rs
  libs/@local/hashql/mir/src/pass/analysis/execution/statement_placement/interpret.rs
  libs/@local/hashql/mir/src/pass/analysis/execution/statement_placement/mod.rs
  libs/@local/hashql/mir/src/pass/analysis/execution/statement_placement/postgres/mod.rs
  libs/@local/hashql/mir/src/pass/analysis/execution/statement_placement/postgres/trie.rs
  libs/@local/hashql/mir/src/pass/analysis/mod.rs
  libs/@local/hashql/mir/src/pass/analysis/partioning/mod.rs
Due: rust

WIP: BE-310 embedding filtering
  libs/@blockprotocol/type-system/rust/src/knowledge/property/object.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/store/src/filter/protection.rs
Due: rust

make minimap slightly bigger, add colours
  libs/@hashintel/petrinaut/src/views/SDCPN/components/mini-map.tsx
Due: prettier

feat: checkpoint
  libs/@local/hashql/mir/src/lib.rs
  libs/@local/hashql/mir/src/pass/analysis/execution/cost.rs
  libs/@local/hashql/mir/src/pass/analysis/execution/mod.rs
  libs/@local/hashql/mir/src/pass/analysis/execution/statement_placement/embedding.rs
  libs/@local/hashql/mir/src/pass/analysis/execution/statement_placement/interpret.rs
  libs/@local/hashql/mir/src/pass/analysis/execution/statement_placement/lookup/entity.rs
  libs/@local/hashql/mir/src/pass/analysis/execution/statement_placement/lookup/mod.rs
  libs/@local/hashql/mir/src/pass/analysis/execution/statement_placement/lookup/trie.rs
  libs/@local/hashql/mir/src/pass/analysis/execution/statement_placement/mod.rs
  libs/@local/hashql/mir/src/pass/analysis/execution/statement_placement/postgres.rs
  libs/@local/hashql/mir/src/pass/analysis/execution/statement_placement/postgres/entity_access.rs
Due: rust

restore deleted comment
  libs/@hashintel/petrinaut/src/views/SDCPN/components/mini-map.tsx
Due: prettier

Improve type dropdown UX and simplify CodeEditor tooltip
  libs/@hashintel/petrinaut/src/components/button.tsx
  libs/@hashintel/petrinaut/src/components/code-editor.tsx
  libs/@hashintel/petrinaut/src/components/tooltip.tsx
  libs/@hashintel/petrinaut/src/views/Editor/panels/PropertiesPanel/differential-equation-properties.tsx
  libs/@hashintel/petrinaut/src/views/Editor/panels/PropertiesPanel/type-properties.tsx
  libs/@hashintel/petrinaut/src/views/Editor/subviews/place-initial-state.tsx
Due: prettier

H-5976: Fix display of tooltips for readonly inputs (#8285)
  .changeset/fix-readonly-tooltips.md
  libs/@hashintel/petrinaut/src/components/button.tsx
  libs/@hashintel/petrinaut/src/components/code-editor.tsx
  libs/@hashintel/petrinaut/src/components/disabled-tooltip.tsx
  libs/@hashintel/petrinaut/src/components/hoc/with-tooltip.tsx
  libs/@hashintel/petrinaut/src/components/icon-button.tsx
  libs/@hashintel/petrinaut/src/components/input.tsx
  libs/@hashintel/petrinaut/src/components/number-input.tsx
  libs/@hashintel/petrinaut/src/components/segment-group.tsx
  libs/@hashintel/petrinaut/src/components/select.tsx
  libs/@hashintel/petrinaut/src/components/slider.tsx
  libs/@hashintel/petrinaut/src/components/switch.tsx
  libs/@hashintel/petrinaut/src/components/tooltip.tsx
  libs/@hashintel/petrinaut/src/constants/ui-messages.ts
  libs/@hashintel/petrinaut/src/state/use-is-read-only.ts
  libs/@hashintel/petrinaut/src/views/Editor/components/BottomBar/toolbar-button.tsx
  libs/@hashintel/petrinaut/src/views/Editor/components/mode-selector.tsx
  libs/@hashintel/petrinaut/src/views/Editor/panels/PropertiesPanel/differential-equation-properties.tsx
  libs/@hashintel/petrinaut/src/views/Editor/panels/PropertiesPanel/parameter-properties.tsx
  libs/@hashintel/petrinaut/src/views/Editor/panels/PropertiesPanel/place-properties.tsx
  libs/@hashintel/petrinaut/src/views/Editor/panels/PropertiesPanel/sortable-arc-item.tsx
  libs/@hashintel/petrinaut/src/views/Editor/panels/PropertiesPanel/transition-properties.tsx
  libs/@hashintel/petrinaut/src/views/Editor/panels/PropertiesPanel/type-properties.tsx
  libs/@hashintel/petrinaut/src/views/Editor/subviews/differential-equations-list.tsx
  libs/@hashintel/petrinaut/src/views/Editor/subviews/parameters-list.tsx
  libs/@hashintel/petrinaut/src/views/Editor/subviews/place-initial-state.tsx
  libs/@hashintel/petrinaut/src/views/Editor/subviews/types-list.tsx
  libs/@hashintel/petrinaut/src/views/SDCPN/sdcpn-view.tsx
Due: markdownlint, prettier

feat: checkpoint
  libs/@local/hashql/mir/src/pass/analysis/execution/statement_placement/common.rs
  libs/@local/hashql/mir/src/pass/analysis/execution/statement_placement/embedding.rs
  libs/@local/hashql/mir/src/pass/analysis/execution/statement_placement/lookup/mod.rs
  libs/@local/hashql/mir/src/pass/analysis/execution/statement_placement/mod.rs
  libs/@local/hashql/mir/src/pass/analysis/execution/statement_placement/postgres.rs
Due: rust

dashboard UI improvements, AI action tweaks
  apps/hash-ai-worker-ts/src/activities/flow-activities/analyze-entity-data-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/generate-chart-config-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/generate-structural-query-action.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/anthropic-client.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/092-create-dashboard-types.dev.migration.ts
  apps/hash-api/src/graph/knowledge/system-types/dashboard.ts
  apps/hash-api/src/graphql/resolvers/knowledge/dashboard.ts
  apps/hash-frontend/src/pages/dashboard/[dashboard-id].page.tsx
  apps/hash-frontend/src/pages/dashboard/[dashboard-id].page/dashboard-grid.tsx
  apps/hash-frontend/src/pages/dashboard/[dashboard-id].page/dashboard-item-content.tsx
  apps/hash-frontend/src/pages/dashboard/[dashboard-id].page/dashboard-item.tsx
  apps/hash-frontend/src/pages/dashboard/[dashboard-id].page/item-config-modal.tsx
  apps/hash-frontend/src/pages/dashboard/[dashboard-id].page/item-config-modal/code-editor.tsx
  apps/hash-frontend/src/pages/dashboard/[dashboard-id].page/item-config-modal/config-accordion.tsx
  apps/hash-frontend/src/pages/dashboard/hooks/use-dashboard-item-config.ts
  libs/@local/hash-isomorphic-utils/src/dashboard-types.ts
  libs/@local/hash-isomorphic-utils/src/flows/frontend-flow-definitions.ts
Due: prettier

feat: checkpoint
  libs/@local/hashql/mir/src/pass/analysis/execution/cost.rs
  libs/@local/hashql/mir/src/pass/analysis/execution/iter.rs
  libs/@local/hashql/mir/src/pass/analysis/execution/mod.rs
  libs/@local/hashql/mir/src/pass/analysis/execution/statement_placement/common.rs
  libs/@local/hashql/mir/src/pass/analysis/execution/statement_placement/embedding.rs
  libs/@local/hashql/mir/src/pass/analysis/execution/statement_placement/interpret.rs
  libs/@local/hashql/mir/src/pass/analysis/execution/statement_placement/postgres.rs
  libs/@local/hashql/mir/src/pass/analysis/execution/target.rs
  libs/@local/hashql/mir/src/pass/transform/traversal_extraction/mod.rs
Due: rust

chore: checkpoint
  libs/@local/hashql/mir/src/pass/analysis/execution/statement_placement/embedding.rs
  libs/@local/hashql/mir/src/pass/analysis/execution/statement_placement/interpret.rs
  libs/@local/hashql/mir/src/pass/analysis/execution/statement_placement/lookup/entity.rs
  libs/@local/hashql/mir/src/pass/analysis/execution/statement_placement/mod.rs
  libs/@local/hashql/mir/src/pass/analysis/execution/statement_placement/postgres.rs
Due: rust

Remove visibleViewport dependency from MiniMap
  libs/@hashintel/petrinaut/src/state/editor-context.ts
  libs/@hashintel/petrinaut/src/state/editor-provider.tsx
  libs/@hashintel/petrinaut/src/views/SDCPN/components/mini-map.tsx
Due: prettier

Extract MiniMap to separate component with custom styling
  libs/@hashintel/petrinaut/src/views/SDCPN/components/mini-map.tsx
  libs/@hashintel/petrinaut/src/views/SDCPN/sdcpn-view.tsx
Due: prettier

Add visible viewport to EditorContext and display ReactFlow MiniMap
  libs/@hashintel/petrinaut/src/state/editor-context.ts
  libs/@hashintel/petrinaut/src/state/editor-provider.tsx
  libs/@hashintel/petrinaut/src/views/SDCPN/sdcpn-view.tsx
Due: prettier

Position MiniMap at top-right, offset by properties panel
  libs/@hashintel/petrinaut/src/views/SDCPN/components/mini-map.tsx
Due: prettier

Add MiniMap colours, tweak size/ratio (#8335)
  libs/@hashintel/petrinaut/src/views/SDCPN/components/mini-map.tsx
Due: prettier

Use design token for MiniMap border radius
  libs/@hashintel/petrinaut/src/views/SDCPN/components/mini-map.tsx
Due: prettier

feat: checkpoint
  libs/@local/hashql/mir/src/pass/analysis/execution/statement_placement/common.rs
  libs/@local/hashql/mir/src/pass/analysis/execution/statement_placement/embedding.rs
  libs/@local/hashql/mir/src/pass/analysis/execution/statement_placement/postgres.rs
Due: rust
