Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    biome:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: biome format --write --staged || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: rustfmt {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: taplo format {staged_files} || true
      stage_fixed: true

chore: reflow comments to 80 char line width
  libs/@local/graph/atlas/benches/backfill_walk.rs
  libs/@local/graph/atlas/benches/math_kernels.rs
  libs/@local/graph/atlas/benches/miner_index.rs
  libs/@local/graph/atlas/benches/relation_build.rs
  libs/@local/graph/atlas/src/cli/serve.rs
  libs/@local/graph/atlas/src/cli/tui/render/loss.rs
  libs/@local/graph/atlas/src/cli/tui/render/map.rs
  libs/@local/graph/atlas/src/math/dsquare/tests.rs
  libs/@local/graph/atlas/src/salt/fit/tests.rs
  libs/@local/graph/atlas/src/salt/knn/tests.rs
  libs/@local/graph/atlas/src/salt/landmark/layout.rs
  libs/@local/graph/atlas/src/salt/lod/bench.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/solver/solve.rs
  libs/@local/graph/atlas/src/salt/wire/fixtures.rs
  libs/@local/graph/atlas/src/serve/error.rs
  libs/@local/graph/atlas/src/serve/open.rs
Due: rust

fix: clippy
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/solver/solve.rs
Due: rust

Reduce to the minimal Kratos actor ID provisioning
  apps/hash-api/src/auth/create-auth-handlers.test.ts
  apps/hash-api/src/auth/create-auth-handlers.ts
  apps/hash-api/src/auth/ory-kratos.ts
  apps/hash-api/src/graph/knowledge/system-types/user.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/user.test.ts
Due: biome

Store the actor ID in public Kratos metadata
  apps/hash-api/src/auth/ory-kratos.ts
  apps/hash-api/src/graph/knowledge/system-types/user.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/user.test.ts
Due: biome

yarn
  yarn.lock
Due: none

Regenerate yarn.lock for sanitize-html 2.17.5 bump
  yarn.lock
Due: none

SRE-896: Bump brace-expansion to patched backport versions
  yarn.lock
Due: none

BE-729: Provision Graph actor IDs in Kratos (#9143)
  apps/hash-api/src/auth/create-auth-handlers.ts
  apps/hash-api/src/auth/ory-kratos.ts
  apps/hash-api/src/graph/knowledge/system-types/user.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/user.test.ts
Due: biome

chore: clarify documentation and comments in atlas
  libs/@local/graph/atlas/src/math/dvecn/mod.rs
  libs/@local/graph/atlas/src/math/similarity/mod.rs
  libs/@local/graph/atlas/src/math/vec2/mod.rs
  libs/@local/graph/atlas/src/math/vecn/mod.rs
  libs/@local/graph/atlas/src/salt/knn/hannoy.rs
  libs/@local/graph/atlas/src/salt/knn/table.rs
  libs/@local/graph/atlas/src/salt/policy/annotation/assembly/mod.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/solver/evaluate.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/solver/solve.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/solver/terminal.rs
  libs/@local/graph/atlas/src/salt/policy/mod.rs
  libs/@local/graph/atlas/src/salt/projector/scale/mod.rs
  libs/@local/graph/atlas/src/serve/cache.rs
Due: rust

SRE-844: Fix span semantics in Node API instrumentation (#9131)
  apps/hash-api/src/auth/create-auth-handlers.ts
  apps/hash-api/src/graphql/create-apollo-server.ts
  apps/hash-api/src/instrument.mjs
  libs/@local/hash-backend-utils/src/opentelemetry.test.ts
  libs/@local/hash-backend-utils/src/opentelemetry.ts
Due: biome

BE-708: Keep the messages Postgres sends outside a statement's results
  Cargo.lock
  Cargo.toml
  infra/compose/postgres/init-user-db.sh
  infra/compose/postgres/postgresql.conf
  libs/@local/graph/postgres-store/Cargo.toml
  libs/@local/graph/postgres-store/src/lib.rs
  libs/@local/graph/postgres-store/src/plan_analysis.rs
  libs/@local/graph/postgres-store/src/store/postgres/connection.rs
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/pool.rs
  libs/@local/graph/postgres-store/tests/connection/main.rs
Due: rust, toml

BE-708: Give the store its own transaction API
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/postgres-store/tests/connection/main.rs
  libs/@local/graph/postgres-store/tests/deletion/main.rs
  libs/@local/graph/postgres-store/tests/principals/actions.rs
  libs/@local/graph/postgres-store/tests/principals/main.rs
  tests/graph/benches/read_scaling/knowledge/complete/entity.rs
  tests/graph/benches/read_scaling/knowledge/linkless/entity.rs
  tests/graph/benches/representative_read/seed.rs
  tests/graph/integration/postgres/lib.rs
  tests/graph/integration/postgres/transaction.rs
Due: rust

BE-708: Ask Postgres for diagnostics when beginning a transaction
  libs/@local/graph/postgres-store/src/store/postgres/connection.rs
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/postgres-store/tests/connection/main.rs
Due: rust

Remove useless test
  libs/@local/graph/postgres-store/tests/connection/main.rs
Due: rust

SRE-881: Drop --with-deps from the Install playwright CI step
  .github/workflows/test.yml
Due: biome

BE-708: Read the plans of the statements an endpoint runs
  libs/@local/graph/postgres-store/src/store/postgres/connection.rs
  libs/@local/graph/postgres-store/tests/connection/main.rs
  tests/graph/integration/postgres/table.rs
Due: rust

Update Rust toolchains to nightly-2026-08-03
  .config/mise/mise.lock
  libs/error-stack/README.md
  libs/error-stack/macros/README.md
  libs/error-stack/src/lib.rs
  libs/error-stack/tests/ui/macro_invalid_args.stderr
  rust-toolchain.toml
Due: markdownlint, biome, rust, toml

update @hono/node-server
  yarn.lock
Due: none

update body-parser
  yarn.lock
Due: none

SRE-881: Remove the dead playwright-deps input from warm-up-repo
  .github/actions/warm-up-repo/action.yml
Due: biome

Rename from_ascii_radix to from_ascii_bytes_radix for nightly-2026-08-03
  libs/@local/hashql/diagnostics/src/encoding.rs
Due: rust

SRE-854: Serve the health probe on GET /health across the services (#9132)
  apps/hash-api/docker/Dockerfile
  apps/hash-api/src/index.ts
  apps/hash-graph/src/subcommand/atlas.rs
  apps/hash-graph/src/subcommand/mod.rs
  apps/petrinaut-opt/docker/Dockerfile
  apps/petrinaut-opt/openapi/openapi.json
  apps/petrinaut-opt/src/optimization_api.py
  apps/petrinaut-opt/src/telemetry.py
  libs/@local/graph/api/src/rest/admin.rs
  libs/@local/graph/api/src/rest/http_tracing_layer.rs
  libs/@local/graph/api/src/rest/mod.rs
  libs/@local/graph/api/src/rest/probe.rs
  libs/@local/graph/type-fetcher/src/fetcher_server.rs
  libs/@local/hash-backend-utils/src/opentelemetry.ts
  libs/@local/hash-backend-utils/src/temporal/worker-bootstrap.ts
  libs/@local/petrinaut-optimizer-client/src/openapi.gen.ts
Due: biome, rust

SRE-898: Allowlist GHSA-frvp-7c67-39w9 in the Dependency Review preflight
  .github/workflows/preflight.yml
Due: biome

feat: refactor visibility into view abstraction
  .env.development
  libs/@local/graph/atlas/docs/wire.md
  libs/@local/graph/atlas/src/api/edges.rs
  libs/@local/graph/atlas/src/api/locate.rs
  libs/@local/graph/atlas/src/api/manifest.rs
  libs/@local/graph/atlas/src/api/saltile.rs
  libs/@local/graph/atlas/src/api/tile.rs
  libs/@local/graph/atlas/src/api/translate.rs
  libs/@local/graph/atlas/src/api/visibility.rs
  libs/@local/graph/atlas/src/file/morton/read.rs
  libs/@local/graph/atlas/src/lib.rs
  libs/@local/graph/atlas/src/math/similarity/mod.rs
  libs/@local/graph/atlas/src/math/vec2/mod.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/solver/solve.rs
  libs/@local/graph/atlas/src/serve/cache.rs
  libs/@local/graph/atlas/src/serve/edges.rs
  libs/@local/graph/atlas/src/serve/locate.rs
  libs/@local/graph/atlas/src/serve/mod.rs
  libs/@local/graph/atlas/src/serve/neighbourhood.rs
  libs/@local/graph/atlas/src/serve/schedule.rs
  libs/@local/graph/atlas/src/serve/tests/masking.rs
  libs/@local/graph/atlas/src/serve/tests/mod.rs
  libs/@local/graph/atlas/src/serve/tests/schedule.rs
  libs/@local/graph/atlas/src/serve/tile.rs
  libs/@local/graph/atlas/src/serve/view.rs
Due: markdownlint, biome, rust

FE-1309: Stop committing generated Petrinaut optimizer client types
  .gitattributes
  apps/petrinaut-website/turbo.json
  libs/@local/petrinaut-optimizer-client/package.json
  libs/@local/petrinaut-optimizer-client/src/openapi.gen.ts
Due: biome, yarn

add customer order timeline view, demo data
  apps/hash-api/src/seed-data/supply-chain-demo.test.ts
  apps/hash-api/src/seed-data/supply-chain-demo/2026-07-30.2/harbor-dark-roast/graph.json
  apps/hash-api/src/seed-data/supply-chain-demo/2026-07-30.2/meadow-espresso/graph.json
  apps/hash-api/src/seed-data/supply-chain-demo/2026-07-30.2/riverside-decaf/graph.json
  apps/hash-api/src/seed-data/supply-chain-demo/2026-07-30.2/summit-medium-roast/graph.json
  apps/hash-frontend/src/pages/supply-chain/shared/segment-stats.test.ts
  apps/hash-frontend/src/pages/supply-chain/shared/segment-stats.ts
  apps/hash-frontend/src/pages/supply-chain/shared/tooltip.tsx
  apps/hash-frontend/src/pages/supply-chain/shared/types.ts
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/product.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/product/batch-lookup.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/product/customer-orders.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/product/e2e-what-if.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/product/order-arrival-markers.test.ts
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/product/order-arrival-markers.ts
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/product/recompute-batch-timelines.ts
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/product/recompute-order-timelines.test.ts
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/product/recompute-order-timelines.ts
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/product/shared/pipeline-waterfall.tsx
Due: biome

H-6747: Update `@hono/node-server` and `body-parser` (#9148)
  yarn.lock
Due: none

feat: add finite scalar guard types
  libs/@local/graph/atlas/src/math/mod.rs
  libs/@local/graph/atlas/src/math/scalar/mod.rs
  libs/@local/graph/atlas/src/math/scalar/tests.rs
Due: rust

fix: close similarity composition scale range
  libs/@local/graph/atlas/src/file/salt/metadata.rs
  libs/@local/graph/atlas/src/math/similarity/mod.rs
  libs/@local/graph/atlas/src/math/similarity/tests.rs
Due: rust

fix: zeroize secrets through their exposure
  libs/@local/graph/atlas/src/cli/fit.rs
  libs/@local/graph/atlas/src/cli/postgres.rs
  libs/@local/graph/atlas/src/integrity/secret.rs
Due: rust

fix: seal zero offset for operator views
  libs/@local/graph/atlas/src/api/manifest.rs
  libs/@local/graph/atlas/src/api/visibility.rs
  libs/@local/graph/atlas/src/salt/wire/tile.rs
  libs/@local/graph/atlas/src/serve/mod.rs
  libs/@local/graph/atlas/src/serve/schedule.rs
  libs/@local/graph/atlas/src/serve/tests/density.rs
  libs/@local/graph/atlas/src/serve/tests/mod.rs
  libs/@local/graph/atlas/src/serve/tests/schedule.rs
  libs/@local/graph/atlas/src/serve/tile.rs
  libs/@local/graph/atlas/src/serve/view.rs
  libs/@local/graph/atlas/src/serve/visibility.rs
  libs/@local/graph/atlas/src/serve/walk/census.rs
Due: rust

feat: forward delivery offset to tile decoder
  apps/hash-frontend/src/components/tiled-network-graph/atlas-decode/manifest.test.ts
  apps/hash-frontend/src/components/tiled-network-graph/atlas-decode/manifest.ts
  apps/hash-frontend/src/components/tiled-network-graph/atlas-decode/tile.test.ts
  apps/hash-frontend/src/components/tiled-network-graph/atlas-decode/tile.ts
  apps/hash-frontend/src/components/tiled-network-graph/tiling/fetch-edges-for-tiles.test.ts
  apps/hash-frontend/src/components/tiled-network-graph/tiling/fetch-locate.test.ts
  apps/hash-frontend/src/components/tiled-network-graph/tiling/fetch-tile.test.ts
  apps/hash-frontend/src/components/tiled-network-graph/tiling/fetch-tile.ts
Due: biome

docs: correct stale atlas api docs
  libs/@local/graph/atlas/README.md
  libs/@local/graph/atlas/docs/wire.md
  libs/@local/graph/atlas/src/api/mod.rs
  libs/@local/graph/atlas/src/salt/fit/mod.rs
  libs/@local/graph/atlas/src/salt/quality/report/document.rs
  libs/@local/graph/atlas/src/serve/cache.rs
  libs/@local/graph/atlas/src/serve/translate.rs
Due: markdownlint, biome, rust

Add basic filtering to graphviz
  apps/hash-frontend/src/components/tiled-network-graph/tiling/fetch-tile.test.ts
  apps/hash-frontend/src/components/tiled-network-graph/tiling/fetch-tile.ts
  apps/hash-frontend/src/components/tiled-network-graph/tiling/use-get-viewport-nodes.ts
  apps/hash-frontend/src/pages/shared/entities-visualizer.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/network-graph-view.tsx
  libs/@local/graph/atlas/src/api/visibility.rs
  libs/@local/graph/atlas/src/serve/hydrate/compile.rs
Due: biome, rust

feat: expose select and walk submodules publicly
  libs/@local/graph/atlas/src/serve/hydrate/mod.rs
  libs/@local/graph/atlas/src/serve/tests/mod.rs
  libs/@local/graph/atlas/src/serve/tile.rs
  libs/@local/graph/atlas/src/serve/walk/mod.rs
Due: rust

fix: remove unused disjoint-set module
  apps/hash-frontend/src/components/tiled-network-graph/tiling/fetch-tile.test.ts
  apps/hash-frontend/src/components/tiled-network-graph/tiling/fetch-tile.ts
  libs/@local/graph/atlas/README.md
  libs/@local/graph/atlas/src/api/visibility.rs
  libs/@local/graph/atlas/src/bitset/mod.rs
  libs/@local/graph/atlas/src/disjoint/mod.rs
  libs/@local/graph/atlas/src/disjoint/tests.rs
  libs/@local/graph/atlas/src/file/salt/metadata.rs
  libs/@local/graph/atlas/src/file/salt/tests.rs
  libs/@local/graph/atlas/src/integrity/hash.rs
  libs/@local/graph/atlas/src/integrity/mod.rs
  libs/@local/graph/atlas/src/integrity/secret.rs
  libs/@local/graph/atlas/src/integrity/writer.rs
  libs/@local/graph/atlas/src/lib.rs
  libs/@local/graph/atlas/src/random/compat.rs
  libs/@local/graph/atlas/src/random/mod.rs
  libs/@local/graph/atlas/src/random/tests.rs
  libs/@local/graph/atlas/src/salt/fit/compute/projector.rs
  libs/@local/graph/atlas/src/salt/fit/mod.rs
  libs/@local/graph/atlas/src/salt/fit/tests.rs
  libs/@local/graph/atlas/src/salt/policy/annotation/assembly/groups.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/solver/scale.rs
  libs/@local/graph/atlas/src/salt/projector/train/fit/mod.rs
  libs/@local/graph/atlas/src/salt/projector/train/fit/session.rs
  libs/@local/graph/atlas/src/salt/projector/train/fit/tests.rs
  libs/@local/graph/atlas/src/salt/quality/clump.rs
  libs/@local/graph/atlas/src/serve/cache.rs
  libs/@local/graph/atlas/src/serve/density/mod.rs
  libs/@local/graph/atlas/src/serve/density/tests.rs
  libs/@local/graph/atlas/src/serve/hydrate/client.rs
  libs/@local/graph/atlas/src/serve/hydrate/columns.rs
  libs/@local/graph/atlas/src/serve/hydrate/mod.rs
  libs/@local/graph/atlas/src/serve/mod.rs
  libs/@local/graph/atlas/src/serve/tests/authorization.rs
  libs/@local/graph/atlas/src/serve/tests/masking.rs
  libs/@local/graph/atlas/src/serve/tests/mod.rs
  libs/@local/graph/atlas/src/serve/visibility.rs
  libs/@local/graph/atlas/src/serve/walk/census.rs
  libs/@local/graph/atlas/src/serve/walk/mod.rs
Due: markdownlint, biome, rust

Hide link types in graphviz filters
  apps/hash-frontend/src/pages/shared/entities-visualizer.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/header/filter-ribbon.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/header/type-filter-pill.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/shared/use-available-types.ts
Due: biome

refactor: reorganize salt module imports and headers
  libs/@local/graph/atlas/src/cli/fit.rs
  libs/@local/graph/atlas/src/cli/tui/mod.rs
  libs/@local/graph/atlas/src/cli/tui/render/tests.rs
  libs/@local/graph/atlas/src/cli/tui/state/mod.rs
  libs/@local/graph/atlas/src/cli/tui/state/tests.rs
  libs/@local/graph/atlas/src/file/array/mod.rs
  libs/@local/graph/atlas/src/file/array/read.rs
  libs/@local/graph/atlas/src/file/array/tests.rs
  libs/@local/graph/atlas/src/file/array/write.rs
  libs/@local/graph/atlas/src/file/generation/tests.rs
  libs/@local/graph/atlas/src/file/morton/mod.rs
  libs/@local/graph/atlas/src/file/morton/read.rs
  libs/@local/graph/atlas/src/file/morton/tests.rs
  libs/@local/graph/atlas/src/file/morton/write.rs
  libs/@local/graph/atlas/src/file/policy/mod.rs
  libs/@local/graph/atlas/src/file/policy/read.rs
  libs/@local/graph/atlas/src/file/policy/tests.rs
  libs/@local/graph/atlas/src/file/policy/write.rs
  libs/@local/graph/atlas/src/file/region/header.rs
  libs/@local/graph/atlas/src/file/region/mod.rs
  libs/@local/graph/atlas/src/file/salt/metadata.rs
  libs/@local/graph/atlas/src/file/salt/tests.rs
  libs/@local/graph/atlas/src/lib.rs
  libs/@local/graph/atlas/src/progress.rs
  libs/@local/graph/atlas/src/salt/mod.rs
  libs/@local/graph/atlas/src/salt/runner/tests.rs
  libs/@local/graph/atlas/src/serve/tests/mod.rs
Due: rust

test: replace FileHeader::SIZE with PAGE_BYTES
  libs/@local/graph/atlas/src/salt/embedding/tests.rs
  libs/@local/graph/atlas/src/salt/fit/prepare/tests.rs
Due: rust

FE-1222, FE-1226: Classify optimization transport errors and auto-reconnect detached runs
  .changeset/eight-streams-return.md
  apps/hash-frontend/src/pages/processes/[uuid].page/process-editor.tsx
  apps/hash-frontend/src/pages/processes/[uuid]/embed.page/create-bridge-petrinaut-optimization.browser.test.ts
  apps/hash-frontend/src/pages/processes/[uuid]/embed.page/create-bridge-petrinaut-optimization.test.ts
  apps/hash-frontend/src/pages/processes/[uuid]/embed.page/create-bridge-petrinaut-optimization.ts
  apps/hash-frontend/src/pages/processes/shared/messages.test.ts
  apps/hash-frontend/src/pages/processes/shared/messages.ts
  apps/hash-frontend/src/pages/processes/shared/use-host-bridge.ts
  apps/petrinaut-opt/README.md
  apps/petrinaut-opt/openapi/openapi.json
  apps/petrinaut-opt/src/optimization_api.py
  apps/petrinaut-opt/src/petrinaut_optimizer.py
  apps/petrinaut-opt/tests/test_optimization_api.py
  apps/petrinaut-opt/tests/test_petrinaut_optimizer.py
  apps/petrinaut-website/src/main/app/optimization-demo/petrinaut-opt-optimization.test.ts
  apps/petrinaut-website/src/main/app/optimization-demo/petrinaut-opt-optimization.ts
  libs/@hashintel/petrinaut-core/src/index.ts
  libs/@hashintel/petrinaut-core/src/optimization.test.ts
  libs/@hashintel/petrinaut-core/src/optimization.ts
  libs/@hashintel/petrinaut/docs/optimization.md
  libs/@hashintel/petrinaut/src/react/index.ts
  libs/@hashintel/petrinaut/src/react/optimizations/context.ts
  libs/@hashintel/petrinaut/src/react/optimizations/provider.test.tsx
  libs/@hashintel/petrinaut/src/react/optimizations/provider.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/create-optimization-drawer.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/optimizations/view-optimization-drawer.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/simulate-view.stories.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/simulate-view.test.tsx
  libs/@local/petrinaut-optimizer-client/src/attach-optimization-run.test.ts
  libs/@local/petrinaut-optimizer-client/src/attach-optimization-run.ts
  libs/@local/petrinaut-optimizer-client/src/decode-optimization-stream.test.ts
  libs/@local/petrinaut-optimizer-client/src/decode-optimization-stream.ts
  libs/@local/petrinaut-optimizer-client/src/index.ts
  libs/@local/petrinaut-optimizer-client/src/open-optimization-stream.test.ts
  libs/@local/petrinaut-optimizer-client/src/open-optimization-stream.ts
  libs/@local/petrinaut-optimizer-client/src/optimizer-http.ts
Due: markdownlint, biome
