Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    biome:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: biome format --write --staged || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: rustfmt {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: taplo format {staged_files} || true
      stage_fixed: true

FE-1504: Run the process-model elicitor from the Petrinaut panel
  apps/brunch-agent/README.md
  apps/brunch-agent/petrinaut-local.vite.config.ts
  apps/brunch-agent/src/agents/gherkin-elicitor.ts
  apps/brunch-agent/src/agents/sdcpn-elicitor.ts
  apps/brunch-agent/src/elicitation-session.ts
  apps/brunch-agent/src/petrinaut-chat.ts
  apps/brunch-agent/test/elicitation-session.test.ts
  apps/brunch-agent/test/local-dev-origins.test.ts
  apps/brunch-agent/test/petrinaut-ask.integration.ts
  apps/brunch-agent/test/petrinaut-chat.integration.ts
  apps/brunch-agent/test/transport-aisdk-server.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-principal.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-principal.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  libs/@hashintel/brunch-agent/packages/binding-flue/src/local-capture-store.ts
  libs/@hashintel/brunch-agent/packages/binding-flue/test/history-reader.test.ts
  libs/@hashintel/brunch-agent/packages/binding-flue/test/local-capture-store.test.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/package.json
  libs/@hashintel/brunch-agent/packages/transport-aisdk/src/headers.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/src/index.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/test/ask-reply.test.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/vite.config.ts
  package.json
Due: markdownlint, biome, yarn

FE-1505: Time each interviewer turn by purpose
  apps/brunch-agent/package.json
  apps/brunch-agent/src/app.ts
  apps/brunch-agent/test/baseline-harness.test.ts
  apps/brunch-agent/test/fixtures/baseline-harness-interviewer.ts
  apps/brunch-agent/test/turn-timing.test.ts
  apps/brunch-agent/test/walking-skeleton.integration.ts
  apps/brunch-agent/test/walking-skeleton.test.ts
  apps/brunch-agent/turbo.json
  libs/@hashintel/brunch-agent/evaluations/protocols/process-model-elicitation/baseline/harness-run.ts
  libs/@hashintel/brunch-agent/evaluations/protocols/process-model-elicitation/baseline/protocol.md
  libs/@hashintel/brunch-agent/evaluations/protocols/process-model-elicitation/baseline/turn-timing.ts
  libs/@hashintel/brunch-agent/packages/core/test/architecture/boundaries.test.ts
  yarn.lock
Due: markdownlint, biome, yarn

FE-1506: Show captures and completion during panel elicitation
  apps/brunch-agent/test/baseline-harness.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-panel-transport.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-panel-transport.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  libs/@hashintel/brunch-agent/docs/specs/petrinaut-integration.md
  libs/@hashintel/brunch-agent/packages/binding-flue/src/index.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/src/client-tools.ts
  libs/@hashintel/petrinaut/docs/ai-assistant.md
Due: markdownlint, biome

FE-1521: Cut the agentic guidance layer to a mission charter
  apps/brunch-agent/AGENTS.md
  libs/@hashintel/brunch-agent/.agents/skills/arc-close/SKILL.md
  libs/@hashintel/brunch-agent/.claude/skills/arc-close/SKILL.md
  libs/@hashintel/brunch-agent/AGENTS.md
  libs/@hashintel/brunch-agent/CONTEXT.md
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/README.md
  libs/@hashintel/brunch-agent/docs/INDEX.md
  libs/@hashintel/brunch-agent/docs/adr/README.md
  libs/@hashintel/brunch-agent/docs/agents/arc-close.md
  libs/@hashintel/brunch-agent/docs/agents/documentation.md
  libs/@hashintel/brunch-agent/docs/agents/domain.md
  libs/@hashintel/brunch-agent/docs/agents/git-workflow.md
  libs/@hashintel/brunch-agent/docs/agents/issue-tracker.md
  libs/@hashintel/brunch-agent/docs/agents/issue-writing.md
  libs/@hashintel/brunch-agent/docs/agents/legibility.md
  libs/@hashintel/brunch-agent/docs/agents/partition-worktrees.md
  libs/@hashintel/brunch-agent/docs/agents/posture.md
  libs/@hashintel/brunch-agent/docs/agents/steering.md
  libs/@hashintel/brunch-agent/docs/agents/triage-labels.md
  libs/@hashintel/brunch-agent/docs/control/SPEC-LEDGER.md
  libs/@hashintel/brunch-agent/docs/control/STEERING.md
  libs/@hashintel/brunch-agent/docs/control/STRATEGY-LOG.md
  libs/@hashintel/brunch-agent/docs/reference/architecture/flue-routing.md
  libs/@hashintel/brunch-agent/packages/core/test/architecture/control-surfaces.test.ts
  libs/@hashintel/brunch-agent/packages/core/test/architecture/docs-index.test.ts
Due: markdownlint, biome

FE-1507: Move the repertoire into core
  .github/actions/prune-repository/prune.py
  .github/actions/prune-repository/prune_test.py
  libs/@hashintel/brunch-agent/README.md
  libs/@hashintel/brunch-agent/docs/INDEX.md
  libs/@hashintel/brunch-agent/docs/adr/0008-repertoire-and-plugin-contract-live-in-core.md
  libs/@hashintel/brunch-agent/docs/control/STEERING.md
  libs/@hashintel/brunch-agent/docs/reference/architecture/topology.md
  libs/@hashintel/brunch-agent/docs/specs/elicitation-kernel.md
  libs/@hashintel/brunch-agent/evaluations/protocols/process-model-elicitation/baseline/harness-run.ts
  libs/@hashintel/brunch-agent/packages/binding-flue/.oxlintrc.json
  libs/@hashintel/brunch-agent/packages/binding-flue/package.json
  libs/@hashintel/brunch-agent/packages/binding-flue/src/index.ts
  libs/@hashintel/brunch-agent/packages/core/package.json
  libs/@hashintel/brunch-agent/packages/core/src/prompts.ts
  libs/@hashintel/brunch-agent/packages/core/src/raw-imports.d.ts
  libs/@hashintel/brunch-agent/packages/core/src/repertoire.ts
  libs/@hashintel/brunch-agent/packages/core/src/repertoire.yaml
  libs/@hashintel/brunch-agent/packages/core/test/architecture/boundaries.test.ts
  libs/@hashintel/brunch-agent/packages/core/test/prompts.test.ts
  libs/@hashintel/brunch-agent/packages/core/vite.config.ts
  libs/@hashintel/brunch-agent/packages/plugin-gherkin/.oxlintrc.json
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/.oxlintrc.json
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/plugin.yaml
  libs/@hashintel/brunch-agent/packages/repertoire/.oxlintrc.json
  libs/@hashintel/brunch-agent/packages/repertoire/LICENSE.md
  libs/@hashintel/brunch-agent/packages/repertoire/README.md
  libs/@hashintel/brunch-agent/packages/repertoire/package.json
  libs/@hashintel/brunch-agent/packages/repertoire/src/index.ts
  libs/@hashintel/brunch-agent/packages/repertoire/tsconfig.json
  libs/@hashintel/brunch-agent/packages/repertoire/turbo.json
  libs/@hashintel/brunch-agent/packages/repertoire/vite.config.ts
  yarn.lock
Due: markdownlint, biome, yarn

Add turbo.json to CODEOWNERS, owned by the Infra team
  .github/CODEOWNERS
Due: none

SRE-980: Split the hash-codec Rust crate and TypeScript package (#9440)
  .gitignore
  Cargo.toml
  libs/@blockprotocol/type-system/rust/src/utils.rs
  libs/@blockprotocol/type-system/rust/tests/codegen.rs
  libs/@blockprotocol/type-system/rust/types/index.snap.d.ts
  libs/@blockprotocol/type-system/typescript/package.json
  libs/@blockprotocol/type-system/typescript/scripts/prepublish.ts
  libs/@local/codec/rust/Cargo.toml
  libs/@local/codec/rust/LICENSE.md
  libs/@local/codec/rust/README.md
  libs/@local/codec/rust/docs/dependency-diagram.mmd
  libs/@local/codec/rust/package.json
  libs/@local/codec/rust/src/bytes.rs
  libs/@local/codec/rust/src/harpc/mod.rs
  libs/@local/codec/rust/src/harpc/wire.rs
  libs/@local/codec/rust/src/lib.rs
  libs/@local/codec/rust/src/numeric/mod.rs
  libs/@local/codec/rust/src/numeric/real.rs
  libs/@local/codec/rust/src/serde/constant.rs
  libs/@local/codec/rust/src/serde/mod.rs
  libs/@local/codec/rust/src/serde/probability.rs
  libs/@local/codec/rust/src/serde/size_hint.rs
  libs/@local/codec/rust/src/serde/string_hash_map.rs
  libs/@local/codec/rust/src/serde/unique_vec.rs
  libs/@local/codec/rust/src/serde/valid_uuid.rs
  libs/@local/codec/rust/tests/codegen.rs
  libs/@local/codec/rust/turbo.json
  libs/@local/codec/rust/types/index.snap
  libs/@local/codec/rust/types/index.snap.d.ts
  libs/@local/codec/rust/types/index.snap.js
  libs/@local/codec/types/index.snap.d.ts
  libs/@local/codec/typescript/LICENSE.md
  libs/@local/codec/typescript/package.json
  libs/@local/codec/typescript/src/types.ts
  libs/@local/codec/typescript/tsconfig.build.json
  libs/@local/codec/typescript/tsconfig.json
  libs/@local/codec/typescript/turbo.json
  yarn.lock
Due: markdownlint, biome, yarn, rust, toml

SRE-979: Split the type-system Rust crate and TypeScript package (#9438)
  .gitignore
  libs/@blockprotocol/type-system/rust/Cargo.toml
  libs/@blockprotocol/type-system/rust/package.json
  libs/@blockprotocol/type-system/rust/tests/codegen.rs
  libs/@blockprotocol/type-system/rust/types/index.snap.d.ts
  libs/@blockprotocol/type-system/typescript/package.json
  libs/@blockprotocol/type-system/typescript/rollup.config.js
  libs/@blockprotocol/type-system/typescript/scripts/copy-generated.ts
  libs/@blockprotocol/type-system/typescript/scripts/prepublish.ts
  libs/@blockprotocol/type-system/typescript/src/main-slim.ts
  libs/@blockprotocol/type-system/typescript/src/main.ts
  libs/@blockprotocol/type-system/typescript/src/native/data-type.ts
  libs/@blockprotocol/type-system/typescript/src/native/entity-type.ts
  libs/@blockprotocol/type-system/typescript/src/native/entity.ts
  libs/@blockprotocol/type-system/typescript/src/native/ontology-metadata.ts
  libs/@blockprotocol/type-system/typescript/src/native/property-type.ts
  libs/@blockprotocol/type-system/typescript/src/native/url.ts
  libs/@blockprotocol/type-system/typescript/tsconfig.generated.json
  libs/@blockprotocol/type-system/typescript/turbo.json
  libs/@local/codegen/src/typescript.rs
  libs/@local/graph/authorization/Cargo.toml
  libs/@local/graph/authorization/package.json
  libs/@local/graph/authorization/tests/codegen.rs
  libs/@local/graph/authorization/types/index.snap.d.ts
  libs/@local/graph/store/Cargo.toml
  libs/@local/graph/store/package.json
  libs/@local/graph/store/tests/codegen.rs
  libs/@local/graph/store/types/index.snap.d.ts
  yarn.lock
Due: biome, yarn, rust, toml

SRE-982: Remove the graph API package's JavaScript surface (#9443)
  apps/hash-ai-worker-ts/package.json
  apps/hash-ai-worker-ts/src/activities/flow-activities/generate-structural-query-action.ts
  libs/@local/graph/api/package.json
  libs/@local/graph/client/typescript/.gitignore
  libs/@local/graph/client/typescript/package.json
  libs/@local/graph/client/typescript/turbo.json
  yarn.lock
Due: biome, yarn

SRE-983: Split the effect-dns-hickory Rust crate and TypeScript package (#9444)
  Cargo.toml
  libs/@local/effect-dns/hickory/rust/.cargo/config.toml
  libs/@local/effect-dns/hickory/rust/Cargo.toml
  libs/@local/effect-dns/hickory/rust/LICENSE-APACHE.md
  libs/@local/effect-dns/hickory/rust/LICENSE-MIT.md
  libs/@local/effect-dns/hickory/rust/LICENSE.md
  libs/@local/effect-dns/hickory/rust/README.md
  libs/@local/effect-dns/hickory/rust/build.rs
  libs/@local/effect-dns/hickory/rust/docs/dependency-diagram.mmd
  libs/@local/effect-dns/hickory/rust/package.json
  libs/@local/effect-dns/hickory/rust/src/lib.rs
  libs/@local/effect-dns/hickory/typescript/LICENSE-APACHE.md
  libs/@local/effect-dns/hickory/typescript/LICENSE-MIT.md
  libs/@local/effect-dns/hickory/typescript/LICENSE.md
  libs/@local/effect-dns/hickory/typescript/eslint.config.js
  libs/@local/effect-dns/hickory/typescript/package.json
  libs/@local/effect-dns/hickory/typescript/src/index.ts
  libs/@local/effect-dns/hickory/typescript/tests/dummy.test.ts
  libs/@local/effect-dns/hickory/typescript/tsconfig.build.json
  libs/@local/effect-dns/hickory/typescript/tsconfig.json
  libs/@local/effect-dns/hickory/typescript/turbo.json
  libs/@local/effect-dns/hickory/typescript/vitest.config.ts
  libs/@local/tsconfig/legacy-base-tsconfig-to-refactor.json
  yarn.lock
Due: markdownlint, biome, yarn, rust, toml

SRE-986: Dissolve the graph type-defs crate into the graph API (#9445)
  Cargo.lock
  Cargo.toml
  apps/hash-graph/docs/dependency-diagram.mmd
  libs/@local/graph/api/Cargo.toml
  libs/@local/graph/api/docs/dependency-diagram.mmd
  libs/@local/graph/api/openapi/models/status.json
  libs/@local/graph/api/openapi/models/status_definitions.json
  libs/@local/graph/api/package.json
  libs/@local/graph/api/src/rest/entity_type.rs
  libs/@local/graph/api/src/rest/json.rs
  libs/@local/graph/api/src/rest/json_schemas/status.json
  libs/@local/graph/api/src/rest/json_schemas/status_definitions.json
  libs/@local/graph/api/src/rest/status.rs
  libs/@local/graph/type-defs/Cargo.toml
  libs/@local/graph/type-defs/LICENSE.md
  libs/@local/graph/type-defs/build.rs
  libs/@local/graph/type-defs/docs/dependency-diagram.mmd
  libs/@local/graph/type-defs/eslint.config.js
  libs/@local/graph/type-defs/package.json
  libs/@local/graph/type-defs/src/error.rs
  libs/@local/graph/type-defs/src/lib.rs
  libs/@local/graph/type-defs/tsconfig.json
  libs/@local/graph/type-defs/typescript/status-payloads.ts
  libs/@local/graph/type-defs/typescript/status.ts
  libs/@local/status/rust/docs/dependency-diagram.mmd
  tests/graph/http/tests/hashql.http
  tests/hash-backend-integration/package.json
  tests/hash-backend-integration/src/tests/admin-server.ts
  yarn.lock
Due: markdownlint, biome, yarn, rust, toml

FE-1524: Prove idempotent capture sweep on the live Flue chat path
  apps/brunch-agent/README.md
  apps/brunch-agent/package.json
  apps/brunch-agent/src/agents/chat-agent.ts
  apps/brunch-agent/src/capture-sweep.ts
  apps/brunch-agent/src/db-path.ts
  apps/brunch-agent/test/db-path.test.ts
  apps/brunch-agent/test/petrinaut-chat-result.ts
  apps/brunch-agent/test/petrinaut-chat.integration.ts
  apps/brunch-agent/test/petrinaut-chat.test.ts
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/MISSION.next.md
  libs/@hashintel/brunch-agent/docs/mission-archive/2-mechanical-capture-sweep.md
  libs/@hashintel/brunch-agent/docs/mission-archive/README.md
  libs/@hashintel/brunch-agent/packages/core/test/architecture/boundaries.test.ts
  yarn.lock
Due: markdownlint, biome, yarn

Own the CODEOWNERS file by infra-admins and turbo.json by infra
  .github/CODEOWNERS
Due: none

SRE-974: Bump vite and storybook to drop three esbuild resolutions
  libs/@hashintel/ds-components/package.json
  libs/@hashintel/petrinaut/package.json
  libs/@hashintel/refractive/package.json
  package.json
  yarn.lock
Due: biome, yarn

Fix chat retry and hydration projections
  apps/brunch-agent/src/flue-transcript.ts
  apps/brunch-agent/src/petrinaut-chat.ts
  apps/brunch-agent/test/flue-transcript.test.ts
  apps/brunch-agent/test/petrinaut-chat-result.ts
  apps/brunch-agent/test/petrinaut-chat.integration.ts
  apps/brunch-agent/test/petrinaut-chat.test.ts
Due: biome

FE-1562: Show a message on /recovery when the user is already logged in
  .env.test
  apps/hash-frontend/src/pages/recovery.page.tsx
  apps/hash-frontend/src/pages/shared/use-kratos-flow-error-handler.ts
  tests/hash-playwright/tests/account/password.spec.ts
  tests/hash-playwright/tests/shared/test-users.ts
Due: biome

Include Brunch plugins in pruned core tests
  .github/actions/prune-repository/prune.py
  .github/actions/prune-repository/prune_test.py
Due: none

Enable Turbo caching for Brunch builds
  apps/brunch-agent/turbo.json
  libs/@hashintel/brunch-agent/packages/binding-flue/turbo.json
  libs/@hashintel/brunch-agent/packages/core/turbo.json
  libs/@hashintel/brunch-agent/packages/plugin-gherkin/turbo.json
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/turbo.json
  libs/@hashintel/brunch-agent/packages/transport-aisdk/turbo.json
Due: biome

BE-811: Revoke active sessions when a recovery code is redeemed
  infra/compose/kratos/kratos.yml
Due: biome

BE-811: Revoke active sessions when a Kratos recovery code is redeemed (#9465)
  infra/compose/kratos/kratos.yml
Due: biome

Upgrade Petrinaut Rolldown DTS tooling
  .changeset/clean-dts-builds.md
  libs/@hashintel/petrinaut-core/package.json
  libs/@hashintel/petrinaut-core/vite.config.ts
  libs/@hashintel/petrinaut/package.json
  libs/@hashintel/petrinaut/vite.config.ts
  libs/@hashintel/refractive/package.json
  libs/@hashintel/refractive/vite.config.ts
  yarn.lock
Due: markdownlint, biome, yarn

Remove DTS tooling changeset
  .changeset/clean-dts-builds.md
Due: markdownlint, biome

Externalize AI declarations from Petrinaut DTS
  libs/@hashintel/petrinaut/vite.config.ts
Due: biome

Deduplicate upgraded build dependencies
  yarn.lock
Due: none

SRE-1002: Fail the mutable-tag advance when the current revision is unresolvable
  .github/actions/tag-if-newer/action.yml
Due: biome

SRE-1002: Fail the mutable-tag advance when the current revision is unresolvable (#9466)
  .github/actions/tag-if-newer/action.yml
Due: biome

FE-1531: Document Petrinaut shipping conventions in the package agent docs
  apps/petrinaut-opt/AGENTS.md
  apps/petrinaut-opt/CLAUDE.md
  libs/@hashintel/petrinaut/AGENTS.md
Due: markdownlint, biome

FE-1552: Read a sweep cell's value from its last sampled frame
  libs/@hashintel/petrinaut/src/react/experiments/contour-grid.test.ts
  libs/@hashintel/petrinaut/src/react/experiments/contour-grid.ts
  libs/@local/petrinaut-arch-docs/content/experiments/sweep-surface.mdx
Due: biome

FE-1552: Apply chart data at most once per animation frame
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/experiment-metric-timeline/use-metric-plot.ts
Due: biome

FE-1552: Mount metric chart axes before any data arrives
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/experiment-metric-timeline.tsx
Due: biome

FE-1552: Add the full sweep-drawer bench fixture
  .changeset/sweep-view-latency.md
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/sweep-drawer-bench.stories.tsx
Due: markdownlint, biome

FE-1552: Lease sweep workers from a reusable pool instead of spawning per batch
  libs/@hashintel/petrinaut-core/src/experiments.ts
  libs/@hashintel/petrinaut-core/src/simulation/runtime/reusable-worker-factory.test.ts
  libs/@hashintel/petrinaut-core/src/simulation/runtime/reusable-worker-factory.ts
  libs/@hashintel/petrinaut/src/react/experiments/provider.test.tsx
  libs/@hashintel/petrinaut/src/react/experiments/provider.tsx
Due: biome

FE-1552: Sample the sweep surface in batched chunks with a metric-agnostic cache
  .changeset/sweep-compute-reuse.md
  libs/@hashintel/petrinaut/src/react/experiments/context.ts
  libs/@hashintel/petrinaut/src/react/experiments/provider.tsx
  libs/@hashintel/petrinaut/src/react/experiments/sweep-session.test.ts
  libs/@hashintel/petrinaut/src/react/experiments/sweep-session.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/create-experiment-drawer.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/experiments-story-fixtures.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/sweep-surface.tsx
Due: markdownlint, biome

FE-1552: Document pooled workers and batched surface sampling
  libs/@hashintel/petrinaut/docs/experiments.md
  libs/@local/petrinaut-arch-docs/content/experiments/sweep-surface.mdx
  libs/@local/petrinaut-arch-docs/content/simulation/worker-sharding.mdx
Due: markdownlint, biome

FE-1565: Upgrade Petrinaut's Rolldown DTS toolchain (#9449)
  libs/@hashintel/petrinaut-core/package.json
  libs/@hashintel/petrinaut-core/vite.config.ts
  libs/@hashintel/petrinaut/package.json
  libs/@hashintel/petrinaut/vite.config.ts
  libs/@hashintel/refractive/package.json
  libs/@hashintel/refractive/vite.config.ts
  yarn.lock
Due: biome, yarn
