Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, prettier, yarn, sqlfluff, rust, toml

markdownlint:
  tags:
  - frontend
  - style
  run: yarn run markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

prettier:
  tags:
  - frontend
  - style
  run: yarn run prettier --write {staged_files} || true
  stage_fixed: true

yarn:
  tags:
  - frontend
  - style
  run: yarn fix:constraints && yarn fix:packagejson && yarn fix:yarn-deduplicate
  stage_fixed: true

sqlfluff:
  tags:
  - backend
  - style
  run: sqlfluff fix {staged_files} || true
  stage_fixed: true

rust:
  tags:
  - backend
  - style
  run: cargo fmt -- {staged_files} || true
  stage_fixed: true

toml:
  tags:
  - backend
  - style
  run: yarn run taplo format {staged_files} || true
  stage_fixed: true

feat: enable in reify
  libs/@local/hashql/hir/src/reify/mod.rs
Due: rust

test: eval + typechk
  libs/@local/hashql/eval/tests/ui/graph/read/entity/field-in-list.jsonc
  libs/@local/hashql/eval/tests/ui/graph/read/entity/field-in-list.stderr
  libs/@local/hashql/hir/src/lower/inference.rs
  libs/@local/hashql/hir/tests/ui/lower/checking/index-access.jsonc
  libs/@local/hashql/hir/tests/ui/lower/checking/index-access.stdout
  libs/@local/hashql/hir/tests/ui/lower/checking/list-empty.jsonc
  libs/@local/hashql/hir/tests/ui/lower/checking/list-empty.stdout
  libs/@local/hashql/hir/tests/ui/lower/checking/list.jsonc
  libs/@local/hashql/hir/tests/ui/lower/checking/list.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/list-empty.jsonc
  libs/@local/hashql/hir/tests/ui/lower/inference/list-empty.stderr
Due: rust

feat: implement type checking
  libs/@local/hashql/hir/src/lower/checking.rs
  libs/@local/hashql/hir/src/lower/inference.rs
Due: rust

fix: simplify error handling
  libs/@local/hashql/eval/src/graph/read/error.rs
  libs/@local/hashql/eval/src/graph/read/filter_expr.rs
  libs/@local/hashql/eval/src/graph/read/path.rs
  libs/@local/hashql/eval/src/lib.rs
  libs/@local/hashql/eval/tests/ui/graph/read/entity/field-in-list.jsonc
  libs/@local/hashql/eval/tests/ui/graph/read/entity/field-in-list.stderr
  libs/@local/hashql/eval/tests/ui/graph/read/entity/field-in-struct-entry.jsonc
  libs/@local/hashql/eval/tests/ui/graph/read/entity/field-in-struct-entry.stderr
  libs/@local/hashql/eval/tests/ui/graph/read/entity/field-in-tuple.jsonc
  libs/@local/hashql/eval/tests/ui/graph/read/entity/field-in-tuple.stderr
Due: rust

feat: inference snapshots
  libs/@local/hashql/hir/tests/ui/lower/inference/index-access.jsonc
  libs/@local/hashql/hir/tests/ui/lower/inference/index-access.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/list-empty.jsonc
  libs/@local/hashql/hir/tests/ui/lower/inference/list-empty.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/list-multi.jsonc
  libs/@local/hashql/hir/tests/ui/lower/inference/list-multi.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/list-single.jsonc
  libs/@local/hashql/hir/tests/ui/lower/inference/list-single.stdout
Due: none

chore: compiletest
  libs/@local/hashql/hir/tests/ui/reify/list.jsonc
  libs/@local/hashql/hir/tests/ui/reify/list.stderr
  libs/@local/hashql/hir/tests/ui/reify/list.stdout
Due: none

Remove mcp.json
  .vscode/mcp.json
Due: prettier

import from motion/react
  libs/@hashintel/ds-components/src/lib/use-value-or-motion.ts
Due: prettier

Move Storybook-related stuff to root .gitignore
  .gitignore
  libs/.gitignore
Due: none

BE-96: HashQL: Enable list literal construct (#7827)
  libs/@local/hashql/core/src/symbol/sym.rs
  libs/@local/hashql/eval/src/graph/read/error.rs
  libs/@local/hashql/eval/src/graph/read/filter_expr.rs
  libs/@local/hashql/eval/src/graph/read/path.rs
  libs/@local/hashql/eval/src/lib.rs
  libs/@local/hashql/eval/tests/ui/graph/read/entity/field-in-list.jsonc
  libs/@local/hashql/eval/tests/ui/graph/read/entity/field-in-list.stderr
  libs/@local/hashql/eval/tests/ui/graph/read/entity/field-in-struct-entry.jsonc
  libs/@local/hashql/eval/tests/ui/graph/read/entity/field-in-struct-entry.stderr
  libs/@local/hashql/eval/tests/ui/graph/read/entity/field-in-tuple.jsonc
  libs/@local/hashql/eval/tests/ui/graph/read/entity/field-in-tuple.stderr
  libs/@local/hashql/hir/src/fold/mod.rs
  libs/@local/hashql/hir/src/lower/checking.rs
  libs/@local/hashql/hir/src/lower/inference.rs
  libs/@local/hashql/hir/src/node/data/mod.rs
  libs/@local/hashql/hir/src/pretty.rs
  libs/@local/hashql/hir/src/reify/mod.rs
  libs/@local/hashql/hir/src/visit.rs
  libs/@local/hashql/hir/tests/ui/lower/checking/index-access.jsonc
  libs/@local/hashql/hir/tests/ui/lower/checking/index-access.stdout
  libs/@local/hashql/hir/tests/ui/lower/checking/list-empty.jsonc
  libs/@local/hashql/hir/tests/ui/lower/checking/list-empty.stdout
  libs/@local/hashql/hir/tests/ui/lower/checking/list.jsonc
  libs/@local/hashql/hir/tests/ui/lower/checking/list.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/index-access.jsonc
  libs/@local/hashql/hir/tests/ui/lower/inference/index-access.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/list-empty.jsonc
  libs/@local/hashql/hir/tests/ui/lower/inference/list-empty.stderr
  libs/@local/hashql/hir/tests/ui/lower/inference/list-multi.jsonc
  libs/@local/hashql/hir/tests/ui/lower/inference/list-multi.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/list-single.jsonc
  libs/@local/hashql/hir/tests/ui/lower/inference/list-single.stdout
  libs/@local/hashql/hir/tests/ui/reify/list.jsonc
  libs/@local/hashql/hir/tests/ui/reify/list.stderr
  libs/@local/hashql/hir/tests/ui/reify/list.stdout
Due: rust

fix:format
  libs/@hashintel/ds-components/src/lib/filter.tsx
  libs/@hashintel/ds-components/src/lib/flexible-filter.tsx
  libs/@hashintel/ds-components/src/lib/image-data-to-url.ts
  libs/@hashintel/ds-components/src/lib/maps/calculate-circle-map.ts
  libs/@hashintel/ds-components/src/lib/maps/displacement-map.ts
  libs/@hashintel/ds-components/src/lib/maps/specular.ts
  libs/@hashintel/ds-components/src/lib/use-debounce-motion-value.ts
  libs/@hashintel/ds-components/src/lib/use-motion-resize-observer.ts
Due: prettier

yarn fix:yarn-deduplicate
  yarn.lock
Due: none

feat: enable dict nodes
  libs/@local/hashql/hir/src/fold/mod.rs
  libs/@local/hashql/hir/src/intern.rs
  libs/@local/hashql/hir/src/node/data/mod.rs
  libs/@local/hashql/hir/src/pretty.rs
  libs/@local/hashql/hir/src/visit.rs
Due: rust

fix: remove incomplete flag
  libs/@local/hashql/hir/src/reify/mod.rs
Due: rust

feat: eval dict implementation
  libs/@local/hashql/eval/src/graph/read/filter_expr.rs
  libs/@local/hashql/syntax-jexpr/src/parser/array/mod.rs
Due: rust

feat: AST reify
  libs/@local/hashql/hir/src/intern.rs
  libs/@local/hashql/hir/src/reify/error.rs
  libs/@local/hashql/hir/src/reify/mod.rs
Due: rust

fix: wording in snapshots
  libs/@local/hashql/eval/tests/ui/graph/read/entity/field-in-dict-key.jsonc
  libs/@local/hashql/eval/tests/ui/graph/read/entity/field-in-dict-key.stderr
  libs/@local/hashql/eval/tests/ui/graph/read/entity/field-in-dict-value.jsonc
  libs/@local/hashql/eval/tests/ui/graph/read/entity/field-in-dict-value.stderr
Due: none

fix: test
  libs/@local/hashql/eval/tests/ui/graph/read/entity/field-in-dict-key.jsonc
  libs/@local/hashql/eval/tests/ui/graph/read/entity/field-in-dict-key.stderr
  libs/@local/hashql/hir/tests/ui/lower/inference/dict-multi-key.jsonc
  libs/@local/hashql/hir/tests/ui/lower/inference/dict-multi-key.stderr
Due: none

feat: implement inference
  libs/@local/hashql/eval/tests/ui/graph/read/entity/field-in-dict-key.jsonc
  libs/@local/hashql/eval/tests/ui/graph/read/entity/field-in-dict-key.stderr
  libs/@local/hashql/eval/tests/ui/graph/read/entity/field-in-dict-value.jsonc
  libs/@local/hashql/eval/tests/ui/graph/read/entity/field-in-dict-value.stderr
  libs/@local/hashql/hir/src/lower/inference.rs
  libs/@local/hashql/hir/tests/ui/lower/inference/dict-empty.jsonc
  libs/@local/hashql/hir/tests/ui/lower/inference/dict-empty.stderr
  libs/@local/hashql/hir/tests/ui/lower/inference/dict-multi-key.jsonc
  libs/@local/hashql/hir/tests/ui/lower/inference/dict-multi-key.stderr
  libs/@local/hashql/hir/tests/ui/lower/inference/dict-multi-value.jsonc
  libs/@local/hashql/hir/tests/ui/lower/inference/dict-multi-value.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/dict-single.jsonc
  libs/@local/hashql/hir/tests/ui/lower/inference/dict-single.stdout
Due: rust

Update dict.jsonc
  libs/@local/hashql/hir/tests/ui/reify/dict.jsonc
Due: none

chore: format
  libs/@local/hashql/hir/tests/ui/lower/inference/dict-multi-key.jsonc
  libs/@local/hashql/hir/tests/ui/lower/inference/dict-multi-key.stderr
  libs/@local/hashql/hir/tests/ui/lower/inference/dict-multi-value.jsonc
  libs/@local/hashql/hir/tests/ui/lower/inference/dict-single.jsonc
Due: none

feat: type checking
  libs/@local/hashql/hir/src/lower/checking.rs
  libs/@local/hashql/hir/tests/ui/lower/checking/dict-empty.jsonc
  libs/@local/hashql/hir/tests/ui/lower/checking/dict-empty.stdout
  libs/@local/hashql/hir/tests/ui/lower/checking/dict.jsonc
  libs/@local/hashql/hir/tests/ui/lower/checking/dict.stdout
Due: rust

test: reify
  libs/@local/hashql/hir/tests/ui/reify/dict.jsonc
  libs/@local/hashql/hir/tests/ui/reify/dict.stderr
  libs/@local/hashql/hir/tests/ui/reify/dict.stdout
Due: none

chore: do not error but continue on error
  libs/@local/hashql/hir/src/reify/mod.rs
Due: rust

Apply suggestions from code review
  libs/@local/hashql/eval/src/graph/read/filter_expr.rs
Due: rust

Include storybook .ts files to ESLint allowDefaultProject
  libs/@hashintel/ds-components/eslint.config.js
Due: prettier

feat: add CI action
  .github/workflows/dismiss-state-approvals.yml
Due: prettier

fix: file name
  .github/workflows/dismiss-stale-approvals.yml
Due: prettier

BE-98: HashQL: Enable dict literal construct (#7829)
  libs/@local/hashql/eval/src/graph/read/filter_expr.rs
  libs/@local/hashql/eval/tests/ui/graph/read/entity/field-in-dict-key.jsonc
  libs/@local/hashql/eval/tests/ui/graph/read/entity/field-in-dict-key.stderr
  libs/@local/hashql/eval/tests/ui/graph/read/entity/field-in-dict-value.jsonc
  libs/@local/hashql/eval/tests/ui/graph/read/entity/field-in-dict-value.stderr
  libs/@local/hashql/hir/src/fold/mod.rs
  libs/@local/hashql/hir/src/intern.rs
  libs/@local/hashql/hir/src/lower/checking.rs
  libs/@local/hashql/hir/src/lower/inference.rs
  libs/@local/hashql/hir/src/node/data/mod.rs
  libs/@local/hashql/hir/src/pretty.rs
  libs/@local/hashql/hir/src/reify/error.rs
  libs/@local/hashql/hir/src/reify/mod.rs
  libs/@local/hashql/hir/src/visit.rs
  libs/@local/hashql/hir/tests/ui/lower/checking/dict-empty.jsonc
  libs/@local/hashql/hir/tests/ui/lower/checking/dict-empty.stdout
  libs/@local/hashql/hir/tests/ui/lower/checking/dict.jsonc
  libs/@local/hashql/hir/tests/ui/lower/checking/dict.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/dict-empty.jsonc
  libs/@local/hashql/hir/tests/ui/lower/inference/dict-empty.stderr
  libs/@local/hashql/hir/tests/ui/lower/inference/dict-multi-key.jsonc
  libs/@local/hashql/hir/tests/ui/lower/inference/dict-multi-key.stderr
  libs/@local/hashql/hir/tests/ui/lower/inference/dict-multi-value.jsonc
  libs/@local/hashql/hir/tests/ui/lower/inference/dict-multi-value.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/dict-single.jsonc
  libs/@local/hashql/hir/tests/ui/lower/inference/dict-single.stdout
  libs/@local/hashql/hir/tests/ui/reify/dict.jsonc
  libs/@local/hashql/hir/tests/ui/reify/dict.stderr
  libs/@local/hashql/hir/tests/ui/reify/dict.stdout
  libs/@local/hashql/syntax-jexpr/src/parser/array/mod.rs
Due: rust

feat: squash
  libs/@local/hashql/core/src/module/locals.rs
  libs/@local/hashql/core/src/pretty/mod.rs
  libs/@local/hashql/core/src/type/error.rs
  libs/@local/hashql/core/src/type/inference/mod.rs
  libs/@local/hashql/core/src/type/inference/solver/mod.rs
  libs/@local/hashql/core/src/type/inference/variable.rs
  libs/@local/hashql/core/src/type/kind/closure.rs
  libs/@local/hashql/core/src/type/kind/generic/apply.rs
  libs/@local/hashql/core/src/type/kind/generic/mod.rs
  libs/@local/hashql/core/src/type/kind/generic/param.rs
  libs/@local/hashql/core/src/type/kind/intersection.rs
  libs/@local/hashql/core/src/type/kind/intrinsic.rs
  libs/@local/hashql/core/src/type/kind/mod.rs
  libs/@local/hashql/core/src/type/kind/opaque.rs
  libs/@local/hashql/core/src/type/kind/primitive.rs
  libs/@local/hashql/core/src/type/kind/struct.rs
  libs/@local/hashql/core/src/type/kind/tuple.rs
  libs/@local/hashql/core/src/type/kind/union.rs
  libs/@local/hashql/core/src/type/mod.rs
Due: rust

feat: use generics in hir
  libs/@local/hashql/hir/src/pretty.rs
Due: rust

Update libs/@hashintel/ds-components/.gitignore
  libs/@hashintel/ds-components/.gitignore
Due: none

Review + files on package.json
  libs/@hashintel/ds-helpers/package.json
  libs/@hashintel/ds-theme/turbo.json
Due: prettier, yarn

BE-139: HashQL: Make `PrettyPrinter` generic over the environment (#7831)
  libs/@local/hashql/core/src/module/locals.rs
  libs/@local/hashql/core/src/pretty/mod.rs
  libs/@local/hashql/core/src/type/error.rs
  libs/@local/hashql/core/src/type/inference/mod.rs
  libs/@local/hashql/core/src/type/inference/solver/mod.rs
  libs/@local/hashql/core/src/type/inference/variable.rs
  libs/@local/hashql/core/src/type/kind/closure.rs
  libs/@local/hashql/core/src/type/kind/generic/apply.rs
  libs/@local/hashql/core/src/type/kind/generic/mod.rs
  libs/@local/hashql/core/src/type/kind/generic/param.rs
  libs/@local/hashql/core/src/type/kind/intersection.rs
  libs/@local/hashql/core/src/type/kind/intrinsic.rs
  libs/@local/hashql/core/src/type/kind/mod.rs
  libs/@local/hashql/core/src/type/kind/opaque.rs
  libs/@local/hashql/core/src/type/kind/primitive.rs
  libs/@local/hashql/core/src/type/kind/struct.rs
  libs/@local/hashql/core/src/type/kind/tuple.rs
  libs/@local/hashql/core/src/type/kind/union.rs
  libs/@local/hashql/core/src/type/mod.rs
  libs/@local/hashql/hir/src/pretty.rs
Due: rust

Remove optics-related stuff in Button to please Vercel bot
  libs/@hashintel/ds-components/src/components/Button/button.tsx
Due: prettier

Fix:format
  libs/@hashintel/ds-components/src/components/Button/button.tsx
Due: prettier

chore: remove ANF musings
  libs/@local/hashql/hir/src/lower/anf.rs
  libs/@local/hashql/hir/src/lower/mod.rs
Due: rust

feat: squash
  libs/@local/graph/api/src/rest/entity_query_request.rs
  libs/@local/hashql/ast/src/lowering/node_renumberer.rs
  libs/@local/hashql/compiletest/src/suite/eval_graph_read_entity.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_alias_replacement.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_checking.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_ctor.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_inference.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_inference_intrinsics.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_specialization.rs
  libs/@local/hashql/compiletest/src/suite/hir_reify.rs
  libs/@local/hashql/core/src/id.rs
  libs/@local/hashql/core/src/symbol/mod.rs
  libs/@local/hashql/core/src/symbol/table.rs
  libs/@local/hashql/eval/src/graph/read/filter.rs
  libs/@local/hashql/eval/src/graph/read/filter_expr.rs
  libs/@local/hashql/eval/src/graph/read/mod.rs
  libs/@local/hashql/hir/src/context.rs
  libs/@local/hashql/hir/src/fold/mod.rs
  libs/@local/hashql/hir/src/lib.rs
  libs/@local/hashql/hir/src/lower/alias.rs
  libs/@local/hashql/hir/src/lower/anf.rs
  libs/@local/hashql/hir/src/lower/checking.rs
  libs/@local/hashql/hir/src/lower/ctor.rs
  libs/@local/hashql/hir/src/lower/error.rs
  libs/@local/hashql/hir/src/lower/inference.rs
  libs/@local/hashql/hir/src/lower/mod.rs
  libs/@local/hashql/hir/src/lower/specialization/error.rs
  libs/@local/hashql/hir/src/lower/specialization/mod.rs
  libs/@local/hashql/hir/src/node/closure.rs
  libs/@local/hashql/hir/src/node/let.rs
  libs/@local/hashql/hir/src/node/variable.rs
  libs/@local/hashql/hir/src/node/variable/local.rs
  libs/@local/hashql/hir/src/node/variable/mod.rs
  libs/@local/hashql/hir/src/node/variable/qualified.rs
  libs/@local/hashql/hir/src/pretty.rs
  libs/@local/hashql/hir/src/reify/mod.rs
  libs/@local/hashql/hir/src/visit.rs
Due: rust

chore: docs
  libs/@local/hashql/core/src/symbol/mod.rs
  libs/@local/hashql/core/src/symbol/table.rs
Due: rust

Update mod.rs
  libs/@local/hashql/hir/src/node/variable/mod.rs
Due: rust

Path conditions:
  markdownlint: any of: *.md
  prettier: any of: *.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}
  yarn: any of: {*/package.json, package.json}
  sqlfluff: any of: *.sql
  rust: any of: *.rs
  toml: any of: *.toml
