Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    biome:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: biome format --write --staged || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: rustfmt {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: taplo format {staged_files} || true
      stage_fixed: true

fix(petrinaut): compile conditional distributions
  .changeset/quiet-ternaries-compile.md
  libs/@hashintel/petrinaut-core/src/hir/emit-buffer-js.test.ts
  libs/@hashintel/petrinaut-core/src/hir/emit-buffer-js.ts
Due: markdownlint, biome

Fix popover positioning
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/detailed-node-layer.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/network-graph.stories.tsx
  libs/@hashintel/ds-components/src/components/Popover/popover.stories.tsx
  libs/@hashintel/ds-components/src/components/Popover/popover.tsx
Due: biome

Better hover effects again
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/detailed-node-layer.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/network-graph.tsx
Due: biome

Make slightly transparent during zoom in in graph compact view
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/network-graph.tsx
Due: biome

Make detailed view slightly transparent
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/compact-node-layer.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/detailed-node-layer.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/network-graph.tsx
Due: biome

Update popover animation
  libs/@hashintel/ds-components/src/components/Popover/popover.recipe.ts
  libs/@hashintel/ds-components/src/components/Popover/popover.tsx
Due: biome

Updated edge fixtures to approximate more realistic data
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/fixtures/edges.json
Due: biome

Use Unix socket protocol for Petrinaut CLI
  libs/@hashintel/petrinaut-cli/README.md
  libs/@hashintel/petrinaut-cli/package.json
  libs/@hashintel/petrinaut-cli/src/cli.ts
  libs/@hashintel/petrinaut-cli/src/commands/serve.ts
Due: markdownlint, biome, yarn

Use turbo instead of yarn for build instruction in README
  libs/@hashintel/petrinaut-cli/README.md
Due: markdownlint, biome

Add Petrinaut CLI server
  libs/@hashintel/petrinaut-cli/README.md
  libs/@hashintel/petrinaut-cli/examples/deployment-pipeline.json
  libs/@hashintel/petrinaut-cli/examples/production-with-machine-failure.json
  libs/@hashintel/petrinaut-cli/examples/satellites-launcher.json
  libs/@hashintel/petrinaut-cli/examples/sir-model.json
  libs/@hashintel/petrinaut-cli/examples/supply-chain-with-disruption.json
  libs/@hashintel/petrinaut-cli/package.json
  libs/@hashintel/petrinaut-cli/src/cli.ts
  libs/@hashintel/petrinaut-cli/src/commands/serve.ts
  libs/@hashintel/petrinaut-cli/src/runtime/load-model.ts
  libs/@hashintel/petrinaut-cli/src/runtime/run-request.ts
  libs/@hashintel/petrinaut-cli/tsconfig.json
  libs/@hashintel/petrinaut-cli/turbo.json
  libs/@hashintel/petrinaut-cli/vite.config.ts
  libs/@hashintel/petrinaut-core/src/index.ts
  libs/@hashintel/petrinaut-core/src/simulation/compiled-model.ts
  libs/@hashintel/petrinaut-core/src/simulation/index.ts
  yarn.lock
Due: markdownlint, biome, yarn

Document Petrinaut CLI model examples
  libs/@hashintel/petrinaut-cli/MODEL_EXAMPLES.md
  libs/@hashintel/petrinaut-cli/PYTHON_INTEGRATION.md
Due: markdownlint, biome

Add Petrinaut CLI stdio integration
  libs/@hashintel/petrinaut-cli/PYTHON_INTEGRATION.md
  libs/@hashintel/petrinaut-cli/README.md
  libs/@hashintel/petrinaut-cli/examples/python_stdio.py
  libs/@hashintel/petrinaut-cli/package.json
  libs/@hashintel/petrinaut-cli/src/cli.ts
  libs/@hashintel/petrinaut-cli/src/commands/serve.ts
  libs/@hashintel/petrinaut-cli/src/commands/stdio.ts
  libs/@hashintel/petrinaut-cli/src/runtime/protocol.ts
Due: markdownlint, biome, yarn

Validate Petrinaut CLI run limits
  libs/@hashintel/petrinaut-cli/src/runtime/run-request.ts
  libs/@hashintel/petrinaut-core/src/simulation/compiled-model.test.ts
  libs/@hashintel/petrinaut-core/src/simulation/compiled-model.ts
Due: biome

Address Petrinaut CLI review feedback
  libs/@hashintel/petrinaut-cli/LICENSE.md
  libs/@hashintel/petrinaut-cli/README.md
  libs/@hashintel/petrinaut-cli/examples/satellites-launcher.json
  libs/@hashintel/petrinaut-cli/package.json
  libs/@hashintel/petrinaut-cli/src/commands/serve.ts
  libs/@hashintel/petrinaut-cli/src/commands/stdio.ts
  libs/@hashintel/petrinaut-cli/src/runtime/json-lines.test.ts
  libs/@hashintel/petrinaut-cli/src/runtime/json-lines.ts
  libs/@hashintel/petrinaut-cli/src/runtime/load-model.test.ts
  libs/@hashintel/petrinaut-cli/src/runtime/load-model.ts
  libs/@hashintel/petrinaut-cli/src/runtime/protocol.test.ts
  libs/@hashintel/petrinaut-cli/src/runtime/protocol.ts
  libs/@hashintel/petrinaut-cli/src/runtime/run-request.ts
  libs/@hashintel/petrinaut-core/src/examples/satellites-launcher.ts
  libs/@hashintel/petrinaut-core/src/parameter-values.test.ts
  libs/@hashintel/petrinaut-core/src/parameter-values.ts
  libs/@hashintel/petrinaut-core/src/simulation/compiled-model.test.ts
  libs/@hashintel/petrinaut-core/src/simulation/compiled-model.ts
  yarn.lock
Due: markdownlint, biome, yarn

Add Petrinaut CLI license files
  libs/@hashintel/petrinaut-cli/LICENSE-APACHE.md
  libs/@hashintel/petrinaut-cli/LICENSE-MIT.md
  libs/@hashintel/petrinaut-cli/LICENSE.md
Due: markdownlint, biome

Address final Petrinaut CLI review feedback
  libs/@hashintel/petrinaut-cli/PYTHON_INTEGRATION.md
  libs/@hashintel/petrinaut-cli/README.md
  libs/@hashintel/petrinaut-cli/src/commands/serve.ts
  libs/@hashintel/petrinaut-cli/src/commands/stdio.ts
  libs/@hashintel/petrinaut-cli/src/commands/transports.test.ts
  libs/@hashintel/petrinaut-cli/src/runtime/protocol.test.ts
  libs/@hashintel/petrinaut-cli/src/runtime/run-request.ts
  libs/@hashintel/petrinaut-core/src/simulation/compiled-model.test.ts
  libs/@hashintel/petrinaut-core/src/simulation/compiled-model.ts
Due: markdownlint, biome

Address Petrinaut CLI alias review feedback
  libs/@hashintel/petrinaut-cli/PYTHON_INTEGRATION.md
  libs/@hashintel/petrinaut-cli/README.md
  libs/@hashintel/petrinaut-cli/src/runtime/protocol.test.ts
  libs/@hashintel/petrinaut-cli/src/runtime/run-request.ts
  libs/@hashintel/petrinaut-core/src/schemas/entity-schemas.ts
  libs/@hashintel/petrinaut-core/src/simulation/compiled-model.test.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/build-simulation.ts
Due: markdownlint, biome

Fix Petrinaut frontend deploy build
  libs/@hashintel/petrinaut-cli/src/commands/serve.ts
  libs/@hashintel/petrinaut-cli/src/commands/stdio.ts
  libs/@hashintel/petrinaut-cli/src/runtime/protocol.test.ts
  libs/@hashintel/petrinaut-cli/src/runtime/protocol.ts
  libs/@hashintel/petrinaut-cli/src/runtime/run-request.ts
  libs/@hashintel/petrinaut-cli/tsconfig.json
  libs/@hashintel/petrinaut-cli/vite.config.ts
  libs/@hashintel/petrinaut-core/package.json
  libs/@hashintel/petrinaut-core/src/compiled-model.ts
  libs/@hashintel/petrinaut-core/src/index.ts
  libs/@hashintel/petrinaut-core/src/simulation/index.ts
  libs/@hashintel/petrinaut-core/vite.config.ts
Due: biome, yarn

better dashboard web scoping / use web bot
  apps/hash-ai-worker-ts/src/activities/compute-dashboard-item-data-activity.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/analyze-entity-data-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/generate-structural-query-action.ts
  apps/hash-ai-worker-ts/src/activities/shared/scope-filter-to-web.ts
  apps/hash-api/src/analysis/analyses/dashboards.test.ts
  apps/hash-api/src/analysis/analyses/dashboards.ts
Due: biome

Added edges to detailed view
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/compact-node-layer.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/edge-bundling.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/network-graph.tsx
Due: biome

update e2b version + disallow internet access
  apps/hash-ai-worker-ts/package.json
  apps/hash-ai-worker-ts/src/activities/compute-dashboard-item-data-activity.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/answer-question-action.ts
  apps/hash-ai-worker-ts/src/activities/shared/run-python-code.test.ts
  apps/hash-ai-worker-ts/src/activities/shared/run-python-code.ts
  apps/hash-ai-worker-ts/src/activities/shared/scope-filter-to-web.test.ts
Due: biome, yarn

handle updating chart items outside modal
  apps/hash-frontend/src/pages/dashboard/[dashboard-id].page.tsx
  apps/hash-frontend/src/pages/dashboard/[dashboard-id].page/dashboard-grid/dashboard-item.tsx
  apps/hash-frontend/src/pages/dashboard/[dashboard-id].page/dashboard-grid/dashboard-item/dashboard-item-content.tsx
  apps/hash-frontend/src/pages/dashboard/[dashboard-id].page/item-config-modal.tsx
  apps/hash-frontend/src/pages/dashboard/hooks/use-dashboard-item-config.ts
Due: biome

formatting / lint fixes
  .cursor/rules/graph-queries.md
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/092-create-dashboard-types.dev.migration.ts
  apps/hash-frontend/package.json
  apps/hash-frontend/src/pages/dashboard/[dashboard-id].page/dashboard-grid/dashboard-item/dashboard-item-content/chart-renderer.tsx
  apps/hash-frontend/src/pages/dashboard/[dashboard-id].page/dashboard-grid/dashboard-item/dashboard-item-content/world-map-renderer.tsx
  apps/hash-frontend/src/pages/dashboard/[dashboard-id].page/dashboard-header.tsx
  apps/hash-frontend/src/pages/dashboards.page.tsx
  libs/@hashintel/design-system/src/e-chart.tsx
  libs/@local/graph/api/package.json
  libs/@local/hash-isomorphic-utils/src/graph-queries.ts
  libs/@local/hash-isomorphic-utils/src/system-types/dashboard.ts
  yarn.lock
Due: markdownlint, biome, yarn

Fix encoding
  apps/hash-frontend/src/pages/dashboard/[dashboard-id].page/dashboard-grid/dashboard-item/dashboard-item-content/world-map-renderer.tsx
Due: biome

remove allErrors: true from ajv call
  apps/hash-ai-worker-ts/src/activities/flow-activities/chart-config-validation.ts
Due: biome

better error handling in analysis
  apps/hash-api/src/analysis/analyses/dashboards.test.ts
  apps/hash-api/src/analysis/analyses/dashboards.ts
  apps/hash-api/src/analysis/setup-analysis-handler/resolve-analysis.ts
  apps/hash-api/src/analysis/shared/errors.ts
Due: biome

surface errors from storage providers
  apps/hash-api/src/analysis/setup-analysis-handler/resolve-analysis.test.ts
  apps/hash-api/src/analysis/setup-analysis-handler/resolve-analysis.ts
  apps/hash-api/src/storage/local-file-storage.test.ts
  apps/hash-api/src/storage/local-file-storage.ts
  yarn.lock
Due: biome

Harden Petrinaut CLI execution contracts
  libs/@hashintel/petrinaut-cli/PYTHON_INTEGRATION.md
  libs/@hashintel/petrinaut-cli/README.md
  libs/@hashintel/petrinaut-cli/package.json
  libs/@hashintel/petrinaut-cli/src/commands/serve.ts
  libs/@hashintel/petrinaut-cli/src/commands/transports.test.ts
  libs/@hashintel/petrinaut-cli/src/runtime/protocol.test.ts
  libs/@hashintel/petrinaut-cli/src/runtime/run-request.ts
  libs/@hashintel/petrinaut-core/src/action-schemas.ts
  libs/@hashintel/petrinaut-core/src/file-format/parse-sdcpn-file.test.ts
  libs/@hashintel/petrinaut-core/src/file-format/types.ts
  libs/@hashintel/petrinaut-core/src/index.ts
  libs/@hashintel/petrinaut-core/src/parameter-values.ts
  libs/@hashintel/petrinaut-core/src/schemas/entity-schemas.ts
  libs/@hashintel/petrinaut-core/src/simulation/authoring/scenario/compile-scenario.test.ts
  libs/@hashintel/petrinaut-core/src/simulation/authoring/scenario/compile-scenario.ts
  libs/@hashintel/petrinaut-core/src/simulation/compiled-model.test.ts
  libs/@hashintel/petrinaut-core/src/simulation/compiled-model.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/build-simulation.ts
  libs/@hashintel/petrinaut-core/src/simulation/runtime/simulation.ts
  libs/@hashintel/petrinaut/docs/scenarios.md
  libs/@hashintel/petrinaut/docs/simulation.md
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/simulation-settings.tsx
  yarn.lock
Due: markdownlint, biome, yarn

address PR feedback for item-config-modal.tsx
  apps/hash-ai-worker-ts/package.json
  apps/hash-ai-worker-ts/scripts/generate-chart-config-schema.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/chart-config-validation.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/generate-chart-config-action.ts
  apps/hash-frontend/src/pages/dashboard/[dashboard-id].page/item-config-modal.tsx
  apps/hash-frontend/src/pages/dashboard/hooks/use-dashboard-item-config.ts
  libs/@local/hash-isomorphic-utils/src/chart-config-schema.ts
  libs/@local/hash-isomorphic-utils/src/chart-config-validation.ts
  yarn.lock
Due: biome, yarn

SRE-812: Add atlas as ECS redeploy target of the graph image
  .github/workflows/deploy.yml
Due: biome

SRE-812: Add petrinaut-opt to the deploy service catalog
  .github/workflows/deploy.yml
Due: biome

SRE-812: Expect petrinaut-opt under apps/ instead of libs/
  .github/workflows/deploy.yml
Due: biome

more PR feedback
  apps/hash-ai-worker-ts/src/activities/flow-activities/analyze-entity-data-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/generate-structural-query-action.ts
  apps/hash-api/src/analysis/analyses/dashboards.test.ts
  apps/hash-api/src/analysis/analyses/dashboards.ts
  apps/hash-api/src/seed-data/seed-dashboard-demo.ts
  apps/hash-frontend/src/pages/dashboard/[dashboard-id].page.tsx
  apps/hash-frontend/src/pages/dashboard/[dashboard-id].page/dashboard-header.tsx
  yarn.lock
Due: biome
