Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

markdownlint:
  tags:
  - frontend
  - style
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

biome:
  tags:
  - frontend
  - style
  run: biome format --write --staged || true
  stage_fixed: true

yarn:
  tags:
  - frontend
  - style
  run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
  stage_fixed: true

sqlfluff:
  tags:
  - backend
  - style
  run: sqlfluff fix {staged_files} || true
  stage_fixed: true

rust:
  tags:
  - backend
  - style
  run: rustfmt {staged_files} || true
  stage_fixed: true

toml:
  tags:
  - backend
  - style
  run: taplo format {staged_files} || true
  stage_fixed: true

Refactor simulation timeline series config
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/simulation-timeline/series-config/index.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/simulation-timeline/series-config/metric.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/simulation-timeline/series-config/per-place.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/simulation-timeline/series-config/per-transition.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/simulation-timeline/series-config/per-type.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/simulation-timeline/types.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/simulation-timeline/use-streaming-data.ts
Due: biome

Simplify simulation playback lifecycle
  libs/@hashintel/petrinaut/src/core/index.ts
  libs/@hashintel/petrinaut/src/core/playback/index.ts
  libs/@hashintel/petrinaut/src/core/playback/playback.test.ts
  libs/@hashintel/petrinaut/src/core/playback/playback.ts
  libs/@hashintel/petrinaut/src/react/petrinaut-provider.tsx
  libs/@hashintel/petrinaut/src/react/playback/provider.test.tsx
  libs/@hashintel/petrinaut/src/react/playback/provider.tsx
  libs/@hashintel/petrinaut/src/react/simulation/provider.tsx
Due: biome

Fix simulation timeline metric defaults
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/simulation-timeline/use-streaming-data.ts
Due: biome

Document simulation timeline series config
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/simulation-timeline/use-streaming-data.ts
Due: biome

Hide transition frame state type
  libs/@hashintel/petrinaut/src/core/index.ts
  libs/@hashintel/petrinaut/src/core/simulation/api.ts
  libs/@hashintel/petrinaut/src/core/simulation/engine/types.ts
  libs/@hashintel/petrinaut/src/core/simulation/frames/frame-reader.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/frames/frame-reader.ts
  libs/@hashintel/petrinaut/src/core/simulation/frames/internal-frame.ts
  libs/@hashintel/petrinaut/src/core/simulation/frames/transition-state.ts
  libs/@hashintel/petrinaut/src/core/simulation/index.ts
  libs/@hashintel/petrinaut/src/core/simulation/monte-carlo/monte-carlo-simulator.ts
  libs/@hashintel/petrinaut/src/core/simulation/worker/frame-payload.ts
  libs/@hashintel/petrinaut/src/main.ts
  libs/@hashintel/petrinaut/src/react/playback/context.ts
  libs/@hashintel/petrinaut/src/react/playback/provider.test.tsx
  libs/@hashintel/petrinaut/src/react/simulation/context.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/hooks/use-sdcpn-to-react-flow.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/reactflow-types.ts
Due: biome

Make simulation engine frames binary
  libs/@hashintel/petrinaut/src/core/simulation/ARCHITECTURE.md
  libs/@hashintel/petrinaut/src/core/simulation/README.md
  libs/@hashintel/petrinaut/src/core/simulation/engine/README.md
  libs/@hashintel/petrinaut/src/core/simulation/engine/build-simulation.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/engine/build-simulation.ts
  libs/@hashintel/petrinaut/src/core/simulation/engine/check-transition-enablement.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/engine/check-transition-enablement.ts
  libs/@hashintel/petrinaut/src/core/simulation/engine/compute-next-frame.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/engine/compute-next-frame.ts
  libs/@hashintel/petrinaut/src/core/simulation/engine/compute-possible-transition.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/engine/compute-possible-transition.ts
  libs/@hashintel/petrinaut/src/core/simulation/engine/execute-transitions.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/engine/execute-transitions.ts
  libs/@hashintel/petrinaut/src/core/simulation/engine/remove-tokens-from-simulation-frame.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/engine/remove-tokens-from-simulation-frame.ts
  libs/@hashintel/petrinaut/src/core/simulation/engine/types.ts
  libs/@hashintel/petrinaut/src/core/simulation/frames/frame-reader.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/frames/frame-reader.ts
  libs/@hashintel/petrinaut/src/core/simulation/frames/internal-frame.ts
  libs/@hashintel/petrinaut/src/core/simulation/index.ts
  libs/@hashintel/petrinaut/src/core/simulation/monte-carlo/index.ts
  libs/@hashintel/petrinaut/src/core/simulation/monte-carlo/monte-carlo-simulator.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/monte-carlo/monte-carlo-simulator.ts
  libs/@hashintel/petrinaut/src/core/simulation/runtime/frame-store.ts
  libs/@hashintel/petrinaut/src/core/simulation/runtime/simulation.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/runtime/simulation.ts
  libs/@hashintel/petrinaut/src/core/simulation/worker/README.md
  libs/@hashintel/petrinaut/src/core/simulation/worker/frame-payload.ts
Due: markdownlint, biome

Move simulation time out of EngineFrame
  libs/@hashintel/petrinaut/src/core/simulation/ARCHITECTURE.md
  libs/@hashintel/petrinaut/src/core/simulation/engine/README.md
  libs/@hashintel/petrinaut/src/core/simulation/engine/build-simulation.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/engine/build-simulation.ts
  libs/@hashintel/petrinaut/src/core/simulation/engine/check-transition-enablement.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/engine/compute-next-frame.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/engine/compute-next-frame.ts
  libs/@hashintel/petrinaut/src/core/simulation/engine/compute-possible-transition.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/engine/execute-transitions.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/engine/execute-transitions.ts
  libs/@hashintel/petrinaut/src/core/simulation/engine/remove-tokens-from-simulation-frame.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/engine/types.ts
  libs/@hashintel/petrinaut/src/core/simulation/frames/frame-reader.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/frames/frame-reader.ts
  libs/@hashintel/petrinaut/src/core/simulation/frames/internal-frame.ts
  libs/@hashintel/petrinaut/src/core/simulation/monte-carlo/monte-carlo-simulator.ts
  libs/@hashintel/petrinaut/src/core/simulation/runtime/frame-store.ts
  libs/@hashintel/petrinaut/src/core/simulation/worker/frame-payload.ts
  libs/@hashintel/petrinaut/src/core/simulation/worker/simulation.worker.ts
Due: markdownlint, biome

Make simulation initial marking serializable
  libs/@hashintel/petrinaut/src/core/simulation/README.md
  libs/@hashintel/petrinaut/src/core/simulation/api.ts
  libs/@hashintel/petrinaut/src/core/simulation/authoring/scenario/compile-scenario.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/authoring/scenario/compile-scenario.ts
  libs/@hashintel/petrinaut/src/core/simulation/engine/build-simulation.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/engine/build-simulation.ts
  libs/@hashintel/petrinaut/src/core/simulation/engine/compute-next-frame.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/engine/types.ts
  libs/@hashintel/petrinaut/src/core/simulation/index.ts
  libs/@hashintel/petrinaut/src/core/simulation/monte-carlo/monte-carlo-simulator.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/runtime/simulation.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/runtime/simulation.ts
  libs/@hashintel/petrinaut/src/core/simulation/worker/README.md
  libs/@hashintel/petrinaut/src/core/simulation/worker/messages.ts
  libs/@hashintel/petrinaut/src/core/simulation/worker/simulation.worker.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/worker/simulation.worker.ts
  libs/@hashintel/petrinaut/src/react/mutation-provider.test.tsx
  libs/@hashintel/petrinaut/src/react/playback/provider.test.tsx
  libs/@hashintel/petrinaut/src/react/simulation/context.ts
  libs/@hashintel/petrinaut/src/react/simulation/provider.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/playback-settings-menu.stories.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/place-properties/subviews/place-initial-state/initial-state-editor.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/place-properties/subviews/place-initial-state/subview.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/place-properties/subviews/place-visualizer/subview.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/components/classic-place-node.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/components/place-node.tsx
Due: markdownlint, biome

Remove time from simulation frame reader
  libs/@hashintel/petrinaut/src/core/simulation/ARCHITECTURE.md
  libs/@hashintel/petrinaut/src/core/simulation/api.ts
  libs/@hashintel/petrinaut/src/core/simulation/frames/frame-reader.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/frames/frame-reader.ts
  libs/@hashintel/petrinaut/src/core/simulation/runtime/frame-store.ts
  libs/@hashintel/petrinaut/src/core/simulation/runtime/simulation.test.ts
  libs/@hashintel/petrinaut/src/react/playback/provider.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/simulation-controls.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/simulation-timeline/series-config/per-transition.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/simulation-timeline/types.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/simulation-timeline/use-streaming-data.ts
Due: markdownlint, biome

Optimize transition execution metadata
  libs/@hashintel/petrinaut/src/core/simulation/engine/build-simulation.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/engine/build-simulation.ts
  libs/@hashintel/petrinaut/src/core/simulation/engine/compute-possible-transition.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/engine/compute-possible-transition.ts
  libs/@hashintel/petrinaut/src/core/simulation/engine/execute-transitions.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/engine/types.ts
Due: biome

Delete MonteCarloSimulator.md
  libs/@hashintel/petrinaut/rfc/0002-simulation-engine-v2/MonteCarloSimulator.md
Due: markdownlint, biome

Precompile differential equation adapters
  libs/@hashintel/petrinaut/src/core/simulation/engine/build-simulation.ts
  libs/@hashintel/petrinaut/src/core/simulation/engine/compute-next-frame.ts
  libs/@hashintel/petrinaut/src/core/simulation/engine/types.ts
Due: biome

Add Monte Carlo simulator
  libs/@hashintel/petrinaut/src/core/index.ts
  libs/@hashintel/petrinaut/src/core/simulation/index.ts
  libs/@hashintel/petrinaut/src/core/simulation/monte-carlo/README.md
  libs/@hashintel/petrinaut/src/core/simulation/monte-carlo/advance-run.ts
  libs/@hashintel/petrinaut/src/core/simulation/monte-carlo/frame-buffer.ts
  libs/@hashintel/petrinaut/src/core/simulation/monte-carlo/frame-operations.ts
  libs/@hashintel/petrinaut/src/core/simulation/monte-carlo/index.ts
  libs/@hashintel/petrinaut/src/core/simulation/monte-carlo/internal-types.ts
  libs/@hashintel/petrinaut/src/core/simulation/monte-carlo/layout.ts
  libs/@hashintel/petrinaut/src/core/simulation/monte-carlo/monte-carlo-1000.local.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/monte-carlo/monte-carlo-simulator.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/monte-carlo/monte-carlo-simulator.ts
  libs/@hashintel/petrinaut/src/core/simulation/monte-carlo/run-state.ts
  libs/@hashintel/petrinaut/src/core/simulation/monte-carlo/transition-effect.ts
  libs/@hashintel/petrinaut/src/core/simulation/monte-carlo/types.ts
Due: markdownlint, biome

Remove local Monte Carlo stress test
  libs/@hashintel/petrinaut/src/core/simulation/monte-carlo/monte-carlo-1000.local.test.ts
Due: biome

Add Petrinaut Monte Carlo changeset
  .changeset/smooth-lizards-run.md
Due: markdownlint, biome

Add Petrinaut Monte Carlo CLI
  libs/@hashintel/petrinaut/package.json
  libs/@hashintel/petrinaut/rfc/0001-core-react-ui-split/01-motivation.md
  libs/@hashintel/petrinaut/rfc/0001-core-react-ui-split/02-current-state.md
  libs/@hashintel/petrinaut/rfc/0001-core-react-ui-split/03-layering.md
  libs/@hashintel/petrinaut/rfc/0001-core-react-ui-split/04-core-instance.md
  libs/@hashintel/petrinaut/rfc/0001-core-react-ui-split/05-simulation.md
  libs/@hashintel/petrinaut/rfc/0001-core-react-ui-split/06-react-bindings.md
  libs/@hashintel/petrinaut/rfc/0001-core-react-ui-split/07-open-questions.md
  libs/@hashintel/petrinaut/rfc/0001-core-react-ui-split/08-migration.md
  libs/@hashintel/petrinaut/rfc/0001-core-react-ui-split/09-risks.md
  libs/@hashintel/petrinaut/rfc/0001-core-react-ui-split/10-public-api.md
  libs/@hashintel/petrinaut/rfc/0001-core-react-ui-split/11-headless-usage.md
  libs/@hashintel/petrinaut/rfc/0001-core-react-ui-split/README.md
  libs/@hashintel/petrinaut/rfc/0002-simulation-engine-v2/README.md
  libs/@hashintel/petrinaut/src/cli/app.tsx
  libs/@hashintel/petrinaut/src/cli/examples.ts
  libs/@hashintel/petrinaut/src/cli/index.tsx
  libs/@hashintel/petrinaut/src/core/index.ts
  libs/@hashintel/petrinaut/src/main.ts
  libs/@hashintel/petrinaut/src/ui/petrinaut.stories.tsx
  yarn.lock
Due: markdownlint, biome, yarn

Add Monte Carlo experiments UI
  libs/@hashintel/petrinaut/panda.config.shared.ts
  libs/@hashintel/petrinaut/src/core/index.ts
  libs/@hashintel/petrinaut/src/core/simulation/authoring/scenario/compile-scenario.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/authoring/scenario/compile-scenario.ts
  libs/@hashintel/petrinaut/src/core/simulation/index.ts
  libs/@hashintel/petrinaut/src/core/simulation/monte-carlo/index.ts
  libs/@hashintel/petrinaut/src/core/simulation/monte-carlo/metrics/index.ts
  libs/@hashintel/petrinaut/src/core/simulation/monte-carlo/metrics/place-token-count-distribution.ts
  libs/@hashintel/petrinaut/src/core/simulation/monte-carlo/metrics/types.ts
  libs/@hashintel/petrinaut/src/core/simulation/monte-carlo/monte-carlo-simulator.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/monte-carlo/monte-carlo-simulator.ts
  libs/@hashintel/petrinaut/src/core/simulation/monte-carlo/runtime/experiment.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/monte-carlo/runtime/experiment.ts
  libs/@hashintel/petrinaut/src/core/simulation/monte-carlo/types.ts
  libs/@hashintel/petrinaut/src/core/simulation/monte-carlo/worker/create-monte-carlo-worker.ts
  libs/@hashintel/petrinaut/src/core/simulation/monte-carlo/worker/messages.ts
  libs/@hashintel/petrinaut/src/core/simulation/monte-carlo/worker/monte-carlo.worker.ts
  libs/@hashintel/petrinaut/src/react/experiments/context.ts
  libs/@hashintel/petrinaut/src/react/experiments/provider.test.tsx
  libs/@hashintel/petrinaut/src/react/experiments/provider.tsx
  libs/@hashintel/petrinaut/src/react/index.ts
  libs/@hashintel/petrinaut/src/react/petrinaut-provider.tsx
  libs/@hashintel/petrinaut/src/ui/petrinaut.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/simulation-timeline/header.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/create-experiment-drawer.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiment-timeline.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/simulate-view.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/view-experiment-drawer.tsx
Due: biome

Fix Petrinaut simulation pre-merge issues
  libs/@hashintel/petrinaut/analysis/summary-summary.md
  libs/@hashintel/petrinaut/src/core/simulation/ARCHITECTURE.md
  libs/@hashintel/petrinaut/src/core/simulation/api.ts
  libs/@hashintel/petrinaut/src/core/simulation/authoring/scenario/compile-scenario.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/authoring/scenario/compile-scenario.ts
  libs/@hashintel/petrinaut/src/core/simulation/frames/frame-reader.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/frames/frame-reader.ts
  libs/@hashintel/petrinaut/src/core/simulation/runtime/frame-store.ts
  libs/@hashintel/petrinaut/src/core/simulation/runtime/simulation.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/worker/simulation.worker.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/worker/simulation.worker.ts
  libs/@hashintel/petrinaut/src/react/playback/provider.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/simulation-timeline/use-streaming-data.ts
Due: markdownlint, biome

Remove Petrinaut CLI
  libs/@hashintel/petrinaut/package.json
  libs/@hashintel/petrinaut/src/cli/app.tsx
  libs/@hashintel/petrinaut/src/cli/examples.ts
  libs/@hashintel/petrinaut/src/cli/index.tsx
  yarn.lock
Due: biome, yarn

Update .gitignore to exclude analysis folder
  libs/.gitignore
Due: none

Remove Petrinaut analysis artifacts
  libs/@hashintel/petrinaut/analysis/summary-summary.md
Due: markdownlint, biome

Resolve timeline icon and metric imports
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/simulation-timeline.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/simulation-timeline/header.tsx
Due: biome

Avoid cloning Monte Carlo initial marking
  libs/@hashintel/petrinaut/src/core/simulation/monte-carlo/run-state.ts
Due: biome

Adjust experiment drawer body spacing
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/view-experiment-drawer.tsx
Due: biome

Fix empty colored token row validation
  libs/@hashintel/petrinaut/src/core/simulation/authoring/scenario/compile-scenario.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/authoring/scenario/compile-scenario.ts
Due: biome

Update smooth-lizards-run.md
  .changeset/smooth-lizards-run.md
Due: markdownlint, biome

Normalize drawer body spacing
  libs/@hashintel/petrinaut/src/ui/components/panel-primitives.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/create-metric-drawer.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/create-scenario-drawer.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/view-experiment-drawer.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/view-metric-drawer.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/view-scenario-drawer.tsx
Due: biome

Remove unused drawer style imports
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/create-metric-drawer.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/create-scenario-drawer.tsx
Due: biome

Clean up Monte Carlo transport on init failure
  libs/@hashintel/petrinaut/src/core/simulation/monte-carlo/runtime/experiment.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/monte-carlo/runtime/experiment.ts
Due: biome

Make inline code editor tabs move focus
  libs/@hashintel/petrinaut/src/ui/monaco/code-editor.tsx
Due: biome

Fix Monte Carlo simulation time drift
  libs/@hashintel/petrinaut/src/core/simulation/monte-carlo/advance-run.ts
  libs/@hashintel/petrinaut/src/core/simulation/monte-carlo/frame-buffer.ts
  libs/@hashintel/petrinaut/src/core/simulation/monte-carlo/frame-operations.ts
  libs/@hashintel/petrinaut/src/core/simulation/monte-carlo/internal-types.ts
  libs/@hashintel/petrinaut/src/core/simulation/monte-carlo/monte-carlo-simulator.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/monte-carlo/monte-carlo-simulator.ts
  libs/@hashintel/petrinaut/src/core/simulation/monte-carlo/run-state.ts
  libs/@hashintel/petrinaut/src/core/simulation/monte-carlo/time.ts
  libs/@hashintel/petrinaut/src/core/simulation/monte-carlo/transition-effect.ts
Due: biome

FE-720: Fix Refractive SSR ImageData crash
  .changeset/refractive-ssr-filter.md
  libs/@hashintel/refractive/src/hoc/refractive.tsx
Due: markdownlint, biome

Add Number input to DS
  libs/@hashintel/ds-components/src/components/NumberInput/number-input.stories.tsx
  libs/@hashintel/ds-components/src/components/NumberInput/number-input.tsx
Due: biome

Fix number input stories
  libs/@hashintel/ds-components/src/components/NumberInput/number-input.stories.tsx
Due: biome

chore: remove gitignore
  libs/.gitignore
  libs/@local/hash-authorization/Cargo.lock
  libs/antsi/Cargo.lock
  libs/error-stack/Cargo.lock
Due: none

Prevent scrolling on number inputs
  libs/@hashintel/ds-components/src/components/NumberInput/number-input.tsx
Due: biome

chore: remove superfluos lock files
  libs/@local/hash-authorization/Cargo.lock
  libs/antsi/Cargo.lock
  libs/error-stack/Cargo.lock
Due: none

H-6474: remove shared libs `.gitignore` (#8726)
  libs/.gitignore
Due: none

Path conditions:
  markdownlint: any of: *.md
  biome: any of: *.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}
  yarn: any of: {*/package.json, package.json}
  sqlfluff: any of: *.sql
  rust: any of: *.rs
  toml: any of: *.toml
