Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    biome:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: biome format --write --staged || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: rustfmt {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: taplo format {staged_files} || true
      stage_fixed: true

Use real hash icon maps
  apps/hash-frontend/src/components/tiled-network-graph/entity-icon-name.test.ts
  apps/hash-frontend/src/components/tiled-network-graph/entity-icon-name.ts
  apps/hash-frontend/src/components/tiled-network-graph/located-entity-popover.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/network-graph-view.tsx
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/detailed-node-layer.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/network-graph-util.test.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/network-graph-util.ts
  libs/@hashintel/ds-components/src/components/Chart/NetworkGraph/network-graph.tsx
  libs/@hashintel/ds-components/src/main.ts
Due: biome

Better segmented row handling
  libs/@hashintel/ds-components/src/components/ButtonGroup/button-group.recipe.ts
  libs/@hashintel/ds-components/src/components/ButtonGroup/button-group.tsx
  libs/@hashintel/ds-components/src/components/ButtonGroup/use-segmented-rows.ts
Due: biome

Only search within filtered set
  apps/hash-frontend/src/components/tiled-network-graph/network-graph-search.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/network-graph-view.tsx
Due: biome

Better handling of segmented group breaking on 2 lines
  libs/@hashintel/ds-components/src/components/ButtonGroup/button-group.recipe.ts
  libs/@hashintel/ds-components/src/components/ButtonGroup/button-group.tsx
  libs/@hashintel/ds-components/src/components/ButtonGroup/use-segmented-rows.ts
Due: biome

Add changeset
  .changeset/yellow-wombats-cut.md
  libs/@hashintel/ds-components/src/components/ButtonGroup/button-group.recipe.ts
  libs/@hashintel/ds-components/src/components/ButtonGroup/button-group.tsx
  libs/@hashintel/ds-components/src/main.ts
Due: markdownlint, biome

Add message if neighbours not complete
  apps/hash-frontend/src/pages/shared/entities-visualizer/network-graph-view.tsx
Due: biome

Fix max-zoom for network graph
  apps/hash-frontend/src/components/tiled-network-graph/tiling/fetch-tile.ts
  apps/hash-frontend/src/components/tiled-network-graph/tiling/use-get-viewport-nodes.ts
  apps/hash-frontend/src/pages/shared/entities-visualizer/network-graph-view.tsx
Due: biome

Add annotation-driven architecture docs generator
  .config/mise/tasks/doc/architecture.sh
  .github/workflows/lint.yml
  AGENTS.md
  libs/@local/petrinaut-arch-docs/.oxlintrc.json
  libs/@local/petrinaut-arch-docs/LICENSE.md
  libs/@local/petrinaut-arch-docs/README.md
  libs/@local/petrinaut-arch-docs/architecture.config.ts
  libs/@local/petrinaut-arch-docs/content/index.mdx
  libs/@local/petrinaut-arch-docs/content/two-execution-paths.mdx
  libs/@local/petrinaut-arch-docs/content/working-on-the-architecture.mdx
  libs/@local/petrinaut-arch-docs/dependency-cruiser.tsconfig.json
  libs/@local/petrinaut-arch-docs/package.json
  libs/@local/petrinaut-arch-docs/src/build.ts
  libs/@local/petrinaut-arch-docs/src/check.test.ts
  libs/@local/petrinaut-arch-docs/src/check.ts
  libs/@local/petrinaut-arch-docs/src/cli.ts
  libs/@local/petrinaut-arch-docs/src/content.ts
  libs/@local/petrinaut-arch-docs/src/emit/bundle-outputs.ts
  libs/@local/petrinaut-arch-docs/src/emit/d2.ts
  libs/@local/petrinaut-arch-docs/src/emit/mdx.ts
  libs/@local/petrinaut-arch-docs/src/extract.test.ts
  libs/@local/petrinaut-arch-docs/src/extract.ts
  libs/@local/petrinaut-arch-docs/src/frontmatter.test.ts
  libs/@local/petrinaut-arch-docs/src/frontmatter.ts
  libs/@local/petrinaut-arch-docs/src/graph.ts
  libs/@local/petrinaut-arch-docs/src/index.ts
  libs/@local/petrinaut-arch-docs/src/model.ts
  libs/@local/petrinaut-arch-docs/src/read-bundle.ts
  libs/@local/petrinaut-arch-docs/src/tags.test.ts
  libs/@local/petrinaut-arch-docs/src/tags.ts
  libs/@local/petrinaut-arch-docs/tsconfig.json
  libs/@local/petrinaut-arch-docs/turbo.json
  yarn.lock
Due: markdownlint, biome, yarn

Exclude the architecture bundle from oxfmt
  oxfmt.config.ts
Due: biome

Better segmented button handling
  libs/@hashintel/ds-components/src/components/ButtonGroup/use-segmented-rows.ts
Due: biome

FE-1262: Skip LSP linting for empty initial-state code
  libs/@hashintel/petrinaut-core/src/lsp/lib/generate-virtual-files.ts
  libs/@hashintel/petrinaut-core/src/lsp/lib/scenario-session.test.ts
  libs/@hashintel/petrinaut/docs/scenarios.md
Due: markdownlint, biome

FE-1262: Add Pre-deployed Constellation scenario to the satellites example
  .changeset/satellites-pre-deployed-constellation.md
  libs/@hashintel/petrinaut-core/src/examples/satellites-launcher.test.ts
  libs/@hashintel/petrinaut-core/src/examples/satellites-launcher.ts
  libs/@hashintel/petrinaut/docs/examples.md
  libs/@hashintel/petrinaut/docs/scenarios.md
Due: markdownlint, biome

FE-1262: Unbreak array methods in scenario code, add range() helper, surface compile errors
  .changeset/fe-1262-scenario-range-helper.md
  libs/@hashintel/petrinaut-core/src/lsp/lib/generate-virtual-files.ts
  libs/@hashintel/petrinaut-core/src/simulation/authoring/sandbox.ts
  libs/@hashintel/petrinaut-core/src/simulation/authoring/scenario/compile-scenario.test.ts
  libs/@hashintel/petrinaut-core/src/simulation/authoring/scenario/compile-scenario.ts
  libs/@hashintel/petrinaut-core/src/simulation/authoring/scenario/helpers.test.ts
  libs/@hashintel/petrinaut-core/src/simulation/authoring/scenario/helpers.ts
  libs/@hashintel/petrinaut/docs/scenarios.md
  libs/@hashintel/petrinaut/src/react/hooks/use-petrinaut-commands.test.tsx
  libs/@hashintel/petrinaut/src/react/hooks/use-petrinaut-mutations.test.tsx
  libs/@hashintel/petrinaut/src/react/playback/provider.test.tsx
  libs/@hashintel/petrinaut/src/react/simulation/context.ts
  libs/@hashintel/petrinaut/src/react/simulation/provider.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/playback-settings-menu.stories.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/simulation-settings.tsx
Due: markdownlint, biome

FE-1262: Use patch bumps in the changeset
  .changeset/fe-1262-scenario-range-helper.md
Due: markdownlint, biome

Fix segmented edge cases
  libs/@hashintel/ds-components/src/components/ButtonGroup/button-group.recipe.ts
Due: biome

Update color picker logic for types
  apps/hash-frontend/src/pages/shared/entities-visualizer/header/type-color-selector.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/network-graph-view.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/shared/type-colors.ts
Due: biome

sort color picker
  apps/hash-frontend/src/pages/shared/entities-visualizer/header/type-color-selector.tsx
Due: biome

FE-1262: Keep the initial-state virtual file when the code editor is empty
  libs/@hashintel/petrinaut-core/src/lsp/lib/generate-virtual-files.ts
  libs/@hashintel/petrinaut-core/src/lsp/lib/scenario-session.test.ts
Due: biome

FE-1262: Put the pre-deployed constellation on an actual orbit
  libs/@hashintel/petrinaut-core/src/examples/satellites-launcher.test.ts
  libs/@hashintel/petrinaut-core/src/examples/satellites-launcher.ts
  libs/@hashintel/petrinaut/docs/examples.md
  libs/@hashintel/petrinaut/docs/scenarios.md
Due: markdownlint, biome

FE-1262: Keep range() end-exclusive for imprecise fractional steps
  libs/@hashintel/petrinaut-core/src/simulation/authoring/scenario/helpers.test.ts
  libs/@hashintel/petrinaut-core/src/simulation/authoring/scenario/helpers.ts
Due: biome

chore: remove decorative section banners
  libs/@local/hashql/core/src/id/bit_vec/matrix/mod.rs
Due: rust

feat: add dense bit set frames
  Cargo.lock
  Cargo.toml
  libs/@local/graph/atlas/Cargo.toml
  libs/@local/graph/atlas/package.json
  libs/@local/graph/atlas/src/bitset/dense.rs
  libs/@local/graph/atlas/src/bitset/mod.rs
  libs/@local/graph/atlas/src/bitset/tests.rs
  libs/@local/graph/atlas/src/lib.rs
  libs/@local/hashql/core/src/id/bit_vec/mod.rs
Due: biome, yarn, rust, toml

feat: add direct index to postings
  libs/@local/graph/atlas/src/file/generation/tests.rs
  libs/@local/graph/atlas/src/file/postings/mod.rs
  libs/@local/graph/atlas/src/file/postings/read.rs
  libs/@local/graph/atlas/src/file/postings/tests.rs
  libs/@local/graph/atlas/src/file/postings/write.rs
  libs/@local/graph/atlas/src/file/salt/metadata.rs
  libs/@local/graph/atlas/src/file/salt/tests.rs
  libs/@local/graph/atlas/src/salt/fit/compute/lod.rs
  libs/@local/graph/atlas/src/salt/fit/echo.rs
  libs/@local/graph/atlas/src/salt/fit/mod.rs
  libs/@local/graph/atlas/src/salt/fit/tests.rs
  libs/@local/graph/atlas/src/salt/postings/artifact.rs
  libs/@local/graph/atlas/src/salt/postings/build.rs
  libs/@local/graph/atlas/src/salt/postings/closure.rs
  libs/@local/graph/atlas/src/salt/postings/mod.rs
  libs/@local/graph/atlas/src/salt/postings/tests.rs
  libs/@local/graph/atlas/src/salt/wire/fixtures.rs
  libs/@local/graph/atlas/src/salt/wire/tests.rs
  libs/@local/graph/atlas/src/serve/colour.rs
  libs/@local/graph/atlas/src/serve/tests/open.rs
Due: rust

feat(wip): hydrate details via a store capability
  libs/@local/graph/atlas/src/api/edges.rs
  libs/@local/graph/atlas/src/api/locate.rs
  libs/@local/graph/atlas/src/api/tile.rs
  libs/@local/graph/atlas/src/dataset/auxiliary.rs
  libs/@local/graph/atlas/src/salt/wire/edges.rs
  libs/@local/graph/atlas/src/salt/wire/fixtures.rs
  libs/@local/graph/atlas/src/salt/wire/locate.rs
  libs/@local/graph/atlas/src/salt/wire/tests.rs
  libs/@local/graph/atlas/src/salt/wire/tile.rs
  libs/@local/graph/atlas/src/serve/edges.rs
  libs/@local/graph/atlas/src/serve/hydrate/client.rs
  libs/@local/graph/atlas/src/serve/hydrate/columns.rs
  libs/@local/graph/atlas/src/serve/hydrate/mod.rs
  libs/@local/graph/atlas/src/serve/hydrate/order.rs
  libs/@local/graph/atlas/src/serve/hydrate/select.rs
  libs/@local/graph/atlas/src/serve/locate.rs
  libs/@local/graph/atlas/src/serve/mod.rs
  libs/@local/graph/atlas/src/serve/neighbourhood.rs
  libs/@local/graph/atlas/src/serve/tests/masking.rs
  libs/@local/graph/atlas/src/serve/tests/mod.rs
  libs/@local/graph/atlas/src/serve/tests/schedule.rs
  libs/@local/graph/atlas/src/serve/tile.rs
  libs/@local/graph/atlas/src/serve/view.rs
  libs/@local/graph/atlas/src/serve/visibility.rs
Due: rust

refactor: inline cache publication draw
  libs/@local/graph/atlas/src/serve/cache.rs
Due: rust

Migrate the illustrated architecture docs to authored MDX
  apps/petrinaut-docs/astro.config.mjs
  apps/petrinaut-docs/public/favicon.ico
  apps/petrinaut-docs/src/assets/petrinaut-helmet.png
  libs/@hashintel/petrinaut-core/docs/architecture/README.md
  libs/@hashintel/petrinaut-core/docs/architecture/architecture.css
  libs/@hashintel/petrinaut-core/docs/architecture/authoring.html
  libs/@hashintel/petrinaut-core/docs/architecture/engine.html
  libs/@hashintel/petrinaut-core/docs/architecture/index.html
  libs/@hashintel/petrinaut-core/docs/architecture/monte-carlo.html
  libs/@hashintel/petrinaut-core/docs/architecture/worker.html
  libs/@hashintel/petrinaut-core/src/simulation/ARCHITECTURE.md
  libs/@hashintel/petrinaut-core/src/simulation/README.md
  libs/@hashintel/petrinaut/ARCHITECTURE.md
  libs/@local/petrinaut-arch-docs/README.md
  libs/@local/petrinaut-arch-docs/content/index.mdx
  libs/@local/petrinaut-arch-docs/content/simulation/memory-model.mdx
  libs/@local/petrinaut-arch-docs/content/simulation/monte-carlo.mdx
  libs/@local/petrinaut-arch-docs/content/simulation/stepping.mdx
  libs/@local/petrinaut-arch-docs/content/simulation/user-code.mdx
  libs/@local/petrinaut-arch-docs/content/simulation/worker-protocol.mdx
Due: markdownlint, biome

Emit diagrams only when the renderer is available
  libs/@local/petrinaut-arch-docs/src/build.ts
  libs/@local/petrinaut-arch-docs/src/cli.ts
  libs/@local/petrinaut-arch-docs/src/emit/d2.ts
  libs/@local/petrinaut-arch-docs/src/emit/mdx.ts
Due: biome

Let authored pages attach to the layer they explain
  AGENTS.md
  apps/petrinaut-docs/astro.config.mjs
  libs/@local/petrinaut-arch-docs/README.md
  libs/@local/petrinaut-arch-docs/content/index.mdx
  libs/@local/petrinaut-arch-docs/content/simulation/experiments.mdx
  libs/@local/petrinaut-arch-docs/content/simulation/memory-model.mdx
  libs/@local/petrinaut-arch-docs/content/simulation/protocol.mdx
  libs/@local/petrinaut-arch-docs/content/simulation/stepping.mdx
  libs/@local/petrinaut-arch-docs/content/simulation/user-code.mdx
  libs/@local/petrinaut-arch-docs/content/two-execution-paths.mdx
  libs/@local/petrinaut-arch-docs/content/working-on-the-architecture.mdx
  libs/@local/petrinaut-arch-docs/src/build.ts
  libs/@local/petrinaut-arch-docs/src/content.ts
  libs/@local/petrinaut-arch-docs/src/emit/mdx.test.ts
  libs/@local/petrinaut-arch-docs/src/emit/mdx.ts
Due: markdownlint, biome

Restore the architecture diagrams as importable components
  apps/petrinaut-docs/.gitignore
  apps/petrinaut-docs/README.md
  apps/petrinaut-docs/astro.config.mjs
  apps/petrinaut-docs/package.json
  apps/petrinaut-docs/scripts/sync-bundle.mjs
  apps/petrinaut-docs/turbo.json
  libs/@local/petrinaut-arch-docs/README.md
  libs/@local/petrinaut-arch-docs/content/components/byte-map.tsx
  libs/@local/petrinaut-arch-docs/content/components/diagram.css
  libs/@local/petrinaut-arch-docs/content/components/inline.tsx
  libs/@local/petrinaut-arch-docs/content/components/lanes.tsx
  libs/@local/petrinaut-arch-docs/content/components/pipeline.tsx
  libs/@local/petrinaut-arch-docs/content/components/sequence.tsx
  libs/@local/petrinaut-arch-docs/content/simulation/experiments.mdx
  libs/@local/petrinaut-arch-docs/content/simulation/memory-model.mdx
  libs/@local/petrinaut-arch-docs/content/simulation/protocol.mdx
  libs/@local/petrinaut-arch-docs/content/simulation/stepping.mdx
  libs/@local/petrinaut-arch-docs/content/simulation/user-code.mdx
  libs/@local/petrinaut-arch-docs/src/build.ts
  libs/@local/petrinaut-arch-docs/src/content.ts
  libs/@local/petrinaut-arch-docs/src/emit/mdx.ts
  yarn.config.cjs
  yarn.lock
Due: markdownlint, biome, yarn

FE-1262: Declare scenario helpers as arrow functions
  libs/@hashintel/petrinaut-core/src/simulation/authoring/scenario/helpers.test.ts
  libs/@hashintel/petrinaut-core/src/simulation/authoring/scenario/helpers.ts
Due: biome

FE-1262: Correct what an empty initial-state code editor does
  libs/@hashintel/petrinaut/docs/scenarios.md
Due: markdownlint, biome

Declare the generator's dependency on the packages it reads
  libs/@local/petrinaut-arch-docs/package.json
  yarn.lock
Due: biome, yarn

fix: hoist CPU baseline check to entry
  libs/@local/graph/atlas/src/cli/fit.rs
  libs/@local/graph/atlas/src/cli/report/classifier.rs
  libs/@local/graph/atlas/src/cli/report/knn.rs
  libs/@local/graph/atlas/src/cli/report/ladder.rs
  libs/@local/graph/atlas/src/cli/report/probe.rs
  libs/@local/graph/atlas/src/cli/report/quality.rs
  libs/@local/graph/atlas/src/cli/serve.rs
  libs/@local/graph/atlas/src/cli/shell.rs
Due: rust

SRE-915: Resolve the Vault target from the job's environment (#9161)
  .github/actions/install-sccache/action.yml
  .github/actions/install-tools/action.yml
  .github/workflows/ai-pr-review.yml
  .github/workflows/bench.yml
  .github/workflows/canary-release.yml
  .github/workflows/codspeed.yml
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
  .github/workflows/publish-blocks-to-preview.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: biome

feat: add array_windows_enumerated to IdSlice
  libs/@local/hashql/core/src/id/slice.rs
Due: rust

feat: add runs module for key runs
  libs/@local/graph/atlas/src/lib.rs
  libs/@local/graph/atlas/src/runs/mod.rs
  libs/@local/graph/atlas/src/runs/tests.rs
Due: rust

refactor: group landmark rows with runs
  libs/@local/graph/atlas/src/salt/landmark/quotient.rs
Due: rust
