Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

markdownlint:
  tags:
  - frontend
  - style
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

biome:
  tags:
  - frontend
  - style
  run: biome format --write --staged || true
  stage_fixed: true

yarn:
  tags:
  - frontend
  - style
  run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
  stage_fixed: true

sqlfluff:
  tags:
  - backend
  - style
  run: sqlfluff fix {staged_files} || true
  stage_fixed: true

rust:
  tags:
  - backend
  - style
  run: rustfmt {staged_files} || true
  stage_fixed: true

toml:
  tags:
  - backend
  - style
  run: taplo format {staged_files} || true
  stage_fixed: true

feat: add --vacuous-placement-fallback option
  libs/@local/graph/atlas/README.md
  libs/@local/graph/atlas/src/cli/fit/mod.rs
  libs/@local/graph/atlas/src/salt/fit/compute/projector/mod.rs
  libs/@local/graph/atlas/src/salt/fit/compute/projector/tests.rs
  libs/@local/graph/atlas/src/salt/fit/mod.rs
  libs/@local/graph/atlas/src/salt/ladder/paired/identity/tests.rs
  libs/@local/graph/atlas/src/salt/relation/attraction.rs
  libs/@local/graph/atlas/src/salt/runner/operator/mod.rs
Due: markdownlint, biome, rust

SRE-1060: Let turbo's task graph drive pruning and CI selection (#9754)
  .config/mise/config.toml
  .config/mise/mise.lock
  .github/scripts/affected-packages.sh
  .github/scripts/prune-scopes.sh
  apps/brunch-agent/docker/Dockerfile
  apps/hash-ai-worker-ts/docker/Dockerfile
  apps/hash-api/docker/Dockerfile
  apps/hash-frontend/docker/Dockerfile
  apps/hash-graph/docker/Dockerfile
  apps/hash-integration-worker/docker/Dockerfile
  apps/petrinaut-opt/docker/Dockerfile
  libs/@local/graph/atlas/docker/Dockerfile
  libs/@local/graph/postgres-store/turbo.json
  libs/@local/petrinaut-arch-docs/turbo.json
  tests/hash-playwright/turbo.json
  turbo.json
Due: biome, toml

Use typed errors and simplify conversions
  libs/@local/durable-kernel/src/domain.rs
  libs/@local/durable-kernel/src/registry.rs
  libs/@local/durable-kernel/src/runtime.rs
  libs/@local/durable-kernel/src/shard_log/command_loop.rs
  libs/@local/durable-kernel/src/shard_log/mod.rs
  libs/@local/durable-kernel/tests/event_size.rs
Due: rust

SRE-628: Switch Kratos to the distroless image (#9787)
  infra/compose/compose.yml
  infra/compose/kratos/Dockerfile
Due: biome

BE-869: atlas: Adapt quality probes to small datasets (#9776)
  libs/@local/graph/atlas/README.md
  libs/@local/graph/atlas/src/cli/fit/mod.rs
  libs/@local/graph/atlas/src/cli/report/mod.rs
  libs/@local/graph/atlas/src/cli/report/quality.rs
  libs/@local/graph/atlas/src/cli/tui/mod.rs
  libs/@local/graph/atlas/src/cli/tui/render/rail.rs
  libs/@local/graph/atlas/src/cli/tui/render/tests.rs
  libs/@local/graph/atlas/src/cli/tui/state/mod.rs
  libs/@local/graph/atlas/src/cli/tui/state/tests.rs
  libs/@local/graph/atlas/src/dataset/offline/dump/streams.rs
  libs/@local/graph/atlas/src/file/generation/test_utils/mod.rs
  libs/@local/graph/atlas/src/math/scalar/finite/mod.rs
  libs/@local/graph/atlas/src/math/scalar/positive/mod.rs
  libs/@local/graph/atlas/src/math/scalar/positive/tests.rs
  libs/@local/graph/atlas/src/progress.rs
  libs/@local/graph/atlas/src/salt/quality/clump.rs
  libs/@local/graph/atlas/src/salt/quality/mod.rs
  libs/@local/graph/atlas/src/salt/quality/probe/error.rs
  libs/@local/graph/atlas/src/salt/quality/probe/mod.rs
  libs/@local/graph/atlas/src/salt/quality/probe/options.rs
  libs/@local/graph/atlas/src/salt/quality/probe/pass.rs
  libs/@local/graph/atlas/src/salt/quality/probe/readings.rs
  libs/@local/graph/atlas/src/salt/quality/report/document.rs
  libs/@local/graph/atlas/src/salt/quality/report/live.rs
  libs/@local/graph/atlas/src/salt/quality/report/mod.rs
  libs/@local/graph/atlas/src/salt/quality/tests.rs
  libs/@local/graph/atlas/src/salt/runner/mod.rs
  libs/@local/graph/atlas/src/salt/runner/operator/mod.rs
  libs/@local/graph/atlas/src/salt/runner/tests.rs
Due: markdownlint, biome, rust

BE-867: atlas: Align fitting S3 configuration and constraints (#9777)
  libs/@local/graph/atlas/src/cli/mod.rs
  libs/@local/graph/atlas/src/cli/s3.rs
Due: rust

BE-866: atlas: Use configured paths as generation roots (#9778)
  libs/@local/graph/atlas/README.md
  libs/@local/graph/atlas/src/cli/fit/mod.rs
  libs/@local/graph/atlas/src/cli/serve/args/mod.rs
  libs/@local/graph/atlas/src/file/generation/download/mod.rs
  libs/@local/graph/atlas/src/file/generation/download/tests.rs
  libs/@local/graph/atlas/src/file/generation/remote.rs
  libs/@local/graph/atlas/src/file/generation/test_utils/integration.rs
  libs/@local/graph/atlas/src/file/generation/upload/mod.rs
  libs/@local/graph/atlas/src/file/generation/upload/tests.rs
Due: markdownlint, biome, rust

BE-870: atlas: Give the fit container a writable home and working directory (#9779)
  libs/@local/graph/atlas/docker/Dockerfile
Due: none

BE-871: atlas: Add a conditional vacuous placement fallback (#9780)
  libs/@local/graph/atlas/README.md
  libs/@local/graph/atlas/src/cli/fit/mod.rs
  libs/@local/graph/atlas/src/salt/fit/compute/projector/mod.rs
  libs/@local/graph/atlas/src/salt/fit/compute/projector/tests.rs
  libs/@local/graph/atlas/src/salt/fit/mod.rs
  libs/@local/graph/atlas/src/salt/fit/tests.rs
  libs/@local/graph/atlas/src/salt/ladder/paired/identity/tests.rs
  libs/@local/graph/atlas/src/salt/projector/train/fit/session/admission.rs
  libs/@local/graph/atlas/src/salt/projector/train/fit/session/mod.rs
  libs/@local/graph/atlas/src/salt/relation/attraction.rs
  libs/@local/graph/atlas/src/salt/runner/operator/mod.rs
Due: markdownlint, biome, rust

Preserve typed pool errors and fuse Postgres message streams
  libs/@local/graph/postgres-store/src/store/postgres/connection/message/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/connection/message/tests.rs
  libs/@local/graph/postgres-store/src/store/postgres/connection/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/connection/tests.rs
  libs/@local/graph/postgres-store/src/store/postgres/pool.rs
  libs/@local/graph/postgres-store/tests/connection/main.rs
Due: rust

Use typed storage configuration errors
  libs/@local/durable-kernel/src/domain.rs
  libs/@local/durable-kernel/src/runtime.rs
  libs/@local/durable-kernel/src/shard_log/mod.rs
  libs/@local/durable-kernel/src/sim/mod.rs
Due: rust

Preserve typed errors in effect retries
  libs/@local/durable-kernel/README.md
  libs/@local/durable-kernel/examples/customer_sync.rs
  libs/@local/durable-kernel/examples/webhook_relay.rs
  libs/@local/durable-kernel/src/domain.rs
  libs/@local/durable-kernel/src/runtime.rs
  libs/@local/durable-kernel/tests/event_size.rs
Due: markdownlint, biome, rust

Log terminal shard failures and writer close errors
  libs/@local/durable-kernel/src/domain.rs
  libs/@local/durable-kernel/src/shard_log/command_loop.rs
Due: rust

Remove redundant tests
  libs/@local/durable-kernel/src/domain.rs
  libs/@local/durable-kernel/src/ids.rs
  libs/@local/durable-kernel/src/routing.rs
Due: rust

Preserve error reports in command and state update failures
  libs/@local/durable-kernel/src/domain.rs
  libs/@local/durable-kernel/src/port.rs
  libs/@local/durable-kernel/src/runtime.rs
  libs/@local/durable-kernel/src/shard_log/command_loop.rs
  libs/@local/durable-kernel/src/sim/harness.rs
  libs/@local/durable-kernel/tests/event_size.rs
Due: rust

Use typed errors when opening journals
  libs/@local/durable-kernel/src/runtime.rs
  libs/@local/durable-kernel/src/shard_log/mod.rs
Due: rust

Use constants for record declarations
  libs/@local/durable-kernel/src/domain.rs
  libs/@local/durable-kernel/src/shard_log/mod.rs
Due: rust

Give each kernel an owned record registry
  libs/@local/durable-kernel/src/domain.rs
  libs/@local/durable-kernel/src/registry.rs
  libs/@local/durable-kernel/src/runtime.rs
  libs/@local/durable-kernel/src/shard_log/command_loop.rs
  libs/@local/durable-kernel/src/shard_log/mod.rs
  libs/@local/durable-kernel/src/sim/harness.rs
Due: rust

Preserve typed errors during recovery and decoding
  libs/@local/durable-kernel/src/domain.rs
  libs/@local/durable-kernel/src/port.rs
  libs/@local/durable-kernel/src/shard_log/command_loop.rs
Due: rust

Separate shard ownership from command submission
  libs/@local/durable-kernel/src/domain.rs
  libs/@local/durable-kernel/src/runtime.rs
  libs/@local/durable-kernel/src/shard_log/command_loop.rs
  libs/@local/durable-kernel/src/shard_log/mod.rs
  libs/@local/durable-kernel/src/sim/harness.rs
Due: rust

Close shard writers when registration fails
  libs/@local/durable-kernel/src/shard_log/command_loop.rs
Due: rust

Share journal interfaces between real and simulated storage
  libs/@local/durable-kernel/src/domain.rs
  libs/@local/durable-kernel/src/shard_log/backend.rs
  libs/@local/durable-kernel/src/shard_log/command_loop.rs
  libs/@local/durable-kernel/src/shard_log/mod.rs
  libs/@local/durable-kernel/src/sim/harness.rs
  libs/@local/durable-kernel/src/sim/mod.rs
  libs/@local/durable-kernel/src/sim/storage.rs
Due: rust

Remove the host Simulate draft indicator slot
  .changeset/brunch-petrinaut-host-integration.md
  libs/@hashintel/petrinaut/src/ui/types/petrinaut-slots.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/TopBar/mode-selector.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/TopBar/mode-selector.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/TopBar/top-bar.tsx
Due: markdownlint, biome

Keep Brunch experiment proposals in chat without a Simulate badge
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-draft-experiment-interactive-tool.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-draft-experiment-interactive-tool.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-draft-experiment-interactive-tool/simulate-mode-indicator.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-draft-experiment.integration.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/docs/experiments.md
Due: markdownlint, biome

Bump anyhow, circular-buffer, crossbeam-epoch, event-listener, quick-xml
  Cargo.lock
Due: none

Move event bounds to record and runtime APIs
  libs/@local/durable-kernel/src/domain.rs
Due: rust

Split domain traits and relax record and projection bounds
  libs/@local/durable-kernel/examples/customer_sync.rs
  libs/@local/durable-kernel/examples/webhook_relay.rs
  libs/@local/durable-kernel/src/domain.rs
  libs/@local/durable-kernel/src/lib.rs
  libs/@local/durable-kernel/src/port.rs
  libs/@local/durable-kernel/src/runtime.rs
  libs/@local/durable-kernel/src/shard_log/command_loop.rs
  libs/@local/durable-kernel/src/shard_log/mod.rs
  libs/@local/durable-kernel/src/sim/harness.rs
  libs/@local/durable-kernel/tests/event_size.rs
Due: rust

FE-1753: Fix notification detail copying (#9792)
  .changeset/copy-notification-details.md
  libs/@hashintel/petrinaut/src/react/notifications/provider.test.tsx
  libs/@hashintel/petrinaut/src/react/notifications/toaster.tsx
  libs/@hashintel/petrinaut/src/react/notifications/toaster/copy-details-button.tsx
Due: markdownlint, biome

Preserve microphone recovery failures
  apps/petrinaut-website/src/main/app/voice-interview/voice-audio-settings.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-audio-settings.ts
Due: biome

Address experiment drafting review feedback
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-draft-experiment-interactive-tool.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-draft-experiment-interactive-tool.tsx
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/skills/sdcpn-modelling/references/experiment-configuration.md
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/test/sdcpn-modelling-skill.test.ts
Due: markdownlint, biome

Correct audio device recovery state
  apps/petrinaut-website/src/main/app/voice-interview/voice-audio-settings.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-audio-settings.ts
Due: biome

FE-1650: Expose Brunch and Voice controls in Petrinaut Labs (#9793)
  .changeset/petrinaut-host-labs-slot.md
  apps/petrinaut-website/README.md
  apps/petrinaut-website/src/main/app/local-storage-demo/assistant-labs-settings.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/assistant-labs-settings.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/production-voice-availability.integration.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/voice-preference.ts
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/MISSION.next.md
  libs/@hashintel/brunch-agent/docs/mission-drafts/stock-assistant-escape-hatch.md
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/docs/visual-settings.md
  libs/@hashintel/petrinaut/src/ui/types/petrinaut-slots.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view/user-settings.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view/user-settings.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view/user-settings/user-settings-dialog.tsx
Due: markdownlint, biome

Represent storage failures with typed errors and scan details
  libs/@local/durable-kernel/src/domain.rs
  libs/@local/durable-kernel/src/lib.rs
  libs/@local/durable-kernel/src/shard_log/backend.rs
  libs/@local/durable-kernel/src/shard_log/command_loop.rs
  libs/@local/durable-kernel/src/shard_log/mod.rs
  libs/@local/durable-kernel/src/sim/mod.rs
  libs/@local/durable-kernel/src/sim/storage.rs
  libs/@local/durable-kernel/tests/event_size.rs
Due: rust

Retry transient audio device recovery
  apps/petrinaut-website/src/main/app/voice-interview/voice-audio-settings.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-audio-settings.ts
Due: biome

Default GPT Live for voice-enabled Vercel previews
  apps/petrinaut-website/README.md
  apps/petrinaut-website/src/server/voice/openai-live-session.test.ts
  apps/petrinaut-website/src/server/voice/openai-transcription-session.test.ts
  apps/petrinaut-website/src/server/voice/openai-voice-config.test.ts
  apps/petrinaut-website/src/server/voice/openai-voice-config.ts
Due: markdownlint, biome

FE-1749: Support Brunch voice audio settings in Petrinaut (#9774)
  .changeset/extended-voice-audio-settings.md
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/src/react/voice-session/store.ts
  libs/@hashintel/petrinaut/src/react/voice-session/types.ts
  libs/@hashintel/petrinaut/src/react/voice-session/use-voice-session.ts
  libs/@hashintel/petrinaut/src/ui/types/ai-assistant-composer-control.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/voice-session-labels.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.stories.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/voice-dock.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/voice-dock/audio-popover.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/voice-dock/audio-popover/settings.tsx
Due: markdownlint, biome

Path conditions:
  markdownlint: any of: *.md
  biome: any of: *.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}
  yarn: any of: {*/package.json, package.json}
  sqlfluff: any of: *.sql
  rust: any of: *.rs
  toml: any of: *.toml
