Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, prettier, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: yarn run markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    prettier:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: yarn run prettier --write {staged_files} || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:packagejson && yarn fix:yarn-deduplicate
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: cargo fmt -- {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: yarn run taplo format {staged_files} || true
      stage_fixed: true

chore: remove the old parser
  libs/@local/hashql/syntax-jexpr/src/error.BAK.rs
  libs/@local/hashql/syntax-jexpr/src/parser.BAK/array.rs
  libs/@local/hashql/syntax-jexpr/src/parser.BAK/error.rs
  libs/@local/hashql/syntax-jexpr/src/parser.BAK/expr.rs
  libs/@local/hashql/syntax-jexpr/src/parser.BAK/expr_explicit.rs
  libs/@local/hashql/syntax-jexpr/src/parser.BAK/mod.rs
  libs/@local/hashql/syntax-jexpr/src/parser.BAK/object.rs
  libs/@local/hashql/syntax-jexpr/src/parser.BAK/path.rs
  libs/@local/hashql/syntax-jexpr/src/parser.BAK/program.rs
  libs/@local/hashql/syntax-jexpr/src/parser.BAK/signature.rs
  libs/@local/hashql/syntax-jexpr/src/parser.BAK/snapshots/hql_syntax_jexpr__parser__expr__test__fn_empty.snap
  libs/@local/hashql/syntax-jexpr/src/parser.BAK/snapshots/hql_syntax_jexpr__parser__expr__test__fn_empty_args.snap
  libs/@local/hashql/syntax-jexpr/src/parser.BAK/snapshots/hql_syntax_jexpr__parser__expr__test__fn_is_expr.snap
  libs/@local/hashql/syntax-jexpr/src/parser.BAK/snapshots/hql_syntax_jexpr__parser__expr__test__object_is_constant.snap
  libs/@local/hashql/syntax-jexpr/src/parser.BAK/snapshots/hql_syntax_jexpr__parser__expr__test__object_is_constant_with_extra_fields.snap
  libs/@local/hashql/syntax-jexpr/src/parser.BAK/snapshots/hql_syntax_jexpr__parser__expr__test__object_is_constant_with_type.snap
  libs/@local/hashql/syntax-jexpr/src/parser.BAK/snapshots/hql_syntax_jexpr__parser__expr__test__object_is_empty.snap
  libs/@local/hashql/syntax-jexpr/src/parser.BAK/snapshots/hql_syntax_jexpr__parser__expr__test__object_is_invalid.snap
  libs/@local/hashql/syntax-jexpr/src/parser.BAK/snapshots/hql_syntax_jexpr__parser__expr__test__string_is_invalid.snap
  libs/@local/hashql/syntax-jexpr/src/parser.BAK/snapshots/hql_syntax_jexpr__parser__expr__test__string_is_path-2.snap
  libs/@local/hashql/syntax-jexpr/src/parser.BAK/snapshots/hql_syntax_jexpr__parser__expr__test__string_is_path.snap
  libs/@local/hashql/syntax-jexpr/src/parser.BAK/snapshots/hql_syntax_jexpr__parser__expr__test__string_is_signature.snap
  libs/@local/hashql/syntax-jexpr/src/parser.BAK/snapshots/hql_syntax_jexpr__parser__value__test__duplicate_key.snap
  libs/@local/hashql/syntax-jexpr/src/parser.BAK/snapshots/hql_syntax_jexpr__parser__value__test__key_is_number.snap
  libs/@local/hashql/syntax-jexpr/src/parser.BAK/stream.rs
  libs/@local/hashql/syntax-jexpr/src/parser.BAK/string.rs
  libs/@local/hashql/syntax-jexpr/src/parser.BAK/symbol.rs
  libs/@local/hashql/syntax-jexpr/src/parser.BAK/type.rs
  libs/@local/hashql/syntax-jexpr/src/parser.BAK/value.rs
Due: rust

feat: e2e tests
  libs/@local/hashql/syntax-jexpr/src/lib.rs
  libs/@local/hashql/syntax-jexpr/src/snapshots/hashql_syntax_jexpr__tests__parse_complex_nested_expression.snap
  libs/@local/hashql/syntax-jexpr/src/snapshots/hashql_syntax_jexpr__tests__parse_incomplete_expression.snap
  libs/@local/hashql/syntax-jexpr/src/snapshots/hashql_syntax_jexpr__tests__parse_invalid_json.snap
  libs/@local/hashql/syntax-jexpr/src/snapshots/hashql_syntax_jexpr__tests__parse_literal_expression.snap
Due: rust

Update and rename 040_embargoed.mdx to 040_aria-safeguarded-ai-supply-chains.mdx
  apps/hashdotai/blog/040_aria-safeguarded-ai-supply-chains.mdx
  apps/hashdotai/blog/040_embargoed.mdx
Due: prettier

Update 040_aria-safeguarded-ai-supply-chains.mdx
  apps/hashdotai/blog/040_aria-safeguarded-ai-supply-chains.mdx
Due: prettier

GEN-252: Misc copy updates (#6821)
  apps/hashdotai/blog/011_building-business-process-models.mdx
  apps/hashdotai/blog/039_self-building-database.mdx
  apps/hashdotai/blog/040_aria-safeguarded-ai-supply-chains.mdx
Due: prettier

Improve error handling on role (un-)assignment
  libs/@local/graph/postgres-store/src/permissions/error.rs
  libs/@local/graph/postgres-store/src/permissions/mod.rs
  libs/@local/graph/postgres-store/tests/principals/role.rs
Due: rust

H-4307: Copy updates
  apps/hashdotai/blog/002_information-failure.mdx
  apps/hashdotai/blog/022_popular-datasets-in-hash.mdx
  apps/hashdotai/blog/029_outer-space-datasets-in-hash.mdx
  apps/hashdotai/blog/031_announcing-the-block-protocol.mdx
  apps/hashdotai/blog/032_coronavirus-data-on-hash.mdx
  apps/hashdotai/blog/033_open-sourcing-hash.mdx
  apps/hashdotai/blog/035_monkeypox-infection-data-on-hash.mdx
  apps/hashdotai/blog/037_what-is-the-block-protocol.mdx
  apps/hashdotai/blog/038_what-is-the-entity-layer.mdx
  apps/hashdotai/blog/039_self-building-database.mdx
  apps/hashdotai/blog/040_aria-safeguarded-ai-supply-chains.mdx
Due: prettier

Add logo banner
  apps/hashdotai/blog/040_aria-safeguarded-ai-supply-chains.mdx
Due: prettier

H-4306: Improve blog post formatting consistency (#6830)
  apps/hashdotai/blog/002_information-failure.mdx
  apps/hashdotai/blog/022_popular-datasets-in-hash.mdx
  apps/hashdotai/blog/029_outer-space-datasets-in-hash.mdx
  apps/hashdotai/blog/031_announcing-the-block-protocol.mdx
  apps/hashdotai/blog/032_coronavirus-data-on-hash.mdx
  apps/hashdotai/blog/033_open-sourcing-hash.mdx
  apps/hashdotai/blog/035_monkeypox-infection-data-on-hash.mdx
  apps/hashdotai/blog/037_what-is-the-block-protocol.mdx
  apps/hashdotai/blog/038_what-is-the-entity-layer.mdx
  apps/hashdotai/blog/039_self-building-database.mdx
  apps/hashdotai/blog/040_aria-safeguarded-ai-supply-chains.mdx
Due: prettier

fix: mark every snap as linguist generated
  libs/@local/hashql/syntax-jexpr/.gitattributes
Due: none

Fix doctest
  libs/@blockprotocol/type-system/rust/src/lib.rs
Due: rust

Fix docs
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
Due: rust

H-4307: Improve SAILS announcement post structure (#6831)
  apps/hashdotai/blog/040_aria-safeguarded-ai-supply-chains.mdx
Due: prettier

H-4312: Update content structure within repo
  apps/hashdotai/README.md
Due: markdownlint, prettier

Fix linting
  apps/hash-ai-worker-ts/src/activities/graph.ts
  apps/hash-ai-worker-ts/src/workflows.ts
  apps/hash-api/src/graph/ontology/primitive/util.ts
  apps/hash-api/src/integrations/linear/oauth.ts
  libs/@blockprotocol/type-system/rust/src/provenance/actor.rs
  libs/@local/graph/api/src/rest/mod.rs
  libs/@local/graph/authorization/src/policies/mod.rs
  libs/@local/graph/authorization/src/policies/principal/machine.rs
  libs/@local/graph/authorization/src/policies/principal/user.rs
  libs/@local/graph/authorization/src/policies/store/mod.rs
  libs/@local/graph/authorization/src/schema/account_group.rs
  libs/@local/graph/authorization/src/schema/data_type.rs
  libs/@local/graph/authorization/src/schema/entity.rs
  libs/@local/graph/authorization/src/schema/entity_type.rs
  libs/@local/graph/authorization/src/schema/property_type.rs
  libs/@local/graph/authorization/src/schema/web.rs
  libs/@local/graph/authorization/tests/schema.rs
  libs/@local/graph/postgres-store/src/permissions/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/postgres-store/tests/principals/machine.rs
  libs/@local/graph/postgres-store/tests/principals/role.rs
  libs/@local/graph/postgres-store/tests/principals/user.rs
  libs/@local/graph/sdk/typescript/src/entity.ts
  libs/@local/graph/store/src/account/mod.rs
  libs/@local/graph/test-server/src/lib.rs
  libs/@local/graph/validation/src/lib.rs
  libs/@local/harpc/server/examples/account.rs
  libs/@local/hash-backend-utils/src/machine-actors.ts
  libs/@local/hash-isomorphic-utils/src/subgraph-mapping.ts
  tests/graph/benches/read_scaling/knowledge/complete/entity.rs
  tests/graph/benches/read_scaling/knowledge/linkless/entity.rs
  tests/graph/benches/representative_read/lib.rs
  tests/graph/benches/representative_read/seed.rs
  tests/graph/integration/postgres/lib.rs
  tests/hash-backend-integration/src/tests/subgraph/circular.test.ts
Due: prettier, rust

Attempt to fix tests
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/system-webs-and-entities.ts
  apps/hash-api/src/graph/knowledge/system-types/user.ts
  apps/hash-api/src/graph/system-account.ts
  libs/@blockprotocol/type-system/rust/src/lib.rs
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/api/src/rest/account.rs
  libs/@local/graph/store/src/account/mod.rs
  libs/@local/hash-backend-utils/src/machine-actors.ts
  tests/graph/benches/read_scaling/knowledge/complete/entity.rs
  tests/graph/benches/read_scaling/knowledge/linkless/entity.rs
  tests/graph/benches/representative_read/seed.rs
  tests/graph/http/tests/ambiguous.http
  tests/graph/http/tests/circular-links.http
  tests/graph/http/tests/friendship.http
  tests/graph/http/tests/link-inheritance.http
  tests/graph/integration/postgres/lib.rs
Due: prettier, rust

Fix HTTP tests
  tests/graph/http/tests/ambiguous.http
  tests/graph/http/tests/circular-links.http
  tests/graph/http/tests/friendship.http
  tests/graph/http/tests/link-inheritance.http
Due: none

change blockquote in sails blog to callout
  apps/hashdotai/blog/040_aria-safeguarded-ai-supply-chains.mdx
Due: prettier

H-4311: Use `Callout` in ARIA blog post (#6833)
  apps/hashdotai/blog/040_aria-safeguarded-ai-supply-chains.mdx
Due: prettier

lint fixes
  apps/hashdotai/README.md
Due: markdownlint, prettier

H-4312: Update content structure (#6832)
  apps/hashdotai/README.md
  apps/hashdotai/blog/040_aria-safeguarded-ai-supply-chains.mdx
Due: markdownlint, prettier

Rename `ActorType::Human` to `ActorType::User`
  apps/hash-api/src/graph/knowledge/system-types/user.ts
  apps/hash-api/src/graphql/create-apollo-server.ts
  apps/hash-api/src/index.ts
  apps/hash-frontend/src/blocks/use-fetch-block-subgraph.ts
  apps/hash-frontend/src/components/block-loader/block-loader.tsx
  apps/hash-frontend/src/pages/@/[shortname]/entities/[entity-uuid].page/create-entity-page/create-initial-draft-entity-subgraph.ts
  apps/hash-frontend/src/pages/@/[shortname]/types/data-type/[...slug-maybe-version].page.tsx
  apps/hash-frontend/src/pages/@/[shortname]/types/entity-type/[...slug-maybe-version].page.tsx
  apps/hash-frontend/src/pages/shared/entity/entity-editor/links-section/outgoing-links-section/cells/linked-with-cell/linked-entity-list-editor.tsx
  libs/@blockprotocol/type-system/rust/src/provenance/actor.rs
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/postgres-store/postgres_migrations/V42__user_provenance_type.sql
  libs/@local/graph/validation/src/lib.rs
  tests/graph/benches/read_scaling/knowledge/complete/entity.rs
  tests/graph/benches/read_scaling/knowledge/linkless/entity.rs
  tests/graph/benches/representative_read/seed.rs
  tests/graph/benches/util.rs
  tests/graph/http/tests/ambiguous.http
  tests/graph/integration/postgres/data_type.rs
  tests/graph/integration/postgres/drafts.rs
  tests/graph/integration/postgres/entity.rs
  tests/graph/integration/postgres/entity_type.rs
  tests/graph/integration/postgres/interconnected_graph.rs
  tests/graph/integration/postgres/lib.rs
  tests/graph/integration/postgres/links.rs
  tests/graph/integration/postgres/multi_type.rs
  tests/graph/integration/postgres/partial_updates.rs
  tests/graph/integration/postgres/property_metadata.rs
  tests/graph/integration/postgres/property_type.rs
  tests/graph/integration/postgres/sorting.rs
Due: prettier, sqlfluff, rust

Fix ESLint
  apps/hash-frontend/src/components/block-loader/block-loader.tsx
Due: prettier

Revert changes on HTTP test
  tests/graph/http/tests/ambiguous.http
Due: none

Fix some more usages
  apps/hash-ai-worker-ts/src/activities/flow-activities/write-google-sheet-action/convert-csv-to-sheet-requests.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/write-google-sheet-action/convert-subgraph-to-sheet-requests.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/012-create-google-sheets-system-types.migration.ts
  apps/hash-frontend/src/pages/settings/integrations/google-sheets/create-or-edit-sheets-sync.tsx
  libs/@local/hash-isomorphic-utils/src/flows/example-flow-definitions.ts
  libs/@local/hash-isomorphic-utils/src/flows/goal-flow-definitions/google-sheets.ts
  libs/@local/hash-isomorphic-utils/src/system-types/google/googlesheetsfile.ts
  tests/graph/integration/postgres/property_metadata.rs
Due: prettier, rust

Fix doc test in typesystem
  libs/@blockprotocol/type-system/rust/src/lib.rs
Due: rust

Implement AI principal
  libs/@blockprotocol/type-system/rust/src/provenance/actor.rs
  libs/@local/graph/authorization/package.json
  libs/@local/graph/authorization/schemas/policies.cedarschema
  libs/@local/graph/authorization/src/policies/mod.rs
  libs/@local/graph/authorization/src/policies/principal/actor.rs
  libs/@local/graph/authorization/src/policies/principal/ai.rs
  libs/@local/graph/authorization/src/policies/principal/mod.rs
  libs/@local/graph/authorization/src/policies/resource/entity.rs
  libs/@local/graph/authorization/src/policies/store/mod.rs
  libs/@local/graph/migrations/graph-migrations/v002__principals/down.sql
  libs/@local/graph/migrations/graph-migrations/v002__principals/up.sql
  libs/@local/graph/postgres-store/src/permissions/mod.rs
  libs/@local/graph/postgres-store/tests/principals/ai.rs
  libs/@local/graph/postgres-store/tests/principals/main.rs
Due: prettier, yarn, sqlfluff, rust

Fix spelling
  libs/@local/graph/authorization/src/policies/principal/ai.rs
  libs/@local/graph/authorization/src/policies/principal/machine.rs
  libs/@local/graph/authorization/src/policies/principal/mod.rs
  libs/@local/graph/authorization/src/policies/principal/user.rs
  libs/@local/graph/authorization/src/policies/resource/mod.rs
Due: rust

Simplify creation for actor ID
  libs/@local/graph/authorization/src/policies/store/mod.rs
  libs/@local/graph/postgres-store/src/permissions/mod.rs
  libs/@local/graph/postgres-store/tests/principals/ai.rs
Due: rust

Update OpenAPI specs
  libs/@local/graph/api/openapi/openapi.json
Due: prettier

Remove standalone team principal
  Cargo.lock
  libs/@blockprotocol/type-system/rust/src/provenance/actor.rs
  libs/@local/graph/authorization/Cargo.toml
  libs/@local/graph/authorization/schemas/policies.cedarschema
  libs/@local/graph/authorization/src/policies/context.rs
  libs/@local/graph/authorization/src/policies/mod.rs
  libs/@local/graph/authorization/src/policies/principal/actor.rs
  libs/@local/graph/authorization/src/policies/principal/actor/ai.rs
  libs/@local/graph/authorization/src/policies/principal/actor/machine.rs
  libs/@local/graph/authorization/src/policies/principal/actor/mod.rs
  libs/@local/graph/authorization/src/policies/principal/actor/user.rs
  libs/@local/graph/authorization/src/policies/principal/ai.rs
  libs/@local/graph/authorization/src/policies/principal/machine.rs
  libs/@local/graph/authorization/src/policies/principal/mod.rs
  libs/@local/graph/authorization/src/policies/principal/role.rs
  libs/@local/graph/authorization/src/policies/principal/role/mod.rs
  libs/@local/graph/authorization/src/policies/principal/role/subteam.rs
  libs/@local/graph/authorization/src/policies/principal/role/web.rs
  libs/@local/graph/authorization/src/policies/principal/team.rs
  libs/@local/graph/authorization/src/policies/principal/team/mod.rs
  libs/@local/graph/authorization/src/policies/principal/team/subteam.rs
  libs/@local/graph/authorization/src/policies/principal/team/web.rs
  libs/@local/graph/authorization/src/policies/principal/user.rs
  libs/@local/graph/authorization/src/policies/principal/web.rs
  libs/@local/graph/authorization/src/policies/resource/mod.rs
  libs/@local/graph/authorization/src/policies/store/error.rs
  libs/@local/graph/authorization/src/policies/store/mod.rs
  libs/@local/graph/authorization/tests/policies/definitions/mod.rs
  libs/@local/graph/authorization/tests/policies/definitions/permit-hash-instance-admins.cedar
  libs/@local/graph/authorization/tests/policies/main.rs
  libs/@local/graph/migrations/graph-migrations/v002__principals/down.sql
  libs/@local/graph/migrations/graph-migrations/v002__principals/up.sql
  libs/@local/graph/postgres-store/src/permissions/mod.rs
  libs/@local/graph/postgres-store/tests/principals/ai.rs
  libs/@local/graph/postgres-store/tests/principals/role.rs
  libs/@local/graph/postgres-store/tests/principals/team.rs
  libs/role.rs
Due: sqlfluff, rust, toml

Fix doc links
  libs/@local/graph/authorization/src/policies/store/mod.rs
Due: rust
