Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    biome:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: biome format --write --staged || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: rustfmt {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: taplo format {staged_files} || true
      stage_fixed: true

fix: inject auxiliary requests
  libs/@local/hashql/eval/src/orchestrator/request/graph_read.rs
  libs/@local/hashql/eval/src/orchestrator/request/iter.rs
  libs/@local/hashql/eval/src/orchestrator/request/mod.rs
  libs/@local/hashql/eval/src/postgres/parameters.rs
  libs/@local/hashql/eval/src/postgres/prepared.rs
  tests/graph/http/tests/hashql.http
Due: rust

fix: suggestions from bugbot
  apps/hash-graph/src/subcommand/server.rs
  libs/@local/graph/api/src/rest/hashql/error.rs
  libs/@local/graph/api/src/rest/hashql/mod.rs
  libs/@local/graph/api/src/rest/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  tests/graph/integration/postgres/email_filter_protection.rs
Due: rust

chore: remove stray file
  libs/@local/hashql/eval/AUTHORIZATION.md
Due: markdownlint, biome

chore: remove stray debugging
  Cargo.lock
  libs/@local/hashql/ast/Cargo.toml
  libs/@local/hashql/ast/src/lower/expander/let.rs
Due: rust, toml

chore: add `Arc` where needed
  tests/graph/benches/graph/scenario/runner.rs
Due: rust

chore: fix debug assertions
  libs/@local/hashql/eval/src/postgres/authorization/mod.rs
Due: rust

fix: formatting
  libs/@local/hashql/ast/tests/ui/lower/expander/generics-multiple-module-segments.jsonc
  libs/@local/hashql/ast/tests/ui/lower/expander/generics-multiple-module-segments.stderr
  libs/@local/hashql/hir/tests/ui/lower/checking/bind-arguments.jsonc
  libs/@local/hashql/hir/tests/ui/lower/inference/bind-arguments.jsonc
  libs/@local/hashql/hir/tests/ui/lower/inference/infer-argument.jsonc
Due: none

fix: delay access dummy error
  libs/@local/hashql/ast/src/lower/expander/access.rs
  libs/@local/hashql/ast/tests/ui/lower/expander/special-form-expander/access-field-index-out-of-bounds.jsonc
  libs/@local/hashql/ast/tests/ui/lower/expander/special-form-expander/access-field-index-out-of-bounds.stderr
  libs/@local/hashql/ast/tests/ui/lower/expander/special-form-expander/access-field-literal-boolean.jsonc
  libs/@local/hashql/ast/tests/ui/lower/expander/special-form-expander/access-field-literal-boolean.stderr
  libs/@local/hashql/ast/tests/ui/lower/expander/special-form-expander/access-field-literal-string.jsonc
  libs/@local/hashql/ast/tests/ui/lower/expander/special-form-expander/access-field-literal-string.stderr
Due: rust

fix: turborepo
  libs/@local/hashql/eval/package.json
Due: biome, yarn

fix: openapi
  libs/@local/graph/api/openapi/openapi.json
Due: biome

fix: docs
  libs/@local/hashql/eval/src/postgres/prepared.rs
Due: rust

chore: regen lockfile
  yarn.lock
Due: none

feat: intrinsic id
  libs/@local/hashql/mir/src/body/mod.rs
  libs/@local/hashql/mir/src/builder/body.rs
  libs/@local/hashql/mir/src/intrinsic.rs
  libs/@local/hashql/mir/src/lib.rs
  libs/@local/hashql/mir/src/pass/transform/inline/tests.rs
Due: rust

feat: add intrinsic
  libs/@local/hashql/core/src/symbol/sym.rs
  libs/@local/hashql/mir/src/body/mod.rs
  libs/@local/hashql/mir/src/def.rs
  libs/@local/hashql/mir/src/intrinsic.rs
  libs/@local/hashql/mir/src/pass/mod.rs
  libs/@local/hashql/mir/src/pass/tests.rs
  libs/@local/hashql/mir/src/pretty/text.rs
  libs/@local/hashql/mir/tests/ui/pass/lower/goto_into_unreachable.snap
  libs/@local/hashql/mir/tests/ui/pass/lower/unreachable_only.snap
Due: rust

chore: checkpoint
  libs/@local/hashql/core/Cargo.toml
  libs/@local/hashql/core/benches/stdlib.rs
Due: rust, toml

chore: regenerate counters
  libs/darwin-kperf/codegen/src/codegen.rs
  libs/darwin-kperf/codegen/src/database.rs
  libs/darwin-kperf/events/src/lib.rs
  libs/darwin-kperf/events/src/m1.rs
  libs/darwin-kperf/events/src/m2.rs
  libs/darwin-kperf/events/src/m3.rs
  libs/darwin-kperf/events/src/m4.rs
  libs/darwin-kperf/events/src/m5.rs
Due: rust

chore: changelog
  libs/darwin-kperf/CHANGELOG.md
Due: markdownlint, biome

chore: add the changelog entry
  libs/darwin-kperf/CHANGELOG.md
Due: markdownlint, biome

feat: replace dynamic symbols with real ones
  libs/@local/hashql/core/benches/stdlib.rs
  libs/@local/hashql/core/src/module/std_lib/core/json.rs
  libs/@local/hashql/core/src/module/std_lib/core/result.rs
  libs/@local/hashql/core/src/module/std_lib/graph/body.rs
  libs/@local/hashql/core/src/module/std_lib/graph/entity.rs
  libs/@local/hashql/core/src/module/std_lib/graph/head.rs
  libs/@local/hashql/core/src/module/std_lib/graph/mod.rs
  libs/@local/hashql/core/src/module/std_lib/graph/tail.rs
  libs/@local/hashql/core/src/module/std_lib/graph/types/ontology/entity_type.rs
  libs/@local/hashql/core/src/module/std_lib/mod.rs
  libs/@local/hashql/core/src/symbol/sym.rs
Due: rust

feat: module cache
  libs/@local/hashql/core/benches/stdlib.rs
  libs/@local/hashql/core/src/module/std_lib/mod.rs
Due: rust

feat: stdlib reorganization
  libs/@local/hashql/core/benches/stdlib.rs
  libs/@local/hashql/core/src/lib.rs
  libs/@local/hashql/core/src/module/mod.rs
  libs/@local/hashql/core/src/module/std_lib/core/bits.rs
  libs/@local/hashql/core/src/module/std_lib/core/bool.rs
  libs/@local/hashql/core/src/module/std_lib/core/cmp.rs
  libs/@local/hashql/core/src/module/std_lib/core/json.rs
  libs/@local/hashql/core/src/module/std_lib/core/math.rs
  libs/@local/hashql/core/src/module/std_lib/core/mod.rs
  libs/@local/hashql/core/src/module/std_lib/core/option.rs
  libs/@local/hashql/core/src/module/std_lib/core/result.rs
  libs/@local/hashql/core/src/module/std_lib/core/url.rs
  libs/@local/hashql/core/src/module/std_lib/core/uuid.rs
  libs/@local/hashql/core/src/module/std_lib/graph/body.rs
  libs/@local/hashql/core/src/module/std_lib/graph/entity.rs
  libs/@local/hashql/core/src/module/std_lib/graph/head.rs
  libs/@local/hashql/core/src/module/std_lib/graph/mod.rs
  libs/@local/hashql/core/src/module/std_lib/graph/tail.rs
  libs/@local/hashql/core/src/module/std_lib/graph/temporal.rs
  libs/@local/hashql/core/src/module/std_lib/graph/tmp.rs
  libs/@local/hashql/core/src/module/std_lib/graph/types/knowledge/entity.rs
  libs/@local/hashql/core/src/module/std_lib/graph/types/knowledge/mod.rs
  libs/@local/hashql/core/src/module/std_lib/graph/types/mod.rs
  libs/@local/hashql/core/src/module/std_lib/graph/types/ontology/entity_type.rs
  libs/@local/hashql/core/src/module/std_lib/graph/types/ontology/mod.rs
  libs/@local/hashql/core/src/module/std_lib/graph/types/principal/actor_group/mod.rs
  libs/@local/hashql/core/src/module/std_lib/graph/types/principal/actor_group/web.rs
  libs/@local/hashql/core/src/module/std_lib/graph/types/principal/mod.rs
  libs/@local/hashql/core/src/module/std_lib/kernel/mod.rs
  libs/@local/hashql/core/src/module/std_lib/kernel/special_form.rs
  libs/@local/hashql/core/src/module/std_lib/kernel/type.rs
  libs/@local/hashql/core/src/module/std_lib/mod.rs
Due: rust

chore: lints
  libs/@local/hashql/core/src/module/std_lib/mod.rs
Due: rust

feat: speedup
  libs/@local/hashql/core/src/lib.rs
  libs/@local/hashql/core/src/module/std_lib/core/bits.rs
  libs/@local/hashql/core/src/module/std_lib/core/bool.rs
  libs/@local/hashql/core/src/module/std_lib/core/cmp.rs
  libs/@local/hashql/core/src/module/std_lib/core/json.rs
  libs/@local/hashql/core/src/module/std_lib/core/math.rs
  libs/@local/hashql/core/src/module/std_lib/core/mod.rs
  libs/@local/hashql/core/src/module/std_lib/core/option.rs
  libs/@local/hashql/core/src/module/std_lib/core/result.rs
  libs/@local/hashql/core/src/module/std_lib/core/url.rs
  libs/@local/hashql/core/src/module/std_lib/core/uuid.rs
  libs/@local/hashql/core/src/module/std_lib/graph/body.rs
  libs/@local/hashql/core/src/module/std_lib/graph/entity.rs
  libs/@local/hashql/core/src/module/std_lib/graph/head.rs
  libs/@local/hashql/core/src/module/std_lib/graph/mod.rs
  libs/@local/hashql/core/src/module/std_lib/graph/tail.rs
  libs/@local/hashql/core/src/module/std_lib/graph/temporal.rs
  libs/@local/hashql/core/src/module/std_lib/graph/tmp.rs
  libs/@local/hashql/core/src/module/std_lib/graph/types/knowledge/entity.rs
  libs/@local/hashql/core/src/module/std_lib/graph/types/knowledge/mod.rs
  libs/@local/hashql/core/src/module/std_lib/graph/types/mod.rs
  libs/@local/hashql/core/src/module/std_lib/graph/types/ontology/entity_type.rs
  libs/@local/hashql/core/src/module/std_lib/graph/types/ontology/mod.rs
  libs/@local/hashql/core/src/module/std_lib/graph/types/principal/actor_group/mod.rs
  libs/@local/hashql/core/src/module/std_lib/graph/types/principal/actor_group/web.rs
  libs/@local/hashql/core/src/module/std_lib/graph/types/principal/mod.rs
  libs/@local/hashql/core/src/module/std_lib/kernel/mod.rs
  libs/@local/hashql/core/src/module/std_lib/kernel/special_form.rs
  libs/@local/hashql/core/src/module/std_lib/kernel/type.rs
  libs/@local/hashql/core/src/module/std_lib/mod.rs
  libs/darwin-kperf/criterion/src/pmc.rs
Due: rust
