Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, prettier, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: yarn run markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    prettier:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: yarn run prettier --write {staged_files} || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:packagejson && yarn fix:yarn-deduplicate
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: cargo fmt -- {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: yarn run taplo format {staged_files} || true
      stage_fixed: true

bump block-design-system version
  apps/hash-frontend/package.json
  apps/hashdotdesign/package.json
  apps/plugin-browser/package.json
  blocks/address/package.json
  blocks/ai-chat/package.json
  blocks/ai-image/package.json
  blocks/ai-text/package.json
  blocks/chart/package.json
  blocks/faq/package.json
  blocks/how-to/package.json
  blocks/kanban-board/package.json
  blocks/table/package.json
  libs/@hashintel/block-design-system/package.json
  libs/@hashintel/petrinaut/package.json
  yarn.lock
Due: prettier, yarn

bump petrinaut version
  apps/hash-frontend/package.json
  libs/@hashintel/petrinaut/package.json
  yarn.lock
Due: prettier, yarn

lint fixes. remove unneeded code
  apps/hash-frontend/next.config.js
  apps/hash-frontend/package.json
  libs/@blockprotocol/graph/eslint.config.js
  libs/@blockprotocol/type-system/typescript/scripts/prepublish.ts
Due: prettier, yarn

remove unused dependency
  yarn.lock
Due: none

lint fixes
  libs/@blockprotocol/graph/eslint.config.js
  libs/@blockprotocol/type-system/typescript/eslint.config.js
  libs/@hashintel/petrinaut/src/petrinaut/editor-context.tsx
Due: prettier

H-5215: Add `PropertyDistribution` with `ValueDistributionRegistry` for type-based generation (#7746)
  tests/graph/test-data/rust/src/seeding/distributions/mod.rs
  tests/graph/test-data/rust/src/seeding/distributions/property.rs
  tests/graph/test-data/rust/src/seeding/distributions/value/mod.rs
  tests/graph/test-data/rust/src/seeding/producer/mod.rs
  tests/graph/test-data/rust/src/seeding/producer/value.rs
Due: rust

Connect stages to create entity object distributions
  tests/graph/benches/config/scenarios/full_ontology_seeding.json
  tests/graph/benches/graph/scenario/runner.rs
  tests/graph/benches/graph/scenario/stages/data_type.rs
  tests/graph/benches/graph/scenario/stages/entity_type.rs
  tests/graph/benches/graph/scenario/stages/mod.rs
  tests/graph/benches/graph/scenario/stages/property_type.rs
  tests/graph/test-data/rust/src/seeding/distributions/property.rs
  tests/graph/test-data/rust/src/seeding/distributions/value/mod.rs
  tests/graph/test-data/rust/src/seeding/distributions/value/number.rs
  tests/graph/test-data/rust/src/seeding/distributions/value/string.rs
Due: prettier, rust

Prepare retrieval of recursive entity types
  libs/@local/graph/store/src/data_type/store.rs
  tests/graph/benches/config/scenarios/full_ontology_seeding.json
  tests/graph/benches/graph/scenario/runner.rs
  tests/graph/benches/graph/scenario/stages/data_type.rs
  tests/graph/benches/graph/scenario/stages/entity_type.rs
  tests/graph/benches/graph/scenario/stages/mod.rs
  tests/graph/benches/graph/scenario/stages/property_type.rs
  tests/graph/benches/graph/scenario/stages/web_catalog.rs
  tests/graph/test-data/rust/src/seeding/distributions/ontology/entity_type/properties.rs
  tests/graph/test-data/rust/src/seeding/distributions/ontology/mod.rs
  tests/graph/test-data/rust/src/seeding/distributions/ontology/property_type/mod.rs
  tests/graph/test-data/rust/src/seeding/distributions/ontology/property_type/values.rs
  tests/graph/test-data/rust/src/seeding/producer/data_type.rs
  tests/graph/test-data/rust/src/seeding/producer/entity.rs
  tests/graph/test-data/rust/src/seeding/producer/mod.rs
  tests/graph/test-data/rust/src/seeding/producer/ontology/mod.rs
  tests/graph/test-data/rust/src/seeding/producer/property_type.rs
  tests/graph/test-data/rust/src/seeding/producer/user.rs
Due: prettier, rust

Implement property object distribution
  tests/graph/test-data/rust/src/seeding/distributions/entity.rs
  tests/graph/test-data/rust/src/seeding/distributions/mod.rs
  tests/graph/test-data/rust/src/seeding/distributions/property.rs
Due: rust

Move property object distributon to `property.rs`
  tests/graph/test-data/rust/src/seeding/distributions/entity.rs
  tests/graph/test-data/rust/src/seeding/distributions/mod.rs
  tests/graph/test-data/rust/src/seeding/distributions/property.rs
Due: rust

Improve stage output for better observability
  tests/graph/benches/config/scenarios/full_ontology_seeding.json
  tests/graph/benches/graph/scenario/runner.rs
  tests/graph/benches/graph/scenario/stages/data_type.rs
  tests/graph/benches/graph/scenario/stages/entity.rs
  tests/graph/benches/graph/scenario/stages/entity_type.rs
  tests/graph/benches/graph/scenario/stages/mod.rs
  tests/graph/benches/graph/scenario/stages/property_type.rs
  tests/graph/benches/graph/scenario/stages/reset_db.rs
  tests/graph/benches/graph/scenario/stages/user.rs
  tests/graph/benches/graph/scenario/stages/web_catalog.rs
Due: prettier, rust

Adjust bench numbers
  libs/@blockprotocol/type-system/rust/package.json
  tests/graph/benches/config/scenarios/full_ontology_seeding.json
Due: prettier, yarn

Implement entity producer and stages
  tests/graph/benches/config/producers/entities/basic.json
  tests/graph/benches/config/scenarios/full_ontology_seeding.json
  tests/graph/benches/graph/config/mod.rs
  tests/graph/benches/graph/scenario/runner.rs
  tests/graph/benches/graph/scenario/stages/entity.rs
  tests/graph/benches/graph/scenario/stages/mod.rs
  tests/graph/test-data/rust/src/seeding/context.rs
  tests/graph/test-data/rust/src/seeding/distributions/ontology/property_type/values.rs
  tests/graph/test-data/rust/src/seeding/distributions/property.rs
  tests/graph/test-data/rust/src/seeding/producer/data_type.rs
  tests/graph/test-data/rust/src/seeding/producer/entity.rs
  tests/graph/test-data/rust/src/seeding/producer/entity_type.rs
  tests/graph/test-data/rust/src/seeding/producer/mod.rs
  tests/graph/test-data/rust/src/seeding/producer/ontology/domain.rs
  tests/graph/test-data/rust/src/seeding/producer/ontology/mod.rs
  tests/graph/test-data/rust/src/seeding/producer/property_type.rs
Due: prettier, rust

Support metadata generation alongside properties
  tests/graph/benches/config/scenarios/full_ontology_seeding.json
  tests/graph/test-data/rust/src/seeding/context.rs
  tests/graph/test-data/rust/src/seeding/distributions/property.rs
  tests/graph/test-data/rust/src/seeding/distributions/value/mod.rs
  tests/graph/test-data/rust/src/seeding/producer/entity.rs
Due: prettier, rust

Revert package.json change
  libs/@blockprotocol/type-system/rust/package.json
Due: prettier, yarn

Attempt to fix turbo dependencies
  tests/graph/benches/turbo.json
  turbo.json
Due: prettier

Increase timeouts
  apps/hash-ai-worker-ts/package.json
  apps/hash-api/package.json
  apps/hash-frontend/package.json
  apps/hash-graph/package.json
  apps/hash-integration-worker/package.json
  libs/@local/graph/test-server/package.json
  libs/@local/graph/type-fetcher/package.json
Due: prettier, yarn

Update benchmark CI workflow to replace compile step with migration command
  .github/workflows/bench.yml
Due: prettier

Attempt to fix CI
  tests/graph/benches/Cargo.toml
  tests/graph/benches/package.json
Due: prettier, yarn, toml

Revert back workspace changes
  .github/workflows/bench.yml
  yarn.lock
Due: prettier

Only run current branch
  .github/workflows/bench.yml
Due: prettier

Restore bench.yml
  .github/workflows/bench.yml
  tests/graph/benches/graph/lib.rs
  tests/graph/integration/Cargo.toml
  tests/graph/integration/package.json
  yarn.lock
Due: prettier, yarn, rust, toml

fix package.json
  tests/graph/benches/Cargo.toml
  tests/graph/benches/package.json
  tests/graph/integration/Cargo.toml
  tests/graph/integration/package.json
  yarn.lock
Due: prettier, yarn, toml

Update PR number in Changelog
  libs/error-stack/CHANGELOG.md
Due: markdownlint, prettier

Fix vercel not building `wasm-opt`
  apps/hash-frontend/vercel-install.sh
Due: none

Fix intra-doc link
  libs/error-stack/src/report.rs
Due: rust

Fix diagnostic casing
  libs/error-stack/src/context.rs
Due: rust

BE-1: Fix Vercel not building wasm-opt (#7754)
  apps/hash-frontend/vercel-install.sh
Due: none

tmp
  Cargo.lock
  libs/@blockprotocol/type-system/rust/src/ontology/json_schema/domain_validator.rs
  libs/@local/graph/postgres-store/src/store/postgres/pool.rs
  libs/@local/graph/type-defs/build.rs
  libs/@local/graph/type-fetcher/src/store.rs
  libs/@local/telemetry/src/lib.rs
  tests/graph/benches/Cargo.toml
  tests/graph/benches/config/scenarios/full_test.json
  tests/graph/benches/config/scenarios/remote_only.json
  tests/graph/benches/config/scenarios/users_only.json
  tests/graph/benches/graph/lib.rs
  tests/graph/benches/graph/scenario/runner.rs
  tests/graph/benches/graph/scenario/stages/entity_queries.rs
  tests/graph/benches/graph/scenario/stages/entity_type.rs
  tests/graph/benches/graph/scenario/stages/mod.rs
  tests/graph/test-data/rust/src/seeding/distributions/property.rs
Due: prettier, rust, toml

Rename `_lazy` to `_with`
  .cursor/rules/rust-error-handling.mdc
  libs/@blockprotocol/type-system/rust/src/ontology/json_schema/domain_validator.rs
  libs/@blockprotocol/type-system/rust/src/utils.rs
  libs/@local/codec/src/bytes.rs
  libs/@local/graph/api/src/bin/openapi-spec-generator.rs
  libs/@local/graph/api/src/rest/mod.rs
  libs/@local/graph/authorization/src/policies/cedar/expression_tree.rs
  libs/@local/graph/authorization/src/policies/mod.rs
  libs/@local/graph/authorization/tests/policies/definitions/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/property_type.rs
  libs/@local/graph/postgres-store/src/store/postgres/pool.rs
  libs/@local/graph/postgres-store/src/store/validation.rs
  libs/@local/graph/type-fetcher/src/fetcher_server.rs
  libs/@local/graph/type-fetcher/src/store.rs
  libs/@local/graph/types/src/ontology/data_type/lookup.rs
  libs/@local/hashql/compiletest/src/executor/trial.rs
  libs/@local/repo-chores/rust/bin/cli/subcommand/dependency_diagram/mod.rs
  libs/@local/repo-chores/rust/src/benches/report.rs
  libs/chonky/src/lib.rs
  libs/error-stack/CHANGELOG.md
  libs/error-stack/README.md
  libs/error-stack/examples/demo.rs
  libs/error-stack/examples/parse_config.rs
  libs/error-stack/src/fmt/hook.rs
  libs/error-stack/src/fmt/mod.rs
  libs/error-stack/src/frame/kind.rs
  libs/error-stack/src/future.rs
  libs/error-stack/src/lib.rs
  libs/error-stack/src/report.rs
  libs/error-stack/src/result.rs
  libs/error-stack/tests/test_attach.rs
  libs/error-stack/tests/test_attach_printable.rs
  libs/error-stack/tests/test_change_context.rs
  tests/graph/benches/graph/config/mod.rs
  tests/graph/test-data/rust/src/seeding/producer/entity_type.rs
  tests/graph/test-data/rust/src/seeding/producer/property_type.rs
Due: markdownlint, prettier, rust

add missing license files
  libs/@hashintel/block-design-system/package.json
  libs/@hashintel/design-system/LICENSE-APACHE.md
  libs/@hashintel/design-system/LICENSE-MIT.md
  libs/@hashintel/design-system/LICENSE.md
Due: markdownlint, prettier, yarn

try removing type from type-system main exports
  libs/@blockprotocol/type-system/typescript/src/main-slim.ts
  libs/@blockprotocol/type-system/typescript/src/main.ts
Due: prettier

Fix errors
  libs/error-stack/src/frame/kind.rs
  libs/error-stack/tests/ui/attach_diagnostics.stderr
Due: rust

Attempt to fix Vercel builds
  apps/hash-frontend/vercel-install.sh
Due: none

SRE-24: Prevent Vercel build step from downloading Rust multiple times (#7755)
  apps/hash-frontend/vercel-install.sh
Due: none

H-5220: Add background services to benchmark CI workflow (#7740)
  .github/workflows/bench.yml
  apps/hash-ai-worker-ts/package.json
  apps/hash-api/package.json
  apps/hash-frontend/package.json
  apps/hash-graph/package.json
  apps/hash-integration-worker/package.json
  libs/@local/graph/test-server/package.json
  libs/@local/graph/type-fetcher/package.json
  tests/graph/benches/graph/lib.rs
  tests/graph/benches/turbo.json
  turbo.json
Due: prettier, yarn, rust

Revert "try removing type from type-system main exports"
  libs/@blockprotocol/type-system/typescript/src/main-slim.ts
  libs/@blockprotocol/type-system/typescript/src/main.ts
Due: prettier

try removing prune step
  .github/workflows/lint.yml
Due: prettier
