Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

markdownlint:
  tags:
  - frontend
  - style
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

biome:
  tags:
  - frontend
  - style
  run: biome format --write --staged || true
  stage_fixed: true

yarn:
  tags:
  - frontend
  - style
  run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
  stage_fixed: true

sqlfluff:
  tags:
  - backend
  - style
  run: sqlfluff fix {staged_files} || true
  stage_fixed: true

rust:
  tags:
  - backend
  - style
  run: rustfmt {staged_files} || true
  stage_fixed: true

toml:
  tags:
  - backend
  - style
  run: taplo format {staged_files} || true
  stage_fixed: true

Add the same-origin browser judgment requester
  apps/petrinaut-website/src/main/app/voice-interview/request-utterance-judgment.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/request-utterance-judgment.ts
Due: biome

Gate local Live utterances with explicit recovery
  apps/petrinaut-website/README.md
  apps/petrinaut-website/src/main/app/voice-interview/live-brunch-bridge.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-brunch-bridge.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation-control.test.tsx
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation-control.tsx
  apps/petrinaut-website/src/main/app/voice-interview/live-utterance-gate.ts
  apps/petrinaut-website/src/main/app/voice-interview/request-utterance-judgment.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-control.test.tsx
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-control.tsx
  apps/petrinaut-website/src/server/voice/openai-voice-config.test.ts
  apps/petrinaut-website/src/server/voice/openai-voice-config.ts
  apps/petrinaut-website/src/server/voice/typesafe-utterance-judgment.test.ts
  apps/petrinaut-website/src/server/voice/typesafe-utterance-judgment.ts
  apps/petrinaut-website/src/shared/live-utterance-judgment.ts
Due: markdownlint, biome

Add opt-in Live voice console diagnostics
  apps/petrinaut-website/README.md
  apps/petrinaut-website/src/main/app/voice-interview/shared/live-diagnostic.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/shared/live-diagnostic.ts
Due: markdownlint, biome

Send Brunch Ledger coverage to GPT-Live as quiet context
  apps/petrinaut-website/src/main/app/voice-interview/interview-coverage.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/interview-coverage.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-brunch-bridge.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-brunch-bridge.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-brunch-bridge/ledger-coverage-note.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-brunch-bridge/ledger-coverage-note.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation-control.test.tsx
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation-control.tsx
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation.ts
  apps/petrinaut-website/src/server/voice/openai-live-session.ts
Due: biome

FE-1788: Explain the IR and the Python line by line on hover
  .changeset/zeroth-provenance-hover.md
  .changeset/zeroth-provenance-trace.md
  libs/@hashintel/petrinaut-core/src/reactive-modules.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/compile-reactive-module-export.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/shared/describe-name.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/shared/describe-name.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/provenance.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/provenance.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/sdcpn-to-petri-net-ir.ts
  libs/@hashintel/petrinaut/docs/reactive-modules.md
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/reactive-modules-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/reactive-modules-panel/provenance-hover.test.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/reactive-modules-panel/provenance-hover.ts
Due: markdownlint, biome

Enable Brunch Voice by default and expose Realtime in Labs
  apps/petrinaut-website/README.md
  apps/petrinaut-website/src/main/app/local-storage-demo/assistant-labs-settings.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/assistant-labs-settings.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/voice-preference.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation-control.test.tsx
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-control.tsx
  apps/petrinaut-website/src/server/voice/openai-live-session.test.ts
  apps/petrinaut-website/src/server/voice/openai-live-session.ts
  apps/petrinaut-website/src/server/voice/openai-transcription-session.test.ts
  apps/petrinaut-website/src/server/voice/openai-transcription-session.ts
  apps/petrinaut-website/src/server/voice/openai-voice-config.test.ts
  apps/petrinaut-website/src/server/voice/openai-voice-config.ts
Due: markdownlint, biome

FE-1788: Put the hover explanations behind a header option, off by default
  .changeset/zeroth-provenance-hover.md
  libs/@hashintel/petrinaut/docs/reactive-modules.md
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/reactive-modules-panel.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/reactive-modules-panel.tsx
Due: markdownlint, biome

Keep the Live voice debug flag across demo navigation
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-search.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-search.ts
Due: biome

FE-1788: Read quoted IR keys and block scalars, keep names' case, clear the highlight with the viewer
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/shared/describe-name.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/shared/describe-name.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/provenance.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/provenance.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/reactive-modules-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/reactive-modules-panel/provenance-hover.ts
Due: biome

Answer canvas playback commands from the voice session and relay drafted experiments to GPT-Live
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-draft-experiment-interactive-tool.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-draft-experiment-interactive-tool.tsx
  apps/petrinaut-website/src/main/app/shared/brunch-draft-experiment-drafts.ts
  apps/petrinaut-website/src/main/app/shared/brunch-draft-experiment-summary.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-brunch-bridge.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-brunch-bridge.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-brunch-bridge/playback-command.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-brunch-bridge/playback-command.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation-control.test.tsx
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation-control.tsx
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation-control/experiment-voice-relay.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation-control/experiment-voice-relay.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation-control/playback-voice-note.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation-control/playback-voice-note.ts
  apps/petrinaut-website/src/server/voice/openai-live-session.ts
Due: biome

FE-1788: Drop a comment that repeats the hover's title in another case
  libs/@hashintel/petrinaut-core/src/reactive-modules/provenance.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/provenance.ts
Due: biome

FE-1778: Enable Voice by default for Brunch and expose Realtime in Labs (#9813)
  apps/petrinaut-website/README.md
  apps/petrinaut-website/src/main/app/local-storage-demo/assistant-labs-settings.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/assistant-labs-settings.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/voice-preference.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation-control.test.tsx
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-control.tsx
  apps/petrinaut-website/src/server/voice/openai-live-session.test.ts
  apps/petrinaut-website/src/server/voice/openai-live-session.ts
  apps/petrinaut-website/src/server/voice/openai-transcription-session.test.ts
  apps/petrinaut-website/src/server/voice/openai-transcription-session.ts
  apps/petrinaut-website/src/server/voice/openai-voice-config.test.ts
  apps/petrinaut-website/src/server/voice/openai-voice-config.ts
Due: markdownlint, biome

FE-1790: Add a birth–death process example net
  .changeset/birth-death-example.md
  libs/@hashintel/petrinaut-core/src/ai.ts
  libs/@hashintel/petrinaut-core/src/examples/birth-death.ts
  libs/@hashintel/petrinaut-core/src/examples/examples.test.ts
  libs/@hashintel/petrinaut-core/src/examples/index.ts
  libs/@hashintel/petrinaut-core/src/webgpu/compilation-report.test.ts
  libs/@hashintel/petrinaut/docs/examples.md
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view.tsx
Due: markdownlint, biome

FE-1791: Add the SPN module graph and its Python emitter
  libs/@hashintel/petrinaut-core/src/reactive-modules.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/compile-reactive-module-export.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/emit-reactive-module-python.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/emit-reactive-module-python.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/emit-spn-module-python.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/emit-spn-module-python.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/lower-modular.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/lower-monolithic.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/petri-net-ir-to-reactive-module.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/reactive-module-graph.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/shared/python-layout.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/shared/python-layout.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/spn-module-graph.ts
Due: biome

FE-1791: Add a rates flag to the Zeroth target
  libs/@hashintel/petrinaut-core/src/reactive-modules.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/petri-net-ir-to-reactive-module.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/petri-net-ir.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/petri-net-ir.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/reactive-modules-panel/target-header.test.tsx
Due: biome

FE-1791: Compile a stochastic net to SPN clocks under the rates flag
  libs/@hashintel/petrinaut-core/src/reactive-modules.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/compile-reactive-module-export.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/interpret-reactive-module-graph.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/check-lowerable.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/check-lowerable.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/lower-clocks.fixtures.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/lower-clocks.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/lower-clocks.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/shared/names.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/petri-net-ir-to-reactive-module.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/petri-net-ir-to-reactive-module.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/provenance.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/provenance.ts
Due: biome

Unify the Brunch conversation UI for chat and voice
  .changeset/brunch-conversation-turns.md
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-draft-experiment-interactive-tool.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-draft-experiment-interactive-tool.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-draft-experiment.integration.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-experiment-follow-up.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/voice-history-continuity.integration.test.tsx
  apps/petrinaut-website/src/main/app/shared/brunch-draft-experiment-drafts.ts
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/src/ui/components/sub-view/horizontal/horizontal-tabs-container.tsx
  libs/@hashintel/petrinaut/src/ui/types/ai-assistant-composer-control.ts
  libs/@hashintel/petrinaut/src/ui/types/ai-interactive-tool.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.stories.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/brunch-work-fold.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/brunch-work-fold.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/experiment-execution-card.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/experiment-execution-card.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/get-message-render-items.test.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/get-message-render-items.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/prompt-chips.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/reasoning.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/shared/use-elapsed-time.test.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/shared/use-elapsed-time.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/tool-list.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/voice-input-provenance.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/interactive-tools/apply-auto-layout-widget.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/interactive-tools/apply-auto-layout-widget.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/interactive-tools/registry.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/interactive-tools/types.ts
Due: markdownlint, biome

FE-1791: Trace the clock module's lines and names
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/shared/describe-name.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/shared/describe-name.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/provenance.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/provenance.ts
Due: biome

Pull the MinIO image from `ghcr.io/hashdeps` instead of quay
  infra/compose/compose.yml
Due: biome

FE-1791: Offer the rates flag in the window and document it
  .changeset/zeroth-spn-clocks.md
  libs/@hashintel/petrinaut/docs/reactive-modules.md
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/reactive-modules-panel/target-header.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/reactive-modules-panel/target-header.tsx
Due: markdownlint, biome

FE-1791: Move the birth-death fixtures to the shared folder
  libs/@hashintel/petrinaut-core/src/reactive-modules/compile-reactive-module-export.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/check-lowerable.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/lower-clocks.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/petri-net-ir-to-reactive-module.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/provenance.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/shared/birth-death.fixtures.ts
Due: biome

FE-1791: Refuse a guard or a kernel beside a rate under clocks
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/check-lowerable.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/check-lowerable.ts
  libs/@hashintel/petrinaut/docs/reactive-modules.md
Due: markdownlint, biome

FE-1791: Return the lowering's warnings with the module
  libs/@hashintel/petrinaut-core/src/reactive-modules/compile-reactive-module-export.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/petri-net-ir-to-reactive-module.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/petri-net-ir-to-reactive-module.ts
Due: biome

FE-1791: Pin the SPN theory's names as reserved under coin rates
  libs/@hashintel/petrinaut-core/src/reactive-modules/compile-reactive-module-export.test.ts
Due: biome

FE-1791: Say the Layout flag applies under Clock rates too
  libs/@hashintel/petrinaut-core/src/reactive-modules/petri-net-ir.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/reactive-modules-panel/target-header.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/reactive-modules-panel/target-header.tsx
Due: biome

Align Brunch conversation details with the prototype
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/src/ui/components/sub-view/horizontal/horizontal-tabs-container.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.stories.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/brunch-tabs.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/brunch-work-fold.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/experiment-execution-card.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/reasoning.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/tool-list.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/voice-input-provenance.tsx
Due: markdownlint, biome

SRE-1083: Pull the MinIO image from `ghcr.io/hashdeps` instead of quay (#9830)
  infra/compose/compose.yml
Due: biome

FE-1775: Fix Petrinaut setup and design-system styles on Windows (#9808)
  .changeset/windows-panda-buildinfo-paths.md
  README.md
  apps/hash-frontend/panda-config-paths.test.ts
  apps/hash-frontend/panda-config-paths.ts
  apps/hash-frontend/panda.config.ts
  apps/petrinaut-website/README.md
  libs/@hashintel/petrinaut/panda.config.shared.test.ts
  libs/@hashintel/petrinaut/panda.config.shared.ts
  libs/@local/petrinaut-optimizer-client/package.json
Due: markdownlint, biome, yarn

FE-1792: Gate a transition in a conflict on an undriven pick under nondet
  libs/@hashintel/petrinaut-core/src/reactive-modules/emit-spn-module-python.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/emit-spn-module-python.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/interpret-reactive-module-graph.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/lower-clocks.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/lower-clocks.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/shared/names.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/shared/step-terms.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/step-plan.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/petri-net-ir-to-reactive-module.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/shared/fork.fixtures.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/spn-module-graph.ts
Due: biome

FE-1792: Show the conflicts flag in the header, the docs and the line trace
  .changeset/zeroth-conflicts.md
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/shared/describe-name.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/shared/describe-name.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/provenance.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/provenance.ts
  libs/@hashintel/petrinaut/docs/reactive-modules.md
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/reactive-modules-panel/target-header.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/reactive-modules-panel/target-header.tsx
Due: markdownlint, biome

FE-1792: Add a conflicts flag to the Zeroth target
  libs/@hashintel/petrinaut-core/src/reactive-modules.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/petri-net-ir.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/petri-net-ir.ts
Due: biome

Use neutral activity labels and stock Petrinaut styling
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-draft-experiment-interactive-tool.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/voice-history-continuity.integration.test.tsx
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/brunch-work-fold.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/brunch-work-fold.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/experiment-execution-card.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/experiment-execution-card.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/reasoning.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/voice-input-provenance.tsx
Due: markdownlint, biome

Title and describe each documented problem variant
  libs/@local/graph/api/tests/snapshots/openapi/_api.snap.json
  libs/@local/graph/api/tests/snapshots/openapi/entities-v1.snap.json
  libs/@local/graph/api/tests/snapshots/openapi/types-v1.snap.json
  libs/problematic/rust/src/aide.rs
Due: biome, rust

Say when the variant check of `Answer::new` fails in compile-time terms
  libs/problematic/rust/src/expose.rs
Due: rust

Share the Panda build-info path helper from the ds-components preset
  .changeset/panda-build-info-path-helper.md
  apps/hash-frontend/panda-config-paths.test.ts
  apps/hash-frontend/panda-config-paths.ts
  apps/hash-frontend/panda.config.ts
  libs/@hashintel/ds-components/README.md
  libs/@hashintel/ds-components/src/preset.test.ts
  libs/@hashintel/ds-components/src/preset.ts
  libs/@hashintel/petrinaut/panda.config.shared.test.ts
  libs/@hashintel/petrinaut/panda.config.shared.ts
  libs/@hashintel/petrinaut/panda.config.ts
  libs/@hashintel/petrinaut/panda.ship.config.ts
Due: markdownlint, biome

Test `problematic` against its problem sets
  Cargo.lock
  libs/problematic/rust/Cargo.toml
  libs/problematic/rust/src/aide.rs
  libs/problematic/rust/src/axum.rs
  libs/problematic/rust/src/expose.rs
  libs/problematic/rust/src/problem.rs
  libs/problematic/rust/tests/aide.rs
  libs/problematic/rust/tests/error_stack.rs
  libs/problematic/rust/tests/extensions.rs
  libs/problematic/rust/tests/problem.rs
  libs/problematic/rust/tests/problem_details.rs
  libs/problematic/rust/tests/schema.rs
  libs/problematic/rust/tests/snapshots/schema__schema_base.snap
  libs/problematic/rust/tests/snapshots/schema__schema_base.snap.json
  libs/problematic/rust/tests/snapshots/schema__schema_typed_extensions.snap
  libs/problematic/rust/tests/snapshots/schema__schema_typed_extensions.snap.json
Due: biome, rust, toml

Restore the prototype’s compact conversation disclosures
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.stories.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/brunch-work-fold.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/reasoning.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/tool-list.tsx
Due: markdownlint, biome

Make internal errors explicit and `Rejection` independent of axum
  Cargo.lock
  libs/@local/graph/atlas/src/api/problem.rs
  libs/@local/graph/authentication/src/cloudflare.rs
  libs/@local/graph/authentication/src/delegation.rs
  libs/@local/graph/authentication/src/kratos/session.rs
  libs/@local/middleware/src/authentication/aide.rs
  libs/@local/middleware/src/authentication/mod.rs
  libs/@local/middleware/src/authentication/problem.rs
  libs/@local/middleware/src/authentication/request.rs
  libs/@local/middleware/src/rate_limit/aide.rs
  libs/@local/middleware/src/rate_limit/mod.rs
  libs/@local/middleware/src/response.rs
  libs/problematic/rust/Cargo.toml
  libs/problematic/rust/README.md
  libs/problematic/rust/src/aide.rs
  libs/problematic/rust/src/axum.rs
  libs/problematic/rust/src/expose.rs
  libs/problematic/rust/src/lib.rs
  libs/problematic/rust/src/problem.rs
  libs/problematic/rust/src/problem_details.rs
  libs/problematic/rust/src/problem_type.rs
  libs/problematic/rust/src/rejection.rs
  libs/problematic/rust/src/serde/mod.rs
  libs/problematic/rust/src/serde/serialization/mod.rs
  libs/problematic/rust/tests/aide.rs
  libs/problematic/rust/tests/extensions.rs
  libs/problematic/rust/tests/problem.rs
  libs/problematic/rust/tests/problem_details.rs
Due: markdownlint, biome, rust, toml

Path conditions:
  markdownlint: any of: *.md
  biome: any of: *.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}
  yarn: any of: {*/package.json, package.json}
  sqlfluff: any of: *.sql
  rust: any of: *.rs
  toml: any of: *.toml
