Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, prettier, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: yarn run markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    prettier:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: yarn run prettier --write {staged_files} || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:packagejson && yarn fix:yarn-deduplicate
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: cargo fmt -- {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: yarn run taplo format {staged_files} || true
      stage_fixed: true

Fix clorinde versions
  Cargo.lock
  libs/@local/graph/postgres-queries/clorinde/Cargo.toml
Due: toml

Fix tests and docs
  libs/error-stack/src/frame/frame_impl.rs
  libs/error-stack/src/result.rs
  libs/error-stack/tests/ui/missing_args.stderr
Due: rust

chgore: update snapshots
  libs/@local/hashql/hir/tests/ui/lower/inference/as.jsonc
  libs/@local/hashql/hir/tests/ui/lower/inference/as.stdout
  libs/@local/hashql/hir/tests/ui/reify/as.jsonc
  libs/@local/hashql/hir/tests/ui/reify/as.stdout
  libs/@local/hashql/hir/tests/ui/reify/is.jsonc
Due: none

fix: suggestions from code review
  libs/@local/hashql/ast/src/lowering/special_form_expander/error.rs
  libs/@local/hashql/ast/src/node/expr/as.rs
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/as-2.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-struct-has-type.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-tuple-has-type.stderr
  libs/@local/hashql/hir/tests/ui/lower/inference/as.jsonc
Due: rust

Exclude `unstable` in compile tests
  libs/error-stack/tests/compiletest.rs
Due: rust

Revert "Exclude `unstable` in compile tests"
  libs/error-stack/tests/compiletest.rs
Due: rust

feat: adjust jexpr to make index validate usize
  libs/@local/hashql/ast/src/lowering/special_form_expander/error.rs
  libs/@local/hashql/ast/src/lowering/special_form_expander/mod.rs
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/access-field-index-out-of-bounds.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/access-field-index-out-of-bounds.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/access-field-literal-boolean.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/access-field-literal-boolean.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/access-field-literal-string.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/access-field-literal-string.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/access-field-literal-type-annotation.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/access-field-literal-type-annotation.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/access-field-literal-valid.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/access-field-literal-valid.stdout
  libs/@local/hashql/syntax-jexpr/src/parser/string/expr.rs
  libs/@local/hashql/syntax-jexpr/src/parser/string/snapshots/hashql_syntax_jexpr__parser__string__expr__tests__index_too_large.snap
Due: rust

Consider allowing trailing comma in bail macro to return Report<C>, not Report<[C]>
  libs/error-stack/src/macros.rs
Due: rust

Add changelog entry
  libs/error-stack/CHANGELOG.md
Due: markdownlint, prettier

Fix syntax error
  libs/error-stack/src/macros.rs
Due: rust

Bless tests
  libs/error-stack/tests/ui/missing_args.stderr
Due: none

Update libs/error-stack/src/macros.rs
  libs/error-stack/src/macros.rs
Due: rust

fix: format
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/access-field-index-out-of-bounds.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/access-field-index-out-of-bounds.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/access-field-literal-boolean.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/access-field-literal-boolean.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/access-field-literal-string.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/access-field-literal-string.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/access-field-literal-type-annotation.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/access-field-literal-type-annotation.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/access-field-literal-valid.jsonc
Due: none

chore: underscore value
  libs/@local/hashql/syntax-jexpr/src/parser/string/expr.rs
Due: rust

chore: docs
  libs/@local/hashql/ast/src/lowering/special_form_expander/mod.rs
Due: rust

ES-19, ES-20: Allow trailing commas in bail macro to return `Report<C>`, not `Report<[C]>` (#7772)
  libs/error-stack/CHANGELOG.md
  libs/error-stack/src/macros.rs
  libs/error-stack/tests/ui/missing_args.stderr
Due: markdownlint, prettier, rust

H-5115: HashQL: allow for integer literals during field access (#7773)
  libs/@local/hashql/ast/src/lowering/special_form_expander/error.rs
  libs/@local/hashql/ast/src/lowering/special_form_expander/mod.rs
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/access-field-index-out-of-bounds.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/access-field-index-out-of-bounds.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/access-field-literal-boolean.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/access-field-literal-boolean.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/access-field-literal-string.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/access-field-literal-string.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/access-field-literal-type-annotation.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/access-field-literal-type-annotation.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/access-field-literal-valid.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/access-field-literal-valid.stdout
  libs/@local/hashql/syntax-jexpr/src/parser/string/expr.rs
  libs/@local/hashql/syntax-jexpr/src/parser/string/snapshots/hashql_syntax_jexpr__parser__string__expr__tests__index_too_large.snap
Due: rust

fix: format
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/graph-pipeline-inferred-closure.jsonc
  libs/@local/hashql/hir/tests/ui/lower/checking/collect-filter-graph.jsonc
  libs/@local/hashql/hir/tests/ui/lower/specialization/collect-filter-graph.jsonc
Due: none

feat: refactor filter compilation to flatten
  libs/@local/hashql/eval/src/graph/read/filter.rs
  libs/@local/hashql/eval/src/graph/read/mod.rs
  libs/@local/hashql/eval/src/graph/read/sink.rs
  libs/@local/hashql/eval/src/lib.rs
  libs/@local/hashql/eval/tests/ui/graph/read/entity/arithmetic-comparisons-and.jsonc
  libs/@local/hashql/eval/tests/ui/graph/read/entity/arithmetic-comparisons-and.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/arithmetic-comparisons-or.jsonc
  libs/@local/hashql/eval/tests/ui/graph/read/entity/arithmetic-comparisons-or.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/arithmetic-comparisons.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/logical-or-and.jsonc
  libs/@local/hashql/eval/tests/ui/graph/read/entity/logical-or-and.stdout
Due: rust

chore: docs
  libs/@local/hashql/eval/src/graph/read/sink.rs
Due: rust

chore: remove unneeded feature
  libs/@local/hashql/eval/src/lib.rs
Due: rust

chore: update snapshots
  libs/@local/hashql/eval/tests/ui/graph/read/entity/arithmetic-comparisons-and.jsonc
  libs/@local/hashql/eval/tests/ui/graph/read/entity/arithmetic-comparisons-and.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/arithmetic-comparisons-or.stdout
Due: none

fix: snapshot
  libs/@local/hashql/eval/tests/ui/graph/read/entity/logical-or-and.jsonc
  libs/@local/hashql/eval/tests/ui/graph/read/entity/logical-or-and.stdout
Due: none

H-4924: HashQL: Flatten nested `And` and `Or` operations during read compilation (#7774)
  libs/@local/hashql/eval/src/graph/read/filter.rs
  libs/@local/hashql/eval/src/graph/read/mod.rs
  libs/@local/hashql/eval/src/graph/read/sink.rs
  libs/@local/hashql/eval/src/lib.rs
  libs/@local/hashql/eval/tests/ui/graph/read/entity/arithmetic-comparisons-and.jsonc
  libs/@local/hashql/eval/tests/ui/graph/read/entity/arithmetic-comparisons-and.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/arithmetic-comparisons-or.jsonc
  libs/@local/hashql/eval/tests/ui/graph/read/entity/arithmetic-comparisons-or.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/arithmetic-comparisons.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/logical-or-and.jsonc
  libs/@local/hashql/eval/tests/ui/graph/read/entity/logical-or-and.stdout
Due: rust

Fix UI tests in error-stack
  libs/error-stack/tests/ui/missing_args.stderr
Due: none

H-5248: Bump transitive and direct Cargo dependencies and tools (#7766)
  .config/mise/config.toml
  Cargo.lock
  Cargo.toml
  libs/@blockprotocol/type-system/rust/src/utils.rs
  libs/@local/effect-dns/hickory/package.json
  libs/error-stack/tests/ui/attach_diagnostics.stderr
  libs/error-stack/tests/ui/macro_invalid_args.stderr
  libs/error-stack/tests/ui/missing_args.stderr
  yarn.lock
Due: prettier, yarn, rust, toml

Implement actual benchmarks for seeded entities
  Cargo.lock
  apps/hash-external-services/tempo/tempo.yaml
  libs/@blockprotocol/type-system/rust/src/ontology/json_schema/domain_validator.rs
  libs/@local/graph/postgres-store/src/store/postgres/pool.rs
  libs/@local/graph/type-fetcher/src/store.rs
  tests/graph/benches/Cargo.toml
  tests/graph/benches/config/scenarios/full_test.json
  tests/graph/benches/config/scenarios/remote_only.json
  tests/graph/benches/config/scenarios/users_only.json
  tests/graph/benches/graph/lib.rs
  tests/graph/benches/graph/scenario/runner.rs
  tests/graph/benches/graph/scenario/stages/entity_queries.rs
  tests/graph/benches/graph/scenario/stages/entity_type.rs
  tests/graph/benches/graph/scenario/stages/mod.rs
  tests/graph/benches/package.json
  tests/graph/test-data/rust/src/seeding/distributions/property.rs
  yarn.lock
Due: prettier, yarn, rust, toml

Add TODOs
  tests/graph/benches/graph/lib.rs
  tests/graph/benches/graph/scenario/runner.rs
  tests/graph/benches/graph/scenario/stages/entity_queries.rs
Due: rust

Fix linting
  tests/graph/benches/graph/scenario/stages/entity_queries.rs
Due: rust

Fix graph telemetry creating file logs even it's disabled
  libs/@local/telemetry/src/logging/mod.rs
Due: rust

update import
  apps/hash-frontend/src/pages/@/[shortname]/shared/flow-visualizer.tsx
Due: prettier

H-5176: Add entity query benchmarking to graph performance suite (#7776)
  Cargo.lock
  apps/hash-external-services/tempo/tempo.yaml
  libs/@blockprotocol/type-system/rust/src/ontology/json_schema/domain_validator.rs
  libs/@local/graph/postgres-store/src/store/postgres/pool.rs
  libs/@local/graph/type-fetcher/src/store.rs
  tests/graph/benches/Cargo.toml
  tests/graph/benches/config/scenarios/full_test.json
  tests/graph/benches/config/scenarios/remote_only.json
  tests/graph/benches/config/scenarios/users_only.json
  tests/graph/benches/graph/lib.rs
  tests/graph/benches/graph/scenario/runner.rs
  tests/graph/benches/graph/scenario/stages/entity_queries.rs
  tests/graph/benches/graph/scenario/stages/entity_type.rs
  tests/graph/benches/graph/scenario/stages/mod.rs
  tests/graph/benches/package.json
  tests/graph/test-data/rust/src/seeding/distributions/property.rs
  yarn.lock
Due: prettier, yarn, rust, toml

BE-29: Fix graph telemetry creating file logs even it's disabled (#7777)
  libs/@local/telemetry/src/logging/mod.rs
Due: rust

more updates / fixes for 'load more' behavior
  apps/hash-frontend/src/pages/shared/entities-visualizer.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/entities-table.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/entities-table/types.ts
  apps/hash-frontend/src/pages/shared/entities-visualizer/entities-table/use-entities-table.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/entities-table/use-entities-table/worker.ts
  apps/hash-frontend/src/pages/shared/entities-visualizer/entities-table/use-get-entities-table-additional-csv-data.ts
  apps/hash-frontend/src/shared/table-header.tsx
  apps/hash-frontend/src/shared/use-memo-compare.ts
Due: prettier
