Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, prettier, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: yarn run markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    prettier:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: yarn run prettier --write {staged_files} || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:packagejson && yarn fix:yarn-deduplicate
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: cargo fmt -- {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: yarn run taplo format {staged_files} || true
      stage_fixed: true

Apply clippy lints
  apps/hash-graph/src/subcommand/server.rs
  libs/@blockprotocol/type-system/rust/src/ontology/property_type/schema/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/store/src/lib.rs
  libs/@local/harpc/wire-protocol/src/protocol.rs
  libs/@local/harpc/wire-protocol/src/request/flags.rs
  libs/@local/harpc/wire-protocol/src/response/flags.rs
  libs/error-stack/src/frame/mod.rs
Due: rust

Bump transitive Cargo dependencies
  Cargo.lock
Due: none

BE-169: Mitigate error due to `oxc` using old `allocator-api2` crate (#7907)
  Cargo.lock
  Cargo.toml
Due: toml

Attempt to fix TS issue
  libs/@blockprotocol/type-system/rust/src/ontology/property_type/schema/mod.rs
Due: rust

Remove unused import
  tests/graph/benches/read_scaling/knowledge/complete/entity.rs
Due: rust

H-5505: Bump transitive Cargo dependencies and Rust toolchain (#7908)
  Cargo.lock
  apps/hash-graph/src/subcommand/server.rs
  libs/@blockprotocol/type-system/rust/src/ontology/property_type/schema/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/store/src/lib.rs
  libs/@local/harpc/wire-protocol/src/protocol.rs
  libs/@local/harpc/wire-protocol/src/request/flags.rs
  libs/@local/harpc/wire-protocol/src/response/flags.rs
  libs/error-stack/README.md
  libs/error-stack/macros/README.md
  libs/error-stack/src/frame/mod.rs
  libs/error-stack/src/lib.rs
  rust-toolchain.toml
Due: markdownlint, prettier, rust, toml

fix: proxies
  apps/hash-api/package.json
  apps/hash-api/src/graphql/create-apollo-server.ts
  apps/hash-api/src/index.ts
  apps/hash-api/src/storage/index.ts
  libs/@local/hash-isomorphic-utils/package.json
  package.json
  yarn.lock
Due: prettier, yarn

chore: lockfile
  yarn.lock
Due: none

fix: use middleware everywhere
  apps/hash-api/package.json
  apps/hash-api/src/block-protocol-external-service-method-proxy.ts
  tests/hash-backend-load/src/authentication/reauthenticate.ts
  yarn.lock
Due: prettier, yarn

chore: remove unused eslint directive
  apps/hash-api/src/ai/gpt/gpt-get-user-webs.ts
  apps/hash-api/src/ai/gpt/gpt-query-entities.ts
  apps/hash-api/src/ai/gpt/gpt-query-types.ts
  apps/hash-api/src/ai/gpt/upsert-gpt-oauth-client.ts
  apps/hash-api/src/auth/create-auth-handlers.ts
  apps/hash-api/src/integrations/google/check-access-token.ts
  apps/hash-api/src/integrations/google/get-access-token.ts
  apps/hash-api/src/integrations/google/oauth-callback.ts
  apps/hash-api/src/integrations/linear/oauth.ts
  apps/hash-api/src/integrations/linear/webhook.ts
  apps/hash-api/src/storage/local-file-storage.ts
Due: prettier

feat: checkpoint
  libs/@local/hashql/mir/src/body/mod.rs
  libs/@local/hashql/mir/src/def.rs
  libs/@local/hashql/mir/src/lib.rs
  libs/@local/hashql/mir/src/reify/mod.rs
Due: rust

feat: checkpoint
  libs/@local/hashql/mir/src/body/rvalue/aggregate.rs
  libs/@local/hashql/mir/src/reify/mod.rs
Due: rust

feat: musings
  libs/@local/hashql/mir/src/reify/mod.rs
Due: rust

wip: petrinaut dev mode
  libs/@hashintel/petrinaut/README.md
  libs/@hashintel/petrinaut/dev/README.md
  libs/@hashintel/petrinaut/dev/dev-app.tsx
  libs/@hashintel/petrinaut/dev/dev-wrapper.tsx
  libs/@hashintel/petrinaut/dev/index.html
  libs/@hashintel/petrinaut/dev/tsconfig.json
  libs/@hashintel/petrinaut/dev/vite.config.ts
  libs/@hashintel/petrinaut/package.json
  libs/@hashintel/petrinaut/tsconfig.json
  yarn.lock
Due: markdownlint, prettier, yarn

feat: compile rvalue (I)
  libs/@local/hashql/mir/src/body/mod.rs
  libs/@local/hashql/mir/src/body/rvalue/aggregate.rs
  libs/@local/hashql/mir/src/intern.rs
  libs/@local/hashql/mir/src/lib.rs
  libs/@local/hashql/mir/src/reify/mod.rs
Due: rust

chore: remove `coverage(off)
  libs/@local/hashql/core/src/id/bit_vec/mod.rs
Due: rust

feat: checkpoint
  libs/@local/graph/api/src/rest/entity_query_request.rs
  libs/@local/hashql/compiletest/src/suite/eval_graph_read_entity.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_alias_replacement.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_checking.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_ctor.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_graph_hoisting.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_inference.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_normalization.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_specialization.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_thunking.rs
  libs/@local/hashql/compiletest/src/suite/hir_reify.rs
  libs/@local/hashql/eval/src/graph/read/filter.rs
  libs/@local/hashql/eval/src/graph/read/filter_expr.rs
  libs/@local/hashql/eval/src/graph/read/mod.rs
  libs/@local/hashql/hir/src/context.rs
  libs/@local/hashql/hir/src/fold/mod.rs
  libs/@local/hashql/hir/src/intern.rs
  libs/@local/hashql/hir/src/lower/alias.rs
  libs/@local/hashql/hir/src/lower/checking.rs
  libs/@local/hashql/hir/src/lower/ctor.rs
  libs/@local/hashql/hir/src/lower/inference.rs
  libs/@local/hashql/hir/src/lower/mod.rs
  libs/@local/hashql/hir/src/lower/normalization.rs
  libs/@local/hashql/hir/src/lower/specialization/error.rs
  libs/@local/hashql/hir/src/lower/specialization/mod.rs
  libs/@local/hashql/hir/src/lower/thunking.rs
  libs/@local/hashql/hir/src/node/branch/if.rs
  libs/@local/hashql/hir/src/node/call.rs
  libs/@local/hashql/hir/src/node/closure.rs
  libs/@local/hashql/hir/src/node/graph/read.rs
  libs/@local/hashql/hir/src/node/mod.rs
  libs/@local/hashql/hir/src/node/operation/type.rs
  libs/@local/hashql/hir/src/node/thunk.rs
  libs/@local/hashql/hir/src/pretty.rs
  libs/@local/hashql/hir/src/reify/mod.rs
  libs/@local/hashql/hir/src/visit.rs
Due: rust

feat: checkpoint
  libs/@local/hashql/hir/src/context.rs
  libs/@local/hashql/hir/src/lower/checking.rs
  libs/@local/hashql/hir/src/lower/inference.rs
  libs/@local/hashql/hir/src/lower/mod.rs
  libs/@local/hashql/hir/src/lower/normalization.rs
  libs/@local/hashql/hir/src/lower/thunking.rs
  libs/@local/hashql/hir/src/node/call.rs
  libs/@local/hashql/hir/src/node/mod.rs
  libs/@local/hashql/hir/src/node/thunk.rs
  libs/@local/hashql/hir/src/pretty.rs
  libs/@local/hashql/hir/src/visit.rs
Due: rust

feat: checkpoint
  libs/@local/hashql/hir/src/fold/mod.rs
  libs/@local/hashql/hir/src/lower/hoist.rs
  libs/@local/hashql/hir/src/lower/mod.rs
  libs/@local/hashql/hir/src/lower/specialization/error.rs
  libs/@local/hashql/hir/src/lower/specialization/mod.rs
Due: rust

feat: checkpoint
  libs/@local/hashql/core/src/id/vec.rs
  libs/@local/hashql/core/src/type/mod.rs
  libs/@local/hashql/hir/src/context.rs
  libs/@local/hashql/hir/src/lib.rs
  libs/@local/hashql/hir/src/lower/checking.rs
  libs/@local/hashql/hir/src/lower/ctor.rs
  libs/@local/hashql/hir/src/lower/inference.rs
  libs/@local/hashql/hir/src/lower/specialization/mod.rs
  libs/@local/hashql/hir/src/map.rs
  libs/@local/hashql/hir/src/node/closure.rs
  libs/@local/hashql/hir/src/pretty.rs
  libs/@local/hashql/hir/src/reify/mod.rs
Due: rust

feat: checkpoint
  libs/@local/hashql/hir/src/lower/checking.rs
  libs/@local/hashql/hir/src/lower/ctor.rs
  libs/@local/hashql/hir/src/lower/inference.rs
  libs/@local/hashql/hir/src/lower/mod.rs
  libs/@local/hashql/hir/src/lower/specialization/mod.rs
  libs/@local/hashql/hir/src/map.rs
Due: rust

feat: checkpoint
  libs/@local/hashql/hir/src/lower/ctor.rs
  libs/@local/hashql/hir/src/lower/inference.rs
  libs/@local/hashql/hir/src/lower/normalization.rs
  libs/@local/hashql/hir/src/map.rs
  libs/@local/hashql/hir/src/node/branch/if.rs
  libs/@local/hashql/hir/src/node/closure.rs
  libs/@local/hashql/hir/src/node/operation/type.rs
Due: rust

feat: checkpoint
  libs/@local/graph/api/src/rest/entity_query_request.rs
  libs/@local/hashql/compiletest/src/suite/eval_graph_read_entity.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_alias_replacement.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_checking.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_ctor.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_graph_hoisting.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_inference.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_inference_intrinsics.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_normalization.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_specialization.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_thunking.rs
  libs/@local/hashql/compiletest/src/suite/hir_reify.rs
  libs/@local/hashql/core/src/id/mod.rs
  libs/@local/hashql/core/src/type/mod.rs
  libs/@local/hashql/eval/src/graph/read/filter.rs
  libs/@local/hashql/eval/src/graph/read/filter_expr.rs
  libs/@local/hashql/eval/src/graph/read/mod.rs
  libs/@local/hashql/hir/src/lower/mod.rs
  libs/@local/hashql/hir/src/lower/normalization.rs
  libs/@local/hashql/hir/src/lower/specialization/mod.rs
  libs/@local/hashql/hir/src/lower/thunking.rs
  libs/@local/hashql/hir/src/map.rs
  libs/@local/hashql/hir/src/reify/mod.rs
Due: rust

update dev wrapper, bug fixes
  apps/hash-frontend/src/components/hooks/use-default-state.tsx
  apps/hash-frontend/src/pages/shared/block-collection/block-collection.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer/graph-container/shared/graph-context.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar/account-page-list.tsx
  libs/@hashintel/design-system/src/fluid-fonts.tsx
  libs/@hashintel/petrinaut/dev/README.md
  libs/@hashintel/petrinaut/dev/dev-wrapper.tsx
  libs/@hashintel/petrinaut/dev/index.html
  libs/@hashintel/petrinaut/dev/tsconfig.json
  libs/@hashintel/petrinaut/dev/vite.config.ts
  libs/@hashintel/petrinaut/eslint.config.js
  libs/@hashintel/petrinaut/package.json
  libs/@hashintel/petrinaut/src/petrinaut.tsx
  libs/@hashintel/petrinaut/src/petrinaut/token-types.tsx
  libs/@hashintel/petrinaut/src/petrinaut/token-types/default-token-types.ts
  libs/@hashintel/petrinaut/src/petrinaut/token-types/token-type-editor.tsx
  libs/@hashintel/petrinaut/tsconfig.json
  yarn.lock
Due: markdownlint, prettier, yarn

feat: checkpoint
  libs/@local/hashql/compiletest/src/suite/hir_lower_checking.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_inference.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_inference_intrinsics.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_thunking.rs
  libs/@local/hashql/hir/src/map.rs
Due: rust

fix: actually walk the result
  libs/@local/hashql/compiletest/src/suite/hir_lower_inference.rs
Due: rust

chore: document the double layer approach in checking
  libs/@local/hashql/hir/src/lower/checking.rs
  libs/@local/hashql/hir/src/lower/inference.rs
  libs/@local/hashql/hir/src/pretty.rs
  libs/@local/hashql/hir/tests/ui/lower/checking/closure-call-constrained.stdout
  libs/@local/hashql/hir/tests/ui/lower/checking/closure-call-unconstrained-direct.stdout
  libs/@local/hashql/hir/tests/ui/lower/checking/closure-call-unconstrained.stdout
  libs/@local/hashql/hir/tests/ui/lower/checking/closure-constrained.stdout
Due: rust

chore: docs
  libs/@local/hashql/hir/src/map.rs
Due: rust

chore: add docs to `TypeId`
  libs/@local/hashql/core/src/type/mod.rs
Due: rust

fix: docs
  libs/@local/hashql/hir/src/node/graph/read.rs
Due: rust

chore: remove benchmarks
  libs/@local/hashql/core/src/id/bit_vec/tests.rs
  libs/@local/hashql/core/src/lib.rs
Due: rust

Add `mise trust` command before `turbo prune` in Dockerfiles
  apps/hash-ai-worker-ts/docker/Dockerfile
  apps/hash-graph/docker/Dockerfile
  apps/hash-integration-worker/docker/Dockerfile
  infra/docker/api/prod/Dockerfile
Due: none

Apply suggestion from @TimDiekmann
  apps/hash-ai-worker-ts/docker/Dockerfile
Due: none

Fix build args syntax for hash-frontend image in action.yml
  .github/actions/build-docker-images/action.yml
Due: prettier
