Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, prettier, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: yarn run markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    prettier:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: yarn run prettier --write {staged_files} || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:packagejson && yarn fix:yarn-deduplicate
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: cargo fmt -- {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: yarn run taplo format {staged_files} || true
      stage_fixed: true

feat: test
  libs/@local/hashql/core/src/type/collection/type_id_set.rs
Due: rust

fix: docs
  libs/@local/hashql/core/src/type/environment/instantiate.rs
Due: rust

Add flattening support for structs and enums in codegen
  Cargo.toml
  libs/@local/codegen/src/definitions/fields.rs
  libs/@local/codegen/src/typescript.rs
  libs/@local/codegen/tests/codegen/enums.rs
  libs/@local/codegen/tests/codegen/main.rs
  libs/@local/codegen/tests/codegen/snapshots/codegen__EnumAdjacent::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__EnumExternal::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__EnumInternal::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__EnumUntagged::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__StructMultipleFlattened::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__StructSimpleFlattened::Typescript.snap
  libs/@local/codegen/tests/codegen/structs.rs
Due: rust, toml

feat: apply suggestions from AI review
  libs/@local/hashql/core/src/type/environment/instantiate.rs
  libs/@local/hashql/core/src/type/pretty_print.rs
Due: rust

Add comment on caching
  libs/@local/codegen/src/typescript.rs
Due: rust

Fix prune scope in CI
  .github/actions/prune-repository/action.yml
Due: prettier

Removed unused function
  libs/@local/codegen/src/definitions/fields.rs
Due: rust

Remove unused `StructFlattenedMap` definition
  libs/@local/codegen/tests/codegen/structs.rs
Due: rust

finish / bug fixes
  apps/hash-frontend/src/pages/process.page/process-editor.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/arc.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/editor-context.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/editor-context/use-persisted-nets.ts
  apps/hash-frontend/src/pages/process.page/process-editor/persisted-net-selector.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/title-and-net-select.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/transition-editor.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/transition-node.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/types.ts
  apps/hash-frontend/src/pages/process.page/process-editor/use-load-from-pnml.ts
Due: prettier

H-4421, H-4423: Persist Petri nets in graph, allow linking sub-processes to transitions (#7038)
  apps/hash-api/package.json
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/022-add-petri-nets.dev.migration.ts
  apps/hash-frontend/src/pages/process.page/process-editor.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/arc.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/editor-context.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/editor-context/use-persisted-nets.ts
  apps/hash-frontend/src/pages/process.page/process-editor/examples.ts
  apps/hash-frontend/src/pages/process.page/process-editor/persisted-net-selector.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/title-and-net-select.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/transition-editor.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/transition-node.tsx
  apps/hash-frontend/src/pages/process.page/process-editor/types.ts
  apps/hash-frontend/src/pages/process.page/process-editor/use-convert-to-pnml.ts
  apps/hash-frontend/src/pages/process.page/process-editor/use-load-from-pnml.ts
  libs/@blockprotocol/graph/src/codegen/context/postprocess.ts
  libs/@hashintel/design-system/src/components.ts
  libs/@hashintel/design-system/src/icon-diagram-regular.tsx
  libs/@local/hash-isomorphic-utils/package.json
  libs/@local/hash-isomorphic-utils/src/ontology-type-ids.ts
  libs/@local/hash-isomorphic-utils/src/system-types/academicpaper.ts
  libs/@local/hash-isomorphic-utils/src/system-types/claim.ts
  libs/@local/hash-isomorphic-utils/src/system-types/graphchangenotification.ts
  libs/@local/hash-isomorphic-utils/src/system-types/petrinet.ts
  libs/@local/hash-isomorphic-utils/src/system-types/shared.ts
  libs/@local/hash-isomorphic-utils/src/system-types/studyrecord.ts
  libs/@local/hash-isomorphic-utils/src/system-types/usagerecord.ts
Due: prettier, yarn

feat: properly handle recursive types during unnesting
  libs/@local/hashql/core/src/type/environment/context/provision.rs
  libs/@local/hashql/core/src/type/kind/intersection.rs
  libs/@local/hashql/core/src/type/kind/mod.rs
  libs/@local/hashql/core/src/type/kind/union.rs
  libs/@local/hashql/core/src/type/lattice.rs
Due: rust

chore: enhance docs on `should_discharge`
  libs/@local/hashql/core/src/type/recursion.rs
Due: rust

feat: use `Interned` instead of raw pointer
  libs/@local/hashql/core/src/type/recursion.rs
Due: rust

feat: recursion test
  libs/@local/hashql/core/src/type/kind/struct.rs
Due: rust

H-4384, H-4499: HashQL: Implement Type Instantiation (#7036)
  libs/@local/hashql/core/src/intern/map.rs
  libs/@local/hashql/core/src/lib.rs
  libs/@local/hashql/core/src/type/collection/type_id_set.rs
  libs/@local/hashql/core/src/type/environment/analysis.rs
  libs/@local/hashql/core/src/type/environment/context/mod.rs
  libs/@local/hashql/core/src/type/environment/context/provision.rs
  libs/@local/hashql/core/src/type/environment/context/replace.rs
  libs/@local/hashql/core/src/type/environment/infer.rs
  libs/@local/hashql/core/src/type/environment/instantiate.rs
  libs/@local/hashql/core/src/type/environment/lattice.rs
  libs/@local/hashql/core/src/type/environment/mod.rs
  libs/@local/hashql/core/src/type/environment/simplify.rs
  libs/@local/hashql/core/src/type/error.rs
  libs/@local/hashql/core/src/type/inference/mod.rs
  libs/@local/hashql/core/src/type/inference/solver/mod.rs
  libs/@local/hashql/core/src/type/kind/closure.rs
  libs/@local/hashql/core/src/type/kind/infer.rs
  libs/@local/hashql/core/src/type/kind/intersection.rs
  libs/@local/hashql/core/src/type/kind/intrinsic.rs
  libs/@local/hashql/core/src/type/kind/mod.rs
  libs/@local/hashql/core/src/type/kind/opaque.rs
  libs/@local/hashql/core/src/type/kind/primitive.rs
  libs/@local/hashql/core/src/type/kind/struct.rs
  libs/@local/hashql/core/src/type/kind/tuple.rs
  libs/@local/hashql/core/src/type/kind/union.rs
  libs/@local/hashql/core/src/type/lattice.rs
  libs/@local/hashql/core/src/type/recursion.rs
  libs/@local/hashql/core/src/type/test.rs
Due: rust

feat: switch to `ModuleNamespace`
  libs/@local/hashql/ast/src/lowering/macros.rs
  libs/@local/hashql/ast/src/lowering/mod.rs
  libs/@local/hashql/ast/src/lowering/pre_expansion_name_resolver.rs
  libs/@local/hashql/ast/tests/ui/lowering/pre-expansion-name-resolver/re-assign-prelude-diverging.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/pre-expansion-name-resolver/re-assign-prelude-diverging.stdout
  libs/@local/hashql/ast/tests/ui/lowering/pre-expansion-name-resolver/resolve-generics.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/pre-expansion-name-resolver/resolve-generics.stdout
  libs/@local/hashql/compiletest/src/suite/ast_lowering_node_mangler.rs
  libs/@local/hashql/compiletest/src/suite/ast_lowering_node_renumberer.rs
  libs/@local/hashql/compiletest/src/suite/ast_lowering_pre_expansion_name_resolver.rs
  libs/@local/hashql/core/src/module/mod.rs
Due: rust

chore: docs
  libs/@local/hashql/core/src/module/mod.rs
Due: rust

chore: docs
  libs/@local/hashql/ast/src/lowering/pre_expansion_name_resolver.rs
Due: rust

Special-case {} type to Record<string, never>
  libs/@local/codegen/src/definitions/fields.rs
  libs/@local/codegen/src/typescript.rs
  libs/@local/codegen/tests/codegen/snapshots/codegen__EnumAdjacent::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__EnumExternal::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__EnumUntagged::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__StructEmpty::Typescript.snap
Due: rust

H-4487: Special-case {} type to `Record<string, never>` (#7043)
  libs/@local/codegen/src/definitions/fields.rs
  libs/@local/codegen/src/typescript.rs
  libs/@local/codegen/tests/codegen/snapshots/codegen__EnumAdjacent::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__EnumExternal::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__EnumUntagged::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__StructEmpty::Typescript.snap
Due: rust

H-4453: HashQL: Convert PreExpansionNameResolver to use ModuleRegistry (#7044)
  libs/@local/hashql/ast/src/lowering/macros.rs
  libs/@local/hashql/ast/src/lowering/mod.rs
  libs/@local/hashql/ast/src/lowering/pre_expansion_name_resolver.rs
  libs/@local/hashql/ast/tests/ui/lowering/pre-expansion-name-resolver/re-assign-prelude-diverging.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/pre-expansion-name-resolver/re-assign-prelude-diverging.stdout
  libs/@local/hashql/ast/tests/ui/lowering/pre-expansion-name-resolver/resolve-generics.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/pre-expansion-name-resolver/resolve-generics.stdout
  libs/@local/hashql/compiletest/src/suite/ast_lowering_node_mangler.rs
  libs/@local/hashql/compiletest/src/suite/ast_lowering_node_renumberer.rs
  libs/@local/hashql/compiletest/src/suite/ast_lowering_pre_expansion_name_resolver.rs
  libs/@local/hashql/core/src/module/mod.rs
Due: rust

Export interface instead of type alias in codegen for structs
  libs/@local/codegen/src/typescript.rs
  libs/@local/codegen/tests/codegen/main.rs
  libs/@local/codegen/tests/codegen/snapshots/codegen__Ai::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__ListCollections::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__ListNested::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__ListOptionals::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__ListPrimitives::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__ListStructs::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__Machine::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__MapEnumKey::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__MapNested::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__MapNumericKey::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__MapOptional::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__MapStringKey::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__MapStructValue::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__StructEmpty::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__StructFlattenedEnum::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__StructMultipleFlattened::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__StructNested::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__StructNestedInterfaceFlattened::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__StructNestedTypeFlattened::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__StructOptional::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__StructSimple::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__Team::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__TeamRole::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__TupleDouble::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__TupleEmpty::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__TupleMultiple::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__TupleNested::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__TupleOptional::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__TupleSingle::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__User::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__Web::Typescript.snap
  libs/@local/codegen/tests/codegen/snapshots/codegen__WebRole::Typescript.snap
  libs/@local/codegen/tests/codegen/structs.rs
Due: rust

Rename recordCreatedAtTransactionTime to editionCreatedAtTransactionTime
  apps/hash-frontend/src/pages/shared/entities-visualizer.tsx
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/store/src/entity/query.rs
Due: prettier, rust

feat: implement first version (w/o diagnostics)
  libs/@local/hashql/ast/src/lowering/name_mangler.rs
  libs/@local/hashql/ast/src/lowering/special_form_expander/error.rs
  libs/@local/hashql/ast/src/lowering/special_form_expander/mod.rs
  libs/@local/hashql/ast/src/node/expr/type.rs
  libs/@local/hashql/ast/src/node/generic.rs
  libs/@local/hashql/ast/src/node/path.rs
  libs/@local/hashql/ast/src/visit.rs
Due: rust

feat: convert to `lower_type_3`
  libs/@local/hashql/ast/src/lowering/special_form_expander/error.rs
  libs/@local/hashql/ast/src/lowering/special_form_expander/mod.rs
Due: rust

fix: name mangler
  libs/@local/hashql/ast/src/lowering/name_mangler.rs
Due: rust

fix: compile time error
  libs/@local/hashql/ast/src/format/dump.rs
  libs/@local/hashql/ast/src/node/path.rs
  libs/@local/hashql/ast/src/visit.rs
Due: rust

chore: errors
  libs/@local/hashql/ast/src/lowering/special_form_expander/error.rs
  libs/@local/hashql/ast/src/lowering/special_form_expander/mod.rs
Due: rust

chore: test (WIP)
  libs/@local/hashql/ast/src/format/dump.rs
  libs/@local/hashql/ast/tests/ui/lowering/name-mangler/path-arguments.stdout
  libs/@local/hashql/ast/tests/ui/lowering/pre-expansion-name-resolver/let-ident-generic.stdout
  libs/@local/hashql/ast/tests/ui/lowering/pre-expansion-name-resolver/resolve-generics.stdout
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-collect-all-errors.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-collect-all-errors.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-generic.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-generic.stdout
Due: rust

feat: test lowering
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-generic-absolute-path.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-generic-absolute-path.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-generic-constraint.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-generic-constraint.stdout
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-generic-generic-ident.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-generic-generic-ident.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-generic-relative-path.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-generic-relative-path.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-generic-struct.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-generic-struct.stderr
  libs/@local/hashql/syntax-jexpr/src/parser/string/generic.rs
Due: rust

chore: update snaps
  libs/@local/hashql/syntax-jexpr/src/parser/string/snapshots/hashql_syntax_jexpr__parser__string__generic__tests__constraint_no_bound_specified.snap
Due: none

feat: name mangling snaps
  libs/@local/hashql/ast/tests/ui/lowering/name-mangler/type-generics-constraints.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/name-mangler/type-generics-constraints.stdout
  libs/@local/hashql/ast/tests/ui/lowering/name-mangler/type-generics-interdependent-generics.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/name-mangler/type-generics-interdependent-generics.stdout
  libs/@local/hashql/ast/tests/ui/lowering/name-mangler/type-generics-nested.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/name-mangler/type-generics-nested.stdout
  libs/@local/hashql/ast/tests/ui/lowering/name-mangler/type-generics-recursive.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/name-mangler/type-generics-recursive.stdout
  libs/@local/hashql/ast/tests/ui/lowering/name-mangler/type-generics.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/name-mangler/type-generics.stdout
Due: none

chore: test duplicate params
  libs/@local/hashql/ast/src/lowering/special_form_expander/error.rs
  libs/@local/hashql/ast/src/lowering/special_form_expander/mod.rs
  libs/@local/hashql/ast/tests/ui/lowering/name-mangler/onion.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/name-mangler/onion.stdout
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/fn-generics-duplicates.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/fn-generics-duplicates.stderr
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/fn-params-duplicates.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/fn-params-duplicates.stderr
Due: rust

feat: check for duplicate constraints
  libs/@local/hashql/ast/src/lowering/special_form_expander/error.rs
  libs/@local/hashql/ast/src/lowering/special_form_expander/mod.rs
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-generic-duplicate.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/special-form-expander/type-generic-duplicate.stderr
Due: rust

feat: flatten the match statement
  libs/@local/hashql/ast/src/lib.rs
  libs/@local/hashql/ast/src/lowering/special_form_expander/mod.rs
Due: rust
