Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    biome:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: biome format --write --staged || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: rustfmt {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: taplo format {staged_files} || true
      stage_fixed: true

FE-1773: Animate the window between its floating and docked placements
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/reactive-modules-panel.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/reactive-modules-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/shared/side-dock.tsx
Due: biome

FE-1781: Compile the Petri net IR to a Zeroth reactive module
  .changeset/zeroth-reactive-module-compiler.md
  libs/@hashintel/petrinaut-core/src/reactive-modules.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/compile-reactive-module-export.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/compile-reactive-module-export.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/petri-net-ir-to-reactive-module.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/petri-net-ir-to-reactive-module.ts
Due: markdownlint, biome

FE-1781: Add the Python Reactive Module tab to the window
  .changeset/zeroth-reactive-modules-python-tab.md
  libs/@hashintel/petrinaut-core/src/ai.ts
  libs/@hashintel/petrinaut/docs/README.md
  libs/@hashintel/petrinaut/docs/reactive-modules.md
  libs/@hashintel/petrinaut/src/ui/plugins/built-in-plugins/reactive-modules-plugin.test.tsx
  libs/@hashintel/petrinaut/src/ui/plugins/built-in-plugins/reactive-modules-plugin.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/reactive-modules-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/reactive-modules-panel/monaco-languages.ts
Due: markdownlint, biome

FE-1782: Split the compiler into a module graph, two shape lowerings and a Python emitter
  .changeset/zeroth-compiler-flags.md
  libs/@hashintel/petrinaut-core/src/reactive-modules.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/compile-reactive-module-export.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/compile-reactive-module-export.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/emit-reactive-module-python.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/interpret-reactive-module-graph.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/lower-modular.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/lower-monolithic.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/shared/names.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/shared/step-terms.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/step-plan.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/petri-net-ir-to-reactive-module.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/petri-net-ir-to-reactive-module.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/reactive-module-graph.ts
Due: markdownlint, biome

FE-1782: Give the IR a zeroth flags section and a controllable transition flag
  libs/@hashintel/petrinaut-core/src/reactive-modules/petri-net-ir.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/petri-net-ir.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/sdcpn-to-petri-net-ir.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/sdcpn-to-petri-net-ir.ts
Due: biome

FE-1782: Add the compiler flags header to the Python Reactive Module tab
  .changeset/zeroth-compiler-flags-header.md
  libs/@hashintel/petrinaut-core/src/ai.ts
  libs/@hashintel/petrinaut/docs/reactive-modules.md
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/reactive-modules-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/reactive-modules-panel/target-header.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/reactive-modules-panel/target-header.tsx
Due: markdownlint, biome

FE-1783: Export the HIR function printer from the hir entry
  libs/@hashintel/petrinaut-core/src/hir.ts
Due: biome

FE-1783: Print a whole HIR function as TypeScript
  libs/@hashintel/petrinaut-core/src/hir/README.md
  libs/@hashintel/petrinaut-core/src/hir/hir.ts
  libs/@hashintel/petrinaut-core/src/hir/lower-typescript.ts
  libs/@hashintel/petrinaut-core/src/hir/print-function.test.ts
  libs/@hashintel/petrinaut-core/src/hir/print-function.ts
  libs/@hashintel/petrinaut-core/src/hir/print.ts
  libs/@hashintel/petrinaut-core/src/hir/print/doc.ts
Due: markdownlint, biome

FE-1783: Lower coloured places to slots with bindings, kernels, dynamics and compaction
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/bindings.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/check-lowerable.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/colour-layout.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/compaction.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/dynamics.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/kernels.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/linear-hir.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/lower-monolithic.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/shared/names.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/shared/step-terms.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/step-plan.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/petri-net-ir-to-reactive-module.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/petri-net-ir.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/petri-net-ir.ts
Due: biome

FE-1783: Balance the front-end test's parentheses
  libs/@hashintel/petrinaut-core/src/reactive-modules/sdcpn-to-petri-net-ir.test.ts
Due: biome

FE-1783: Extend the module graph with comparisons, logic, scaling and relu
  libs/@hashintel/petrinaut-core/src/reactive-modules/emit-reactive-module-python.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/emit-reactive-module-python.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/interpret-reactive-module-graph.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/reactive-module-graph.ts
Due: biome

FE-1783: Extend the IR with colours, dynamics, code surfaces and arc kinds
  libs/@hashintel/petrinaut-core/src/reactive-modules/compile-reactive-module-export.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/check-lowerable.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/lower-monolithic.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/shared/step-terms.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/step-plan.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/petri-net-ir-to-reactive-module.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/petri-net-ir-to-reactive-module.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/petri-net-ir.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/petri-net-ir.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/sdcpn-to-petri-net-ir.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/reactive-modules-panel.tsx
Due: biome

FE-1783: Inline the emitter's literal branch wrapping
  libs/@hashintel/petrinaut-core/src/reactive-modules/emit-reactive-module-python.ts
Due: biome

FE-1783: Read the IR's code back from the trees it was printed from
  libs/@hashintel/petrinaut-core/src/reactive-modules/compile-reactive-module-export.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/bindings.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/dynamics.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/sdcpn-to-petri-net-ir.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/sdcpn-to-petri-net-ir.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/sdcpn-to-petri-net-ir/print-user-code.ts
Due: biome

FE-1783: Keep the HIR printer's import chain free of the TypeScript compiler
  libs/@hashintel/petrinaut-core/src/hir.ts
  libs/@hashintel/petrinaut-core/src/hir/ambient-names.ts
  libs/@hashintel/petrinaut-core/src/hir/format-typescript-expression.ts
  libs/@hashintel/petrinaut-core/src/hir/lower-typescript.ts
  libs/@hashintel/petrinaut-core/src/hir/print-function.ts
  libs/@hashintel/petrinaut-core/src/hir/print.ts
  libs/@hashintel/petrinaut-core/src/hir/synthetic-names.ts
  libs/@hashintel/petrinaut-core/src/hir/user-code-form.ts
Due: biome

FE-1783: Repair the front-end test's assertion and skip zero derivatives
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/dynamics.ts
Due: biome

FE-1783: Translate the linear subset of the HIR to module expressions
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/linear-hir.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/linear-hir.ts
Due: biome

FE-1783: Lower colours, dynamics, code surfaces and arc kinds from the net into the IR
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/check-lowerable.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/step-plan.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/petri-net-ir-to-reactive-module.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/petri-net-ir.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/petri-net-ir.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/sdcpn-to-petri-net-ir.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/sdcpn-to-petri-net-ir.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/sdcpn-to-petri-net-ir/lower-colours.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/sdcpn-to-petri-net-ir/print-user-code.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/reactive-modules-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/reactive-modules-panel/use-lambda-hir.ts
Due: biome

FE-1783: Add the slots flag to the header and document the coloured IR
  .changeset/zeroth-coloured-continuous-window.md
  .changeset/zeroth-coloured-continuous.md
  libs/@hashintel/petrinaut-core/src/ai.ts
  libs/@hashintel/petrinaut/docs/reactive-modules.md
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/reactive-modules-panel/target-header.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/reactive-modules-panel/target-header.tsx
Due: markdownlint, biome

Address optimizer codegen review comments
  libs/@local/petrinaut-optimizer-client/oxfmt.ignore
  libs/@local/petrinaut-optimizer-client/package.json
  libs/@local/petrinaut-optimizer-client/turbo.json
Due: biome, yarn

Keep optimizer formatter ignore file in its package
  libs/@local/petrinaut-optimizer-client/oxfmt.ignore
  libs/@local/petrinaut-optimizer-client/package.json
Due: biome, yarn

FE-1775: Cover frontend Panda paths and optimizer cache inputs
  apps/hash-frontend/panda-config-paths.test.ts
  apps/hash-frontend/panda-config-paths.ts
  apps/hash-frontend/panda.config.ts
  libs/@local/petrinaut-optimizer-client/turbo.json
Due: biome

Fix Petrinaut setup on Windows
  .changeset/windows-panda-buildinfo-paths.md
  .config/oxfmt/empty-ignore
  README.md
  apps/petrinaut-website/README.md
  libs/@hashintel/petrinaut/panda.config.shared.test.ts
  libs/@hashintel/petrinaut/panda.config.shared.ts
  libs/@local/petrinaut-optimizer-client/package.json
Due: markdownlint, biome, yarn

FE-1775: Format Panda path regression test
  libs/@hashintel/petrinaut/panda.config.shared.test.ts
Due: biome

Pin English and far-field noise reduction for Live transcription
  apps/petrinaut-website/src/server/voice/openai-transcription-session.test.ts
  apps/petrinaut-website/src/server/voice/openai-transcription-session.ts
Due: biome

Trace echo evidence while GPT-Live is speaking
  apps/petrinaut-website/README.md
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation/echo-diagnostics.ts
Due: markdownlint, biome

FE-1783: Say which surface a refusal comes from, what the construct is and what the theories accept
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/bindings.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/dynamics.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/kernels.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/lower-petri-net-ir/linear-hir.ts
Due: biome

FE-1785: Write one Python file per module and list the files in the window
  .changeset/zeroth-files-panel.md
  .changeset/zeroth-per-module-files.md
  libs/@hashintel/petrinaut-core/src/ai.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/compile-reactive-module-export.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/emit-reactive-module-python.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/emit-reactive-module-python.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/petri-net-ir-to-reactive-module.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/petri-net-ir-to-reactive-module.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/petri-net-ir.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/petri-net-ir.ts
  libs/@hashintel/petrinaut/docs/reactive-modules.md
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/reactive-modules-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/reactive-modules-panel/files-panel.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/reactive-modules-panel/files-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/reactive-modules-panel/target-header.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/reactive-modules-panel/target-header.tsx
Due: markdownlint, biome

FE-1785: Keep the flags on one scrolling line and show the file list only with several files
  libs/@hashintel/petrinaut/docs/reactive-modules.md
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/reactive-modules-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/reactive-modules-panel/target-header.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/reactive-modules-panel/target-header.tsx
Due: markdownlint, biome

FE-1785: Move the file list toggle into the flags row, regroup the list and keep the tabs still
  libs/@hashintel/petrinaut-core/src/reactive-modules/emit-reactive-module-python.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/emit-reactive-module-python.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/petri-net-ir-to-reactive-module.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/petri-net-ir-to-reactive-module.ts
  libs/@hashintel/petrinaut/docs/reactive-modules.md
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/reactive-modules-panel.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/reactive-modules-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/reactive-modules-panel/files-panel.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/reactive-modules-panel/files-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/reactive-modules-panel/target-header.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/reactive-modules-panel/target-header.tsx
Due: markdownlint, biome

FE-1785: Add a syntax flag choosing between update and next as the step method
  .changeset/zeroth-per-module-files.md
  libs/@hashintel/petrinaut-core/src/ai.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/emit-reactive-module-python.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/emit-reactive-module-python.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/petri-net-ir-to-reactive-module.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/petri-net-ir-to-reactive-module.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/petri-net-ir.test.ts
  libs/@hashintel/petrinaut-core/src/reactive-modules/petri-net-ir.ts
  libs/@hashintel/petrinaut/docs/reactive-modules.md
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/reactive-modules-panel/target-header.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/reactive-modules-panel/target-header.tsx
Due: markdownlint, biome

FE-1785: Walk the file list with the worksheet flow and style its rows like the Entities list
  libs/@hashintel/petrinaut/docs/reactive-modules.md
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/reactive-modules-panel/files-panel.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/reactive-modules-panel/files-panel.tsx
Due: markdownlint, biome

Add shared wire types for Live utterance judgment
  apps/petrinaut-website/src/shared/live-utterance-judgment.test.ts
  apps/petrinaut-website/src/shared/live-utterance-judgment.ts
Due: biome

Expose log-only Live utterance judgment configuration
  apps/petrinaut-website/src/server/voice/openai-live-session.test.ts
  apps/petrinaut-website/src/server/voice/openai-voice-config.test.ts
  apps/petrinaut-website/src/server/voice/openai-voice-config.ts
Due: biome

Add the TypeSafe utterance judgment server boundary
  apps/petrinaut-website/src/server/voice/typesafe-utterance-judgment.test.ts
  apps/petrinaut-website/src/server/voice/typesafe-utterance-judgment.ts
Due: biome

Mount and document the log-only Live judgment experiment
  apps/petrinaut-website/README.md
  apps/petrinaut-website/api/voice/utterance-judgment.ts
  apps/petrinaut-website/vite.config.ts
Due: markdownlint, biome

Wire log-only judgments through the Live voice controls
  apps/petrinaut-website/src/main/app/voice-interview/live-brunch-bridge.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation-control.test.tsx
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation-control.tsx
  apps/petrinaut-website/src/main/app/voice-interview/request-utterance-judgment.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-control.test.tsx
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-control.tsx
  apps/petrinaut-website/src/server/voice/typesafe-utterance-judgment.test.ts
Due: biome

Observe Live utterance judgments without delaying Brunch
  apps/petrinaut-website/src/main/app/voice-interview/live-brunch-bridge.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-brunch-bridge.ts
Due: biome

Measure slower log judgments and clarify repeated-question classification
  apps/petrinaut-website/README.md
  apps/petrinaut-website/src/main/app/voice-interview/request-utterance-judgment.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/request-utterance-judgment.ts
  apps/petrinaut-website/src/server/voice/typesafe-utterance-judgment.test.ts
  apps/petrinaut-website/src/server/voice/typesafe-utterance-judgment.ts
Due: markdownlint, biome
