Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, prettier, yarn, sqlfluff, rust, toml

markdownlint:
  tags:
  - frontend
  - style
  run: yarn run markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

prettier:
  tags:
  - frontend
  - style
  run: yarn run prettier --write {staged_files} || true
  stage_fixed: true

yarn:
  tags:
  - frontend
  - style
  run: yarn fix:constraints && yarn fix:packagejson && yarn fix:yarn-deduplicate
  stage_fixed: true

sqlfluff:
  tags:
  - backend
  - style
  run: sqlfluff fix {staged_files} || true
  stage_fixed: true

rust:
  tags:
  - backend
  - style
  run: cargo fmt -- {staged_files} || true
  stage_fixed: true

toml:
  tags:
  - backend
  - style
  run: yarn run taplo format {staged_files} || true
  stage_fixed: true

H-4777: Allow exporting types from `hash-graph-store` (#7404)
  Cargo.lock
  apps/hash-ai-worker-ts/docker/Dockerfile
  apps/hash-frontend/vercel-install.sh
  apps/hash-integration-worker/docker/Dockerfile
  apps/hashdotdesign/vercel-install.sh
  infra/docker/api/prod/Dockerfile
  libs/@local/graph/sdk/typescript/package.json
  libs/@local/graph/store/Cargo.toml
  libs/@local/graph/store/package.json
  libs/@local/graph/store/tests/codegen.rs
  libs/@local/graph/store/tsconfig.json
  libs/@local/graph/store/types/index.snap
  libs/@local/graph/store/types/index.snap.d.ts
  libs/@local/graph/store/types/index.snap.js
  yarn.lock
Due: prettier, yarn, rust, toml

Allow creating policies alongside entity creation
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-summaries-then-claims-from-text/get-entity-summaries-from-text.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response.ts
  apps/hash-api/src/graph/knowledge/system-types/linear-integration-entity.ts
  apps/hash-api/src/graph/knowledge/system-types/user-secret.ts
  apps/hash-api/src/graphql/resolvers/knowledge/user/submit-early-access-form.ts
  apps/hash-api/src/integrations/linear/oauth.ts
  apps/hash-integration-worker/package.json
  apps/hash-integration-worker/src/linear-activities.ts
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/sdk/typescript/src/entity.ts
  libs/@local/graph/store/package.json
  libs/@local/graph/store/src/entity/store.rs
  libs/@local/graph/store/tests/codegen.rs
  libs/@local/graph/store/types/index.snap.d.ts
  libs/@local/hash-backend-utils/src/service-usage.ts
  tests/graph/benches/read_scaling/knowledge/complete/entity.rs
  tests/graph/benches/read_scaling/knowledge/linkless/entity.rs
  tests/graph/benches/representative_read/seed.rs
  tests/graph/integration/postgres/data_type.rs
  tests/graph/integration/postgres/drafts.rs
  tests/graph/integration/postgres/entity.rs
  tests/graph/integration/postgres/interconnected_graph.rs
  tests/graph/integration/postgres/links.rs
  tests/graph/integration/postgres/multi_type.rs
  tests/graph/integration/postgres/partial_updates.rs
  tests/graph/integration/postgres/property_metadata.rs
  tests/graph/integration/postgres/sorting.rs
  yarn.lock
Due: prettier, yarn, rust

Cherry pick unrelated changes from #7352
  libs/@local/graph/store/src/filter/mod.rs
  tests/graph/benches/representative_read/lib.rs
  tests/graph/benches/representative_read/seed.rs
Due: rust

fix frontend sentry setup
  apps/hash-frontend/instrumentation-client.ts
  apps/hash-frontend/instrumentation.ts
  apps/hash-frontend/next.config.js
Due: prettier

restore Sentry scope clearing to node api
  apps/hash-api/src/index.ts
  apps/hash-api/src/instrument.mjs
Due: prettier

remove call to Sentry.validateOpenTelemetrySetup()
  apps/hash-api/src/index.ts
Due: prettier

only sample traces in production frontends
  apps/hash-ai-worker-ts/src/main.ts
  apps/hash-api/src/instrument.mjs
  apps/hash-frontend/instrumentation-client.ts
  apps/hash-frontend/sentry.edge.config.ts
  apps/hash-frontend/sentry.server.config.ts
  apps/hash-integration-worker/src/main.ts
  apps/plugin-browser/src/pages/shared/sentry.ts
Due: prettier

remove comments
  apps/hash-ai-worker-ts/src/main.ts
  apps/hash-frontend/instrumentation-client.ts
  apps/hash-frontend/sentry.edge.config.ts
  apps/hash-frontend/sentry.server.config.ts
  apps/hash-integration-worker/src/main.ts
  apps/plugin-browser/src/pages/shared/sentry.ts
Due: prettier

fix release handling in nextjs
  apps/hash-frontend/next.config.js
  apps/hash-frontend/src/pages/_app.page.tsx
  apps/hash-frontend/tsconfig.json
Due: prettier

H-4747: HashQL: Specialize HIR Graph Expressions (#7433)
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/definition/identity-nominal.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/definition/result.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/graph-pipeline-inferred-closure.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/graph-pipeline-inferred-closure.stdout
  libs/@local/hashql/compiletest/src/suite/hir_lower_specialization.rs
  libs/@local/hashql/core/src/type/kind/opaque.rs
  libs/@local/hashql/hir/src/lower/specialization/error.rs
  libs/@local/hashql/hir/src/lower/specialization/mod.rs
  libs/@local/hashql/hir/tests/ui/lower/checking/collect-filter-graph.jsonc
  libs/@local/hashql/hir/tests/ui/lower/checking/collect-filter-graph.stdout
  libs/@local/hashql/hir/tests/ui/lower/checking/ctor-bounded.stdout
  libs/@local/hashql/hir/tests/ui/lower/checking/ctor.stdout
  libs/@local/hashql/hir/tests/ui/lower/checking/filter-graph.jsonc
  libs/@local/hashql/hir/tests/ui/lower/checking/filter-graph.stdout
  libs/@local/hashql/hir/tests/ui/lower/checking/minimal-graph.jsonc
  libs/@local/hashql/hir/tests/ui/lower/checking/minimal-graph.stdout
  libs/@local/hashql/hir/tests/ui/lower/ctor/absolute.stdout
  libs/@local/hashql/hir/tests/ui/lower/ctor/explicit-type.stdout
  libs/@local/hashql/hir/tests/ui/lower/ctor/local.stdout
  libs/@local/hashql/hir/tests/ui/lower/ctor/null.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/ctor.stdout
  libs/@local/hashql/hir/tests/ui/lower/inference/infer-argument.jsonc
  libs/@local/hashql/hir/tests/ui/lower/inference/infer-argument.stdout
  libs/@local/hashql/hir/tests/ui/lower/specialization/collect-custom-collect.jsonc
  libs/@local/hashql/hir/tests/ui/lower/specialization/collect-custom-collect.stderr
  libs/@local/hashql/hir/tests/ui/lower/specialization/collect-filter-graph.jsonc
  libs/@local/hashql/hir/tests/ui/lower/specialization/collect-filter-graph.stdout
  libs/@local/hashql/hir/tests/ui/lower/specialization/filter-graph.jsonc
  libs/@local/hashql/hir/tests/ui/lower/specialization/filter-graph.stdout
  libs/@local/hashql/hir/tests/ui/lower/specialization/minimal-graph.jsonc
  libs/@local/hashql/hir/tests/ui/lower/specialization/minimal-graph.stdout
Due: rust

H-4622: Allow creating policies alongside entity creation (#7405)
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-summaries-then-claims-from-text/get-entity-summaries-from-text.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response.ts
  apps/hash-api/src/graph/knowledge/system-types/linear-integration-entity.ts
  apps/hash-api/src/graph/knowledge/system-types/user-secret.ts
  apps/hash-api/src/graphql/resolvers/knowledge/user/submit-early-access-form.ts
  apps/hash-api/src/integrations/linear/oauth.ts
  apps/hash-integration-worker/package.json
  apps/hash-integration-worker/src/linear-activities.ts
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/sdk/typescript/src/entity.ts
  libs/@local/graph/store/package.json
  libs/@local/graph/store/src/entity/store.rs
  libs/@local/graph/store/src/filter/mod.rs
  libs/@local/graph/store/tests/codegen.rs
  libs/@local/graph/store/types/index.snap.d.ts
  libs/@local/hash-backend-utils/src/service-usage.ts
  tests/graph/benches/read_scaling/knowledge/complete/entity.rs
  tests/graph/benches/read_scaling/knowledge/linkless/entity.rs
  tests/graph/benches/representative_read/lib.rs
  tests/graph/benches/representative_read/seed.rs
  tests/graph/integration/postgres/data_type.rs
  tests/graph/integration/postgres/drafts.rs
  tests/graph/integration/postgres/entity.rs
  tests/graph/integration/postgres/interconnected_graph.rs
  tests/graph/integration/postgres/links.rs
  tests/graph/integration/postgres/multi_type.rs
  tests/graph/integration/postgres/partial_updates.rs
  tests/graph/integration/postgres/property_metadata.rs
  tests/graph/integration/postgres/sorting.rs
  yarn.lock
Due: prettier, yarn, rust

lint fix
  apps/hash-frontend/next.config.js
Due: prettier

Support policy resource filter on the creator
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response.ts
  apps/hash-api/src/graph/knowledge/system-types/user-secret.ts
  libs/@local/graph/authorization/schemas/policies.cedarschema
  libs/@local/graph/authorization/src/policies/cedar/actor.rs
  libs/@local/graph/authorization/src/policies/cedar/expression_tree.rs
  libs/@local/graph/authorization/src/policies/cedar/mod.rs
  libs/@local/graph/authorization/src/policies/components.rs
  libs/@local/graph/authorization/src/policies/context.rs
  libs/@local/graph/authorization/src/policies/evaluation/mod.rs
  libs/@local/graph/authorization/src/policies/mod.rs
  libs/@local/graph/authorization/src/policies/principal/actor/ai.rs
  libs/@local/graph/authorization/src/policies/principal/actor/machine.rs
  libs/@local/graph/authorization/src/policies/principal/actor/mod.rs
  libs/@local/graph/authorization/src/policies/principal/actor/user.rs
  libs/@local/graph/authorization/src/policies/resource/entity.rs
  libs/@local/graph/authorization/src/policies/resource/entity_type.rs
  libs/@local/graph/authorization/tests/policies/main.rs
  libs/@local/graph/authorization/types/index.snap.d.ts
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/seed_policies.rs
  libs/@local/graph/store/src/filter/mod.rs
  libs/@local/hash-backend-utils/src/service-usage.ts
Due: prettier, rust

H-4699: Support policy resource filter on the creator (#7406)
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response.ts
  apps/hash-api/src/graph/knowledge/system-types/user-secret.ts
  libs/@local/graph/authorization/schemas/policies.cedarschema
  libs/@local/graph/authorization/src/policies/cedar/actor.rs
  libs/@local/graph/authorization/src/policies/cedar/expression_tree.rs
  libs/@local/graph/authorization/src/policies/cedar/mod.rs
  libs/@local/graph/authorization/src/policies/components.rs
  libs/@local/graph/authorization/src/policies/context.rs
  libs/@local/graph/authorization/src/policies/evaluation/mod.rs
  libs/@local/graph/authorization/src/policies/mod.rs
  libs/@local/graph/authorization/src/policies/principal/actor/ai.rs
  libs/@local/graph/authorization/src/policies/principal/actor/machine.rs
  libs/@local/graph/authorization/src/policies/principal/actor/mod.rs
  libs/@local/graph/authorization/src/policies/principal/actor/user.rs
  libs/@local/graph/authorization/src/policies/resource/entity.rs
  libs/@local/graph/authorization/src/policies/resource/entity_type.rs
  libs/@local/graph/authorization/tests/policies/main.rs
  libs/@local/graph/authorization/types/index.snap.d.ts
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/seed_policies.rs
  libs/@local/graph/store/src/filter/mod.rs
  libs/@local/hash-backend-utils/src/service-usage.ts
Due: prettier, rust

Use `viewEntity` policy over `viewer` relationships in the Graph
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/read.rs
Due: rust

Read policies for actors filtered by actions
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/api/src/rest/permissions.rs
  libs/@local/graph/authorization/src/policies/components.rs
  libs/@local/graph/authorization/src/policies/set/mod.rs
  libs/@local/graph/authorization/src/policies/store/error.rs
  libs/@local/graph/authorization/src/policies/store/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/postgres-store/tests/principals/policies.rs
  libs/@local/graph/sdk/typescript/src/policy.ts
  libs/@local/graph/type-fetcher/src/store.rs
Due: prettier, rust

Keep the function exported
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/api/src/rest/permissions.rs
  libs/@local/graph/authorization/src/policies/components.rs
  libs/@local/graph/authorization/src/policies/store/mod.rs
  libs/@local/graph/authorization/types/index.snap.d.ts
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/postgres-store/tests/principals/main.rs
  libs/@local/graph/postgres-store/tests/principals/policies.rs
  libs/@local/graph/sdk/typescript/src/policy.ts
  libs/@local/graph/type-fetcher/src/store.rs
  tests/hash-backend-integration/src/tests/graph/authorization/policy.test.ts
Due: prettier, rust

Support enum variant skipping in codegen
  libs/@local/codegen/src/definitions/enum.rs
  libs/@local/codegen/tests/standalone-types/enums.rs
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__EnumWithSkippedVariants::Typescript.snap
  libs/@local/graph/authorization/src/policies/action/mod.rs
  libs/@local/graph/authorization/types/index.snap.d.ts
Due: prettier, rust

Update libs/@local/codegen/tests/standalone-types/enums.rs
  libs/@local/codegen/tests/standalone-types/enums.rs
Due: rust

Used a tagged enum to test the `#[specta(skip)]` attribute
  libs/@local/codegen/tests/standalone-types/enums.rs
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__EnumWithSkippedVariants::Typescript.snap
Due: rust

Use `#[serde(skip)]` instead of `#[specta(skip)]` for fields that should be skipped
  libs/@local/graph/authorization/src/policies/action/mod.rs
Due: rust

Revert "Use `#[serde(skip)]` instead of `#[specta(skip)]` for fields that should be skipped"
  libs/@local/graph/authorization/src/policies/action/mod.rs
Due: rust

Properly filter whole policies
  libs/@local/graph/authorization/src/policies/mod.rs
  libs/@local/graph/authorization/tests/policies/main.rs
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/entity_type.rs
  libs/@local/graph/postgres-store/tests/principals/policies.rs
Due: rust

Use correct actions in tests for policy updates
  tests/hash-backend-integration/src/tests/graph/authorization/policy.test.ts
Due: prettier

Fix test
  tests/hash-backend-integration/src/tests/graph/authorization/policy.test.ts
Due: prettier

wip: org invitations
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/024-add-org-invites.migration.ts
  apps/hash-api/src/graph/knowledge/system-types/user.ts
  apps/hash-api/src/graphql/resolvers/index.ts
  apps/hash-api/src/graphql/resolvers/knowledge/org/accept-org-invitation.ts
  apps/hash-api/src/graphql/resolvers/knowledge/org/invite-user-to-org.ts
  apps/hash-frontend/src/graphql/queries/account-group.queries.ts
  apps/hash-frontend/src/graphql/queries/knowledge/org.queries.ts
  libs/@local/hash-isomorphic-utils/src/graphql/type-defs/knowledge/entity.typedef.ts
  libs/@local/hash-isomorphic-utils/src/graphql/type-defs/knowledge/org.typedef.ts
Due: prettier

H-4826: Support enum variant skipping in codegen (#7454)
  libs/@local/codegen/src/definitions/enum.rs
  libs/@local/codegen/tests/standalone-types/enums.rs
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__EnumWithSkippedVariants::Typescript.snap
  libs/@local/graph/authorization/src/policies/action/mod.rs
  libs/@local/graph/authorization/types/index.snap.d.ts
  tests/hash-backend-integration/src/tests/graph/authorization/policy.test.ts
Due: prettier, rust

H-4830: Set up `autofix.yml` in CI
  .github/workflows/autofix.yml
Due: prettier

H-3244: Upgrade sentry to v9, add integrations (#7452)
  apps/hash-ai-worker-ts/package.json
  apps/hash-ai-worker-ts/src/main.ts
  apps/hash-api/package.json
  apps/hash-api/src/index.ts
  apps/hash-api/src/instrument.mjs
  apps/hash-api/src/sentry.ts
  apps/hash-frontend/instrumentation-client.ts
  apps/hash-frontend/instrumentation.ts
  apps/hash-frontend/next.config.js
  apps/hash-frontend/package.json
  apps/hash-frontend/sentry.edge.config.ts
  apps/hash-frontend/sentry.server.config.ts
  apps/hash-frontend/src/components/error-block/error-block.tsx
  apps/hash-frontend/src/pages/_app.page.tsx
  apps/hash-frontend/src/pages/_app.page/error-fallback.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer.tsx
  apps/hash-frontend/src/pages/shared/sentry.ts
  apps/hash-frontend/tsconfig.json
  apps/hash-integration-worker/package.json
  apps/hash-integration-worker/src/main.ts
  apps/plugin-browser/package.json
  apps/plugin-browser/src/pages/shared/sentry.ts
  libs/@local/eslint/src/deprecated/base.ts
  libs/@local/hash-backend-utils/package.json
  libs/@local/hash-isomorphic-utils/package.json
  yarn.lock
Due: prettier, yarn

H-4832: Increase timeout on Node API healthcheck
  apps/hash-api/package.json
Due: prettier, yarn

H-4832: Increase timeout on Node API healthcheck (#7460)
  apps/hash-api/package.json
Due: prettier, yarn

Remove conversion from Cedar `Expr` to `Filter`
  libs/@local/graph/authorization/src/policies/cedar/actor.rs
  libs/@local/graph/authorization/src/policies/cedar/entity.rs
  libs/@local/graph/authorization/src/policies/cedar/expression_tree.rs
  libs/@local/graph/authorization/src/policies/cedar/mod.rs
  libs/@local/graph/authorization/src/policies/cedar/ontology.rs
  libs/@local/graph/authorization/src/policies/cedar/visitor.rs
  libs/@local/graph/authorization/src/policies/cedar/web.rs
  libs/@local/graph/authorization/src/policies/mod.rs
  libs/@local/graph/authorization/src/policies/resource/mod.rs
  libs/@local/graph/authorization/src/policies/set/mod.rs
  libs/@local/graph/authorization/tests/policies/main.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/entity_type.rs
  libs/@local/graph/store/src/filter/mod.rs
Due: rust

Remove `evaluation` module
  libs/@local/graph/authorization/src/policies/evaluation/mod.rs
Due: rust

H-4835: Remove conversion from Cedar `Expr` to `Filter` (#7461)
  libs/@local/graph/authorization/src/policies/cedar/actor.rs
  libs/@local/graph/authorization/src/policies/cedar/entity.rs
  libs/@local/graph/authorization/src/policies/cedar/expression_tree.rs
  libs/@local/graph/authorization/src/policies/cedar/mod.rs
  libs/@local/graph/authorization/src/policies/cedar/ontology.rs
  libs/@local/graph/authorization/src/policies/cedar/visitor.rs
  libs/@local/graph/authorization/src/policies/cedar/web.rs
  libs/@local/graph/authorization/src/policies/evaluation/mod.rs
  libs/@local/graph/authorization/src/policies/mod.rs
  libs/@local/graph/authorization/src/policies/resource/mod.rs
  libs/@local/graph/authorization/src/policies/set/mod.rs
  libs/@local/graph/authorization/tests/policies/main.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/entity_type.rs
  libs/@local/graph/store/src/filter/mod.rs
Due: rust

Update libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
Due: rust

api endpoints updated, start frontend for org invites
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/024-add-org-invites.migration.ts
  apps/hash-api/src/graphql/resolvers/index.ts
  apps/hash-api/src/graphql/resolvers/knowledge/org/accept-org-invitation.ts
  apps/hash-api/src/graphql/resolvers/knowledge/org/invite-user-to-org.ts
  apps/hash-frontend/src/graphql/queries/knowledge/org.queries.ts
  apps/hash-frontend/src/lib/user-and-org.ts
  apps/hash-frontend/src/pages/settings/organizations/[shortname]/members.page/add-member-form.tsx
  libs/@local/hash-isomorphic-utils/src/graphql/type-defs/knowledge/org.typedef.ts
  libs/@local/hash-isomorphic-utils/src/ontology-type-ids.ts
  libs/@local/hash-isomorphic-utils/src/system-types/commentnotification.ts
  libs/@local/hash-isomorphic-utils/src/system-types/inviteduser.ts
  libs/@local/hash-isomorphic-utils/src/system-types/linearintegration.ts
  libs/@local/hash-isomorphic-utils/src/system-types/mentionnotification.ts
  libs/@local/hash-isomorphic-utils/src/system-types/shared.ts
  libs/@local/hash-isomorphic-utils/src/system-types/user.ts
Due: prettier

Fix debug flag check in tunnel script
  infra/terraform/modules/tunnel/ssh_tunnel.sh
Due: none

Rename `hash-tracing` to `hash-telemetry`
  Cargo.lock
  Cargo.toml
  apps/hash-graph/Cargo.toml
  apps/hash-graph/docs/dependency-diagram.mmd
  apps/hash-graph/package.json
  apps/hash-graph/src/args.rs
  apps/hash-graph/src/main.rs
  apps/hash-graph/src/subcommand/mod.rs
  libs/@local/graph/api/docs/dependency-diagram.mmd
  libs/@local/graph/api/src/rest/status.rs
  libs/@local/graph/migrations/Cargo.toml
  libs/@local/graph/migrations/docs/dependency-diagram.mmd
  libs/@local/graph/migrations/package.json
  libs/@local/graph/migrations/src/bin/cli/main.rs
  libs/@local/graph/postgres-queries/docs/dependency-diagram.mmd
  libs/@local/graph/postgres-store/Cargo.toml
  libs/@local/graph/postgres-store/docs/dependency-diagram.mmd
  libs/@local/graph/postgres-store/package.json
  libs/@local/graph/postgres-store/tests/principals/main.rs
  libs/@local/graph/test-server/docs/dependency-diagram.mmd
  libs/@local/repo-chores/rust/Cargo.toml
  libs/@local/repo-chores/rust/bin/cli/main.rs
  libs/@local/repo-chores/rust/docs/dependency-diagram.mmd
  libs/@local/repo-chores/rust/package.json
  libs/@local/telemetry/Cargo.toml
  libs/@local/telemetry/LICENSE.md
  libs/@local/telemetry/docs/dependency-diagram.mmd
  libs/@local/telemetry/package.json
  libs/@local/telemetry/src/console.rs
  libs/@local/telemetry/src/formatter.rs
  libs/@local/telemetry/src/lib.rs
  libs/@local/telemetry/src/logging.rs
  libs/@local/telemetry/src/opentelemetry.rs
  libs/@local/telemetry/src/sentry.rs
  libs/@local/tracing/package.json
  tests/graph/integration/Cargo.toml
  tests/graph/integration/package.json
  tests/graph/integration/postgres/lib.rs
  yarn.lock
Due: markdownlint, prettier, yarn, rust, toml

H-4848: Rename `hash-tracing` to `hash-telemetry` (#7470)
  Cargo.lock
  Cargo.toml
  apps/hash-graph/Cargo.toml
  apps/hash-graph/docs/dependency-diagram.mmd
  apps/hash-graph/package.json
  apps/hash-graph/src/args.rs
  apps/hash-graph/src/main.rs
  apps/hash-graph/src/subcommand/mod.rs
  libs/@local/graph/api/docs/dependency-diagram.mmd
  libs/@local/graph/api/src/rest/status.rs
  libs/@local/graph/migrations/Cargo.toml
  libs/@local/graph/migrations/docs/dependency-diagram.mmd
  libs/@local/graph/migrations/package.json
  libs/@local/graph/migrations/src/bin/cli/main.rs
  libs/@local/graph/postgres-queries/docs/dependency-diagram.mmd
  libs/@local/graph/postgres-store/Cargo.toml
  libs/@local/graph/postgres-store/docs/dependency-diagram.mmd
  libs/@local/graph/postgres-store/package.json
  libs/@local/graph/postgres-store/tests/principals/main.rs
  libs/@local/graph/test-server/docs/dependency-diagram.mmd
  libs/@local/repo-chores/rust/Cargo.toml
  libs/@local/repo-chores/rust/bin/cli/main.rs
  libs/@local/repo-chores/rust/docs/dependency-diagram.mmd
  libs/@local/repo-chores/rust/package.json
  libs/@local/telemetry/Cargo.toml
  libs/@local/telemetry/LICENSE.md
  libs/@local/telemetry/docs/dependency-diagram.mmd
  libs/@local/telemetry/package.json
  libs/@local/telemetry/src/console.rs
  libs/@local/telemetry/src/formatter.rs
  libs/@local/telemetry/src/lib.rs
  libs/@local/telemetry/src/logging.rs
  libs/@local/telemetry/src/opentelemetry.rs
  libs/@local/telemetry/src/sentry.rs
  libs/@local/tracing/package.json
  tests/graph/integration/Cargo.toml
  tests/graph/integration/package.json
  tests/graph/integration/postgres/lib.rs
  yarn.lock
Due: markdownlint, prettier, yarn, rust, toml

Update infra/terraform/modules/tunnel/ssh_tunnel.sh
  infra/terraform/modules/tunnel/ssh_tunnel.sh
Due: none

Path conditions:
  markdownlint: any of: *.md
  prettier: any of: *.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}
  yarn: any of: {*/package.json, package.json}
  sqlfluff: any of: *.sql
  rust: any of: *.rs
  toml: any of: *.toml
