Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    biome:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: biome format --write --staged || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: rustfmt {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: taplo format {staged_files} || true
      stage_fixed: true

WIP
  libs/@hashintel/brunch-agent/packages/core/src/SYSTEM.md
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/APPEND_SYSTEM.md
Due: markdownlint, biome

Audit generic elicitor prompt material
  libs/@hashintel/brunch-agent/docs/evidence/audits/core-elicitor-prompt-material-audit-2026-08-31.md
Due: markdownlint, biome

Keep Brunch core context independent
  apps/brunch-agent/README.md
  apps/brunch-agent/src/agents/chat-agent/agent.ts
  apps/brunch-agent/src/conversation/client-tools.ts
  apps/brunch-agent/src/evaluations/runbook/elicitation-run.ts
  apps/brunch-agent/test/petrinaut-chat.integration.ts
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/docs/reference/architecture/topology.md
  libs/@hashintel/brunch-agent/packages/core/src/agent/index.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/flue.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/tools/read-petrinaut-doc.ts
Due: markdownlint, biome

Record the core prompt topology decision
  libs/@hashintel/brunch-agent/MISSION.md
Due: markdownlint, biome

Calibrate evidence claims in the runbook draft
  libs/@hashintel/brunch-agent/packages/core/_drafts/five-register-synthesis/README.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/five-register-synthesis/SOURCE-MAP.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/five-register-synthesis/plugin-sdcpn/sdcpn-modelling/checks.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/five-register-synthesis/plugin-sdcpn/sdcpn-modelling/coverage-alternatives/formalism-primary-workpiece-template.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/five-register-synthesis/plugin-sdcpn/sdcpn-modelling/instructions.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/five-register-synthesis/plugin-sdcpn/sdcpn-modelling/pn-construction.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/five-register-synthesis/plugin-sdcpn/sdcpn-modelling/skill.ts.example
  libs/@hashintel/brunch-agent/packages/core/_drafts/five-register-synthesis/plugin-sdcpn/sdcpn-modelling/workpiece-template.md
Due: markdownlint, biome

five-register post-review fixing
  libs/@hashintel/brunch-agent/packages/core/_drafts/five-register-synthesis/EVALUATION.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/five-register-synthesis/README.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/five-register-synthesis/SOURCE-MAP.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/five-register-synthesis/evaluation/stage-1-mechanical-and-authority-audit.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/five-register-synthesis/evaluation/stage-2-owner-led-paper-walkthrough.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/five-register-synthesis/plugin-sdcpn/sdcpn-modelling/candidates/domain-primary-with-readiness/README.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/five-register-synthesis/plugin-sdcpn/sdcpn-modelling/candidates/domain-primary-with-readiness/profile.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/five-register-synthesis/plugin-sdcpn/sdcpn-modelling/candidates/domain-primary-with-readiness/sdcpn-readiness.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/five-register-synthesis/plugin-sdcpn/sdcpn-modelling/candidates/domain-primary-with-readiness/skill.ts.example
  libs/@hashintel/brunch-agent/packages/core/_drafts/five-register-synthesis/plugin-sdcpn/sdcpn-modelling/coverage-alternatives/domain-primary.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/five-register-synthesis/plugin-sdcpn/sdcpn-modelling/coverage-alternatives/formalism-primary-workpiece-template.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/five-register-synthesis/plugin-sdcpn/sdcpn-modelling/coverage-alternatives/formalism-primary.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/five-register-synthesis/plugin-sdcpn/sdcpn-modelling/instructions.md
Due: markdownlint, biome

pre-consultation
  libs/@hashintel/brunch-agent/packages/core/_drafts/ciaran-eliciting-and-constructing.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/old-job-runbooks.md
  libs/@hashintel/brunch-agent/packages/core/src/SYSTEM.md
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/APPEND_SYSTEM.md
Due: markdownlint, biome

Define the five-register draft evaluation protocol
  libs/@hashintel/brunch-agent/packages/core/_drafts/five-register-synthesis/EVALUATION.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/five-register-synthesis/README.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/five-register-synthesis/SOURCE-MAP.md
Due: markdownlint, biome

Refine the five-register elicitation draft
  libs/@hashintel/brunch-agent/packages/core/_drafts/five-register-synthesis/README.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/five-register-synthesis/SOURCE-MAP.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/five-register-synthesis/plugin-sdcpn/sdcpn-modelling/coverage-alternatives/formalism-primary-workpiece-template.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/five-register-synthesis/plugin-sdcpn/sdcpn-modelling/profile.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/five-register-synthesis/plugin-sdcpn/sdcpn-modelling/workpiece-template.md
Due: markdownlint, biome

Generalize the Ampcode prompt architecture draft
  libs/@hashintel/brunch-agent/MISSION.next.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/ampcode/README.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/ampcode/core/SYSTEM.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/ampcode/plugin-gherkin/APPEND_SYSTEM.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/ampcode/plugin-gherkin/gherkin-specification/SKILL.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/ampcode/plugin-gherkin/gherkin-specification/gherkin-authoring-and-checks.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/ampcode/plugin-gherkin/gherkin-specification/gherkin-elicitation.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/ampcode/plugin-gherkin/gherkin-specification/workpiece-template.md
Due: markdownlint, biome

two good draft prompting sets; domain-typology and target-formalism architecture pinned
  libs/@hashintel/brunch-agent/AGENTS.md
  libs/@hashintel/brunch-agent/CONTEXT.md
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/MISSION.next.md
  libs/@hashintel/brunch-agent/README.md
  libs/@hashintel/brunch-agent/docs/adr/0006-plugins-per-target-formalism.md
  libs/@hashintel/brunch-agent/docs/adr/0007-harness-teaching-meets-plugin-content-at-fixed-keys.md
  libs/@hashintel/brunch-agent/docs/specs/elicitation-kernel.md
  libs/@hashintel/brunch-agent/docs/specs/plugin-contract.md
  libs/@hashintel/brunch-agent/docs/specs/structurally-typed-elicitation-runbooks.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/ampcode/README.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/ampcode/plugin-sdcpn/sdcpn-modelling/checks.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/ampcode/plugin-sdcpn/sdcpn-modelling/sdcpn-elicitation.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/five-register-synthesis/README.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/five-register-synthesis/SOURCE-MAP.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/five-register-synthesis/core/flue.ts.example
  libs/@hashintel/brunch-agent/packages/core/_drafts/five-register-synthesis/plugin-sdcpn/sdcpn-modelling/skill.ts.example
  libs/@hashintel/brunch-agent/packages/core/schema/CHANGELOG.md
  libs/@hashintel/brunch-agent/packages/core/schema/plugin.schema.json
  libs/@hashintel/brunch-agent/packages/core/src/plugin/plugin-definition.ts
  libs/@hashintel/brunch-agent/packages/core/src/plugin/plugin.ts
  libs/@hashintel/brunch-agent/packages/core/src/prompts.ts
  libs/@hashintel/brunch-agent/packages/core/src/teaching/repertoire.yaml
  libs/@hashintel/brunch-agent/packages/core/src/testing/index.ts
  libs/@hashintel/brunch-agent/packages/core/test/plugin-definition.test.ts
  libs/@hashintel/brunch-agent/packages/core/test/slot-fixtures.ts
  libs/@hashintel/brunch-agent/packages/plugin-gherkin/package.json
  libs/@hashintel/brunch-agent/packages/plugin-gherkin/plugin.yaml
  libs/@hashintel/brunch-agent/packages/plugin-gherkin/src/index.ts
  libs/@hashintel/brunch-agent/packages/plugin-gherkin/test/statement-noted.test.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/package.json
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/plugin.yaml
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/index.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/skills/sdcpn-modelling/elicitation.md
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/test/plugin.test.ts
Due: markdownlint, biome, yarn

Add the domain-primary readiness candidate
  libs/@hashintel/brunch-agent/packages/core/_drafts/five-register-synthesis/EVALUATION.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/five-register-synthesis/README.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/five-register-synthesis/SOURCE-MAP.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/five-register-synthesis/plugin-sdcpn/sdcpn-modelling/candidates/domain-primary-with-readiness/README.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/five-register-synthesis/plugin-sdcpn/sdcpn-modelling/candidates/domain-primary-with-readiness/profile.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/five-register-synthesis/plugin-sdcpn/sdcpn-modelling/candidates/domain-primary-with-readiness/sdcpn-readiness.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/five-register-synthesis/plugin-sdcpn/sdcpn-modelling/candidates/domain-primary-with-readiness/skill.ts.example
  libs/@hashintel/brunch-agent/packages/core/_drafts/five-register-synthesis/plugin-sdcpn/sdcpn-modelling/instructions.md
Due: markdownlint, biome

Record the five-register mechanical audit
  libs/@hashintel/brunch-agent/packages/core/_drafts/five-register-synthesis/EVALUATION.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/five-register-synthesis/README.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/five-register-synthesis/SOURCE-MAP.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/five-register-synthesis/evaluation/stage-1-mechanical-and-authority-audit.md
Due: markdownlint, biome

ignore playwright cli outputs
  .gitignore
Due: none

Narrow Mission 4 scoring to the flat-prompt control
  apps/brunch-agent/package.json
  apps/brunch-agent/src/evaluations/runbook/prospective-runbook-v3-run.ts
  apps/brunch-agent/test/prospective-runbook-v3.test.ts
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/vestera-prospective-candidate-v2/campaign-abort.md
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/vestera-prospective-candidate-v2/prospective-runbook-v2-replication-1-2026-09-02T11-26-30-977Z-8edb4225.failure-46b787ce.json
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/vestera-prospective-candidate-v2/prospective-runbook-v2-replication-2-2026-09-02T11-32-08-894Z-7afbec23.failure-79bae3d9.json
  libs/@hashintel/brunch-agent/evaluations/protocols/prospective-runbook-v2/protocol.md
  libs/@hashintel/brunch-agent/evaluations/protocols/prospective-runbook-v3/protocol.md
Due: markdownlint, biome, yarn

Close Brunch Mission 4 with accepted evidence
  apps/brunch-agent/package.json
  apps/brunch-agent/src/evaluations/runbook/grade-architecture-v3.ts
  libs/@hashintel/brunch-agent/MISSION.next.md
  libs/@hashintel/brunch-agent/README.md
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/vestera-architecture-candidate-v3/campaign-adjudication.md
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/vestera-architecture-candidate-v3/mission-5-handoff.md
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/vestera-architecture-candidate-v3/product-witness-initial.png
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/vestera-architecture-candidate-v3/product-witness-rebuilt.png
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/vestera-architecture-candidate-v3/product-witness-repaired.png
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/vestera-architecture-candidate-v3/product-witness-workpiece.png
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/vestera-architecture-candidate-v3/product-witness.md
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/vestera-architecture-candidate-v3/prospective-runbook-v3-replication-1-2026-09-02T11-41-53-281Z-3b64f006.cold-attempt-2.md
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/vestera-architecture-candidate-v3/prospective-runbook-v3-replication-1-2026-09-02T11-41-53-281Z-3b64f006.cold-attempt-2.meta.json
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/vestera-architecture-candidate-v3/prospective-runbook-v3-replication-1-2026-09-02T11-41-53-281Z-3b64f006.cold.md
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/vestera-architecture-candidate-v3/prospective-runbook-v3-replication-1-2026-09-02T11-41-53-281Z-3b64f006.cold.meta.json
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/vestera-architecture-candidate-v3/prospective-runbook-v3-replication-1-2026-09-02T11-41-53-281Z-3b64f006.ir.md
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/vestera-architecture-candidate-v3/prospective-runbook-v3-replication-1-2026-09-02T11-41-53-281Z-3b64f006.json
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/vestera-architecture-candidate-v3/prospective-runbook-v3-replication-1-2026-09-02T11-41-53-281Z-3b64f006.md
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/vestera-architecture-candidate-v3/prospective-runbook-v3-replication-1-2026-09-02T11-41-53-281Z-3b64f006.omniscient.md
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/vestera-architecture-candidate-v3/prospective-runbook-v3-replication-1-2026-09-02T11-41-53-281Z-3b64f006.omniscient.meta.json
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/vestera-architecture-candidate-v3/prospective-runbook-v3-replication-2-2026-09-02T11-48-37-582Z-e5b05f81.failure-6b1d68ed.json
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/vestera-architecture-candidate-v3/prospective-runbook-v3-replication-3-2026-09-02T11-50-29-634Z-05f070e9.failure-b98107fe.json
  libs/@hashintel/brunch-agent/docs/evidence/implementations/mission-4-close.md
  libs/@hashintel/brunch-agent/docs/mission-archive/4-accepted-prompt-skill-workpiece-architecture.md
  libs/@hashintel/brunch-agent/docs/mission-archive/README.md
  libs/@hashintel/brunch-agent/docs/mission-drafts/5-capture-backed-review.md
  libs/@hashintel/brunch-agent/docs/mission-drafts/6-traceable-projection.md
  libs/@hashintel/brunch-agent/docs/mission-drafts/7-bounded-reviewer-revision.md
  libs/@hashintel/brunch-agent/docs/mission-drafts/9-optimisation-handoff.md
  libs/@hashintel/brunch-agent/docs/mission-drafts/README.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/ampcode/core/SYSTEM.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/ampcode/core/universal-elicitation.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/ampcode/plugin-sdcpn/APPEND_SYSTEM.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/ampcode/plugin-sdcpn/sdcpn-modelling/SKILL.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/ampcode/plugin-sdcpn/sdcpn-modelling/pn-construction.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/ampcode/plugin-sdcpn/sdcpn-modelling/sdcpn-elicitation.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/five-register-synthesis/plugin-sdcpn/sdcpn-modelling/checks.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/five-register-synthesis/plugin-sdcpn/sdcpn-modelling/workpiece-template.md
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/skills/sdcpn-modelling/instructions.md
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/test/sdcpn-modelling-skill.test.ts
Due: markdownlint, biome, yarn

Freeze the Brunch Mission 4 candidate instrument
  apps/brunch-agent/package.json
  apps/brunch-agent/src/agents/chat-agent/agent.ts
  apps/brunch-agent/src/evaluations/runbook/artifacts.ts
  apps/brunch-agent/src/evaluations/runbook/campaign-integrity.ts
  apps/brunch-agent/src/evaluations/runbook/elicitation-run.ts
  apps/brunch-agent/src/evaluations/runbook/prospective-runbook-v2-run.ts
  apps/brunch-agent/test/architecture/boundaries.integration.ts
  apps/brunch-agent/test/build-artifact.test.ts
  apps/brunch-agent/test/fixtures/candidate-process-model-workpiece.md
  apps/brunch-agent/test/petrinaut-chat.integration.ts
  apps/brunch-agent/test/petrinaut-chat.test.ts
  apps/brunch-agent/test/prospective-runbook-v2.test.ts
  apps/brunch-agent/test/runbook-artifacts.test.ts
  apps/brunch-agent/test/runbook-elicitation-faux-expert.ts
  apps/brunch-agent/test/runbook-elicitation-faux-provider.ts
  apps/brunch-agent/test/runbook-elicitation.test.ts
  apps/brunch-agent/test/runbook-headless.integration.ts
  apps/brunch-agent/test/runbook-headless.test.ts
  apps/brunch-agent/test/skill-routing.integration.ts
  apps/brunch-agent/test/skill-routing.test.ts
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/vestera-prospective-candidate-v2/exact-candidate-walkthrough.md
  libs/@hashintel/brunch-agent/evaluations/protocols/prospective-runbook-v2/protocol.md
  libs/@hashintel/brunch-agent/packages/core/src/SYSTEM.md
  libs/@hashintel/brunch-agent/packages/core/src/agent/index.ts
  libs/@hashintel/brunch-agent/packages/core/src/universal-elicitation.md
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/package.json
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/APPEND_SYSTEM.md
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/flue.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/raw-imports.d.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/skills/sdcpn-modelling/SKILL.md
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/skills/sdcpn-modelling/checks.md
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/skills/sdcpn-modelling/elicitation.md
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/skills/sdcpn-modelling/instructions.md
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/skills/sdcpn-modelling/ir-template.md
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/skills/sdcpn-modelling/pn-construction.md
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/skills/sdcpn-modelling/profile.md
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/skills/sdcpn-modelling/skill.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/skills/sdcpn-modelling/workpiece-template.md
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/test/sdcpn-modelling-skill.test.ts
Due: markdownlint, biome, yarn

Archive Mission 4 at branch transition
  libs/@hashintel/brunch-agent/docs/mission-archive/4-owner-led-runbook-and-workpiece-redesign.md
  libs/@hashintel/brunch-agent/docs/mission-archive/README.md
Due: markdownlint, biome

Pin Brunch planning split proof
  libs/@hashintel/brunch-agent/MISSION.next.md
Due: markdownlint, biome

Restore Brunch planning decisions
  libs/@hashintel/brunch-agent/MISSION.next.md
  libs/@hashintel/brunch-agent/docs/mission-drafts/5-capture-backed-review.md
  libs/@hashintel/brunch-agent/docs/mission-drafts/6-traceable-projection.md
  libs/@hashintel/brunch-agent/docs/mission-drafts/7-bounded-reviewer-revision.md
  libs/@hashintel/brunch-agent/docs/mission-drafts/9-optimisation-handoff.md
Due: markdownlint, biome

Freeze the repaired Mission 4 campaign protocol
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/evaluations/protocols/prospective-runbook-v4/protocol.md
Due: markdownlint, biome

side quest for mission re-lacing
  libs/@hashintel/brunch-agent/SIDE_QUEST.md
Due: markdownlint, biome

mission re-lacing sidequest after 3 passes
  libs/@hashintel/brunch-agent/AGENTS.md
  libs/@hashintel/brunch-agent/MISSION.next.md
  libs/@hashintel/brunch-agent/SIDE_QUEST.md
  libs/@hashintel/brunch-agent/docs/mission-drafts/5-capture-backed-review.md
  libs/@hashintel/brunch-agent/docs/mission-drafts/6-traceable-projection.md
  libs/@hashintel/brunch-agent/docs/mission-drafts/7-bounded-reviewer-revision.md
  libs/@hashintel/brunch-agent/docs/mission-drafts/9-optimisation-handoff.md
  libs/@hashintel/brunch-agent/docs/mission-drafts/README.md
Due: markdownlint, biome

Recut Mission 4 as the accepted core/plugin architecture proof
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/MISSION.next.md
Due: markdownlint, biome

manual docs move
  libs/@hashintel/brunch-agent/docs/archive/eliciting-and-constructing-processes-to-PNs.md
  libs/@hashintel/brunch-agent/docs/archive/jetty-runbooks.md
  libs/@hashintel/brunch-agent/docs/archive/jetty-writing-runbooks.md
  libs/@hashintel/brunch-agent/docs/archive/pplx-agent-skill-rule-loading.md
  libs/@hashintel/brunch-agent/docs/archive/pplx-single-global-agents-file.md
  libs/@hashintel/brunch-agent/docs/inbox/amp-session-reviewing-architecture.md
  libs/@hashintel/brunch-agent/docs/inbox/salvage/amp-session-reviewing-architecture.md
  libs/@hashintel/brunch-agent/docs/inbox/salvage/design-questions-re-provenance.md
  libs/@hashintel/brunch-agent/docs/inbox/salvage/more-plugin-inputs/claude-dafny-lean.md
  libs/@hashintel/brunch-agent/docs/inbox/salvage/more-plugin-inputs/kleppmanns-geolog-design-rationale-2026-04-18T12-57-01Z.md
  libs/@hashintel/brunch-agent/docs/inbox/salvage/sdcpn-examples-to-validate/gases-1-pn-consumption-trigger-layout.json
  libs/@hashintel/brunch-agent/docs/inbox/salvage/sdcpn-examples-to-validate/gases-1-pn-layout.json
  libs/@hashintel/brunch-agent/docs/inbox/salvage/sdcpn-examples-to-validate/gases-2-spn-layout.json
  libs/@hashintel/brunch-agent/docs/inbox/salvage/sdcpn-examples-to-validate/gases-3-cpn-layout.json
  libs/@hashintel/brunch-agent/docs/inbox/salvage/sdcpn-examples-to-validate/gases-4-dcpn-layout.json
  libs/@hashintel/brunch-agent/docs/inbox/salvage/sdcpn-examples-to-validate/semiconductor-fab-drift-layout.json
  libs/@hashintel/brunch-agent/docs/inbox/salvage/sdcpn-examples-to-validate/truck-fleet-predictive-maintenance-layout.json
Due: markdownlint, biome

doc salvage addition
  libs/@hashintel/brunch-agent/docs/inbox/salvage/sdcpns-a-common-language.md
Due: markdownlint, biome

Reject the invalid Mission 4 v4 campaign
  apps/brunch-agent/package.json
  apps/brunch-agent/test/architecture-score-report.test.ts
  apps/brunch-agent/test/prospective-runbook-v5.test.ts
  apps/brunch-agent/test/sdcpn-inbox-parse.test.ts
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/docs/evidence/decisions/mission-4-owner-gates-2026-09-02.md
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/vestera-architecture-candidate-v4/artifact-manifest.sha256
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/vestera-architecture-candidate-v4/campaign-adjudication.md
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/vestera-architecture-candidate-v4/prospective-runbook-v4-replication-1-2026-09-02T13-42-07-308Z-6b2aa65a.failure-4d4781b3.json
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/vestera-architecture-candidate-v4/prospective-runbook-v4-replication-2-2026-09-02T13-43-37-900Z-c9bfc04d.ir.md
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/vestera-architecture-candidate-v4/prospective-runbook-v4-replication-2-2026-09-02T13-43-37-900Z-c9bfc04d.json
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/vestera-architecture-candidate-v4/prospective-runbook-v4-replication-2-2026-09-02T13-43-37-900Z-c9bfc04d.md
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/vestera-architecture-candidate-v4/prospective-runbook-v4-replication-3-2026-09-02T13-48-01-719Z-26866bef.ir.md
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/vestera-architecture-candidate-v4/prospective-runbook-v4-replication-3-2026-09-02T13-48-01-719Z-26866bef.json
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/vestera-architecture-candidate-v4/prospective-runbook-v4-replication-3-2026-09-02T13-48-01-719Z-26866bef.md
  libs/@hashintel/brunch-agent/evaluations/README.md
  libs/@hashintel/brunch-agent/evaluations/protocols/mission-4-product-witness-v2/protocol.md
  libs/@hashintel/brunch-agent/evaluations/protocols/prospective-runbook-v4/ARCHIVE.md
  libs/@hashintel/brunch-agent/evaluations/protocols/prospective-runbook-v5/grade.ts
  libs/@hashintel/brunch-agent/evaluations/protocols/prospective-runbook-v5/protocol.md
  libs/@hashintel/brunch-agent/evaluations/protocols/prospective-runbook-v5/run.ts
  libs/@hashintel/brunch-agent/evaluations/protocols/prospective-runbook-v5/score-report.ts
  libs/@hashintel/brunch-agent/packages/core/src/SYSTEM.md
  libs/@hashintel/brunch-agent/packages/core/src/universal-elicitation.md
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/APPEND_SYSTEM.md
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/skills/sdcpn-modelling/instructions.md
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/test/sdcpn-modelling-skill.test.ts
Due: markdownlint, biome, yarn

Improve Brunch persona harness controls
  apps/brunch-agent/package.json
  apps/brunch-agent/test/brunch-turn.test.ts
  libs/@hashintel/brunch-agent/.pi/README.md
  libs/@hashintel/brunch-agent/.pi/extensions/brunch-turn.ts
  yarn.lock
Due: markdownlint, biome, yarn

draft material deletions;
  libs/@hashintel/brunch-agent/packages/core/_drafts/system-prompts/README.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/system-prompts/assemblies/01-conservative.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/system-prompts/assemblies/02-balanced.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/system-prompts/assemblies/03-first-turn-guarded.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/system-prompts/assemblies/04-trust-contract-forward.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/system-prompts/ciaran-eliciting-and-constructing.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/system-prompts/exclusions-and-false-claims.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/system-prompts/old-job-runbooks.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/system-prompts/sections/authorship-and-uncertainty.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/system-prompts/sections/divergence-and-revision.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/system-prompts/sections/identity-and-scope.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/system-prompts/sections/objective-and-attention.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/system-prompts/sections/question-shape.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/system-prompts/sections/skill-routing.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/system-prompts/sections/stopping-and-partial-delivery.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/system-prompts/sections/vocabulary-and-thread.md
  libs/@hashintel/brunch-agent/packages/core/_drafts/system-prompts/source-map.md
Due: markdownlint, biome

Add "brunch-turn" local pi extension for testing
  apps/brunch-agent/src/ui/chat.tsx
  apps/brunch-agent/test/brunch-turn.test.ts
  libs/@hashintel/brunch-agent/.pi/README.md
  libs/@hashintel/brunch-agent/.pi/extensions/brunch-turn.ts
  libs/@hashintel/brunch-agent/.pi/subagents/brunch-persona.md
  libs/@hashintel/brunch-agent/MISSION.next.md
  libs/@hashintel/brunch-agent/docs/evidence/evaluations/live-observable-persona-spike/README.md
Due: markdownlint, biome

Authorize the repaired Mission 4 scoring campaign
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/docs/evidence/decisions/mission-4-owner-gates-2026-09-02.md
  libs/@hashintel/brunch-agent/evaluations/protocols/prospective-runbook-v4/protocol.md
Due: markdownlint, biome

Freeze the Mission 4 v5 routing repair
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/evaluations/protocols/prospective-runbook-v5/protocol.md
Due: markdownlint, biome

Adopt decision-integrity rules and preserve the Mission 4 design record
  apps/brunch-agent/test/architecture/boundaries.integration.ts
  apps/brunch-agent/test/petrinaut-chat.test.ts
  libs/@hashintel/brunch-agent/AGENTS.md
  libs/@hashintel/brunch-agent/docs/evidence/design/mission-4-handoff-failure-analysis-2026-09-02.md
  libs/@hashintel/brunch-agent/docs/evidence/design/mission-4-prompt-skill-tool-architecture.md
  libs/@hashintel/brunch-agent/docs/reference/architecture/topology.md
  libs/@hashintel/brunch-agent/docs/specs/elicitation-kernel.md
  libs/@hashintel/brunch-agent/evaluations/cases/mission-4-topology-neutral-case-matrix.md
  libs/@hashintel/brunch-agent/packages/core/test/architecture/open-gaps.ts
Due: markdownlint, biome

Accept the Mission 4 proof-of-life ruler
  libs/@hashintel/brunch-agent/evaluations/README.md
  libs/@hashintel/brunch-agent/evaluations/oracles/mission-4-activation-and-restraint-ruler-v1.md
Due: markdownlint, biome

Add prospective persona evaluation cases
  libs/@hashintel/brunch-agent/.pi/extensions/brunch-persona-testing/README.md
  libs/@hashintel/brunch-agent/docs/reference/hash-documents/use-cases/data-centre-operations.md
  libs/@hashintel/brunch-agent/docs/reference/hash-documents/use-cases/other-use-cases.md
  libs/@hashintel/brunch-agent/docs/reference/hash-documents/use-cases/production-scheduling.md
  libs/@hashintel/brunch-agent/docs/reference/hash-documents/use-cases/truck-fleet-maintenance.md
  libs/@hashintel/brunch-agent/evaluations/README.md
  libs/@hashintel/brunch-agent/evaluations/cases/data-centre-thermal-operations/opening-message.md
  libs/@hashintel/brunch-agent/evaluations/cases/data-centre-thermal-operations/situation-pack.md
  libs/@hashintel/brunch-agent/evaluations/cases/industrial-gas-vmi/opening-message.md
  libs/@hashintel/brunch-agent/evaluations/cases/industrial-gas-vmi/situation-pack.md
  libs/@hashintel/brunch-agent/evaluations/cases/pharma-cold-chain/opening-message.md
  libs/@hashintel/brunch-agent/evaluations/cases/pharma-cold-chain/situation-pack.md
  libs/@hashintel/brunch-agent/evaluations/cases/semiconductor-fab-operations/opening-message.md
  libs/@hashintel/brunch-agent/evaluations/cases/semiconductor-fab-operations/situation-pack.md
  libs/@hashintel/brunch-agent/evaluations/cases/truck-fleet-maintenance/opening-message.md
  libs/@hashintel/brunch-agent/evaluations/cases/truck-fleet-maintenance/situation-pack.md
  libs/@hashintel/brunch-agent/evaluations/oracles/data-centre-thermal-operations/truth-ledger-v1-prospective.yaml
  libs/@hashintel/brunch-agent/evaluations/oracles/industrial-gas-vmi/truth-ledger-v1-prospective.yaml
  libs/@hashintel/brunch-agent/evaluations/oracles/pharma-cold-chain/truth-ledger-v1-prospective.yaml
  libs/@hashintel/brunch-agent/evaluations/oracles/semiconductor-fab-operations/truth-ledger-v1-prospective.yaml
  libs/@hashintel/brunch-agent/evaluations/oracles/truck-fleet-maintenance/truth-ledger-v1-prospective.yaml
Due: markdownlint, biome
