Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    biome:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: biome format --write --staged || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: rustfmt {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: taplo format {staged_files} || true
      stage_fixed: true

H-5641: Add Distribution.map() and satellites launcher example
  libs/@hashintel/petrinaut/src/examples/satellites-launcher.ts
  libs/@hashintel/petrinaut/src/lsp/lib/generate-virtual-files.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/distribution.ts
  libs/@hashintel/petrinaut/src/views/Editor/editor-view.tsx
Due: biome

H-5641: Fix ESLint errors in distribution and transition code
  libs/@hashintel/petrinaut/src/simulation/simulator/compute-possible-transition.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/distribution.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/types.ts
Due: biome

BE-397: Populate `web.shortname` after user sign-up (#8460)
  apps/hash-api/src/graph/knowledge/primitive/entity/before-update-entity-hooks/user-before-update-entity-hook-callback.ts
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/api/src/rest/principal.rs
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/sdk/typescript/src/principal/actor-group.ts
  libs/@local/graph/store/src/account/mod.rs
  libs/@local/graph/type-fetcher/src/store.rs
Due: biome, rust

BE-424: HashQL: Add serialization safety checks for opaque types in Postgres placement (#8490)
  Cargo.lock
  libs/@local/hashql/mir/src/builder/body.rs
  libs/@local/hashql/mir/src/pass/execution/statement_placement/common.rs
  libs/@local/hashql/mir/src/pass/execution/statement_placement/postgres/mod.rs
  libs/@local/hashql/mir/src/pass/execution/statement_placement/postgres/tests.rs
  libs/@local/hashql/mir/tests/ui/pass/execution/statement_placement/postgres/env_dict_union_string_key_accepted.snap
  libs/@local/hashql/mir/tests/ui/pass/execution/statement_placement/postgres/serialization_unsafe_edge_propagates.snap
  libs/@local/hashql/mir/tests/ui/pass/execution/statement_placement/postgres/serialization_unsafe_statement_no_cost.snap
Due: rust

SRE-565: Fix sync-turborepo not removing deleted workspace dependencies
  libs/@local/repo-chores/rust/src/sync_turborepo/mod.rs
Due: rust

SRE-565: Improve sync-turborepo error handling and documentation
  libs/@local/repo-chores/rust/src/sync_turborepo/mod.rs
Due: rust

SRE-565: Log unexpected read errors in write_package_json_if_changed
  libs/@local/repo-chores/rust/src/sync_turborepo/mod.rs
Due: rust

SRE-565: Fix sync-turborepo not removing deleted workspace dependencies (#8493)
  libs/@local/repo-chores/rust/src/sync_turborepo/mod.rs
Due: rust

BE-311: Implement entity deletion with multi-level scoping and provenance
  Cargo.lock
  libs/@blockprotocol/type-system/rust/src/knowledge/entity/provenance.rs
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/postgres-store/Cargo.toml
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/delete.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/tests/common/mod.rs
  libs/@local/graph/postgres-store/tests/deletion/drafts.rs
  libs/@local/graph/postgres-store/tests/deletion/erase.rs
  libs/@local/graph/postgres-store/tests/deletion/links.rs
  libs/@local/graph/postgres-store/tests/deletion/main.rs
  libs/@local/graph/postgres-store/tests/deletion/purge.rs
  libs/@local/graph/postgres-store/tests/deletion/validation.rs
  libs/@local/graph/postgres-store/tests/principals/main.rs
  libs/@local/graph/store/src/entity/mod.rs
  libs/@local/graph/store/src/entity/store.rs
  libs/@local/graph/store/src/error.rs
  libs/@local/graph/test-server/src/lib.rs
  libs/@local/graph/type-fetcher/src/store.rs
  tests/graph/benches/graph/scenario/stages/reset_db.rs
  tests/graph/integration/postgres/lib.rs
Due: biome, rust, toml

BE-311: Fix TOCTOU races, register EntityDeletionProvenance schema, deduplicate draft IDs
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/api/src/rest/entity.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/delete.rs
Due: biome, rust

BE-311: Fix OpenAPI/tsify schemas for InferredEntityProvenance
  libs/@blockprotocol/type-system/rust/src/knowledge/entity/provenance.rs
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/delete.rs
Due: biome, rust

Format schema property definitions in inferred entity provenance rust code
  libs/@blockprotocol/type-system/rust/src/knowledge/entity/provenance.rs
Due: rust

feat: checkpoint
  Cargo.lock
  libs/@local/hashql/macros/Cargo.toml
  libs/@local/hashql/macros/src/grammar.rs
  libs/@local/hashql/macros/src/id.rs
  libs/@local/hashql/macros/src/lib.rs
Due: rust, toml

feat: checkpoint
  libs/@local/hashql/macros/src/grammar.rs
  libs/@local/hashql/macros/src/id.rs
Due: rust

feat: checkpoint
  libs/@local/hashql/macros/src/id/attr.rs
  libs/@local/hashql/macros/src/id/enum.rs
  libs/@local/hashql/macros/src/id/mod.rs
  libs/@local/hashql/macros/src/id/struct.rs
  libs/@local/hashql/macros/src/lib.rs
Due: rust

feat: checkpoint
  Cargo.lock
  libs/@local/hashql/macros/Cargo.toml
  libs/@local/hashql/macros/src/grammar.rs
  libs/@local/hashql/macros/src/id/enum.rs
  libs/@local/hashql/macros/src/id/mod.rs
  libs/@local/hashql/macros/src/id/struct.rs
  libs/@local/hashql/macros/src/lib.rs
Due: rust, toml

feat: checkpoint
  libs/@local/hashql/macros/src/grammar.rs
  libs/@local/hashql/macros/src/id/attr.rs
  libs/@local/hashql/macros/src/id/mod.rs
  libs/@local/hashql/macros/src/id/struct.rs
  libs/@local/hashql/macros/src/lib.rs
Due: rust

feat: checkpoint
  libs/@local/hashql/macros/src/id/struct.rs
Due: rust

feat: finish id macro
  libs/@local/hashql/macros/src/id/common.rs
  libs/@local/hashql/macros/src/id/enum.rs
  libs/@local/hashql/macros/src/id/mod.rs
  libs/@local/hashql/macros/src/id/struct.rs
Due: rust

feat: symbol table proc macro
  libs/@local/hashql/core/src/symbol/sym.rs
  libs/@local/hashql/macros/src/id/mod.rs
  libs/@local/hashql/macros/src/lib.rs
  libs/@local/hashql/macros/src/sym.rs
Due: rust

feat: add to turborepo
  apps/hash-graph/docs/dependency-diagram.mmd
  libs/@local/graph/api/docs/dependency-diagram.mmd
  libs/@local/graph/test-server/docs/dependency-diagram.mmd
  libs/@local/hashql/ast/docs/dependency-diagram.mmd
  libs/@local/hashql/compiletest/docs/dependency-diagram.mmd
  libs/@local/hashql/core/docs/dependency-diagram.mmd
  libs/@local/hashql/core/package.json
  libs/@local/hashql/core/src/lib.rs
  libs/@local/hashql/eval/docs/dependency-diagram.mmd
  libs/@local/hashql/hir/docs/dependency-diagram.mmd
  libs/@local/hashql/macros/package.json
  libs/@local/hashql/mir/docs/dependency-diagram.mmd
  libs/@local/hashql/syntax-jexpr/docs/dependency-diagram.mmd
  yarn.lock
Due: biome, yarn, rust

fix: dependency nits
  Cargo.toml
  libs/@local/hashql/macros/Cargo.toml
Due: toml

feat: move to derive macro
  libs/@local/hashql/core/src/id/mod.rs
  libs/@local/hashql/core/src/lib.rs
  libs/@local/hashql/macros/src/grammar.rs
  libs/@local/hashql/macros/src/id/attr.rs
  libs/@local/hashql/macros/src/id/common.rs
  libs/@local/hashql/macros/src/id/enum.rs
  libs/@local/hashql/macros/src/id/mod.rs
  libs/@local/hashql/macros/src/id/struct.rs
  libs/@local/hashql/macros/src/lib.rs
  libs/@local/hashql/mir/src/pass/execution/target.rs
Due: rust

chore: address feedback
  libs/@local/hashql/core/benches/bit_matrix.rs
  libs/@local/hashql/core/src/graph/linked.rs
  libs/@local/hashql/core/src/id/array.rs
  libs/@local/hashql/core/src/id/mod.rs
  libs/@local/hashql/core/src/id/slice.rs
  libs/@local/hashql/core/src/id/vec.rs
  libs/@local/hashql/core/src/intern/map.rs
  libs/@local/hashql/core/src/symbol/lookup.rs
  libs/@local/hashql/macros/src/id/struct.rs
  libs/@local/hashql/macros/src/lib.rs
Due: rust

BE-311: Fix doc links to private methods on impl block
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/delete.rs
Due: rust

BE-311: Fix broken intra-doc link to ToSchema
  libs/@blockprotocol/type-system/rust/src/knowledge/entity/provenance.rs
Due: rust

BE-311: Remove deny_unknown_fields from provenance structs with flatten
  libs/@blockprotocol/type-system/rust/src/knowledge/entity/provenance.rs
Due: rust

Fix formatting and remove unused nightly features and imports
  libs/@blockprotocol/type-system/rust/src/knowledge/entity/mod.rs
  libs/@local/codegen/src/typescript.rs
  libs/@local/graph/api/src/lib.rs
  libs/@local/graph/postgres-store/tests/principals/main.rs
  libs/@local/harpc/types/src/subsystem.rs
  libs/@local/hashql/compiletest/src/lib.rs
  libs/@local/hashql/core/src/type/error.rs
  libs/error-stack/README.md
  libs/error-stack/macros/README.md
  libs/error-stack/src/lib.rs
  libs/error-stack/src/report.rs
  rust-toolchain.toml
  tests/graph/integration/postgres/lib.rs
Due: markdownlint, biome, rust, toml

Update package.json
  libs/@local/graph/postgres-store/package.json
Due: biome, yarn

Update yarn.lock
  yarn.lock
Due: none

fix: suggestions from code review
  libs/@local/hashql/macros/LICENSE.md
  libs/@local/hashql/macros/src/id/common.rs
  libs/@local/hashql/macros/src/id/enum.rs
  libs/@local/hashql/macros/src/id/struct.rs
Due: markdownlint, biome, rust

feat: checkpoint
  libs/@local/hashql/core/src/symbol/sym.rs
  libs/@local/hashql/mir/src/body/place.rs
  libs/@local/hashql/mir/src/pass/execution/mod.rs
  libs/@local/hashql/mir/src/pass/execution/statement_placement/common.rs
  libs/@local/hashql/mir/src/pass/execution/statement_placement/embedding/mod.rs
  libs/@local/hashql/mir/src/pass/execution/statement_placement/lookup/entity.rs
  libs/@local/hashql/mir/src/pass/execution/statement_placement/lookup/mod.rs
  libs/@local/hashql/mir/src/pass/execution/statement_placement/lookup/tests.rs
  libs/@local/hashql/mir/src/pass/execution/statement_placement/lookup/trie.rs
  libs/@local/hashql/mir/src/pass/execution/statement_placement/mod.rs
  libs/@local/hashql/mir/src/pass/execution/statement_placement/postgres/mod.rs
  libs/@local/hashql/mir/src/pass/execution/storage/access.rs
  libs/@local/hashql/mir/src/pass/execution/storage/entity.rs
  libs/@local/hashql/mir/src/pass/execution/storage/mod.rs
  libs/@local/hashql/mir/src/pass/execution/storage/tests.rs
  libs/@local/hashql/mir/src/pass/execution/vertex.rs
Due: rust

feat: convert EntityPath to bitset
  libs/@local/hashql/mir/src/pass/execution/storage/entity.rs
  libs/@local/hashql/mir/src/pass/execution/storage/mod.rs
Due: rust
