Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, prettier, yarn, sqlfluff, rust, toml

markdownlint:
  tags:
  - frontend
  - style
  run: yarn run markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

prettier:
  tags:
  - frontend
  - style
  run: yarn run prettier --write {staged_files} || true
  stage_fixed: true

yarn:
  tags:
  - frontend
  - style
  run: yarn fix:constraints && yarn fix:packagejson && yarn fix:yarn-deduplicate
  stage_fixed: true

sqlfluff:
  tags:
  - backend
  - style
  run: sqlfluff fix {staged_files} || true
  stage_fixed: true

rust:
  tags:
  - backend
  - style
  run: cargo fmt -- {staged_files} || true
  stage_fixed: true

toml:
  tags:
  - backend
  - style
  run: yarn run taplo format {staged_files} || true
  stage_fixed: true

Fix benchmarks
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/data_type.rs
  libs/@local/graph/store/src/entity/store.rs
  tests/graph/benches/manual_queries/entity_queries/all-public-subgraph.json
  tests/graph/benches/manual_queries/entity_queries/all-public.json
  tests/graph/benches/manual_queries/entity_queries/mod.rs
  tests/graph/benches/read_scaling/knowledge/complete/entity.rs
  tests/graph/benches/representative_read/knowledge/entity.rs
  tests/graph/benches/representative_read/lib.rs
Due: prettier, rust

SRE-36: Use `sccache` in CI as Rust cache (#7847)
  .github/actions/install-sccache/action.yml
  .github/actions/install-tools/action.yml
  .github/workflows/bench.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  libs/@local/repo-chores/rust/Cargo.toml
  libs/@local/repo-chores/rust/bin/cli.rs
  libs/@local/repo-chores/rust/bin/cli/main.rs
  libs/@local/repo-chores/rust/src/cli/mod.rs
  libs/@local/repo-chores/rust/src/cli/subcommand/benches/analyze.rs
  libs/@local/repo-chores/rust/src/cli/subcommand/benches/mod.rs
  libs/@local/repo-chores/rust/src/cli/subcommand/benches/upload.rs
  libs/@local/repo-chores/rust/src/cli/subcommand/completions.rs
  libs/@local/repo-chores/rust/src/cli/subcommand/dependency_diagram/mod.rs
  libs/@local/repo-chores/rust/src/cli/subcommand/mod.rs
  libs/@local/repo-chores/rust/src/lib.rs
Due: prettier, rust, toml

Refactor traversal context to optimize traversal checks
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/data_type.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/entity_type.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/property_type.rs
  libs/@local/graph/postgres-store/src/store/postgres/traversal_context.rs
  libs/@local/graph/store/src/subgraph/edges/traversal.rs
Due: rust

Remove unneeded `isSerializedEntity` and `isGraphApiEntry`
  libs/@local/graph/sdk/typescript/src/entity.ts
Due: prettier

feat: chore docs
  libs/@local/hashql/hir/src/lower/anf.rs
Due: rust

feat: move code from other PR
  libs/@local/hashql/compiletest/src/suite/hir_lower_alias_replacement.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_checking.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_ctor.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_inference.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_inference_intrinsics.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_specialization.rs
  libs/@local/hashql/compiletest/src/suite/hir_reify.rs
  libs/@local/hashql/hir/src/lower/inference.rs
  libs/@local/hashql/hir/src/reify/mod.rs
Due: rust

feat: anf -> normalization
  libs/@local/graph/api/src/rest/entity_query_request.rs
  libs/@local/hashql/compiletest/src/suite/eval_graph_read_entity.rs
  libs/@local/hashql/hir/src/lower/mod.rs
  libs/@local/hashql/hir/src/lower/normalization.rs
Due: rust

feat: input
  libs/@local/hashql/hir/src/lower/normalization.rs
Due: rust

BE-149: Refactor HIR lowering pipeline into reusable components (#7850)
  libs/@local/hashql/compiletest/src/suite/hir_lower_alias_replacement.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_checking.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_ctor.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_inference.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_inference_intrinsics.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_specialization.rs
  libs/@local/hashql/compiletest/src/suite/hir_reify.rs
  libs/@local/hashql/hir/src/lower/inference.rs
  libs/@local/hashql/hir/src/reify/mod.rs
Due: rust

BE-147: Fix entities not being serialized when using `queryEntities` GraphQL query (#7845)
  apps/hash-api/src/graphql/resolvers/knowledge/entity/entity.ts
  apps/hash-frontend/src/components/hooks/use-orgs.ts
  apps/hash-frontend/src/components/hooks/use-users.ts
  apps/hash-frontend/src/pages/actions.page/draft-entities-context.tsx
  apps/hash-frontend/src/pages/settings/organizations/[shortname]/integrations.page.tsx
  apps/hash-frontend/src/pages/shared/entity-selector.tsx
  apps/hash-frontend/src/pages/shared/integrations/google/google-auth-context/use-google-accounts.ts
  apps/hash-frontend/src/shared/notification-count-context.tsx
  apps/hash-frontend/src/shared/use-actors.ts
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/history/shared/history-row/flow-metadata-cell-contents.tsx
  libs/@local/graph/sdk/typescript/src/entity.ts
  libs/@local/hash-isomorphic-utils/src/graphql/scalar-mapping.ts
Due: prettier

Revert "Update npm package `nodemailer` to v7 [SECURITY] (#7843)"
  apps/hash-api/package.json
  yarn.lock
Due: prettier, yarn

Fix notification for Terraform Apply failure
  .github/workflows/tf-apply-hash.yml
Due: prettier

Add version for slack notification action
  .github/workflows/tf-apply-hash.yml
Due: prettier

Notify backend
  .github/workflows/tf-apply-hash.yml
Due: prettier

feat: checkpoint
  libs/@local/hashql/eval/tests/ui/graph/read/entity/arithmetic-comparisons-and.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/arithmetic-comparisons-or.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/boolean-literal.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/constructor-call-none.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/equality-comparison.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/field-access-struct.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/field-access-tuple.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/input-field-access.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/input-index-access.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/input-parameter.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/let-expression.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/let-propagation.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/logical-and-or.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/logical-or-and.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/nested-let-bindings.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/scalar-property-filter.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/top-level-variable.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/top-type-assertion.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/type-assertion-in-comparison.stdout
Due: none

feat: switch over to fork
  .github/workflows/dismiss-stale-approvals.yml
Due: prettier

Revert "Update npm package `nodemailer` to v7" (#7851)
  apps/hash-api/package.json
  yarn.lock
Due: prettier, yarn

feat: add compiletest suite
  libs/@local/hashql/compiletest/src/suite/hir_lower_normalization.rs
  libs/@local/hashql/compiletest/src/suite/mod.rs
Due: rust

SRE-38: Switch to fork of `dismiss-stale-approvals` action (#7853)
  .github/workflows/dismiss-stale-approvals.yml
Due: prettier

Update .github/workflows/tf-apply-hash.yml
  .github/workflows/tf-apply-hash.yml
Due: prettier

Update Slack notifications to notify @devops team for job failures in workflows
  .github/workflows/bench.yml
  .github/workflows/deploy.yml
  .github/workflows/hash-backend-cd.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: prettier

Apply suggestions from code review
  .github/workflows/bench.yml
  .github/workflows/deploy.yml
Due: prettier

test: snapshot files
  libs/@local/hashql/hir/src/lower/normalization.rs
  libs/@local/hashql/hir/tests/ui/lower/normalization/.spec.toml
  libs/@local/hashql/hir/tests/ui/lower/normalization/binary-operation-left.jsonc
  libs/@local/hashql/hir/tests/ui/lower/normalization/binary-operation-right.jsonc
  libs/@local/hashql/hir/tests/ui/lower/normalization/binary-operation.jsonc
  libs/@local/hashql/hir/tests/ui/lower/normalization/binding-body.jsonc
  libs/@local/hashql/hir/tests/ui/lower/normalization/binding-value.jsonc
  libs/@local/hashql/hir/tests/ui/lower/normalization/call.jsonc
  libs/@local/hashql/hir/tests/ui/lower/normalization/closure.jsonc
  libs/@local/hashql/hir/tests/ui/lower/normalization/dict.jsonc
  libs/@local/hashql/hir/tests/ui/lower/normalization/field-access.jsonc
  libs/@local/hashql/hir/tests/ui/lower/normalization/graph-read-head.jsonc
  libs/@local/hashql/hir/tests/ui/lower/normalization/if-else.jsonc
  libs/@local/hashql/hir/tests/ui/lower/normalization/if-test.jsonc
  libs/@local/hashql/hir/tests/ui/lower/normalization/if-then.jsonc
  libs/@local/hashql/hir/tests/ui/lower/normalization/index-access.jsonc
  libs/@local/hashql/hir/tests/ui/lower/normalization/input.jsonc
  libs/@local/hashql/hir/tests/ui/lower/normalization/let-nested.jsonc
  libs/@local/hashql/hir/tests/ui/lower/normalization/list.jsonc
  libs/@local/hashql/hir/tests/ui/lower/normalization/struct.jsonc
  libs/@local/hashql/hir/tests/ui/lower/normalization/tuple.jsonc
  libs/@local/hashql/hir/tests/ui/lower/normalization/type-assertion-erase.jsonc
  libs/@local/hashql/hir/tests/ui/lower/normalization/unary-operation.jsonc
Due: rust, toml

test: permutations
  libs/@local/hashql/eval/tests/ui/graph/read/entity/arithmetic-comparisons-and.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/arithmetic-comparisons-or.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/equality-comparison.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/field-access-struct.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/field-access-tuple.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/logical-and-or.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/logical-or-and.stdout
  libs/@local/hashql/hir/src/lower/normalization.rs
  libs/@local/hashql/hir/tests/ui/lower/normalization/binary-operation-left.stdout
  libs/@local/hashql/hir/tests/ui/lower/normalization/binary-operation-right.stdout
  libs/@local/hashql/hir/tests/ui/lower/normalization/binary-operation.stdout
  libs/@local/hashql/hir/tests/ui/lower/normalization/binding-body.jsonc
  libs/@local/hashql/hir/tests/ui/lower/normalization/binding-body.stdout
  libs/@local/hashql/hir/tests/ui/lower/normalization/binding-value.jsonc
  libs/@local/hashql/hir/tests/ui/lower/normalization/binding-value.stdout
  libs/@local/hashql/hir/tests/ui/lower/normalization/call.jsonc
  libs/@local/hashql/hir/tests/ui/lower/normalization/call.stdout
  libs/@local/hashql/hir/tests/ui/lower/normalization/closure.jsonc
  libs/@local/hashql/hir/tests/ui/lower/normalization/closure.stdout
  libs/@local/hashql/hir/tests/ui/lower/normalization/dict.jsonc
  libs/@local/hashql/hir/tests/ui/lower/normalization/dict.stdout
  libs/@local/hashql/hir/tests/ui/lower/normalization/field-access.stdout
  libs/@local/hashql/hir/tests/ui/lower/normalization/graph-read-head.stdout
  libs/@local/hashql/hir/tests/ui/lower/normalization/if-else.jsonc
  libs/@local/hashql/hir/tests/ui/lower/normalization/if-else.stdout
  libs/@local/hashql/hir/tests/ui/lower/normalization/if-test.stdout
  libs/@local/hashql/hir/tests/ui/lower/normalization/if-then.jsonc
  libs/@local/hashql/hir/tests/ui/lower/normalization/if-then.stdout
  libs/@local/hashql/hir/tests/ui/lower/normalization/index-access.stdout
  libs/@local/hashql/hir/tests/ui/lower/normalization/input.jsonc
  libs/@local/hashql/hir/tests/ui/lower/normalization/input.stdout
  libs/@local/hashql/hir/tests/ui/lower/normalization/let-nested.jsonc
  libs/@local/hashql/hir/tests/ui/lower/normalization/let-nested.stdout
  libs/@local/hashql/hir/tests/ui/lower/normalization/list.jsonc
  libs/@local/hashql/hir/tests/ui/lower/normalization/list.stdout
  libs/@local/hashql/hir/tests/ui/lower/normalization/struct.jsonc
  libs/@local/hashql/hir/tests/ui/lower/normalization/struct.stdout
  libs/@local/hashql/hir/tests/ui/lower/normalization/tuple.jsonc
  libs/@local/hashql/hir/tests/ui/lower/normalization/tuple.stdout
  libs/@local/hashql/hir/tests/ui/lower/normalization/type-assertion-erase.stdout
Due: rust

feat: support alias tracking throughout eval
  libs/@local/hashql/eval/src/graph/read/mod.rs
  libs/@local/hashql/eval/tests/ui/graph/read/entity/arithmetic-comparisons-and.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/arithmetic-comparisons-or.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/boolean-literal.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/constructor-call-none.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/equality-comparison.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/field-access-struct.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/field-access-tuple.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/input-field-access.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/input-index-access.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/input-parameter.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/let-expression.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/let-propagation.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/logical-and-or.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/logical-or-and.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/nested-let-bindings.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/scalar-property-filter.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/top-level-variable.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/top-type-assertion.stdout
  libs/@local/hashql/eval/tests/ui/graph/read/entity/type-assertion-in-comparison.stdout
Due: rust

docs: module
  libs/@local/hashql/hir/src/lower/normalization.rs
Due: rust

chore: move options into options
  libs/@local/hashql/compiletest/src/suite/hir_lower_normalization.rs
  libs/@local/hashql/hir/src/lower/mod.rs
  libs/@local/hashql/hir/src/lower/normalization.rs
Due: rust

Apply suggestions from code review
  apps/hash-api/src/ai/gpt/gpt-query-entities.ts
Due: prettier

SRE-47: Fix notification for Terraform Apply failure (#7852)
  .github/workflows/bench.yml
  .github/workflows/deploy.yml
  .github/workflows/hash-backend-cd.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/tf-apply-hash.yml
Due: prettier

fix: eslint library
  apps/hash-ai-worker-ts/package.json
  apps/hash-api/package.json
  apps/hash-frontend/package.json
  apps/hash-integration-worker/package.json
  apps/hash-realtime/package.json
  apps/hash-search-loader/package.json
  apps/mcp/linear/package.json
  apps/mcp/notion/package.json
  apps/plugin-browser/package.json
  libs/@blockprotocol/graph/package.json
  libs/@blockprotocol/type-system/typescript/package.json
  libs/@hashintel/block-design-system/package.json
  libs/@hashintel/design-system/package.json
  libs/@hashintel/ds-components/package.json
  libs/@hashintel/petrinaut/package.json
  libs/@hashintel/query-editor/package.json
  libs/@hashintel/type-editor/package.json
  libs/@local/advanced-types/package.json
  libs/@local/effect-dns/core/package.json
  libs/@local/effect-dns/hickory/package.json
  libs/@local/eslint/package.json
  libs/@local/eslint/src/builtIn.ts
  libs/@local/eslint/src/deprecated/base.ts
  libs/@local/eslint/src/deprecated/block.ts
  libs/@local/eslint/src/types.ts
  libs/@local/graph/sdk/typescript/package.json
  libs/@local/graph/type-defs/package.json
  libs/@local/harpc/client/typescript/package.json
  libs/@local/hash-backend-utils/package.json
  libs/@local/hash-isomorphic-utils/package.json
  libs/@local/repo-chores/node/package.json
  libs/@local/status/typescript/package.json
  tests/hash-backend-integration/package.json
  tests/hash-backend-load/package.json
  tests/hash-playwright/package.json
  yarn.lock
Due: prettier, yarn

fix: transport
  libs/@local/eslint/package.json
  libs/@local/harpc/client/typescript/src/net/internal/transport.ts
  yarn.lock
Due: prettier, yarn

fix: eslint
  apps/hash-ai-worker-ts/src/activities/flow-activities/infer-metadata-from-document-action/generate-proposed-entities-and-claims.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/persist-entities-action.ts
  apps/hash-api/src/graph/knowledge/primitive/entity.ts
  apps/hash-api/src/graph/ontology/primitive/entity-type.ts
  apps/hash-frontend/src/components/grid/grid.tsx
  apps/hash-frontend/src/pages/@/[shortname].page/edit-user-profile-info-modal/user-profile-info-form.tsx
  apps/hash-frontend/src/pages/@/[shortname]/[page-slug].page/canvas-page.tsx
  apps/hash-frontend/src/pages/@/[shortname]/shared/flow-visualizer.tsx
  apps/hash-frontend/src/pages/@/[shortname]/shared/flow-visualizer/outputs.tsx
  apps/hash-frontend/src/pages/@/[shortname]/shared/use-route-namespace.tsx
  apps/hash-frontend/src/pages/notifications.page/notifications-with-links-context.tsx
  apps/hash-frontend/src/pages/shared/claims-table.tsx
  apps/hash-frontend/src/pages/shared/types-table.tsx
  libs/@hashintel/block-design-system/package.json
  libs/@local/hash-backend-utils/src/queue/redis.ts
  libs/@local/hash-isomorphic-utils/src/provenance.ts
  tests/hash-backend-load/src/authentication/kratos.ts
  tests/hash-backend-load/src/graph/api.ts
  tests/hash-playwright/tests/browser-plugin/fixtures.ts
Due: prettier, yarn

fix: eslint II
  libs/@hashintel/block-design-system/package.json
Due: prettier, yarn

Refactor EdgeDirection to consolidate entity and ontology traversal direction enums
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/api/src/rest/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/store/src/subgraph/edges/edge.rs
  libs/@local/graph/store/src/subgraph/edges/mod.rs
  libs/@local/graph/store/src/subgraph/edges/traversal.rs
  libs/@local/graph/store/types/index.snap.d.ts
  tests/graph/benches/read_scaling/knowledge/complete/entity.rs
  tests/graph/benches/representative_read/lib.rs
Due: prettier, rust

Path conditions:
  markdownlint: any of: *.md
  prettier: any of: *.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}
  yarn: any of: {*/package.json, package.json}
  sqlfluff: any of: *.sql
  rust: any of: *.rs
  toml: any of: *.toml
