Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, prettier, yarn, sqlfluff, rust, toml

markdownlint:
  tags:
  - frontend
  - style
  run: yarn run markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

prettier:
  tags:
  - frontend
  - style
  run: yarn run prettier --write {staged_files} || true
  stage_fixed: true

yarn:
  tags:
  - frontend
  - style
  run: yarn fix:constraints && yarn fix:packagejson && yarn fix:yarn-deduplicate
  stage_fixed: true

sqlfluff:
  tags:
  - backend
  - style
  run: sqlfluff fix {staged_files} || true
  stage_fixed: true

rust:
  tags:
  - backend
  - style
  run: cargo fmt -- {staged_files} || true
  stage_fixed: true

toml:
  tags:
  - backend
  - style
  run: yarn run taplo format {staged_files} || true
  stage_fixed: true

chore: document macro
  libs/@local/hashql/core/src/symbol/sym.rs
Due: rust

chore: fix lints
  libs/@local/hashql/mir/src/pass/analysis/execution/statement_placement/postgres/tests.rs
Due: rust

chore: remove spec
  SPEC.md
Due: markdownlint, prettier

chore: docs
  libs/@local/hashql/core/src/symbol/repr.rs
  libs/@local/hashql/core/src/symbol/table.rs
Due: rust

chore: docs
  libs/@local/hashql/core/src/heap/mod.rs
Due: rust

chore: promote nested module in module to a compile error
  libs/@local/hashql/core/src/symbol/sym.rs
Due: rust

SRE-418: Fix Vercel deployment build failures
  apps/hash-frontend/vercel-install.sh
Due: none

SRE-418: Add wasm32-unknown-unknown target to Vercel build (#8344)
  apps/hash-frontend/vercel-install.sh
Due: none

Pass entity IDs instead of full entities to embedding workflow
  apps/hash-ai-worker-ts/src/workflows.ts
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/temporal-client/src/ai.rs
Due: prettier, rust

Remove sourcing of Cargo environment in Vercel build script for Petrinaut
  libs/@hashintel/petrinaut/vercel-build.sh
Due: none

Handle empty entityIds array in embedding workflow
  apps/hash-ai-worker-ts/src/workflows.ts
Due: prettier

Set PROTOC env var in Docker builds for prost-wkt compilation
  apps/hash-ai-worker-ts/docker/Dockerfile
  apps/hash-graph/docker/Dockerfile
  apps/hash-integration-worker/docker/Dockerfile
  infra/docker/api/prod/Dockerfile
  infra/docker/frontend/prod/Dockerfile
Due: none

add hardcoded demo dashboard examples
  .env
  apps/hash-ai-worker-ts/src/activities/infer-entities/shared/extract-validation-failure-details.ts
  apps/hash-frontend/public/assets/world-map.svg
  apps/hash-frontend/src/pages/@/[shortname]/shared/flow-visualizer/topbar.tsx
  apps/hash-frontend/src/pages/dashboard/[dashboard-id].page.tsx
  apps/hash-frontend/src/pages/dashboard/[dashboard-id].page/dashboard-grid.tsx
  apps/hash-frontend/src/pages/dashboard/[dashboard-id].page/dashboard-grid/dashboard-item.tsx
  apps/hash-frontend/src/pages/dashboard/[dashboard-id].page/dashboard-grid/dashboard-item/dashboard-item-content.tsx
  apps/hash-frontend/src/pages/dashboard/[dashboard-id].page/dashboard-grid/dashboard-item/dashboard-item-content/chart-renderer.tsx
  apps/hash-frontend/src/pages/dashboard/[dashboard-id].page/dashboard-grid/dashboard-item/dashboard-item-content/flight-board.tsx
  apps/hash-frontend/src/pages/dashboard/[dashboard-id].page/dashboard-grid/dashboard-item/dashboard-item-content/world-map-renderer.tsx
  apps/hash-frontend/src/pages/dashboard/[dashboard-id].page/dashboard-header.tsx
  apps/hash-frontend/src/pages/dashboard/[dashboard-id].page/dummy-data.ts
  apps/hash-frontend/src/pages/dashboard/[dashboard-id].page/dummy.json
  apps/hash-frontend/src/pages/dashboard/[dashboard-id].page/generate-dashboard-items.ts
  apps/hash-frontend/src/pages/shared/flow-definitions-context.tsx
  apps/hash-integration-worker/src/activities/flow-activities/aviation-activities/get-live-flight-positions-action.ts
  apps/hash-integration-worker/src/activities/flow-activities/integration-activities/persist-integration-entities-action.ts
  libs/@local/graph/sdk/typescript/src/entity.ts
  libs/@local/hash-backend-utils/src/temporal.ts
  libs/@local/hash-isomorphic-utils/src/graph-queries.ts
Due: prettier

Export PROTOC variable for cargo subprocess in hash-graph Docker build
  apps/hash-graph/docker/Dockerfile
Due: none

chore: checkpoint – massive headache
  libs/@local/hashql/core/src/id/bit_vec/mod.rs
  libs/@local/hashql/mir/src/pass/analysis/execution/cost.rs
  libs/@local/hashql/mir/src/pass/analysis/execution/mod.rs
  libs/@local/hashql/mir/src/pass/analysis/execution/splitting/mod.rs
  libs/@local/hashql/mir/src/pass/analysis/execution/target.rs
Due: rust

chore: checkpoint
  libs/@local/hashql/mir/src/pass/analysis/execution/splitting/mod.rs
Due: rust

store ProposedEntity payloads in s3, pass storage locations in/out of activities
  apps/hash-ai-worker-ts/src/activities/flow-activities/infer-entities-from-content-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/infer-metadata-from-document-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/persist-entities-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/persist-entity-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/coordinating-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/link-follower-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/create-file-entity-from-url.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-flow-context.ts
  apps/hash-ai-worker-ts/src/activities/shared/use-file-system-file-from-url.ts
  apps/hash-integration-worker/src/activities/flow-activities/aviation-activities/get-live-flight-positions-action.ts
  apps/hash-integration-worker/src/activities/flow-activities/aviation-activities/get-scheduled-flights-action.ts
  apps/hash-integration-worker/src/activities/flow-activities/integration-activities/persist-integration-entities-action.ts
  apps/hash-integration-worker/src/activities/flow-activities/shared/get-integration-flow-context.ts
  libs/@local/hash-backend-utils/src/file-storage/aws-s3-storage-provider.ts
  libs/@local/hash-backend-utils/src/flows.ts
  libs/@local/hash-backend-utils/src/flows/get-flow-run-details.ts
  libs/@local/hash-backend-utils/src/flows/payload-storage.ts
  libs/@local/hash-backend-utils/src/flows/process-flow-workflow.ts
  libs/@local/hash-backend-utils/src/flows/process-flow-workflow/pass-outputs-to-unprocessed-steps.ts
  libs/@local/hash-isomorphic-utils/src/flows/action-definitions.ts
  libs/@local/hash-isomorphic-utils/src/flows/types.ts
Due: prettier

Use mise activate instead of mise which for protoc in Docker builds
  apps/hash-ai-worker-ts/docker/Dockerfile
  apps/hash-graph/docker/Dockerfile
  apps/hash-integration-worker/docker/Dockerfile
  infra/docker/api/prod/Dockerfile
  infra/docker/frontend/prod/Dockerfile
Due: none

Debug: print mise version in Docker builds
  apps/hash-ai-worker-ts/docker/Dockerfile
  apps/hash-graph/docker/Dockerfile
  apps/hash-integration-worker/docker/Dockerfile
  infra/docker/api/prod/Dockerfile
  infra/docker/frontend/prod/Dockerfile
Due: none

Pin mise to v2026.1.12 in Docker builds
  apps/hash-ai-worker-ts/docker/Dockerfile
  apps/hash-graph/docker/Dockerfile
  apps/hash-integration-worker/docker/Dockerfile
  infra/docker/api/prod/Dockerfile
  infra/docker/frontend/prod/Dockerfile
Due: none

Fix mise version pinning (export for sh subprocess)
  apps/hash-ai-worker-ts/docker/Dockerfile
  apps/hash-graph/docker/Dockerfile
  apps/hash-integration-worker/docker/Dockerfile
  infra/docker/api/prod/Dockerfile
  infra/docker/frontend/prod/Dockerfile
Due: none

Remove unnecessary mise activate from Docker build commands
  apps/hash-ai-worker-ts/docker/Dockerfile
  apps/hash-graph/docker/Dockerfile
  apps/hash-integration-worker/docker/Dockerfile
  infra/docker/api/prod/Dockerfile
  infra/docker/frontend/prod/Dockerfile
Due: none

SRE-424: Fix Docker build commands (#8347)
  apps/hash-ai-worker-ts/docker/Dockerfile
  apps/hash-graph/docker/Dockerfile
  apps/hash-integration-worker/docker/Dockerfile
  infra/docker/api/prod/Dockerfile
  infra/docker/frontend/prod/Dockerfile
Due: none

Path conditions:
  markdownlint: any of: *.md
  prettier: any of: *.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}
  yarn: any of: {*/package.json, package.json}
  sqlfluff: any of: *.sql
  rust: any of: *.rs
  toml: any of: *.toml
