Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, prettier, yarn, sqlfluff, rust, toml

markdownlint:
  tags:
  - frontend
  - style
  run: yarn run markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

prettier:
  tags:
  - frontend
  - style
  run: yarn run prettier --write {staged_files} || true
  stage_fixed: true

yarn:
  tags:
  - frontend
  - style
  run: yarn fix:constraints && yarn fix:packagejson && yarn fix:yarn-deduplicate
  stage_fixed: true

sqlfluff:
  tags:
  - backend
  - style
  run: sqlfluff fix {staged_files} || true
  stage_fixed: true

rust:
  tags:
  - backend
  - style
  run: cargo fmt -- {staged_files} || true
  stage_fixed: true

toml:
  tags:
  - backend
  - style
  run: yarn run taplo format {staged_files} || true
  stage_fixed: true

update event trigger
  .github/workflows/ai-pr-review.yml
Due: prettier

Improve documentation for URL types and update guidelines
  .cursor/rules/rust-documentation.mdc
  CLAUDE.md
  libs/@blockprotocol/type-system/rust/src/url/mod.rs
Due: markdownlint, prettier, rust

Move `OntologyTypeRecordId` to `type-system`
  libs/@blockprotocol/type-system/rust/src/url/mod.rs
  libs/@local/graph/api/src/rest/mod.rs
  libs/@local/graph/postgres-store/src/snapshot/ontology/metadata/channel.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/data_type.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/entity_type.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/property_type.rs
  libs/@local/graph/types/rust/src/ontology/data_type/mod.rs
  libs/@local/graph/types/rust/src/ontology/entity_type.rs
  libs/@local/graph/types/rust/src/ontology/mod.rs
  libs/@local/graph/types/rust/src/ontology/property_type.rs
  libs/@local/graph/validation/src/lib.rs
Due: rust

wip: ai pr review as script
  .cursor/rules/rust-error-handling.mdc
  .cursor/rules/typescript-coding-style.mdc
  .github/workflows/ai-pr-review.yml
  CLAUDE.md
  libs/@local/repo-chores/node/package.json
  libs/@local/repo-chores/node/scripts/ai-pr-review.ts
  yarn.lock
Due: markdownlint, prettier, yarn

H-4198: Remove `apps/hash` directory (#6666)
  .config/_examples/README.md
  .github/CONTRIBUTING.md
  README.md
  apps/README.md
  apps/hash-graph/README.md
  apps/hash/LICENSE.md
  apps/hash/README.md
  tests/README.md
Due: markdownlint, prettier

Add missing features
  libs/@blockprotocol/type-system/rust/Cargo.toml
  libs/@local/graph/api/openapi/openapi.json
Due: prettier, toml

Improve and fix documentation for type system
  libs/@blockprotocol/type-system/rust/README.md
  libs/@blockprotocol/type-system/rust/package.json
  libs/@blockprotocol/type-system/rust/src/lib.rs
  libs/@blockprotocol/type-system/rust/src/ontology/entity_type/schema/mod.rs
  libs/@blockprotocol/type-system/rust/src/ontology/json_schema/mod.rs
  libs/@blockprotocol/type-system/rust/src/ontology/mod.rs
  libs/@blockprotocol/type-system/rust/src/ontology/provenance/mod.rs
  libs/@blockprotocol/type-system/rust/src/provenance/mod.rs
  libs/@blockprotocol/type-system/typescript/README.md
  libs/@local/temporal-client/package.json
  yarn.lock
Due: markdownlint, prettier, yarn, rust

Update documentation links for ontology types
  libs/@local/graph/store/src/data_type/query.rs
  libs/@local/graph/store/src/entity_type/query.rs
  libs/@local/graph/store/src/property_type/query.rs
  libs/@local/graph/types/rust/src/ontology/data_type/mod.rs
  libs/@local/graph/types/rust/src/ontology/entity_type.rs
  libs/@local/graph/types/rust/src/ontology/property_type.rs
Due: rust

Update doc tests
  libs/@local/graph/store/src/data_type/query.rs
  libs/@local/graph/store/src/entity_type/query.rs
Due: rust

Update doc tests
  libs/@blockprotocol/type-system/rust/src/lib.rs
  libs/@blockprotocol/type-system/rust/src/ontology/data_type/schema/mod.rs
  libs/@blockprotocol/type-system/rust/src/ontology/data_type/schema/validation.rs
  libs/@blockprotocol/type-system/rust/src/ontology/entity_type/schema/mod.rs
  libs/@blockprotocol/type-system/rust/src/ontology/id/mod.rs
  libs/@blockprotocol/type-system/rust/src/ontology/property_type/schema/mod.rs
Due: rust

Update more docs
  apps/hash-graph/docs/dependency-diagram.mmd
  libs/@blockprotocol/type-system/rust/docs/dependency-diagram.mmd
  libs/@local/codec/docs/dependency-diagram.mmd
  libs/@local/graph/api/docs/dependency-diagram.mmd
  libs/@local/graph/authorization/docs/dependency-diagram.mmd
  libs/@local/graph/migrations/docs/dependency-diagram.mmd
  libs/@local/graph/postgres-store/docs/dependency-diagram.mmd
  libs/@local/graph/store/docs/dependency-diagram.mmd
  libs/@local/graph/store/src/data_type/query.rs
  libs/@local/graph/store/src/data_type/store.rs
  libs/@local/graph/store/src/entity/query.rs
  libs/@local/graph/store/src/entity/store.rs
  libs/@local/graph/store/src/entity_type/query.rs
  libs/@local/graph/store/src/entity_type/store.rs
  libs/@local/graph/store/src/filter/mod.rs
  libs/@local/graph/store/src/property_type/query.rs
  libs/@local/graph/store/src/property_type/store.rs
  libs/@local/graph/store/src/subgraph/edges/kind.rs
  libs/@local/graph/temporal-versioning/docs/dependency-diagram.mmd
  libs/@local/graph/test-server/docs/dependency-diagram.mmd
  libs/@local/graph/type-defs/docs/dependency-diagram.mmd
  libs/@local/graph/type-fetcher/docs/dependency-diagram.mmd
  libs/@local/graph/types/rust/docs/dependency-diagram.mmd
  libs/@local/graph/validation/docs/dependency-diagram.mmd
  libs/@local/harpc/client/rust/docs/dependency-diagram.mmd
  libs/@local/harpc/codec/docs/dependency-diagram.mmd
  libs/@local/harpc/net/docs/dependency-diagram.mmd
  libs/@local/harpc/server/docs/dependency-diagram.mmd
  libs/@local/harpc/system/docs/dependency-diagram.mmd
  libs/@local/harpc/tower/docs/dependency-diagram.mmd
  libs/@local/harpc/types/docs/dependency-diagram.mmd
  libs/@local/harpc/wire-protocol/docs/dependency-diagram.mmd
  libs/@local/hql/cst/docs/dependency-diagram.mmd
  libs/@local/hql/diagnostics/docs/dependency-diagram.mmd
  libs/@local/hql/span/docs/dependency-diagram.mmd
  libs/@local/hql/syntax-jexpr/docs/dependency-diagram.mmd
  libs/@local/repo-chores/rust/docs/dependency-diagram.mmd
  libs/@local/temporal-client/docs/dependency-diagram.mmd
  libs/@local/tracing/docs/dependency-diagram.mmd
  tests/graph/test-data/rust/docs/dependency-diagram.mmd
Due: rust

Fix private docs
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/table.rs
Due: rust

finish auto pr reviewer
  .cursor/rules/typescript-coding-guidelines.mdc
  .cursor/rules/typescript-coding-style.mdc
  CLAUDE.md
  apps/mcp/linear/package.json
  apps/mcp/linear/src/main.ts
  apps/mcp/linear/tsconfig.build.json
  libs/@local/hash-backend-utils/src/linear.ts
  libs/@local/repo-chores/node/package.json
  libs/@local/repo-chores/node/scripts/ai-pr-review.ts
  libs/@local/repo-chores/node/scripts/ai-pr-review/add-diff-line-numbers.ts
  libs/@local/repo-chores/node/scripts/ai-pr-review/get-existing-ai-comment-threads.ts
  yarn.lock
Due: markdownlint, prettier, yarn

H-4181: Add `getAccountGroupRelations` method to GraphAuth API (#6667)
  apps/hash-api/src/graph/knowledge/system-types/hash-instance.ts
  libs/@local/graph/api/README.md
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/api/src/lib.rs
  libs/@local/graph/api/src/rest/account.rs
  libs/@local/graph/api/src/rest/mod.rs
  libs/@local/graph/authorization/src/api.rs
  libs/@local/graph/authorization/src/lib.rs
  libs/@local/graph/authorization/src/zanzibar/api.rs
  tests/graph/http/tests/friendship.http
  tests/hash-backend-integration/src/tests/graph/knowledge/system-types/hash-instance.test.ts
Due: markdownlint, prettier, rust

prerefactor checkpoint
  libs/@local/repo-chores/node/scripts/ai-pr-review.ts
Due: prettier

split out comment reply and pr review steps. code organization. update action triggers
  .cursor/rules/typescript-coding-guidelines.mdc
  .github/workflows/ai-pr-review.yml
  libs/@local/repo-chores/node/scripts/ai-pr-review.ts
  libs/@local/repo-chores/node/scripts/ai-pr-review/generate-comment-replies.ts
  libs/@local/repo-chores/node/scripts/ai-pr-review/generate-pr-review.ts
  libs/@local/repo-chores/node/scripts/ai-pr-review/get-pr-comments.ts
  libs/@local/repo-chores/node/scripts/ai-pr-review/get-pr-info.ts
Due: prettier

update CLAUDE.md pr review guidelines
  CLAUDE.md
Due: markdownlint, prettier

cleanup
  libs/@local/repo-chores/node/scripts/ai-pr-review.ts
  libs/@local/repo-chores/node/scripts/ai-pr-review/generate-comment-replies.ts
  libs/@local/repo-chores/node/scripts/ai-pr-review/generate-pr-review.ts
  libs/@local/repo-chores/node/scripts/ai-pr-review/get-pr-comments.ts
  libs/@local/repo-chores/node/scripts/ai-pr-review/get-pr-info.ts
Due: prettier

whitespace
  .github/workflows/ai-pr-review.yml
Due: prettier

address semgrep issues
  .github/workflows/ai-pr-review.yml
Due: prettier

update turbo.json
  apps/mcp/linear/turbo.json
Due: prettier

don't run mcp server build postinstall in CI
  apps/mcp/linear/package.json
  apps/mcp/notion/package.json
Due: prettier, yarn

add fallback to postinstall
  apps/mcp/linear/package.json
  apps/mcp/notion/package.json
  libs/@local/repo-chores/node/scripts/ai-pr-review/fix-json-formatting.ts
Due: prettier, yarn

add turbo install step
  .github/workflows/ai-pr-review.yml
Due: prettier

add warmup repo step
  .github/workflows/ai-pr-review.yml
Due: prettier

add missing secrets
  .github/workflows/ai-pr-review.yml
Due: prettier

fix postinstall when CI env var unbound
  apps/mcp/linear/package.json
  apps/mcp/notion/package.json
Due: prettier, yarn

skip review if on deps/ branch
  .github/workflows/ai-pr-review.yml
Due: prettier

fix branch check
  .github/workflows/ai-pr-review.yml
Due: prettier

H-4175: Add experimental automated AI code reviewer (#6668)
  .cursor/rules/rust-error-handling.mdc
  .cursor/rules/typescript-coding-guidelines.mdc
  .github/workflows/ai-pr-review.yml
  CLAUDE.md
  apps/mcp/linear/package.json
  apps/mcp/linear/src/main.ts
  apps/mcp/linear/tsconfig.build.json
  apps/mcp/linear/turbo.json
  apps/mcp/notion/package.json
  libs/@local/hash-backend-utils/src/linear.ts
  libs/@local/repo-chores/node/package.json
  libs/@local/repo-chores/node/scripts/ai-pr-review.ts
  libs/@local/repo-chores/node/scripts/ai-pr-review/add-diff-line-numbers.ts
  libs/@local/repo-chores/node/scripts/ai-pr-review/fix-json-formatting.ts
  libs/@local/repo-chores/node/scripts/ai-pr-review/generate-comment-replies.ts
  libs/@local/repo-chores/node/scripts/ai-pr-review/generate-pr-review.ts
  libs/@local/repo-chores/node/scripts/ai-pr-review/get-pr-comments.ts
  libs/@local/repo-chores/node/scripts/ai-pr-review/get-pr-info.ts
  yarn.lock
Due: markdownlint, prettier, yarn

fix ts
  apps/hash-api/src/graph/ontology/primitive/entity-type.ts
  apps/hash-api/src/graphql/resolvers/ontology/entity-type.ts
  apps/hash-frontend/src/graphql/queries/ontology/entity-type.queries.ts
  apps/hash-frontend/src/pages/shared/entity.tsx
  apps/hash-frontend/src/pages/shared/entity/entity-editor/types-section/use-get-type-change-details.ts
  apps/hash-frontend/src/pages/shared/entity/shared/use-handle-type-changes.ts
  apps/hash-frontend/src/pages/shared/use-get-closed-multi-entity-type.ts
  libs/@local/hash-isomorphic-utils/src/graphql/type-defs/ontology/entity-type.typedef.ts
  tests/hash-backend-integration/src/tests/graph/knowledge/primitive/entity.test.ts
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/entity-type.test.ts
Due: prettier

fix test. fix condition for upload playwright report
  .github/workflows/test.yml
  tests/hash-backend-integration/src/tests/graph/ontology/primitive/entity-type.test.ts
Due: prettier

add retry logic and max retries to ai pr reviewer
  .github/workflows/ai-pr-review.yml
  libs/@local/repo-chores/node/scripts/ai-pr-review/generate-comment-replies.ts
  libs/@local/repo-chores/node/scripts/ai-pr-review/generate-pr-review.ts
Due: prettier

Path conditions:
  markdownlint: any of: *.md
  prettier: any of: *.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}
  yarn: any of: {*/package.json, package.json}
  sqlfluff: any of: *.sql
  rust: any of: *.rs
  toml: any of: *.toml
