Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    biome:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: biome format --write --staged || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: rustfmt {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: taplo format {staged_files} || true
      stage_fixed: true

FE-43: Rename geometric-polar-map and distanceFromBorder
  libs/@hashintel/refractive/src/hoc/refractive.tsx
  libs/@hashintel/refractive/src/maps/calculate-circle-map.ts
  libs/@hashintel/refractive/src/maps/calculate-rounded-square-map.ts
  libs/@hashintel/refractive/src/maps/polar-distance-to-border-map.ts
  libs/@hashintel/refractive/src/maps/process-pixel.type.ts
  libs/@hashintel/refractive/stories/internals/polar-distance-map.stories.tsx
Due: biome

Adjust prop names in @hashintel/petrinaut
  libs/@hashintel/petrinaut/src/notifications/notifications-provider.tsx
  libs/@hashintel/petrinaut/src/views/Editor/components/BottomBar/bottom-bar.tsx
Due: biome

FE-43: Extract FilterShell, PolarToCartesian, and generateMagnitudeTable
  libs/@hashintel/refractive/src/components/filter-obb.tsx
  libs/@hashintel/refractive/src/components/filter-polar-hires.tsx
  libs/@hashintel/refractive/src/components/filter-polar.tsx
  libs/@hashintel/refractive/src/components/filter-shell.tsx
  libs/@hashintel/refractive/src/components/filter.tsx
  libs/@hashintel/refractive/src/components/polar-to-cartesian.tsx
  libs/@hashintel/refractive/src/helpers/generate-table-values.ts
Due: biome

FE-43: Rename Geometric Polar Map story to Polar DistanceToBorder Map
  libs/@hashintel/refractive/stories/internals/polar-distance-map.stories.tsx
Due: biome

FE-43: Remove surface equations story
  libs/@hashintel/refractive/stories/internals/surface-equations.stories.tsx
Due: biome

FE-43: Move ResizeObserver into CompositeParts and add compositing control
  libs/@hashintel/refractive/src/components/composite/parts.tsx
  libs/@hashintel/refractive/src/components/filter-shell.tsx
  libs/@hashintel/refractive/src/hoc/refractive.tsx
  libs/@hashintel/refractive/stories/playground.stories.tsx
Due: biome

FE-43: Consolidate filter pipeline into FilterShell with compositing prop
  libs/@hashintel/refractive/src/components/composite/image.tsx
  libs/@hashintel/refractive/src/components/composite/parts.tsx
  libs/@hashintel/refractive/src/components/filter-obb.tsx
  libs/@hashintel/refractive/src/components/filter-polar-hires.tsx
  libs/@hashintel/refractive/src/components/filter-polar.tsx
  libs/@hashintel/refractive/src/components/filter-shell.tsx
  libs/@hashintel/refractive/src/components/filter.tsx
  libs/@hashintel/refractive/src/hoc/refractive.tsx
  libs/@hashintel/refractive/src/maps/displacement-map.ts
  libs/@hashintel/refractive/src/maps/displacement-radius.ts
  libs/@hashintel/refractive/src/maps/geometric-polar-map.ts
  libs/@hashintel/refractive/src/maps/polar-distance-map.ts
  libs/@hashintel/refractive/src/maps/specular.ts
  libs/@hashintel/refractive/stories/filters/filter-obb.stories.tsx
  libs/@hashintel/refractive/stories/filters/filter-polar-hires.stories.tsx
  libs/@hashintel/refractive/stories/filters/filter-polar.stories.tsx
  libs/@hashintel/refractive/stories/filters/filter.stories.tsx
  libs/@hashintel/refractive/stories/internals/displacement-map.stories.tsx
  libs/@hashintel/refractive/stories/internals/polar-distance-map.stories.tsx
  libs/@hashintel/refractive/stories/internals/specular-map.stories.tsx
  libs/@hashintel/refractive/stories/internals/surface-equations.stories.tsx
Due: biome

FE-43: Rename bezel/glass terminology to edge/thickness
  libs/@hashintel/refractive/src/helpers/generate-table-values.ts
  libs/@hashintel/refractive/src/helpers/surface-equations.ts
  libs/@hashintel/refractive/src/hoc/refractive.tsx
  libs/@hashintel/refractive/src/maps/displacement-radius.ts
  libs/@hashintel/refractive/src/maps/geometric-polar-map.ts
  libs/@hashintel/refractive/stories/helpers.tsx
  libs/@hashintel/refractive/stories/internals/surface-equations.stories.tsx
  libs/@hashintel/refractive/stories/playground.stories.tsx
Due: biome

FE-43: Rename PolarToCartesian to Refraction and absorb feDisplacementMap
  libs/@hashintel/refractive/src/components/filter-shell.tsx
  libs/@hashintel/refractive/src/components/refraction.tsx
Due: biome

FE-43: Add SpecularRim effect and move effects to components/effects/
  libs/@hashintel/refractive/src/components/effects/refraction.tsx
  libs/@hashintel/refractive/src/components/effects/specular-rim.tsx
  libs/@hashintel/refractive/src/components/filter-shell.tsx
  libs/@hashintel/refractive/src/hoc/refractive.tsx
  libs/@hashintel/refractive/stories/playground.stories.tsx
Due: biome

FE-43: Add DiffuseReflection effect, shared lightAngle, and Playground controls
  libs/@hashintel/refractive/src/components/effects/diffuse-reflection.tsx
  libs/@hashintel/refractive/src/components/effects/specular-rim.tsx
  libs/@hashintel/refractive/src/components/filter-shell.tsx
  libs/@hashintel/refractive/src/helpers/generate-table-values.ts
  libs/@hashintel/refractive/src/hoc/refractive.tsx
  libs/@hashintel/refractive/stories/playground.stories.tsx
Due: biome

Fix arc selected opacity color
  libs/@hashintel/petrinaut/src/views/SDCPN/components/arc.tsx
  libs/@hashintel/petrinaut/src/views/SDCPN/components/classic-transition-node.tsx
  libs/@hashintel/petrinaut/src/views/SDCPN/hooks/use-sdcpn-to-react-flow.ts
Due: biome

pin dompurify version
  package.json
  yarn.lock
Due: biome

update axios
  apps/hash-api/package.json
  yarn.lock
Due: biome, yarn

H-6439: Pin `dompurify`, update rudderstack (#8649)
  apps/hash-api/package.json
  package.json
  yarn.lock
Due: biome, yarn

Added hover effects
  libs/@hashintel/petrinaut/src/state/editor-context.ts
  libs/@hashintel/petrinaut/src/state/editor-provider.tsx
  libs/@hashintel/petrinaut/src/state/mutation-provider.test.tsx
  libs/@hashintel/petrinaut/src/views/SDCPN/components/classic-place-node.tsx
  libs/@hashintel/petrinaut/src/views/SDCPN/components/classic-transition-node.tsx
  libs/@hashintel/petrinaut/src/views/SDCPN/hooks/use-sdcpn-to-react-flow.ts
  libs/@hashintel/petrinaut/src/views/SDCPN/sdcpn-view.tsx
Due: biome

Fix lint issues
  libs/@hashintel/petrinaut/src/state/editor-provider.tsx
  libs/@hashintel/petrinaut/src/state/mutation-provider.test.tsx
Due: biome

Add transition to hover color changes
  libs/@hashintel/petrinaut/src/views/SDCPN/components/classic-place-node.tsx
  libs/@hashintel/petrinaut/src/views/SDCPN/components/classic-transition-node.tsx
  libs/@hashintel/petrinaut/src/views/SDCPN/components/node-card.tsx
Due: biome

Dont mark notSelected when not an item on the canvas
  libs/@hashintel/petrinaut/src/state/editor-context.ts
  libs/@hashintel/petrinaut/src/state/editor-provider.tsx
Due: biome

Fix opacity calculation in arc
  libs/@hashintel/petrinaut/src/lib/get-connections.ts
  libs/@hashintel/petrinaut/src/views/SDCPN/hooks/use-sdcpn-to-react-flow.ts
Due: biome

Add hovered node check for classic nodes
  libs/@hashintel/petrinaut/src/views/SDCPN/components/place-node.tsx
  libs/@hashintel/petrinaut/src/views/SDCPN/components/transition-node.tsx
Due: biome

chore: remove OFFSET 0
  libs/@local/hashql/eval/src/postgres/mod.rs
Due: rust

Clean up hovered items when an item gets removed
  libs/@hashintel/petrinaut/src/state/use-selection-cleanup.ts
Due: biome

Fix bg selected state
  libs/@hashintel/petrinaut/src/state/editor-context.ts
  libs/@hashintel/petrinaut/src/state/editor-provider.tsx
  libs/@hashintel/petrinaut/src/views/SDCPN/sdcpn-view.tsx
Due: biome

FE-597: Show SSO provider buttons on signup page (#8639)
  apps/hash-frontend/src/pages/shared/sso-provider-buttons.tsx
  apps/hash-frontend/src/pages/signin.page.tsx
  apps/hash-frontend/src/pages/signup.page/signup-registration-form.tsx
Due: biome

Fix canvas selection logic
  libs/@hashintel/petrinaut/src/state/editor-provider.tsx
Due: biome

Fix notSelected inset borders
  libs/@hashintel/petrinaut/src/views/SDCPN/components/classic-transition-node.tsx
  libs/@hashintel/petrinaut/src/views/SDCPN/components/node-card.tsx
Due: biome

update brace-expansion
  yarn.lock
Due: none

BE-516: Upgrade rustls-webpki to 0.103.12
  Cargo.lock
Due: none

update yaml
  yarn.lock
Due: none

H-6442: Update yaml, brace-expansion in hash (#8653)
  yarn.lock
Due: none

BE-516: Upgrade rustls-webpki to 0.103.12 (#8652)
  Cargo.lock
Due: none

FE-585: Petrinaut – add hover + selected emphasis for nodes (#8632)
  libs/@hashintel/petrinaut/src/lib/get-connections.ts
  libs/@hashintel/petrinaut/src/state/editor-context.ts
  libs/@hashintel/petrinaut/src/state/editor-provider.tsx
  libs/@hashintel/petrinaut/src/state/mutation-provider.test.tsx
  libs/@hashintel/petrinaut/src/state/use-selection-cleanup.ts
  libs/@hashintel/petrinaut/src/views/SDCPN/components/arc.tsx
  libs/@hashintel/petrinaut/src/views/SDCPN/components/classic-place-node.tsx
  libs/@hashintel/petrinaut/src/views/SDCPN/components/classic-transition-node.tsx
  libs/@hashintel/petrinaut/src/views/SDCPN/components/node-card.tsx
  libs/@hashintel/petrinaut/src/views/SDCPN/components/place-node.tsx
  libs/@hashintel/petrinaut/src/views/SDCPN/components/transition-node.tsx
  libs/@hashintel/petrinaut/src/views/SDCPN/hooks/use-sdcpn-to-react-flow.ts
  libs/@hashintel/petrinaut/src/views/SDCPN/sdcpn-view.tsx
  libs/@hashintel/petrinaut/src/views/SDCPN/styles/styling.ts
Due: biome

FE-522: Add basic subnet support for component-based net composition
  libs/@hashintel/petrinaut/src/constants/ui-subviews.ts
  libs/@hashintel/petrinaut/src/core/types/sdcpn.ts
  libs/@hashintel/petrinaut/src/examples/hospital-network.ts
  libs/@hashintel/petrinaut/src/file-format/import-sdcpn.ts
  libs/@hashintel/petrinaut/src/file-format/remove-visual-info.ts
  libs/@hashintel/petrinaut/src/file-format/types.ts
  libs/@hashintel/petrinaut/src/state/mutation-context.ts
  libs/@hashintel/petrinaut/src/state/mutation-provider.tsx
  libs/@hashintel/petrinaut/src/state/sdcpn-context.ts
  libs/@hashintel/petrinaut/src/views/Editor/editor-view.tsx
  libs/@hashintel/petrinaut/src/views/Editor/panels/LeftSideBar/subviews/nets-list.tsx
Due: biome

update vite
  yarn.lock
Due: none

more vite updates
  apps/petrinaut-website/package.json
  libs/@hashintel/petrinaut/package.json
  libs/@hashintel/refractive/package.json
  yarn.lock
Due: biome, yarn

add dependency update changeset to @blockprotocol/graph
  .changeset/calm-sites-dress.md
Due: markdownlint, biome

update effect
  apps/hash-api/package.json
  libs/@local/eslint/package.json
  libs/@local/graph/sdk/typescript/package.json
  libs/@local/harpc/client/typescript/package.json
  yarn.lock
Due: biome, yarn

update vitesT
  libs/@hashintel/petrinaut/package.json
  yarn.lock
Due: biome, yarn
