Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, prettier, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: frontend style
      glob: "*.md"
      run: yarn run markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    prettier:
      tags: frontend style
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: yarn run prettier --write {staged_files} || true
      stage_fixed: true
    yarn:
      tags: frontend style
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:yarn-deduplicate
      stage_fixed: true
    sqlfluff:
      tags: backend style
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: backend style
      glob: "*.rs"
      run: cargo fmt -- {staged_files} || true
      stage_fixed: true
    toml:
      tags: backend style
      glob: "*.toml"
      run: yarn run taplo format {staged_files} || true
      stage_fixed: true

add protocol dropdown to early access form website input
  apps/hash-frontend/src/pages/index.page/waitlisted/early-access-modal.tsx
  apps/hash-frontend/src/pages/shared/url-input.tsx
Due: prettier

fix protocol/path setting in url input
  apps/hash-frontend/src/pages/shared/url-input.tsx
Due: prettier

remove gap between protocol and rest in url input
  apps/hash-frontend/src/pages/shared/url-input.tsx
  libs/@hashintel/design-system/src/theme/components/inputs/mui-select-theme-options.tsx
  libs/@hashintel/design-system/src/theme/components/navigation/mui-menu-item-theme-options.ts
Due: prettier

account for protocol being entered/pasted into rest box
  apps/hash-frontend/src/pages/shared/url-input.tsx
Due: prettier

H-3879: Add protocol dropdown to early access form URL input (#6106)
  apps/hash-frontend/src/pages/index.page/waitlisted/early-access-modal.tsx
  apps/hash-frontend/src/pages/shared/url-input.tsx
  libs/@hashintel/design-system/src/theme/components/inputs/mui-select-theme-options.tsx
  libs/@hashintel/design-system/src/theme/components/navigation/mui-menu-item-theme-options.ts
Due: prettier

TMP
  .env
  apps/hash-external-services/docker-compose.dev.yml
  apps/hash-external-services/docker-compose.yml
  libs/@local/graph/authorization/input.json
  libs/@local/graph/authorization/policies/test.rego
  libs/@local/graph/authorization/test.http
Due: prettier

Re-order docs
  apps/hashdotai/guide/05_workers/00_index.mdx
Due: prettier

Satisfy clippy
  libs/@local/harpc/client/rust/src/lib.rs
  libs/@local/harpc/client/rust/src/utils.rs
  libs/@local/harpc/net/src/session/server/transaction/mod.rs
  libs/@local/harpc/server/src/utils.rs
  libs/error-stack/src/ext/iter.rs
Due: rust

Ignore time difference less than 1 ms
  tests/graph/integration/postgres/lib.rs
  tests/graph/integration/postgres/multi_type.rs
Due: rust

Fix merge conflicts
  Cargo.lock
  Cargo.toml
Due: toml

Update libs/chonky/src/embedding/hugging_face_api.rs
  libs/chonky/src/embedding/hugging_face_api.rs
Due: rust

Satisfy clippy
  tests/graph/integration/postgres/lib.rs
Due: rust

switch to countEntities for notif and draft counts
  apps/hash-api/src/graphql/resolvers/index.ts
  apps/hash-api/src/graphql/resolvers/knowledge/entity/entity.ts
  apps/hash-frontend/src/graphql/queries/knowledge/entity.queries.ts
  apps/hash-frontend/src/shared/draft-entities-count-context.tsx
  apps/hash-frontend/src/shared/notification-count-context.tsx
  libs/@local/hash-isomorphic-utils/src/graphql/scalar-mapping.ts
  libs/@local/hash-isomorphic-utils/src/graphql/type-defs/knowledge/entity.typedef.ts
Due: prettier

wip: pagination in entities table
  apps/hash-frontend/src/graphql/queries/knowledge/entity.queries.ts
  apps/hash-frontend/src/shared/entity-type-entities-context.ts
  apps/hash-frontend/src/shared/use-entity-type-entities.tsx
  libs/@local/graph/sdk/typescript/src/entity.ts
  libs/@local/hash-isomorphic-utils/src/graphql/scalar-mapping.ts
  libs/@local/hash-isomorphic-utils/src/graphql/type-defs/knowledge/entity.typedef.ts
Due: prettier

wip update entities table for pagination / use new counts of types, webs etc
  apps/hash-frontend/src/components/hooks/use-archive-page.ts
  apps/hash-frontend/src/pages/entities.page.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/entities-table.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/entities-table/grid-view.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/entities-table/grid-view/grid-view-item-skeleton.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/entities-table/grid-view/grid-view-item-wrapper.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/entities-table/grid-view/grid-view-item.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/entities-table/text-icon-cell.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/entities-table/use-entities-table.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/entities-table/use-entities-table/types.ts
  apps/hash-frontend/src/pages/shared/entities-visualizer/entities-table/use-entities-table/worker.ts
  apps/hash-frontend/src/pages/shared/entities-visualizer/entities-table/use-get-entities-table-additional-csv-data.ts
  apps/hash-frontend/src/pages/shared/entities-visualizer/use-entities-visualizer-data.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/entities-tab.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/entity-type-tabs.tsx
  apps/hash-frontend/src/pages/types/[[...type-kind]].page/types-table.tsx
  apps/hash-frontend/src/shared/entity-type-entities-context.ts
  apps/hash-frontend/src/shared/entity-type-entities-context/use-entity-type-entities-context-value.tsx
  apps/hash-frontend/src/shared/table-header.tsx
  apps/hash-frontend/src/shared/use-entity-type-entities.tsx
Due: prettier

more progress on converting entities table to pagination / all filters via API
  apps/hash-frontend/src/components/grid/grid.tsx
  apps/hash-frontend/src/components/hooks/block-protocol-functions/knowledge/use-block-protocol-create-entity.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/create-entity-page.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/entities-table.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/entities-table/use-entities-table.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/entities-table/use-entities-table/types.ts
  apps/hash-frontend/src/pages/shared/entities-visualizer/entities-table/use-entities-table/worker.ts
  apps/hash-frontend/src/pages/shared/entities-visualizer/use-entities-visualizer-data.tsx
  apps/hash-frontend/src/pages/types/[[...type-kind]].page/types-table.tsx
  apps/hash-frontend/src/shared/draft-entities-count-context.tsx
  apps/hash-frontend/src/shared/table-header.tsx
  apps/hash-frontend/src/shared/use-entity-type-entities.tsx
Due: prettier

remove console logs
  apps/hash-frontend/src/pages/shared/entities-visualizer/entities-table.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/entities-table/use-entities-table.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/entities-table/use-entities-table/worker.ts
Due: prettier

remove inheritance depth from ignored system types
  libs/@local/hash-isomorphic-utils/src/graph-queries.ts
Due: prettier

more work on moving entities table handling to api
  apps/hash-api/src/graphql/resolvers/knowledge/entity/entity.ts
  apps/hash-frontend/src/pages/shared/entities-visualizer.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/entities-table/text-icon-cell.tsx
  apps/hash-frontend/src/pages/types/[[...type-kind]].page/types-table.tsx
  apps/hash-frontend/src/shared/draft-entities-count-context.tsx
  apps/hash-frontend/src/shared/layout/layout-with-sidebar/sidebar/account-entities-list.tsx
  apps/hash-frontend/src/shared/table-header.tsx
  apps/hash-frontend/src/shared/use-entity-type-entities.tsx
Due: prettier

simplify sorting, improve typing in entities table. implement sorting via API
  apps/hash-frontend/src/components/grid/grid.tsx
  apps/hash-frontend/src/components/grid/utils/column-filter-menu.tsx
  apps/hash-frontend/src/components/grid/utils/filtering.ts
  apps/hash-frontend/src/components/grid/utils/rows.ts
  apps/hash-frontend/src/components/grid/utils/sorting.ts
  apps/hash-frontend/src/components/grid/utils/use-draw-header.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/outgoing-links-section.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/properties-section/property-table/use-rows.ts
  apps/hash-frontend/src/pages/shared/entities-visualizer.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/entities-table.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/entities-table/types.ts
  apps/hash-frontend/src/pages/shared/entities-visualizer/entities-table/use-entities-table.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/entities-table/use-entities-table/worker.ts
  apps/hash-frontend/src/pages/shared/entities-visualizer/use-entities-visualizer-data.tsx
  apps/hash-frontend/src/pages/types/[[...type-kind]].page/types-table.tsx
  apps/hash-frontend/src/shared/table-header.tsx
  apps/hash-frontend/src/shared/use-entity-type-entities.tsx
Due: prettier

lint and bug fixes
  apps/hash-frontend/src/pages/shared/entities-visualizer/entities-table.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/entities-table/use-entities-table.tsx
  apps/hash-frontend/src/shared/table-header.tsx
  apps/hash-frontend/src/shared/table-header/export-to-csv-button.tsx
Due: prettier

lint fixes
  apps/hash-frontend/src/pages/shared/entities-visualizer/entities-table.tsx
Due: prettier

rename system web hash -> h. lint fixes
  apps/hash-api/src/generate-ontology-type-ids.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/labels-icons-data-types.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/000-create-first-custom-data-types.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/001-create-hash-system-types.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/004-create-machines-update-users.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/005-create-hash-system-entities-and-web-bots.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/007-create-api-usage-tracking.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/008-create-plugin-settings-update-users.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/009-add-upload-completed-at-property-type.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/010-create-office-file-types.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/012-create-google-sheets-system-types.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/013-add-enabled-feature-flags-property.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/015-add-flow-types.dev.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/016-add-initial-currency-data-types.dev.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/017-add-use-case-form-and-example-org.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/018-add-application-preferences-property.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/019-add-doc-company-and-person-types.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/provenance-defaults.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/system-webs-and-entities.ts
  apps/hash-api/src/graph/knowledge/system-types/hash-instance.ts
  apps/hash-api/src/seed-data/seed-flow-test-types.ts
  apps/hash-frontend/src/middleware/return-types-as-json.ts
  libs/@local/hash-backend-utils/src/hash-instance.ts
  libs/@local/hash-backend-utils/src/machine-actors.ts
  libs/@local/hash-isomorphic-utils/src/ontology-types.ts
  libs/@local/hash-isomorphic-utils/src/system-types/google/googlesheetsfile.ts
Due: prettier

remove titlePlural / inverse.pluralTitle from links in migration scripts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/labels-icons-data-types.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/001-create-hash-system-types.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/007-create-api-usage-tracking.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/012-create-google-sheets-system-types.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/015-add-flow-types.dev.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/019-add-doc-company-and-person-types.migration.ts
Due: prettier

handle malformed URLs in early access form
  apps/hash-frontend/src/pages/index.page/waitlisted/early-access-modal.tsx
  libs/@hashintel/design-system/src/modal.tsx
  libs/@hashintel/type-editor/src/entity-type-editor/shared/type-form.tsx
Due: prettier

lint fixes
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/000-create-first-custom-data-types.migration.ts
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/019-add-doc-company-and-person-types.migration.ts
Due: prettier

update check for isHashEntityType
  apps/hash-api/src/graph/knowledge/system-types/file.ts
Due: prettier

add missing hasCoverImage link to user type
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/001-create-hash-system-types.migration.ts
Due: prettier

support bulk file upload on files type page and in new goal creation
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/file-preview-section.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/outgoing-links-section/cells/linked-with-cell/linked-entity-selector.tsx
  apps/hash-frontend/src/pages/goals/new.page/file-settings.tsx
  apps/hash-frontend/src/pages/settings/shared/file-upload-dropzone.tsx
  apps/hash-frontend/src/pages/settings/shared/image-field.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/file-uploads-tab.tsx
  apps/hash-frontend/src/shared/file-upload-context.tsx
Due: prettier

H-3914: Enable selecting multiple files to upload at once (#6152)
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/001-create-hash-system-types.migration.ts
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/file-preview-section.tsx
  apps/hash-frontend/src/pages/[shortname]/entities/[entity-uuid].page/entity-editor/links-section/outgoing-links-section/cells/linked-with-cell/linked-entity-selector.tsx
  apps/hash-frontend/src/pages/goals/new.page/file-settings.tsx
  apps/hash-frontend/src/pages/settings/shared/file-upload-dropzone.tsx
  apps/hash-frontend/src/pages/settings/shared/image-field.tsx
  apps/hash-frontend/src/pages/shared/entity-type-page/file-uploads-tab.tsx
  apps/hash-frontend/src/shared/file-upload-context.tsx
Due: prettier

add examples to system prompt. other tweaks
  .vscode/settings.json
  apps/hash-ai-worker-ts/src/activities/shared/match-existing-entity.optimize.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/shared/match-existing-entity.ts
  apps/hash-ai-worker-ts/src/activities/shared/optimize-system-prompt.ts
  apps/hash-ai-worker-ts/src/activities/shared/optimize-system-prompt/improve-system-prompt.ts
Due: prettier

Return error instead of `panic` in `SelectCompiler`
  Cargo.lock
  apps/hash-graph/src/subcommand/server.rs
  libs/@local/graph/api/src/rest/entity.rs
  libs/@local/graph/postgres-store/Cargo.toml
  libs/@local/graph/postgres-store/src/store/postgres/crud.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/entity_type.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/read.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/compile.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/expression/where_clause.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/mod.rs
Due: rust, toml

Satisfy clippy
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/condition.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/statement/select.rs
Due: rust

bug fixes / doc improvements
  apps/hash-ai-worker-ts/README.md
  apps/hash-ai-worker-ts/package.json
  apps/hash-ai-worker-ts/src/activities/flow-activities/persist-entities-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/persist-entity-action.ts
  apps/hash-ai-worker-ts/src/activities/shared/find-existing-entity.ts
Due: markdownlint, prettier, yarn

lint fixes
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/shared/deduplicate-entities.ts
Due: prettier

H-3919: Return error instead of `panic` in `SelectCompiler` (#6163)
  Cargo.lock
  apps/hash-graph/src/subcommand/server.rs
  libs/@local/graph/api/src/rest/entity.rs
  libs/@local/graph/postgres-store/Cargo.toml
  libs/@local/graph/postgres-store/src/store/postgres/crud.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/entity_type.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/read.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/compile.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/condition.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/expression/where_clause.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/statement/select.rs
Due: rust, toml

prompt / test tweaks
  apps/hash-ai-worker-ts/src/activities/shared/match-existing-entity.optimize.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/shared/match-existing-entity.ts
Due: prettier
