Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    biome:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: biome format --write --staged || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: rustfmt {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: taplo format {staged_files} || true
      stage_fixed: true

Run every Petrinaut assistant on one default model: GPT-6 Luna at xhigh
  .changeset/petrinaut-ai-model.md
  apps/brunch-agent/.env.development
  apps/brunch-agent/README.md
  apps/brunch-agent/src/agents/chat-agent/agent.ts
  apps/brunch-agent/src/app.ts
  apps/brunch-agent/src/chat-model.ts
  apps/brunch-agent/src/dev-configuration-preflight.ts
  apps/brunch-agent/src/evaluations/persona/launch.test.ts
  apps/brunch-agent/src/evaluations/persona/launch/role-settings.ts
  apps/brunch-agent/src/openai-provider.ts
  apps/brunch-agent/test/chat-agent-compaction.test.ts
  apps/brunch-agent/test/dev-configuration-preflight.test.ts
  apps/petrinaut-website/README.md
  apps/petrinaut-website/api/chat.ts
  libs/@hashintel/petrinaut-core/src/ai.ts
  libs/@hashintel/petrinaut-core/src/index.ts
Due: markdownlint, biome

Port the worked-model projection tracer to integrated Brunch tools
  apps/brunch-agent/test/worked-model-net-projection.integration.ts
Due: biome

Rename the dev source export condition to @dev/source and document it
  apps/brunch-agent/vite.config.ts
  apps/petrinaut-website/vite.config.ts
  libs/@hashintel/brunch-agent/ARCHITECTURE.md
  libs/@hashintel/brunch-agent/packages/core/package.json
  libs/@hashintel/brunch-agent/packages/plugin-claims/package.json
  libs/@hashintel/brunch-agent/packages/plugin-dafny/package.json
  libs/@hashintel/brunch-agent/packages/plugin-gherkin/package.json
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/package.json
  libs/@hashintel/brunch-agent/packages/transport-aisdk/package.json
Due: markdownlint, biome, yarn

Build Brunch core before the transport's unit tests
  libs/@hashintel/brunch-agent/packages/transport-aisdk/docs/task-dependencies.json
  libs/@hashintel/brunch-agent/packages/transport-aisdk/turbo.json
Due: biome

Carry FE-1778's Voice defaults into the restored Brunch Labs controls
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
Due: biome

Credit batched arc deletions to the deleted arc
  apps/brunch-agent/src/conversation/net-changes.ts
  apps/brunch-agent/test/net-changes.test.ts
Due: biome

Keep reasoning settings with the model that overrides them
  apps/brunch-agent/README.md
  apps/brunch-agent/src/agents/chat-agent/agent.ts
  apps/brunch-agent/src/chat-model.ts
  apps/brunch-agent/src/evaluations/matched-parity/configuration.ts
  apps/brunch-agent/test/dev-configuration-preflight.test.ts
  apps/brunch-agent/test/matched-parity-evaluation.test.ts
  apps/petrinaut-website/README.md
  apps/petrinaut-website/api/chat.ts
Due: markdownlint, biome

Restore the admission-controls suite on the remaining assistant modes
  apps/brunch-agent/test/integration/admission-controls.integration.ts
  apps/brunch-agent/test/integration/admission-controls.test.ts
Due: biome

Match only exact placeholder titles in matched-parity summaries
  apps/brunch-agent/src/evaluations/matched-parity/summary.ts
Due: biome

Keep test-only helpers out of Brunch package entry points
  apps/brunch-agent/src/evaluations/persona/browser-turn.ts
  apps/petrinaut-website/src/examples/catalog-metadata.ts
  apps/petrinaut-website/src/examples/catalog.ts
  apps/petrinaut-website/src/examples/example-search.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/documents/document-repository.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-turn-controller.ts
  libs/@hashintel/brunch-agent/packages/core/src/client-tools.ts
  libs/@hashintel/brunch-agent/packages/core/src/conversation/ask-tool-contract.ts
  libs/@hashintel/brunch-agent/packages/core/src/index.ts
  libs/@hashintel/brunch-agent/packages/core/src/runbook-ir.ts
  libs/@hashintel/brunch-agent/packages/core/src/workpiece-tools.ts
  libs/@hashintel/brunch-agent/packages/core/src/workpiece.ts
  libs/@hashintel/brunch-agent/packages/core/test/client-tools.test.ts
  libs/@hashintel/brunch-agent/packages/core/test/update-workpiece.test.ts
  libs/@hashintel/brunch-agent/packages/core/test/workpiece.test.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/src/contextual-user-message.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/src/index.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/test/chat-transport.test.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/test/client-tool-history.test.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/test/client-tool-result.test.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/test/live-tool-stream.test.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/test/ui-stream.test.ts
Due: biome

Drop unused Brunch dependencies and declare the website's test dependencies
  apps/brunch-agent/package.json
  apps/petrinaut-website/package.json
  libs/@hashintel/brunch-agent/packages/core/package.json
  yarn.lock
Due: biome, yarn

Add a Brunch-scoped knip and fallow reduction analysis script
  libs/@hashintel/brunch-agent/scripts/reduction-analysis/fallow.json
  libs/@hashintel/brunch-agent/scripts/reduction-analysis/knip.json
  libs/@hashintel/brunch-agent/scripts/reduction-analysis/run.sh
  libs/@hashintel/brunch-agent/scripts/reduction-analysis/summarize.mts
Due: biome

Consolidate duplicated Brunch build config, browser-call handling and status pages
  apps/brunch-agent/src/app.ts
  apps/brunch-agent/src/conversation/browser-call-rendezvous.ts
  apps/brunch-agent/src/conversation/net-changes.ts
  apps/brunch-agent/src/conversation/why.ts
  apps/brunch-agent/src/http/browser-calls.ts
  apps/brunch-agent/src/http/worked-models.ts
  apps/petrinaut-website/src/main/app/brunch-demo/brunch-actual-mode-route.tsx
  apps/petrinaut-website/src/main/app/brunch-demo/brunch-petrinaut.tsx
  apps/petrinaut-website/src/routes/-not-found-page.tsx
  apps/petrinaut-website/src/shared/status-page.tsx
  libs/@hashintel/brunch-agent/library-vite-config.ts
  libs/@hashintel/brunch-agent/packages/core/turbo.json
  libs/@hashintel/brunch-agent/packages/core/vite.config.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/turbo.json
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/vite.config.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/turbo.json
  libs/@hashintel/brunch-agent/packages/transport-aisdk/vite.config.ts
Due: biome

Trim website Brunch integration tests and name files after the suite that runs them
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-draft-experiment-interactive-tool.authority.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/live-pending-tool.integration.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.canonical-state-change.integration.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.draft-panel.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/production-voice-availability.integration.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/voice-history-continuity.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/workpiece-refusal-presentation.integration.test.tsx
  apps/petrinaut-website/src/main/app/shared/petrinaut-jsdom.ts
  apps/petrinaut-website/src/main/app/voice-interview/buffered-admission.integration.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-browser-tools.test.tsx
  apps/petrinaut-website/src/main/app/voice-interview/voice-preview.test.ts
  apps/petrinaut-website/turbo.json
  apps/petrinaut-website/vitest.config.ts
  apps/petrinaut-website/vitest.integration.config.ts
Due: biome

Delete Brunch's Stock-over-Flue evaluation mode and its awaiting-client canonical tools
  apps/brunch-agent/README.md
  apps/brunch-agent/package.json
  apps/brunch-agent/src/agents/chat-agent/agent.ts
  apps/brunch-agent/src/agents/chat-agent/tool-catalogue.ts
  apps/brunch-agent/test/admission-voice-evidence.ts
  apps/brunch-agent/test/browser-witness/stock-over-flue.ts
  apps/brunch-agent/test/chat-agent-mode.test.ts
  apps/brunch-agent/test/integration/admission-controls.integration.ts
  apps/brunch-agent/test/integration/admission-controls.test.ts
  apps/petrinaut-website/docs/task-dependencies.json
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-conversation-id.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-conversation-id.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-preview-config.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-preview-config.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.canonical-state-change.integration.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.draft-panel.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/src/main/app/voice-interview/buffered-admission.integration.test.ts
  apps/petrinaut-website/turbo.json
  libs/@hashintel/brunch-agent/ARCHITECTURE.md
  libs/@hashintel/brunch-agent/docs/refactoring/manual-tour-and-review-prompt.md
  libs/@hashintel/brunch-agent/packages/core/src/constants.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/construction-mode.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/flue.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/index.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/initial-data.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/tools/petrinaut-construction.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/test/construction-tools.test.ts
Due: markdownlint, biome, yarn

Let query_workpiece share proposals except with its net read, refuse stale reads, and compare browser bindings key-order-independently
  apps/brunch-agent/src/agents/chat-agent/agent.ts
  apps/brunch-agent/src/app.ts
  apps/brunch-agent/src/conversation/browser-call-rendezvous.ts
  apps/brunch-agent/src/conversation/why.ts
  apps/brunch-agent/src/http/browser-calls.ts
  apps/brunch-agent/src/provider-admission.ts
  apps/brunch-agent/test/browser-call-rendezvous.test.ts
  apps/brunch-agent/test/net-changes.test.ts
  apps/brunch-agent/test/provider-admission.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/in-band-browser-call.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/in-band-browser-call.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/browser-metadata.ts
Due: biome

Move the shared Brunch library build config into the core package so pruned CI builds keep it
  libs/@hashintel/brunch-agent/packages/core/library-vite-config.ts
  libs/@hashintel/brunch-agent/packages/core/turbo.json
  libs/@hashintel/brunch-agent/packages/core/vite.config.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/turbo.json
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/vite.config.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/turbo.json
  libs/@hashintel/brunch-agent/packages/transport-aisdk/vite.config.ts
Due: biome

Settle the experiment draft in band like the canonical browser tools and derive browser tool names from the catalogue
  apps/brunch-agent/src/agents/chat-agent/agent.ts
  apps/brunch-agent/src/agents/chat-agent/context-projection.ts
  apps/brunch-agent/src/agents/chat-agent/tool-catalogue.ts
  apps/brunch-agent/src/app.ts
  apps/brunch-agent/src/conversation/browser-call-rendezvous.ts
  apps/brunch-agent/src/provider-admission.ts
  apps/brunch-agent/test/provider-admission.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-draft-experiment-interactive-tool.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/in-band-browser-call.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.draft-panel.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  libs/@hashintel/brunch-agent/ARCHITECTURE.md
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/flue.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/tools/draft-experiment.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/tools/petrinaut-construction.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/test/draft-experiment.test.ts
Due: markdownlint, biome

Let an experiment draft follow a net read without a settled Ledger
  apps/brunch-agent/src/agents/chat-agent/agent.ts
  apps/brunch-agent/test/browser-witness/integrated.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-draft-experiment-interactive-tool.authority.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-draft-experiment-interactive-tool.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.draft-panel.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/draft-experiment.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/flue.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/tools/draft-experiment.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/tools/petrinaut-construction.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/test/draft-experiment.test.ts
Due: biome

Drop Ledger coupling, stale mode labels and Stock repeats from Brunch's Petrinaut guidance
  libs/@hashintel/brunch-agent/packages/core/src/skills/elicitation/SKILL.md
  libs/@hashintel/brunch-agent/packages/core/src/workpiece-tools.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/draft-experiment.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/prompts/APPEND_SYSTEM.md
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/skills/sdcpn-modelling/SKILL.md
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/skills/sdcpn-modelling/references/checks.md
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/skills/sdcpn-modelling/references/experiment-configuration.md
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/skills/sdcpn-modelling/references/pn-construction.md
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/skills/sdcpn-modelling/templates/workpiece.md
Due: markdownlint, biome

Use `PartialEq` instead of `same`
  libs/problematic/rust/src/problem_type.rs
Due: rust

FE-1768: Let any coding agent play the Brunch persona through a browser bridge CLI
  apps/brunch-agent/.pi/extensions/brunch-persona-testing.ts
  apps/brunch-agent/.pi/extensions/brunch-persona-testing/README.md
  apps/brunch-agent/README.md
  apps/brunch-agent/src/chat-model.ts
  apps/brunch-agent/src/evaluations/persona/README.md
  apps/brunch-agent/src/evaluations/persona/browser-bridge.test.ts
  apps/brunch-agent/src/evaluations/persona/browser-bridge.ts
  apps/brunch-agent/src/evaluations/persona/brunch-turn.ts
  apps/brunch-agent/src/evaluations/persona/configuration.ts
  apps/brunch-agent/src/evaluations/persona/launch.test.ts
  apps/brunch-agent/src/evaluations/persona/launch.ts
  apps/brunch-agent/src/evaluations/persona/launch/agent.test.ts
  apps/brunch-agent/src/evaluations/persona/launch/agent.ts
  apps/brunch-agent/src/evaluations/persona/launch/bridge-log.ts
  apps/brunch-agent/src/evaluations/persona/launch/brief.test.ts
  apps/brunch-agent/src/evaluations/persona/launch/brief.ts
  apps/brunch-agent/src/evaluations/persona/launch/brief/axes/disclosure-forthcoming.md
  apps/brunch-agent/src/evaluations/persona/launch/brief/axes/disclosure-reticent.md
  apps/brunch-agent/src/evaluations/persona/launch/brief/axes/verbosity-expansive.md
  apps/brunch-agent/src/evaluations/persona/launch/brief/axes/verbosity-terse.md
  apps/brunch-agent/src/evaluations/persona/launch/brief/system.md
  apps/brunch-agent/src/evaluations/persona/launch/resume.ts
  apps/brunch-agent/src/evaluations/persona/launch/role-settings.ts
  apps/brunch-agent/src/evaluations/persona/launch/transcript.ts
  apps/brunch-agent/src/evaluations/persona/persona-cli.ts
  apps/brunch-agent/src/evaluations/persona/rpc-protocol.test.ts
  apps/brunch-agent/src/evaluations/persona/rpc-protocol.ts
  apps/brunch-agent/test/brunch-turn.test.ts
  apps/brunch-agent/test/persona-configuration.test.ts
  apps/brunch-agent/test/persona-extension-lifecycle.test.ts
  apps/brunch-agent/test/persona-extension.test.ts
  apps/brunch-agent/vitest.config.ts
  libs/@hashintel/brunch-agent/EVALUATIONS.md
Due: markdownlint, biome

Treat a persona message that begins with a dash as text rather than an option
  apps/brunch-agent/src/evaluations/persona/persona-cli.test.ts
  apps/brunch-agent/src/evaluations/persona/persona-cli.ts
Due: biome

Close the persona pane when its agent fails to start and report stopped bridge turns as aborted
  apps/brunch-agent/src/evaluations/persona/browser-bridge.test.ts
  apps/brunch-agent/src/evaluations/persona/browser-bridge.ts
  apps/brunch-agent/src/evaluations/persona/launch/agent.ts
Due: biome

fix: python workspace
  .config/mise/config.toml
  .config/mise/mise.lock
  .python-version
  apps/brunch-agent/docs/task-dependencies.json
  apps/hash-api/docs/task-dependencies.json
  apps/hash-frontend/docs/task-dependencies.json
  apps/petrinaut-opt/docs/task-dependencies.json
  apps/petrinaut-opt/package.json
  apps/petrinaut-opt/pyproject.toml
  apps/petrinaut-opt/turbo.json
  apps/petrinaut-opt/uv.lock
  apps/petrinaut-website/docs/task-dependencies.json
  libs/@hashintel/petrinaut-core/docs/task-dependencies.json
  libs/@hashintel/petrinaut/docs/task-dependencies.json
  libs/@local/petrinaut-arch-docs/docs/task-dependencies.json
  libs/@local/petrinaut-optimizer-client/docs/task-dependencies.json
  libs/@local/petrinaut-optimizer-core/docs/task-dependencies.json
  libs/@local/petrinaut-optimizer-core/package.json
  libs/@local/petrinaut-optimizer-core/pyproject.toml
  libs/@local/petrinaut-optimizer-core/uv.lock
  libs/@local/petrinaut-python/docs/task-dependencies.json
  libs/@local/petrinaut-python/package.json
  libs/@local/petrinaut-python/pyproject.toml
  libs/@local/petrinaut-python/turbo.json
  libs/@local/petrinaut-python/uv.lock
  pyproject.toml
  tests/hash-backend-integration/docs/task-dependencies.json
  turbo.json
  uv.lock
Due: biome, yarn, toml

chore: align Petrinaut Python task wiring
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
  apps/brunch-agent/docs/task-dependencies.json
  apps/hash-api/docs/task-dependencies.json
  apps/hash-frontend/docs/task-dependencies.json
  apps/petrinaut-docs/docs/task-dependencies.json
  apps/petrinaut-opt/docs/task-dependencies.json
  apps/petrinaut-opt/pyproject.toml
  apps/petrinaut-opt/turbo.json
  apps/petrinaut-website/docs/task-dependencies.json
  libs/@hashintel/petrinaut/docs/task-dependencies.json
  libs/@local/petrinaut-arch-docs/architecture.config.ts
  libs/@local/petrinaut-arch-docs/docs/task-dependencies.json
  libs/@local/petrinaut-arch-docs/package.json
  libs/@local/petrinaut-arch-docs/turbo.json
  libs/@local/petrinaut-optimizer-client/docs/task-dependencies.json
  libs/@local/petrinaut-optimizer-client/turbo.json
  libs/@local/petrinaut-optimizer-core/python/pyproject.toml
  libs/@local/petrinaut-optimizer-core/python/turbo.json
  libs/@local/petrinaut-python/docs/task-dependencies.json
  libs/@local/petrinaut-python/pyproject.toml
  libs/@local/petrinaut-python/turbo.json
  pyproject.toml
  tests/hash-backend-integration/docs/task-dependencies.json
  tests/hash-playwright/docs/task-dependencies.json
  turbo.json
  uv.lock
  yarn.lock
Due: biome, yarn, toml

Restore the machine status view in the Production with Machine Failure example
  libs/@hashintel/petrinaut-core/src/examples/production-with-machine-failure.ts
Due: biome

Add an experimental Kanban board setup screen
  libs/@hashintel/petrinaut/src/ui/views/Kanban/board-setup/board-setup.tsx
  libs/@hashintel/petrinaut/src/ui/views/Kanban/kanban-view.tsx
Due: biome

Float the board setup status panel and preview rules live
  libs/@hashintel/petrinaut/src/ui/views/Kanban/board-setup/board-setup.tsx
  libs/@hashintel/petrinaut/src/ui/views/Kanban/board-setup/draft-rules.test.ts
  libs/@hashintel/petrinaut/src/ui/views/Kanban/board-setup/draft-rules.ts
  libs/@hashintel/petrinaut/src/ui/views/Kanban/board-setup/rule-editor.tsx
  libs/@hashintel/petrinaut/src/ui/views/Kanban/board-setup/use-draft-board.ts
Due: biome

Fix board setup panel layout issues found in review
  libs/@hashintel/petrinaut/src/ui/views/Kanban/board-setup/board-setup.tsx
  libs/@hashintel/petrinaut/src/ui/views/Kanban/board-setup/draft-rules.test.ts
  libs/@hashintel/petrinaut/src/ui/views/Kanban/board-setup/draft-rules.ts
  libs/@hashintel/petrinaut/src/ui/views/Kanban/board-setup/rule-editor.tsx
Due: biome
