Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, prettier, yarn, sqlfluff, rust, toml

markdownlint:
  tags:
  - frontend
  - style
  run: yarn run markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

prettier:
  tags:
  - frontend
  - style
  run: yarn run prettier --write {staged_files} || true
  stage_fixed: true

yarn:
  tags:
  - frontend
  - style
  run: yarn fix:constraints && yarn fix:packagejson && yarn fix:yarn-deduplicate
  stage_fixed: true

sqlfluff:
  tags:
  - backend
  - style
  run: sqlfluff fix {staged_files} || true
  stage_fixed: true

rust:
  tags:
  - backend
  - style
  run: cargo fmt -- {staged_files} || true
  stage_fixed: true

toml:
  tags:
  - backend
  - style
  run: yarn run taplo format {staged_files} || true
  stage_fixed: true

BE-136: HashQL: Introduce anonymous variables inside the HIR (#7832)
  libs/@local/graph/api/src/rest/entity_query_request.rs
  libs/@local/hashql/ast/src/lowering/node_renumberer.rs
  libs/@local/hashql/compiletest/src/suite/eval_graph_read_entity.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_alias_replacement.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_checking.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_ctor.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_inference.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_inference_intrinsics.rs
  libs/@local/hashql/compiletest/src/suite/hir_lower_specialization.rs
  libs/@local/hashql/compiletest/src/suite/hir_reify.rs
  libs/@local/hashql/core/src/id.rs
  libs/@local/hashql/core/src/symbol/mod.rs
  libs/@local/hashql/core/src/symbol/table.rs
  libs/@local/hashql/eval/src/graph/read/filter.rs
  libs/@local/hashql/eval/src/graph/read/filter_expr.rs
  libs/@local/hashql/eval/src/graph/read/mod.rs
  libs/@local/hashql/hir/src/context.rs
  libs/@local/hashql/hir/src/fold/mod.rs
  libs/@local/hashql/hir/src/lib.rs
  libs/@local/hashql/hir/src/lower/alias.rs
  libs/@local/hashql/hir/src/lower/checking.rs
  libs/@local/hashql/hir/src/lower/ctor.rs
  libs/@local/hashql/hir/src/lower/error.rs
  libs/@local/hashql/hir/src/lower/inference.rs
  libs/@local/hashql/hir/src/lower/mod.rs
  libs/@local/hashql/hir/src/lower/specialization/error.rs
  libs/@local/hashql/hir/src/lower/specialization/mod.rs
  libs/@local/hashql/hir/src/node/closure.rs
  libs/@local/hashql/hir/src/node/let.rs
  libs/@local/hashql/hir/src/node/variable.rs
  libs/@local/hashql/hir/src/node/variable/local.rs
  libs/@local/hashql/hir/src/node/variable/mod.rs
  libs/@local/hashql/hir/src/node/variable/qualified.rs
  libs/@local/hashql/hir/src/pretty.rs
  libs/@local/hashql/hir/src/reify/mod.rs
  libs/@local/hashql/hir/src/visit.rs
Due: rust

Update dismiss-stale-approvals.yml
  .github/workflows/dismiss-stale-approvals.yml
Due: prettier

feat: pretty
  libs/@local/hashql/hir/src/pretty.rs
Due: rust

feat: make `IdProducer` and `IdCounter` generic
  libs/@local/hashql/core/src/id.rs
  libs/@local/hashql/core/src/lib.rs
  libs/@local/hashql/hir/src/context.rs
  libs/@local/hashql/hir/src/reify/mod.rs
Due: rust

feat: adjust fold + visit
  libs/@local/hashql/hir/src/fold/mod.rs
  libs/@local/hashql/hir/src/intern.rs
  libs/@local/hashql/hir/src/node/let.rs
  libs/@local/hashql/hir/src/visit.rs
Due: rust

feat: reify
  libs/@local/hashql/hir/src/reify/mod.rs
Due: rust

feat: eval
  libs/@local/hashql/eval/src/graph/read/filter.rs
  libs/@local/hashql/eval/src/graph/read/filter_expr.rs
  libs/@local/hashql/eval/src/graph/read/mod.rs
Due: rust

feat: lower
  libs/@local/hashql/hir/src/lower/alias.rs
  libs/@local/hashql/hir/src/lower/checking.rs
  libs/@local/hashql/hir/src/lower/inference.rs
  libs/@local/hashql/hir/src/lower/specialization/mod.rs
Due: rust

feat: remove unnecessary spans
  libs/@local/hashql/hir/src/intern.rs
  libs/@local/hashql/hir/src/node/access/field.rs
  libs/@local/hashql/hir/src/node/access/index.rs
  libs/@local/hashql/hir/src/node/access/mod.rs
  libs/@local/hashql/hir/src/node/branch/mod.rs
  libs/@local/hashql/hir/src/node/call.rs
  libs/@local/hashql/hir/src/node/closure.rs
  libs/@local/hashql/hir/src/node/data/dict.rs
  libs/@local/hashql/hir/src/node/data/list.rs
  libs/@local/hashql/hir/src/node/data/literal.rs
  libs/@local/hashql/hir/src/node/data/mod.rs
  libs/@local/hashql/hir/src/node/data/struct.rs
  libs/@local/hashql/hir/src/node/data/tuple.rs
  libs/@local/hashql/hir/src/node/graph/mod.rs
  libs/@local/hashql/hir/src/node/graph/read.rs
  libs/@local/hashql/hir/src/node/input.rs
  libs/@local/hashql/hir/src/node/let.rs
  libs/@local/hashql/hir/src/node/operation/binary.rs
  libs/@local/hashql/hir/src/node/operation/mod.rs
  libs/@local/hashql/hir/src/node/operation/type.rs
  libs/@local/hashql/hir/src/node/operation/unary.rs
  libs/@local/hashql/hir/src/node/variable/local.rs
  libs/@local/hashql/hir/src/node/variable/mod.rs
  libs/@local/hashql/hir/src/node/variable/qualified.rs
  libs/@local/hashql/hir/src/pretty.rs
  libs/@local/hashql/hir/src/visit.rs
Due: rust

feat: reify
  libs/@local/hashql/hir/src/fold/mod.rs
  libs/@local/hashql/hir/src/node/branch/if.rs
  libs/@local/hashql/hir/src/reify/mod.rs
  libs/@local/hashql/hir/src/visit.rs
Due: rust

fix: lowering + eval
  libs/@local/hashql/eval/src/graph/read/error.rs
  libs/@local/hashql/eval/src/graph/read/filter.rs
  libs/@local/hashql/eval/src/graph/read/filter_expr.rs
  libs/@local/hashql/eval/src/graph/read/mod.rs
  libs/@local/hashql/hir/src/lower/alias.rs
  libs/@local/hashql/hir/src/lower/checking.rs
  libs/@local/hashql/hir/src/lower/ctor.rs
  libs/@local/hashql/hir/src/lower/error.rs
  libs/@local/hashql/hir/src/lower/inference.rs
  libs/@local/hashql/hir/src/lower/specialization/mod.rs
  libs/@local/hashql/hir/src/node/mod.rs
  libs/@local/hashql/hir/tests/ui/lower/alias-replacement/generic-reassignment.stderr
  libs/@local/hashql/hir/tests/ui/lower/checking/call-invalid.stderr
  libs/@local/hashql/hir/tests/ui/lower/checking/closure-invalid-return-type.stderr
  libs/@local/hashql/hir/tests/ui/lower/checking/ctor-bounded-invalid.stderr
  libs/@local/hashql/hir/tests/ui/lower/checking/if-non-boolean.stderr
  libs/@local/hashql/hir/tests/ui/lower/checking/input-default-invalid.stderr
  libs/@local/hashql/hir/tests/ui/lower/checking/type-assertion-smaller.stderr
  libs/@local/hashql/hir/tests/ui/lower/checking/type-assertion-unrelated.stderr
  libs/@local/hashql/hir/tests/ui/lower/inference/bind-arguments-explicit.stderr
  libs/@local/hashql/hir/tests/ui/lower/inference/ctor-bounded-invalid.stderr
  libs/@local/hashql/hir/tests/ui/lower/inference/dict-empty.stderr
  libs/@local/hashql/hir/tests/ui/lower/inference/dict-multi-key.stderr
  libs/@local/hashql/hir/tests/ui/lower/inference/list-empty.stderr
  libs/@local/hashql/hir/tests/ui/lower/specialization/collect-custom-collect.stderr
Due: rust

fix: snapshots
  libs/@local/hashql/hir/tests/ui/lower/alias-replacement/generic-reassignment.stderr
  libs/@local/hashql/hir/tests/ui/lower/checking/call-invalid.stderr
  libs/@local/hashql/hir/tests/ui/lower/checking/closure-invalid-return-type.stderr
  libs/@local/hashql/hir/tests/ui/lower/checking/ctor-bounded-invalid.stderr
  libs/@local/hashql/hir/tests/ui/lower/checking/if-non-boolean.stderr
  libs/@local/hashql/hir/tests/ui/lower/checking/input-default-invalid.stderr
  libs/@local/hashql/hir/tests/ui/lower/checking/type-assertion-smaller.stderr
  libs/@local/hashql/hir/tests/ui/lower/checking/type-assertion-unrelated.stderr
  libs/@local/hashql/hir/tests/ui/lower/inference/bind-arguments-explicit.stderr
  libs/@local/hashql/hir/tests/ui/lower/inference/ctor-bounded-invalid.stderr
  libs/@local/hashql/hir/tests/ui/lower/inference/dict-empty.stderr
  libs/@local/hashql/hir/tests/ui/lower/inference/dict-multi-key.stderr
  libs/@local/hashql/hir/tests/ui/lower/inference/list-empty.stderr
  libs/@local/hashql/hir/tests/ui/lower/specialization/collect-custom-collect.stderr
Due: none

fix: spans
  libs/@local/hashql/eval/tests/ui/graph/read/entity/invalid-index-access-error.stderr
  libs/@local/hashql/hir/src/lower/alias.rs
  libs/@local/hashql/hir/src/lower/specialization/mod.rs
  libs/@local/hashql/hir/src/reify/mod.rs
  libs/@local/hashql/hir/tests/ui/lower/specialization/collect-custom-collect.jsonc
  libs/@local/hashql/hir/tests/ui/lower/specialization/collect-custom-collect.stderr
Due: rust

Bump transitive Cargo dependencies
  Cargo.lock
Due: none

Bump toolchain to 2025-10-06
  libs/@local/graph/postgres-store/src/lib.rs
  libs/antsi/src/lib.rs
  libs/error-stack/README.md
  libs/error-stack/macros/README.md
  libs/error-stack/src/lib.rs
  libs/sarif/src/lib.rs
  rust-toolchain.toml
Due: markdownlint, prettier, rust, toml

Use fork of `justjson`
  Cargo.lock
  Cargo.toml
Due: toml

H-5449: Add workflow to dismiss stale pull request approvals (#7835)
  .github/workflows/dismiss-stale-approvals.yml
Due: prettier

H-5454: Bump transitive cargo dependencies and toolchain (#7837)
  Cargo.lock
  Cargo.toml
  libs/@local/graph/postgres-store/src/lib.rs
  libs/antsi/src/lib.rs
  libs/error-stack/README.md
  libs/error-stack/macros/README.md
  libs/error-stack/src/lib.rs
  libs/sarif/src/lib.rs
  rust-toolchain.toml
Due: markdownlint, prettier, rust, toml

Print more disk usage information during CI runs
  .github/workflows/test.yml
Due: prettier

Update disk usage commands to report from root directory in CI workflow
  .github/workflows/test.yml
Due: prettier

Output more information
  .github/workflows/test.yml
Due: prettier

Remove big files
  .github/actions/clean-up-disk/action.yml
  .github/workflows/bench.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: prettier

Checkout before cleaning up disk
  .github/workflows/bench.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: prettier

Enhance disk cleanup action to provide detailed disk usage reports before and after cleanup
  .github/actions/clean-up-disk/action.yml
Due: prettier

Use `--max-depth` to limit `du` output depth for better readability
  .github/actions/clean-up-disk/action.yml
Due: prettier

Refactor disk usage reporting to improve clarity and efficiency; limit depth for better readability and streamline unused file removal process.
  .github/actions/clean-up-disk/action.yml
Due: prettier

Refactor disk space reporting to use parallel scanning for efficiency; limit output to largest directories for better readability
  .github/actions/clean-up-disk/action.yml
Due: prettier

Enhance disk space analysis by integrating ncdu for faster directory scanning; fallback to parallel du for compatibility
  .github/actions/clean-up-disk/action.yml
Due: prettier

Remove ncdu installation and usage for disk analysis; retain commented fallback to parallel du for clarity
  .github/actions/clean-up-disk/action.yml
Due: prettier

Refactor disk cleanup action to improve clarity; rename steps and enhance output messages for better user understanding
  .github/actions/clean-up-disk/action.yml
Due: prettier

remove unused folder
  .github/actions/clean-up-disk/action.yml
Due: prettier

chore: remove unused dependencies
  Cargo.lock
  Cargo.toml
  libs/@local/hashql/core/Cargo.toml
  libs/@local/hashql/syntax-jexpr/Cargo.toml
Due: toml

chore: remove unneeded dependencies in hashql-core
  Cargo.lock
  Cargo.toml
  libs/@local/hashql/core/Cargo.toml
Due: toml

SRE-33: Reduce disk usage in CI (#7842)
  .github/actions/clean-up-disk/action.yml
  .github/workflows/bench.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: prettier

BE-146: Remove unused dependencies from `hashql-syntax-jexpr` and `hashql-core` (#7841)
  Cargo.lock
  Cargo.toml
  libs/@local/hashql/core/Cargo.toml
  libs/@local/hashql/syntax-jexpr/Cargo.toml
Due: toml

Expose `queryEntities` GraphQL query and resolver
  apps/hash-api/src/graphql/resolvers/index.ts
  apps/hash-api/src/graphql/resolvers/knowledge/entity/entity.ts
  libs/@local/hash-isomorphic-utils/src/graphql/queries/entity.queries.ts
  libs/@local/hash-isomorphic-utils/src/graphql/type-defs/knowledge/entity.typedef.ts
Due: prettier

Path conditions:
  markdownlint: any of: *.md
  prettier: any of: *.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}
  yarn: any of: {*/package.json, package.json}
  sqlfluff: any of: *.sql
  rust: any of: *.rs
  toml: any of: *.toml
