Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

markdownlint:
  tags:
  - frontend
  - style
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

biome:
  tags:
  - frontend
  - style
  run: biome format --write --staged || true
  stage_fixed: true

yarn:
  tags:
  - frontend
  - style
  run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
  stage_fixed: true

sqlfluff:
  tags:
  - backend
  - style
  run: sqlfluff fix {staged_files} || true
  stage_fixed: true

rust:
  tags:
  - backend
  - style
  run: rustfmt {staged_files} || true
  stage_fixed: true

toml:
  tags:
  - backend
  - style
  run: taplo format {staged_files} || true
  stage_fixed: true

FE-249: move non-components out of ds-components component files
  libs/@hashintel/ds-components/src/components/Breadcumbs/breadcrumbs-entries.ts
  libs/@hashintel/ds-components/src/components/Breadcumbs/breadcrumbs-item-util.ts
  libs/@hashintel/ds-components/src/components/Breadcumbs/breadcrumbs-item.tsx
  libs/@hashintel/ds-components/src/components/Breadcumbs/breadcrumbs.tsx
  libs/@hashintel/ds-components/src/components/Button/button.stories.tsx
  libs/@hashintel/ds-components/src/components/Button/button.tsx
  libs/@hashintel/ds-components/src/components/Button/icon-size-map.ts
  libs/@hashintel/ds-components/src/components/Chip/chip-sizes.ts
  libs/@hashintel/ds-components/src/components/Chip/chip.stories.tsx
  libs/@hashintel/ds-components/src/components/Chip/chip.tsx
  libs/@hashintel/ds-components/src/components/Combobox/combobox.tsx
  libs/@hashintel/ds-components/src/components/Filter/sort-menu.tsx
  libs/@hashintel/ds-components/src/components/Form/field-id-context.ts
  libs/@hashintel/ds-components/src/components/Form/field-id-context.tsx
  libs/@hashintel/ds-components/src/components/Form/field-id-provider.tsx
  libs/@hashintel/ds-components/src/components/Form/form-field.tsx
  libs/@hashintel/ds-components/src/components/Icon/icon-map.ts
  libs/@hashintel/ds-components/src/components/Icon/icon.stories.tsx
  libs/@hashintel/ds-components/src/components/Icon/icon.tsx
  libs/@hashintel/ds-components/src/components/Menu/collect-selected-ids.ts
  libs/@hashintel/ds-components/src/components/Menu/menu.tsx
  libs/@hashintel/ds-components/src/components/Popover/popover-parts.tsx
  libs/@hashintel/ds-components/src/components/Popover/popover.tsx
  libs/@hashintel/ds-components/src/components/RightClickMenu/right-click-menu.tsx
  libs/@hashintel/ds-components/src/components/SegmentedControl/segmented-control.tsx
  libs/@hashintel/ds-components/src/components/Select/select.tsx
  libs/@hashintel/ds-components/src/components/TextInput/base-input.tsx
  libs/@hashintel/ds-components/src/components/TextInput/icon-size-map.ts
  libs/@hashintel/ds-components/src/main.ts
  libs/@hashintel/ds-components/src/util/SelectableList/has-multi-item-suffix.ts
  libs/@hashintel/ds-components/src/util/SelectableList/selectable-list-multi-suffix.tsx
  libs/@hashintel/ds-components/src/util/SelectableList/selectable-list.tsx
  libs/@hashintel/ds-components/src/util/overlay-context.ts
  libs/@hashintel/ds-components/src/util/overlay-parts.tsx
  libs/@hashintel/ds-components/src/util/render-adornment.tsx
Due: biome

FE-249: split the plugin-browser popup user context off its provider
  apps/plugin-browser/src/pages/popup/popup-contents.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/action-center/history/shared/history-row/chip.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/shared/user-context-provider.tsx
  apps/plugin-browser/src/pages/popup/popup-contents/shared/user-context.ts
Due: biome

FE-249: move the design-system data type icons and FontAwesome classes out of component files
  libs/@hashintel/design-system/src/components.ts
  libs/@hashintel/design-system/src/data-type-icons.ts
  libs/@hashintel/design-system/src/data-type-selector.tsx
  libs/@hashintel/design-system/src/fontawesome-icon-classes.ts
  libs/@hashintel/design-system/src/fontawesome-icon.tsx
Due: biome

FE-249: add a changeset for the ds-components subpath export changes
  .changeset/ds-components-subpath-helper-exports.md
Due: markdownlint, biome

FE-1203: Update types filter bar to match entities (#9960)
  apps/hash-frontend/panda.config.ts
  apps/hash-frontend/src/pages/shared/ds-components-scope.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/header.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/header/filter-ribbon.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/header/filter-ribbon/property-filter-chip.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/header/type-filter-pill.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/shared/filter-state.ts
  apps/hash-frontend/src/pages/shared/filter-bar.ts
  apps/hash-frontend/src/pages/shared/filter-bar/filter-chip-pill-chrome.ts
  apps/hash-frontend/src/pages/shared/filter-bar/filter-group-ribbon.tsx
  apps/hash-frontend/src/pages/shared/filter-bar/filter-pill.tsx
  apps/hash-frontend/src/pages/shared/filter-bar/pill-styles.ts
  apps/hash-frontend/src/pages/shared/filter-bar/search-pill.tsx
  apps/hash-frontend/src/pages/shared/filter-bar/use-internal-webs.ts
  apps/hash-frontend/src/pages/shared/filter-bar/visualizer-header.tsx
  apps/hash-frontend/src/pages/shared/filter-bar/web-filter-pill.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer/graph-container.tsx
  apps/hash-frontend/src/pages/shared/graph-visualizer/graph-container/search-control.tsx
  apps/hash-frontend/src/pages/shared/query-count.tsx
  apps/hash-frontend/src/pages/shared/sort-menu-chrome.ts
  apps/hash-frontend/src/pages/shared/type-graph-visualizer.tsx
  apps/hash-frontend/src/pages/shared/types-table.tsx
  apps/hash-frontend/src/pages/shared/types-table/filter-ribbon.tsx
  apps/hash-frontend/src/pages/shared/types-table/filter-ribbon/type-filter-chip.tsx
  apps/hash-frontend/src/pages/shared/types-table/shared/type-filters.ts
  apps/hash-frontend/src/pages/types/[[...type-kind]].page.tsx
  apps/hash-frontend/src/pages/types/[[...type-kind]].page/types-page-tabs.tsx
  apps/hash-frontend/src/shared/table-header.tsx
  libs/@hashintel/ds-components/src/components/Combobox/combobox.tsx
  libs/@hashintel/ds-components/src/components/Filter/filter.tsx
  libs/@hashintel/ds-components/src/components/Filter/sort-menu-util.ts
  libs/@hashintel/ds-components/src/components/Menu/menu.tsx
  libs/@hashintel/ds-components/src/components/RightClickMenu/right-click-menu.tsx
  libs/@hashintel/ds-components/src/components/Select/select.tsx
  libs/@hashintel/ds-components/src/util/popper-positioner.ts
  tests/hash-playwright/tests/features/types-page.spec.ts
  tests/hash-playwright/tests/shared/runtime.ts
Due: biome

Unify the flow action helper types across AI and integration actions
  apps/hash-ai-worker-ts/src/activities/flow-activities/analyze-entity-data-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/answer-question-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/generate-chart-config-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/generate-structural-query-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/generate-web-queries-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/get-file-from-url-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/get-web-page-by-url-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/get-web-page-summary-action.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/get-web-page-summary-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/infer-entities-from-content-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/infer-metadata-from-document-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/persist-entities-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/persist-entity-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/plan-dashboard-refinement-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/process-automatic-browsing-settings-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/coordinating-agent.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/shared/handle-web-search-tool-call.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/web-search-action.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/write-google-sheet-action.ts
  apps/hash-frontend/src/pages/@/[shortname]/shared/flow-visualizer.tsx
  apps/hash-integration-worker/src/activities/flow-activities/aviation-activities/get-historical-flight-arrivals-action.ts
  apps/hash-integration-worker/src/activities/flow-activities/aviation-activities/get-live-flight-positions-action.ts
  apps/hash-integration-worker/src/activities/flow-activities/aviation-activities/get-scheduled-flights-action.ts
  apps/hash-integration-worker/src/activities/flow-activities/integration-activities/persist-integration-entities-action.ts
  libs/@local/hash-backend-utils/src/flows/action-types.ts
  libs/@local/hash-isomorphic-utils/src/flows/action-definitions.ts
  libs/@local/hash-isomorphic-utils/src/flows/browser-plugin-flow-definitions.ts
  libs/@local/hash-isomorphic-utils/src/flows/example-flow-definitions.ts
  libs/@local/hash-isomorphic-utils/src/flows/file-flow-definitions.ts
  libs/@local/hash-isomorphic-utils/src/flows/frontend-flow-definitions.ts
  libs/@local/hash-isomorphic-utils/src/flows/goal-flow-definitions.ts
  libs/@local/hash-isomorphic-utils/src/flows/goal-flow-definitions/google-sheets.ts
  libs/@local/hash-isomorphic-utils/src/flows/goal-flow-definitions/markdown-report.ts
  libs/@local/hash-isomorphic-utils/src/flows/integration-flow-definitions.ts
Due: biome

FE-1868: Make net and subnet ids UUIDs, converted when Petrinaut core loads a document (#9941)
  .changeset/petrinaut-uuid-net-ids.md
  .changeset/petrinaut-uuid-subnet-links.md
  apps/brunch-agent/src/evaluations/persona/launch.ts
  apps/brunch-agent/test/browser-witness/petrinaut-panel.ts
  apps/hash-frontend/src/pages/processes/[uuid]/embed.page/embed-content.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/documents/local-storage/use-local-document-repository.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/documents/local-storage/use-local-document-repository.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.canonical-state-change.integration.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/use-local-storage-sdcpns.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/use-local-storage-sdcpns.ts
  apps/petrinaut-website/src/main/app/plugins/petrinaut-ai/plugin/use-local-storage-ai-messages.test.ts
  apps/petrinaut-website/src/main/app/plugins/petrinaut-ai/plugin/use-local-storage-ai-messages.ts
  libs/@hashintel/petrinaut-core/README.md
  libs/@hashintel/petrinaut-core/src/action-schemas.ts
  libs/@hashintel/petrinaut-core/src/actions.test.ts
  libs/@hashintel/petrinaut-core/src/ai.test.ts
  libs/@hashintel/petrinaut-core/src/commands.ts
  libs/@hashintel/petrinaut-core/src/file-format/parse-sdcpn-file.test.ts
  libs/@hashintel/petrinaut-core/src/file-format/parse-sdcpn-file.ts
  libs/@hashintel/petrinaut-core/src/handle/json-doc-handle/create-json-doc-handle.test.ts
  libs/@hashintel/petrinaut-core/src/handle/json-doc-handle/create-json-doc-handle.ts
  libs/@hashintel/petrinaut-core/src/handle/types.ts
  libs/@hashintel/petrinaut-core/src/index.ts
  libs/@hashintel/petrinaut-core/src/petrinaut-id.test.ts
  libs/@hashintel/petrinaut-core/src/petrinaut-id.ts
  libs/@hashintel/petrinaut-core/src/schemas/entity-schemas.ts
  libs/@hashintel/petrinaut-core/src/types/sdcpn-input.test.ts
  libs/@hashintel/petrinaut-core/src/types/sdcpn-input.ts
  libs/@hashintel/petrinaut-core/src/types/sdcpn.ts
  libs/@hashintel/petrinaut/README.md
  libs/@hashintel/petrinaut/src/main.ts
  libs/@hashintel/petrinaut/src/react/state/active-net-provider.test.tsx
  libs/@hashintel/petrinaut/src/react/state/active-net-provider.tsx
  libs/@hashintel/petrinaut/src/ui/petrinaut-story-provider.tsx
  libs/@hashintel/petrinaut/src/ui/preview/petrinaut-preview.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/LeftSideBar/subviews/nets-list.tsx
  libs/@local/petrinaut-arch-docs/content/handle/host-integration.mdx
Due: markdownlint, biome

FE-1869: Remove `incarnationId` and scope Brunch conversations by net id (#9942)
  apps/brunch-agent/src/evaluations/persona/README.md
  apps/brunch-agent/src/evaluations/persona/launch.test.ts
  apps/brunch-agent/src/evaluations/persona/launch.ts
  apps/brunch-agent/src/evaluations/persona/launch/resume.test.ts
  apps/brunch-agent/src/evaluations/persona/launch/resume.ts
  apps/brunch-agent/test/agent-ownership.test.ts
  apps/brunch-agent/test/browser-call-rendezvous.test.ts
  apps/brunch-agent/test/browser-witness/browser-fixture.ts
  apps/brunch-agent/test/browser-witness/petrinaut-panel.ts
  apps/brunch-agent/test/chat-agent-mounting.test.ts
  apps/brunch-agent/test/context-projection.test.ts
  apps/brunch-agent/test/history-retention-crash.integration.ts
  apps/brunch-agent/test/integration/admission-controls.integration.ts
  apps/brunch-agent/test/integration/workpiece-evidence.integration.ts
  apps/brunch-agent/test/net-changes.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/documents/document-repository.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/documents/local-storage/use-local-document-repository.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/documents/local-storage/use-local-document-repository.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/documents/use-document-controller.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.canonical-state-change.integration.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.draft-panel.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/use-local-storage-sdcpns.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/use-local-storage-sdcpns.ts
  apps/petrinaut-website/src/main/app/plugins/brunch/conversation/brunch-conversation-id.test.ts
  apps/petrinaut-website/src/main/app/plugins/brunch/conversation/brunch-conversation-id.ts
  apps/petrinaut-website/src/main/app/plugins/brunch/conversation/use-process-agent-binding.test.ts
  apps/petrinaut-website/src/main/app/plugins/brunch/conversation/use-process-agent-binding.ts
  apps/petrinaut-website/src/main/app/plugins/brunch/ledger/brunch-workpiece-history.ts
  apps/petrinaut-website/src/main/app/plugins/brunch/ledger/brunch-workpiece-pane.test.tsx
  apps/petrinaut-website/src/main/app/plugins/brunch/ledger/brunch-workpiece-pane.tsx
  apps/petrinaut-website/src/main/app/plugins/brunch/tools/brunch-mutation-approval.test.tsx
  apps/petrinaut-website/src/main/app/plugins/brunch/tools/in-band-browser-call.test.ts
  apps/petrinaut-website/src/main/app/plugins/brunch/tools/in-band-browser-call.ts
  apps/petrinaut-website/src/main/app/plugins/brunch/tools/workpiece-refusal-presentation.integration.test.tsx
  libs/@hashintel/brunch-agent/ARCHITECTURE.md
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/initial-data.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/test/construction-tools.test.ts
Due: markdownlint, biome

FE-1870: Remove the unused Brunch demo mode and its Build with Brunch picker (#9946)
  .changeset/petrinaut-create-new-brunch.md
  .changeset/petrinaut-new-net-command.md
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.test.tsx
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/docs/drawing-a-net.md
  libs/@hashintel/petrinaut/src/react/state/user-settings-context.ts
  libs/@hashintel/petrinaut/src/react/state/user-settings-provider.test.tsx
  libs/@hashintel/petrinaut/src/react/state/user-settings-provider.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view/create-new-net-commands.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view/create-new-net-menu.test.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view/create-new-net-menu.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/create-experiment-drawer.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/prompt-chips.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/select-prompt-chips.test.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/select-prompt-chips.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/use-editor-commands.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/use-editor-commands.ts
Due: markdownlint, biome

FE-1871: Remove the unused `viewportActions` prop from `PetrinautPreview` (#9947)
  .changeset/petrinaut-preview-viewport-actions.md
  libs/@hashintel/petrinaut/src/preview.ts
  libs/@hashintel/petrinaut/src/ui/preview/petrinaut-preview.tsx
Due: markdownlint, biome

FE-1872: Remove Petrinaut AI from the HASH app (#9948)
  apps/hash-frontend/package.json
  apps/hash-frontend/src/lib/csp.ts
  apps/hash-frontend/src/pages/api/petrinaut-ai-chat.api.ts
  apps/hash-frontend/src/pages/processes/[uuid].page/process-editor.tsx
  apps/hash-frontend/src/pages/processes/[uuid].page/process-editor/ai-messages-storage.ts
  apps/hash-frontend/src/pages/processes/[uuid]/embed.page/create-bridge-ai-transport.ts
  apps/hash-frontend/src/pages/processes/[uuid]/embed.page/embed-content.tsx
  apps/hash-frontend/src/pages/processes/shared/messages.ts
  apps/hash-frontend/src/pages/processes/shared/use-host-bridge.ts
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  yarn.lock
Due: markdownlint, biome, yarn

Rewrite changeset
  .changeset/ds-components-subpath-helper-exports.md
Due: markdownlint, biome

Move the stock Petrinaut AI prompt from petrinaut-core into the website
  .changeset/petrinaut-ai-model.md
  .changeset/petrinaut-core-remove-ai-prompt.md
  apps/petrinaut-website/api/chat.ts
  apps/petrinaut-website/src/main/app/plugins/petrinaut-ai/server/petrinaut-ai-prompt.ts
  libs/@hashintel/petrinaut-core/src/ai.test.ts
  libs/@hashintel/petrinaut-core/src/ai.ts
  libs/@hashintel/petrinaut-core/src/index.ts
Due: markdownlint, biome

Keep only the stock prompt export and one release note for the moved prompt
  .changeset/petrinaut-ai-model.md
  .changeset/petrinaut-core-remove-ai-prompt.md
  apps/petrinaut-website/api/chat.ts
  apps/petrinaut-website/src/main/app/plugins/petrinaut-ai/server/petrinaut-ai-prompt.ts
  libs/@hashintel/petrinaut-core/src/ai.test.ts
  libs/@hashintel/petrinaut-core/src/index.ts
Due: markdownlint, biome

Remove the demo's duplicate new-net command and unused settings provider
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
Due: biome

Make the embed title read-only for viewers and build the chrome once state exists
  apps/hash-frontend/src/pages/processes/[uuid]/embed.page/embed-chrome.tsx
  apps/hash-frontend/src/pages/processes/[uuid]/embed.page/embed-content.tsx
Due: biome

Move the HASH embed chrome into components read from a context
  apps/hash-frontend/src/pages/processes/[uuid]/embed.page/embed-chrome.tsx
  apps/hash-frontend/src/pages/processes/[uuid]/embed.page/embed-content.tsx
Due: biome

Format changeset
  .changeset/ds-components-subpath-helper-exports.md
Due: markdownlint, biome

FE-249: consolidate ds-components helper files into per-component util modules
  libs/@hashintel/ds-components/src/components/Breadcumbs/breadcrumbs-entries.ts
  libs/@hashintel/ds-components/src/components/Breadcumbs/breadcrumbs-item-util.ts
  libs/@hashintel/ds-components/src/components/Breadcumbs/breadcrumbs-item.tsx
  libs/@hashintel/ds-components/src/components/Breadcumbs/breadcrumbs.tsx
  libs/@hashintel/ds-components/src/components/Button/button-util.ts
  libs/@hashintel/ds-components/src/components/Button/button.stories.tsx
  libs/@hashintel/ds-components/src/components/Button/button.tsx
  libs/@hashintel/ds-components/src/components/Chip/chip-util.ts
  libs/@hashintel/ds-components/src/components/Chip/chip.stories.tsx
  libs/@hashintel/ds-components/src/components/Chip/chip.tsx
  libs/@hashintel/ds-components/src/components/Combobox/combobox.tsx
  libs/@hashintel/ds-components/src/components/Filter/sort-menu.tsx
  libs/@hashintel/ds-components/src/components/Icon/icon-util.ts
  libs/@hashintel/ds-components/src/components/Icon/icon.stories.tsx
  libs/@hashintel/ds-components/src/components/Icon/icon.tsx
  libs/@hashintel/ds-components/src/components/Menu/menu-util.ts
  libs/@hashintel/ds-components/src/components/Menu/menu.tsx
  libs/@hashintel/ds-components/src/components/RightClickMenu/right-click-menu.tsx
  libs/@hashintel/ds-components/src/components/SegmentedControl/segmented-control.tsx
  libs/@hashintel/ds-components/src/components/TextInput/base-input.tsx
  libs/@hashintel/ds-components/src/components/TextInput/text-input-util.ts
  libs/@hashintel/ds-components/src/main.ts
  libs/@hashintel/ds-components/src/util/render-adornment.tsx
Due: biome

Test the extracted Brunch and Voice helpers beside their modules
  apps/petrinaut-website/src/main/app/local-storage-demo/documents/use-active-handle.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/src/main/app/plugins/brunch/plugin/request-flue-stop.test.ts
  apps/petrinaut-website/src/main/app/plugins/brunch/plugin/use-immutable-replay-baseline.ts
  apps/petrinaut-website/src/main/app/plugins/voice/brunch-voice-mode.test.tsx
  libs/@local/petrinaut-arch-docs/content/handle/host-integration.mdx
Due: biome

Move the Brunch and Voice helpers out of the demo shell
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/src/main/app/plugins/brunch/plugin/request-flue-stop.ts
  apps/petrinaut-website/src/main/app/plugins/brunch/plugin/use-immutable-replay-baseline.ts
  apps/petrinaut-website/src/main/app/plugins/voice/brunch-voice-mode.tsx
Due: biome

Keep the embed's crumbs and title as top-bar siblings, as before
  apps/hash-frontend/src/pages/processes/[uuid]/embed.page/embed-chrome.tsx
Due: biome

Name the tab strip's style variants after their look
  libs/@hashintel/petrinaut/src/ui/components/sub-view/horizontal/horizontal-tabs-container.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.tsx
Due: biome

Extract the demo shell's document handle and unsaved-change notice
  apps/petrinaut-website/src/main/app/local-storage-demo/documents/use-active-handle.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/unsaved-change-notice.tsx
Due: biome

FE-1873: Move the stock Petrinaut AI prompt from `petrinaut-core` into the website (#9949)
  .changeset/petrinaut-ai-model.md
  .changeset/petrinaut-core-remove-ai-prompt.md
  apps/petrinaut-website/api/chat.ts
  apps/petrinaut-website/src/main/app/plugins/petrinaut-ai/server/petrinaut-ai-prompt.ts
  libs/@hashintel/petrinaut-core/src/ai.test.ts
  libs/@hashintel/petrinaut-core/src/ai.ts
  libs/@hashintel/petrinaut-core/src/index.ts
Due: markdownlint, biome

FE-1874: Remove the demo's duplicate new-net command and unused settings provider (#9950)
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
Due: biome

FE-1875: Move the HASH embed chrome into components read from a context (#9951)
  apps/hash-frontend/src/pages/processes/[uuid]/embed.page/embed-chrome.tsx
  apps/hash-frontend/src/pages/processes/[uuid]/embed.page/embed-content.tsx
Due: biome

FE-1876: Extract the demo shell's document handle and assistant helpers into modules (#9952)
  apps/petrinaut-website/src/main/app/local-storage-demo/documents/use-active-handle.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/unsaved-change-notice.tsx
  apps/petrinaut-website/src/main/app/plugins/brunch/plugin/request-flue-stop.test.ts
  apps/petrinaut-website/src/main/app/plugins/brunch/plugin/request-flue-stop.ts
  apps/petrinaut-website/src/main/app/plugins/brunch/plugin/use-immutable-replay-baseline.ts
  apps/petrinaut-website/src/main/app/plugins/voice/brunch-voice-mode.test.tsx
  apps/petrinaut-website/src/main/app/plugins/voice/brunch-voice-mode.tsx
  libs/@local/petrinaut-arch-docs/content/handle/host-integration.mdx
Due: biome

FE-1877: Name the tab strip's style variants after their look (#9953)
  libs/@hashintel/petrinaut/src/ui/components/sub-view/horizontal/horizontal-tabs-container.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.tsx
Due: biome

Share one reveal target type and one mutation guard rule
  libs/@hashintel/petrinaut/src/react/hooks/use-petrinaut-mutations.ts
  libs/@hashintel/petrinaut/src/react/hooks/use-reveal-in-editor.ts
  libs/@hashintel/petrinaut/src/react/state/use-read-only-reason.test.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/brunch-transcript.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/experiment-card.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/experiment-card.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/stock-transcript.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/tool-summaries.ts
Due: biome

Accept experiment targets on tool rows
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/tool-list.tsx
Due: biome

Route the AI chat's tool-target reveal and read-only check through react hooks
  libs/@hashintel/petrinaut/src/react/hooks/use-reveal-in-editor.test.tsx
  libs/@hashintel/petrinaut/src/react/hooks/use-reveal-in-editor.ts
  libs/@hashintel/petrinaut/src/react/state/use-read-only-reason.test.ts
  libs/@hashintel/petrinaut/src/react/state/use-read-only-reason.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/brunch-transcript.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/experiment-card.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/experiment-card.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/stock-transcript.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/tool-summaries.ts
Due: biome

Check Simulate view modes exhaustively when revealing a tool target
  libs/@hashintel/petrinaut/src/react/hooks/use-reveal-in-editor.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/tool-list.tsx
Due: biome

Move the website's command palette and welcome guide into plugin folders
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/src/main/app/plugins/command-palette/plugin/command-palette.tsx
  apps/petrinaut-website/src/main/app/plugins/walkthrough/logo-mark.png
  apps/petrinaut-website/src/main/app/plugins/walkthrough/videos/01-intro-example.mp4
  apps/petrinaut-website/src/main/app/plugins/walkthrough/videos/02-experiments-example.mp4
  apps/petrinaut-website/src/main/app/plugins/walkthrough/videos/03-ai-example.mp4
  apps/petrinaut-website/src/main/app/plugins/walkthrough/walkthrough-steps.tsx
  libs/@local/petrinaut-arch-docs/content/commands/usage-manual.mdx
Due: biome

Move the Petrinaut user-guide content module to the UI root
  libs/@hashintel/petrinaut-core/AGENTS.md
  libs/@hashintel/petrinaut/AGENTS.md
  libs/@hashintel/petrinaut/src/ui/index.ts
  libs/@hashintel/petrinaut/src/ui/petrinaut-docs-content.test.ts
  libs/@hashintel/petrinaut/src/ui/petrinaut-docs-content.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
Due: markdownlint, biome

Split the minted id release note per package
  .changeset/petrinaut-editor-uuid-entity-ids.md
  .changeset/petrinaut-mint-uuid-entity-ids.md
Due: markdownlint, biome

Mint plain UUIDs for new Petrinaut entities
  .changeset/petrinaut-mint-uuid-entity-ids.md
  libs/@hashintel/petrinaut-core/src/clipboard/paste.test.ts
  libs/@hashintel/petrinaut-core/src/clipboard/paste.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/LeftSideBar/subviews/entities-tree/add-differential-equation-action.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/LeftSideBar/subviews/entities-tree/add-parameter-action.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/LeftSideBar/subviews/entities-tree/add-type-action.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/type-properties/subviews/main.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/metrics/create-metric-drawer.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/scenarios/create-scenario-drawer.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/use-canvas-interactions.ts
Due: markdownlint, biome

Mint pasted ids in one loop and narrow the release note to the ids that change
  .changeset/petrinaut-mint-uuid-entity-ids.md
  libs/@hashintel/petrinaut-core/src/clipboard/paste.ts
Due: markdownlint, biome

FE-1878: Route the AI chat's tool-target reveal and read-only check through react hooks (#9954)
  libs/@hashintel/petrinaut/src/react/hooks/use-petrinaut-mutations.ts
  libs/@hashintel/petrinaut/src/react/hooks/use-reveal-in-editor.test.tsx
  libs/@hashintel/petrinaut/src/react/hooks/use-reveal-in-editor.ts
  libs/@hashintel/petrinaut/src/react/state/use-read-only-reason.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/brunch-transcript.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/experiment-card.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/experiment-card.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/stock-transcript.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/tool-list.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/tool-summaries.ts
Due: biome

Path conditions:
  markdownlint: any of: *.md
  biome: any of: *.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}
  yarn: any of: {*/package.json, package.json}
  sqlfluff: any of: *.sql
  rust: any of: *.rs
  toml: any of: *.toml
