Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

markdownlint:
  tags:
  - frontend
  - style
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

biome:
  tags:
  - frontend
  - style
  run: biome format --write --staged || true
  stage_fixed: true

yarn:
  tags:
  - frontend
  - style
  run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
  stage_fixed: true

sqlfluff:
  tags:
  - backend
  - style
  run: sqlfluff fix {staged_files} || true
  stage_fixed: true

rust:
  tags:
  - backend
  - style
  run: rustfmt {staged_files} || true
  stage_fixed: true

toml:
  tags:
  - backend
  - style
  run: taplo format {staged_files} || true
  stage_fixed: true

Fix clear + edit icon on fitContent width
  libs/@hashintel/ds-components/src/components/TextInput/base-input.recipe.ts
Due: biome

Fix missing iconMap export from button
  libs/@hashintel/ds-components/src/components/Button/button.tsx
Due: biome

Adjust button md loading spinner size
  libs/@hashintel/ds-components/src/components/Button/button.recipe.ts
  libs/@hashintel/ds-components/src/components/Button/button.tsx
  libs/@hashintel/ds-components/src/components/Loading/loading-spinner.tsx
Due: biome

Fix bad tsc for layerStyle
  libs/@hashintel/ds-components/src/components/TextInput/base-input.recipe.ts
Due: biome

Fix more lint issues in base input
  libs/@hashintel/ds-components/src/components/TextInput/base-input.recipe.ts
Due: biome

Add yarn dependency cooldown
  .yarnrc.yml
Due: biome

Fix petrinaut react-compiler ref issue
  apps/petrinaut-website/vite.config.ts
  libs/@hashintel/ds-components/src/components/Tooltip/tooltip.tsx
Due: biome

BE-562: Bundle CA certificates in `hash-graph` Docker image
  apps/hash-graph/docker/Dockerfile
Due: none

SRE-690: Add yarn dependency cooldown (#8712)
  .yarnrc.yml
Due: biome

BE-562: Bundle CA certificates in `hash-graph` Docker image (#8713)
  apps/hash-graph/docker/Dockerfile
Due: none

BE-457: HashQL: MIR execution pipeline extensions for postgres compilation (#8525)
  libs/@local/hashql/mir/benches/execution.rs
  libs/@local/hashql/mir/src/builder/body.rs
  libs/@local/hashql/mir/src/builder/rvalue.rs
  libs/@local/hashql/mir/src/lib.rs
  libs/@local/hashql/mir/src/pass/execution/island/graph/mod.rs
  libs/@local/hashql/mir/src/pass/execution/island/graph/tests.rs
  libs/@local/hashql/mir/src/pass/execution/island/mod.rs
  libs/@local/hashql/mir/src/pass/execution/island/tests.rs
  libs/@local/hashql/mir/src/pass/execution/mod.rs
  libs/@local/hashql/mir/src/pass/execution/placement/solve/csp/mod.rs
  libs/@local/hashql/mir/src/pass/execution/placement/solve/estimate/mod.rs
  libs/@local/hashql/mir/src/pass/execution/placement/solve/mod.rs
  libs/@local/hashql/mir/src/pass/execution/placement/solve/tests.rs
  libs/@local/hashql/mir/src/pass/execution/statement_placement/interpret/tests.rs
  libs/@local/hashql/mir/src/pass/execution/statement_placement/postgres/tests.rs
  libs/@local/hashql/mir/src/pass/execution/terminator_placement/mod.rs
  libs/@local/hashql/mir/src/pass/execution/terminator_placement/tests.rs
  libs/@local/hashql/mir/src/pass/execution/tests.rs
  libs/@local/hashql/mir/src/pass/execution/traversal/entity.rs
  libs/@local/hashql/mir/src/pass/execution/traversal/mod.rs
  libs/@local/hashql/mir/src/pass/execution/vertex.rs
  libs/@local/hashql/mir/src/pretty/text.rs
  libs/@local/hashql/mir/tests/ui/pass/execution/closure_forces_interpreter.snap
  libs/@local/hashql/mir/tests/ui/pass/execution/entity_uuid_equality.snap
  libs/@local/hashql/mir/tests/ui/pass/execution/mixed_postgres_embedding_interpreter.snap
  libs/@local/hashql/mir/tests/ui/pass/execution/projection_and_apply_splits.snap
  libs/@local/hashql/mir/tests/ui/pass/execution/statement_placement/interpret/eq_opaque_entity_uuid.snap
  libs/@local/hashql/mir/tests/ui/pass/execution/statement_placement/postgres/eq_opaque_entity_uuid.snap
  libs/@local/hashql/mir/tests/ui/pass/execution/terminator_placement/terminator_placement_snapshot.snap
Due: rust

FE-678: ds text input component (#8710)
  .changeset/silent-hairs-judge.md
  apps/petrinaut-website/vite.config.ts
  libs/@hashintel/ds-components/package.json
  libs/@hashintel/ds-components/panda.config.ts
  libs/@hashintel/ds-components/src/components/Button/button.recipe.ts
  libs/@hashintel/ds-components/src/components/Button/button.tsx
  libs/@hashintel/ds-components/src/components/Icon/icon.tsx
  libs/@hashintel/ds-components/src/components/Loading/loading-spinner.tsx
  libs/@hashintel/ds-components/src/components/TextInput/base-input.recipe.ts
  libs/@hashintel/ds-components/src/components/TextInput/base-input.tsx
  libs/@hashintel/ds-components/src/components/TextInput/text-input.stories.tsx
  libs/@hashintel/ds-components/src/components/TextInput/text-input.tsx
  libs/@hashintel/ds-components/src/components/Tooltip/tooltip.tsx
  libs/@hashintel/ds-components/src/main.ts
  libs/@hashintel/ds-components/src/util/dom.ts
  libs/@hashintel/ds-components/src/util/form-shared.ts
  libs/@hashintel/ds-components/src/util/form-size.recipe.ts
  libs/@hashintel/ds-components/src/util/form-width.recipe.ts
  yarn.lock
Due: markdownlint, biome, yarn

fix: lateral unnest instead of just unnest
  libs/@local/hashql/eval/src/postgres/projections.rs
  libs/@local/hashql/eval/tests/ui/postgres/entity-type-ids-lateral.stdout
Due: rust

Version Packages (#8666)
  .changeset/cyan-pans-sit.md
  .changeset/fiery-tigers-kick.md
  .changeset/fresh-metrics-shine.md
  .changeset/humble-vans-make.md
  .changeset/silent-hairs-judge.md
  .changeset/warm-falcons-wonder.md
  libs/@hashintel/ds-components/CHANGELOG.md
  libs/@hashintel/ds-components/package.json
  libs/@hashintel/ds-helpers/CHANGELOG.md
  libs/@hashintel/ds-helpers/package.json
  libs/@hashintel/petrinaut/CHANGELOG.md
  libs/@hashintel/petrinaut/package.json
Due: markdownlint, biome, yarn

fix: snapshot
  libs/@local/hashql/eval/tests/ui/postgres/filter/data_island_provides_without_lateral.snap
  libs/@local/hashql/eval/tests/ui/postgres/filter/property_mask.snap
  libs/@local/hashql/eval/tests/ui/postgres/filter/provides_drives_select_and_joins.snap
Due: none

Fix petrinaut react-compiler issues in dev build pipeline
  libs/@hashintel/petrinaut/vite.config.ts
Due: biome

FE-715: Fix petrinaut react-compiler issues in dev build pipeline (#8718)
  libs/@hashintel/petrinaut/vite.config.ts
Due: biome

Switch IconButton to Button component in petrinaut
  libs/@hashintel/ds-components/src/components/Button/button.tsx
  libs/@hashintel/ds-components/src/components/Icon/icon.tsx
  libs/@hashintel/ds-components/src/components/Icon/svgs/regular/circle-exclamation.svg
  libs/@hashintel/ds-components/src/components/Icon/svgs/regular/circle-info.svg
  libs/@hashintel/ds-components/src/components/Icon/svgs/regular/triangle-exclamation.svg
  libs/@hashintel/ds-components/src/components/Icon/svgs/solid/circle-exclamation.svg
  libs/@hashintel/ds-components/src/components/Icon/svgs/solid/circle-info.svg
  libs/@hashintel/ds-components/src/components/Icon/svgs/solid/triangle-exclamation.svg
  libs/@hashintel/petrinaut/src/ui/components/arc-item.tsx
  libs/@hashintel/petrinaut/src/ui/components/button.tsx
  libs/@hashintel/petrinaut/src/ui/components/icon-button.tsx
  libs/@hashintel/petrinaut/src/ui/components/popover.tsx
  libs/@hashintel/petrinaut/src/ui/components/section.tsx
  libs/@hashintel/petrinaut/src/ui/components/segment-group.stories.tsx
  libs/@hashintel/petrinaut/src/ui/components/tooltip.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/playback-settings-menu.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/toolbar-modes.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/TopBar/mode-selector.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/TopBar/top-bar.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/TopBar/version-history-button.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/diagnostics.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/simulation-settings.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/simulation-timeline.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/LeftSideBar/subviews/differential-equations-list.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/LeftSideBar/subviews/filterable-list-sub-view.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/LeftSideBar/subviews/parameters-list.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/LeftSideBar/subviews/search-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/LeftSideBar/subviews/types-list.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/arc-properties/main.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/differential-equation-properties/subviews/main.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/multi-selection-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/place-properties/subviews/main.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/place-properties/subviews/place-visualizer/subview.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/transition-properties/subviews/main.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/transition-properties/subviews/transition-firing-time/subview.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/transition-properties/subviews/transition-results/subview.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/type-properties/subviews/main.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/scenario-form.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/components/viewport-controls.tsx
Due: biome

Switch more petrinaut <button> elements to <Button>
  libs/@hashintel/petrinaut/src/ui/components/arc-item.tsx
  libs/@hashintel/petrinaut/src/ui/components/dialog.stories.tsx
  libs/@hashintel/petrinaut/src/ui/components/drawer.tsx
  libs/@hashintel/petrinaut/src/ui/components/panel-primitives.tsx
  libs/@hashintel/petrinaut/src/ui/components/popover.stories.tsx
  libs/@hashintel/petrinaut/src/ui/components/section.stories.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/diagnostics.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/place-properties/subviews/place-initial-state/subview.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/components/classic-place-node.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/components/classic-transition-node.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/components/place-node.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/components/transition-node.tsx
Due: biome

Switch BottomBar <button>s to <Button>
  libs/@hashintel/petrinaut/src/ui/components/popover.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/playback-settings-menu.tsx
Due: biome

Remove unnecessary <Button> classnames
  libs/@hashintel/petrinaut/src/ui/components/arc-item.tsx
  libs/@hashintel/petrinaut/src/ui/components/dialog.tsx
  libs/@hashintel/petrinaut/src/ui/components/drawer.tsx
  libs/@hashintel/petrinaut/src/ui/components/panel-primitives.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/playback-settings-menu.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/place-properties/subviews/place-initial-state/subview.tsx
Due: biome

Removed additional classnames from Icons
  libs/@hashintel/petrinaut/src/ui/components/arc-item.tsx
  libs/@hashintel/petrinaut/src/ui/components/select.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/playback-settings-menu.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/differential-equation-properties/subviews/main.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/place-properties/subviews/place-visualizer/subview.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/transition-properties/subviews/transition-firing-time/subview.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/transition-properties/subviews/transition-results/subview.tsx
Due: biome

Update place + transition icons to filled
  libs/@hashintel/petrinaut/src/ui/constants/entity-icons.tsx
Due: biome

core cleanup / type changes
  libs/@hashintel/petrinaut/src/core/action-schemas.ts
  libs/@hashintel/petrinaut/src/core/ai.test.ts
  libs/@hashintel/petrinaut/src/core/ai.ts
  libs/@hashintel/petrinaut/src/core/index.ts
  libs/@hashintel/petrinaut/src/core/instance.ts
  libs/@hashintel/petrinaut/src/core/schemas/scenario-schema.ts
  libs/@hashintel/petrinaut/src/main.ts
Due: biome

untrack file
  PETRINAUT_AI_ASSISTANCE_SPEC.md
Due: markdownlint, biome

remove stray change
  libs/@hashintel/petrinaut/src/core/instance.ts
Due: biome

Fix sentry button color in petrinaut website
  apps/petrinaut-website/package.json
  apps/petrinaut-website/panda.config.ts
  apps/petrinaut-website/postcss.config.cjs
  apps/petrinaut-website/src/app.css
  apps/petrinaut-website/src/main.tsx
  apps/petrinaut-website/src/main/app/sentry-feedback-button.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/toolbar-modes.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/components/viewport-controls.tsx
  yarn.lock
Due: biome, yarn

Fix actual sentry button colors
  apps/petrinaut-website/src/main/app/sentry-feedback-button.tsx
Due: biome

Lighten sentry button colors slightly
  apps/petrinaut-website/src/main/app/sentry-feedback-button.tsx
Due: biome

Move panda dev dependencies to dependencies
  apps/petrinaut-website/package.json
  libs/@hashintel/petrinaut/src/ui/types/viewport-action.ts
Due: biome, yarn

FE-718: fix sentry button color (#8722)
  apps/petrinaut-website/package.json
  apps/petrinaut-website/panda.config.ts
  apps/petrinaut-website/postcss.config.cjs
  apps/petrinaut-website/src/app.css
  apps/petrinaut-website/src/main.tsx
  apps/petrinaut-website/src/main/app/sentry-feedback-button.tsx
  libs/@hashintel/petrinaut/src/ui/types/viewport-action.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/toolbar-modes.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/components/viewport-controls.tsx
  yarn.lock
Due: biome, yarn

Clean up core simulation layering docs
  libs/@hashintel/petrinaut/src/core/simulation/README.md
  libs/@hashintel/petrinaut/src/core/simulation/compile-scenario.ts
  libs/@hashintel/petrinaut/src/core/simulation/simulator/types.ts
  libs/@hashintel/petrinaut/src/core/simulation/transport.ts
  libs/@hashintel/petrinaut/src/core/simulation/types.ts
  libs/@hashintel/petrinaut/src/core/simulation/worker/README.md
  libs/@hashintel/petrinaut/src/ui/lib/compile-visualizer.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/place-properties/subviews/place-visualizer/subview.tsx
Due: markdownlint, biome

Split simulation timeline view
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/simulation-timeline/chart.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/simulation-timeline/default-colors.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/simulation-timeline/header.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/simulation-timeline/index.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/simulation-timeline/legend.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/simulation-timeline/main.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/simulation-timeline/styles.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/simulation-timeline/types.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/simulation-timeline/use-streaming-data.ts
Due: biome

Add simulation engine v2 RFC
  libs/@hashintel/petrinaut/rfc/0002-simulation-engine-v2/README.md
  libs/@hashintel/petrinaut/src/core/simulation/authoring/engine/README.md
  libs/@hashintel/petrinaut/src/core/simulation/authoring/engine/build-simulation.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/authoring/engine/build-simulation.ts
  libs/@hashintel/petrinaut/src/core/simulation/authoring/engine/check-transition-enablement.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/authoring/engine/check-transition-enablement.ts
  libs/@hashintel/petrinaut/src/core/simulation/authoring/engine/compile-user-code.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/authoring/engine/compile-user-code.ts
  libs/@hashintel/petrinaut/src/core/simulation/authoring/engine/compute-next-frame.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/authoring/engine/compute-next-frame.ts
  libs/@hashintel/petrinaut/src/core/simulation/authoring/engine/compute-place-next-state.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/authoring/engine/compute-place-next-state.ts
  libs/@hashintel/petrinaut/src/core/simulation/authoring/engine/compute-possible-transition.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/authoring/engine/compute-possible-transition.ts
  libs/@hashintel/petrinaut/src/core/simulation/authoring/engine/distribution.ts
  libs/@hashintel/petrinaut/src/core/simulation/authoring/engine/enumerate-weighted-markings.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/authoring/engine/enumerate-weighted-markings.ts
  libs/@hashintel/petrinaut/src/core/simulation/authoring/engine/execute-transitions.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/authoring/engine/execute-transitions.ts
  libs/@hashintel/petrinaut/src/core/simulation/authoring/engine/remove-tokens-from-simulation-frame.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/authoring/engine/remove-tokens-from-simulation-frame.ts
  libs/@hashintel/petrinaut/src/core/simulation/authoring/engine/seeded-rng.ts
  libs/@hashintel/petrinaut/src/core/simulation/authoring/engine/types.ts
  libs/@hashintel/petrinaut/src/core/simulation/worker/simulation.worker.ts
Due: markdownlint, biome

Remove transition instances from simulation frames
  libs/@hashintel/petrinaut/src/core/simulation/authoring/engine/build-simulation.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/authoring/engine/build-simulation.ts
  libs/@hashintel/petrinaut/src/core/simulation/authoring/engine/check-transition-enablement.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/authoring/engine/check-transition-enablement.ts
  libs/@hashintel/petrinaut/src/core/simulation/authoring/engine/compute-next-frame.ts
  libs/@hashintel/petrinaut/src/core/simulation/authoring/engine/compute-possible-transition.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/authoring/engine/compute-possible-transition.ts
  libs/@hashintel/petrinaut/src/core/simulation/authoring/engine/execute-transitions.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/frames/frame-reader.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/frames/internal-frame.ts
Due: biome

Clarify simulation frame boundaries
  libs/@hashintel/petrinaut/src/core/simulation/ARCHITECTURE.md
  libs/@hashintel/petrinaut/src/core/simulation/authoring/engine/README.md
  libs/@hashintel/petrinaut/src/core/simulation/authoring/engine/build-simulation.ts
  libs/@hashintel/petrinaut/src/core/simulation/authoring/engine/check-transition-enablement.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/authoring/engine/check-transition-enablement.ts
  libs/@hashintel/petrinaut/src/core/simulation/authoring/engine/compute-possible-transition.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/authoring/engine/compute-possible-transition.ts
  libs/@hashintel/petrinaut/src/core/simulation/authoring/engine/execute-transitions.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/authoring/engine/execute-transitions.ts
  libs/@hashintel/petrinaut/src/core/simulation/authoring/engine/remove-tokens-from-simulation-frame.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/authoring/engine/remove-tokens-from-simulation-frame.ts
  libs/@hashintel/petrinaut/src/core/simulation/authoring/engine/types.ts
  libs/@hashintel/petrinaut/src/core/simulation/frames/frame-reader.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/frames/frame-reader.ts
  libs/@hashintel/petrinaut/src/core/simulation/frames/internal-frame.ts
  libs/@hashintel/petrinaut/src/core/simulation/runtime/frame-store.ts
  libs/@hashintel/petrinaut/src/core/simulation/runtime/simulation.test.ts
  libs/@hashintel/petrinaut/src/core/simulation/runtime/simulation.ts
  libs/@hashintel/petrinaut/src/core/simulation/worker/README.md
  libs/@hashintel/petrinaut/src/core/simulation/worker/frame-payload.ts
  libs/@hashintel/petrinaut/src/core/simulation/worker/messages.ts
  libs/@hashintel/petrinaut/src/core/simulation/worker/simulation.worker.ts
  libs/@hashintel/petrinaut/src/react/playback/provider.test.tsx
Due: markdownlint, biome

Path conditions:
  markdownlint: any of: *.md
  biome: any of: *.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}
  yarn: any of: {*/package.json, package.json}
  sqlfluff: any of: *.sql
  rust: any of: *.rs
  toml: any of: *.toml
