Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    biome:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: biome format --write --staged || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: rustfmt {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: taplo format {staged_files} || true
      stage_fixed: true

Cut Mission 7d for demo completion and experiment configuration
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/MISSION.next.md
  libs/@hashintel/brunch-agent/docs/mission-archive/7c-browser-persona-construction.md
  libs/@hashintel/brunch-agent/docs/mission-archive/README.md
  libs/@hashintel/brunch-agent/docs/mission-drafts/10-bounded-reviewer-revision.md
  libs/@hashintel/brunch-agent/docs/mission-drafts/11-optimisation-handoff.md
  libs/@hashintel/brunch-agent/docs/mission-drafts/7-explainable-construction.md
  libs/@hashintel/brunch-agent/docs/mission-drafts/9-traceable-projection.md
  libs/@hashintel/brunch-agent/docs/mission-drafts/worked-example-distribution-and-breadth.md
Due: markdownlint, biome

Clarify Mission 7d execution priorities and acceptance scope
  libs/@hashintel/brunch-agent/MISSION.md
Due: markdownlint, biome

Record mixed-provider observation and manifest configuration direction
  libs/@hashintel/brunch-agent/MISSION.md
Due: markdownlint, biome

Let the persona launcher select Brunch and persona models independently
  apps/brunch-agent/.pi/extensions/brunch-persona-testing/README.md
  apps/brunch-agent/flue.config.ts
  apps/brunch-agent/src/agents/chat-agent/agent.ts
  apps/brunch-agent/src/app.ts
  apps/brunch-agent/src/chat-model.ts
  apps/brunch-agent/src/dev-configuration-preflight.ts
  apps/brunch-agent/src/evaluations/persona/launch.test.ts
  apps/brunch-agent/src/evaluations/persona/launch.ts
  apps/brunch-agent/src/evaluations/persona/launch/resume.ts
  apps/brunch-agent/src/evaluations/persona/launch/role-settings.ts
  apps/brunch-agent/test/chat-agent-compaction.test.ts
  apps/brunch-agent/test/dev-configuration-preflight.test.ts
  apps/brunch-agent/test/local-dev-origins.test.ts
  apps/brunch-agent/test/openai-responses-carriage.test.ts
  apps/brunch-agent/test/provider-registration.test.ts
  apps/brunch-agent/turbo.json
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/evaluations/README.md
  libs/@hashintel/brunch-agent/packages/core/src/flue.ts
  libs/@hashintel/brunch-agent/packages/core/test/compaction-config.test.ts
Due: markdownlint, biome

Qualify mixed-provider persona execution through the live browser
  apps/brunch-agent/.pi/extensions/brunch-persona-testing/README.md
  apps/brunch-agent/src/evaluations/install-faux-provider.ts
  apps/brunch-agent/src/evaluations/persona/configuration.ts
  apps/brunch-agent/src/evaluations/persona/launch.ts
  apps/brunch-agent/test/native-openai-provider.ts
  apps/brunch-agent/test/openai-responses-carriage.test.ts
  apps/brunch-agent/test/persona-configuration.test.ts
  apps/brunch-agent/test/persona-construction.integration.ts
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/evaluations/protocols/network-guard/loopback-only.sb
  libs/@hashintel/brunch-agent/packages/core/src/flue.ts
Due: markdownlint, biome

Authorize Brunch topology remediation
  libs/@hashintel/brunch-agent/SIDE_QUEST.md
Due: markdownlint, biome

Park the Brunch Linear graph utility
  libs/@hashintel/brunch-agent/docs/agents/issue-tracker.md
  libs/@hashintel/brunch-agent/docs/agents/linear-project-graph.ts
  libs/@hashintel/brunch-agent/packages/core/package.json
  libs/@hashintel/brunch-agent/packages/core/test/architecture/linear-project-graph.test.ts
  libs/@hashintel/brunch-agent/packages/core/turbo.json
Due: markdownlint, biome, yarn

Remove orphaned Brunch evaluation files
  apps/brunch-agent/src/evaluations/runbook/campaign-integrity.ts
  apps/brunch-agent/test/runbook-elicitation-faux-expert.ts
  apps/brunch-agent/test/runbook-elicitation-faux-provider.ts
  libs/@hashintel/brunch-agent/packages/core/test/architecture/fixtures/baseline-anthropic-stub.ts
Due: biome

Derive Brunch library externals from manifests
  libs/@hashintel/brunch-agent/packages/core/vite.config.ts
  libs/@hashintel/brunch-agent/packages/plugin-claims/vite.config.ts
  libs/@hashintel/brunch-agent/packages/plugin-dafny/vite.config.ts
  libs/@hashintel/brunch-agent/packages/plugin-gherkin/vite.config.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/vite.config.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/vite.config.ts
Due: biome

Align Brunch documentation with topology
  libs/@hashintel/brunch-agent/AGENTS.md
  libs/@hashintel/brunch-agent/MISSION.next.md
  libs/@hashintel/brunch-agent/README.md
  libs/@hashintel/brunch-agent/docs/mission-drafts/9-traceable-projection.md
  libs/@hashintel/brunch-agent/docs/reference/architecture/topology.md
  libs/@hashintel/brunch-agent/packages/plugin-dafny/.oxlintrc.json
  libs/@hashintel/brunch-agent/packages/plugin-gherkin/.oxlintrc.json
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/.oxlintrc.json
Due: markdownlint, biome

Enforce Brunch import direction
  apps/brunch-agent/package.json
  apps/brunch-agent/test/architecture/import-direction.test.ts
  yarn.lock
Due: biome, yarn

Close Brunch topology remediation
  libs/@hashintel/brunch-agent/MISSION.next.md
  libs/@hashintel/brunch-agent/SIDE_QUEST.md
Due: markdownlint, biome

Fix Brunch import direction enforcement
  apps/brunch-agent/test/architecture/import-direction.test.ts
Due: biome

Remove retired capture path policy
  apps/brunch-agent/src/db-path.ts
  apps/brunch-agent/test/db-path.test.ts
  libs/@hashintel/brunch-agent/AGENTS.md
Due: markdownlint, biome

Align mission plans and define the tooling context side quest
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/MISSION.next.md
  libs/@hashintel/brunch-agent/SIDE_QUEST.md
  libs/@hashintel/brunch-agent/docs/mission-drafts/10-bounded-reviewer-revision.md
  libs/@hashintel/brunch-agent/docs/mission-drafts/11-optimisation-handoff.md
  libs/@hashintel/brunch-agent/docs/mission-drafts/7-explainable-construction.md
  libs/@hashintel/brunch-agent/docs/mission-drafts/9-traceable-projection.md
  libs/@hashintel/brunch-agent/docs/mission-drafts/worked-example-distribution-and-breadth.md
Due: markdownlint, biome

Remove retired capture store from Brunch app README
  apps/brunch-agent/README.md
Due: markdownlint, biome

Add built-app context projection oracle
  apps/brunch-agent/test/integration/history-retention.integration.ts
  apps/brunch-agent/test/integration/history-retention.test.ts
Due: biome

Add Flue model context projection seam
  .yarn/patches/@flue-runtime-npm-2.0.3-192c31f50c.patch
  yarn.lock
Due: none

Project Brunch context and focus workpiece reads
  apps/brunch-agent/src/agents/chat-agent/agent.ts
  apps/brunch-agent/src/agents/chat-agent/context-projection.ts
  apps/brunch-agent/test/context-projection.test.ts
  apps/brunch-agent/test/integration/history-retention.integration.ts
  apps/brunch-agent/test/integration/history-retention.test.ts
  libs/@hashintel/brunch-agent/packages/core/src/flue.ts
  libs/@hashintel/brunch-agent/packages/core/src/prompts/SYSTEM.md
  libs/@hashintel/brunch-agent/packages/core/src/skills/elicitation/SKILL.md
  libs/@hashintel/brunch-agent/packages/core/test/update-workpiece.test.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/skills/sdcpn-modelling/SKILL.md
Due: markdownlint, biome

Prove document revision freshness controls
  apps/brunch-agent/src/evaluations/runbook/headless-petrinaut-client.ts
  apps/brunch-agent/test/integration/net-freshness.integration.ts
  apps/brunch-agent/test/net-freshness.test.ts
Due: biome

Prove browser result context projection
  apps/brunch-agent/test/integration/history-retention.integration.ts
Due: biome

Align roughed-in plugins with core guidance
  libs/@hashintel/brunch-agent/packages/plugin-claims/src/skills/claims-formalization/SKILL.md
  libs/@hashintel/brunch-agent/packages/plugin-dafny/src/skills/dafny-verification/SKILL.md
  libs/@hashintel/brunch-agent/packages/plugin-gherkin/src/skills/gherkin-specification/SKILL.md
Due: markdownlint, biome

Type-check projection recovery oracle
  apps/brunch-agent/test/integration/history-retention.integration.ts
Due: biome

Prove projected compaction recovery
  apps/brunch-agent/test/integration/history-retention.integration.ts
  apps/brunch-agent/test/integration/history-retention.test.ts
Due: biome

Guard authoritative workpiece content reuse
  apps/brunch-agent/test/context-projection.test.ts
Due: biome

Align workpiece evidence with projected reuse
  apps/brunch-agent/test/workpiece-evidence.integration.ts
Due: biome

Prove two-element provenance retention
  apps/brunch-agent/test/integration/reopened-why-retention-audit.ts
  apps/brunch-agent/test/reopened-why-retention-seed.ts
  apps/brunch-agent/test/reopened-why-retention.integration.ts
Due: biome

Record context projection qualification evidence
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/MISSION.next.md
Due: markdownlint, biome

Mock context projection in agent tests
  apps/brunch-agent/test/chat-agent-compaction.test.ts
Due: biome

Align retained workpiece output assertions
  apps/brunch-agent/test/history-retention-crash.integration.ts
  apps/brunch-agent/test/integration/history-retention-crash-audit.ts
  apps/brunch-agent/test/integration/workpiece-revisions.test.ts
Due: biome

Record adjudicated integration qualification
  libs/@hashintel/brunch-agent/MISSION.md
Due: markdownlint, biome

Refresh production store bundle assertion
  apps/brunch-agent/test/integration/build-artifact.test.ts
Due: biome

Repair synthetic construction progression
  apps/brunch-agent/test/construction-progression.integration.ts
Due: biome

Refresh generated task map after recovering the 7d sequence
  libs/@hashintel/brunch-agent/packages/core/docs/task-dependencies.json
Due: biome

Record Mission 7d directly on main after the 7c squash merge
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/MISSION.next.md
Due: markdownlint, biome

Close tooling-context remediation without rewriting authored calls
  apps/brunch-agent/src/agents/chat-agent/context-projection.ts
  apps/brunch-agent/test/context-projection.test.ts
  apps/brunch-agent/test/integration/history-retention.integration.ts
  apps/brunch-agent/test/integration/history-retention.test.ts
  apps/brunch-agent/test/integration/net-freshness.integration.ts
  apps/brunch-agent/test/reopened-why-retention.integration.ts
  apps/brunch-agent/test/workpiece-evidence.integration.ts
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/MISSION.next.md
  libs/@hashintel/brunch-agent/SIDE_QUEST.md
  libs/@hashintel/brunch-agent/docs/mission-drafts/7-explainable-construction.md
  libs/@hashintel/brunch-agent/docs/reference/architecture/flue-routing.md
Due: markdownlint, biome

Record interaction scope decisions for Mission 7d
  libs/@hashintel/brunch-agent/MISSION.md
Due: markdownlint, biome

Isolate persona credentials and skip excluded source reads
  apps/brunch-agent/src/evaluations/install-faux-provider.ts
  apps/brunch-agent/src/evaluations/persona/launch.test.ts
  apps/brunch-agent/src/evaluations/persona/launch.ts
  libs/@hashintel/brunch-agent/packages/core/src/flue.ts
  libs/@hashintel/brunch-agent/packages/core/test/update-workpiece.test.ts
Due: biome
