Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, prettier, yarn, sqlfluff, rust, toml

markdownlint:
  tags:
  - frontend
  - style
  run: yarn run markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

prettier:
  tags:
  - frontend
  - style
  run: yarn run prettier --write {staged_files} || true
  stage_fixed: true

yarn:
  tags:
  - frontend
  - style
  run: yarn fix:constraints && yarn fix:packagejson && yarn fix:yarn-deduplicate
  stage_fixed: true

sqlfluff:
  tags:
  - backend
  - style
  run: sqlfluff fix {staged_files} || true
  stage_fixed: true

rust:
  tags:
  - backend
  - style
  run: cargo fmt -- {staged_files} || true
  stage_fixed: true

toml:
  tags:
  - backend
  - style
  run: yarn run taplo format {staged_files} || true
  stage_fixed: true

H-4424, H-4425: Implement and expose policy querying (#7121)
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/api/src/rest/actor.rs
  libs/@local/graph/api/src/rest/mod.rs
  libs/@local/graph/authorization/src/policies/store/error.rs
  libs/@local/graph/authorization/src/policies/store/mod.rs
  libs/@local/graph/authorization/tests/policies/main.rs
  libs/@local/graph/authorization/types/index.snap.d.ts
  libs/@local/graph/postgres-store/src/permissions/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/postgres-store/tests/principals/policies.rs
  libs/@local/graph/sdk/typescript/src/policy.ts
  libs/@local/graph/type-fetcher/src/store.rs
  tests/hash-backend-integration/src/tests/graph/authorization/policy.test.ts
Due: prettier, rust

feat: convert node into struct
  libs/@local/hashql/core/src/type/inference/solver/graph.rs
Due: rust

Move policy routes to permissions module and clean up actor resource
  libs/@local/graph/api/src/rest/actor.rs
  libs/@local/graph/api/src/rest/mod.rs
  libs/@local/graph/api/src/rest/permissions.rs
  libs/@local/graph/api/src/rest/principal.rs
Due: rust

Move actor-group and actor related principals to own resource
  apps/hash-api/src/graph/system-account.ts
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/api/src/rest/actor.rs
  libs/@local/graph/api/src/rest/actor_group.rs
  libs/@local/graph/api/src/rest/mod.rs
  libs/@local/graph/api/src/rest/permissions.rs
  libs/@local/graph/api/src/rest/principal.rs
  libs/@local/graph/authorization/src/policies/store/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/type-fetcher/src/store.rs
Due: prettier, rust

Update REST API paths to use kebab-case and fix routes
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/api/src/rest/actor_group.rs
  libs/@local/graph/api/src/rest/principal.rs
  tests/graph/http/tests/ambiguous.http
  tests/graph/http/tests/circular-links.http
  tests/graph/http/tests/friendship.http
  tests/graph/http/tests/link-inheritance.http
Due: prettier, rust

H-4542: Move policy routes to permissions module and clean up actor resource (#7127)
  apps/hash-api/src/graph/system-account.ts
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/api/src/rest/actor.rs
  libs/@local/graph/api/src/rest/actor_group.rs
  libs/@local/graph/api/src/rest/mod.rs
  libs/@local/graph/api/src/rest/permissions.rs
  libs/@local/graph/api/src/rest/principal.rs
  libs/@local/graph/authorization/src/policies/store/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/type-fetcher/src/store.rs
  tests/graph/http/tests/ambiguous.http
  tests/graph/http/tests/circular-links.http
  tests/graph/http/tests/friendship.http
  tests/graph/http/tests/link-inheritance.http
Due: prettier, rust

Expose CRUD operations for Policies
  libs/@blockprotocol/type-system/rust/package.json
  libs/@local/codec/package.json
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/api/src/rest/permissions.rs
  libs/@local/graph/authorization/package.json
  libs/@local/graph/authorization/src/policies/mod.rs
  libs/@local/graph/authorization/src/policies/principal/mod.rs
  libs/@local/graph/authorization/src/policies/resource/entity.rs
  libs/@local/graph/authorization/src/policies/resource/entity_type.rs
  libs/@local/graph/authorization/src/policies/resource/mod.rs
  libs/@local/graph/authorization/src/policies/store/error.rs
  libs/@local/graph/authorization/src/policies/store/mod.rs
  libs/@local/graph/postgres-store/src/permissions/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/postgres-store/tests/principals/main.rs
  libs/@local/graph/postgres-store/tests/principals/policies.rs
  libs/@local/graph/sdk/typescript/src/policy.ts
  libs/@local/graph/type-fetcher/src/store.rs
  tests/hash-backend-integration/src/tests/graph/authorization/policy.test.ts
Due: prettier, yarn, rust

feat: condense first version
  libs/@local/hashql/core/src/type/inference/solver/graph.rs
  libs/@local/hashql/core/src/type/inference/solver/mod.rs
Due: rust

feat: in-place condense
  libs/@local/hashql/core/src/type/inference/solver/graph.rs
Due: rust

Adds documentation for policy creation parameters
  libs/@local/graph/authorization/src/policies/store/mod.rs
Due: rust

Add clarification about test expectation
  tests/hash-backend-integration/src/tests/graph/authorization/policy.test.ts
Due: prettier

Update snapshots
  libs/@local/graph/authorization/types/index.snap.d.ts
Due: prettier

feat: re-use allocation
  libs/@local/hashql/core/src/type/inference/solver/graph.rs
Due: rust

chore: begin test suite
  libs/@local/hashql/core/src/type/inference/solver/graph.rs
Due: rust

chore: test condense
  libs/@local/hashql/core/src/type/inference/solver/graph.rs
Due: rust

feat: do not re-compute the graph
  libs/@local/hashql/core/src/type/inference/solver/mod.rs
  libs/@local/hashql/core/src/type/inference/solver/test.rs
Due: rust

feat: remove generic version, use smallvec
  libs/@local/hashql/core/src/type/inference/solver/mod.rs
  libs/@local/hashql/core/src/type/inference/solver/test.rs
Due: rust

feat: convert space
  libs/@local/hashql/core/src/type/environment/analysis.rs
  libs/@local/hashql/core/src/type/environment/context/diagnostics.rs
  libs/@local/hashql/core/src/type/inference/solver/mod.rs
  libs/@local/hashql/core/src/type/inference/solver/test.rs
Due: rust

feat: constraints in-place
  libs/@local/hashql/core/src/type/inference/solver/mod.rs
  libs/@local/hashql/core/src/type/inference/solver/test.rs
Due: rust

chore: phase-based allocation
  libs/@local/hashql/core/src/collection.rs
  libs/@local/hashql/core/src/type/inference/solver/mod.rs
  libs/@local/hashql/core/src/type/inference/solver/test.rs
Due: rust

fix: AST
  libs/@local/hashql/ast/src/lowering/special_form_expander/mod.rs
  libs/@local/hashql/core/src/collection.rs
Due: rust

H-4334: Expose CRUD operations for Policies (#7152)
  libs/@blockprotocol/type-system/rust/package.json
  libs/@local/codec/package.json
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/api/src/rest/permissions.rs
  libs/@local/graph/authorization/package.json
  libs/@local/graph/authorization/src/policies/mod.rs
  libs/@local/graph/authorization/src/policies/principal/mod.rs
  libs/@local/graph/authorization/src/policies/resource/entity.rs
  libs/@local/graph/authorization/src/policies/resource/entity_type.rs
  libs/@local/graph/authorization/src/policies/resource/mod.rs
  libs/@local/graph/authorization/src/policies/store/error.rs
  libs/@local/graph/authorization/src/policies/store/mod.rs
  libs/@local/graph/authorization/types/index.snap.d.ts
  libs/@local/graph/postgres-store/src/permissions/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/postgres-store/tests/principals/main.rs
  libs/@local/graph/postgres-store/tests/principals/policies.rs
  libs/@local/graph/sdk/typescript/src/policy.ts
  libs/@local/graph/type-fetcher/src/store.rs
  tests/hash-backend-integration/src/tests/graph/authorization/policy.test.ts
Due: prettier, yarn, rust

Properly distinguish between optionals and nullables in codegen
  libs/@blockprotocol/type-system/rust/types/index.snap.d.ts
  libs/@local/codegen/src/definitions/fields.rs
  libs/@local/codegen/src/definitions/type.rs
  libs/@local/codegen/src/typescript.rs
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__ListOptionals::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__MapOptional::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__StructOptional::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__TupleOptional::Typescript.snap
  libs/@local/codegen/tests/standalone-types/structs.rs
  libs/@local/codegen/tests/standalone-types/tuples.rs
  libs/@local/graph/authorization/src/policies/store/mod.rs
  libs/@local/graph/authorization/types/index.snap.d.ts
Due: prettier, rust

H-4562: Properly distinguish between optionals and nullables in codegen (#7153)
  libs/@blockprotocol/type-system/rust/types/index.snap.d.ts
  libs/@local/codegen/src/definitions/fields.rs
  libs/@local/codegen/src/definitions/type.rs
  libs/@local/codegen/src/typescript.rs
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__ListOptionals::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__MapOptional::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__StructOptional::Typescript.snap
  libs/@local/codegen/tests/standalone-types/snapshots/standalone_types__TupleOptional::Typescript.snap
  libs/@local/codegen/tests/standalone-types/structs.rs
  libs/@local/codegen/tests/standalone-types/tuples.rs
  libs/@local/graph/authorization/src/policies/store/mod.rs
  libs/@local/graph/authorization/types/index.snap.d.ts
Due: prettier, rust

feat: graph should use bump for operations
  libs/@local/hashql/core/src/type/inference/solver/mod.rs
  libs/@local/hashql/core/src/type/inference/solver/tarjan.rs
  libs/@local/hashql/core/src/type/inference/solver/test.rs
  libs/@local/hashql/core/src/type/inference/solver/topo.rs
Due: rust

Allow updating resource constraints on policies
  libs/@local/graph/authorization/src/policies/store/mod.rs
  libs/@local/graph/authorization/types/index.snap.d.ts
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  tests/hash-backend-integration/src/tests/graph/authorization/policy.test.ts
Due: prettier, rust

chore: update docs
  libs/@local/hashql/core/src/type/inference/solver/mod.rs
Due: rust

Use `Null | Json(constraint)` over `Json(constraint | null)`
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
Due: rust

Fix resource constraint parameter
  libs/@local/graph/authorization/src/policies/store/mod.rs
  libs/@local/graph/authorization/types/index.snap.d.ts
Due: prettier, rust

fix: constant
  libs/@local/hashql/core/src/type/inference/solver/tarjan.rs
Due: rust

Satisfy ESLint
  tests/hash-backend-integration/src/tests/graph/authorization/policy.test.ts
Due: prettier

H-4543: HashQL: Implement deferred type checking (#7155)
  libs/@local/hashql/ast/src/lowering/special_form_expander/mod.rs
  libs/@local/hashql/core/src/collection.rs
  libs/@local/hashql/core/src/type/environment/analysis.rs
  libs/@local/hashql/core/src/type/environment/context/diagnostics.rs
  libs/@local/hashql/core/src/type/inference/solver/graph.rs
  libs/@local/hashql/core/src/type/inference/solver/mod.rs
  libs/@local/hashql/core/src/type/inference/solver/tarjan.rs
  libs/@local/hashql/core/src/type/inference/solver/test.rs
  libs/@local/hashql/core/src/type/inference/solver/topo.rs
Due: rust

H-4561: Allow updating resource constraints on policies (#7154)
  libs/@local/graph/authorization/src/policies/store/mod.rs
  libs/@local/graph/authorization/types/index.snap.d.ts
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  tests/hash-backend-integration/src/tests/graph/authorization/policy.test.ts
Due: prettier, rust

Support reading of closed entity types with metadata
  libs/@blockprotocol/type-system/rust/src/ontology/entity_type/metadata.rs
  libs/@blockprotocol/type-system/rust/src/ontology/entity_type/mod.rs
  libs/@blockprotocol/type-system/rust/src/ontology/entity_type/schema/mod.rs
  libs/@local/graph/authorization/src/policies/resource/entity_type.rs
  libs/@local/graph/authorization/tests/policies/main.rs
  libs/@local/graph/postgres-store/src/permissions/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/read.rs
  libs/@local/graph/postgres-store/src/store/validation.rs
  libs/@local/graph/store/src/entity/store.rs
  libs/@local/graph/type-fetcher/src/store.rs
  tests/graph/integration/postgres/lib.rs
Due: rust

Remove (yet) unused context builder
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
Due: rust

H-4563: Support reading of closed entity types with metadata (#7156)
  libs/@blockprotocol/type-system/rust/src/ontology/entity_type/metadata.rs
  libs/@blockprotocol/type-system/rust/src/ontology/entity_type/mod.rs
  libs/@blockprotocol/type-system/rust/src/ontology/entity_type/schema/mod.rs
  libs/@local/graph/authorization/src/policies/resource/entity_type.rs
  libs/@local/graph/authorization/tests/policies/main.rs
  libs/@local/graph/postgres-store/src/permissions/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/read.rs
  libs/@local/graph/postgres-store/src/store/validation.rs
  libs/@local/graph/store/src/entity/store.rs
  libs/@local/graph/type-fetcher/src/store.rs
  tests/graph/integration/postgres/lib.rs
Due: rust

chore: remove docs
  libs/@local/hashql/core/src/module/locals.rs
Due: rust

chore: docs
  libs/@local/hashql/ast/src/node/type/visit.rs
Due: rust

chore: SoA debug assert
  libs/@local/hashql/ast/src/lowering/type_extractor/mod.rs
  libs/@local/hashql/ast/src/lowering/type_extractor/translate.rs
Due: rust

chore: test
  libs/@local/hashql/ast/src/lowering/type_extractor/error.rs
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/result.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/result.stdout
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/unused-generic-parameter.jsonc
  libs/@local/hashql/ast/tests/ui/lowering/type-extractor/unused-generic-parameter.stderr
Due: rust

Path conditions:
  markdownlint: any of: *.md
  prettier: any of: *.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}
  yarn: any of: {*/package.json, package.json}
  sqlfluff: any of: *.sql
  rust: any of: *.rs
  toml: any of: *.toml
