Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, prettier, yarn, sqlfluff, rust, toml

markdownlint:
  tags:
  - frontend
  - style
  run: yarn run markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

prettier:
  tags:
  - frontend
  - style
  run: yarn run prettier --write {staged_files} || true
  stage_fixed: true

yarn:
  tags:
  - frontend
  - style
  run: yarn fix:constraints && yarn fix:packagejson && yarn fix:yarn-deduplicate
  stage_fixed: true

sqlfluff:
  tags:
  - backend
  - style
  run: sqlfluff fix {staged_files} || true
  stage_fixed: true

rust:
  tags:
  - backend
  - style
  run: cargo fmt -- {staged_files} || true
  stage_fixed: true

toml:
  tags:
  - backend
  - style
  run: yarn run taplo format {staged_files} || true
  stage_fixed: true

Adjust global `turbo` dependencies
  turbo.json
Due: prettier

H-4001: Handle comments in `turbo.json` file
  .vscode/settings.json
Due: prettier

H-3998: Adjust global `turbo` dependencies (#6314)
  turbo.json
Due: prettier

Add more file extensions
  .vscode/settings.json
  .zed/settings.json
Due: prettier

H-4001: Improve VSCode/Zed file type handling (#6315)
  .vscode/settings.json
  .zed/settings.json
Due: prettier

Use `turbo query` to determine changed packages in CI
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: prettier

Use compact output for `jq`
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: prettier

Exclude root packages in tests
  .github/workflows/test.yml
Due: prettier

H-3995: Make `value` required for properties with metadata (#6309)
  apps/hash-ai-worker-ts/src/activities/infer-entities/propose-entities.ts
  libs/@local/codec/package.json
  libs/@local/codec/src/serde/string_hash_map.rs
  libs/@local/graph/api/openapi/openapi.json
  libs/@local/graph/types/rust/src/knowledge/property/array.rs
  libs/@local/graph/types/rust/src/knowledge/property/metadata/mod.rs
  libs/@local/graph/types/rust/src/knowledge/property/object.rs
  libs/@local/graph/types/typescript/src/entity.ts
Due: prettier, yarn, rust

H-3999: Use `turbo query` to determine changed packages in CI (#6317)
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: prettier

Replace `Parser` with `ModalParser`
  Cargo.lock
  libs/@local/hql/syntax-jexpr/src/parser/path.rs
  libs/@local/hql/syntax-jexpr/src/parser/symbol.rs
Due: rust

Use `uuid.NIL` for public account ID
  libs/@local/hash-backend-utils/package.json
  libs/@local/hash-backend-utils/src/public-user-account-id.ts
  yarn.lock
Due: prettier, yarn

Hide cargo progress when invoked from `turbo`
  package.json
  turbo.json
Due: prettier

feat: new snapshot logic
  libs/@local/hql/syntax-jexpr/src/error.rs
  libs/@local/hql/syntax-jexpr/src/parser/path.rs
  libs/@local/hql/syntax-jexpr/src/parser/symbol.rs
Due: rust

fix: unused import
  libs/@local/hql/syntax-jexpr/src/error.rs
Due: rust

H-4004: Cargo progress output not found (#6332)
  package.json
  turbo.json
Due: prettier

H-4003: Use `uuid.NIL` for public account ID (#6331)
  libs/@local/hash-backend-utils/package.json
  libs/@local/hash-backend-utils/src/public-user-account-id.ts
  yarn.lock
Due: prettier, yarn

fix import
  apps/hash-frontend/src/pages/@/[shortname]/entities/[entity-uuid].page/entity-editor/history-section/shared/types.ts
Due: prettier

Replace more usages of nil-UUID with constants
  apps/hash-ai-worker-ts/src/activities/graph.ts
  apps/hash-ai-worker-ts/src/workflows.ts
  libs/@local/graph/validation/src/test_data_type.rs
Due: prettier, rust

H-3989: Entity history table improvements, bug fixes (#6333)
  apps/hash-api/src/graph/ensure-system-graph-is-initialized/migrate-ontology-types/migrations/020-add-study-record-type.dev.migration.ts
  apps/hash-frontend/src/pages/@/[shortname]/entities/[entity-uuid].page/entity-editor/history-section.tsx
  apps/hash-frontend/src/pages/@/[shortname]/entities/[entity-uuid].page/entity-editor/history-section/get-history-events.ts
  apps/hash-frontend/src/pages/@/[shortname]/entities/[entity-uuid].page/entity-editor/history-section/history-table.tsx
  apps/hash-frontend/src/pages/@/[shortname]/entities/[entity-uuid].page/entity-editor/history-section/history-table/provenance/sources-slideover.tsx
  apps/hash-frontend/src/pages/@/[shortname]/entities/[entity-uuid].page/entity-editor/history-section/history-table/shared/event-detail.tsx
  apps/hash-frontend/src/pages/@/[shortname]/entities/[entity-uuid].page/entity-editor/history-section/shared/types.ts
  apps/hash-frontend/src/pages/@/[shortname]/shared/edit-bar.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/entities-table/grid-view.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/entities-table/grid-view/grid-view-item.tsx
  apps/hash-frontend/src/pages/shared/value-chip.tsx
  libs/@local/graph/types/typescript/src/entity.ts
  libs/@local/hash-isomorphic-utils/src/stringify-property-value.ts
Due: prettier

H-4003: Permission to hard coded nil-UUID string denied, use constants instead (#6334)
  apps/hash-ai-worker-ts/src/activities/graph.ts
  apps/hash-ai-worker-ts/src/workflows.ts
  libs/@local/graph/validation/src/test_data_type.rs
Due: prettier, rust

Remove unused imports if `serde` is not enabled
  libs/@local/codec/src/numeric/real.rs
Due: rust

Fix turbo not being able to find SCM base
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: prettier

Manually specify `TURBO_SCM_BASE` in query
  .github/workflows/bench.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: prettier

Add missing backslash
  .github/workflows/bench.yml
  .github/workflows/test.yml
Due: prettier

H-4006: SCM base `main` not acceptable (#6335)
  .github/workflows/bench.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: prettier

Allow flaky test to fail
  .config/nextest.toml
  .github/workflows/test.yml
Due: prettier, toml

Make the test fail always for testing
  libs/@local/harpc/net/src/session/test.rs
Due: rust

Revert "Make the test fail always for testing"
  libs/@local/harpc/net/src/session/test.rs
Due: rust

Add config file to `turbo.json`
  turbo.json
Due: prettier

H-4005: Allow flaky test to fail (once) (#6336)
  .config/nextest.toml
  .github/workflows/test.yml
  turbo.json
Due: prettier, toml

H-3730: Implement Effect tracing (#6275)
  libs/@local/harpc/client/typescript/src/codec/JsonDecoder.ts
  libs/@local/harpc/client/typescript/src/net/Client.ts
  libs/@local/harpc/client/typescript/src/net/Connection.ts
  libs/@local/harpc/client/typescript/src/net/NetworkLogger.ts
  libs/@local/harpc/client/typescript/src/net/Request.ts
  libs/@local/harpc/client/typescript/src/net/internal/dns.ts
  libs/@local/harpc/client/typescript/src/net/internal/transport.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/RequestIdProducer.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/stream/ResponseFromBytesStream.ts
  libs/@local/harpc/client/typescript/tests/codec/JsonDecoder.test.ts
  libs/@local/harpc/client/typescript/tests/codec/JsonEncoder.test.ts
  libs/@local/harpc/client/typescript/tests/net/Request.test.ts
  libs/@local/harpc/client/typescript/tests/wire-protocol/utils.ts
Due: prettier

feat: write `MutableBuffer` version
  libs/@local/harpc/client/typescript/src/binary/MutableBuffer.ts
  libs/@local/harpc/client/typescript/src/binary/MutableBytes.ts
  libs/@local/harpc/client/typescript/src/binary/index.ts
Due: prettier

feat: benchmark
  libs/@local/harpc/client/typescript/tests/wire-protocol/encode.bench.ts
Due: prettier

feat: also decode benchmark
  libs/@local/harpc/client/typescript/effect-codec.bench.json
  libs/@local/harpc/client/typescript/tests/wire-protocol/encode.bench.ts
Due: prettier

feat: add response benchmarking
  libs/@local/harpc/client/typescript/effect-codec.bench.json
  libs/@local/harpc/client/typescript/tests/wire-protocol/codec.bench.ts
Due: prettier

feat: convert all encoding to `MutableBuffer`
  libs/@local/harpc/client/typescript/src/binary/MutableBuffer.ts
  libs/@local/harpc/client/typescript/src/binary/MutableBytes.ts
  libs/@local/harpc/client/typescript/src/types/ErrorCode.ts
  libs/@local/harpc/client/typescript/src/types/ProcedureDescriptor.ts
  libs/@local/harpc/client/typescript/src/types/ProcedureId.ts
  libs/@local/harpc/client/typescript/src/types/ResponseKind.ts
  libs/@local/harpc/client/typescript/src/types/SubsystemDescriptor.ts
  libs/@local/harpc/client/typescript/src/types/SubsystemId.ts
  libs/@local/harpc/client/typescript/src/types/Version.ts
  libs/@local/harpc/client/typescript/src/utils.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/Payload.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/Protocol.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/ProtocolVersion.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/request/Request.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/request/RequestBegin.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/request/RequestBody.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/request/RequestFlags.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/request/RequestFrame.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/request/RequestHeader.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/request/RequestId.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/response/Response.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/response/ResponseBegin.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/response/ResponseBody.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/response/ResponseFlags.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/response/ResponseFrame.ts
  libs/@local/harpc/client/typescript/src/wire-protocol/models/response/ResponseHeader.ts
  libs/@local/harpc/client/typescript/tests/wire-protocol/codec.bench.ts
Due: prettier

Path conditions:
  markdownlint: any of: *.md
  prettier: any of: *.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}
  yarn: any of: {*/package.json, package.json}
  sqlfluff: any of: *.sql
  rust: any of: *.rs
  toml: any of: *.toml
