Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    biome:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: biome format --write --staged || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: rustfmt {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: taplo format {staged_files} || true
      stage_fixed: true

Revamp Petrinaut user settings
  .changeset/petrinaut-user-settings.md
  apps/petrinaut-website/src/examples/example-search.test.ts
  apps/petrinaut-website/src/examples/example-search.ts
  apps/petrinaut-website/src/examples/navigation-search.test.ts
  apps/petrinaut-website/src/examples/navigation-search.ts
  libs/@hashintel/petrinaut/docs/README.md
  libs/@hashintel/petrinaut/docs/compilation-output.md
  libs/@hashintel/petrinaut/docs/drawing-a-net.md
  libs/@hashintel/petrinaut/docs/visual-settings.md
  libs/@hashintel/petrinaut/src/react/index.ts
  libs/@hashintel/petrinaut/src/react/navigation/index.test.tsx
  libs/@hashintel/petrinaut/src/react/navigation/index.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view/user-settings.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view/user-settings.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view/user-settings/user-settings-dialog.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view/user-settings/user-settings-dialog/settings-heading.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view/user-settings/user-settings-dialog/settings-heading.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/components/viewport-controls.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/components/viewport-settings-dialog.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/components/viewport-settings-dialog.tsx
Due: markdownlint, biome

Hide unavailable optimization settings and simplify heading transitions
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view/user-settings.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view/user-settings/user-settings-dialog.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view/user-settings/user-settings-dialog/settings-heading.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view/user-settings/user-settings-dialog/settings-heading.tsx
Due: biome

Add alternate code editor layouts and direct navigation
  .changeset/clear-code-editor-guide.md
  .changeset/tidy-code-editor-layouts.md
  libs/@hashintel/petrinaut-core/src/ai.ts
  libs/@hashintel/petrinaut/docs/README.md
  libs/@hashintel/petrinaut/docs/code-editor.md
  libs/@hashintel/petrinaut/docs/visual-settings.md
  libs/@hashintel/petrinaut/src/react/state/user-settings-context.ts
  libs/@hashintel/petrinaut/src/react/state/user-settings-provider.test.tsx
  libs/@hashintel/petrinaut/src/react/state/user-settings-provider.tsx
  libs/@hashintel/petrinaut/src/ui/monaco/code-editor-layout-settings.tsx
  libs/@hashintel/petrinaut/src/ui/monaco/code-workspace.stories.tsx
  libs/@hashintel/petrinaut/src/ui/monaco/code-workspace.test.tsx
  libs/@hashintel/petrinaut/src/ui/monaco/code-workspace.tsx
  libs/@hashintel/petrinaut/src/ui/monaco/code-workspace/entries.ts
  libs/@hashintel/petrinaut/src/ui/monaco/code-workspace/surface.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view/user-settings/user-settings-dialog.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/LeftSideBar/subviews/entities-tree.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/differential-equation-properties/subviews/code-field.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/differential-equation-properties/subviews/main.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/place-properties/subviews/main.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/place-properties/subviews/place-visualizer/subview.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/transition-properties/main.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/transition-properties/subviews/transition-firing-time/subview.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/transition-properties/subviews/transition-results/subview.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/create-experiment-drawer.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/petrinaut-docs-content.ts
Due: markdownlint, biome

Keep code editing in the Properties Panel and full screen
  .changeset/tidy-code-editor-layouts.md
  libs/@hashintel/petrinaut-core/src/ai.ts
  libs/@hashintel/petrinaut/docs/README.md
  libs/@hashintel/petrinaut/docs/code-editor.md
  libs/@hashintel/petrinaut/docs/visual-settings.md
  libs/@hashintel/petrinaut/src/react/state/user-settings-context.ts
  libs/@hashintel/petrinaut/src/react/state/user-settings-provider.test.tsx
  libs/@hashintel/petrinaut/src/react/state/user-settings-provider.tsx
  libs/@hashintel/petrinaut/src/ui/monaco/code-editor-layout-settings.tsx
  libs/@hashintel/petrinaut/src/ui/monaco/code-workspace.stories.tsx
  libs/@hashintel/petrinaut/src/ui/monaco/code-workspace.test.tsx
  libs/@hashintel/petrinaut/src/ui/monaco/code-workspace.tsx
  libs/@hashintel/petrinaut/src/ui/monaco/code-workspace/surface.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view/user-settings/user-settings-dialog.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/create-experiment-drawer.test.tsx
Due: markdownlint, biome

Preserve property sizes and review-mode code navigation
  libs/@hashintel/petrinaut/docs/code-editor.md
  libs/@hashintel/petrinaut/src/ui/monaco/code-workspace.test.tsx
  libs/@hashintel/petrinaut/src/ui/monaco/code-workspace.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/differential-equation-properties/subviews/main.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/place-properties/main.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/place-properties/subviews/place-visualizer/subview.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/transition-properties/subviews/transition-firing-time/subview.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/transition-properties/subviews/transition-results/subview.tsx
Due: markdownlint, biome

Reset code editor layout and retained models when scope changes
  libs/@hashintel/petrinaut/docs/code-editor.md
  libs/@hashintel/petrinaut/src/ui/monaco/code-workspace.test.tsx
  libs/@hashintel/petrinaut/src/ui/monaco/code-workspace.tsx
Due: markdownlint, biome

Integrate local document routes with the document repository
  apps/petrinaut-website/src/main/app/local-storage-demo/documents/local-storage/use-fixture-document-overlay.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/documents/local-storage/use-local-document-repository.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/documents/local-storage/use-local-document-repository.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/use-local-storage-sdcpns.ts
  apps/petrinaut-website/src/routes/-local.test.tsx
  apps/petrinaut-website/src/routes/index.tsx
Due: biome

Preserve construction routes and distinct fixture UUIDs
  apps/petrinaut-website/src/main/app/local-storage-demo/documents/local-storage/use-fixture-document-overlay.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.test.tsx
  apps/petrinaut-website/src/routes/-local.test.tsx
  apps/petrinaut-website/src/routes/index.tsx
Due: biome

Include the local document guide in the next Petrinaut release
  .changeset/local-document-urls.md
Due: markdownlint, biome

Require persistence before creating local document URLs
  apps/petrinaut-website/src/main/app/local-storage-demo/use-local-storage-sdcpns.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/use-local-storage-sdcpns.ts
  apps/petrinaut-website/src/routes/-local.test.tsx
  apps/petrinaut-website/src/routes/-new.test.ts
  libs/@hashintel/petrinaut/docs/drawing-a-net.md
Due: markdownlint, biome

Give local Petrinaut documents persistent URLs and fork examples
  apps/petrinaut-website/README.md
  apps/petrinaut-website/src/examples/full-example-page.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/documents/local-storage/use-local-document-repository.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/documents/use-document-controller.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/resolve-crew-reservation-bundle.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/use-local-storage-sdcpns.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/use-local-storage-sdcpns.ts
  apps/petrinaut-website/src/routes/-local.test.tsx
  apps/petrinaut-website/src/routes/-new.test.ts
  apps/petrinaut-website/src/routes/-not-found-page.tsx
  apps/petrinaut-website/src/routes/__root.tsx
  apps/petrinaut-website/src/routes/examples.$slug.tsx
  apps/petrinaut-website/src/routes/index.tsx
  apps/petrinaut-website/src/routes/local.$uuid.tsx
  apps/petrinaut-website/src/routes/new.tsx
  libs/@hashintel/petrinaut/docs/drawing-a-net.md
Due: markdownlint, biome

Preserve native undo without an editor history adapter
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/use-keyboard-shortcuts.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/use-keyboard-shortcuts.ts
Due: biome

Explain blocked edits in read-only Petrinaut documents
  .changeset/smooth-readonly-feedback.md
  apps/petrinaut-website/src/examples/full-example-page.tsx
  libs/@hashintel/petrinaut/README.md
  libs/@hashintel/petrinaut/docs/drawing-a-net.md
  libs/@hashintel/petrinaut/src/react/hooks/use-petrinaut-commands.ts
  libs/@hashintel/petrinaut/src/react/hooks/use-petrinaut-mutations.test.tsx
  libs/@hashintel/petrinaut/src/react/hooks/use-petrinaut-mutations.ts
  libs/@hashintel/petrinaut/src/react/hooks/use-read-only-feedback.ts
  libs/@hashintel/petrinaut/src/react/notifications/context.ts
  libs/@hashintel/petrinaut/src/react/notifications/provider.test.tsx
  libs/@hashintel/petrinaut/src/react/notifications/provider.tsx
  libs/@hashintel/petrinaut/src/react/notifications/toaster.tsx
  libs/@hashintel/petrinaut/src/react/state/read-only-action-context.ts
  libs/@hashintel/petrinaut/src/ui/petrinaut.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/use-keyboard-shortcuts.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/use-keyboard-shortcuts.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/use-read-only-node-drag.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/use-read-only-node-drag.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/use-canvas-interactions.ts
Due: markdownlint, biome

Keep snapshot links stable while copying and verify file downloads
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/src/sharing/share-snapshot-button.test.tsx
  apps/petrinaut-website/src/sharing/share-snapshot-button.tsx
Due: biome

Share Petrinaut snapshots through self-contained URLs
  .changeset/snapshot-sharing-doc-catalog.md
  .changeset/snapshot-sharing-guide.md
  apps/petrinaut-website/README.md
  apps/petrinaut-website/package.json
  apps/petrinaut-website/src/examples/full-example-page.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/src/main/app/readonly-document-page.tsx
  apps/petrinaut-website/src/routes/-share.test.tsx
  apps/petrinaut-website/src/routes/share.tsx
  apps/petrinaut-website/src/sentry/instrument.ts
  apps/petrinaut-website/src/sentry/strip-snapshot-links.test.ts
  apps/petrinaut-website/src/sentry/strip-snapshot-links.ts
  apps/petrinaut-website/src/sharing/share-snapshot-button.test.tsx
  apps/petrinaut-website/src/sharing/share-snapshot-button.tsx
  apps/petrinaut-website/src/sharing/snapshot-client.test.ts
  apps/petrinaut-website/src/sharing/snapshot-client.ts
  apps/petrinaut-website/src/sharing/snapshot-codec.ts
  apps/petrinaut-website/src/sharing/snapshot-worker-protocol.ts
  apps/petrinaut-website/src/sharing/snapshot-worker.ts
  apps/petrinaut-website/src/sharing/snapshot.test.ts
  apps/petrinaut-website/src/sharing/snapshot.ts
  libs/@hashintel/petrinaut-core/src/ai.ts
  libs/@hashintel/petrinaut/docs/README.md
  libs/@hashintel/petrinaut/docs/sharing.md
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/petrinaut-docs-content.ts
  yarn.lock
Due: markdownlint, biome, yarn

Isolate unrelated pages in snapshot navigation tests
  apps/petrinaut-website/src/routes/-share.test.tsx
Due: biome

Recut Mission 7d with WP-F for one-upload settlement, sources by id and live chronology
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/MISSION.next.md
  libs/@hashintel/brunch-agent/SIDE_QUEST.md
Due: markdownlint, biome

FE-1658: Dock the Petrinaut AI assistant on the right (#9659)
  .changeset/quiet-boats-dock.md
  apps/petrinaut-website/src/main/app/command-palette.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.test.tsx
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/docs/drawing-a-net.md
  libs/@hashintel/petrinaut/src/react/commands/command-palette.stories.tsx
  libs/@hashintel/petrinaut/src/react/hooks/use-petrinaut-commands.test.tsx
  libs/@hashintel/petrinaut/src/react/hooks/use-petrinaut-mutations.test.tsx
  libs/@hashintel/petrinaut/src/react/state/editor-context.ts
  libs/@hashintel/petrinaut/src/react/state/editor-provider.test.tsx
  libs/@hashintel/petrinaut/src/react/state/editor-provider.tsx
  libs/@hashintel/petrinaut/src/react/state/panel-defaults.ts
  libs/@hashintel/petrinaut/src/ui/hooks/use-canvas-insets.test.ts
  libs/@hashintel/petrinaut/src/ui/hooks/use-canvas-insets.ts
  libs/@hashintel/petrinaut/src/ui/petrinaut.stories.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/bottom-bar.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/use-bottom-bar-layout.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/BottomBar/use-bottom-bar-layout.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/experiments-story-fixtures.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.stories.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/floating-resize-handle.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/use-floating-position.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/use-floating-position.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/use-floating-position/resize-floating-panel.test.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/use-floating-position/resize-floating-panel.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/use-editor-commands.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/use-editor-commands.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/mini-map.tsx
Due: markdownlint, biome

FE-1709: Revamp Petrinaut user settings (#9697)
  .changeset/dialog-content-position.md
  .changeset/petrinaut-user-settings.md
  apps/petrinaut-website/src/examples/example-search.test.ts
  apps/petrinaut-website/src/examples/example-search.ts
  apps/petrinaut-website/src/examples/navigation-search.test.ts
  apps/petrinaut-website/src/examples/navigation-search.ts
  libs/@hashintel/ds-components/src/components/Dialog/dialog.tsx
  libs/@hashintel/petrinaut/docs/README.md
  libs/@hashintel/petrinaut/docs/compilation-output.md
  libs/@hashintel/petrinaut/docs/drawing-a-net.md
  libs/@hashintel/petrinaut/docs/visual-settings.md
  libs/@hashintel/petrinaut/src/react/index.ts
  libs/@hashintel/petrinaut/src/react/navigation/index.test.tsx
  libs/@hashintel/petrinaut/src/react/navigation/index.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view/user-settings.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view/user-settings.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view/user-settings/user-settings-dialog.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view/user-settings/user-settings-dialog/settings-heading.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view/user-settings/user-settings-dialog/settings-heading.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view/user-settings/user-settings-dialog/settings-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/use-floating-position.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/shared/floating-resize-handles.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/shared/use-floating-panel.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/shared/use-floating-panel.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/shared/use-floating-panel/resize-floating-panel.test.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/shared/use-floating-panel/resize-floating-panel.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/components/viewport-controls.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/components/viewport-settings-dialog.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/components/viewport-settings-dialog.tsx
Due: markdownlint, biome

Tighten WP-F contracts after Oracle review
  libs/@hashintel/brunch-agent/MISSION.md
Due: markdownlint, biome

Add identities to the SDCPN and identityRef key markers on colour elements
  libs/@hashintel/petrinaut-core/src/action-schemas.ts
  libs/@hashintel/petrinaut-core/src/actions.test.ts
  libs/@hashintel/petrinaut-core/src/actions.ts
  libs/@hashintel/petrinaut-core/src/ai.ts
  libs/@hashintel/petrinaut-core/src/extensions.ts
  libs/@hashintel/petrinaut-core/src/file-format/serialize-sdcpn.test.ts
  libs/@hashintel/petrinaut-core/src/file-format/serialize-sdcpn.ts
  libs/@hashintel/petrinaut-core/src/file-format/types.ts
  libs/@hashintel/petrinaut-core/src/index.ts
  libs/@hashintel/petrinaut-core/src/optimization/optimization.test.ts
  libs/@hashintel/petrinaut-core/src/schemas/entity-schemas.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/flatten-component-instances.ts
  libs/@hashintel/petrinaut-core/src/types/sdcpn.ts
  libs/@hashintel/petrinaut/src/react/hooks/use-petrinaut-mutations.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/type-properties/subviews/main.tsx
Due: biome

Add status views to the SDCPN schema, actions, and file format
  .changeset/status-views.md
  libs/@hashintel/petrinaut-core/src/action-schemas.ts
  libs/@hashintel/petrinaut-core/src/actions.test.ts
  libs/@hashintel/petrinaut-core/src/actions.ts
  libs/@hashintel/petrinaut-core/src/ai.ts
  libs/@hashintel/petrinaut-core/src/extensions.ts
  libs/@hashintel/petrinaut-core/src/file-format/parse-sdcpn-file.ts
  libs/@hashintel/petrinaut-core/src/file-format/remove-visual-info.ts
  libs/@hashintel/petrinaut-core/src/file-format/serialize-sdcpn.test.ts
  libs/@hashintel/petrinaut-core/src/file-format/serialize-sdcpn.ts
  libs/@hashintel/petrinaut-core/src/file-format/types.ts
  libs/@hashintel/petrinaut-core/src/index.ts
  libs/@hashintel/petrinaut-core/src/optimization/optimization.test.ts
  libs/@hashintel/petrinaut-core/src/schemas/status-view-schema.test.ts
  libs/@hashintel/petrinaut-core/src/schemas/status-view-schema.ts
  libs/@hashintel/petrinaut-core/src/scoped-ids.test.ts
  libs/@hashintel/petrinaut-core/src/scoped-ids.ts
  libs/@hashintel/petrinaut-core/src/simulation/engine/flatten-component-instances.ts
  libs/@hashintel/petrinaut-core/src/types/sdcpn.ts
  libs/@hashintel/petrinaut/src/react/hooks/use-petrinaut-mutations.ts
  libs/@hashintel/petrinaut/src/react/state/simulate-mode-allowed-mutation-names.ts
Due: markdownlint, biome

Show status badges and label tinting on component-instance nodes
  libs/@hashintel/petrinaut-core/src/simulation/frames/hir-status-view.ts
  libs/@hashintel/petrinaut-core/src/simulation/status-views.test.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/canvas-frame-store.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/hooks/use-status-view-node-statuses.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/hooks/use-status-view-node-statuses.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas/component-instance-node.tsx
Due: biome

Add ticket-processing example and a status view to Production with Machine Failure
  libs/@hashintel/petrinaut-core/src/examples/examples.test.ts
  libs/@hashintel/petrinaut-core/src/examples/index.ts
  libs/@hashintel/petrinaut-core/src/examples/production-with-machine-failure.ts
  libs/@hashintel/petrinaut-core/src/examples/ticket-processing.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view.tsx
Due: biome

Record token values on actual-mode transition firings
  apps/petrinaut-website/src/main/app/brunch-demo/brunch-frame-parsers.ts
  libs/@hashintel/petrinaut-core/src/actual-mode/README.md
  libs/@hashintel/petrinaut-core/src/actual-mode/actual-mode.test.ts
  libs/@hashintel/petrinaut-core/src/actual-mode/constants.ts
  libs/@hashintel/petrinaut-core/src/actual-mode/index.ts
  libs/@hashintel/petrinaut-core/src/actual-mode/marking.ts
  libs/@hashintel/petrinaut-core/src/actual-mode/schemas.ts
  libs/@hashintel/petrinaut-core/src/actual-mode/timeline.ts
  libs/@hashintel/petrinaut-core/src/actual-mode/types.ts
  libs/@hashintel/petrinaut-core/src/index.ts
Due: markdownlint, biome

Derive per-instance status and time-in-state from execution frames
  libs/@hashintel/petrinaut-core/src/hir.ts
  libs/@hashintel/petrinaut-core/src/hir/compile.ts
  libs/@hashintel/petrinaut-core/src/hir/hir-schema.ts
  libs/@hashintel/petrinaut-core/src/hir/hir.ts
  libs/@hashintel/petrinaut-core/src/hir/instantiate.ts
  libs/@hashintel/petrinaut-core/src/hir/interpret.ts
  libs/@hashintel/petrinaut-core/src/hir/lint.ts
  libs/@hashintel/petrinaut-core/src/hir/lower-typescript.ts
  libs/@hashintel/petrinaut-core/src/hir/surface-context.ts
  libs/@hashintel/petrinaut-core/src/hir/typecheck.ts
  libs/@hashintel/petrinaut-core/src/index.ts
  libs/@hashintel/petrinaut-core/src/simulation/frames/hir-status-view.ts
  libs/@hashintel/petrinaut-core/src/simulation/status-views.test.ts
  libs/@hashintel/petrinaut-core/src/simulation/status-views.ts
  libs/@hashintel/petrinaut/src/react/experiments/provider/create-experiment.test.ts
  libs/@hashintel/petrinaut/src/react/lsp/context.ts
  libs/@hashintel/petrinaut/src/ui/preview/quick-simulation.test.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/metrics/create-metric-drawer.test.tsx
Due: biome

Add a status views authoring panel to the simulate view
  libs/@hashintel/petrinaut/src/react/navigation/index.tsx
  libs/@hashintel/petrinaut/src/react/state/editor-context.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/type-properties/subviews/main.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/simulate-view.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/status-views/create-status-view-drawer.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/status-views/status-view-form-defaults.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/status-views/status-view-form.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/status-views/status-view-lsp.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/status-views/status-view-mapping.test.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/status-views/status-view-mapping.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/status-views/status-view-place-options.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/status-views/status-views-view.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/status-views/view-status-view-drawer.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/shared/color-select.tsx
Due: biome

Add a Kanban board toggle and status timing surfaces
  libs/@hashintel/petrinaut-core/src/ai.ts
  libs/@hashintel/petrinaut-core/src/simulation/status-views.ts
  libs/@hashintel/petrinaut/docs/README.md
  libs/@hashintel/petrinaut/docs/status-views.md
  libs/@hashintel/petrinaut/src/react/hooks/use-petrinaut-commands.test.tsx
  libs/@hashintel/petrinaut/src/react/hooks/use-petrinaut-mutations.test.tsx
  libs/@hashintel/petrinaut/src/react/state/editor-context.ts
  libs/@hashintel/petrinaut/src/react/state/editor-provider.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/actual-events.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/actual-events/derive-status-changes.test.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/BottomPanel/subviews/actual-events/derive-status-changes.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/experiments-story-fixtures.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/petrinaut-docs-content.ts
  libs/@hashintel/petrinaut/src/ui/views/Kanban/kanban-view.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/hooks/use-status-view-node-statuses.ts
  libs/@hashintel/petrinaut/src/ui/views/shared/status-view-tracking.ts
Due: markdownlint, biome

Fix machine-fleet identity keys and the stranded Kanban view mode
  libs/@hashintel/petrinaut-core/src/examples/production-with-machine-failure.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view.tsx
Due: biome

Make actual-mode token replay honor firing counts and never drop the wrong token
  libs/@hashintel/petrinaut-core/src/actual-mode/README.md
  libs/@hashintel/petrinaut-core/src/actual-mode/actual-mode.test.ts
  libs/@hashintel/petrinaut-core/src/actual-mode/marking.ts
Due: markdownlint, biome

Surface status-view failures in the UI and share one condition-compile pipeline
  libs/@hashintel/petrinaut/docs/status-views.md
  libs/@hashintel/petrinaut/src/react/petrinaut-provider.tsx
  libs/@hashintel/petrinaut/src/react/status-condition-artifacts.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/PropertiesPanel/type-properties/subviews/main.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/status-views/create-status-view-drawer.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/status-views/status-view-form-defaults.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/status-views/status-view-form.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/status-views/status-view-place-options.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/status-views/view-status-view-drawer.tsx
  libs/@hashintel/petrinaut/src/ui/views/Kanban/kanban-view.tsx
  libs/@hashintel/petrinaut/src/ui/views/Kanban/kanban-view/board-replay.test.ts
  libs/@hashintel/petrinaut/src/ui/views/Kanban/kanban-view/board-replay.ts
  libs/@hashintel/petrinaut/src/ui/views/README.md
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/hooks/use-status-view-node-statuses.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/hooks/use-status-view-node-statuses.ts
  libs/@hashintel/petrinaut/src/ui/views/shared/format-dwell.ts
  libs/@hashintel/petrinaut/src/ui/views/shared/status-view-tracking.ts
Due: markdownlint, biome

Fail closed on broken status conditions and validate status-view references
  libs/@hashintel/petrinaut-core/src/actions.test.ts
  libs/@hashintel/petrinaut-core/src/actions.ts
  libs/@hashintel/petrinaut-core/src/file-format/parse-sdcpn-file.test.ts
  libs/@hashintel/petrinaut-core/src/file-format/types.ts
  libs/@hashintel/petrinaut-core/src/hir/interpret.ts
  libs/@hashintel/petrinaut-core/src/hir/surface-context.ts
  libs/@hashintel/petrinaut-core/src/index.ts
  libs/@hashintel/petrinaut-core/src/schemas/status-view-schema.ts
  libs/@hashintel/petrinaut-core/src/scoped-ids.test.ts
  libs/@hashintel/petrinaut-core/src/scoped-ids.ts
  libs/@hashintel/petrinaut-core/src/simulation/frames/hir-status-view.ts
  libs/@hashintel/petrinaut-core/src/simulation/status-views.test.ts
  libs/@hashintel/petrinaut-core/src/simulation/status-views.ts
  libs/@hashintel/petrinaut-core/src/status-view-scope.test.ts
  libs/@hashintel/petrinaut-core/src/status-view-scope.ts
Due: biome

Keep identities and status views when normalizing an SDCPN input
  libs/@hashintel/petrinaut-core/src/handle/json-doc-handle/create-json-doc-handle.test.ts
  libs/@hashintel/petrinaut-core/src/types/sdcpn-input.test.ts
  libs/@hashintel/petrinaut-core/src/types/sdcpn-input.ts
Due: biome

Give example tickets human-readable ids
  libs/@hashintel/petrinaut-core/src/examples/ticket-processing.ts
Due: biome

Cover validateStatusViewCompiles with unit tests
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/status-views/status-view-lsp.test.ts
Due: biome

Keep dangling-place wording timeless
  libs/@hashintel/petrinaut-core/src/status-view-scope.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/status-views/status-view-form.tsx
Due: biome
