Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

markdownlint:
  tags:
  - frontend
  - style
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

biome:
  tags:
  - frontend
  - style
  run: biome format --write --staged || true
  stage_fixed: true

yarn:
  tags:
  - frontend
  - style
  run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
  stage_fixed: true

sqlfluff:
  tags:
  - backend
  - style
  run: sqlfluff fix {staged_files} || true
  stage_fixed: true

rust:
  tags:
  - backend
  - style
  run: rustfmt {staged_files} || true
  stage_fixed: true

toml:
  tags:
  - backend
  - style
  run: taplo format {staged_files} || true
  stage_fixed: true

Keep the publishing-packages skill self-contained and link it from the libs README
  .agents/skills/publishing-packages/SKILL.md
  libs/README.md
Due: markdownlint, biome

Keep pinned Voice words compatible with React Compiler
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-control.tsx
Due: biome

Restore React Compiler for the Live voice control and session indicator
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation-control.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/components/voice-session-indicator.tsx
Due: biome

Remove the model default and the selected-mutation batch from petrinaut-core
  .changeset/brunch-petrinaut-core-contracts.md
  .changeset/petrinaut-ai-model.md
  .changeset/petrinaut-core-remove-model-and-batch.md
  .changeset/selected-batch-scenarios-metrics.md
  .changeset/selected-mutation-batch.md
  apps/brunch-agent/README.md
  apps/brunch-agent/src/chat-model.ts
  apps/petrinaut-website/README.md
  apps/petrinaut-website/api/chat.ts
  apps/petrinaut-website/api/voice/mediation.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.canonical-state-change.integration.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/workpiece-refusal-presentation.integration.test.tsx
  libs/@hashintel/petrinaut-core/src/ai.ts
  libs/@hashintel/petrinaut-core/src/index.ts
  libs/@hashintel/petrinaut-core/src/selected-mutation-batch.test.ts
  libs/@hashintel/petrinaut-core/src/selected-mutation-batch.ts
Due: markdownlint, biome

Add typed ontology major version arithmetic
  libs/@blockprotocol/type-system/rust/src/ontology/id/error.rs
  libs/@blockprotocol/type-system/rust/src/ontology/id/mod.rs
  libs/@local/graph/api/src/rest/legacy/data_type.rs
  libs/@local/graph/api/src/rest/legacy/entity_type.rs
  libs/@local/graph/api/src/rest/legacy/property_type.rs
  libs/@local/graph/api/src/rest/legacy/status.rs
  libs/@local/graph/api/src/rest/legacy/utoipa_typedef/subgraph/edges.rs
  libs/@local/graph/authorization/rust/src/policies/cedar/expression_tree.rs
  libs/@local/graph/authorization/rust/src/policies/resource/data_type.rs
  libs/@local/graph/authorization/rust/src/policies/resource/entity_type.rs
  libs/@local/graph/authorization/rust/src/policies/resource/property_type.rs
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/data_type.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/entity_type.rs
  libs/@local/graph/postgres-store/src/store/postgres/ontology/property_type.rs
  libs/@local/graph/postgres-store/src/store/postgres/query/compile/tests.rs
  libs/@local/graph/postgres-store/tests/deletion/main.rs
  libs/@local/graph/store/rust/src/filter/mod.rs
  tests/graph/integration/postgres/clustering.rs
  tests/graph/integration/postgres/drafts.rs
  tests/graph/integration/postgres/email_filter_protection.rs
  tests/graph/integration/postgres/entity.rs
  tests/graph/integration/postgres/links.rs
  tests/graph/integration/postgres/read_only.rs
  tests/graph/integration/postgres/semantic_search.rs
  tests/graph/integration/postgres/sorting.rs
  tests/graph/integration/postgres/table.rs
  tests/graph/test-data/rust/src/seeding/producer/data_type.rs
  tests/graph/test-data/rust/src/seeding/producer/entity_type.rs
  tests/graph/test-data/rust/src/seeding/producer/property_type.rs
Due: rust

Add PostgreSQL conversions for ontology major versions
  libs/@blockprotocol/type-system/rust/src/ontology/id/mod.rs
Due: rust

Keep failed Live progress lines from warning that an answer failed
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation-control.test.tsx
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation-control.tsx
Due: biome

SRE-1128: Bump npm, Python and Rust dependency versions
  Cargo.lock
  apps/brunch-agent/package.json
  apps/hash-ai-worker-ts/package.json
  apps/hash-api/package.json
  apps/hash-frontend/package.json
  apps/hash-integration-worker/package.json
  apps/petrinaut-opt/uv.lock
  libs/@local/graph/client/typescript/package.json
  libs/@local/hash-backend-utils/package.json
  libs/@local/internal-api-client/typescript/package.json
  package.json
  yarn.lock
Due: biome, yarn

SRE-1128: Keep axios at its current versions
  apps/hash-ai-worker-ts/package.json
  apps/hash-api/package.json
  apps/hash-frontend/package.json
  apps/hash-integration-worker/package.json
  libs/@local/graph/client/typescript/package.json
  libs/@local/hash-backend-utils/package.json
  libs/@local/internal-api-client/typescript/package.json
  yarn.lock
Due: biome, yarn

Budget Brunch replies by the panel's input mode, matching the estimate
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-panel-transport.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-panel-transport.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-control.test.tsx
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-control.tsx
Due: biome

Update libs/@local/graph/api/src/rest/legacy/utoipa_typedef/subgraph/edges.rs
  libs/@local/graph/api/src/rest/legacy/utoipa_typedef/subgraph/edges.rs
Due: rust

Refuse to start Brunch in production without a usable chat model
  apps/brunch-agent/README.md
  apps/brunch-agent/src/app.ts
  apps/brunch-agent/src/chat-model-configuration.ts
  apps/brunch-agent/src/runtime-diagnostics.ts
  apps/brunch-agent/src/telemetry.ts
  apps/brunch-agent/test/chat-model-configuration.test.ts
  apps/brunch-agent/test/container-smoke.ts
Due: markdownlint, biome

Verify Brunch's chat model with its provider before starting
  apps/brunch-agent/README.md
  apps/brunch-agent/src/app.ts
  apps/brunch-agent/src/chat-model-configuration.ts
  apps/brunch-agent/test/chat-model-configuration.test.ts
  apps/brunch-agent/test/container-smoke.ts
Due: markdownlint, biome

Wait for each ECS rollout to complete before passing a deploy
  .github/actions/redeploy-ecs-service/action.yml
  .github/workflows/deploy.yml
Due: biome

Stop turbo from inserting agent guidance into the root AGENTS.md
  .config/mise/config.toml
  .config/mise/mise.lock
  turbo.json
Due: biome, toml

Drop the AGENTS.md note and skill link from the libs README
  libs/README.md
Due: markdownlint, biome

SRE-1130: Bump `axios` to 1.20.0
  apps/hash-ai-worker-ts/package.json
  apps/hash-api/package.json
  apps/hash-frontend/package.json
  apps/hash-integration-worker/package.json
  libs/@local/graph/client/typescript/openapitools.json
  libs/@local/graph/client/typescript/package.json
  libs/@local/graph/client/typescript/templates/common.mustache
  libs/@local/hash-backend-utils/package.json
  libs/@local/internal-api-client/typescript/common.ts
  libs/@local/internal-api-client/typescript/openapitools.json
  libs/@local/internal-api-client/typescript/package.json
  libs/@local/internal-api-client/typescript/templates/common.mustache
  yarn.lock
Due: biome, yarn

SRE-1131: Bump `nodemailer` to 10.0.12
  apps/hash-api/package.json
  apps/hash-api/src/email/transporters/aws-ses-email-transporter.ts
  apps/hash-api/src/email/transporters/smtp-email-transporter.ts
  yarn.lock
Due: biome, yarn

Document every plugin API symbol and field for hover
  libs/@hashintel/petrinaut/src/ui/petrinaut.tsx
  libs/@hashintel/petrinaut/src/ui/plugins/create-assistant-plugin.ts
  libs/@hashintel/petrinaut/src/ui/plugins/define-petrinaut-plugin.ts
  libs/@hashintel/petrinaut/src/ui/plugins/plugin-assistants.tsx
  libs/@hashintel/petrinaut/src/ui/plugins/plugin-contribution-store.ts
  libs/@hashintel/petrinaut/src/ui/plugins/plugin-dependencies.ts
  libs/@hashintel/petrinaut/src/ui/plugins/plugin-manifest.ts
  libs/@hashintel/petrinaut/src/ui/plugins/plugin-token.ts
  libs/@hashintel/petrinaut/src/ui/plugins/plugins-provider.tsx
  libs/@hashintel/petrinaut/src/ui/types/ai-assistant-composer-control.ts
  libs/@hashintel/petrinaut/src/ui/types/ai-automatic-tool.ts
  libs/@hashintel/petrinaut/src/ui/types/ai-interactive-tool.ts
Due: biome

Add the Petrinaut AI, Brunch and Voice assistant plugins
  apps/brunch-agent/README.md
  apps/petrinaut-website/README.md
  apps/petrinaut-website/src/main/app/ai-experiments-demo/ai-experiments-demo.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/assistant-labs-settings.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/assistant-labs-settings.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/assistant-selection.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/default-assistant.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/documents/use-active-handle.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.canonical-state-change.integration.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.draft-panel.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/unsaved-change-notice.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/voice-preference.ts
  apps/petrinaut-website/src/main/app/plugins/README.md
  apps/petrinaut-website/src/main/app/plugins/_shared/brunch-conversation.ts
  apps/petrinaut-website/src/main/app/plugins/brunch/README.md
  apps/petrinaut-website/src/main/app/plugins/brunch/brunch-host.ts
  apps/petrinaut-website/src/main/app/plugins/brunch/conversation/voice-history-continuity.test.tsx
  apps/petrinaut-website/src/main/app/plugins/brunch/plugin.tsx
  apps/petrinaut-website/src/main/app/plugins/brunch/plugin/use-brunch-plugin.tsx
  apps/petrinaut-website/src/main/app/plugins/brunch/plugin/use-immutable-replay-baseline.ts
  apps/petrinaut-website/src/main/app/plugins/brunch/plugin/use-instance-for.test.tsx
  apps/petrinaut-website/src/main/app/plugins/brunch/plugin/use-instance-for.ts
  apps/petrinaut-website/src/main/app/plugins/petrinaut-ai/plugin.tsx
  apps/petrinaut-website/src/main/app/plugins/petrinaut-ai/plugin/use-local-storage-ai-messages.ts
  apps/petrinaut-website/src/main/app/plugins/voice/README.md
  apps/petrinaut-website/src/main/app/plugins/voice/brunch-voice-mode.tsx
  apps/petrinaut-website/src/main/app/plugins/voice/live/buffered-admission.integration.test.ts
  apps/petrinaut-website/src/main/app/plugins/voice/plugin.tsx
  apps/petrinaut-website/src/main/app/plugins/voice/plugin/use-voice-plugin.tsx
  apps/petrinaut-website/src/main/app/plugins/voice/session/voice-audio-settings/preview.test.ts
  apps/petrinaut-website/src/main/app/plugins/voice/session/voice-browser-tools.test.tsx
Due: markdownlint, biome

Add the command palette plugin
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/src/main/app/plugins/README.md
  apps/petrinaut-website/src/main/app/plugins/command-palette/plugin.tsx
  apps/petrinaut-website/src/main/app/plugins/command-palette/plugin/command-palette.tsx
  libs/@local/petrinaut-arch-docs/content/commands/usage-manual.mdx
Due: markdownlint, biome

Add the Sentry feedback plugin and remove the viewportActions prop
  .changeset/petrinaut-remove-viewport-actions.md
  apps/petrinaut-website/src/main/app/brunch-demo/brunch-actual-mode-route.tsx
  apps/petrinaut-website/src/main/app/brunch-demo/brunch-demo-app.test.tsx
  apps/petrinaut-website/src/main/app/brunch-demo/brunch-demo-app.tsx
  apps/petrinaut-website/src/main/app/brunch-demo/brunch-petrinaut.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/src/main/app/plugins/README.md
  apps/petrinaut-website/src/main/app/plugins/sentry-feedback/plugin.tsx
  apps/petrinaut-website/src/main/app/sentry-feedback-button.tsx
  libs/@hashintel/petrinaut/src/main.ts
  libs/@hashintel/petrinaut/src/preview.ts
  libs/@hashintel/petrinaut/src/ui/index.ts
  libs/@hashintel/petrinaut/src/ui/petrinaut.tsx
  libs/@hashintel/petrinaut/src/ui/preview/petrinaut-preview.tsx
  libs/@hashintel/petrinaut/src/ui/types/viewport-action.ts
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/canvas-renderer.ts
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/components/viewport-controls.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/renderers/react-flow/react-flow-canvas.tsx
  libs/@hashintel/petrinaut/src/ui/views/SDCPN/sdcpn-view.tsx
  libs/@local/petrinaut-arch-docs/content/handle/host-integration.mdx
Due: markdownlint, biome

Add the welcome guide plugin and remove the built-in walkthrough
  .changeset/petrinaut-remove-built-in-welcome-guide.md
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.canonical-state-change.integration.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.draft-panel.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/src/main/app/plugins/README.md
  apps/petrinaut-website/src/main/app/plugins/walkthrough/README.md
  apps/petrinaut-website/src/main/app/plugins/walkthrough/logo-mark.png
  apps/petrinaut-website/src/main/app/plugins/walkthrough/plugin.tsx
  apps/petrinaut-website/src/main/app/plugins/walkthrough/plugin/walkthrough-dialog.tsx
  apps/petrinaut-website/src/main/app/plugins/walkthrough/videos/01-intro-example.mp4
  apps/petrinaut-website/src/main/app/plugins/walkthrough/videos/02-experiments-example.mp4
  apps/petrinaut-website/src/main/app/plugins/walkthrough/videos/03-ai-example.mp4
  apps/petrinaut-website/src/main/app/plugins/walkthrough/walkthrough-steps.tsx
  libs/@hashintel/petrinaut/docs/visual-settings.md
  libs/@hashintel/petrinaut/src/react/state/user-settings-context.ts
  libs/@hashintel/petrinaut/src/react/state/user-settings-provider.test.tsx
  libs/@hashintel/petrinaut/src/react/state/user-settings-provider.tsx
  libs/@hashintel/petrinaut/src/ui/components/walkthrough/index.ts
  libs/@hashintel/petrinaut/src/ui/components/walkthrough/walkthrough-context.ts
  libs/@hashintel/petrinaut/src/ui/components/walkthrough/walkthrough-provider.tsx
  libs/@hashintel/petrinaut/src/ui/components/walkthrough/walkthrough.stories.tsx
  libs/@hashintel/petrinaut/src/ui/index.ts
  libs/@hashintel/petrinaut/src/ui/monaco/code-sections.stories.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view/user-settings.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/editor-view/user-settings/user-settings-dialog.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/SimulateView/experiments/create-experiment-drawer.test.tsx
Due: markdownlint, biome

Add the example title plugin
  apps/petrinaut-website/src/examples/full-example-page.tsx
Due: biome

Better filters for enum values
  apps/hash-frontend/src/pages/dashboard/[dashboard-id].page/item-config-modal/structural-query-builder.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/header/filter-ribbon.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/header/filter-ribbon/property-filter-chip.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/shared/property-filters/build-property-filter-clause.test.ts
  apps/hash-frontend/src/pages/shared/entities-visualizer/shared/property-filters/build-property-filter-clause.ts
  apps/hash-frontend/src/pages/shared/entities-visualizer/shared/property-filters/derive-filterable-properties.ts
  apps/hash-frontend/src/pages/shared/entities-visualizer/shared/property-filters/get-operators-for-kind.ts
  apps/hash-frontend/src/pages/shared/entities-visualizer/shared/property-filters/property-filter.ts
  libs/@hashintel/ds-components/src/components/Filter/filter.tsx
  libs/@hashintel/ds-components/src/util/SelectableList/selectable-list-search.tsx
Due: biome

chore: upgrade harpc libp2p dependencies
  libs/@local/harpc/client/typescript/package.json
  libs/@local/harpc/client/typescript/src/net/Config.ts
  yarn.lock
Due: biome, yarn

Update filter onChange to fire properly for multi-inputs
  apps/hash-frontend/src/pages/shared/entities-visualizer.tsx
  apps/hash-frontend/src/pages/shared/entities-visualizer/header/filter-ribbon.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/dwell-table.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/opportunities-table.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/planning-table.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/supplier-table.tsx
  apps/hash-frontend/src/pages/supply-chain/supply-chain-data-shell/site/trend-table.tsx
  libs/@hashintel/ds-components/src/components/Filter/filter-group.tsx
  libs/@hashintel/ds-components/src/components/Filter/filter-util.ts
  libs/@hashintel/ds-components/src/components/Filter/filter.stories.tsx
  libs/@hashintel/ds-components/src/components/Filter/filter.tsx
  libs/@hashintel/ds-components/src/components/Filter/sort-menu.stories.tsx
  libs/@hashintel/ds-components/src/components/Filter/sort-menu.tsx
Due: biome

Use an unbounded decision-time axis for the entities table when archived entities are included
  libs/@local/graph/postgres-store/src/store/postgres/knowledge/entity/table.rs
Due: rust

Better sort-menu toggle background colors
  libs/@hashintel/ds-components/src/components/Button/button.recipe.ts
  libs/@hashintel/ds-components/src/components/Filter/sort-menu.recipe.ts
  libs/@hashintel/ds-components/src/util/SelectableList/selectable-list-item.recipe.ts
Due: biome

Simplify Live filter stages and remove unused voice history state
  apps/petrinaut-website/README.md
  apps/petrinaut-website/src/main/app/voice-interview/live-brunch-bridge.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-brunch-bridge/utterance-pipeline.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-brunch-bridge/utterance-pipeline.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-mediation-history.ts
Due: markdownlint, biome

Add menu+click options to filter property
  libs/@hashintel/ds-components/src/components/Filter/filter-util.ts
  libs/@hashintel/ds-components/src/components/Filter/filter.recipe.ts
  libs/@hashintel/ds-components/src/components/Filter/filter.stories.tsx
  libs/@hashintel/ds-components/src/components/Filter/filter.tsx
Due: biome

Limit Live progress to one line after tool activity and mark progress appends explicitly
  apps/petrinaut-website/src/main/app/voice-interview/live-brunch-bridge.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-brunch-bridge.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-brunch-bridge/progress-policy.test.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-brunch-bridge/progress-policy.ts
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation-control.test.tsx
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation-control.tsx
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation.ts
Due: biome

Simplify Voice-only Words settings and allow 50 entries
  .changeset/words-assistant-controls.md
  .changeset/words-user-guide.md
  apps/petrinaut-website/src/main/app/local-storage-demo/assistant-labs-settings.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/words-configurer.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/words-configurer.tsx
  apps/petrinaut-website/src/shared/voice-words.test.ts
  libs/@hashintel/brunch-agent/packages/core/src/words.ts
  libs/@hashintel/brunch-agent/packages/core/test/words.test.ts
  libs/@hashintel/petrinaut-core/src/ai.test.ts
  libs/@hashintel/petrinaut-core/src/ai.ts
  libs/@hashintel/petrinaut/docs/README.md
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/docs/visual-settings.md
  libs/@hashintel/petrinaut/docs/words.md
  libs/@hashintel/petrinaut/src/ui/petrinaut.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.tsx
Due: markdownlint, biome

Simplify Custom words labels and add a book icon
  apps/petrinaut-website/src/main/app/local-storage-demo/assistant-labs-settings.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/words-configurer.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/words-configurer.tsx
  libs/@hashintel/petrinaut/docs/README.md
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/docs/visual-settings.md
  libs/@hashintel/petrinaut/docs/words.md
Due: markdownlint, biome

Move Custom words out of Brunch core and the Petrinaut guide
  .changeset/words-assistant-controls.md
  .changeset/words-user-guide.md
  apps/petrinaut-website/README.md
  apps/petrinaut-website/docs/custom-words.md
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-panel-transport.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/conversation-words.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/words-configurer.tsx
  apps/petrinaut-website/src/main/app/voice-interview/live-conversation.ts
  apps/petrinaut-website/src/main/app/voice-interview/openai-realtime-session.ts
  apps/petrinaut-website/src/main/app/voice-interview/voice-interview-control.tsx
  apps/petrinaut-website/src/server/voice/openai-voice-policy.ts
  apps/petrinaut-website/src/shared/voice-transcription.ts
  apps/petrinaut-website/src/shared/voice-words.test.ts
  apps/petrinaut-website/src/shared/voice-words.ts
  libs/@hashintel/brunch-agent/packages/core/package.json
  libs/@hashintel/brunch-agent/packages/core/src/index.ts
  libs/@hashintel/brunch-agent/packages/core/src/words.ts
  libs/@hashintel/brunch-agent/packages/core/test/words.test.ts
  libs/@hashintel/brunch-agent/packages/core/vite.config.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/.oxlintrc.json
  libs/@hashintel/brunch-agent/packages/transport-aisdk/package.json
  libs/@hashintel/brunch-agent/packages/transport-aisdk/src/contextual-user-message.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/src/index.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/src/words.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/test/words.test.ts
  libs/@hashintel/brunch-agent/packages/transport-aisdk/vite.config.ts
  libs/@hashintel/petrinaut-core/src/ai.test.ts
  libs/@hashintel/petrinaut-core/src/ai.ts
  libs/@hashintel/petrinaut/docs/README.md
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/docs/visual-settings.md
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/petrinaut-docs-content.ts
Due: markdownlint, biome, yarn

Preserve word drafts after cross-tab deletion and remove unused actions
  .changeset/words-assistant-controls.md
  apps/petrinaut-website/src/main/app/local-storage-demo/words-configurer.test.tsx
  apps/petrinaut-website/src/main/app/local-storage-demo/words-configurer.tsx
  libs/@hashintel/petrinaut/docs/words.md
  libs/@hashintel/petrinaut/src/ui/petrinaut.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/brunch-transcript.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel/ai-assistant-contents/shared/transcript-props.ts
Due: markdownlint, biome

Path conditions:
  markdownlint: any of: *.md
  biome: any of: *.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}
  yarn: any of: {*/package.json, package.json}
  sqlfluff: any of: *.sql
  rust: any of: *.rs
  toml: any of: *.toml
