Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

markdownlint:
  tags:
  - frontend
  - style
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

biome:
  tags:
  - frontend
  - style
  run: biome format --write --staged || true
  stage_fixed: true

yarn:
  tags:
  - frontend
  - style
  run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
  stage_fixed: true

sqlfluff:
  tags:
  - backend
  - style
  run: sqlfluff fix {staged_files} || true
  stage_fixed: true

rust:
  tags:
  - backend
  - style
  run: rustfmt {staged_files} || true
  stage_fixed: true

toml:
  tags:
  - backend
  - style
  run: taplo format {staged_files} || true
  stage_fixed: true

H-5839: Remove rollup-plugin-visualizer dependency
  libs/@hashintel/petrinaut/package.json
  yarn.lock
Due: biome, yarn

H-5839: Wire checker diagnostics into Monaco editors as inline markers
  libs/@hashintel/petrinaut/src/monaco/diagnostics-sync.tsx
  libs/@hashintel/petrinaut/src/monaco/editor-paths.ts
  libs/@hashintel/petrinaut/src/monaco/provider.tsx
  libs/@hashintel/petrinaut/src/views/Editor/panels/PropertiesPanel/differential-equation-properties.tsx
  libs/@hashintel/petrinaut/src/views/Editor/panels/PropertiesPanel/transition-properties.tsx
Due: biome

chore: CI fixes
  libs/darwin-kperf/.cargo/config.toml
  libs/darwin-kperf/Cargo.toml
  libs/darwin-kperf/criterion/Cargo.toml
  libs/darwin-kperf/criterion/package.json
  libs/darwin-kperf/criterion/src/fallback.rs
  libs/darwin-kperf/criterion/src/lib.rs
  libs/darwin-kperf/package.json
  libs/darwin-kperf/src/lib.rs
  libs/darwin-kperf/src/sampler/ll.rs
  libs/darwin-kperf/sys/Cargo.toml
  libs/darwin-kperf/sys/package.json
  libs/darwin-kperf/sys/src/lib.rs
Due: biome, yarn, rust, toml

H-5641: Extract virtual file generation and add global Distribution type
  libs/@hashintel/petrinaut/src/checker/lib/create-sdcpn-language-service.ts
  libs/@hashintel/petrinaut/src/checker/lib/file-paths.ts
  libs/@hashintel/petrinaut/src/checker/lib/generate-virtual-files.ts
Due: biome

H-5641: Change DistributionGaussian to Distribution.Gaussian namespace
  libs/@hashintel/petrinaut/src/checker/lib/generate-virtual-files.ts
Due: biome

chore: try to see if we can install aarch64
  .github/actions/install-tools/install-rust.sh
Due: none

chore: wrong path whoops
  .github/actions/install-tools/install-rust.sh
Due: none

BE-397: Use `&mut self` for `update_web_shortname`
  libs/@local/graph/postgres-store/src/store/postgres/mod.rs
  libs/@local/graph/store/src/account/mod.rs
  libs/@local/graph/type-fetcher/src/store.rs
Due: rust

fix: disable default-features
  Cargo.toml
  libs/@local/repo-chores/rust/Cargo.toml
  libs/darwin-kperf/criterion/Cargo.toml
  tests/graph/benches/Cargo.toml
Due: toml

fix: compilation, maybe
  libs/darwin-kperf/.cargo/config.toml
  libs/darwin-kperf/package.json
  libs/darwin-kperf/src/lib.rs
  libs/darwin-kperf/sys/package.json
  libs/darwin-kperf/sys/src/lib.rs
Due: biome, yarn, rust, toml

BE-401: Assert specific error kinds in SSRF/HTTPS tests
  libs/@local/graph/type-fetcher/src/fetcher_server.rs
Due: rust

BE-404: Fix `fetch_external_ontology_types` implementation
  libs/@local/graph/type-fetcher/src/store.rs
Due: rust

chore: fix lint maybe
  .github/workflows/lint.yml
  libs/darwin-kperf/src/lib.rs
  libs/darwin-kperf/sys/src/lib.rs
Due: biome, rust

chore: try again
  .github/workflows/lint.yml
Due: biome

chore: nth time the charm
  libs/darwin-kperf/criterion/src/fallback.rs
  libs/darwin-kperf/src/sampler/ll.rs
  libs/darwin-kperf/src/sampler/mod.rs
Due: rust

chore: n+1th time the charm
  .github/workflows/lint.yml
  libs/darwin-kperf/criterion/Cargo.toml
Due: biome, toml

chore: n+2th time the charm
  libs/darwin-kperf/criterion/src/fallback.rs
Due: rust

chore: n+3th time the charm
  .github/actions/prune-repository/action.yml
  libs/darwin-kperf/Cargo.toml
Due: biome, toml

reduce user auth session to 1 month
  apps/hash-external-services/kratos/kratos.yml
Due: biome

chore: n+4th time the charm
  libs/darwin-kperf/package.json
Due: biome, yarn

BE-404: Fix recursion depth off-by-one and duplicate fetch bug
  libs/@local/graph/type-fetcher/src/store.rs
Due: rust

chore: n+5th time the charm
  yarn.lock
Due: none

H-6251: Reduce user auth session to 1 month (#8461)
  apps/hash-external-services/kratos/kratos.yml
Due: biome

chore: n+6th time the charm
  .github/actions/install-tools/install-rust.sh
Due: none

H-5641: Add runtime support for probabilistic transition kernels
  libs/@hashintel/petrinaut/src/checker/lib/generate-virtual-files.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/compile-user-code.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/compute-possible-transition.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/distribution.ts
  libs/@hashintel/petrinaut/src/simulation/simulator/types.ts
Due: biome

H-5641: Add changeset for probabilistic transition kernels
  .changeset/probabilistic-transition-kernels.md
Due: markdownlint, biome

Path conditions:
  markdownlint: any of: *.md
  biome: any of: *.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}
  yarn: any of: {*/package.json, package.json}
  sqlfluff: any of: *.sql
  rust: any of: *.rs
  toml: any of: *.toml
