Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

markdownlint:
  tags:
  - frontend
  - style
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

biome:
  tags:
  - frontend
  - style
  run: biome format --write --staged || true
  stage_fixed: true

yarn:
  tags:
  - frontend
  - style
  run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
  stage_fixed: true

sqlfluff:
  tags:
  - backend
  - style
  run: sqlfluff fix {staged_files} || true
  stage_fixed: true

rust:
  tags:
  - backend
  - style
  run: rustfmt {staged_files} || true
  stage_fixed: true

toml:
  tags:
  - backend
  - style
  run: taplo format {staged_files} || true
  stage_fixed: true

switch to extenral puppeteer service
  apps/hash-ai-worker-ts/docker/Dockerfile
  apps/hash-ai-worker-ts/package.json
  apps/hash-ai-worker-ts/src/activities/get-web-page-activity.ts
  yarn.lock
Due: biome, yarn

update anthropic models
  apps/hash-ai-worker-ts/src/activities/flow-activities/generate-flow-run-name-activity.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/link-follower-agent/choose-relevant-links-from-content.optimize.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/link-follower-agent/choose-relevant-links-from-content.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/shared/deduplicate-entities.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-summaries-then-claims-from-text/get-entity-summaries-from-text.optimize.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-summaries-then-claims-from-text/get-entity-summaries-from-text.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/anthropic-client.ts
  apps/hash-ai-worker-ts/src/activities/shared/inference-model-alias-to-llm-model.ts
  apps/hash-ai-worker-ts/src/activities/shared/match-existing-entity.optimize.ai.test.ts
Due: biome

chore: disable transparent workspaces in Yarn configuration
  .yarnrc.yml
Due: biome

chore: improve Yarn constraint handling for workspace dependencies
  yarn.config.cjs
Due: biome

feat(repo-chores): emit workspace:* for local deps in generated package.json
  libs/@local/repo-chores/rust/src/sync_turborepo/mod.rs
Due: rust

chore: regenerate package.json files with workspace:* protocol
  apps/hash-graph/package.json
  libs/@blockprotocol/type-system/rust/package.json
  libs/@local/codec/package.json
  libs/@local/effect-dns/hickory/package.json
  libs/@local/graph/api/package.json
  libs/@local/graph/authorization/package.json
  libs/@local/graph/migrations/package.json
  libs/@local/graph/postgres-store/package.json
  libs/@local/graph/store/package.json
  libs/@local/graph/temporal-versioning/package.json
  libs/@local/graph/test-server/package.json
  libs/@local/graph/type-defs/package.json
  libs/@local/graph/type-fetcher/package.json
  libs/@local/graph/types/package.json
  libs/@local/graph/validation/package.json
  libs/@local/harpc/client/rust/package.json
  libs/@local/harpc/codec/package.json
  libs/@local/harpc/net/package.json
  libs/@local/harpc/server/package.json
  libs/@local/harpc/system/package.json
  libs/@local/harpc/tower/package.json
  libs/@local/harpc/wire-protocol/package.json
  libs/@local/hashql/ast/package.json
  libs/@local/hashql/compiletest/package.json
  libs/@local/hashql/core/package.json
  libs/@local/hashql/eval/package.json
  libs/@local/hashql/hir/package.json
  libs/@local/hashql/mir/package.json
  libs/@local/hashql/syntax-jexpr/package.json
  libs/@local/repo-chores/rust/package.json
  libs/@local/status/rust/package.json
  libs/@local/telemetry/package.json
  libs/@local/temporal-client/package.json
  libs/error-stack/package.json
  tests/graph/benches/package.json
  tests/graph/integration/package.json
  tests/graph/test-data/rust/package.json
Due: biome, yarn

chore(yarn): refine dependency ignore logic for consistency vs protocol
  yarn.config.cjs
Due: biome

chore: migrate internal deps to workspace:*
  .claude/hooks/package.json
  apps/hash-ai-worker-ts/package.json
  apps/hash-api/package.json
  apps/hash-frontend/package.json
  apps/hash-integration-worker/package.json
  apps/mcp/linear/package.json
  apps/mcp/notion/package.json
  apps/plugin-browser/package.json
  libs/@blockprotocol/graph/package.json
  libs/@blockprotocol/type-system/typescript/package.json
  libs/@hashintel/block-design-system/package.json
  libs/@hashintel/design-system/package.json
  libs/@hashintel/ds-components/package.json
  libs/@hashintel/ds-helpers/package.json
  libs/@hashintel/petrinaut-old/package.json
  libs/@hashintel/petrinaut/package.json
  libs/@hashintel/query-editor/package.json
  libs/@hashintel/refractive/package.json
  libs/@hashintel/type-editor/package.json
  libs/@local/advanced-types/package.json
  libs/@local/effect-dns/core/package.json
  libs/@local/eslint/package.json
  libs/@local/graph/client/typescript/package.json
  libs/@local/graph/sdk/typescript/package.json
  libs/@local/harpc/client/typescript/package.json
  libs/@local/hash-backend-utils/package.json
  libs/@local/hash-isomorphic-utils/package.json
  libs/@local/repo-chores/node/package.json
  libs/@local/status/typescript/package.json
  package.json
  tests/graph/http/package.json
  tests/hash-backend-integration/package.json
  tests/hash-backend-load/package.json
  tests/hash-playwright/package.json
  yarn.lock
Due: biome, yarn

feat: add lint:workspace-protocol check for internal dependency ranges
  libs/@local/repo-chores/node/scripts/check-workspace-protocol.ts
  package.json
Due: biome

fix: normalize internal dependency ranges to workspace:*
  apps/hash-ai-worker-ts/package.json
  apps/hash-api/package.json
  apps/hash-frontend/package.json
  apps/hash-integration-worker/package.json
  apps/plugin-browser/package.json
  libs/@hashintel/block-design-system/package.json
  libs/@hashintel/ds-components/package.json
  libs/@hashintel/petrinaut/package.json
  libs/@hashintel/query-editor/package.json
  libs/@hashintel/type-editor/package.json
  libs/@local/graph/sdk/typescript/package.json
  libs/@local/hash-backend-utils/package.json
  libs/@local/hash-isomorphic-utils/package.json
  tests/hash-backend-integration/package.json
  tests/hash-playwright/package.json
  yarn.lock
Due: biome, yarn

handle workspace peerDependencies differently
  libs/@hashintel/ds-components/package.json
  libs/@hashintel/petrinaut/package.json
  yarn.config.cjs
  yarn.lock
Due: biome, yarn

Fixes for review comments
  libs/@blockprotocol/type-system/rust/Cargo.toml
  libs/@local/codec/Cargo.toml
  libs/@local/effect-dns/hickory/Cargo.toml
  libs/@local/graph/authorization/Cargo.toml
  libs/@local/graph/store/Cargo.toml
  libs/@local/graph/type-defs/Cargo.toml
  libs/@local/repo-chores/node/scripts/check-workspace-protocol.ts
  libs/@local/repo-chores/rust/src/sync_turborepo/mod.rs
  libs/@local/status/rust/Cargo.toml
  libs/error-stack/Cargo.toml
  package.json
  tests/graph/integration/Cargo.toml
Due: biome, rust, toml

Use workspace:^ for dependencies and peerDependencies in publishable packages
  libs/@blockprotocol/graph/package.json
  libs/@blockprotocol/type-system/typescript/package.json
  libs/@hashintel/ds-components/package.json
  libs/@hashintel/petrinaut/package.json
  yarn.config.cjs
  yarn.lock
Due: biome, yarn

PR feedback
  apps/hash-ai-worker-ts/src/activities/get-web-page-activity.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/anthropic-client.ts
Due: biome

delete unused imports
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response.ts
Due: biome

fix type, lower anthropic limit
  apps/hash-ai-worker-ts/src/activities/get-web-page-activity.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/anthropic-client.ts
Due: biome

rely on built-in handling of VersionProtocol
  libs/@local/repo-chores/rust/src/sync_turborepo/mod.rs
Due: rust

fix formatting value crashes
  apps/hash-frontend/src/pages/shared/entity/entity-editor/properties-section/property-table/cells/value-cell.tsx
  apps/hash-frontend/src/pages/shared/format-value.ts
Due: biome

don't send multiple cosineDistance filters to graph
  apps/hash-ai-worker-ts/src/activities/shared/find-existing-entity.ts
  apps/hash-frontend/src/pages/@/[shortname]/shared/flow-visualizer/outputs/claims-output.tsx
Due: biome

remove old anthropic beta headers
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/anthropic-client.ts
Due: biome

fix format-value for array objects
  apps/hash-frontend/src/pages/shared/format-value.ts
Due: biome

fix: suggestions from code review
  Cargo.lock
  libs/darwin-kperf/codegen/Cargo.toml
  libs/darwin-kperf/criterion/src/error.rs
  libs/darwin-kperf/criterion/src/fallback.rs
  libs/darwin-kperf/criterion/src/lib.rs
  libs/darwin-kperf/criterion/src/pmc.rs
  libs/darwin-kperf/criterion/src/unit.rs
  libs/darwin-kperf/src/sampler/thread.rs
Due: rust, toml

H-6242: Add error logging to get web search results (#8454)
  apps/hash-ai-worker-ts/src/activities/flow-activities/web-search-action.ts
Due: biome

fix: panic if double acquired
  libs/darwin-kperf/criterion/src/pmc.rs
Due: rust

chore: lockfile
  Cargo.lock
Due: none

BE-409: Fix `RUST_BACKTRACE_LIB` comment typo (#8442)
  libs/error-stack/src/lib.rs
Due: rust

SRE-528: fix dismiss-stale-approvals workflow for forks (#8450)
  .github/workflows/dismiss-stale-approvals.yml
Due: biome

FE-490: Fix internal server error 500
  content/hashdotai/guide/01_introduction/02_core-concepts.mdx
Due: biome

fix responsiveness
  content/hashdotai/guide/01_introduction/02_core-concepts.mdx
Due: biome

H-6028, H-6244: Switch to external Puppeteer service, update Anthropic models (#8455)
  apps/hash-ai-worker-ts/docker/Dockerfile
  apps/hash-ai-worker-ts/package.json
  apps/hash-ai-worker-ts/src/activities/flow-activities/generate-flow-run-name-activity.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/link-follower-agent/choose-relevant-links-from-content.optimize.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/link-follower-agent/choose-relevant-links-from-content.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/research-entities-action/shared/deduplicate-entities.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-summaries-then-claims-from-text/get-entity-summaries-from-text.optimize.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/flow-activities/shared/infer-summaries-then-claims-from-text/get-entity-summaries-from-text.ts
  apps/hash-ai-worker-ts/src/activities/get-web-page-activity.ts
  apps/hash-ai-worker-ts/src/activities/shared/find-existing-entity.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response.ai.test.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response.ts
  apps/hash-ai-worker-ts/src/activities/shared/get-llm-response/anthropic-client.ts
  apps/hash-ai-worker-ts/src/activities/shared/inference-model-alias-to-llm-model.ts
  apps/hash-ai-worker-ts/src/activities/shared/match-existing-entity.optimize.ai.test.ts
  apps/hash-frontend/src/pages/@/[shortname]/shared/flow-visualizer/outputs/claims-output.tsx
  apps/hash-frontend/src/pages/shared/entity/entity-editor/properties-section/property-table/cells/value-cell.tsx
  apps/hash-frontend/src/pages/shared/format-value.ts
  yarn.lock
Due: biome, yarn

FE-490: Fix `Core Concepts` page (#8456)
  content/hashdotai/guide/01_introduction/02_core-concepts.mdx
Due: biome

chore: recover on error
  Cargo.toml
  libs/@local/hashql/core/Cargo.toml
  libs/darwin-kperf/criterion/src/pmc.rs
Due: rust, toml

chore: generate turborepo + dependency diagram
  apps/hash-graph/docs/dependency-diagram.mmd
  libs/@local/graph/api/docs/dependency-diagram.mmd
  libs/@local/graph/test-server/docs/dependency-diagram.mmd
  libs/@local/hashql/ast/docs/dependency-diagram.mmd
  libs/@local/hashql/compiletest/docs/dependency-diagram.mmd
  libs/@local/hashql/core/docs/dependency-diagram.mmd
  libs/@local/hashql/core/package.json
  libs/@local/hashql/eval/docs/dependency-diagram.mmd
  libs/@local/hashql/hir/docs/dependency-diagram.mmd
  libs/@local/hashql/mir/docs/dependency-diagram.mmd
  libs/@local/hashql/syntax-jexpr/docs/dependency-diagram.mmd
  libs/darwin-kperf/codegen/package.json
  libs/darwin-kperf/criterion/package.json
  libs/darwin-kperf/events/package.json
  libs/darwin-kperf/package.json
  libs/darwin-kperf/sys/package.json
Due: biome, yarn

chore: stop thread sampler before release explicitely
  libs/darwin-kperf/criterion/src/pmc.rs
Due: rust

Path conditions:
  markdownlint: any of: *.md
  biome: any of: *.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}
  yarn: any of: {*/package.json, package.json}
  sqlfluff: any of: *.sql
  rust: any of: *.rs
  toml: any of: *.toml
