Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    biome:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: biome format --write --staged || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: rustfmt {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: taplo format {staged_files} || true
      stage_fixed: true

Run the A5 browser owner and controller as guarded siblings
  apps/brunch-agent/src/evaluations/real-provider-a5.ts
  apps/brunch-agent/src/evaluations/real-provider-a5/browser-owner.ts
  apps/brunch-agent/src/evaluations/real-provider-a5/browser-session.ts
  apps/brunch-agent/src/evaluations/real-provider-a5/chrome-loopback.sh
  apps/brunch-agent/src/evaluations/real-provider-a5/launch.ts
  apps/brunch-agent/src/evaluations/real-provider-a5/manifest.ts
  apps/brunch-agent/test/real-provider-a5-browser.integration.ts
  apps/brunch-agent/test/real-provider-a5-browser.test.ts
Due: biome

Escalate rejected browser shutdown through bounded public kill
  apps/brunch-agent/src/evaluations/real-provider-a5/browser-owner.ts
  apps/brunch-agent/test/real-provider-a5-shutdown-hook.ts
  apps/brunch-agent/test/real-provider-a5-shutdown.integration.ts
Due: biome

Describe the separate browser sandbox root accurately
  apps/brunch-agent/src/evaluations/real-provider-a5/paid-provider.sb
Due: none

Allocate r2 for the verified sibling-browser instrument
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a5-real-provider-20260909-r2-activation/artifact-manifest.json
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a5-real-provider-20260909-r2-activation/decision.md
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a5-real-provider-20260909-r2-activation/manifest-verification.json.gz
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a5-real-provider-20260909-r2-activation/manifest-verification.stderr.gz
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a5-real-provider-20260909-r2-activation/observations-verified.json.gz
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a5-real-provider-20260909-r2-activation/preflight-integration.log.gz
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/attempt-ledger.md
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/usage-ledger.json
Due: markdownlint, biome

Verify paid-root browser attachment and isolate DNS metadata
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a5-real-provider-20260909-r2-activation/artifact-manifest.json
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a5-real-provider-20260909-r2-activation/connection-check.json.gz
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a5-real-provider-20260909-r2-activation/connection-check.mjs.gz
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a5-real-provider-20260909-r2-activation/connection-controller.json.gz
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a5-real-provider-20260909-r2-activation/connection-controller.mjs.gz
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a5-real-provider-20260909-r2-activation/connection-gates.md
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a5-real-provider-20260909-r2-activation/connection.exit.gz
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a5-real-provider-20260909-r2-activation/connection.stderr.gz
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a5-real-provider-20260909-r2-activation/connection.stdout.gz
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a5-real-provider-20260909-r2-activation/dns-only.sb.gz
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a5-real-provider-20260909-r2-activation/provider-address.json.gz
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a5-real-provider-20260909-r2-activation/provider-address.stderr.gz
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a5-real-provider-20260909-r2-activation/reservation-ready.json.gz
Due: markdownlint, biome

Retain the r2 authentication failure and unresolved hold
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a5-real-provider-20260909-r2-outcome/artifact-manifest.json
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a5-real-provider-20260909-r2-outcome/parent/credential-classification.json.gz
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a5-real-provider-20260909-r2-outcome/parent/credential-classification.stderr.gz
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a5-real-provider-20260909-r2-outcome/parent/post-run-audit.json.gz
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a5-real-provider-20260909-r2-outcome/parent/post-run-pins.json.gz
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a5-real-provider-20260909-r2-outcome/parent/post-run-pins.stderr.gz
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a5-real-provider-20260909-r2-outcome/result.md
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a5-real-provider-20260909-r2-outcome/run/accounting-observations.json.gz
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a5-real-provider-20260909-r2-outcome/run/activation-observation.json.gz
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a5-real-provider-20260909-r2-outcome/run/browser-driver.stderr.gz
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a5-real-provider-20260909-r2-outcome/run/browser-driver.stdout.gz
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a5-real-provider-20260909-r2-outcome/run/browser-lifecycle.json.gz
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a5-real-provider-20260909-r2-outcome/run/browser-orchestration-failure.json.gz
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a5-real-provider-20260909-r2-outcome/run/browser-owner.stderr.gz
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a5-real-provider-20260909-r2-outcome/run/browser-owner.stdout.gz
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a5-real-provider-20260909-r2-outcome/run/browser-session-observation.json.gz
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a5-real-provider-20260909-r2-outcome/run/driver-result.json.gz
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a5-real-provider-20260909-r2-outcome/run/http-deliveries.json.gz
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a5-real-provider-20260909-r2-outcome/run/native-6-request.json.gz
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a5-real-provider-20260909-r2-outcome/run/native-6-response.sse.gz
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a5-real-provider-20260909-r2-outcome/run/native-6-transport.json.gz
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a5-real-provider-20260909-r2-outcome/run/preparation-receipt.json.gz
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a5-real-provider-20260909-r2-outcome/run/verified-manifest.json.gz
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a5-real-provider-20260909-r2-outcome/worker-failure.json
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/attempt-ledger.md
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/usage-ledger.json
Due: markdownlint, biome

Authorize r2 after real profile and pinned TLS checks
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a5-real-provider-20260909-r2-activation/activation.json
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a5-real-provider-20260909-r2-activation/artifact-manifest.json
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a5-real-provider-20260909-r2-activation/final-ready.json.gz
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a5-real-provider-20260909-r2-activation/final-ready.stderr.gz
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a5-real-provider-20260909-r2-activation/gates-passed.md
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a5-real-provider-20260909-r2-activation/provider-address-dns-only.exit.gz
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a5-real-provider-20260909-r2-activation/provider-address-dns-only.json.gz
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a5-real-provider-20260909-r2-activation/provider-address-dns-only.stderr.gz
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a5-real-provider-20260909-r2-activation/tls-check.json.gz
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a5-real-provider-20260909-r2-activation/tls-check.mjs.gz
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/a5-real-provider-20260909-r2-activation/tls-check.stderr.gz
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/attempt-ledger.md
Due: markdownlint, biome

Pause expansion to land and reassess Mission 7
  libs/@hashintel/brunch-agent/MISSION.md
Due: markdownlint, biome

Admit the typed state browser witness
  apps/brunch-agent/package.json
Due: biome, yarn

Observe typed state construction and derived scenario effects
  apps/brunch-agent/src/conversation/root-arc.ts
  apps/brunch-agent/src/conversation/why.ts
  apps/brunch-agent/test/typed-state.integration.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/transition-record.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/typed-state.test.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/flue.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/index.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/root-arc.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/root-node.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/root-state.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/tools/petrinaut-construction.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/src/transition-record.ts
  libs/@hashintel/brunch-agent/packages/plugin-sdcpn/test/root-state.test.ts
Due: biome

Refuse aggregate state basis after descendant changes
  apps/brunch-agent/src/conversation/why.ts
  apps/brunch-agent/test/aggregate-why.test.ts
  apps/brunch-agent/test/typed-state.integration.ts
Due: biome

Close aggregate attribution across the existing construction queries
  apps/brunch-agent/src/conversation/why.ts
  apps/brunch-agent/test/aggregate-why.test.ts
  apps/brunch-agent/test/provider-accounting.test.ts
  apps/brunch-agent/test/root-creation.integration.ts
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/landing-20260909/historical-five-call-ledger.json
Due: biome

Reorient Mission 7 around the next genuine product observation
  libs/@hashintel/brunch-agent/MISSION.md
Due: markdownlint, biome

Recognize owner-local Git Town without a team tool mandate
  libs/@hashintel/brunch-agent/SIDE_QUEST.md
Due: markdownlint, biome

Anchor mission delegation to the next product observation
  libs/@hashintel/brunch-agent/AGENTS.md
Due: markdownlint, biome

Make Brunch stack guidance tool-neutral
  libs/@hashintel/brunch-agent/docs/agents/git-workflow.md
  libs/@hashintel/brunch-agent/evaluations/README.md
Due: markdownlint, biome

Separate development networking from hermetic proof gates
  libs/@hashintel/brunch-agent/MISSION.md
Due: markdownlint, biome

Document interactive subagent preparation and lifecycle
  libs/@hashintel/brunch-agent/AGENTS.md
  libs/@hashintel/brunch-agent/docs/agents/interactive-work.md
Due: markdownlint, biome

Separate standing execution guidance from mission-specific limits
  libs/@hashintel/brunch-agent/AGENTS.md
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/docs/agents/interactive-work.md
  libs/@hashintel/brunch-agent/evaluations/README.md
Due: markdownlint, biome

Focus Mission 7 on persona-produced sessions and usable demo fixtures
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/MISSION.next.md
Due: markdownlint, biome

Join persona sessions to live browser conversation and workpiece
  .changeset/calm-personas-follow.md
  apps/brunch-agent/.pi/extensions/brunch-persona-testing.ts
  apps/brunch-agent/.pi/extensions/brunch-persona-testing/README.md
  apps/brunch-agent/src/evaluations/persona/browser-session.ts
  apps/brunch-agent/src/evaluations/persona/brunch-turn.ts
  apps/brunch-agent/test/browser-fixture-cleanup.test.ts
  apps/brunch-agent/test/browser-fixture.ts
  apps/brunch-agent/test/brunch-turn.test.ts
  apps/brunch-agent/test/persona-browser-session.test.ts
  apps/brunch-agent/test/persona-browser.integration.ts
  apps/brunch-agent/test/root-creation.integration.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-panel-transport.test.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/brunch-panel-transport.ts
  apps/petrinaut-website/src/main/app/local-storage-demo/local-storage-demo-app.tsx
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/persona-browser-join/integration.md
  libs/@hashintel/petrinaut/docs/ai-assistant.md
  libs/@hashintel/petrinaut/src/ui/petrinaut.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.test.tsx
  libs/@hashintel/petrinaut/src/ui/views/Editor/panels/ai-assistant-panel.tsx
Due: markdownlint, biome

Keep mission application separate from standing work practices
  libs/@hashintel/brunch-agent/AGENTS.md
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/docs/agents/interactive-work.md
  libs/@hashintel/brunch-agent/evaluations/README.md
Due: markdownlint, biome

Authorize bounded Mission 7 evidence reduction
  libs/@hashintel/brunch-agent/MISSION.md
Due: markdownlint, biome

Preserve evidence reduction procedure and comparative assessment
  libs/@hashintel/brunch-agent/docs/evidence/design/mission-7-evidence-reduction-proposal.md
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/landing-20260909/mission-health-comparative.md
Due: markdownlint, biome

Authorize bounded Postgres fixture delivery before rich elicitation
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/SIDE_QUEST.md
Due: markdownlint, biome

Authorize free checks and bounded persona spending
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/evaluations/README.md
Due: markdownlint, biome

Check actual development configuration without provider requests
  apps/brunch-agent/src/agents/chat-agent/agent.ts
  apps/brunch-agent/src/chat-model.ts
  apps/brunch-agent/src/dev-configuration-preflight.ts
  apps/brunch-agent/test/dev-configuration-preflight.test.ts
  libs/@hashintel/brunch-agent/MISSION.md
  libs/@hashintel/brunch-agent/docs/agents/interactive-work.md
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/landing-20260909/evidence-reduction.md
Due: markdownlint, biome

Record local Postgres browser proof and transfer boundary
  libs/@hashintel/brunch-agent/docs/evidence/implementations/fe-1573-step-a/landing-20260909/postgres-fixture-departure.md
Due: markdownlint, biome

Allow explicit local Postgres for fixture creation
  apps/brunch-agent/README.md
  apps/brunch-agent/src/database-config.ts
  apps/brunch-agent/test/database-config.test.ts
Due: markdownlint, biome

Authorize bounded selective fixture restoration investigation
  libs/@hashintel/brunch-agent/MISSION.md
Due: markdownlint, biome
