Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, biome, yarn, sqlfluff, rust, toml

markdownlint:
  tags:
  - frontend
  - style
  run: markdownlint-cli2 --fix --no-globs {staged_files} || true
  stage_fixed: true

biome:
  tags:
  - frontend
  - style
  run: biome format --write --staged || true
  stage_fixed: true

yarn:
  tags:
  - frontend
  - style
  run: yarn fix:constraints && yarn fix:yarn-deduplicate && yarn fix:package-json {staged_files}
  stage_fixed: true

sqlfluff:
  tags:
  - backend
  - style
  run: sqlfluff fix {staged_files} || true
  stage_fixed: true

rust:
  tags:
  - backend
  - style
  run: rustfmt {staged_files} || true
  stage_fixed: true

toml:
  tags:
  - backend
  - style
  run: taplo format {staged_files} || true
  stage_fixed: true

refactor: restructure atlas storage modules to directories
  libs/@local/graph/atlas/src/file/generation/scratch/mod.rs
  libs/@local/graph/atlas/src/file/storage/error/mod.rs
  libs/@local/graph/atlas/src/file/storage/path/tests.rs
  libs/@local/graph/atlas/src/file/storage/s3/metadata/mod.rs
  libs/@local/graph/atlas/src/file/storage/s3/multipart/parts/mod.rs
  libs/@local/graph/atlas/src/file/storage/s3/multipart/parts/tests.rs
  libs/@local/graph/atlas/src/file/storage/s3/multipart/tests.rs
Due: rust

feat: add S3 storage backend to atlas cli
  .clippy.toml
  Cargo.lock
  Cargo.toml
  apps/hash-graph/src/subcommand/atlas.rs
  libs/@local/graph/atlas/Cargo.toml
  libs/@local/graph/atlas/src/cli/fit.rs
  libs/@local/graph/atlas/src/cli/mod.rs
  libs/@local/graph/atlas/src/cli/s3.rs
  libs/@local/graph/atlas/src/cli/shell.rs
  libs/@local/graph/atlas/src/file/generation/document/mod.rs
  libs/@local/graph/atlas/src/file/generation/document/tests.rs
  libs/@local/graph/atlas/src/file/generation/mod.rs
  libs/@local/graph/atlas/src/file/generation/open.rs
  libs/@local/graph/atlas/src/file/salt/mod.rs
  libs/@local/graph/atlas/src/file/storage/error/mod.rs
  libs/@local/graph/atlas/src/file/storage/error/tests.rs
Due: rust, toml

chore: consolidate scratch directory test helpers
  libs/@local/graph/atlas/src/file/generation/scratch/mod.rs
  libs/@local/graph/atlas/src/file/generation/scratch/tests.rs
  libs/@local/graph/atlas/src/file/storage/path/scratch.rs
  libs/@local/graph/atlas/src/file/storage/path/tests.rs
  libs/@local/graph/atlas/src/file/storage/s3/multipart/mod.rs
  libs/@local/graph/atlas/src/file/storage/s3/multipart/parts/mod.rs
  libs/@local/graph/atlas/src/file/storage/s3/multipart/parts/tests.rs
  libs/@local/graph/atlas/src/file/storage/tests.rs
Due: rust

chore: refactor storage backend and add generation upload
  libs/@local/graph/atlas/src/file/generation/scratch/mod.rs
  libs/@local/graph/atlas/src/file/generation/tests.rs
  libs/@local/graph/atlas/src/file/generation/upload/backend.rs
  libs/@local/graph/atlas/src/file/generation/upload/error.rs
  libs/@local/graph/atlas/src/file/generation/upload/mod.rs
  libs/@local/graph/atlas/src/file/generation/upload/tests.rs
  libs/@local/graph/atlas/src/file/storage/error/mod.rs
  libs/@local/graph/atlas/src/file/storage/local/mod.rs
  libs/@local/graph/atlas/src/file/storage/local/tests.rs
  libs/@local/graph/atlas/src/file/storage/mod.rs
  libs/@local/graph/atlas/src/file/storage/path/mod.rs
  libs/@local/graph/atlas/src/file/storage/path/tests/mod.rs
  libs/@local/graph/atlas/src/file/storage/path/tests/mutation.rs
  libs/@local/graph/atlas/src/file/storage/s3/metadata/mod.rs
  libs/@local/graph/atlas/src/file/storage/s3/metadata/tests.rs
  libs/@local/graph/atlas/src/file/storage/s3/mod.rs
  libs/@local/graph/atlas/src/file/storage/s3/multipart/backend.rs
  libs/@local/graph/atlas/src/file/storage/s3/path/mod.rs
  libs/@local/graph/atlas/src/file/storage/s3/path/tests.rs
Due: rust

chore: polish atlas file storage code
  libs/@local/graph/atlas/src/file/storage/local/mod.rs
  libs/@local/graph/atlas/src/file/storage/local/tests.rs
Due: rust

feat: replace offload error with tokio join error
  libs/@local/graph/atlas/src/file/generation/upload/error.rs
  libs/@local/graph/atlas/src/file/generation/upload/mod.rs
  libs/@local/graph/atlas/src/file/storage/error/mod.rs
  libs/@local/graph/atlas/src/file/storage/local/mod.rs
  libs/@local/graph/atlas/src/file/storage/local/tests.rs
  libs/@local/graph/atlas/src/file/storage/path/contents/mod.rs
  libs/@local/graph/atlas/src/file/storage/path/contents/tests.rs
  libs/@local/graph/atlas/src/file/storage/path/mod.rs
  libs/@local/graph/atlas/src/file/storage/path/tests/mod.rs
  libs/@local/graph/atlas/src/file/storage/path/tests/mutation.rs
  libs/@local/graph/atlas/src/file/storage/s3/path/mod.rs
Due: rust

test: add upload promotion error cases
  libs/@local/graph/atlas/src/file/generation/upload/tests.rs
Due: rust

feat: add result upload support to atlas fit command
  apps/hash-graph/src/subcommand/atlas.rs
  libs/@local/graph/atlas/src/cli/fit.rs
  libs/@local/graph/atlas/src/cli/mod.rs
  libs/@local/graph/atlas/src/cli/s3.rs
  libs/@local/graph/atlas/src/cli/shell.rs
  libs/@local/graph/atlas/src/file/generation/upload/mod.rs
  libs/@local/graph/atlas/src/file/generation/upload/tests.rs
  libs/@local/graph/atlas/src/file/storage/mod.rs
  libs/@local/graph/atlas/src/file/storage/s3/mod.rs
  libs/@local/graph/atlas/src/salt/runner/operator/live.rs
  libs/@local/graph/atlas/src/salt/runner/operator/mod.rs
  libs/@local/graph/atlas/src/salt/runner/operator/offline.rs
Due: rust

fix: clarify s3 bucket path documentation
  libs/@local/graph/atlas/src/file/storage/s3/path/mod.rs
Due: rust

feat: add aws smithy types to atlas dependencies
  Cargo.lock
  Cargo.toml
  libs/@local/graph/atlas/Cargo.toml
  libs/@local/graph/atlas/src/cli/fit.rs
  libs/@local/graph/atlas/src/cli/s3.rs
  libs/@local/graph/atlas/src/file/generation/document/tests.rs
  libs/@local/graph/atlas/src/file/generation/scratch/mod.rs
  libs/@local/graph/atlas/src/file/generation/scratch/tests.rs
  libs/@local/graph/atlas/src/file/generation/upload/mod.rs
  libs/@local/graph/atlas/src/file/generation/upload/tests.rs
  libs/@local/graph/atlas/src/file/storage/error/mod.rs
  libs/@local/graph/atlas/src/file/storage/error/tests.rs
  libs/@local/graph/atlas/src/file/storage/local/mod.rs
  libs/@local/graph/atlas/src/file/storage/local/tests.rs
  libs/@local/graph/atlas/src/file/storage/mod.rs
  libs/@local/graph/atlas/src/file/storage/path/contents/mod.rs
  libs/@local/graph/atlas/src/file/storage/path/contents/tests.rs
  libs/@local/graph/atlas/src/file/storage/path/error.rs
  libs/@local/graph/atlas/src/file/storage/path/mod.rs
  libs/@local/graph/atlas/src/file/storage/path/tests/mod.rs
  libs/@local/graph/atlas/src/file/storage/path/tests/mutation.rs
  libs/@local/graph/atlas/src/file/storage/s3/metadata/mod.rs
  libs/@local/graph/atlas/src/file/storage/s3/metadata/tests.rs
  libs/@local/graph/atlas/src/file/storage/s3/mod.rs
  libs/@local/graph/atlas/src/file/storage/s3/multipart/backend.rs
  libs/@local/graph/atlas/src/file/storage/s3/multipart/mod.rs
  libs/@local/graph/atlas/src/file/storage/s3/multipart/parts/mod.rs
  libs/@local/graph/atlas/src/file/storage/s3/multipart/parts/tests.rs
  libs/@local/graph/atlas/src/file/storage/s3/multipart/tests.rs
  libs/@local/graph/atlas/src/file/storage/s3/path/mod.rs
  libs/@local/graph/atlas/src/file/storage/s3/path/tests.rs
  libs/@local/graph/atlas/src/file/storage/s3/tests/mod.rs
Due: rust, toml

chore: upgrade aws sdk dependencies
  Cargo.lock
  Cargo.toml
  libs/@local/graph/atlas/Cargo.toml
Due: toml

docs: refine rust testing guidance
  .agents/skills/rust-testing-strategy/SKILL.md
Due: markdownlint, biome

feat: clarify atlas fit command docs and refactor storage setup
  libs/@local/graph/atlas/src/cli/fit.rs
  libs/@local/graph/atlas/src/cli/mod.rs
  libs/@local/graph/atlas/src/cli/shell.rs
  libs/@local/graph/atlas/src/integrity/hash.rs
  libs/@local/graph/atlas/src/postgres/id.rs
  libs/@local/graph/atlas/src/salt/runner/operator/mod.rs
Due: rust

chore: remove unused document bytes accessor
  libs/@local/graph/atlas/src/file/generation/document/mod.rs
  libs/@local/graph/atlas/src/file/generation/document/tests.rs
Due: rust

test: gate document accessor behind cfg(test)
  libs/@local/graph/atlas/src/file/generation/open.rs
Due: rust

fix: make storage temp directory creation async and auto-cleanup
  apps/hash-graph/src/subcommand/atlas.rs
  libs/@local/graph/atlas/src/cli/s3.rs
  libs/@local/graph/atlas/src/cli/shell.rs
  libs/@local/graph/atlas/src/file/generation/upload/tests.rs
  libs/@local/graph/atlas/src/file/storage/mod.rs
  libs/@local/graph/atlas/src/file/storage/path/mod.rs
  libs/@local/graph/atlas/src/lib.rs
Due: rust

chore: remove unused FitVerdict accessor methods
  libs/@local/graph/atlas/src/cli/fit.rs
Due: rust

feat: refactor storage to use scratch directory
  apps/hash-graph/src/subcommand/atlas.rs
  libs/@local/graph/atlas/src/cli/fit.rs
  libs/@local/graph/atlas/src/cli/shell.rs
  libs/@local/graph/atlas/src/file/generation/scratch/mod.rs
  libs/@local/graph/atlas/src/file/storage/mod.rs
  libs/@local/graph/atlas/src/file/storage/path/mod.rs
  libs/@local/graph/atlas/src/file/storage/path/tests/mod.rs
Due: rust

chore: add explicit storage drops in atlas path tests
  libs/@local/graph/atlas/src/file/storage/path/tests/mod.rs
  libs/@local/graph/atlas/src/file/storage/path/tests/mutation.rs
Due: rust

feat: refactor file upload to use larger regions.
  libs/@local/graph/atlas/Cargo.toml
  libs/@local/graph/atlas/src/file/generation/upload/backend.rs
  libs/@local/graph/atlas/src/file/generation/upload/mod.rs
  libs/@local/graph/atlas/src/file/generation/upload/tests.rs
  libs/@local/graph/atlas/src/file/storage/local/mod.rs
  libs/@local/graph/atlas/src/file/storage/local/tests.rs
  libs/@local/graph/atlas/src/file/storage/mod.rs
  libs/@local/graph/atlas/src/file/storage/path/mod.rs
  libs/@local/graph/atlas/src/file/storage/path/tests/mod.rs
  libs/@local/graph/atlas/src/file/storage/path/tests/mutation.rs
  libs/@local/graph/atlas/src/file/storage/s3/multipart/parts/tests.rs
  libs/@local/graph/atlas/src/lib.rs
  libs/@local/graph/atlas/src/offload.rs
  libs/@local/graph/atlas/src/salt/policy/classifier/fit/solver/solve.rs
  libs/@local/graph/atlas/src/serve/runtime/tests.rs
  libs/@local/graph/atlas/src/serve/visibility/resolver/tests.rs
Due: rust, toml

feat: add generation download and s3 round-trip transfer
  libs/@local/graph/atlas/Cargo.toml
  libs/@local/graph/atlas/src/cli/mod.rs
  libs/@local/graph/atlas/src/file/generation/download/backend.rs
  libs/@local/graph/atlas/src/file/generation/download/error.rs
  libs/@local/graph/atlas/src/file/generation/download/mod.rs
  libs/@local/graph/atlas/src/file/generation/download/tests.rs
  libs/@local/graph/atlas/src/file/generation/error.rs
  libs/@local/graph/atlas/src/file/generation/fixture.rs
  libs/@local/graph/atlas/src/file/generation/mod.rs
  libs/@local/graph/atlas/src/file/generation/remote.rs
  libs/@local/graph/atlas/src/file/generation/staging/mod.rs
  libs/@local/graph/atlas/src/file/generation/staging/tests.rs
  libs/@local/graph/atlas/src/file/generation/test_utils.rs
  libs/@local/graph/atlas/src/file/generation/tests.rs
  libs/@local/graph/atlas/src/file/generation/upload/mod.rs
  libs/@local/graph/atlas/src/file/generation/upload/tests.rs
  libs/@local/graph/atlas/src/lib.rs
  libs/@local/graph/atlas/src/test_utils.rs
  libs/@local/graph/atlas/tests/generation_transfer.rs
Due: rust, toml

feat: support remote storage and downloads in atlas serve
  .agents/skills/rust-tracing-practices/SKILL.md
  apps/hash-graph/src/subcommand/atlas.rs
  libs/@local/graph/atlas/src/cli/fit.rs
  libs/@local/graph/atlas/src/cli/mod.rs
  libs/@local/graph/atlas/src/cli/serve/args/mod.rs
  libs/@local/graph/atlas/src/cli/serve/mod.rs
  libs/@local/graph/atlas/src/cli/serve/tests.rs
  libs/@local/graph/atlas/src/file/generation/download/backend.rs
  libs/@local/graph/atlas/src/file/generation/download/mod.rs
  libs/@local/graph/atlas/src/serve/runtime/manager/mod.rs
Due: markdownlint, biome, rust

chore: add mut qualifier to shutdown closure
  libs/@local/graph/atlas/src/cli/serve/mod.rs
Due: rust

refactor: clarify atlas generation lifecycle
  libs/@local/graph/atlas/src/cli/fit/error.rs
  libs/@local/graph/atlas/src/cli/fit/mod.rs
  libs/@local/graph/atlas/src/cli/mod.rs
  libs/@local/graph/atlas/src/cli/serve/args/mod.rs
  libs/@local/graph/atlas/src/cli/serve/mod.rs
  libs/@local/graph/atlas/src/cli/serve/tests.rs
  libs/@local/graph/atlas/src/file/generation/download/mod.rs
  libs/@local/graph/atlas/src/file/generation/download/tests.rs
  libs/@local/graph/atlas/src/file/generation/fixture.rs
  libs/@local/graph/atlas/src/file/generation/staging/tests.rs
  libs/@local/graph/atlas/src/file/generation/test_utils.rs
  libs/@local/graph/atlas/src/file/storage/path/mod.rs
  libs/@local/graph/atlas/src/file/storage/path/tests/mod.rs
  libs/@local/graph/atlas/src/serve/runtime/manager/mod.rs
  libs/@local/graph/atlas/tests/generation_transfer.rs
  libs/@local/graph/atlas/tests/route_fixture.rs
Due: rust

test: add atlas service integration fixtures
  libs/@local/graph/atlas/src/cli/serve/args/mod.rs
  libs/@local/graph/atlas/src/cli/serve/mod.rs
  libs/@local/graph/atlas/src/cli/serve/tests.rs
  libs/@local/graph/atlas/src/file/generation/download/tests.rs
  libs/@local/graph/atlas/src/file/generation/test_utils.rs
  libs/@local/graph/atlas/src/file/storage/path/tests/mod.rs
  libs/@local/graph/atlas/src/file/storage/s3/mod.rs
  libs/@local/graph/atlas/src/file/storage/s3/multipart/backend.rs
  libs/@local/graph/atlas/src/file/storage/s3/multipart/parts/mod.rs
  libs/@local/graph/atlas/src/file/storage/s3/multipart/parts/tests.rs
  libs/@local/graph/atlas/src/file/storage/s3/multipart/tests.rs
  libs/@local/graph/atlas/src/file/storage/s3/test_utils.rs
  libs/@local/graph/atlas/src/lib.rs
  libs/@local/graph/atlas/src/serve/mod.rs
  libs/@local/graph/atlas/src/serve/tests/fixture.rs
  libs/@local/graph/atlas/src/serve/tests/integration.rs
  libs/@local/graph/atlas/src/serve/tests/mod.rs
  libs/@local/graph/atlas/src/test_utils.rs
  libs/@local/graph/atlas/src/test_utils/mod.rs
  libs/@local/graph/atlas/src/test_utils/postgres.rs
  libs/@local/graph/atlas/src/test_utils/s3.rs
  libs/@local/graph/atlas/tests/generation_transfer.rs
  libs/@local/graph/atlas/tests/route_fixture.rs
Due: rust

docs: clarify atlas maintenance and download tasks
  libs/@local/graph/atlas/README.md
  libs/@local/graph/atlas/src/cli/serve/args/mod.rs
  libs/@local/graph/atlas/src/cli/serve/mod.rs
  libs/@local/graph/atlas/src/cli/serve/tests.rs
  libs/@local/graph/atlas/src/file/generation/fixture.rs
  libs/@local/graph/atlas/src/file/generation/staging/mod.rs
  libs/@local/graph/atlas/src/serve/runtime/manager/mod.rs
  libs/@local/graph/atlas/src/serve/tests/fixture.rs
  libs/@local/graph/atlas/tests/route_fixture.rs
Due: markdownlint, biome, rust

feat: add bytes accessor to generation document
  libs/@local/graph/atlas/src/file/generation/document/mod.rs
Due: rust

fix: make document method available outside tests
  libs/@local/graph/atlas/src/file/generation/open.rs
Due: rust

fix: box runerror kind to reduce stack size
  libs/@local/graph/atlas/src/salt/runner/operator/mod.rs
Due: rust

chore: reorder tracing instrument attributes
  libs/@local/graph/atlas/src/file/generation/mod.rs
Due: rust

fix: remove err from tracing instrument in synchronize
  libs/@local/graph/atlas/src/file/generation/download/mod.rs
  libs/@local/graph/atlas/src/file/generation/mod.rs
Due: rust

chore: handle storage temp dir initialization error
  apps/hash-graph/src/subcommand/atlas.rs
Due: rust

chore: suppress false-positive clippy lint on atlas server
  apps/hash-graph/src/subcommand/atlas.rs
Due: rust

chore: suppress significant_drop_tightening in atlas tests
  libs/@local/graph/atlas/src/cli/serve/tests.rs
  libs/@local/graph/atlas/src/file/generation/test_utils.rs
  libs/@local/graph/atlas/src/serve/tests/integration.rs
Due: rust

fix: prune previous active generation
  libs/@local/graph/atlas/src/file/generation/remote.rs
  libs/@local/graph/atlas/src/file/generation/upload/backend.rs
  libs/@local/graph/atlas/src/file/generation/upload/mod.rs
  libs/@local/graph/atlas/src/file/storage/path/mod.rs
  libs/@local/graph/atlas/src/file/storage/s3/mod.rs
  libs/@local/graph/atlas/src/file/storage/s3/path/mod.rs
Due: rust

feat: clean up active generation revisions
  Cargo.lock
  libs/@local/graph/atlas/Cargo.toml
  libs/@local/graph/atlas/src/file/generation/remote.rs
  libs/@local/graph/atlas/src/file/generation/upload/backend.rs
  libs/@local/graph/atlas/src/file/generation/upload/mod.rs
  libs/@local/graph/atlas/src/file/storage/error/mod.rs
  libs/@local/graph/atlas/src/file/storage/mod.rs
  libs/@local/graph/atlas/src/file/storage/path/error.rs
  libs/@local/graph/atlas/src/file/storage/path/mod.rs
  libs/@local/graph/atlas/src/file/storage/s3/mod.rs
  libs/@local/graph/atlas/src/file/storage/s3/path/mod.rs
Due: rust, toml

feat: add generation promotion retention
  Cargo.lock
  libs/@local/graph/atlas/Cargo.toml
  libs/@local/graph/atlas/src/cli/fit/mod.rs
  libs/@local/graph/atlas/src/file/generation/remote.rs
  libs/@local/graph/atlas/src/file/generation/test_utils.rs
  libs/@local/graph/atlas/src/file/generation/upload/backend.rs
  libs/@local/graph/atlas/src/file/generation/upload/error.rs
  libs/@local/graph/atlas/src/file/generation/upload/mod.rs
  libs/@local/graph/atlas/src/file/generation/upload/tests.rs
  libs/@local/graph/atlas/src/file/storage/error/mod.rs
  libs/@local/graph/atlas/src/file/storage/path/error.rs
  libs/@local/graph/atlas/src/file/storage/path/mod.rs
  libs/@local/graph/atlas/src/file/storage/path/tests/mod.rs
  libs/@local/graph/atlas/src/file/storage/path/tests/mutation.rs
  libs/@local/graph/atlas/src/file/storage/s3/mod.rs
  libs/@local/graph/atlas/src/file/storage/s3/path/mod.rs
  libs/@local/graph/atlas/src/file/storage/s3/test_utils.rs
  libs/@local/graph/atlas/src/file/storage/s3/tests/mod.rs
  libs/@local/graph/atlas/src/test_utils/mod.rs
  libs/@local/graph/atlas/tests/generation_transfer.rs
Due: rust, toml

chore: document retained metadata race
  libs/@local/graph/atlas/src/file/generation/upload/mod.rs
Due: rust

feat: add fit download support
  libs/@local/graph/atlas/src/cli/fit/error.rs
  libs/@local/graph/atlas/src/cli/fit/mod.rs
  libs/@local/graph/atlas/src/cli/serve/args/mod.rs
  libs/@local/graph/atlas/src/cli/serve/mod.rs
  libs/@local/graph/atlas/src/file/generation/download/mod.rs
  libs/@local/graph/atlas/src/file/generation/download/tests.rs
  libs/@local/graph/atlas/src/file/generation/mod.rs
  libs/@local/graph/atlas/src/file/generation/scratch/mod.rs
  libs/@local/graph/atlas/src/file/generation/scratch/tests.rs
  libs/@local/graph/atlas/src/file/generation/test_utils.rs
  libs/@local/graph/atlas/src/file/generation/upload/mod.rs
  libs/@local/graph/atlas/src/file/storage/local/tests.rs
  libs/@local/graph/atlas/src/file/storage/path/tests/mod.rs
  libs/@local/graph/atlas/src/file/storage/path/tests/mutation.rs
  libs/@local/graph/atlas/src/file/storage/s3/multipart/parts/tests.rs
Due: rust

refactor: clarify generation transfer ownership
  libs/@local/graph/atlas/src/cli/fit/error.rs
  libs/@local/graph/atlas/src/cli/fit/mod.rs
  libs/@local/graph/atlas/src/file/generation/download/mod.rs
  libs/@local/graph/atlas/src/file/generation/download/tests.rs
  libs/@local/graph/atlas/src/file/generation/mod.rs
  libs/@local/graph/atlas/src/file/generation/scratch/mod.rs
  libs/@local/graph/atlas/src/file/generation/scratch/tests.rs
  libs/@local/graph/atlas/src/file/generation/test_utils/integration.rs
  libs/@local/graph/atlas/src/file/generation/test_utils/mod.rs
Due: rust

Path conditions:
  markdownlint: any of: *.md
  biome: any of: *.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}
  yarn: any of: {*/package.json, package.json}
  sqlfluff: any of: *.sql
  rust: any of: *.rs
  toml: any of: *.toml
