Repository hashintel/hash: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, prettier, yarn, sqlfluff, rust, toml

.lefthook.yml:

$schema: https://json.schemastore.org/lefthook.json

pre-commit:
  parallel: true
  skip:
    - merge
    - rebase
  commands:
    markdownlint:
      tags: [frontend, style]
      glob: "*.md"
      run: yarn run markdownlint-cli2 --fix --no-globs {staged_files} || true
      stage_fixed: true
    prettier:
      tags: [frontend, style]
      glob: "*.{cjs,css,js,json,md,mdx,mjs,scss,ts,tsx,yml}"
      run: yarn run prettier --write {staged_files} || true
      stage_fixed: true
    yarn:
      tags: [frontend, style]
      glob: "{*/package.json, package.json}"
      run: yarn fix:constraints && yarn fix:packagejson && yarn fix:yarn-deduplicate
      stage_fixed: true
    sqlfluff:
      tags: [backend, style]
      glob: "*.sql"
      run: sqlfluff fix {staged_files} || true
      stage_fixed: true
    rust:
      tags: [backend, style]
      glob: "*.rs"
      run: cargo fmt -- {staged_files} || true
      stage_fixed: true
    toml:
      tags: [backend, style]
      glob: "*.toml"
      run: yarn run taplo format {staged_files} || true
      stage_fixed: true

configure mastra mcp at root
  .cursor/mcp.json
Due: prettier

create claude plan for ner optimization
  apps/hash-ai-agent/docs/ner-optimization-plan.md
Due: markdownlint, prettier

phase 1 porting from ai-worker w claude 1m
  apps/hash-ai-agent/README.md
  apps/hash-ai-agent/docs/NEXT_STEPS.md
  apps/hash-ai-agent/docs/SESSION_HANDOFF.md
  apps/hash-ai-agent/docs/mastra-migration-plan.md
  apps/hash-ai-agent/src/mastra/agents/entity-summary-agent.ts
  apps/hash-ai-agent/src/mastra/evals/run-entity-extraction-eval.ts
  apps/hash-ai-agent/src/mastra/evals/test-data/ner-test-cases.ts
  apps/hash-ai-agent/src/mastra/evals/test-entity-extraction.ts
  apps/hash-ai-agent/src/mastra/index.ts
  apps/hash-ai-agent/src/mastra/scorers/entity-recall-scorer.ts
  apps/hash-ai-agent/src/mastra/shared/dereference-entity-type.ts
  apps/hash-ai-agent/src/mastra/shared/generate-simplified-type-id.ts
  apps/hash-ai-agent/src/mastra/types/entities.ts
Due: markdownlint, prettier

feat: layout
  libs/@local/hashql/core/src/graph/linked.rs
  libs/@local/hashql/mir/src/pass/analysis/dataflow.rs
  libs/@local/hashql/mir/src/pass/analysis/mod.rs
  libs/@local/hashql/mir/src/pass/mod.rs
Due: rust

feat: build graph
  libs/@local/hashql/core/src/graph/linked.rs
  libs/@local/hashql/mir/src/pass/analysis/dataflow.rs
Due: rust

fix: comments
  libs/@local/hashql/mir/src/pass/analysis/dataflow.rs
Due: rust

feat: data dependency algorithm
  libs/@local/hashql/core/src/graph/linked.rs
  libs/@local/hashql/mir/src/pass/analysis/data_dependency.rs
  libs/@local/hashql/mir/src/pass/analysis/dataflow.rs
  libs/@local/hashql/mir/src/pass/analysis/mod.rs
Due: rust

feat: simplify data dependency
  libs/@local/hashql/mir/src/pass/analysis/data_dependency.rs
Due: rust

chore: docs
  libs/@local/hashql/core/src/graph/linked.rs
  libs/@local/hashql/mir/src/pass/analysis/data_dependency.rs
Due: rust

feat: docs
  libs/@local/hashql/core/src/graph/linked.rs
  libs/@local/hashql/mir/src/pass/analysis/data_dependency.rs
Due: rust

feat: display representation
  libs/@local/hashql/mir/src/body/place.rs
  libs/@local/hashql/mir/src/pass/analysis/data_dependency.rs
Due: rust

Update account dropdown menu items
  apps/hash-frontend/src/shared/layout/layout-with-header/account-dropdown.tsx
Due: prettier

feat: compiletest
  libs/@local/hashql/compiletest/src/suite/mir_pass_analysis_data_dependency.rs
  libs/@local/hashql/compiletest/src/suite/mod.rs
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/.spec.toml
Due: rust, toml

Update divider key in account dropdown menu
  apps/hash-frontend/src/shared/layout/layout-with-header/account-dropdown.tsx
Due: prettier

Fix conditional rendering of admin divider
  apps/hash-frontend/src/shared/layout/layout-with-header/account-dropdown.tsx
Due: prettier

test: compiletest
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/binary-operation.jsonc
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/block-params.jsonc
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/block-params.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/closure-construction.jsonc
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/closure-construction.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/comparison-operators.jsonc
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/comparison-operators.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/deeply-nested-tuple.jsonc
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/deeply-nested-tuple.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/function-apply.jsonc
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/function-multiple-args.jsonc
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/graph-read-filter.jsonc
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/graph-read-filter.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/graph-read-head.jsonc
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/graph-read-head.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/input-no-deps.jsonc
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/input-no-deps.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/list-construction.jsonc
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/list-construction.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/mixed-projection-chain.jsonc
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/mixed-projection-chain.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/multiple-uses.jsonc
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/nested-tuple-projection.jsonc
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/nested-tuple-projection.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/struct-construction.jsonc
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/struct-construction.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/struct-projection.jsonc
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/struct-projection.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/tuple-construction.jsonc
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/tuple-construction.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/tuple-projection.jsonc
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/tuple-projection.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/unary-operation.jsonc
Due: none

feat: snapshots
  libs/@local/hashql/mir/src/pass/analysis/data_dependency.rs
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/binary-operation.jsonc
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/binary-operation.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/block-params.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/closure-construction.jsonc
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/closure-construction.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/comparison-operators.jsonc
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/deeply-nested-tuple.jsonc
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/deeply-nested-tuple.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/function-apply.jsonc
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/function-apply.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/function-multiple-args.jsonc
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/function-multiple-args.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/graph-read-filter.jsonc
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/graph-read-filter.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/graph-read-head.jsonc
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/input-no-deps.jsonc
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/list-construction.jsonc
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/list-construction.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/mixed-projection-chain.jsonc
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/multiple-uses.jsonc
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/multiple-uses.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/nested-tuple-projection.jsonc
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/nested-tuple-projection.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/struct-construction.jsonc
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/struct-construction.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/struct-projection.jsonc
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/struct-projection.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/tuple-construction.jsonc
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/tuple-construction.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/tuple-projection.jsonc
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/tuple-projection.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/unary-operation.jsonc
Due: rust

feat: load testing
  libs/@local/hashql/mir/src/pass/analysis/data_dependency/mod.rs
  libs/@local/hashql/mir/src/pass/analysis/data_dependency/tests.rs
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/load_chain.snap
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/load_simple.snap
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/load_then_projection.snap
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/load_with_projection.snap
Due: rust

`yarn fix`
  apps/hash-frontend/src/shared/layout/layout-with-header/account-dropdown.tsx
Due: prettier

Fix divider rendering
  apps/hash-frontend/src/shared/layout/layout-with-header/account-dropdown.tsx
Due: prettier

fix: docs
  libs/@local/hashql/mir/src/pass/analysis/data_dependency/mod.rs
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/graph-read-head.jsonc
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/multiple-uses.jsonc
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/nested-tuple-projection.jsonc
Due: rust

FE-93: Update account dropdown menu items (#8156)
  apps/hash-frontend/src/shared/layout/layout-with-header/account-dropdown.tsx
Due: prettier

feat: record discriminator for param sour e
  libs/@local/hashql/mir/src/pass/analysis/data_dependency/mod.rs
Due: rust

fix: snapshots
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/binary-operation.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/block-params.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/closure-construction.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/comparison-operators.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/deeply-nested-tuple.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/function-apply.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/function-multiple-args.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/graph-read-filter.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/list-construction.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/mixed-projection-chain.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/multiple-uses.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/nested-tuple-projection.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/struct-construction.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/struct-projection.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/tuple-construction.stdout
  libs/@local/hashql/mir/tests/ui/pass/data-dependency/tuple-projection.stdout
Due: none

Add redeploy ECS service action and update deployment workflow
  .github/actions/redeploy-ecs-service/action.yml
  .github/workflows/hash-backend-cd.yml
Due: prettier

Fix environment variable usage in ECS service redeployment action
  .github/actions/redeploy-ecs-service/action.yml
Due: prettier

Comment out dependencies for testing
  .github/workflows/hash-backend-cd.yml
Due: prettier

Refactor deployment role ARNs in workflow for staging and production services
  .github/workflows/hash-backend-cd.yml
Due: prettier

Add staging and production redeploy actions for API and worker services
  .github/workflows/hash-backend-cd.yml
Due: prettier

Update hash-backend-cd.yml
  .github/workflows/hash-backend-cd.yml
Due: prettier

feat: dataflow init
  libs/@local/hashql/mir/src/pass/analysis/dataflow/mod.rs
  libs/@local/hashql/mir/src/pass/analysis/mod.rs
Due: rust

feat: lattice
  libs/@local/hashql/mir/src/pass/analysis/dataflow/framework.rs
  libs/@local/hashql/mir/src/pass/analysis/dataflow/lattice/impls.rs
  libs/@local/hashql/mir/src/pass/analysis/dataflow/lattice/laws.rs
  libs/@local/hashql/mir/src/pass/analysis/dataflow/lattice/mod.rs
  libs/@local/hashql/mir/src/pass/analysis/dataflow/mod.rs
Due: rust

feat: first framework
  libs/@local/hashql/compiletest/src/suite/mir_pass_analysis_data_dependency.rs
  libs/@local/hashql/compiletest/src/suite/mir_pass_transform_cfg_simplify.rs
  libs/@local/hashql/mir/src/body/terminator/mod.rs
  libs/@local/hashql/mir/src/body/terminator/switch_int.rs
  libs/@local/hashql/mir/src/pass/analysis/data_dependency/mod.rs
  libs/@local/hashql/mir/src/pass/analysis/data_dependency/tests.rs
  libs/@local/hashql/mir/src/pass/analysis/dataflow/framework.rs
  libs/@local/hashql/mir/src/pass/mod.rs
  libs/@local/hashql/mir/src/pass/transform/cfg_simplify/mod.rs
  libs/@local/hashql/mir/src/pass/transform/cfg_simplify/tests.rs
  libs/@local/hashql/mir/src/pass/transform/dbe/mod.rs
  libs/@local/hashql/mir/src/pass/transform/dbe/tests.rs
  libs/@local/hashql/mir/src/pass/transform/ssa_repair/mod.rs
  libs/@local/hashql/mir/src/pass/transform/ssa_repair/tests.rs
Due: rust

feat: N semiring
  libs/@local/hashql/mir/src/pass/analysis/dataflow/lattice/impls.rs
  libs/@local/hashql/mir/src/pass/analysis/dataflow/lattice/mod.rs
Due: rust

chore: remove ICE
  rustc-ice-2025-12-07T13_37_39-67604.txt
  rustc-ice-2025-12-07T13_37_52-67648.txt
  rustc-ice-2025-12-07T13_38_00-67689.txt
  rustc-ice-2025-12-07T13_38_03-67732.txt
  rustc-ice-2025-12-07T13_38_06-67785.txt
  rustc-ice-2025-12-07T13_38_10-67818.txt
  rustc-ice-2025-12-07T13_38_24-67930.txt
  rustc-ice-2025-12-07T13_38_27-67973.txt
  rustc-ice-2025-12-07T13_38_33-68006.txt
  rustc-ice-2025-12-07T13_38_38-68048.txt
  rustc-ice-2025-12-07T13_39_02-68510.txt
  rustc-ice-2025-12-07T13_39_14-68709.txt
  rustc-ice-2025-12-07T13_39_39-69176.txt
  rustc-ice-2025-12-07T13_40_14-69855.txt
  rustc-ice-2025-12-07T13_40_38-70202.txt
  rustc-ice-2025-12-07T13_41_04-70483.txt
  rustc-ice-2025-12-07T13_41_30-70952.txt
  rustc-ice-2025-12-07T13_41_38-71116.txt
  rustc-ice-2025-12-07T13_41_45-71283.txt
  rustc-ice-2025-12-07T13_41_54-71460.txt
Due: none

feat: make lattice pub
  libs/@local/hashql/core/src/id/bit_vec/mod.rs
  libs/@local/hashql/mir/src/pass/analysis/dataflow/lattice/impls.rs
  libs/@local/hashql/mir/src/pass/analysis/dataflow/lattice/laws.rs
  libs/@local/hashql/mir/src/pass/analysis/dataflow/lattice/mod.rs
  libs/@local/hashql/mir/src/pass/analysis/dataflow/mod.rs
  libs/@local/hashql/mir/src/pass/analysis/mod.rs
  rustc-ice-2025-12-07T13_37_39-67604.txt
  rustc-ice-2025-12-07T13_37_52-67648.txt
  rustc-ice-2025-12-07T13_38_00-67689.txt
  rustc-ice-2025-12-07T13_38_03-67732.txt
  rustc-ice-2025-12-07T13_38_06-67785.txt
  rustc-ice-2025-12-07T13_38_10-67818.txt
  rustc-ice-2025-12-07T13_38_24-67930.txt
  rustc-ice-2025-12-07T13_38_27-67973.txt
  rustc-ice-2025-12-07T13_38_33-68006.txt
  rustc-ice-2025-12-07T13_38_38-68048.txt
  rustc-ice-2025-12-07T13_39_02-68510.txt
  rustc-ice-2025-12-07T13_39_14-68709.txt
  rustc-ice-2025-12-07T13_39_39-69176.txt
  rustc-ice-2025-12-07T13_40_14-69855.txt
  rustc-ice-2025-12-07T13_40_38-70202.txt
  rustc-ice-2025-12-07T13_41_04-70483.txt
  rustc-ice-2025-12-07T13_41_30-70952.txt
  rustc-ice-2025-12-07T13_41_38-71116.txt
  rustc-ice-2025-12-07T13_41_45-71283.txt
  rustc-ice-2025-12-07T13_41_54-71460.txt
Due: rust

fix: checkpoint
  libs/@local/hashql/mir/src/pass/analysis/dataflow/framework.rs
Due: rust

feat: analysis
  libs/@local/hashql/mir/src/pass/analysis/dataflow/framework.rs
Due: rust
